n8n-workflows/_archive/M6_02c_Lexware_Push_Voucher.json
{
  "name": "M6_02c_Lexware_Push_Voucher",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "m6-02c-lexware-push-voucher",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cdc82d30-a4ad-4819-a449-b99b7a4f916c",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -880,
        128
      ],
      "webhookId": "m6-02c-lexware-push-voucher"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst eventId = input.body?.event_id || input.event_id;\nconst projectId = input.body?.project_id || input.project_id;\nconst payload = input.body?.payload || input.payload || {};\n\nreturn {\n  json: {\n    event_id: eventId,\n    project_id: projectId || null,\n    purchase_invoice_id: payload.purchase_invoice_id,\n    lexware_contact_id: payload.lexware_contact_id || null,\n    step_key: `lexware_push:${payload.purchase_invoice_id}`\n  }\n};"
      },
      "id": "3e76cdf7-ccfc-402b-8534-da9ee0889cd4",
      "name": "Parse Event Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        128
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM claim_workflow_step(\n  '{{ $json.step_key }}',\n  {{ $json.project_id ? \"'\" + $json.project_id + \"'::uuid\" : \"NULL::uuid\" }},\n  'LEXWARE_PUSH'\n);",
        "options": {}
      },
      "id": "7c06b764-795f-47c2-84cf-f3143d82dada",
      "name": "Claim Workflow Step",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        128
      ],
      "credentials": {
        "postgres": {
          "id": "qXZ2ZjK31ZDrPoDG",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "claimed",
              "leftValue": "={{ $json.claimed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6b1bf60a-e959-45fc-bccb-a5e908a0e204",
      "name": "Step Claimed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        128
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pi.*, pi.expense_category::text as expense_cat,\n       pi.pdf_storage_path,\n       s.lexware_contact_id\nFROM purchase_invoices pi\nJOIN suppliers s ON s.id = pi.supplier_id\nWHERE pi.id = '{{ $('Parse Event Data').item.json.purchase_invoice_id }}'::uuid;",
        "options": {}
      },
      "id": "350f2af2-305b-4d91-b158-755e5848f843",
      "name": "Load Invoice",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "qXZ2ZjK31ZDrPoDG",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inv = $json;\nconst eventData = $('Parse Event Data').first().json;\n\n// Use contact from event payload (freshly created) or from supplier record\nconst contactId = eventData.lexware_contact_id || inv.lexware_contact_id || null;\n\n// Category mapping - verified UUIDs from Lexware posting-categories API\nconst catMap = {\n  'SUBCONTRACTOR': 'efa82f43-fd85-11e1-a21f-0800200c9a66', // Fremdleistungen\n  'MATERIAL': '97938aa5-c5a7-4d31-bdac-a19209ba432e'        // Wareneinkauf\n};\nconst categoryId = catMap[inv.expense_cat] || 'efa82f42-fd85-11e1-a21f-0800200c9a66';\n\nconst formatDate = (d) => d ? d.substring(0, 10) + 'T00:00:00.000+01:00' : null;\n\nconst voucher = {\n  type: 'purchaseinvoice',\n  voucherNumber: inv.invoice_number,\n  voucherDate: formatDate(inv.invoice_date),\n  totalGrossAmount: parseFloat(inv.total_gross),\n  totalTaxAmount: parseFloat(inv.vat_amount || 0),\n  taxType: 'gross',\n  remark: 'Importiert aus BauGenius',\n  voucherItems: [{\n    amount: parseFloat(inv.total_gross),\n    taxAmount: parseFloat(inv.vat_amount || 0),\n    taxRatePercent: parseFloat(inv.vat_percent || 19),\n    categoryId: categoryId\n  }]\n};\nif (inv.due_date) voucher.dueDate = formatDate(inv.due_date);\nif (contactId) voucher.contactId = contactId;\n\nreturn { json: { voucher_payload: voucher, voucher_json: JSON.stringify(voucher), invoice_id: inv.id, invoice_number: inv.invoice_number, pdf_storage_path: inv.pdf_storage_path || '' } }"
      },
      "id": "21cc9eda-fccc-408e-b375-1497a6998d91",
      "name": "Build Voucher Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.lexware.io/v1/vouchers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.voucher_json }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "833ff2fa-4728-46c8-ba70-2e7c981004bf",
      "name": "Create Lexware Voucher",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2skORel5vPmpnHQi",
          "name": "Lexware API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE purchase_invoices SET\n  lexware_voucher_id = '{{ $json.body.id }}',\n  lexware_synced_at = now(),\n  lexware_sync_status = 'synced',\n  lexware_sync_error = NULL\nWHERE id = '{{ $('Build Voucher Payload').item.json.invoice_id }}'::uuid;",
        "options": {}
      },
      "id": "c89c769f-2077-43d7-ba9e-26010a00be39",
      "name": "Update Invoice Synced",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        896,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "qXZ2ZjK31ZDrPoDG",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT complete_workflow_step('{{ $('Parse Event Data').item.json.step_key }}',\n  jsonb_build_object('lexware_voucher_id', '{{ $('Create Lexware Voucher').item.json.body.id }}'));\n\nINSERT INTO lexware_sync_log (sync_direction, entity_type, entity_id, lexware_id, action, sync_status)\nVALUES ('push', 'purchase_invoice', '{{ $('Build Voucher Payload').item.json.invoice_id }}'::uuid,\n  '{{ $('Create Lexware Voucher').item.json.body.id }}', 'create', 'success');\n\nDO $$ BEGIN\n  UPDATE events SET processed_at = now()\n  WHERE id = '{{ $('Parse Event Data').item.json.event_id }}'::uuid;\nEXCEPTION WHEN invalid_text_representation THEN NULL;\nEND $$;\n\nINSERT INTO events (event_type, project_id, payload, source_system, source_flow, reference_table, reference_id)\nVALUES (\n  'LEXWARE_PUSH_COMPLETED',\n  {{ $('Parse Event Data').item.json.project_id ? \"'\" + $('Parse Event Data').item.json.project_id + \"'::uuid\" : \"NULL::uuid\" }},\n  jsonb_build_object(\n    'purchase_invoice_id', '{{ $('Build Voucher Payload').item.json.invoice_id }}',\n    'lexware_voucher_id', '{{ $('Create Lexware Voucher').item.json.body.id }}',\n    'invoice_number', '{{ $('Build Voucher Payload').item.json.invoice_number }}'\n  ),\n  'n8n', 'M6_02c_Lexware_Push_Voucher',\n  'purchase_invoices', '{{ $('Build Voucher Payload').item.json.invoice_id }}'::uuid\n)\nRETURNING id, event_type::text;",
        "options": {}
      },
      "id": "c3d45903-a56e-4ecb-8d0d-39e97fb8fdb7",
      "name": "Complete + Emit Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "qXZ2ZjK31ZDrPoDG",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6088921678",
        "text": "=✅ *Lexware Push erfolgreich*\n📄 {{ $('Build Voucher Payload').item.json.invoice_number }}\n🔗 `{{ $('Create Lexware Voucher').item.json.body.id }}`",
        "additionalFields": {
          "disable_web_page_preview": true,
          "parse_mode": "Markdown"
        }
      },
      "id": "7089ad1e-ef08-4596-8460-c33d83f9e8fb",
      "name": "Telegram Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        0
      ],
      "webhookId": "7934cfe6-27ae-432e-a760-213b5f06bb6c",
      "credentials": {
        "telegramApi": {
          "id": "HV1wc491unUQKfmd",
          "name": "BabyAgiBot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"success\",\"lexware_voucher_id\":\"{{ $('Create Lexware Voucher').item.json.body.id }}\"}",
        "options": {}
      },
      "id": "117bc3b0-2eb5-472f-9902-8f5cbfc9ad11",
      "name": "Respond (Success)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1408,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE purchase_invoices SET\n  lexware_sync_status = 'error',\n  lexware_sync_error = 'Voucher creation failed'\nWHERE id = '{{ $('Build Voucher Payload').item.json.invoice_id }}'::uuid;\n\nINSERT INTO lexware_sync_log (sync_direction, entity_type, entity_id, action, sync_status, error_message)\nVALUES ('push', 'purchase_invoice', '{{ $('Build Voucher Payload').item.json.invoice_id }}'::uuid, 'create', 'error', 'Lexware API error');\n\nINSERT INTO events (event_type, project_id, payload, source_system, source_flow, reference_table, reference_id)\nVALUES (\n  'LEXWARE_PUSH_FAILED',\n  {{ $('Parse Event Data').item.json.project_id ? \"'\" + $('Parse Event Data').item.json.project_id + \"'::uuid\" : \"NULL::uuid\" }},\n  jsonb_build_object('purchase_invoice_id', '{{ $('Build Voucher Payload').item.json.invoice_id }}', 'invoice_number', '{{ $('Build Voucher Payload').item.json.invoice_number }}'),\n  'n8n', 'M6_02c_Lexware_Push_Voucher',\n  'purchase_invoices', '{{ $('Build Voucher Payload').item.json.invoice_id }}'::uuid\n);",
        "options": {}
      },
      "id": "e67a5d9c-58ff-4c79-afbd-a48ccc989ec5",
      "name": "Log Error + Emit Failed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        608,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "qXZ2ZjK31ZDrPoDG",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6088921678",
        "text": "=⚠️ *Lexware Push fehlgeschlagen*\n📄 {{ $('Build Voucher Payload').item.json.invoice_number }}",
        "additionalFields": {
          "disable_web_page_preview": true,
          "parse_mode": "Markdown"
        }
      },
      "id": "68136131-f767-4174-858f-fa848901a313",
      "name": "Telegram Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        816,
        320
      ],
      "webhookId": "22252978-5054-459e-8374-5b4506fe61e9",
      "credentials": {
        "telegramApi": {
          "id": "HV1wc491unUQKfmd",
          "name": "BabyAgiBot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"error\"}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "831cdbba-c315-4083-8f75-881d4d12516c",
      "name": "Respond (Error)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1040,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const claim = $input.first().json;\nreturn { json: { status: 'skipped', reason: claim.current_status === 'DONE' ? 'Already processed' : 'In progress' } };"
      },
      "id": "dbd2dc22-c78b-45b9-a875-b1fb6667261e",
      "name": "Handle Not Claimed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        368
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-pdf",
              "leftValue": "={{ $('Build Voucher Payload').first().json.pdf_storage_path }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-pdf-check-node-0001",
      "name": "📄 Has PDF?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        640,
        -16
      ]
    },
    {
      "parameters": {
        "url": "=https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/authenticated/{{ $('Build Voucher Payload').first().json.pdf_storage_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "a1b2c3d4-pdf-download-node-02",
      "name": "📥 Download PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        -224
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "n357gpDbnk38oMfi",
          "name": "Supabase Storage Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.lexware.io/v1/vouchers/{{ $('Create Lexware Voucher').first().json.body.id }}/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "a1b2c3d4-pdf-upload-node-003",
      "name": "📤 Upload PDF to Lexware",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        -224
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2skORel5vPmpnHQi",
          "name": "Lexware API"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Event Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Event Data": {
      "main": [
        [
          {
            "node": "Claim Workflow Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Workflow Step": {
      "main": [
        [
          {
            "node": "Step Claimed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step Claimed?": {
      "main": [
        [
          {
            "node": "Load Invoice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Not Claimed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Invoice": {
      "main": [
        [
          {
            "node": "Build Voucher Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Voucher Payload": {
      "main": [
        [
          {
            "node": "Create Lexware Voucher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Lexware Voucher": {
      "main": [
        [
          {
            "node": "📄 Has PDF?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error + Emit Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Invoice Synced": {
      "main": [
        [
          {
            "node": "Complete + Emit Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete + Emit Success": {
      "main": [
        [
          {
            "node": "Telegram Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Success": {
      "main": [
        [
          {
            "node": "Respond (Success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error + Emit Failed": {
      "main": [
        [
          {
            "node": "Telegram Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Error": {
      "main": [
        [
          {
            "node": "Respond (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Not Claimed": {
      "main": [
        []
      ]
    },
    "📄 Has PDF?": {
      "main": [
        [
          {
            "node": "📥 Download PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Invoice Synced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Download PDF": {
      "main": [
        [
          {
            "node": "📤 Upload PDF to Lexware",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Invoice Synced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Upload PDF to Lexware": {
      "main": [
        [
          {
            "node": "Update Invoice Synced",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Invoice Synced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "apmJoMCbOchwfqTp",
    "callerPolicy": "workflowsFromSameOwner"
  }
}