n8n-workflows/Daily_KI-Briefing.json
{"updatedAt":"2026-03-14T15:07:03.678Z","createdAt":"2026-03-14T12:56:12.385Z","id":"2KFqqgMucXKOt04T","name":"Daily KI-Briefing","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 7 * * *"}]}},"id":"trigger","name":"Jeden Morgen 07:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,512]},{"parameters":{"url":"https://techcrunch.com/category/artificial-intelligence/feed/","options":{"ignoreSSL":true}},"id":"rss_techcrunch","name":"RSS TechCrunch AI","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[304,0],"onError":"continueRegularOutput"},{"parameters":{"url":"https://venturebeat.com/category/ai/feed/","options":{"ignoreSSL":true}},"id":"rss_venturebeat","name":"RSS VentureBeat AI","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[304,128],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.theverge.com/rss/ai-artificial-intelligence/index.xml","options":{"ignoreSSL":true}},"id":"rss_theverge","name":"RSS The Verge AI","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[304,240],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.wired.com/feed/tag/ai/latest/rss","options":{"ignoreSSL":true}},"id":"rss_wired","name":"RSS Wired AI","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[304,368],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.technologyreview.com/topic/artificial-intelligence/feed","options":{"ignoreSSL":true}},"id":"rss_mit","name":"RSS MIT Tech Review","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[304,480],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.reddit.com/r/artificial/top/.rss?t=day","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (compatible; BG-Intel/1.0)"}]},"options":{"response":{"response":{"responseFormat":"text"}},"timeout":15000}},"id":"reddit_artificial","name":"Reddit r/artificial","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,608],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.reddit.com/r/MachineLearning/top/.rss?t=day","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (compatible; BG-Intel/1.0)"}]},"options":{"response":{"response":{"responseFormat":"text"}},"timeout":15000}},"id":"reddit_ml","name":"Reddit r/MachineLearning","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,720],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.youtube.com/feeds/videos.xml?channel_id=UCXUPKJO5MZQN11PqgIvyuvQ","options":{"ignoreSSL":true}},"id":"rss_yt_karpathy","name":"YT Andrej Karpathy","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[304,848],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.youtube.com/feeds/videos.xml?channel_id=UCNUQK2XMjTgehSOEF4i1Fg","options":{"ignoreSSL":true}},"id":"rss_yt_aiexplained","name":"YT AI Explained","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[304,960],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.youtube.com/feeds/videos.xml?channel_id=UCbfYPyITQ-7l4upoX8nvctg","options":{"ignoreSSL":true}},"id":"rss_yt_2minpapers","name":"YT Two Minute Papers","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[304,1088],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.youtube.com/feeds/videos.xml?channel_id=UCZHmQk67mSJgfCCTn7xBfew","options":{"ignoreSSL":true}},"id":"rss_yt_bycloud","name":"YT bycloud","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[304,1200],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.youtube.com/feeds/videos.xml?channel_id=UCMLtBahI5DMrt0NPvDSoIRQ","options":{"ignoreSSL":true}},"id":"rss_yt_mattwolfe","name":"YT Matt Wolfe","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[304,1328],"onError":"continueRegularOutput"},{"parameters":{"url":"https://hacker-news.firebaseio.com/v0/topstories.json","options":{"response":{"response":{"responseFormat":"json"}},"timeout":15000}},"id":"hn_top_ids","name":"HN Top Story IDs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,1504],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Take first 30 story IDs\nconst data = $input.first().json;\n\n// Handle error case\nif (!Array.isArray(data)) {\n  return [{ json: { storyId: 0, _skip: true } }];\n}\n\nconst storyIds = data.slice(0, 30);\nreturn storyIds.map(id => ({ json: { storyId: id } }));"},"id":"hn_slice_30","name":"HN Top 30","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,1504],"onError":"continueRegularOutput"},{"parameters":{"url":"=https://hacker-news.firebaseio.com/v0/item/{{ $json.storyId }}.json","options":{"batching":{"batch":{"batchSize":10,"batchInterval":300}},"response":{"response":{"responseFormat":"json"}},"timeout":15000}},"id":"hn_fetch_stories","name":"HN Fetch Stories","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[704,1504],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Filter HN stories for AI-related keywords\nconst aiKeywords = [\n  'ai', 'artificial intelligence', 'machine learning', 'ml',\n  'llm', 'gpt', 'claude', 'openai', 'anthropic', 'google ai',\n  'deep learning', 'neural', 'transformer', 'diffusion',\n  'agent', 'agi', 'chatbot', 'copilot', 'gemini', 'mistral',\n  'llama', 'automation', 'fetch.ai', 'autonomous agent'\n];\n\nconst stories = $input.all().map(item => item.json);\nconst filtered = stories.filter(story => {\n  if (!story || !story.title) return false;\n  const titleLower = story.title.toLowerCase();\n  return aiKeywords.some(kw => titleLower.includes(kw));\n});\n\nif (filtered.length === 0) {\n  return [{ json: { title: 'No AI stories on HN', url: '', source: 'HackerNews', pubDate: new Date().toISOString(), score: 0, _empty: true } }];\n}\n\nreturn filtered.map(story => ({\n  json: {\n    title: story.title,\n    url: story.url || `https://news.ycombinator.com/item?id=${story.id}`,\n    source: 'HackerNews',\n    pubDate: new Date(story.time * 1000).toISOString(),\n    score: story.score\n  }\n}));"},"id":"hn_filter_ai","name":"HN Filter AI","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,1504],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Collect ALL sources by name — does not depend on connections\n// This node is triggered once after all sources complete\nconst now = new Date();\nconst oneDayAgo = new Date(now.getTime() - 24 * 60 * 60 * 1000);\n\n// Helper: safely get items from a node\nfunction safeGet(nodeName) {\n  try {\n    return $(nodeName).all().map(i => i.json);\n  } catch (e) {\n    return [];\n  }\n}\n\n// Collect RSS sources\nconst rssNodes = [\n  'RSS TechCrunch AI',\n  'RSS VentureBeat AI',\n  'RSS The Verge AI',\n  'RSS Wired AI',\n  'RSS MIT Tech Review'\n];\n\nconst allItems = [];\n\n// Process RSS feeds\nfor (const nodeName of rssNodes) {\n  const items = safeGet(nodeName);\n  for (const d of items) {\n    let title = d.title || d.name || '';\n    let url = d.url || d.link || d.guid || '';\n    let pubDate = d.pubDate || d.isoDate || d.published || d.date || '';\n    let source = d.creator || d['dc:creator'] || nodeName.replace('RSS ', '');\n    let description = d.contentSnippet || d.content || d.summary || d.description || '';\n    allItems.push({ title, url, pubDate, source, description });\n  }\n}\n\n// Process Reddit (HTTP Request returns XML text)\nconst redditNodes = ['Reddit r/artificial', 'Reddit r/MachineLearning'];\nfor (const nodeName of redditNodes) {\n  const items = safeGet(nodeName);\n  for (const d of items) {\n    // HTTP Request returns the RSS as text in 'data' field\n    const text = d.data || d.body || (typeof d === 'string' ? d : '');\n    if (typeof text === 'string' && text.includes('<entry>')) {\n      // Simple XML parsing for Atom feed\n      const entries = text.split('<entry>');\n      for (let i = 1; i < entries.length && i <= 10; i++) {\n        const entry = entries[i];\n        const titleMatch = entry.match(/<title[^>]*>([^<]+)<\\/title>/);\n        const linkMatch = entry.match(/<link[^>]*href=\"([^\"]+)\"/);\n        const updatedMatch = entry.match(/<updated>([^<]+)<\\/updated>/);\n        if (titleMatch) {\n          allItems.push({\n            title: titleMatch[1].replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>'),\n            url: linkMatch ? linkMatch[1] : '',\n            pubDate: updatedMatch ? updatedMatch[1] : '',\n            source: nodeName.replace('Reddit ', ''),\n            description: ''\n          });\n        }\n      }\n    }\n  }\n}\n\n// Process YouTube RSS\nconst ytNodes = [\n  'YT Andrej Karpathy',\n  'YT AI Explained',\n  'YT Two Minute Papers',\n  'YT bycloud',\n  'YT Matt Wolfe'\n];\nfor (const nodeName of ytNodes) {\n  const items = safeGet(nodeName);\n  for (const d of items) {\n    let title = d.title || d.name || '';\n    let url = d.link || d.url || d.id || '';\n    let pubDate = d.pubDate || d.isoDate || d.published || '';\n    let source = nodeName;\n    allItems.push({ title, url, pubDate, source, description: '' });\n  }\n}\n\n// Process HackerNews\nconst hnItems = safeGet('HN Filter AI');\nfor (const d of hnItems) {\n  if (!d._empty) {\n    allItems.push({\n      title: d.title || '',\n      url: d.url || '',\n      pubDate: d.pubDate || '',\n      source: 'HackerNews',\n      description: `Score: ${d.score || 0}`\n    });\n  }\n}\n\n// Normalize, filter 24h, deduplicate\nconst normalized = [];\nfor (const item of allItems) {\n  let title = (item.title || '').trim();\n  let url = (item.url || '').trim();\n  if (!title || title.length < 5) continue;\n  \n  // Clean description\n  let description = (item.description || '').replace(/<[^>]*>/g, '').trim();\n  if (description.length > 500) description = description.substring(0, 500) + '...';\n  \n  // Parse date\n  let dateObj;\n  try {\n    dateObj = new Date(item.pubDate);\n    if (isNaN(dateObj.getTime())) dateObj = now;\n  } catch (e) {\n    dateObj = now;\n  }\n  \n  // Only last 24h\n  if (dateObj >= oneDayAgo) {\n    normalized.push({\n      json: { title, url, source: item.source || 'Unknown', pubDate: dateObj.toISOString(), description }\n    });\n  }\n}\n\n// Deduplicate by URL\nconst seen = new Set();\nconst deduped = normalized.filter(item => {\n  if (!item.json.url) return true; // keep items without URL\n  const urlKey = item.json.url.toLowerCase().replace(/\\/$/, '');\n  if (seen.has(urlKey)) return false;\n  seen.add(urlKey);\n  return true;\n});\n\n// Sort by date descending, limit to 50\ndeduped.sort((a, b) => new Date(b.json.pubDate) - new Date(a.json.pubDate));\nconst result = deduped.slice(0, 50);\n\nif (result.length === 0) {\n  return [{ json: { title: 'Keine neuen AI-News in den letzten 24h', url: '', source: 'System', pubDate: now.toISOString(), description: '' } }];\n}\n\nreturn result;"},"id":"collect_all","name":"Collect All Sources","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,512]},{"parameters":{"jsCode":"// Add URL hash for dedup tracking\nconst items = $input.all();\n\nfunction simpleHash(str) {\n  let hash = 0;\n  const s = (str || '').toLowerCase().replace(/\\/$/, '').replace(/^https?:\\/\\//, '');\n  for (let i = 0; i < s.length; i++) {\n    const char = s.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return Math.abs(hash).toString(36);\n}\n\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    urlHash: simpleHash(item.json.url || '')\n  }\n}));"},"id":"add_url_hash","name":"Add URL Hash","type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,400]},{"parameters":{"documentId":{"__rl":true,"value":"=16ReQLpePGwYQINfZecTc1JIGYIEFDfM-w6OSNeAufHQ","mode":"id"},"sheetName":{"__rl":true,"mode":"name","value":"Tabellenblatt1"},"options":{}},"id":"read_url_log","name":"Read URL Log","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1408,608],"credentials":{"googleSheetsOAuth2Api":{"id":"GjhqxvssvTwFh5Z5","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Filter out already-seen URLs\nconst newItems = $('Add URL Hash').all();\nlet existingHashes = new Set();\n\ntry {\n  const existingRows = $('Read URL Log').all();\n  for (const row of existingRows) {\n    if (row.json.url_hash) {\n      existingHashes.add(row.json.url_hash);\n    }\n  }\n} catch (e) {\n  // URL Log empty or error — no duplicates to check\n}\n\nconst freshItems = newItems.filter(item => !existingHashes.has(item.json.urlHash));\n\nif (freshItems.length === 0) {\n  return [{ json: { title: 'Alle News bereits verarbeitet', url: '', source: 'System', pubDate: new Date().toISOString(), description: '', urlHash: '', _noNewItems: true } }];\n}\n\nreturn freshItems;"},"id":"dedup_check","name":"Deduplicate","type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,512]},{"parameters":{"jsCode":"// Prepare news items as text for Claude\nconst items = $input.all();\n\nif (items.length === 1 && items[0].json._noNewItems) {\n  return [{ json: { newsText: 'Keine neuen AI-News in den letzten 24 Stunden.', itemCount: 0, _noNewItems: true } }];\n}\n\nconst today = new Date().toLocaleDateString('de-DE', { \n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' \n});\n\nlet newsText = `Datum: ${today}\\nAnzahl News-Items: ${items.length}\\n\\n`;\n\nfor (const item of items) {\n  const d = item.json;\n  newsText += `---\\nTitel: ${d.title}\\nQuelle: ${d.source}\\nURL: ${d.url}\\nDatum: ${d.pubDate}\\nBeschreibung: ${d.description || 'n/a'}\\n\\n`;\n}\n\nreturn [{ json: { newsText, itemCount: items.length, _noNewItems: false } }];"},"id":"prepare_for_claude","name":"Prepare for Claude","type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,512]},{"parameters":{"jsCode":" // Extract text from AI Agent output\n  const response = $input.first().json;\n  const briefingText = response.output || response.text || JSON.stringify(response);\n\n  return [{ json: { briefingText } }];"},"id":"extract_response","name":"Extract Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2208,512]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"=16ReQLpePGwYQINfZecTc1JIGYIEFDfM-w6OSNeAufHQ","mode":"id"},"sheetName":{"__rl":true,"mode":"name","value":"Tabellenblatt1"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"url_hash","displayName":"url_hash","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_seen","displayName":"first_seen","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"briefingText","displayName":"briefingText","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"log_urls","name":"Log URLs to Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2400,800],"credentials":{"googleSheetsOAuth2Api":{"id":"GjhqxvssvTwFh5Z5","name":"Google Sheets account"}}},{"parameters":{"chatId":"6088921678","text":"={{ $json.briefingText }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2400,400],"id":"ee7ef3e1-c497-41ce-8e41-1ef978aa427b","name":"Send a text message","webhookId":"11b09aa4-2538-43ab-81de-849ac2e281e7","credentials":{"telegramApi":{"id":"XOK2WJmUTZxaFwjG","name":"multiaireviewbot"}}},{"parameters":{"promptType":"define","text":"={{ $json.newsText }}","options":{"systemMessage":" Du bist der persönliche KI-Scout von Dennis Özdemir, Handwerksunternehmer und BAUGENIUS-Gründer aus Neumünster/SH. Erstelle ein\n  tägliches Briefing aus den gelieferten News.\n\n  Format (Telegram Markdown):\n\n  🔥 *KI News — [Datum]*\n\n  🚀 *Top 3 Entwicklungen heute*\n  [3 wichtigste News, je 2-3 Sätze, Quelle verlinkt]\n\n  ⚡ *AI Agents & Ökosystem*\n  [Spezifisch: Fetch.ai, ASI Alliance, uAgents, Agentverse]\n  [Wenn nichts Relevantes: 'Heute ruhig auf dem Agenten-Kanal']\n\n  🔧 *Relevant für BAUGENIUS*\n  [Konkrete Einschätzung: Was bedeutet das für den Aufbau eines Handwerks-Agenten im norddeutschen Raum?]\n\n  💀 *Was gefloppt ist*\n  [Hype der sich als Blase erwiesen hat, ehrlich bewertet]\n\n  Ton: direkt, kein Marketing-Bullshit, persönliche Einschätzung. Maximal 400 Wörter. Deutsch."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1952,512],"id":"060baa1a-92c5-4ad8-ad7f-7869ab41231e","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"Claude Sonnet 4.6"},"options":{"maxTokensToSample":4096}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1872,768],"id":"4b5d142e-c754-48da-87d0-46e1490578f6","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"DSb7Itt2r6kfGiHs","name":"Anthropic account"}}}],"connections":{"Jeden Morgen 07:00":{"main":[[{"node":"RSS TechCrunch AI","type":"main","index":0},{"node":"RSS VentureBeat AI","type":"main","index":0},{"node":"RSS The Verge AI","type":"main","index":0},{"node":"RSS Wired AI","type":"main","index":0},{"node":"RSS MIT Tech Review","type":"main","index":0},{"node":"Reddit r/artificial","type":"main","index":0},{"node":"Reddit r/MachineLearning","type":"main","index":0},{"node":"YT Andrej Karpathy","type":"main","index":0},{"node":"YT AI Explained","type":"main","index":0},{"node":"YT Two Minute Papers","type":"main","index":0},{"node":"YT bycloud","type":"main","index":0},{"node":"YT Matt Wolfe","type":"main","index":0},{"node":"HN Top Story IDs","type":"main","index":0}]]},"HN Top Story IDs":{"main":[[{"node":"HN Top 30","type":"main","index":0}]]},"HN Top 30":{"main":[[{"node":"HN Fetch Stories","type":"main","index":0}]]},"HN Fetch Stories":{"main":[[{"node":"HN Filter AI","type":"main","index":0}]]},"RSS TechCrunch AI":{"main":[[{"node":"Collect All Sources","type":"main","index":0}]]},"RSS VentureBeat AI":{"main":[[{"node":"Collect All Sources","type":"main","index":0}]]},"RSS The Verge AI":{"main":[[{"node":"Collect All Sources","type":"main","index":0}]]},"RSS Wired AI":{"main":[[{"node":"Collect All Sources","type":"main","index":0}]]},"RSS MIT Tech Review":{"main":[[{"node":"Collect All Sources","type":"main","index":0}]]},"Reddit r/artificial":{"main":[[{"node":"Collect All Sources","type":"main","index":0}]]},"Reddit r/MachineLearning":{"main":[[{"node":"Collect All Sources","type":"main","index":0}]]},"YT Andrej Karpathy":{"main":[[{"node":"Collect All Sources","type":"main","index":0}]]},"YT AI Explained":{"main":[[{"node":"Collect All Sources","type":"main","index":0}]]},"YT Two Minute Papers":{"main":[[{"node":"Collect All Sources","type":"main","index":0}]]},"YT bycloud":{"main":[[{"node":"Collect All Sources","type":"main","index":0}]]},"YT Matt Wolfe":{"main":[[{"node":"Collect All Sources","type":"main","index":0}]]},"HN Filter AI":{"main":[[{"node":"Collect All Sources","type":"main","index":0}]]},"Collect All Sources":{"main":[[{"node":"Add URL Hash","type":"main","index":0},{"node":"Read URL Log","type":"main","index":0}]]},"Add URL Hash":{"main":[[{"node":"Deduplicate","type":"main","index":0}]]},"Read URL Log":{"main":[[{"node":"Deduplicate","type":"main","index":0}]]},"Deduplicate":{"main":[[{"node":"Prepare for Claude","type":"main","index":0}]]},"Prepare for Claude":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Extract Response":{"main":[[{"node":"Log URLs to Sheet","type":"main","index":0},{"node":"Send a text message","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Extract Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"zAFieMcnwATMcHhY","timeSavedMode":"fixed"},"staticData":{"node:Jeden Morgen 07:00":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fe699e21-5572-4280-b367-c6a11beefe25","activeVersionId":"fe699e21-5572-4280-b367-c6a11beefe25","versionCounter":88,"triggerCount":1,"shared":[{"updatedAt":"2026-03-14T12:56:12.390Z","createdAt":"2026-03-14T12:56:12.390Z","role":"workflow:owner","workflowId":"2KFqqgMucXKOt04T","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-14T15:06:56.000Z","createdAt":"2026-03-14T15:06:55.000Z","versionId":"fe699e21-5572-4280-b367-c6a11beefe25","workflowId":"2KFqqgMucXKOt04T","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 7 * * *"}]}},"id":"trigger","name":"Jeden Morgen 07:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,512]},{"parameters":{"url":"https://techcrunch.com/category/artificial-intelligence/feed/","options":{"ignoreSSL":true}},"id":"rss_techcrunch","name":"RSS TechCrunch AI","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[304,0],"onError":"continueRegularOutput"},{"parameters":{"url":"https://venturebeat.com/category/ai/feed/","options":{"ignoreSSL":true}},"id":"rss_venturebeat","name":"RSS VentureBeat AI","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[304,128],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.theverge.com/rss/ai-artificial-intelligence/index.xml","options":{"ignoreSSL":true}},"id":"rss_theverge","name":"RSS The Verge AI","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[304,240],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.wired.com/feed/tag/ai/latest/rss","options":{"ignoreSSL":true}},"id":"rss_wired","name":"RSS Wired AI","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[304,368],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.technologyreview.com/topic/artificial-intelligence/feed","options":{"ignoreSSL":true}},"id":"rss_mit","name":"RSS MIT Tech Review","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[304,480],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.reddit.com/r/artificial/top/.rss?t=day","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (compatible; BG-Intel/1.0)"}]},"options":{"response":{"response":{"responseFormat":"text"}},"timeout":15000}},"id":"reddit_artificial","name":"Reddit r/artificial","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,608],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.reddit.com/r/MachineLearning/top/.rss?t=day","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (compatible; BG-Intel/1.0)"}]},"options":{"response":{"response":{"responseFormat":"text"}},"timeout":15000}},"id":"reddit_ml","name":"Reddit r/MachineLearning","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,720],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.youtube.com/feeds/videos.xml?channel_id=UCXUPKJO5MZQN11PqgIvyuvQ","options":{"ignoreSSL":true}},"id":"rss_yt_karpathy","name":"YT Andrej Karpathy","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[304,848],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.youtube.com/feeds/videos.xml?channel_id=UCNUQK2XMjTgehSOEF4i1Fg","options":{"ignoreSSL":true}},"id":"rss_yt_aiexplained","name":"YT AI Explained","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[304,960],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.youtube.com/feeds/videos.xml?channel_id=UCbfYPyITQ-7l4upoX8nvctg","options":{"ignoreSSL":true}},"id":"rss_yt_2minpapers","name":"YT Two Minute Papers","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[304,1088],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.youtube.com/feeds/videos.xml?channel_id=UCZHmQk67mSJgfCCTn7xBfew","options":{"ignoreSSL":true}},"id":"rss_yt_bycloud","name":"YT bycloud","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[304,1200],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.youtube.com/feeds/videos.xml?channel_id=UCMLtBahI5DMrt0NPvDSoIRQ","options":{"ignoreSSL":true}},"id":"rss_yt_mattwolfe","name":"YT Matt Wolfe","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[304,1328],"onError":"continueRegularOutput"},{"parameters":{"url":"https://hacker-news.firebaseio.com/v0/topstories.json","options":{"response":{"response":{"responseFormat":"json"}},"timeout":15000}},"id":"hn_top_ids","name":"HN Top Story IDs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,1504],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Take first 30 story IDs\nconst data = $input.first().json;\n\n// Handle error case\nif (!Array.isArray(data)) {\n  return [{ json: { storyId: 0, _skip: true } }];\n}\n\nconst storyIds = data.slice(0, 30);\nreturn storyIds.map(id => ({ json: { storyId: id } }));"},"id":"hn_slice_30","name":"HN Top 30","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,1504],"onError":"continueRegularOutput"},{"parameters":{"url":"=https://hacker-news.firebaseio.com/v0/item/{{ $json.storyId }}.json","options":{"batching":{"batch":{"batchSize":10,"batchInterval":300}},"response":{"response":{"responseFormat":"json"}},"timeout":15000}},"id":"hn_fetch_stories","name":"HN Fetch Stories","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[704,1504],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Filter HN stories for AI-related keywords\nconst aiKeywords = [\n  'ai', 'artificial intelligence', 'machine learning', 'ml',\n  'llm', 'gpt', 'claude', 'openai', 'anthropic', 'google ai',\n  'deep learning', 'neural', 'transformer', 'diffusion',\n  'agent', 'agi', 'chatbot', 'copilot', 'gemini', 'mistral',\n  'llama', 'automation', 'fetch.ai', 'autonomous agent'\n];\n\nconst stories = $input.all().map(item => item.json);\nconst filtered = stories.filter(story => {\n  if (!story || !story.title) return false;\n  const titleLower = story.title.toLowerCase();\n  return aiKeywords.some(kw => titleLower.includes(kw));\n});\n\nif (filtered.length === 0) {\n  return [{ json: { title: 'No AI stories on HN', url: '', source: 'HackerNews', pubDate: new Date().toISOString(), score: 0, _empty: true } }];\n}\n\nreturn filtered.map(story => ({\n  json: {\n    title: story.title,\n    url: story.url || `https://news.ycombinator.com/item?id=${story.id}`,\n    source: 'HackerNews',\n    pubDate: new Date(story.time * 1000).toISOString(),\n    score: story.score\n  }\n}));"},"id":"hn_filter_ai","name":"HN Filter AI","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,1504],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Collect ALL sources by name — does not depend on connections\n// This node is triggered once after all sources complete\nconst now = new Date();\nconst oneDayAgo = new Date(now.getTime() - 24 * 60 * 60 * 1000);\n\n// Helper: safely get items from a node\nfunction safeGet(nodeName) {\n  try {\n    return $(nodeName).all().map(i => i.json);\n  } catch (e) {\n    return [];\n  }\n}\n\n// Collect RSS sources\nconst rssNodes = [\n  'RSS TechCrunch AI',\n  'RSS VentureBeat AI',\n  'RSS The Verge AI',\n  'RSS Wired AI',\n  'RSS MIT Tech Review'\n];\n\nconst allItems = [];\n\n// Process RSS feeds\nfor (const nodeName of rssNodes) {\n  const items = safeGet(nodeName);\n  for (const d of items) {\n    let title = d.title || d.name || '';\n    let url = d.url || d.link || d.guid || '';\n    let pubDate = d.pubDate || d.isoDate || d.published || d.date || '';\n    let source = d.creator || d['dc:creator'] || nodeName.replace('RSS ', '');\n    let description = d.contentSnippet || d.content || d.summary || d.description || '';\n    allItems.push({ title, url, pubDate, source, description });\n  }\n}\n\n// Process Reddit (HTTP Request returns XML text)\nconst redditNodes = ['Reddit r/artificial', 'Reddit r/MachineLearning'];\nfor (const nodeName of redditNodes) {\n  const items = safeGet(nodeName);\n  for (const d of items) {\n    // HTTP Request returns the RSS as text in 'data' field\n    const text = d.data || d.body || (typeof d === 'string' ? d : '');\n    if (typeof text === 'string' && text.includes('<entry>')) {\n      // Simple XML parsing for Atom feed\n      const entries = text.split('<entry>');\n      for (let i = 1; i < entries.length && i <= 10; i++) {\n        const entry = entries[i];\n        const titleMatch = entry.match(/<title[^>]*>([^<]+)<\\/title>/);\n        const linkMatch = entry.match(/<link[^>]*href=\"([^\"]+)\"/);\n        const updatedMatch = entry.match(/<updated>([^<]+)<\\/updated>/);\n        if (titleMatch) {\n          allItems.push({\n            title: titleMatch[1].replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>'),\n            url: linkMatch ? linkMatch[1] : '',\n            pubDate: updatedMatch ? updatedMatch[1] : '',\n            source: nodeName.replace('Reddit ', ''),\n            description: ''\n          });\n        }\n      }\n    }\n  }\n}\n\n// Process YouTube RSS\nconst ytNodes = [\n  'YT Andrej Karpathy',\n  'YT AI Explained',\n  'YT Two Minute Papers',\n  'YT bycloud',\n  'YT Matt Wolfe'\n];\nfor (const nodeName of ytNodes) {\n  const items = safeGet(nodeName);\n  for (const d of items) {\n    let title = d.title || d.name || '';\n    let url = d.link || d.url || d.id || '';\n    let pubDate = d.pubDate || d.isoDate || d.published || '';\n    let source = nodeName;\n    allItems.push({ title, url, pubDate, source, description: '' });\n  }\n}\n\n// Process HackerNews\nconst hnItems = safeGet('HN Filter AI');\nfor (const d of hnItems) {\n  if (!d._empty) {\n    allItems.push({\n      title: d.title || '',\n      url: d.url || '',\n      pubDate: d.pubDate || '',\n      source: 'HackerNews',\n      description: `Score: ${d.score || 0}`\n    });\n  }\n}\n\n// Normalize, filter 24h, deduplicate\nconst normalized = [];\nfor (const item of allItems) {\n  let title = (item.title || '').trim();\n  let url = (item.url || '').trim();\n  if (!title || title.length < 5) continue;\n  \n  // Clean description\n  let description = (item.description || '').replace(/<[^>]*>/g, '').trim();\n  if (description.length > 500) description = description.substring(0, 500) + '...';\n  \n  // Parse date\n  let dateObj;\n  try {\n    dateObj = new Date(item.pubDate);\n    if (isNaN(dateObj.getTime())) dateObj = now;\n  } catch (e) {\n    dateObj = now;\n  }\n  \n  // Only last 24h\n  if (dateObj >= oneDayAgo) {\n    normalized.push({\n      json: { title, url, source: item.source || 'Unknown', pubDate: dateObj.toISOString(), description }\n    });\n  }\n}\n\n// Deduplicate by URL\nconst seen = new Set();\nconst deduped = normalized.filter(item => {\n  if (!item.json.url) return true; // keep items without URL\n  const urlKey = item.json.url.toLowerCase().replace(/\\/$/, '');\n  if (seen.has(urlKey)) return false;\n  seen.add(urlKey);\n  return true;\n});\n\n// Sort by date descending, limit to 50\ndeduped.sort((a, b) => new Date(b.json.pubDate) - new Date(a.json.pubDate));\nconst result = deduped.slice(0, 50);\n\nif (result.length === 0) {\n  return [{ json: { title: 'Keine neuen AI-News in den letzten 24h', url: '', source: 'System', pubDate: now.toISOString(), description: '' } }];\n}\n\nreturn result;"},"id":"collect_all","name":"Collect All Sources","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,512]},{"parameters":{"jsCode":"// Add URL hash for dedup tracking\nconst items = $input.all();\n\nfunction simpleHash(str) {\n  let hash = 0;\n  const s = (str || '').toLowerCase().replace(/\\/$/, '').replace(/^https?:\\/\\//, '');\n  for (let i = 0; i < s.length; i++) {\n    const char = s.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return Math.abs(hash).toString(36);\n}\n\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    urlHash: simpleHash(item.json.url || '')\n  }\n}));"},"id":"add_url_hash","name":"Add URL Hash","type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,400]},{"parameters":{"documentId":{"__rl":true,"value":"=16ReQLpePGwYQINfZecTc1JIGYIEFDfM-w6OSNeAufHQ","mode":"id"},"sheetName":{"__rl":true,"mode":"name","value":"Tabellenblatt1"},"options":{}},"id":"read_url_log","name":"Read URL Log","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1408,608],"credentials":{"googleSheetsOAuth2Api":{"id":"GjhqxvssvTwFh5Z5","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Filter out already-seen URLs\nconst newItems = $('Add URL Hash').all();\nlet existingHashes = new Set();\n\ntry {\n  const existingRows = $('Read URL Log').all();\n  for (const row of existingRows) {\n    if (row.json.url_hash) {\n      existingHashes.add(row.json.url_hash);\n    }\n  }\n} catch (e) {\n  // URL Log empty or error — no duplicates to check\n}\n\nconst freshItems = newItems.filter(item => !existingHashes.has(item.json.urlHash));\n\nif (freshItems.length === 0) {\n  return [{ json: { title: 'Alle News bereits verarbeitet', url: '', source: 'System', pubDate: new Date().toISOString(), description: '', urlHash: '', _noNewItems: true } }];\n}\n\nreturn freshItems;"},"id":"dedup_check","name":"Deduplicate","type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,512]},{"parameters":{"jsCode":"// Prepare news items as text for Claude\nconst items = $input.all();\n\nif (items.length === 1 && items[0].json._noNewItems) {\n  return [{ json: { newsText: 'Keine neuen AI-News in den letzten 24 Stunden.', itemCount: 0, _noNewItems: true } }];\n}\n\nconst today = new Date().toLocaleDateString('de-DE', { \n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' \n});\n\nlet newsText = `Datum: ${today}\\nAnzahl News-Items: ${items.length}\\n\\n`;\n\nfor (const item of items) {\n  const d = item.json;\n  newsText += `---\\nTitel: ${d.title}\\nQuelle: ${d.source}\\nURL: ${d.url}\\nDatum: ${d.pubDate}\\nBeschreibung: ${d.description || 'n/a'}\\n\\n`;\n}\n\nreturn [{ json: { newsText, itemCount: items.length, _noNewItems: false } }];"},"id":"prepare_for_claude","name":"Prepare for Claude","type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,512]},{"parameters":{"jsCode":" // Extract text from AI Agent output\n  const response = $input.first().json;\n  const briefingText = response.output || response.text || JSON.stringify(response);\n\n  return [{ json: { briefingText } }];"},"id":"extract_response","name":"Extract Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2208,512]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"=16ReQLpePGwYQINfZecTc1JIGYIEFDfM-w6OSNeAufHQ","mode":"id"},"sheetName":{"__rl":true,"mode":"name","value":"Tabellenblatt1"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"url_hash","displayName":"url_hash","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_seen","displayName":"first_seen","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"briefingText","displayName":"briefingText","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"log_urls","name":"Log URLs to Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2400,800],"credentials":{"googleSheetsOAuth2Api":{"id":"GjhqxvssvTwFh5Z5","name":"Google Sheets account"}}},{"parameters":{"chatId":"6088921678","text":"={{ $json.briefingText }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2400,400],"id":"ee7ef3e1-c497-41ce-8e41-1ef978aa427b","name":"Send a text message","webhookId":"11b09aa4-2538-43ab-81de-849ac2e281e7","credentials":{"telegramApi":{"id":"XOK2WJmUTZxaFwjG","name":"multiaireviewbot"}}},{"parameters":{"promptType":"define","text":"={{ $json.newsText }}","options":{"systemMessage":" Du bist der persönliche KI-Scout von Dennis Özdemir, Handwerksunternehmer und BAUGENIUS-Gründer aus Neumünster/SH. Erstelle ein\n  tägliches Briefing aus den gelieferten News.\n\n  Format (Telegram Markdown):\n\n  🔥 *KI News — [Datum]*\n\n  🚀 *Top 3 Entwicklungen heute*\n  [3 wichtigste News, je 2-3 Sätze, Quelle verlinkt]\n\n  ⚡ *AI Agents & Ökosystem*\n  [Spezifisch: Fetch.ai, ASI Alliance, uAgents, Agentverse]\n  [Wenn nichts Relevantes: 'Heute ruhig auf dem Agenten-Kanal']\n\n  🔧 *Relevant für BAUGENIUS*\n  [Konkrete Einschätzung: Was bedeutet das für den Aufbau eines Handwerks-Agenten im norddeutschen Raum?]\n\n  💀 *Was gefloppt ist*\n  [Hype der sich als Blase erwiesen hat, ehrlich bewertet]\n\n  Ton: direkt, kein Marketing-Bullshit, persönliche Einschätzung. Maximal 400 Wörter. Deutsch."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1952,512],"id":"060baa1a-92c5-4ad8-ad7f-7869ab41231e","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"Claude Sonnet 4.6"},"options":{"maxTokensToSample":4096}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1872,768],"id":"4b5d142e-c754-48da-87d0-46e1490578f6","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"DSb7Itt2r6kfGiHs","name":"Anthropic account"}}}],"connections":{"Jeden Morgen 07:00":{"main":[[{"node":"RSS TechCrunch AI","type":"main","index":0},{"node":"RSS VentureBeat AI","type":"main","index":0},{"node":"RSS The Verge AI","type":"main","index":0},{"node":"RSS Wired AI","type":"main","index":0},{"node":"RSS MIT Tech Review","type":"main","index":0},{"node":"Reddit r/artificial","type":"main","index":0},{"node":"Reddit r/MachineLearning","type":"main","index":0},{"node":"YT Andrej Karpathy","type":"main","index":0},{"node":"YT AI Explained","type":"main","index":0},{"node":"YT Two Minute Papers","type":"main","index":0},{"node":"YT bycloud","type":"main","index":0},{"node":"YT Matt Wolfe","type":"main","index":0},{"node":"HN Top Story IDs","type":"main","index":0}]]},"HN Top Story IDs":{"main":[[{"node":"HN Top 30","type":"main","index":0}]]},"HN Top 30":{"main":[[{"node":"HN Fetch Stories","type":"main","index":0}]]},"HN Fetch Stories":{"main":[[{"node":"HN Filter AI","type":"main","index":0}]]},"RSS TechCrunch AI":{"main":[[{"node":"Collect All Sources","type":"main","index":0}]]},"RSS VentureBeat AI":{"main":[[{"node":"Collect All Sources","type":"main","index":0}]]},"RSS The Verge AI":{"main":[[{"node":"Collect All Sources","type":"main","index":0}]]},"RSS Wired AI":{"main":[[{"node":"Collect All Sources","type":"main","index":0}]]},"RSS MIT Tech Review":{"main":[[{"node":"Collect All Sources","type":"main","index":0}]]},"Reddit r/artificial":{"main":[[{"node":"Collect All Sources","type":"main","index":0}]]},"Reddit r/MachineLearning":{"main":[[{"node":"Collect All Sources","type":"main","index":0}]]},"YT Andrej Karpathy":{"main":[[{"node":"Collect All Sources","type":"main","index":0}]]},"YT AI Explained":{"main":[[{"node":"Collect All Sources","type":"main","index":0}]]},"YT Two Minute Papers":{"main":[[{"node":"Collect All Sources","type":"main","index":0}]]},"YT bycloud":{"main":[[{"node":"Collect All Sources","type":"main","index":0}]]},"YT Matt Wolfe":{"main":[[{"node":"Collect All Sources","type":"main","index":0}]]},"HN Filter AI":{"main":[[{"node":"Collect All Sources","type":"main","index":0}]]},"Collect All Sources":{"main":[[{"node":"Add URL Hash","type":"main","index":0},{"node":"Read URL Log","type":"main","index":0}]]},"Add URL Hash":{"main":[[{"node":"Deduplicate","type":"main","index":0}]]},"Read URL Log":{"main":[[{"node":"Deduplicate","type":"main","index":0}]]},"Deduplicate":{"main":[[{"node":"Prepare for Claude","type":"main","index":0}]]},"Prepare for Claude":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Extract Response":{"main":[[{"node":"Log URLs to Sheet","type":"main","index":0},{"node":"Send a text message","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Extract Response","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version fe699e21","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-14T15:06:56.217Z","id":982,"workflowId":"2KFqqgMucXKOt04T","versionId":"fe699e21-5572-4280-b367-c6a11beefe25","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-03-14T15:07:03.721Z","id":984,"workflowId":"2KFqqgMucXKOt04T","versionId":"fe699e21-5572-4280-b367-c6a11beefe25","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-03-14T15:07:03.711Z","id":983,"workflowId":"2KFqqgMucXKOt04T","versionId":"fe699e21-5572-4280-b367-c6a11beefe25","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}