n8n-workflows/Flow_2_Offer_Sender_AI_Agent_Edition_TEST.json
{"updatedAt":"2025-11-13T19:13:42.000Z","createdAt":"2025-10-31T11:51:49.295Z","id":"us00SoDXhBZGu3eq","name":"Flow 2: Offer Sender (AI Agent Edition) TEST","description":null,"active":true,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"ea4d4dc5-fa12-43cf-baf6-fab53f5d1580","name":"Schedule: Check for new offers","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-560,-192],"disabled":true},{"parameters":{"resource":"__CUSTOM_API_CALL__"},"id":"a0fbea91-ec3b-4df7-9b93-cb9145b29704","name":"Unversendete Angebote holen","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1280,-96],"credentials":{"supabaseApi":{"id":"LPZHxBlEauv008Tt","name":"Supabase account 2"}}},{"parameters":{"operation":"getAll","tableId":"leads","filters":{"conditions":[{"keyName":"status","condition":"eq","keyValue":"={{ $json.status }}"}]}},"id":"8f64002c-8512-4b0c-9b5e-7ec7713fef95","name":"Lead-Daten holen","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1552,-96],"credentials":{"supabaseApi":{"id":"LPZHxBlEauv008Tt","name":"Supabase account 2"}}},{"parameters":{"operation":"get","tableId":"offers","filters":{"conditions":[{"keyName":"status","keyValue":"={{ $json.status }}"}]}},"id":"530d6135-1f69-4fcc-aaec-64807d2f4d25","name":"Line Items holen","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1072,-96],"credentials":{"supabaseApi":{"id":"LPZHxBlEauv008Tt","name":"Supabase account 2"}}},{"parameters":{"jsCode":"// ================================================\n// DATEN VORBEREITEN - FГњR AI AGENT\n// ================================================\n// Dieser Code bereitet die Daten fГјr den AI Agent vor\n// Der Agent schreibt E-Mails und PDFs SELBST\n// ================================================\n\nconst offers = $('Unversendete Angebote holen').all();\nconst leads = $('Lead-Daten holen').all();\nconst lineItems = $('Line Items holen').all();\n\nconst results = [];\n\nfor (let i = 0; i < offers.length; i++) {\n  const offer = offers[i].json;\n  const lead = leads[i].json;\n  \n  // Finde alle Line Items fГјr dieses Offer\n  const offerLineItems = lineItems\n    .filter(item => item.json.offer_id === offer.id)\n    .map(item => ({\n      position: item.json.position,\n      beschreibung: item.json.beschreibung,\n      raum: item.json.raum_name || 'Standard',\n      leistung: item.json.leistung || 'Maler',\n      menge: item.json.menge,\n      einheit: item.json.einheit || 'mВІ',\n      einzelpreis: parseFloat(item.json.einzelpreis || 0),\n      gesamtpreis: parseFloat(item.json.gesamtpreis || 0)\n    }))\n    .sort((a, b) => a.position - b.position);\n\n  // Berechne Preise\n  const gesamtpreis_netto = parseFloat(offer.gesamtpreis_netto || 0);\n  const gesamtpreis_brutto = parseFloat(offer.gesamtpreis_brutto || 0);\n  const mwst = gesamtpreis_brutto - gesamtpreis_netto;\n  \n  // Formatiere Datum\n  const heute = new Date().toLocaleDateString('de-DE', {\n    day: '2-digit',\n    month: 'long',\n    year: 'numeric'\n  });\n  \n  const gueltig_bis = offer.gueltig_bis \n    ? new Date(offer.gueltig_bis).toLocaleDateString('de-DE', {\n        day: '2-digit',\n        month: 'long',\n        year: 'numeric'\n      })\n    : null;\n\n  // Erstelle strukturierte Ausgabe FГњR DEN AGENT\n  results.push({\n    json: {\n      // Lead Informationen\n      lead_id: lead.id,\n      vorname: lead.vorname || '',\n      nachname: lead.nachname || '',\n      email: lead.email,\n      telefon: lead.telefon || '',\n      strasse: lead.strasse || '',\n      plz: lead.plz || '',\n      ort: lead.ort || '',\n      \n      // Offer Informationen\n      offer_id: offer.id,\n      angebots_nummer: offer.angebots_nummer,\n      \n      // Preise (numerisch UND formatiert)\n      gesamtpreis_netto: gesamtpreis_netto,\n      gesamtpreis_netto_formatted: gesamtpreis_netto.toFixed(2).replace('.', ','),\n      gesamtpreis_brutto: gesamtpreis_brutto,\n      gesamtpreis_brutto_formatted: gesamtpreis_brutto.toFixed(2).replace('.', ','),\n      mwst: mwst,\n      mwst_formatted: mwst.toFixed(2).replace('.', ','),\n      \n      // Daten\n      datum_heute: heute,\n      gueltig_bis: gueltig_bis,\n      gueltig_bis_iso: offer.gueltig_bis,\n      \n      // Line Items (Array)\n      line_items: offerLineItems,\n      line_items_count: offerLineItems.length,\n      \n      // Zusammenfassung fГјr schnellen Гњberblick\n      raeume_liste: [...new Set(offerLineItems.map(item => item.raum))].join(', '),\n      leistungen_liste: [...new Set(offerLineItems.map(item => item.leistung))].join(', '),\n      \n      // WhatsApp Nummer (HIER DEINE NUMMER EINTRAGEN!)\n      whatsapp_nummer: '491234567890', // в†ђ Г„NDERE DIES!\n      \n      // Weitere Meta-Daten\n      created_at: offer.created_at,\n      updated_at: offer.updated_at\n    }\n  });\n}\n\nreturn results;"},"id":"c3230f64-d7a7-4560-a89d-df3771b39135","name":"Daten vorbereiten","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,608]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"predefinedCredentialType","nodeCredentialType":"anthropicApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"claude-sonnet-4-20250514"},{"name":"max_tokens","value":"3000"},{"name":"messages","value":"=[{\"role\": \"user\", \"content\": \"{{ $json.pdf_prompt }}\"}]"}]},"options":{}},"id":"f5538ba4-ffb6-4870-b378-a6ce357dcb2c","name":"Claude: PDF-HTML generieren","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[448,608]},{"parameters":{"jsCode":"// HTML aus Claude-Response extrahieren\nconst response = $input.first().json;\nlet html = response.content[0].text;\n\n// Falls in Code-Block, extrahieren\nif (html.includes('```html')) {\n  html = html.split('```html')[1].split('```')[0].trim();\n} else if (html.includes('```')) {\n  html = html.split('```')[1].split('```')[0].trim();\n}\n\nreturn {\n  json: {\n    html: html,\n    offer_id: $('Daten vorbereiten').first().json.offer_id\n  }\n};"},"id":"2db4cef8-3d90-4be4-9877-47add9ec917a","name":"HTML extrahieren","type":"n8n-nodes-base.code","typeVersion":2,"position":[624,608]},{"parameters":{"operation":"htmlToPdf"},"id":"bf194dc0-3499-497a-9954-d6de1773758e","name":"HTML в†’ PDF konvertieren","type":"n8n-nodes-base.convertToFile","typeVersion":1,"position":[816,624]},{"parameters":{"sendTo":"={{ $('Daten vorbereiten').first().json.lead_email }}","subject":"Ihr persГ¶nliches Angebot von Farbe-Fertig-Los","emailType":"text","message":"={{ $('Claude: E-Mail generieren').first().json.content[0].text }}","options":{}},"id":"913e7a8a-d314-40f8-b3af-1701822c66eb","name":"E-Mail versenden (Gmail)","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[832,448],"webhookId":"8f747bcb-7503-4243-98a8-2a7e1448ba17"},{"parameters":{"method":"POST","url":"https://api.superchat.de/v1/messages","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Daten vorbereiten').first().json.lead_phone }}"},{"name":"message","value":"=Hallo {{ $('Daten vorbereiten').first().json.lead_name.split(' ')[0] }}! рџ‘‹\n\nIhr Angebot fГјr {{ $('Daten vorbereiten').first().json.line_items[0].description }} ist fertig!\n\nрџ“§ Wir haben es gerade per E-Mail gesendet.\nрџ’° Gesamtpreis: {{ $('Daten vorbereiten').first().json.total_price }}в‚¬ (inkl. MwSt.)\n\nSie kГ¶nnen direkt:\nрџ“… Termin buchen в†’ https://farbe-fertig-los.de/termin\nвњ… Beauftragen в†’ https://farbe-fertig-los.de/auftrag\n\nFragen? Einfach hier antworten!"}]},"options":{}},"id":"8cf2e746-7732-4915-954f-63a84fbacf9c","name":"WhatsApp versenden (Superchat)","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[800,880]},{"parameters":{"operation":"insert"},"id":"be57137b-0914-44ca-9eee-19aee9091899","name":"E-Mail in DB loggen","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1776,-96],"credentials":{"supabaseApi":{"id":"LPZHxBlEauv008Tt","name":"Supabase account 2"}}},{"parameters":{"operation":"insert"},"id":"94629a86-6655-4066-8f26-b1d4e16edcc3","name":"WhatsApp in DB loggen","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1904,144]},{"parameters":{"operation":"update"},"id":"7486b9b5-8aae-4aeb-befc-5cf004ac6fcf","name":"Angebot als versendet markieren","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2032,-96]},{"parameters":{"operation":"update"},"id":"3c35e258-60e0-46a6-b024-82effb0e1904","name":"Lead-Status updaten","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2256,-96]},{"parameters":{"operation":"insert"},"id":"cbfcdab1-4ea6-40b2-be37-d3f2ba7baaaf","name":"Event: Offer Sent","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2464,-96]},{"parameters":{"operation":"insert"},"id":"4f01e99a-a609-48d5-96de-1168b1dc1f87","name":"Follow-Up 1 einplanen","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2656,-96]},{"parameters":{"options":{"systemMessage":"Du bist ein hochintelligenter Angebots-Assistent fГјr 'Farbe.Fertig.Los' - einen professionellen Malerservice.\n\nDEINE PERSГ–NLICHKEIT:\n- Professionell aber freundlich\n- Detail-orientiert\n- ZuverlГ¤ssig\n- Problem-LГ¶ser\n\nDEINE MISSION:\nFГјr jeden Lead verarbeitest du ein komplettes Angebot von A-Z:\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n1пёЏвѓЈ DATEN SAMMELN\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nвњ“ Hole ALLE Offer Lines fГјr das aktuelle Angebot aus Supabase\n  Query: SELECT * FROM offer_lines WHERE offer_id = {{offer_id}}\n  \nвњ“ Analysiere die Positionen:\n  - Welche RГ¤ume?\n  - Welche Leistungen?\n  - Welche Preise?\n  - Besonderheiten?\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n2пёЏвѓЈ E-MAIL ERSTELLEN\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nSchreibe eine professionelle Angebots-E-Mail:\n\n**TON:**\n- PersГ¶nlich (nutze Vornamen)\n- Warm aber professionell\n- Klar strukturiert\n- VertrauenswГјrdig\n\n**STRUKTUR:**\n```\nBetreff: Ihr Malerservice-Angebot von Farbe.Fertig.Los\n\nLiebe/r [Vorname],\n\nvielen Dank fГјr Ihre Anfrage! Ich habe Ihnen ein individuelles Angebot erstellt.\n\nрџ“‹ IHRE RГ„UME:\n[Liste der RГ¤ume mit Leistungen]\n\nрџ’° INVESTITION:\n[Gesamtpreis] в‚¬ (inkl. MwSt.)\n\nIn diesem Preis ist bereits alles enthalten:\nвњ“ Hochwertige Materialien\nвњ“ SorgfГ¤ltige Vorbereitung\nвњ“ Professionelle AusfГјhrung\nвњ“ GrГјndliche Endreinigung\n\nрџ“„ Das detaillierte Angebot finden Sie im PDF-Anhang.\n\nвЏ° NГ„CHSTE SCHRITTE:\nMГ¶chten Sie uns beauftragen? Dann schreiben Sie mir einfach per WhatsApp:\n\nрџ‘‰ https://wa.me/49[DEINE_NUMMER]?text=Hallo%2C%20ich%20mГ¶chte%20Angebot%20[ANGEBOTSNUMMER]%20beauftragen!\n\nOder rufen Sie mich direkt an: [DEINE_NUMMER]\n\nIch freue mich auf Ihr Projekt!\n\nHerzliche GrГјГџe\nIhr Farbe.Fertig.Los-Team\n```\n\n**WICHTIG:**\n- Nutze {{vorname}} fГјr persГ¶nliche Anrede\n- Liste konkrete RГ¤ume und Leistungen auf\n- Hebe den Gesamtpreis hervor\n- WhatsApp-Link muss funktionieren\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n3пёЏвѓЈ PDF-HTML GENERIEREN\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nErstelle ein professionelles HTML-Dokument:\n\n**BRAND IDENTITY:**\n- Hauptfarbe: #FF6B35 (Orange)\n- Akzentfarbe: #004E89 (Dunkelblau)\n- Schrift: Arial, sans-serif\n- Clean & Modern\n\n**STRUKTUR:**\n```html\n<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <style>\n        body { font-family: Arial, sans-serif; max-width: 800px; margin: 40px auto; }\n        .header { background: #004E89; color: white; padding: 30px; text-align: center; }\n        .logo { font-size: 32px; font-weight: bold; }\n        .content { padding: 30px; }\n        table { width: 100%; border-collapse: collapse; margin: 20px 0; }\n        th { background: #FF6B35; color: white; padding: 12px; text-align: left; }\n        td { border-bottom: 1px solid #ddd; padding: 12px; }\n        .total { background: #f5f5f5; font-weight: bold; }\n        .footer { background: #f9f9f9; padding: 20px; margin-top: 30px; }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <div class=\"logo\">FARBE.FERTIG.LOS</div>\n        <p>Ihr Malerservice in Hamburg & Schleswig-Holstein</p>\n    </div>\n    \n    <div class=\"content\">\n        <h1>Angebot Nr. [ANGEBOTSNUMMER]</h1>\n        \n        <p><strong>Datum:</strong> [DATUM]</p>\n        <p><strong>GГјltig bis:</strong> [GUELTIG_BIS]</p>\n        \n        <h2>Kunde</h2>\n        <p>\n            [VORNAME] [NACHNAME]<br>\n            [STRASSE]<br>\n            [PLZ] [ORT]\n        </p>\n        \n        <h2>Leistungen</h2>\n        <table>\n            <thead>\n                <tr>\n                    <th>Pos.</th>\n                    <th>Beschreibung</th>\n                    <th>Menge</th>\n                    <th>Preis</th>\n                </tr>\n            </thead>\n            <tbody>\n                [POSITIONS_TABLE_ROWS]\n            </tbody>\n            <tfoot>\n                <tr class=\"total\">\n                    <td colspan=\"3\">Netto</td>\n                    <td>[NETTO] в‚¬</td>\n                </tr>\n                <tr class=\"total\">\n                    <td colspan=\"3\">MwSt. 19%</td>\n                    <td>[MWST] в‚¬</td>\n                </tr>\n                <tr class=\"total\">\n                    <td colspan=\"3\"><strong>GESAMT</strong></td>\n                    <td><strong>[BRUTTO] в‚¬</strong></td>\n                </tr>\n            </tfoot>\n        </table>\n        \n        <div class=\"footer\">\n            <h3>Kontakt</h3>\n            <p>\n                Farbe.Fertig.Los<br>\n                Tel: [DEINE_NUMMER]<br>\n                Web: farbe-fertig-los.de\n            </p>\n        </div>\n    </div>\n</body>\n</html>\n```\n\n**WICHTIG:**\n- Ersetze ALLE Platzhalter mit echten Daten\n- Erstelle Tabellenzeilen fГјr jede Position\n- Rechne MwSt korrekt aus\n- HTML muss valide sein (keine Fehler!)\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n4пёЏвѓЈ PDF KONVERTIEREN\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nKonvertiere das HTML zu PDF:\n- Nutze das 'convert_html_to_pdf' Tool\n- Гњbergib das komplette HTML\n- Erhalte PDF als Base64\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n5пёЏвѓЈ E-MAIL VERSENDEN\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nVersende die E-Mail via Gmail:\n\n**Parameter:**\n- To: {{email}}\n- Subject: \"Ihr Malerservice-Angebot von Farbe.Fertig.Los\"\n- Body: [Deine generierte E-Mail]\n- Attachment: [Das PDF]\n- From: \"Farbe.Fertig.Los\" <info@farbe-fertig-los.de>\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n6пёЏвѓЈ DATENBANK LOGGING\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nLogge ALLE Aktionen in Supabase:\n\n**1. Update Offer:**\n```sql\nUPDATE offers \nSET sent_at = NOW(), \n    status = 'sent'\nWHERE id = {{offer_id}}\n```\n\n**2. Update Lead:**\n```sql\nUPDATE leads \nSET status = 'offer_sent',\n    offer_sent_at = NOW(),\n    last_contact = NOW()\nWHERE id = {{lead_id}}\n```\n\n**3. Insert Event:**\n```sql\nINSERT INTO events (lead_id, event_type, description, metadata)\nVALUES (\n    {{lead_id}},\n    'offer_sent',\n    'Angebot per E-Mail versendet',\n    '{\"offer_id\": {{offer_id}}, \"angebots_nummer\": \"{{angebots_nummer}}\"}'\n)\n```\n\n**4. Insert Message:**\n```sql\nINSERT INTO messages (lead_id, direction, channel, content, sent_at)\nVALUES (\n    {{lead_id}},\n    'outbound',\n    'email',\n    '{{email_text}}',\n    NOW()\n)\n```\n\n**5. Create Follow-Up:**\n```sql\nINSERT INTO followups (lead_id, scheduled_for, type, status)\nVALUES (\n    {{lead_id}},\n    NOW() + INTERVAL '3 days',\n    'offer_followup',\n    'pending'\n)\n```\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nрџЋЇ WICHTIGE REGELN\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nвњ“ Nutze die verfГјgbaren Tools SELBSTSTГ„NDIG\nвњ“ Handle Errors gracefully (wenn etwas fehlschlГ¤gt, logge es und fahre fort)\nвњ“ Validiere Daten bevor du sie nutzt (E-Mail, Telefon, etc.)\nвњ“ Sei grГјndlich - jeder Schritt muss abgeschlossen sein\nвњ“ Kommuniziere klar was du tust\n\nвќЊ NIEMALS:\n- Daten erfinden die nicht da sind\n- Schritte Гјberspringen\n- Fehler ignorieren\n- UnvollstГ¤ndige E-Mails senden\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nрџ“Љ VERFГњGBARE TOOLS\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\n1. **query_database** - Supabase Queries (SELECT, INSERT, UPDATE)\n2. **send_email** - Gmail E-Mail Versand\n3. **convert_html_to_pdf** - HTML zu PDF Konvertierung\n4. **process_data** - JavaScript Datenverarbeitung\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nSTART mit den Lead-Daten die du erhГ¤ltst!\nArbeite Schritt fГјr Schritt durch die Mission!\nMelde jeden Schritt und frage bei Unklarheiten!\n\nLOS GEHT'S! рџљЂ","maxIterations":10}},"id":"874d2ba5-23c6-4f75-9528-65e72461891e","name":"AI Agent: Offer Processor","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[128,-192]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"67540cc6-02b5-45a6-82b7-c8c08272a85f","name":"Schedule: Check for new offers1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-272,-192],"disabled":true},{"parameters":{},"id":"d6140f96-7a63-476d-88ff-f90e0741c6fd","name":"Unversendete Angebote holen1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-64,-192],"credentials":{"supabaseApi":{"id":"LPZHxBlEauv008Tt","name":"Supabase account 2"}}},{"parameters":{"modelId":{"__rl":true,"value":"claude-sonnet-4-20250514","mode":"list","cachedResultName":"claude-sonnet-4-20250514"},"messages":{"values":[{"content":"=Du bist ein intelligenter Angebots-Versand-Assistent fГјr \"Farbe.Fertig.Los\" - einen professionellen Malerservice.\n\n## DEINE AUFGABE\n\nFГјr jeden Lead, den du erhГ¤ltst:\n\n1. DATEN HOLEN\n   - Nutze das \"database\" Tool um Lead-Details, Offer und Line Items aus der Datenbank zu holen\n   \n2. E-MAIL SCHREIBEN\n   - Schreibe eine professionelle, persГ¶nliche Angebots-E-Mail\n   - Nutze Vorname fГјr persГ¶nliche Anrede\n   - Liste die Leistungen kurz auf\n   - Hebe den Gesamtpreis hervor\n   - FГјge WhatsApp-Link ein fГјr Beauftragung\n   \n3. PDF ERSTELLEN\n   - Generiere vollstГ¤ndiges HTML fГјr ein professionelles Angebot\n   - Brand Colors: Orange #FF6B35, Blau #004E89\n   - Tabelle mit allen Positionen\n   - Kunde, Preise, GГјltigkeit\n   \n4. VERSENDEN\n   - Nutze \"send_email\" Tool\n   - Subject: \"Ihr Malerservice-Angebot von Farbe.Fertig.Los\"\n   - PDF als Attachment\n   \n5. DATENBANK UPDATES\n   - UPDATE offers: sent_at = NOW(), status = 'sent'\n   - UPDATE leads: status = 'offer_sent', offer_sent_at = NOW()\n   - INSERT event: 'offer_sent'\n   - INSERT message: Log der E-Mail\n   - INSERT followup: in 3 Tagen\n\n## VERFГњGBARE TOOLS\n\n- **database**: SQL queries (SELECT, INSERT, UPDATE)\n- **send_email**: Gmail versenden\n- **code**: JavaScript fГјr Berechnungen/Formatierung\n\n## INPUT STRUKTUR\n\nDu erhГ¤ltst Lead-Daten mit:\n- lead_id, vorname, nachname, email, phone\n- strasse, hausnummer, plz, ort\n- offer_id, angebots_nummer\n- gesamtpreis_netto, gesamtpreis_brutto, gueltig_bis\n\n## WICHTIG\n\n- Formatiere Datum schГ¶n (z.B. \"14. November 2025\")\n- Berechne MwSt: brutto - netto\n- WhatsApp-Link: https://wa.me/49[NUMMER]?text=...\n- Validiere dass E-Mail-Adresse existiert\n- Handle Fehler gracefully\n- Logge jeden Schritt\n\nArbeite strukturiert. Schritt fГјr Schritt. Nutze die Tools selbststГ¤ndig.\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[576,16],"id":"05ca37e7-7bac-4070-8a4a-3792e956c0f9","name":"Offer Agent","credentials":{"anthropicApi":{"id":"DSb7Itt2r6kfGiHs","name":"Anthropic account"}}},{"parameters":{"sendTo":"={{ $json.lead_email }}","subject":"={{ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[2352,400],"id":"cfef10f0-8a5c-45de-b75c-5f79cbea0e9f","name":"Send a message in Gmail","webhookId":"911828ea-5538-4acf-a9cc-0d6a4e885ead","credentials":{"gmailOAuth2":{"id":"3Towj30wVk4UI8Qp","name":"Gmail account"}}},{"parameters":{"operation":"get","tableId":"offer_lines"},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[960,272],"id":"e51b36fa-bb53-4bd6-a7af-16b691ffac66","name":"Database","credentials":{"supabaseApi":{"id":"LPZHxBlEauv008Tt","name":"Supabase account 2"}}},{"parameters":{"operation":"get","tableId":"offer_lines","filters":{"conditions":[{}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[832,272],"id":"5cbe77f9-7c2a-45e1-9a8b-0866c001e8bd","name":"Get a row in Supabase","credentials":{"supabaseApi":{"id":"LPZHxBlEauv008Tt","name":"Supabase account 2"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[160,96],"id":"0c9acbbc-7dce-44bb-8d58-2b8d943278d9","name":"When Executed by Another Workflow"}],"connections":{"Schedule: Check for new offers":{"main":[[]]},"Unversendete Angebote holen":{"main":[[]]},"Lead-Daten holen":{"main":[[]]},"Line Items holen":{"main":[[]]},"Claude: PDF-HTML generieren":{"main":[[{"node":"HTML extrahieren","type":"main","index":0}]]},"HTML extrahieren":{"main":[[{"node":"HTML в†’ PDF konvertieren","type":"main","index":0}]]},"HTML в†’ PDF konvertieren":{"main":[[{"node":"E-Mail versenden (Gmail)","type":"main","index":0}]]},"E-Mail versenden (Gmail)":{"main":[[{"node":"WhatsApp versenden (Superchat)","type":"main","index":0}]]},"WhatsApp versenden (Superchat)":{"main":[[]]},"E-Mail in DB loggen":{"main":[[{"node":"Angebot als versendet markieren","type":"main","index":0}]]},"WhatsApp in DB loggen":{"main":[[{"node":"Angebot als versendet markieren","type":"main","index":0}]]},"Angebot als versendet markieren":{"main":[[{"node":"Lead-Status updaten","type":"main","index":0}]]},"Lead-Status updaten":{"main":[[{"node":"Event: Offer Sent","type":"main","index":0}]]},"Event: Offer Sent":{"main":[[{"node":"Follow-Up 1 einplanen","type":"main","index":0}]]},"Daten vorbereiten":{"main":[[]]},"Schedule: Check for new offers1":{"main":[[{"node":"Unversendete Angebote holen1","type":"main","index":0}]]},"Unversendete Angebote holen1":{"main":[[{"node":"AI Agent: Offer Processor","type":"main","index":0}]]},"Offer Agent":{"main":[[]]},"Send a message in Gmail":{"ai_tool":[[{"node":"Offer Agent","type":"ai_tool","index":0}]]},"Database":{"ai_tool":[[{"node":"Offer Agent","type":"ai_tool","index":0}]]},"Get a row in Supabase":{"ai_tool":[[{"node":"Offer Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Offer Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d01f3082-0bb9-4c0e-bea2-f541f62a50e9","activeVersionId":"d01f3082-0bb9-4c0e-bea2-f541f62a50e9","versionCounter":18,"triggerCount":0,"shared":[{"updatedAt":"2025-10-31T11:51:49.299Z","createdAt":"2025-10-31T11:51:49.299Z","role":"workflow:owner","workflowId":"us00SoDXhBZGu3eq","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Г–zdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-22T11:39:10.361Z","createdAt":"2025-12-22T11:39:10.361Z","versionId":"d01f3082-0bb9-4c0e-bea2-f541f62a50e9","workflowId":"us00SoDXhBZGu3eq","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"ea4d4dc5-fa12-43cf-baf6-fab53f5d1580","name":"Schedule: Check for new offers","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-560,-192],"disabled":true},{"parameters":{"resource":"__CUSTOM_API_CALL__"},"id":"a0fbea91-ec3b-4df7-9b93-cb9145b29704","name":"Unversendete Angebote holen","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1280,-96],"credentials":{"supabaseApi":{"id":"LPZHxBlEauv008Tt","name":"Supabase account 2"}}},{"parameters":{"operation":"getAll","tableId":"leads","filters":{"conditions":[{"keyName":"status","condition":"eq","keyValue":"={{ $json.status }}"}]}},"id":"8f64002c-8512-4b0c-9b5e-7ec7713fef95","name":"Lead-Daten holen","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1552,-96],"credentials":{"supabaseApi":{"id":"LPZHxBlEauv008Tt","name":"Supabase account 2"}}},{"parameters":{"operation":"get","tableId":"offers","filters":{"conditions":[{"keyName":"status","keyValue":"={{ $json.status }}"}]}},"id":"530d6135-1f69-4fcc-aaec-64807d2f4d25","name":"Line Items holen","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1072,-96],"credentials":{"supabaseApi":{"id":"LPZHxBlEauv008Tt","name":"Supabase account 2"}}},{"parameters":{"jsCode":"// ================================================\n// DATEN VORBEREITEN - FГњR AI AGENT\n// ================================================\n// Dieser Code bereitet die Daten fГјr den AI Agent vor\n// Der Agent schreibt E-Mails und PDFs SELBST\n// ================================================\n\nconst offers = $('Unversendete Angebote holen').all();\nconst leads = $('Lead-Daten holen').all();\nconst lineItems = $('Line Items holen').all();\n\nconst results = [];\n\nfor (let i = 0; i < offers.length; i++) {\n  const offer = offers[i].json;\n  const lead = leads[i].json;\n  \n  // Finde alle Line Items fГјr dieses Offer\n  const offerLineItems = lineItems\n    .filter(item => item.json.offer_id === offer.id)\n    .map(item => ({\n      position: item.json.position,\n      beschreibung: item.json.beschreibung,\n      raum: item.json.raum_name || 'Standard',\n      leistung: item.json.leistung || 'Maler',\n      menge: item.json.menge,\n      einheit: item.json.einheit || 'mВІ',\n      einzelpreis: parseFloat(item.json.einzelpreis || 0),\n      gesamtpreis: parseFloat(item.json.gesamtpreis || 0)\n    }))\n    .sort((a, b) => a.position - b.position);\n\n  // Berechne Preise\n  const gesamtpreis_netto = parseFloat(offer.gesamtpreis_netto || 0);\n  const gesamtpreis_brutto = parseFloat(offer.gesamtpreis_brutto || 0);\n  const mwst = gesamtpreis_brutto - gesamtpreis_netto;\n  \n  // Formatiere Datum\n  const heute = new Date().toLocaleDateString('de-DE', {\n    day: '2-digit',\n    month: 'long',\n    year: 'numeric'\n  });\n  \n  const gueltig_bis = offer.gueltig_bis \n    ? new Date(offer.gueltig_bis).toLocaleDateString('de-DE', {\n        day: '2-digit',\n        month: 'long',\n        year: 'numeric'\n      })\n    : null;\n\n  // Erstelle strukturierte Ausgabe FГњR DEN AGENT\n  results.push({\n    json: {\n      // Lead Informationen\n      lead_id: lead.id,\n      vorname: lead.vorname || '',\n      nachname: lead.nachname || '',\n      email: lead.email,\n      telefon: lead.telefon || '',\n      strasse: lead.strasse || '',\n      plz: lead.plz || '',\n      ort: lead.ort || '',\n      \n      // Offer Informationen\n      offer_id: offer.id,\n      angebots_nummer: offer.angebots_nummer,\n      \n      // Preise (numerisch UND formatiert)\n      gesamtpreis_netto: gesamtpreis_netto,\n      gesamtpreis_netto_formatted: gesamtpreis_netto.toFixed(2).replace('.', ','),\n      gesamtpreis_brutto: gesamtpreis_brutto,\n      gesamtpreis_brutto_formatted: gesamtpreis_brutto.toFixed(2).replace('.', ','),\n      mwst: mwst,\n      mwst_formatted: mwst.toFixed(2).replace('.', ','),\n      \n      // Daten\n      datum_heute: heute,\n      gueltig_bis: gueltig_bis,\n      gueltig_bis_iso: offer.gueltig_bis,\n      \n      // Line Items (Array)\n      line_items: offerLineItems,\n      line_items_count: offerLineItems.length,\n      \n      // Zusammenfassung fГјr schnellen Гњberblick\n      raeume_liste: [...new Set(offerLineItems.map(item => item.raum))].join(', '),\n      leistungen_liste: [...new Set(offerLineItems.map(item => item.leistung))].join(', '),\n      \n      // WhatsApp Nummer (HIER DEINE NUMMER EINTRAGEN!)\n      whatsapp_nummer: '491234567890', // в†ђ Г„NDERE DIES!\n      \n      // Weitere Meta-Daten\n      created_at: offer.created_at,\n      updated_at: offer.updated_at\n    }\n  });\n}\n\nreturn results;"},"id":"c3230f64-d7a7-4560-a89d-df3771b39135","name":"Daten vorbereiten","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,608]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"predefinedCredentialType","nodeCredentialType":"anthropicApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"claude-sonnet-4-20250514"},{"name":"max_tokens","value":"3000"},{"name":"messages","value":"=[{\"role\": \"user\", \"content\": \"{{ $json.pdf_prompt }}\"}]"}]},"options":{}},"id":"f5538ba4-ffb6-4870-b378-a6ce357dcb2c","name":"Claude: PDF-HTML generieren","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[448,608]},{"parameters":{"jsCode":"// HTML aus Claude-Response extrahieren\nconst response = $input.first().json;\nlet html = response.content[0].text;\n\n// Falls in Code-Block, extrahieren\nif (html.includes('```html')) {\n  html = html.split('```html')[1].split('```')[0].trim();\n} else if (html.includes('```')) {\n  html = html.split('```')[1].split('```')[0].trim();\n}\n\nreturn {\n  json: {\n    html: html,\n    offer_id: $('Daten vorbereiten').first().json.offer_id\n  }\n};"},"id":"2db4cef8-3d90-4be4-9877-47add9ec917a","name":"HTML extrahieren","type":"n8n-nodes-base.code","typeVersion":2,"position":[624,608]},{"parameters":{"operation":"htmlToPdf"},"id":"bf194dc0-3499-497a-9954-d6de1773758e","name":"HTML в†’ PDF konvertieren","type":"n8n-nodes-base.convertToFile","typeVersion":1,"position":[816,624]},{"parameters":{"sendTo":"={{ $('Daten vorbereiten').first().json.lead_email }}","subject":"Ihr persГ¶nliches Angebot von Farbe-Fertig-Los","emailType":"text","message":"={{ $('Claude: E-Mail generieren').first().json.content[0].text }}","options":{}},"id":"913e7a8a-d314-40f8-b3af-1701822c66eb","name":"E-Mail versenden (Gmail)","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[832,448],"webhookId":"8f747bcb-7503-4243-98a8-2a7e1448ba17"},{"parameters":{"method":"POST","url":"https://api.superchat.de/v1/messages","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Daten vorbereiten').first().json.lead_phone }}"},{"name":"message","value":"=Hallo {{ $('Daten vorbereiten').first().json.lead_name.split(' ')[0] }}! рџ‘‹\n\nIhr Angebot fГјr {{ $('Daten vorbereiten').first().json.line_items[0].description }} ist fertig!\n\nрџ“§ Wir haben es gerade per E-Mail gesendet.\nрџ’° Gesamtpreis: {{ $('Daten vorbereiten').first().json.total_price }}в‚¬ (inkl. MwSt.)\n\nSie kГ¶nnen direkt:\nрџ“… Termin buchen в†’ https://farbe-fertig-los.de/termin\nвњ… Beauftragen в†’ https://farbe-fertig-los.de/auftrag\n\nFragen? Einfach hier antworten!"}]},"options":{}},"id":"8cf2e746-7732-4915-954f-63a84fbacf9c","name":"WhatsApp versenden (Superchat)","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[800,880]},{"parameters":{"operation":"insert"},"id":"be57137b-0914-44ca-9eee-19aee9091899","name":"E-Mail in DB loggen","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1776,-96],"credentials":{"supabaseApi":{"id":"LPZHxBlEauv008Tt","name":"Supabase account 2"}}},{"parameters":{"operation":"insert"},"id":"94629a86-6655-4066-8f26-b1d4e16edcc3","name":"WhatsApp in DB loggen","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1904,144]},{"parameters":{"operation":"update"},"id":"7486b9b5-8aae-4aeb-befc-5cf004ac6fcf","name":"Angebot als versendet markieren","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2032,-96]},{"parameters":{"operation":"update"},"id":"3c35e258-60e0-46a6-b024-82effb0e1904","name":"Lead-Status updaten","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2256,-96]},{"parameters":{"operation":"insert"},"id":"cbfcdab1-4ea6-40b2-be37-d3f2ba7baaaf","name":"Event: Offer Sent","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2464,-96]},{"parameters":{"operation":"insert"},"id":"4f01e99a-a609-48d5-96de-1168b1dc1f87","name":"Follow-Up 1 einplanen","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2656,-96]},{"parameters":{"options":{"systemMessage":"Du bist ein hochintelligenter Angebots-Assistent fГјr 'Farbe.Fertig.Los' - einen professionellen Malerservice.\n\nDEINE PERSГ–NLICHKEIT:\n- Professionell aber freundlich\n- Detail-orientiert\n- ZuverlГ¤ssig\n- Problem-LГ¶ser\n\nDEINE MISSION:\nFГјr jeden Lead verarbeitest du ein komplettes Angebot von A-Z:\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n1пёЏвѓЈ DATEN SAMMELN\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nвњ“ Hole ALLE Offer Lines fГјr das aktuelle Angebot aus Supabase\n  Query: SELECT * FROM offer_lines WHERE offer_id = {{offer_id}}\n  \nвњ“ Analysiere die Positionen:\n  - Welche RГ¤ume?\n  - Welche Leistungen?\n  - Welche Preise?\n  - Besonderheiten?\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n2пёЏвѓЈ E-MAIL ERSTELLEN\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nSchreibe eine professionelle Angebots-E-Mail:\n\n**TON:**\n- PersГ¶nlich (nutze Vornamen)\n- Warm aber professionell\n- Klar strukturiert\n- VertrauenswГјrdig\n\n**STRUKTUR:**\n```\nBetreff: Ihr Malerservice-Angebot von Farbe.Fertig.Los\n\nLiebe/r [Vorname],\n\nvielen Dank fГјr Ihre Anfrage! Ich habe Ihnen ein individuelles Angebot erstellt.\n\nрџ“‹ IHRE RГ„UME:\n[Liste der RГ¤ume mit Leistungen]\n\nрџ’° INVESTITION:\n[Gesamtpreis] в‚¬ (inkl. MwSt.)\n\nIn diesem Preis ist bereits alles enthalten:\nвњ“ Hochwertige Materialien\nвњ“ SorgfГ¤ltige Vorbereitung\nвњ“ Professionelle AusfГјhrung\nвњ“ GrГјndliche Endreinigung\n\nрџ“„ Das detaillierte Angebot finden Sie im PDF-Anhang.\n\nвЏ° NГ„CHSTE SCHRITTE:\nMГ¶chten Sie uns beauftragen? Dann schreiben Sie mir einfach per WhatsApp:\n\nрџ‘‰ https://wa.me/49[DEINE_NUMMER]?text=Hallo%2C%20ich%20mГ¶chte%20Angebot%20[ANGEBOTSNUMMER]%20beauftragen!\n\nOder rufen Sie mich direkt an: [DEINE_NUMMER]\n\nIch freue mich auf Ihr Projekt!\n\nHerzliche GrГјГџe\nIhr Farbe.Fertig.Los-Team\n```\n\n**WICHTIG:**\n- Nutze {{vorname}} fГјr persГ¶nliche Anrede\n- Liste konkrete RГ¤ume und Leistungen auf\n- Hebe den Gesamtpreis hervor\n- WhatsApp-Link muss funktionieren\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n3пёЏвѓЈ PDF-HTML GENERIEREN\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nErstelle ein professionelles HTML-Dokument:\n\n**BRAND IDENTITY:**\n- Hauptfarbe: #FF6B35 (Orange)\n- Akzentfarbe: #004E89 (Dunkelblau)\n- Schrift: Arial, sans-serif\n- Clean & Modern\n\n**STRUKTUR:**\n```html\n<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <style>\n        body { font-family: Arial, sans-serif; max-width: 800px; margin: 40px auto; }\n        .header { background: #004E89; color: white; padding: 30px; text-align: center; }\n        .logo { font-size: 32px; font-weight: bold; }\n        .content { padding: 30px; }\n        table { width: 100%; border-collapse: collapse; margin: 20px 0; }\n        th { background: #FF6B35; color: white; padding: 12px; text-align: left; }\n        td { border-bottom: 1px solid #ddd; padding: 12px; }\n        .total { background: #f5f5f5; font-weight: bold; }\n        .footer { background: #f9f9f9; padding: 20px; margin-top: 30px; }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <div class=\"logo\">FARBE.FERTIG.LOS</div>\n        <p>Ihr Malerservice in Hamburg & Schleswig-Holstein</p>\n    </div>\n    \n    <div class=\"content\">\n        <h1>Angebot Nr. [ANGEBOTSNUMMER]</h1>\n        \n        <p><strong>Datum:</strong> [DATUM]</p>\n        <p><strong>GГјltig bis:</strong> [GUELTIG_BIS]</p>\n        \n        <h2>Kunde</h2>\n        <p>\n            [VORNAME] [NACHNAME]<br>\n            [STRASSE]<br>\n            [PLZ] [ORT]\n        </p>\n        \n        <h2>Leistungen</h2>\n        <table>\n            <thead>\n                <tr>\n                    <th>Pos.</th>\n                    <th>Beschreibung</th>\n                    <th>Menge</th>\n                    <th>Preis</th>\n                </tr>\n            </thead>\n            <tbody>\n                [POSITIONS_TABLE_ROWS]\n            </tbody>\n            <tfoot>\n                <tr class=\"total\">\n                    <td colspan=\"3\">Netto</td>\n                    <td>[NETTO] в‚¬</td>\n                </tr>\n                <tr class=\"total\">\n                    <td colspan=\"3\">MwSt. 19%</td>\n                    <td>[MWST] в‚¬</td>\n                </tr>\n                <tr class=\"total\">\n                    <td colspan=\"3\"><strong>GESAMT</strong></td>\n                    <td><strong>[BRUTTO] в‚¬</strong></td>\n                </tr>\n            </tfoot>\n        </table>\n        \n        <div class=\"footer\">\n            <h3>Kontakt</h3>\n            <p>\n                Farbe.Fertig.Los<br>\n                Tel: [DEINE_NUMMER]<br>\n                Web: farbe-fertig-los.de\n            </p>\n        </div>\n    </div>\n</body>\n</html>\n```\n\n**WICHTIG:**\n- Ersetze ALLE Platzhalter mit echten Daten\n- Erstelle Tabellenzeilen fГјr jede Position\n- Rechne MwSt korrekt aus\n- HTML muss valide sein (keine Fehler!)\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n4пёЏвѓЈ PDF KONVERTIEREN\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nKonvertiere das HTML zu PDF:\n- Nutze das 'convert_html_to_pdf' Tool\n- Гњbergib das komplette HTML\n- Erhalte PDF als Base64\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n5пёЏвѓЈ E-MAIL VERSENDEN\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nVersende die E-Mail via Gmail:\n\n**Parameter:**\n- To: {{email}}\n- Subject: \"Ihr Malerservice-Angebot von Farbe.Fertig.Los\"\n- Body: [Deine generierte E-Mail]\n- Attachment: [Das PDF]\n- From: \"Farbe.Fertig.Los\" <info@farbe-fertig-los.de>\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n6пёЏвѓЈ DATENBANK LOGGING\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nLogge ALLE Aktionen in Supabase:\n\n**1. Update Offer:**\n```sql\nUPDATE offers \nSET sent_at = NOW(), \n    status = 'sent'\nWHERE id = {{offer_id}}\n```\n\n**2. Update Lead:**\n```sql\nUPDATE leads \nSET status = 'offer_sent',\n    offer_sent_at = NOW(),\n    last_contact = NOW()\nWHERE id = {{lead_id}}\n```\n\n**3. Insert Event:**\n```sql\nINSERT INTO events (lead_id, event_type, description, metadata)\nVALUES (\n    {{lead_id}},\n    'offer_sent',\n    'Angebot per E-Mail versendet',\n    '{\"offer_id\": {{offer_id}}, \"angebots_nummer\": \"{{angebots_nummer}}\"}'\n)\n```\n\n**4. Insert Message:**\n```sql\nINSERT INTO messages (lead_id, direction, channel, content, sent_at)\nVALUES (\n    {{lead_id}},\n    'outbound',\n    'email',\n    '{{email_text}}',\n    NOW()\n)\n```\n\n**5. Create Follow-Up:**\n```sql\nINSERT INTO followups (lead_id, scheduled_for, type, status)\nVALUES (\n    {{lead_id}},\n    NOW() + INTERVAL '3 days',\n    'offer_followup',\n    'pending'\n)\n```\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nрџЋЇ WICHTIGE REGELN\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nвњ“ Nutze die verfГјgbaren Tools SELBSTSTГ„NDIG\nвњ“ Handle Errors gracefully (wenn etwas fehlschlГ¤gt, logge es und fahre fort)\nвњ“ Validiere Daten bevor du sie nutzt (E-Mail, Telefon, etc.)\nвњ“ Sei grГјndlich - jeder Schritt muss abgeschlossen sein\nвњ“ Kommuniziere klar was du tust\n\nвќЊ NIEMALS:\n- Daten erfinden die nicht da sind\n- Schritte Гјberspringen\n- Fehler ignorieren\n- UnvollstГ¤ndige E-Mails senden\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nрџ“Љ VERFГњGBARE TOOLS\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\n1. **query_database** - Supabase Queries (SELECT, INSERT, UPDATE)\n2. **send_email** - Gmail E-Mail Versand\n3. **convert_html_to_pdf** - HTML zu PDF Konvertierung\n4. **process_data** - JavaScript Datenverarbeitung\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nSTART mit den Lead-Daten die du erhГ¤ltst!\nArbeite Schritt fГјr Schritt durch die Mission!\nMelde jeden Schritt und frage bei Unklarheiten!\n\nLOS GEHT'S! рџљЂ","maxIterations":10}},"id":"874d2ba5-23c6-4f75-9528-65e72461891e","name":"AI Agent: Offer Processor","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[128,-192]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"67540cc6-02b5-45a6-82b7-c8c08272a85f","name":"Schedule: Check for new offers1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-272,-192],"disabled":true},{"parameters":{},"id":"d6140f96-7a63-476d-88ff-f90e0741c6fd","name":"Unversendete Angebote holen1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-64,-192],"credentials":{"supabaseApi":{"id":"LPZHxBlEauv008Tt","name":"Supabase account 2"}}},{"parameters":{"modelId":{"__rl":true,"value":"claude-sonnet-4-20250514","mode":"list","cachedResultName":"claude-sonnet-4-20250514"},"messages":{"values":[{"content":"=Du bist ein intelligenter Angebots-Versand-Assistent fГјr \"Farbe.Fertig.Los\" - einen professionellen Malerservice.\n\n## DEINE AUFGABE\n\nFГјr jeden Lead, den du erhГ¤ltst:\n\n1. DATEN HOLEN\n   - Nutze das \"database\" Tool um Lead-Details, Offer und Line Items aus der Datenbank zu holen\n   \n2. E-MAIL SCHREIBEN\n   - Schreibe eine professionelle, persГ¶nliche Angebots-E-Mail\n   - Nutze Vorname fГјr persГ¶nliche Anrede\n   - Liste die Leistungen kurz auf\n   - Hebe den Gesamtpreis hervor\n   - FГјge WhatsApp-Link ein fГјr Beauftragung\n   \n3. PDF ERSTELLEN\n   - Generiere vollstГ¤ndiges HTML fГјr ein professionelles Angebot\n   - Brand Colors: Orange #FF6B35, Blau #004E89\n   - Tabelle mit allen Positionen\n   - Kunde, Preise, GГјltigkeit\n   \n4. VERSENDEN\n   - Nutze \"send_email\" Tool\n   - Subject: \"Ihr Malerservice-Angebot von Farbe.Fertig.Los\"\n   - PDF als Attachment\n   \n5. DATENBANK UPDATES\n   - UPDATE offers: sent_at = NOW(), status = 'sent'\n   - UPDATE leads: status = 'offer_sent', offer_sent_at = NOW()\n   - INSERT event: 'offer_sent'\n   - INSERT message: Log der E-Mail\n   - INSERT followup: in 3 Tagen\n\n## VERFГњGBARE TOOLS\n\n- **database**: SQL queries (SELECT, INSERT, UPDATE)\n- **send_email**: Gmail versenden\n- **code**: JavaScript fГјr Berechnungen/Formatierung\n\n## INPUT STRUKTUR\n\nDu erhГ¤ltst Lead-Daten mit:\n- lead_id, vorname, nachname, email, phone\n- strasse, hausnummer, plz, ort\n- offer_id, angebots_nummer\n- gesamtpreis_netto, gesamtpreis_brutto, gueltig_bis\n\n## WICHTIG\n\n- Formatiere Datum schГ¶n (z.B. \"14. November 2025\")\n- Berechne MwSt: brutto - netto\n- WhatsApp-Link: https://wa.me/49[NUMMER]?text=...\n- Validiere dass E-Mail-Adresse existiert\n- Handle Fehler gracefully\n- Logge jeden Schritt\n\nArbeite strukturiert. Schritt fГјr Schritt. Nutze die Tools selbststГ¤ndig.\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[576,16],"id":"05ca37e7-7bac-4070-8a4a-3792e956c0f9","name":"Offer Agent","credentials":{"anthropicApi":{"id":"DSb7Itt2r6kfGiHs","name":"Anthropic account"}}},{"parameters":{"sendTo":"={{ $json.lead_email }}","subject":"={{ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[2352,400],"id":"cfef10f0-8a5c-45de-b75c-5f79cbea0e9f","name":"Send a message in Gmail","webhookId":"911828ea-5538-4acf-a9cc-0d6a4e885ead","credentials":{"gmailOAuth2":{"id":"3Towj30wVk4UI8Qp","name":"Gmail account"}}},{"parameters":{"operation":"get","tableId":"offer_lines"},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[960,272],"id":"e51b36fa-bb53-4bd6-a7af-16b691ffac66","name":"Database","credentials":{"supabaseApi":{"id":"LPZHxBlEauv008Tt","name":"Supabase account 2"}}},{"parameters":{"operation":"get","tableId":"offer_lines","filters":{"conditions":[{}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[832,272],"id":"5cbe77f9-7c2a-45e1-9a8b-0866c001e8bd","name":"Get a row in Supabase","credentials":{"supabaseApi":{"id":"LPZHxBlEauv008Tt","name":"Supabase account 2"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[160,96],"id":"0c9acbbc-7dce-44bb-8d58-2b8d943278d9","name":"When Executed by Another Workflow"}],"connections":{"Schedule: Check for new offers":{"main":[[]]},"Unversendete Angebote holen":{"main":[[]]},"Lead-Daten holen":{"main":[[]]},"Line Items holen":{"main":[[]]},"Claude: PDF-HTML generieren":{"main":[[{"node":"HTML extrahieren","type":"main","index":0}]]},"HTML extrahieren":{"main":[[{"node":"HTML в†’ PDF konvertieren","type":"main","index":0}]]},"HTML в†’ PDF konvertieren":{"main":[[{"node":"E-Mail versenden (Gmail)","type":"main","index":0}]]},"E-Mail versenden (Gmail)":{"main":[[{"node":"WhatsApp versenden (Superchat)","type":"main","index":0}]]},"WhatsApp versenden (Superchat)":{"main":[[]]},"E-Mail in DB loggen":{"main":[[{"node":"Angebot als versendet markieren","type":"main","index":0}]]},"WhatsApp in DB loggen":{"main":[[{"node":"Angebot als versendet markieren","type":"main","index":0}]]},"Angebot als versendet markieren":{"main":[[{"node":"Lead-Status updaten","type":"main","index":0}]]},"Lead-Status updaten":{"main":[[{"node":"Event: Offer Sent","type":"main","index":0}]]},"Event: Offer Sent":{"main":[[{"node":"Follow-Up 1 einplanen","type":"main","index":0}]]},"Daten vorbereiten":{"main":[[]]},"Schedule: Check for new offers1":{"main":[[{"node":"Unversendete Angebote holen1","type":"main","index":0}]]},"Unversendete Angebote holen1":{"main":[[{"node":"AI Agent: Offer Processor","type":"main","index":0}]]},"Offer Agent":{"main":[[]]},"Send a message in Gmail":{"ai_tool":[[{"node":"Offer Agent","type":"ai_tool","index":0}]]},"Database":{"ai_tool":[[{"node":"Offer Agent","type":"ai_tool","index":0}]]},"Get a row in Supabase":{"ai_tool":[[{"node":"Offer Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Offer Agent","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-11-13T19:13:42.000Z","id":6,"workflowId":"us00SoDXhBZGu3eq","versionId":"d01f3082-0bb9-4c0e-bea2-f541f62a50e9","event":"activated","userId":null}]}}