n8n-workflows/M1_04b_Create_Project_Tree.json
{"updatedAt":"2026-01-03T12:23:26.686Z","createdAt":"2025-12-22T16:05:24.997Z","id":"P0ETfL7ZozQKEeM6","name":"M1_04b_Create_Project_Tree","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"m1-04b-create-project-tree","responseMode":"responseNode","options":{}},"id":"bbd3053e-3b47-430f-8222-d3046141fbd7","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1248,128],"webhookId":"m1-04b-create-project-tree","notes":"Receives DRIVE_YEAR_READY events from MX_00_Event_Router"},{"parameters":{"jsCode":"// Extract event data from router payload\nconst input = $input.first().json;\n\n// Router sends: { event_id, event_type, project_id, payload }\nconst eventId = input.body?.event_id || input.event_id;\nconst projectId = input.body?.project_id || input.project_id;\nconst payload = input.body?.payload || input.payload || {};\n\n// Step key is project-specific\nconst stepKey = `drive_tree:${projectId}`;\n\nreturn {\n  json: {\n    event_id: eventId,\n    project_id: projectId,\n    year_folder_id: payload.year_folder_id,\n    year: payload.year,\n    step_key: stepKey\n  }\n};"},"id":"b4608054-b15d-4242-a1d0-29e90c9225b9","name":"Parse Event Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,128],"notes":"Extracts event data and calculates step_key for project tree"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n  '{{ $json.step_key }}',\n  '{{ $json.project_id }}'::uuid,\n  'DRIVE_TREE'\n);","options":{}},"id":"f54234f8-daf0-44ab-add8-647096bf21e9","name":"Claim Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1696,128],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Atomic claim to prevent duplicate processing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-claimed","leftValue":"={{ $json.claimed }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"613f9ab5-15f7-42ac-b0fc-2920e45e3865","name":"Step Claimed?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1920,128],"notes":"If claimed=true: proceed. If false: either DONE or IN_PROGRESS"},{"parameters":{"operation":"executeQuery","query":"SELECT \n  p.id,\n  p.project_number,\n  p.name,\n  p.object_street,\n  c.company_name as client_name\nFROM projects p\nLEFT JOIN clients c ON p.client_id = c.id\nWHERE p.id = '{{ $('Parse Event Data').item.json.project_id }}'::uuid;","options":{}},"id":"5d710b45-2d08-458e-bf05-136a4111fe4a","name":"Fetch Project","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2128,16],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Loads project details for folder naming"},{"parameters":{"jsCode":"// Build folder name: P-2025-001 SAGA Musterstraße 1\nconst project = $input.first().json;\nconst eventData = $('Parse Event Data').first().json;\n\n// Extract components\nconst projectNumber = project.project_number || 'UNKNOWN';\nconst clientName = project.client_name || 'Kunde';\nconst street = project.object_street || project.name || 'Projekt';\n\n// Build folder name\nconst folderName = `${projectNumber} ${clientName} ${street}`;\n\n// Subfolder definitions (9 folders)\nconst subfolders = [\n  { name: '01_Auftrag', type: 'AUFTRAG' },\n  { name: '02_Angebot', type: 'ANGEBOT' },\n  { name: '03_Aufmass', type: 'AUFMASS' },\n  { name: '04_Rechnung', type: 'RECHNUNG' },\n  { name: '05_Bauakte', type: 'BAUAKTE' },\n  { name: '06_Protokolle', type: 'PROTOKOLLE' },\n  { name: '07_Fotos', type: 'FOTOS' },\n  { name: '08_Kommunikation', type: 'KOMMUNIKATION' },\n  { name: '09_Sonstiges', type: 'SONSTIGES' }\n];\n\nreturn {\n  json: {\n    project_id: eventData.project_id,\n    event_id: eventData.event_id,\n    year_folder_id: eventData.year_folder_id,\n    step_key: eventData.step_key,\n    folder_name: folderName,\n    subfolders: subfolders\n  }\n};"},"id":"ad15a808-deda-41f0-a940-1cb914d3d74f","name":"Prepare Folder Structure","type":"n8n-nodes-base.code","typeVersion":2,"position":[2352,16],"notes":"Builds folder name and subfolder list"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"supportsAllDrives","value":"true"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $json.folder_name }}\",\n  \"mimeType\": \"application/vnd.google-apps.folder\",\n  \"parents\": [\"{{ $json.year_folder_id }}\"]\n}","options":{}},"id":"a24e2e4d-c7eb-486b-abb9-071b3b82177c","name":"Create Project Folder","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2576,16],"credentials":{"googleDriveOAuth2Api":{"id":"aYft6Y1rBlcl2pcf","name":"Google Drive account"}},"notes":"Creates main project folder in year folder"},{"parameters":{"jsCode":"// Extract project folder ID and prepare for subfolders\nconst createResult = $input.first().json;\nconst prepData = $('Prepare Folder Structure').first().json;\n\nreturn {\n  json: {\n    project_id: prepData.project_id,\n    event_id: prepData.event_id,\n    step_key: prepData.step_key,\n    project_folder_id: createResult.id,\n    project_folder_name: createResult.name,\n    subfolders: prepData.subfolders\n  }\n};"},"id":"c36e9f02-bc39-4ce3-a980-ae8233012cfa","name":"Extract Project Folder ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[2800,16],"notes":"Extracts project folder ID for subfolder creation"},{"parameters":{"jsCode":"// Create items for each subfolder\nconst data = $input.first().json;\n\n// Return an array item for each subfolder\nreturn data.subfolders.map(sf => ({\n  json: {\n    project_id: data.project_id,\n    event_id: data.event_id,\n    step_key: data.step_key,\n    project_folder_id: data.project_folder_id,\n    project_folder_name: data.project_folder_name,\n    subfolder_name: sf.name,\n    subfolder_type: sf.type\n  }\n}));"},"id":"c0390c88-c1a0-4251-9567-26f698c2ea91","name":"Split to Subfolders","type":"n8n-nodes-base.code","typeVersion":2,"position":[3008,16],"notes":"Creates 9 items, one for each subfolder"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"supportsAllDrives","value":"true"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $json.subfolder_name }}\",\n  \"mimeType\": \"application/vnd.google-apps.folder\",\n  \"parents\": [\"{{ $json.project_folder_id }}\"]\n}","options":{}},"id":"3d4fd4c1-b2c3-4d8d-8774-6c6e91c10480","name":"Create Subfolder","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3232,16],"credentials":{"googleDriveOAuth2Api":{"id":"aYft6Y1rBlcl2pcf","name":"Google Drive account"}},"notes":"Creates each subfolder - runs 9 times in loop"},{"parameters":{"jsCode":"// Collect all subfolder results and prepare DB inserts\nconst items = $input.all();\nconst firstItem = $('Split to Subfolders').first().json;\n\n// Map results to folder records\nconst folderRecords = items.map((item, idx) => {\n  const inputItem = $('Split to Subfolders').all()[idx].json;\n  return {\n    folder_type: inputItem.subfolder_type,\n    folder_name: inputItem.subfolder_name,\n    drive_folder_id: item.json.id\n  };\n});\n\n// Build SQL for inserting all folders\nconst projectRootInsert = `INSERT INTO project_drive_folders (project_id, folder_type, folder_name, drive_folder_id, is_created, created_in_drive_at)\nVALUES ('${firstItem.project_id}'::uuid, 'PROJECT_ROOT', '${firstItem.project_folder_name.replace(/'/g, \"''\")}', '${firstItem.project_folder_id}', true, now())`;\n\nconst subfolderInserts = folderRecords.map(f => \n  `INSERT INTO project_drive_folders (project_id, folder_type, folder_name, drive_folder_id, is_created, created_in_drive_at)\n  VALUES ('${firstItem.project_id}'::uuid, '${f.folder_type}', '${f.folder_name}', '${f.drive_folder_id}', true, now())`\n).join(';\\n');\n\nconst updateProject = `UPDATE projects SET drive_folder_id = '${firstItem.project_folder_id}' WHERE id = '${firstItem.project_id}'::uuid`;\n\nreturn {\n  json: {\n    project_id: firstItem.project_id,\n    event_id: firstItem.event_id,\n    step_key: firstItem.step_key,\n    project_folder_id: firstItem.project_folder_id,\n    project_folder_name: firstItem.project_folder_name,\n    subfolder_count: folderRecords.length,\n    sql: `${projectRootInsert};\\n${subfolderInserts};\\n${updateProject};`,\n    folder_records: folderRecords\n  }\n};"},"id":"89bb5e21-6eb5-472f-b444-b238ae6b124d","name":"Collect and Prepare DB","type":"n8n-nodes-base.code","typeVersion":2,"position":[3456,16],"notes":"Collects all subfolder IDs and builds SQL for DB insert"},{"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"id":"147e2108-2188-4b7b-a68d-18624f61e574","name":"Insert Folder Records","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3680,16],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Inserts all folder records into project_drive_folders and updates projects"},{"parameters":{"operation":"executeQuery","query":"SELECT complete_workflow_step(\n  '{{ $('Collect and Prepare DB').item.json.step_key }}',\n  '{\"project_folder_id\": \"{{ $('Collect and Prepare DB').item.json.project_folder_id }}\", \"subfolder_count\": {{ $('Collect and Prepare DB').item.json.subfolder_count }}}'\n);","options":{}},"id":"2a4aea0f-b23c-4d3d-95ab-953b1453fdea","name":"Complete Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3888,16],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Marks step as DONE with folder payload"},{"parameters":{"jsCode":"// Prepare event payload for DRIVE_TREE_CREATED\nconst data = $('Collect and Prepare DB').first().json;\n\nreturn {\n  json: {\n    project_id: data.project_id,\n    event_id: data.event_id,\n    project_folder_id: data.project_folder_id\n  }\n};"},"id":"421f718f-6f22-4e55-9a9f-7bbc786b2aa2","name":"Prepare Event Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[4112,16],"notes":"Prepares data for DRIVE_TREE_CREATED event"},{"parameters":{"operation":"executeQuery","query":"-- Mark input event as processed\nDO $$ BEGIN\n  UPDATE events SET processed_at = now() WHERE id = '{{ $json.event_id }}'::uuid;\nEXCEPTION WHEN invalid_text_representation THEN NULL;\nEND $$;\n\n-- Emit next event\nINSERT INTO events (event_type, project_id, payload, source_system, source_flow)\nVALUES (\n  'DRIVE_TREE_CREATED',\n  '{{ $json.project_id }}'::uuid,\n  '{\"project_folder_id\": \"{{ $json.project_folder_id }}\"}',\n  'n8n',\n  'M1_04b_Create_Project_Tree'\n)\nRETURNING id, event_type::text, project_id;","options":{}},"id":"344a1f6b-2320-4184-980e-293a089544fe","name":"Emit DRIVE_TREE_CREATED","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4336,16],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Marks input event as processed and emits DRIVE_TREE_CREATED"},{"parameters":{"jsCode":"return {\n  json: {\n    status: 'success',\n    message: 'DRIVE_TREE_CREATED emitted',\n    project_id: $input.first().json.project_id,\n    project_folder_id: $('Prepare Event Payload').first().json.project_folder_id\n  }\n};"},"id":"8ff007b0-ebdf-444b-ad83-ad8bcf7b6335","name":"Done (Main Path)","type":"n8n-nodes-base.code","typeVersion":2,"position":[4560,16],"notes":"Success response for main path"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"3ec318cf-cb60-4569-a1a9-ea8b10e57b98","name":"Respond (Main)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[4768,16]},{"parameters":{"jsCode":"// Step already done or in progress by another run\nconst claimResult = $input.first().json;\nconst eventData = $('Parse Event Data').first().json;\n\nif (claimResult.current_status === 'DONE') {\n  // Already done - emit event with existing payload\n  return {\n    json: {\n      action: 'skip_but_emit',\n      reason: 'Project tree already exists',\n      project_folder_id: claimResult.existing_payload?.project_folder_id || null,\n      project_id: eventData.project_id,\n      event_id: eventData.event_id\n    }\n  };\n}\n\n// IN_PROGRESS by another run - do nothing\nreturn {\n  json: {\n    action: 'exit',\n    reason: 'Step in progress by another run',\n    current_status: claimResult.current_status\n  }\n};"},"id":"2868a17a-db38-4961-9eb8-73cd765de89d","name":"Handle Not Claimed","type":"n8n-nodes-base.code","typeVersion":2,"position":[2128,288],"notes":"Handles case when step was already claimed or done"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-action","leftValue":"={{ $json.action }}","rightValue":"skip_but_emit","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"4d5488b6-a8db-4d48-8117-38a3499e3d88","name":"Should Emit Event?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2352,288],"notes":"If tree exists, we still need to emit DRIVE_TREE_CREATED for this project"},{"parameters":{"jsCode":"// Prepare event for skip path\nconst data = $input.first().json;\n\nreturn {\n  json: {\n    project_id: data.project_id,\n    event_id: data.event_id,\n    project_folder_id: data.project_folder_id\n  }\n};"},"id":"80c3cd18-dd7f-4d86-afe1-3002787d1e93","name":"Prepare Skip Emit","type":"n8n-nodes-base.code","typeVersion":2,"position":[2576,208],"notes":"Prepares data for event when skipping (tree exists)"},{"parameters":{"operation":"executeQuery","query":"-- Mark input event as processed\nUPDATE events SET processed_at = now() WHERE id = '{{ $json.event_id }}'::uuid;\n\n-- Emit next event (tree already exists from previous attempt)\nINSERT INTO events (event_type, project_id, payload, source_system, source_flow)\nVALUES (\n  'DRIVE_TREE_CREATED',\n  '{{ $json.project_id }}'::uuid,\n  '{\"project_folder_id\": \"{{ $json.project_folder_id }}\", \"reused\": true}',\n  'n8n',\n  'M1_04b_Create_Project_Tree'\n)\nRETURNING id, event_type::text, project_id;","options":{}},"id":"e66ede44-e439-4bb9-a3c7-b0faa06c1a8a","name":"Emit DRIVE_TREE_CREATED (Skip)","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2800,208],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Emits event when tree already existed"},{"parameters":{"jsCode":"return {\n  json: {\n    status: 'success',\n    message: 'DRIVE_TREE_CREATED emitted (reused folder)',\n    project_id: $input.first().json.project_id\n  }\n};"},"id":"7df3adf3-6c94-4022-b161-02972de49532","name":"Done (Skip Path)","type":"n8n-nodes-base.code","typeVersion":2,"position":[3008,208],"notes":"Success response for skip path"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"f12530b4-4bbf-43cb-bf8f-c12eb901bb69","name":"Respond (Skip)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[3232,208]},{"parameters":{"jsCode":"// Exit - another run is handling this\nreturn {\n  json: {\n    status: 'skipped',\n    message: 'Step in progress by another run'\n  }\n};"},"id":"39fdae13-32d0-40db-8fea-4e5308805f0c","name":"Done (Exit)","type":"n8n-nodes-base.code","typeVersion":2,"position":[2576,368],"notes":"Exit when step is in progress"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"5eae6733-c9a2-46d9-b8d6-3f0669dd7bc1","name":"Respond (Exit)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2800,368]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Event Data","type":"main","index":0}]]},"Parse Event Data":{"main":[[{"node":"Claim Workflow Step","type":"main","index":0}]]},"Claim Workflow Step":{"main":[[{"node":"Step Claimed?","type":"main","index":0}]]},"Step Claimed?":{"main":[[{"node":"Fetch Project","type":"main","index":0}],[{"node":"Handle Not Claimed","type":"main","index":0}]]},"Fetch Project":{"main":[[{"node":"Prepare Folder Structure","type":"main","index":0}]]},"Prepare Folder Structure":{"main":[[{"node":"Create Project Folder","type":"main","index":0}]]},"Create Project Folder":{"main":[[{"node":"Extract Project Folder ID","type":"main","index":0}]]},"Extract Project Folder ID":{"main":[[{"node":"Split to Subfolders","type":"main","index":0}]]},"Split to Subfolders":{"main":[[{"node":"Create Subfolder","type":"main","index":0}]]},"Create Subfolder":{"main":[[{"node":"Collect and Prepare DB","type":"main","index":0}]]},"Collect and Prepare DB":{"main":[[{"node":"Insert Folder Records","type":"main","index":0}]]},"Insert Folder Records":{"main":[[{"node":"Complete Workflow Step","type":"main","index":0}]]},"Complete Workflow Step":{"main":[[{"node":"Prepare Event Payload","type":"main","index":0}]]},"Prepare Event Payload":{"main":[[{"node":"Emit DRIVE_TREE_CREATED","type":"main","index":0}]]},"Emit DRIVE_TREE_CREATED":{"main":[[{"node":"Done (Main Path)","type":"main","index":0}]]},"Done (Main Path)":{"main":[[{"node":"Respond (Main)","type":"main","index":0}]]},"Handle Not Claimed":{"main":[[{"node":"Should Emit Event?","type":"main","index":0}]]},"Should Emit Event?":{"main":[[{"node":"Prepare Skip Emit","type":"main","index":0}],[{"node":"Done (Exit)","type":"main","index":0}]]},"Prepare Skip Emit":{"main":[[{"node":"Emit DRIVE_TREE_CREATED (Skip)","type":"main","index":0}]]},"Emit DRIVE_TREE_CREATED (Skip)":{"main":[[{"node":"Done (Skip Path)","type":"main","index":0}]]},"Done (Skip Path)":{"main":[[{"node":"Respond (Skip)","type":"main","index":0}]]},"Done (Exit)":{"main":[[{"node":"Respond (Exit)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":true,"errorWorkflow":"apmJoMCbOchwfqTp"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6124c643-7ceb-448d-9d0c-7982a6fdb3c8","activeVersionId":"6124c643-7ceb-448d-9d0c-7982a6fdb3c8","versionCounter":72,"triggerCount":1,"shared":[{"updatedAt":"2025-12-22T16:05:25.004Z","createdAt":"2025-12-22T16:05:25.004Z","role":"workflow:owner","workflowId":"P0ETfL7ZozQKEeM6","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[{"updatedAt":"2025-12-28T13:45:52.149Z","createdAt":"2025-12-28T13:45:52.149Z","id":"Gqc9kzZecA8tXfMd","name":"M1 - Intake"}],"activeVersion":{"updatedAt":"2025-12-28T15:39:24.000Z","createdAt":"2025-12-28T15:39:21.643Z","versionId":"6124c643-7ceb-448d-9d0c-7982a6fdb3c8","workflowId":"P0ETfL7ZozQKEeM6","nodes":[{"parameters":{"httpMethod":"POST","path":"m1-04b-create-project-tree","responseMode":"responseNode","options":{}},"id":"bbd3053e-3b47-430f-8222-d3046141fbd7","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1248,128],"webhookId":"m1-04b-create-project-tree","notes":"Receives DRIVE_YEAR_READY events from MX_00_Event_Router"},{"parameters":{"jsCode":"// Extract event data from router payload\nconst input = $input.first().json;\n\n// Router sends: { event_id, event_type, project_id, payload }\nconst eventId = input.body?.event_id || input.event_id;\nconst projectId = input.body?.project_id || input.project_id;\nconst payload = input.body?.payload || input.payload || {};\n\n// Step key is project-specific\nconst stepKey = `drive_tree:${projectId}`;\n\nreturn {\n  json: {\n    event_id: eventId,\n    project_id: projectId,\n    year_folder_id: payload.year_folder_id,\n    year: payload.year,\n    step_key: stepKey\n  }\n};"},"id":"b4608054-b15d-4242-a1d0-29e90c9225b9","name":"Parse Event Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,128],"notes":"Extracts event data and calculates step_key for project tree"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n  '{{ $json.step_key }}',\n  '{{ $json.project_id }}'::uuid,\n  'DRIVE_TREE'\n);","options":{}},"id":"f54234f8-daf0-44ab-add8-647096bf21e9","name":"Claim Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1696,128],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Atomic claim to prevent duplicate processing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-claimed","leftValue":"={{ $json.claimed }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"613f9ab5-15f7-42ac-b0fc-2920e45e3865","name":"Step Claimed?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1920,128],"notes":"If claimed=true: proceed. If false: either DONE or IN_PROGRESS"},{"parameters":{"operation":"executeQuery","query":"SELECT \n  p.id,\n  p.project_number,\n  p.name,\n  p.object_street,\n  c.company_name as client_name\nFROM projects p\nLEFT JOIN clients c ON p.client_id = c.id\nWHERE p.id = '{{ $('Parse Event Data').item.json.project_id }}'::uuid;","options":{}},"id":"5d710b45-2d08-458e-bf05-136a4111fe4a","name":"Fetch Project","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2128,16],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Loads project details for folder naming"},{"parameters":{"jsCode":"// Build folder name: P-2025-001 SAGA Musterstraße 1\nconst project = $input.first().json;\nconst eventData = $('Parse Event Data').first().json;\n\n// Extract components\nconst projectNumber = project.project_number || 'UNKNOWN';\nconst clientName = project.client_name || 'Kunde';\nconst street = project.object_street || project.name || 'Projekt';\n\n// Build folder name\nconst folderName = `${projectNumber} ${clientName} ${street}`;\n\n// Subfolder definitions (9 folders)\nconst subfolders = [\n  { name: '01_Auftrag', type: 'AUFTRAG' },\n  { name: '02_Angebot', type: 'ANGEBOT' },\n  { name: '03_Aufmass', type: 'AUFMASS' },\n  { name: '04_Rechnung', type: 'RECHNUNG' },\n  { name: '05_Bauakte', type: 'BAUAKTE' },\n  { name: '06_Protokolle', type: 'PROTOKOLLE' },\n  { name: '07_Fotos', type: 'FOTOS' },\n  { name: '08_Kommunikation', type: 'KOMMUNIKATION' },\n  { name: '09_Sonstiges', type: 'SONSTIGES' }\n];\n\nreturn {\n  json: {\n    project_id: eventData.project_id,\n    event_id: eventData.event_id,\n    year_folder_id: eventData.year_folder_id,\n    step_key: eventData.step_key,\n    folder_name: folderName,\n    subfolders: subfolders\n  }\n};"},"id":"ad15a808-deda-41f0-a940-1cb914d3d74f","name":"Prepare Folder Structure","type":"n8n-nodes-base.code","typeVersion":2,"position":[2352,16],"notes":"Builds folder name and subfolder list"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"supportsAllDrives","value":"true"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $json.folder_name }}\",\n  \"mimeType\": \"application/vnd.google-apps.folder\",\n  \"parents\": [\"{{ $json.year_folder_id }}\"]\n}","options":{}},"id":"a24e2e4d-c7eb-486b-abb9-071b3b82177c","name":"Create Project Folder","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2576,16],"credentials":{"googleDriveOAuth2Api":{"id":"aYft6Y1rBlcl2pcf","name":"Google Drive account"}},"notes":"Creates main project folder in year folder"},{"parameters":{"jsCode":"// Extract project folder ID and prepare for subfolders\nconst createResult = $input.first().json;\nconst prepData = $('Prepare Folder Structure').first().json;\n\nreturn {\n  json: {\n    project_id: prepData.project_id,\n    event_id: prepData.event_id,\n    step_key: prepData.step_key,\n    project_folder_id: createResult.id,\n    project_folder_name: createResult.name,\n    subfolders: prepData.subfolders\n  }\n};"},"id":"c36e9f02-bc39-4ce3-a980-ae8233012cfa","name":"Extract Project Folder ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[2800,16],"notes":"Extracts project folder ID for subfolder creation"},{"parameters":{"jsCode":"// Create items for each subfolder\nconst data = $input.first().json;\n\n// Return an array item for each subfolder\nreturn data.subfolders.map(sf => ({\n  json: {\n    project_id: data.project_id,\n    event_id: data.event_id,\n    step_key: data.step_key,\n    project_folder_id: data.project_folder_id,\n    project_folder_name: data.project_folder_name,\n    subfolder_name: sf.name,\n    subfolder_type: sf.type\n  }\n}));"},"id":"c0390c88-c1a0-4251-9567-26f698c2ea91","name":"Split to Subfolders","type":"n8n-nodes-base.code","typeVersion":2,"position":[3008,16],"notes":"Creates 9 items, one for each subfolder"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"supportsAllDrives","value":"true"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $json.subfolder_name }}\",\n  \"mimeType\": \"application/vnd.google-apps.folder\",\n  \"parents\": [\"{{ $json.project_folder_id }}\"]\n}","options":{}},"id":"3d4fd4c1-b2c3-4d8d-8774-6c6e91c10480","name":"Create Subfolder","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3232,16],"credentials":{"googleDriveOAuth2Api":{"id":"aYft6Y1rBlcl2pcf","name":"Google Drive account"}},"notes":"Creates each subfolder - runs 9 times in loop"},{"parameters":{"jsCode":"// Collect all subfolder results and prepare DB inserts\nconst items = $input.all();\nconst firstItem = $('Split to Subfolders').first().json;\n\n// Map results to folder records\nconst folderRecords = items.map((item, idx) => {\n  const inputItem = $('Split to Subfolders').all()[idx].json;\n  return {\n    folder_type: inputItem.subfolder_type,\n    folder_name: inputItem.subfolder_name,\n    drive_folder_id: item.json.id\n  };\n});\n\n// Build SQL for inserting all folders\nconst projectRootInsert = `INSERT INTO project_drive_folders (project_id, folder_type, folder_name, drive_folder_id, is_created, created_in_drive_at)\nVALUES ('${firstItem.project_id}'::uuid, 'PROJECT_ROOT', '${firstItem.project_folder_name.replace(/'/g, \"''\")}', '${firstItem.project_folder_id}', true, now())`;\n\nconst subfolderInserts = folderRecords.map(f => \n  `INSERT INTO project_drive_folders (project_id, folder_type, folder_name, drive_folder_id, is_created, created_in_drive_at)\n  VALUES ('${firstItem.project_id}'::uuid, '${f.folder_type}', '${f.folder_name}', '${f.drive_folder_id}', true, now())`\n).join(';\\n');\n\nconst updateProject = `UPDATE projects SET drive_folder_id = '${firstItem.project_folder_id}' WHERE id = '${firstItem.project_id}'::uuid`;\n\nreturn {\n  json: {\n    project_id: firstItem.project_id,\n    event_id: firstItem.event_id,\n    step_key: firstItem.step_key,\n    project_folder_id: firstItem.project_folder_id,\n    project_folder_name: firstItem.project_folder_name,\n    subfolder_count: folderRecords.length,\n    sql: `${projectRootInsert};\\n${subfolderInserts};\\n${updateProject};`,\n    folder_records: folderRecords\n  }\n};"},"id":"89bb5e21-6eb5-472f-b444-b238ae6b124d","name":"Collect and Prepare DB","type":"n8n-nodes-base.code","typeVersion":2,"position":[3456,16],"notes":"Collects all subfolder IDs and builds SQL for DB insert"},{"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"id":"147e2108-2188-4b7b-a68d-18624f61e574","name":"Insert Folder Records","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3680,16],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Inserts all folder records into project_drive_folders and updates projects"},{"parameters":{"operation":"executeQuery","query":"SELECT complete_workflow_step(\n  '{{ $('Collect and Prepare DB').item.json.step_key }}',\n  '{\"project_folder_id\": \"{{ $('Collect and Prepare DB').item.json.project_folder_id }}\", \"subfolder_count\": {{ $('Collect and Prepare DB').item.json.subfolder_count }}}'\n);","options":{}},"id":"2a4aea0f-b23c-4d3d-95ab-953b1453fdea","name":"Complete Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3888,16],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Marks step as DONE with folder payload"},{"parameters":{"jsCode":"// Prepare event payload for DRIVE_TREE_CREATED\nconst data = $('Collect and Prepare DB').first().json;\n\nreturn {\n  json: {\n    project_id: data.project_id,\n    event_id: data.event_id,\n    project_folder_id: data.project_folder_id\n  }\n};"},"id":"421f718f-6f22-4e55-9a9f-7bbc786b2aa2","name":"Prepare Event Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[4112,16],"notes":"Prepares data for DRIVE_TREE_CREATED event"},{"parameters":{"operation":"executeQuery","query":"-- Mark input event as processed\nDO $$ BEGIN\n  UPDATE events SET processed_at = now() WHERE id = '{{ $json.event_id }}'::uuid;\nEXCEPTION WHEN invalid_text_representation THEN NULL;\nEND $$;\n\n-- Emit next event\nINSERT INTO events (event_type, project_id, payload, source_system, source_flow)\nVALUES (\n  'DRIVE_TREE_CREATED',\n  '{{ $json.project_id }}'::uuid,\n  '{\"project_folder_id\": \"{{ $json.project_folder_id }}\"}',\n  'n8n',\n  'M1_04b_Create_Project_Tree'\n)\nRETURNING id, event_type::text, project_id;","options":{}},"id":"344a1f6b-2320-4184-980e-293a089544fe","name":"Emit DRIVE_TREE_CREATED","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4336,16],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Marks input event as processed and emits DRIVE_TREE_CREATED"},{"parameters":{"jsCode":"return {\n  json: {\n    status: 'success',\n    message: 'DRIVE_TREE_CREATED emitted',\n    project_id: $input.first().json.project_id,\n    project_folder_id: $('Prepare Event Payload').first().json.project_folder_id\n  }\n};"},"id":"8ff007b0-ebdf-444b-ad83-ad8bcf7b6335","name":"Done (Main Path)","type":"n8n-nodes-base.code","typeVersion":2,"position":[4560,16],"notes":"Success response for main path"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"3ec318cf-cb60-4569-a1a9-ea8b10e57b98","name":"Respond (Main)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[4768,16]},{"parameters":{"jsCode":"// Step already done or in progress by another run\nconst claimResult = $input.first().json;\nconst eventData = $('Parse Event Data').first().json;\n\nif (claimResult.current_status === 'DONE') {\n  // Already done - emit event with existing payload\n  return {\n    json: {\n      action: 'skip_but_emit',\n      reason: 'Project tree already exists',\n      project_folder_id: claimResult.existing_payload?.project_folder_id || null,\n      project_id: eventData.project_id,\n      event_id: eventData.event_id\n    }\n  };\n}\n\n// IN_PROGRESS by another run - do nothing\nreturn {\n  json: {\n    action: 'exit',\n    reason: 'Step in progress by another run',\n    current_status: claimResult.current_status\n  }\n};"},"id":"2868a17a-db38-4961-9eb8-73cd765de89d","name":"Handle Not Claimed","type":"n8n-nodes-base.code","typeVersion":2,"position":[2128,288],"notes":"Handles case when step was already claimed or done"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-action","leftValue":"={{ $json.action }}","rightValue":"skip_but_emit","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"4d5488b6-a8db-4d48-8117-38a3499e3d88","name":"Should Emit Event?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2352,288],"notes":"If tree exists, we still need to emit DRIVE_TREE_CREATED for this project"},{"parameters":{"jsCode":"// Prepare event for skip path\nconst data = $input.first().json;\n\nreturn {\n  json: {\n    project_id: data.project_id,\n    event_id: data.event_id,\n    project_folder_id: data.project_folder_id\n  }\n};"},"id":"80c3cd18-dd7f-4d86-afe1-3002787d1e93","name":"Prepare Skip Emit","type":"n8n-nodes-base.code","typeVersion":2,"position":[2576,208],"notes":"Prepares data for event when skipping (tree exists)"},{"parameters":{"operation":"executeQuery","query":"-- Mark input event as processed\nUPDATE events SET processed_at = now() WHERE id = '{{ $json.event_id }}'::uuid;\n\n-- Emit next event (tree already exists from previous attempt)\nINSERT INTO events (event_type, project_id, payload, source_system, source_flow)\nVALUES (\n  'DRIVE_TREE_CREATED',\n  '{{ $json.project_id }}'::uuid,\n  '{\"project_folder_id\": \"{{ $json.project_folder_id }}\", \"reused\": true}',\n  'n8n',\n  'M1_04b_Create_Project_Tree'\n)\nRETURNING id, event_type::text, project_id;","options":{}},"id":"e66ede44-e439-4bb9-a3c7-b0faa06c1a8a","name":"Emit DRIVE_TREE_CREATED (Skip)","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2800,208],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Emits event when tree already existed"},{"parameters":{"jsCode":"return {\n  json: {\n    status: 'success',\n    message: 'DRIVE_TREE_CREATED emitted (reused folder)',\n    project_id: $input.first().json.project_id\n  }\n};"},"id":"7df3adf3-6c94-4022-b161-02972de49532","name":"Done (Skip Path)","type":"n8n-nodes-base.code","typeVersion":2,"position":[3008,208],"notes":"Success response for skip path"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"f12530b4-4bbf-43cb-bf8f-c12eb901bb69","name":"Respond (Skip)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[3232,208]},{"parameters":{"jsCode":"// Exit - another run is handling this\nreturn {\n  json: {\n    status: 'skipped',\n    message: 'Step in progress by another run'\n  }\n};"},"id":"39fdae13-32d0-40db-8fea-4e5308805f0c","name":"Done (Exit)","type":"n8n-nodes-base.code","typeVersion":2,"position":[2576,368],"notes":"Exit when step is in progress"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"5eae6733-c9a2-46d9-b8d6-3f0669dd7bc1","name":"Respond (Exit)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2800,368]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Event Data","type":"main","index":0}]]},"Parse Event Data":{"main":[[{"node":"Claim Workflow Step","type":"main","index":0}]]},"Claim Workflow Step":{"main":[[{"node":"Step Claimed?","type":"main","index":0}]]},"Step Claimed?":{"main":[[{"node":"Fetch Project","type":"main","index":0}],[{"node":"Handle Not Claimed","type":"main","index":0}]]},"Fetch Project":{"main":[[{"node":"Prepare Folder Structure","type":"main","index":0}]]},"Prepare Folder Structure":{"main":[[{"node":"Create Project Folder","type":"main","index":0}]]},"Create Project Folder":{"main":[[{"node":"Extract Project Folder ID","type":"main","index":0}]]},"Extract Project Folder ID":{"main":[[{"node":"Split to Subfolders","type":"main","index":0}]]},"Split to Subfolders":{"main":[[{"node":"Create Subfolder","type":"main","index":0}]]},"Create Subfolder":{"main":[[{"node":"Collect and Prepare DB","type":"main","index":0}]]},"Collect and Prepare DB":{"main":[[{"node":"Insert Folder Records","type":"main","index":0}]]},"Insert Folder Records":{"main":[[{"node":"Complete Workflow Step","type":"main","index":0}]]},"Complete Workflow Step":{"main":[[{"node":"Prepare Event Payload","type":"main","index":0}]]},"Prepare Event Payload":{"main":[[{"node":"Emit DRIVE_TREE_CREATED","type":"main","index":0}]]},"Emit DRIVE_TREE_CREATED":{"main":[[{"node":"Done (Main Path)","type":"main","index":0}]]},"Done (Main Path)":{"main":[[{"node":"Respond (Main)","type":"main","index":0}]]},"Handle Not Claimed":{"main":[[{"node":"Should Emit Event?","type":"main","index":0}]]},"Should Emit Event?":{"main":[[{"node":"Prepare Skip Emit","type":"main","index":0}],[{"node":"Done (Exit)","type":"main","index":0}]]},"Prepare Skip Emit":{"main":[[{"node":"Emit DRIVE_TREE_CREATED (Skip)","type":"main","index":0}]]},"Emit DRIVE_TREE_CREATED (Skip)":{"main":[[{"node":"Done (Skip Path)","type":"main","index":0}]]},"Done (Skip Path)":{"main":[[{"node":"Respond (Skip)","type":"main","index":0}]]},"Done (Exit)":{"main":[[{"node":"Respond (Exit)","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version 6124c643","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-12-28T15:39:24.456Z","id":109,"workflowId":"P0ETfL7ZozQKEeM6","versionId":"6124c643-7ceb-448d-9d0c-7982a6fdb3c8","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-01-03T12:23:26.755Z","id":175,"workflowId":"P0ETfL7ZozQKEeM6","versionId":"6124c643-7ceb-448d-9d0c-7982a6fdb3c8","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}