n8n-workflows/M1_03_Position_Extractor_V3.json
{"updatedAt":"2026-01-19T17:40:34.342Z","createdAt":"2026-01-10T18:55:15.004Z","id":"eVbTku3Jsyf0dFdQ","name":"M1_03_Position_Extractor_V3","description":"Extrahiert Positionen aus Angebots-PDFs und gibt strukturierte Daten zurück","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"m1-03-position-extractor","responseMode":"responseNode","options":{}},"id":"5dd5e0ba-9cc6-4e91-a8a9-6fe2e2f6105a","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-880,144],"webhookId":"m1-03-position-extractor"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"check-claimed","leftValue":"={{ $json.claimed }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"6098d1cd-f051-4b89-a4a4-4299938d8c75","name":"Claimed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-224,144]},{"parameters":{"respondWith":"json","responseBody":"={ \"status\": \"skipped\", \"reason\": \"already_processed\" }","options":{}},"id":"bd304d1f-0b84-4d51-a9a1-2a792f85d83e","name":"Already Processed","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[0,288]},{"parameters":{"jsCode":"const webhookData = $('Webhook Trigger').first().json;\nconst body = webhookData.body?.body || webhookData.body;\n\nconst eventId = body.event_id || body.record?.id;\nconst projectId = body.project_id || body.record?.project_id;\nconst payload = body.payload || body.record?.payload || {};\n\nif (!projectId) {\n  throw new Error('No project_id found in webhook payload');\n}\n\nreturn {\n  json: {\n    event_id: eventId,\n    project_id: projectId,\n    contractor_code: payload.contractor_code || 'UNKNOWN',\n    pdf_storage_path: payload.pdf_storage_path\n  }\n};"},"id":"081e7c3b-3226-4903-8310-0b7b1ea1ebc3","name":"Extract Event Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0]},{"parameters":{"jsCode":"// Parse CSV from Vision API - V4 mit Raum-Support\nconst input = $input.first().json;\nconst csvText = (input.text || input.content?.[0]?.text || input.response || '').trim();\nif (!csvText) {\n  throw new Error('Empty Vision API response');\n}\nconst eventData = $('Extract Event Data').first().json;\nconst lines = csvText.split('\\n').filter(line => line.trim());\nconst positions = [];\n\nfor (let i = 0; i < lines.length; i++) {\n  const line = lines[i].trim();\n  \n  // Skip header or invalid lines\n  if (line.toLowerCase().includes('room|') || !line.includes('|')) continue;\n  \n  const parts = line.split('|');\n  if (parts.length < 6) continue;\n  \n  const room = parts[0].trim();\n  const position_code = parts[1].trim().replace(/\\.$/, '');\n  const title = parts[2].trim();\n  const quantity = parseFloat(parts[3].trim().replace(',', '.')) || 1;\n  const unit = parts[4].trim() || 'psch';\n  const price = parts[5] ? parseFloat(parts[5].trim().replace(',', '.')) : null;\n  const payer = parts[6] ? parts[6].trim() : 'SAGA';\n  const trade = ''; // SAGA PDFs haben keine Gewerk-Überschriften\n  \n  if (!title || !room) continue;\n  \n  positions.push({\n    room,\n    position_code,\n    title,\n    quantity,\n    unit,\n    price,\n    payer,\n    trade,\n    position_number: positions.length + 1,\n    project_id: eventData.project_id,\n    contractor_code: eventData.contractor_code,\n    event_id: eventData.event_id\n  });\n}\n\nif (positions.length === 0) {\n  throw new Error('No positions extracted from PDF');\n}\n\nreturn positions.map(p => ({ json: p }));"},"id":"e03cebc4-e169-493f-b2e3-d7df56a42e3f","name":"Parse CSV","type":"n8n-nodes-base.code","typeVersion":2,"position":[656,0]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM match_catalog_position(\n  '{{ $json.title.replace(/'/g, \"''\") }}'::TEXT,\n  NULLIF('{{ $json.trade }}', ''),\n  '{{ $json.contractor_code }}'::TEXT,\n  '{{ $json.position_code }}'::TEXT\n);","options":{}},"id":"b65a4cd9-e654-432e-a605-10ddb9521efd","name":"Match Catalog","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[880,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"// Build batch insert query - V4 mit Raum/Section Support\nconst offerId = $('Create/Get Offer').first().json.id;\nconst parsedPositions = $('Parse CSV').all().map(i => i.json);\nconst matchResults = $('Match Catalog').all().map(i => i.json);\nconst sectionsResult = $('Insert Sections').all();\n\n// Build section map: room name → section id\nconst sectionMap = {};\nfor (const row of sectionsResult) {\n  if (row.json.id && row.json.title) {\n    sectionMap[row.json.title] = row.json.id;\n  }\n}\n\nif (parsedPositions.length === 0) {\n  throw new Error('No positions to insert');\n}\n\nconst matchMap = {};\nparsedPositions.forEach((pos, idx) => {\n  const match = matchResults[idx];\n  if (match && match.catalog_position_v2_id) {\n    matchMap[idx] = match;\n  }\n});\n\nconst escapeStr = (s) => (s || '').replace(/'/g, \"''\");\n\nconst values = parsedPositions.map((p, idx) => {\n  const match = matchMap[idx];\n  const catId = match?.catalog_position_v2_id ? `'${match.catalog_position_v2_id}'::uuid` : 'NULL';\n  const price = p.price ?? 'NULL';\n  const sectionId = sectionMap[p.room] ? `'${sectionMap[p.room]}'::uuid` : 'NULL';\n  \n  return `(\n    '${offerId}'::uuid,\n    ${catId},\n    ${sectionId},\n    ${p.position_number || idx + 1},\n    '${escapeStr(p.position_code || '')}',\n    '${escapeStr(p.title)}',\n    '${escapeStr(p.unit)}',\n    ${price},\n    ${p.quantity}\n  )`;\n}).join(',\\n');\n\nconst query = `\nINSERT INTO offer_positions (\n  offer_id,\n  catalog_position_v2_id,\n  section_id,\n  position_number,\n  catalog_code,\n  title,\n  unit,\n  unit_price,\n  quantity\n) VALUES ${values}\nON CONFLICT DO NOTHING\nRETURNING id;\n`;\n\nconst eventData = $('Extract Event Data').first().json;\n\nreturn {\n  json: {\n    query,\n    offer_id: offerId,\n    project_id: eventData.project_id,\n    event_id: eventData.event_id,\n    total_positions: parsedPositions.length,\n    matched_count: Object.keys(matchMap).length,\n    sections_count: Object.keys(sectionMap).length\n  }\n};"},"id":"68a5337e-4b24-4179-a26f-530f7899d318","name":"Build Position","type":"n8n-nodes-base.code","typeVersion":2,"position":[1824,0]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"a758475e-b7c8-4bf5-b05e-7ca4a6528175","name":"Aggregate All","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1056,0]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO offers (project_id, status) \nVALUES ('{{ $('Extract Event Data').first().json.project_id }}'::uuid, 'DRAFT')\nON CONFLICT (project_id) DO UPDATE SET updated_at = now()\nRETURNING id;","options":{}},"id":"c4fda208-c52f-4f7b-8358-49e70f113a9e","name":"Create/Get Offer","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1232,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const data = $input.first().json;\nreturn { json: { query: data.query } };"},"id":"c7631666-1340-4580-aad8-a05c1049a045","name":"Prepare Insert","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,0]},{"parameters":{"operation":"executeQuery","query":"={{ $json.query }}","options":{}},"id":"a55f4351-50e5-4e0e-b9f9-8888c99db9d6","name":"Insert Positions","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2176,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  COUNT(*) as total,\n  COUNT(catalog_position_v2_id) as matched\nFROM offer_positions\nWHERE offer_id = '{{ $('Build Position').first().json.offer_id }}'::uuid;","options":{}},"id":"50219f9a-da95-400e-b482-12480cb70a61","name":"Get Stats","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2352,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": \"success\",\n  \"project_id\": \"{{ $('Build Position').first().json.project_id }}\",\n  \"offer_id\": \"{{ $('Build Position').first().json.offer_id }}\",\n  \"total_positions\": {{ $('Get Stats').first().json.total }},\n  \"matched_positions\": {{ $('Get Stats').first().json.matched }}\n}","options":{}},"id":"90c79373-652e-4507-8d74-bfca087450f8","name":"Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2704,0]},{"parameters":{"resource":"document","modelId":{"__rl":true,"value":"claude-sonnet-4-5-20250929","mode":"list","cachedResultName":"claude-sonnet-4-5-20250929"},"text":"Du bist PDF-Parser für SAGA Handwerkeraufträge.\n\nAUFGABE:\nExtrahiere ALLE Leistungspositionen mit Raum-Zuordnung.\n\nFORMAT (CSV, Trennzeichen: |):\nroom|position_code|title|quantity|unit|price|payer\n\nREGELN:\n- room: Raum-Überschrift EXAKT wie im PDF (z.B. \"Wohnzimmer 1\", \"Bad 1\", \"Keller 1\", \"Wohnung allgemein\")\n- position_code: Katalog-Code VOR der Klammer (z.B. \"8.5\" nicht \"8.5(3x)\")\n- title: Beschreibung aus Spalte \"erforderliche Arbeiten\"\n- quantity: \n  * Bei \"(3x)\" im Code → 3\n  * Bei \"(2x)\" im Code → 2\n  * Sonst → 1\n- unit: Immer \"psch\" (pauschal) bei SAGA\n- price: Betrag aus \"Aufw.\" Spalte OHNE € Zeichen\n- payer: \"SAGA\" oder \"Mieter\" aus Spalte \"Verursacher\"\n\nBEISPIELE:\nWohnzimmer 1|1.3|Tapeten von der Decke entfernen, Decke glätten|1|psch|140.28|SAGA\nWohnzimmer 1|8.5|Fenster/Balkontür/Terrassentür gang- und schließbar machen|3|psch|169.74|SAGA\nBad 1|21.1|WC-Becken liefern und montieren|1|psch|133.36|SAGA\nFlur 1|36.2|Einbauschrank instand setzen|2|psch|37.72|SAGA\n\nWICHTIG:\n- Nur CSV Output, KEINE Markdown-Blöcke (kein ```)\n- JEDE Position bekommt den aktuellen Raum\n- Bei \"(Nx)\" die Zahl N als quantity, Code OHNE Klammer\n- Zwischensummen IGNORIEREN\n\nStarte Extraktion.","inputType":"binary","options":{"maxTokens":8000}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[416,0],"id":"3e7b3c75-672d-4593-baaf-6c1bd41a3455","name":"Claude Vision Extract","credentials":{"anthropicApi":{"id":"DSb7Itt2r6kfGiHs","name":"Anthropic account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n  'position_extract:' || '{{ $json.event_id }}',\n  '{{ $json.project_id }}'::uuid,\n  'POSITION_EXTRACTION',\n  5\n) as result;","options":{}},"id":"82b95de9-60b1-49be-a97a-1995181532df","name":"Claim Step","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-464,144],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const webhookData = $('Webhook Trigger').first().json;\n\n// Handle nested body.body structure\nconst body = webhookData.body?.body || webhookData.body;\n\nconst eventId = body.event_id || body.record?.id;\nconst projectId = body.project_id || body.record?.project_id;\nconst payload = body.payload || body.record?.payload || {};\n\nif (!projectId) {\n  throw new Error('No project_id found in webhook payload');\n}\nif (!eventId) {\n  throw new Error('No event_id found in webhook payload');\n}\n\nreturn {\n  json: {\n    event_id: eventId,\n    project_id: projectId,\n    contractor_code: payload.contractor_code || 'UNKNOWN',\n    pdf_storage_path: payload.pdf_storage_path || null\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-688,144],"id":"a8a2736b-f404-4572-9b5c-a1f81255dad8","name":"Normalize Input"},{"parameters":{"url":"=https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/authenticated/project-files/{{ $json.pdf_storage_path }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $credentials.serviceRole }}"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"id":"9ffd6a0a-4818-4940-81e8-7c220c950559","name":"Load PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"credentials":{"supabaseApi":{"id":"zl3q8TEFR97Ecfoj","name":"baugenius core"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (event_type, project_id, payload, source_system)\nVALUES (\n  'OFFER_POSITIONS_EXTRACTED',\n  '{{ $('Build Position').first().json.project_id }}'::uuid,\n  '{\n    \"offer_id\": \"{{ $('Build Position').first().json.offer_id }}\",\n    \"total_positions\": {{ $('Get Stats').first().json.total }},\n    \"matched_positions\": {{ $('Get Stats').first().json.matched }}\n  }'::jsonb,\n  'n8n'\n)\nRETURNING id;","options":{}},"id":"295d2689-70d1-4b23-8fb8-74ee7eebca76","name":"Fire Event","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2528,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"// Extract unique rooms and create sections\nconst offerId = $('Create/Get Offer').first().json.id;\nconst positions = $('Parse CSV').all().map(i => i.json);\n\n// Get unique rooms in order of appearance\nconst rooms = [];\nconst seen = new Set();\nfor (const pos of positions) {\n  if (pos.room && !seen.has(pos.room)) {\n    seen.add(pos.room);\n    rooms.push(pos.room);\n  }\n}\n\nif (rooms.length === 0) {\n  return { json: { offer_id: offerId, sections: {} } };\n}\n\n// Build INSERT query for sections\nconst escapeStr = (s) => (s || '').replace(/'/g, \"''\");\n\nconst values = rooms.map((room, idx) => \n  `('${offerId}'::uuid, ${idx + 1}, '${escapeStr(room)}')`\n).join(',\\n');\n\nconst query = `\nINSERT INTO offer_sections (offer_id, section_number, title)\nVALUES ${values}\nON CONFLICT (offer_id, title) DO UPDATE SET updated_at = now()\nRETURNING id, title;\n`;\n\nreturn { json: { query, offer_id: offerId, rooms } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,0],"id":"aa970f0a-7407-49a2-9d80-e4e747c8c678","name":"Create Sections"},{"parameters":{"operation":"executeQuery","query":"={{ $json.query }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1632,0],"id":"68371d64-7202-4d7c-b828-f298173fc9db","name":"Insert Sections","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}}],"connections":{"Webhook Trigger":{"main":[[{"node":"Normalize Input","type":"main","index":0}]]},"Claimed?":{"main":[[{"node":"Extract Event Data","type":"main","index":0}],[{"node":"Already Processed","type":"main","index":0}]]},"Extract Event Data":{"main":[[{"node":"Load PDF","type":"main","index":0}]]},"Parse CSV":{"main":[[{"node":"Match Catalog","type":"main","index":0}]]},"Match Catalog":{"main":[[{"node":"Aggregate All","type":"main","index":0}]]},"Aggregate All":{"main":[[{"node":"Create/Get Offer","type":"main","index":0}]]},"Create/Get Offer":{"main":[[{"node":"Create Sections","type":"main","index":0}]]},"Build Position":{"main":[[{"node":"Prepare Insert","type":"main","index":0}]]},"Prepare Insert":{"main":[[{"node":"Insert Positions","type":"main","index":0}]]},"Insert Positions":{"main":[[{"node":"Get Stats","type":"main","index":0}]]},"Get Stats":{"main":[[{"node":"Fire Event","type":"main","index":0}]]},"Claude Vision Extract":{"main":[[{"node":"Parse CSV","type":"main","index":0}]]},"Normalize Input":{"main":[[{"node":"Claim Step","type":"main","index":0}]]},"Claim Step":{"main":[[{"node":"Claimed?","type":"main","index":0}]]},"Load PDF":{"main":[[{"node":"Claude Vision Extract","type":"main","index":0}]]},"Fire Event":{"main":[[{"node":"Success","type":"main","index":0}]]},"Create Sections":{"main":[[{"node":"Insert Sections","type":"main","index":0}]]},"Insert Sections":{"main":[[{"node":"Build Position","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"apmJoMCbOchwfqTp"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook Trigger":[{"json":{"headers":{"host":"n8n.srv1045913.hstgr.cloud","user-agent":"curl/8.7.1","content-length":"207","accept":"*/*","content-type":"application/json","x-forwarded-for":"89.56.41.171","x-forwarded-host":"n8n.srv1045913.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"5171fff56aa2","x-real-ip":"89.56.41.171","accept-encoding":"gzip"},"params":{},"query":{},"body":{"body":{"event_id":"test-125","project_id":"56404c9c-3e55-4cd5-9ea4-40ebde77c58c","payload":{"contractor_code":"SAGA","pdf_storage_path":"projects/56404c9c-3e55-4cd5-9ea4-40ebde77c58c/intake/auftrag.pdf"}}},"webhookUrl":"https://n8n.srv1045913.hstgr.cloud/webhook/m1-03-position-extractor","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"16f57b06-30e6-4600-ba27-f6f8788aab60","activeVersionId":"16f57b06-30e6-4600-ba27-f6f8788aab60","versionCounter":64,"triggerCount":1,"shared":[{"updatedAt":"2026-01-10T18:55:15.010Z","createdAt":"2026-01-10T18:55:15.010Z","role":"workflow:owner","workflowId":"eVbTku3Jsyf0dFdQ","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-19T17:40:36.000Z","createdAt":"2026-01-19T17:40:34.343Z","versionId":"16f57b06-30e6-4600-ba27-f6f8788aab60","workflowId":"eVbTku3Jsyf0dFdQ","nodes":[{"parameters":{"httpMethod":"POST","path":"m1-03-position-extractor","responseMode":"responseNode","options":{}},"id":"5dd5e0ba-9cc6-4e91-a8a9-6fe2e2f6105a","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-880,144],"webhookId":"m1-03-position-extractor"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"check-claimed","leftValue":"={{ $json.claimed }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"6098d1cd-f051-4b89-a4a4-4299938d8c75","name":"Claimed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-224,144]},{"parameters":{"respondWith":"json","responseBody":"={ \"status\": \"skipped\", \"reason\": \"already_processed\" }","options":{}},"id":"bd304d1f-0b84-4d51-a9a1-2a792f85d83e","name":"Already Processed","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[0,288]},{"parameters":{"jsCode":"const webhookData = $('Webhook Trigger').first().json;\nconst body = webhookData.body?.body || webhookData.body;\n\nconst eventId = body.event_id || body.record?.id;\nconst projectId = body.project_id || body.record?.project_id;\nconst payload = body.payload || body.record?.payload || {};\n\nif (!projectId) {\n  throw new Error('No project_id found in webhook payload');\n}\n\nreturn {\n  json: {\n    event_id: eventId,\n    project_id: projectId,\n    contractor_code: payload.contractor_code || 'UNKNOWN',\n    pdf_storage_path: payload.pdf_storage_path\n  }\n};"},"id":"081e7c3b-3226-4903-8310-0b7b1ea1ebc3","name":"Extract Event Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0]},{"parameters":{"jsCode":"// Parse CSV from Vision API - V4 mit Raum-Support\nconst input = $input.first().json;\nconst csvText = (input.text || input.content?.[0]?.text || input.response || '').trim();\nif (!csvText) {\n  throw new Error('Empty Vision API response');\n}\nconst eventData = $('Extract Event Data').first().json;\nconst lines = csvText.split('\\n').filter(line => line.trim());\nconst positions = [];\n\nfor (let i = 0; i < lines.length; i++) {\n  const line = lines[i].trim();\n  \n  // Skip header or invalid lines\n  if (line.toLowerCase().includes('room|') || !line.includes('|')) continue;\n  \n  const parts = line.split('|');\n  if (parts.length < 6) continue;\n  \n  const room = parts[0].trim();\n  const position_code = parts[1].trim().replace(/\\.$/, '');\n  const title = parts[2].trim();\n  const quantity = parseFloat(parts[3].trim().replace(',', '.')) || 1;\n  const unit = parts[4].trim() || 'psch';\n  const price = parts[5] ? parseFloat(parts[5].trim().replace(',', '.')) : null;\n  const payer = parts[6] ? parts[6].trim() : 'SAGA';\n  const trade = ''; // SAGA PDFs haben keine Gewerk-Überschriften\n  \n  if (!title || !room) continue;\n  \n  positions.push({\n    room,\n    position_code,\n    title,\n    quantity,\n    unit,\n    price,\n    payer,\n    trade,\n    position_number: positions.length + 1,\n    project_id: eventData.project_id,\n    contractor_code: eventData.contractor_code,\n    event_id: eventData.event_id\n  });\n}\n\nif (positions.length === 0) {\n  throw new Error('No positions extracted from PDF');\n}\n\nreturn positions.map(p => ({ json: p }));"},"id":"e03cebc4-e169-493f-b2e3-d7df56a42e3f","name":"Parse CSV","type":"n8n-nodes-base.code","typeVersion":2,"position":[656,0]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM match_catalog_position(\n  '{{ $json.title.replace(/'/g, \"''\") }}'::TEXT,\n  NULLIF('{{ $json.trade }}', ''),\n  '{{ $json.contractor_code }}'::TEXT,\n  '{{ $json.position_code }}'::TEXT\n);","options":{}},"id":"b65a4cd9-e654-432e-a605-10ddb9521efd","name":"Match Catalog","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[880,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"// Build batch insert query - V4 mit Raum/Section Support\nconst offerId = $('Create/Get Offer').first().json.id;\nconst parsedPositions = $('Parse CSV').all().map(i => i.json);\nconst matchResults = $('Match Catalog').all().map(i => i.json);\nconst sectionsResult = $('Insert Sections').all();\n\n// Build section map: room name → section id\nconst sectionMap = {};\nfor (const row of sectionsResult) {\n  if (row.json.id && row.json.title) {\n    sectionMap[row.json.title] = row.json.id;\n  }\n}\n\nif (parsedPositions.length === 0) {\n  throw new Error('No positions to insert');\n}\n\nconst matchMap = {};\nparsedPositions.forEach((pos, idx) => {\n  const match = matchResults[idx];\n  if (match && match.catalog_position_v2_id) {\n    matchMap[idx] = match;\n  }\n});\n\nconst escapeStr = (s) => (s || '').replace(/'/g, \"''\");\n\nconst values = parsedPositions.map((p, idx) => {\n  const match = matchMap[idx];\n  const catId = match?.catalog_position_v2_id ? `'${match.catalog_position_v2_id}'::uuid` : 'NULL';\n  const price = p.price ?? 'NULL';\n  const sectionId = sectionMap[p.room] ? `'${sectionMap[p.room]}'::uuid` : 'NULL';\n  \n  return `(\n    '${offerId}'::uuid,\n    ${catId},\n    ${sectionId},\n    ${p.position_number || idx + 1},\n    '${escapeStr(p.position_code || '')}',\n    '${escapeStr(p.title)}',\n    '${escapeStr(p.unit)}',\n    ${price},\n    ${p.quantity}\n  )`;\n}).join(',\\n');\n\nconst query = `\nINSERT INTO offer_positions (\n  offer_id,\n  catalog_position_v2_id,\n  section_id,\n  position_number,\n  catalog_code,\n  title,\n  unit,\n  unit_price,\n  quantity\n) VALUES ${values}\nON CONFLICT DO NOTHING\nRETURNING id;\n`;\n\nconst eventData = $('Extract Event Data').first().json;\n\nreturn {\n  json: {\n    query,\n    offer_id: offerId,\n    project_id: eventData.project_id,\n    event_id: eventData.event_id,\n    total_positions: parsedPositions.length,\n    matched_count: Object.keys(matchMap).length,\n    sections_count: Object.keys(sectionMap).length\n  }\n};"},"id":"68a5337e-4b24-4179-a26f-530f7899d318","name":"Build Position","type":"n8n-nodes-base.code","typeVersion":2,"position":[1824,0]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"a758475e-b7c8-4bf5-b05e-7ca4a6528175","name":"Aggregate All","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1056,0]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO offers (project_id, status) \nVALUES ('{{ $('Extract Event Data').first().json.project_id }}'::uuid, 'DRAFT')\nON CONFLICT (project_id) DO UPDATE SET updated_at = now()\nRETURNING id;","options":{}},"id":"c4fda208-c52f-4f7b-8358-49e70f113a9e","name":"Create/Get Offer","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1232,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const data = $input.first().json;\nreturn { json: { query: data.query } };"},"id":"c7631666-1340-4580-aad8-a05c1049a045","name":"Prepare Insert","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,0]},{"parameters":{"operation":"executeQuery","query":"={{ $json.query }}","options":{}},"id":"a55f4351-50e5-4e0e-b9f9-8888c99db9d6","name":"Insert Positions","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2176,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  COUNT(*) as total,\n  COUNT(catalog_position_v2_id) as matched\nFROM offer_positions\nWHERE offer_id = '{{ $('Build Position').first().json.offer_id }}'::uuid;","options":{}},"id":"50219f9a-da95-400e-b482-12480cb70a61","name":"Get Stats","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2352,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": \"success\",\n  \"project_id\": \"{{ $('Build Position').first().json.project_id }}\",\n  \"offer_id\": \"{{ $('Build Position').first().json.offer_id }}\",\n  \"total_positions\": {{ $('Get Stats').first().json.total }},\n  \"matched_positions\": {{ $('Get Stats').first().json.matched }}\n}","options":{}},"id":"90c79373-652e-4507-8d74-bfca087450f8","name":"Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2704,0]},{"parameters":{"resource":"document","modelId":{"__rl":true,"value":"claude-sonnet-4-5-20250929","mode":"list","cachedResultName":"claude-sonnet-4-5-20250929"},"text":"Du bist PDF-Parser für SAGA Handwerkeraufträge.\n\nAUFGABE:\nExtrahiere ALLE Leistungspositionen mit Raum-Zuordnung.\n\nFORMAT (CSV, Trennzeichen: |):\nroom|position_code|title|quantity|unit|price|payer\n\nREGELN:\n- room: Raum-Überschrift EXAKT wie im PDF (z.B. \"Wohnzimmer 1\", \"Bad 1\", \"Keller 1\", \"Wohnung allgemein\")\n- position_code: Katalog-Code VOR der Klammer (z.B. \"8.5\" nicht \"8.5(3x)\")\n- title: Beschreibung aus Spalte \"erforderliche Arbeiten\"\n- quantity: \n  * Bei \"(3x)\" im Code → 3\n  * Bei \"(2x)\" im Code → 2\n  * Sonst → 1\n- unit: Immer \"psch\" (pauschal) bei SAGA\n- price: Betrag aus \"Aufw.\" Spalte OHNE € Zeichen\n- payer: \"SAGA\" oder \"Mieter\" aus Spalte \"Verursacher\"\n\nBEISPIELE:\nWohnzimmer 1|1.3|Tapeten von der Decke entfernen, Decke glätten|1|psch|140.28|SAGA\nWohnzimmer 1|8.5|Fenster/Balkontür/Terrassentür gang- und schließbar machen|3|psch|169.74|SAGA\nBad 1|21.1|WC-Becken liefern und montieren|1|psch|133.36|SAGA\nFlur 1|36.2|Einbauschrank instand setzen|2|psch|37.72|SAGA\n\nWICHTIG:\n- Nur CSV Output, KEINE Markdown-Blöcke (kein ```)\n- JEDE Position bekommt den aktuellen Raum\n- Bei \"(Nx)\" die Zahl N als quantity, Code OHNE Klammer\n- Zwischensummen IGNORIEREN\n\nStarte Extraktion.","inputType":"binary","options":{"maxTokens":8000}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[416,0],"id":"3e7b3c75-672d-4593-baaf-6c1bd41a3455","name":"Claude Vision Extract","credentials":{"anthropicApi":{"id":"DSb7Itt2r6kfGiHs","name":"Anthropic account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n  'position_extract:' || '{{ $json.event_id }}',\n  '{{ $json.project_id }}'::uuid,\n  'POSITION_EXTRACTION',\n  5\n) as result;","options":{}},"id":"82b95de9-60b1-49be-a97a-1995181532df","name":"Claim Step","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-464,144],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const webhookData = $('Webhook Trigger').first().json;\n\n// Handle nested body.body structure\nconst body = webhookData.body?.body || webhookData.body;\n\nconst eventId = body.event_id || body.record?.id;\nconst projectId = body.project_id || body.record?.project_id;\nconst payload = body.payload || body.record?.payload || {};\n\nif (!projectId) {\n  throw new Error('No project_id found in webhook payload');\n}\nif (!eventId) {\n  throw new Error('No event_id found in webhook payload');\n}\n\nreturn {\n  json: {\n    event_id: eventId,\n    project_id: projectId,\n    contractor_code: payload.contractor_code || 'UNKNOWN',\n    pdf_storage_path: payload.pdf_storage_path || null\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-688,144],"id":"a8a2736b-f404-4572-9b5c-a1f81255dad8","name":"Normalize Input"},{"parameters":{"url":"=https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/authenticated/project-files/{{ $json.pdf_storage_path }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $credentials.serviceRole }}"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"id":"9ffd6a0a-4818-4940-81e8-7c220c950559","name":"Load PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"credentials":{"supabaseApi":{"id":"zl3q8TEFR97Ecfoj","name":"baugenius core"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (event_type, project_id, payload, source_system)\nVALUES (\n  'OFFER_POSITIONS_EXTRACTED',\n  '{{ $('Build Position').first().json.project_id }}'::uuid,\n  '{\n    \"offer_id\": \"{{ $('Build Position').first().json.offer_id }}\",\n    \"total_positions\": {{ $('Get Stats').first().json.total }},\n    \"matched_positions\": {{ $('Get Stats').first().json.matched }}\n  }'::jsonb,\n  'n8n'\n)\nRETURNING id;","options":{}},"id":"295d2689-70d1-4b23-8fb8-74ee7eebca76","name":"Fire Event","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2528,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"// Extract unique rooms and create sections\nconst offerId = $('Create/Get Offer').first().json.id;\nconst positions = $('Parse CSV').all().map(i => i.json);\n\n// Get unique rooms in order of appearance\nconst rooms = [];\nconst seen = new Set();\nfor (const pos of positions) {\n  if (pos.room && !seen.has(pos.room)) {\n    seen.add(pos.room);\n    rooms.push(pos.room);\n  }\n}\n\nif (rooms.length === 0) {\n  return { json: { offer_id: offerId, sections: {} } };\n}\n\n// Build INSERT query for sections\nconst escapeStr = (s) => (s || '').replace(/'/g, \"''\");\n\nconst values = rooms.map((room, idx) => \n  `('${offerId}'::uuid, ${idx + 1}, '${escapeStr(room)}')`\n).join(',\\n');\n\nconst query = `\nINSERT INTO offer_sections (offer_id, section_number, title)\nVALUES ${values}\nON CONFLICT (offer_id, title) DO UPDATE SET updated_at = now()\nRETURNING id, title;\n`;\n\nreturn { json: { query, offer_id: offerId, rooms } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,0],"id":"aa970f0a-7407-49a2-9d80-e4e747c8c678","name":"Create Sections"},{"parameters":{"operation":"executeQuery","query":"={{ $json.query }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1632,0],"id":"68371d64-7202-4d7c-b828-f298173fc9db","name":"Insert Sections","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}}],"connections":{"Webhook Trigger":{"main":[[{"node":"Normalize Input","type":"main","index":0}]]},"Claimed?":{"main":[[{"node":"Extract Event Data","type":"main","index":0}],[{"node":"Already Processed","type":"main","index":0}]]},"Extract Event Data":{"main":[[{"node":"Load PDF","type":"main","index":0}]]},"Parse CSV":{"main":[[{"node":"Match Catalog","type":"main","index":0}]]},"Match Catalog":{"main":[[{"node":"Aggregate All","type":"main","index":0}]]},"Aggregate All":{"main":[[{"node":"Create/Get Offer","type":"main","index":0}]]},"Create/Get Offer":{"main":[[{"node":"Create Sections","type":"main","index":0}]]},"Build Position":{"main":[[{"node":"Prepare Insert","type":"main","index":0}]]},"Prepare Insert":{"main":[[{"node":"Insert Positions","type":"main","index":0}]]},"Insert Positions":{"main":[[{"node":"Get Stats","type":"main","index":0}]]},"Get Stats":{"main":[[{"node":"Fire Event","type":"main","index":0}]]},"Claude Vision Extract":{"main":[[{"node":"Parse CSV","type":"main","index":0}]]},"Normalize Input":{"main":[[{"node":"Claim Step","type":"main","index":0}]]},"Claim Step":{"main":[[{"node":"Claimed?","type":"main","index":0}]]},"Load PDF":{"main":[[{"node":"Claude Vision Extract","type":"main","index":0}]]},"Fire Event":{"main":[[{"node":"Success","type":"main","index":0}]]},"Create Sections":{"main":[[{"node":"Insert Sections","type":"main","index":0}]]},"Insert Sections":{"main":[[{"node":"Build Position","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version 16f57b06","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-01-19T17:40:36.316Z","id":362,"workflowId":"eVbTku3Jsyf0dFdQ","versionId":"16f57b06-30e6-4600-ba27-f6f8788aab60","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}