n8n-workflows/M1_04c_Sync_Initial_Files.json
{"updatedAt":"2026-01-03T12:24:28.252Z","createdAt":"2025-12-28T13:46:43.117Z","id":"RNifQ36TwyKqKxOJ","name":"M1_04c_Sync_Initial_Files","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"m1-04c-sync-initial-files","responseMode":"responseNode","options":{}},"id":"751e625c-5b80-434e-bf19-658b9ef496e3","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1408,1072],"webhookId":"m1-04c-sync-initial-files","notes":"Receives DRIVE_TREE_CREATED events from MX_00_Event_Router"},{"parameters":{"jsCode":"// Extract event data from router payload\nconst input = $input.first().json;\n\n// Router sends: { event_id, event_type, project_id, payload }\nconst eventId = input.body?.event_id || input.event_id;\nconst projectId = input.body?.project_id || input.project_id;\nconst payload = input.body?.payload || input.payload || {};\n\n// Step key is project-specific\nconst stepKey = `drive_sync:${projectId}`;\n\nreturn {\n  json: {\n    event_id: eventId,\n    project_id: projectId,\n    project_folder_id: payload.project_folder_id,\n    step_key: stepKey\n  }\n};"},"id":"81611829-23c3-465e-9ef7-6cbd0a1cfb76","name":"Parse Event Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,1072],"notes":"Extracts event data and calculates step_key for file sync"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n  '{{ $json.step_key }}',\n  '{{ $json.project_id }}'::uuid,\n  'DRIVE_SYNC'\n);","options":{}},"id":"1cd73b37-1d68-4402-8df6-9d279efeef7b","name":"Claim Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1792,1072],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Atomic claim to prevent duplicate processing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-claimed","leftValue":"={{ $json.claimed }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"41ecec16-6922-4b8e-a426-47bd30b2989e","name":"Step Claimed?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1984,1072],"notes":"If claimed=true: proceed. If false: either DONE or IN_PROGRESS"},{"parameters":{"operation":"executeQuery","query":"SELECT \n  id,\n  file_name,\n  mime_type,\n  storage_path,\n  'project-files' as storage_bucket\nFROM project_files \nWHERE project_id = '{{ $('Parse Event Data').item.json.project_id }}'::uuid\n  AND drive_file_id IS NULL\n  AND file_type IN ('INTAKE_PDF', 'INTAKE_ORDER')\nORDER BY created_at ASC;","options":{}},"id":"f3029f9c-cc45-481c-ac7c-1df38ae7a8b7","name":"Fetch Unsynced Files","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2208,944],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Gets all project files that haven't been synced to Drive yet"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-files","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"6acf5f2e-d314-4b84-9fff-f890eb0d7cb8","name":"Has Files?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2400,944],"notes":"Check if there are files to sync"},{"parameters":{"operation":"executeQuery","query":"SELECT drive_folder_id \nFROM project_drive_folders \nWHERE project_id = '{{ $('Parse Event Data').item.json.project_id }}'::uuid\n  AND folder_type = 'AUFTRAG';","options":{}},"id":"f779ff37-9394-43b3-a36c-a8b81bfb0dfe","name":"Fetch Auftrag Folder","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2624,832],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Gets the 01_Auftrag folder ID from Drive folders"},{"parameters":{"jsCode":"// Prepare file items for processing\nconst files = $('Fetch Unsynced Files').all();\nconst auftragFolder = $input.first().json.drive_folder_id;\nconst eventData = $('Parse Event Data').first().json;\n\nreturn files.map(fileItem => ({\n  json: {\n    file_id: fileItem.json.id,\n    file_name: fileItem.json.file_name,\n    mime_type: fileItem.json.mime_type,\n    storage_path: fileItem.json.storage_path,\n    storage_bucket: fileItem.json.storage_bucket,\n    auftrag_folder_id: auftragFolder,\n    project_id: eventData.project_id,\n    event_id: eventData.event_id,\n    step_key: eventData.step_key,\n    project_folder_id: eventData.project_folder_id,\n    // AUTHENTICATED statt PUBLIC!\n    storage_url: `https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/authenticated/project-files/${fileItem.json.storage_path}`\n  }\n}));"},"id":"b585ce11-b4c9-4b53-af83-f40a87bd38f8","name":"Prepare File Items","type":"n8n-nodes-base.code","typeVersion":2,"position":[2832,832],"notes":"Prepares each file for download and upload"},{"parameters":{"url":"={{ $json.storage_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlldHdudHdheWhtem1oaGdka2xpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTI4NDUwNywiZXhwIjoyMDgwODYwNTA3fQ.1h7t0JOavX5CSarqKIUr9mMLJBAbt5aI5bAROJTxHYA"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"id":"94d7b084-80c2-4a8c-b52e-68fb46392fff","name":"Download from Storage","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3040,832],"notes":"Downloads file from Supabase Storage (public bucket)"},{"parameters":{"name":"={{ $('Prepare File Items').item.json.file_name }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $('Prepare File Items').item.json.auftrag_folder_id }}"},"options":{}},"id":"0bc17a1e-cb00-435f-854a-bc4198493693","name":"Upload to Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3264,832],"credentials":{"googleDriveOAuth2Api":{"id":"aYft6Y1rBlcl2pcf","name":"Google Drive account"}},"notes":"Uploads file to 01_Auftrag folder in Google Drive"},{"parameters":{"jsCode":"// Collect results from all uploaded files\nconst items = $input.all();\nconst prepItems = $('Prepare File Items').all();\nconst eventData = $('Parse Event Data').first().json;\n\n// Build update data and results\nconst results = items.map((item, idx) => {\n  const prep = prepItems[idx].json;\n  return {\n    file_id: prep.file_id,\n    file_name: prep.file_name,\n    drive_file_id: item.json.id,\n    drive_file_url: `https://drive.google.com/file/d/${item.json.id}/view`\n  };\n});\n\n// Build SQL for updating all files\nconst updates = results.map(r => \n  `UPDATE project_files SET drive_file_id = '${r.drive_file_id}', drive_file_url = '${r.drive_file_url}' WHERE id = '${r.file_id}'::uuid`\n).join(';\\n');\n\nreturn {\n  json: {\n    project_id: eventData.project_id,\n    event_id: eventData.event_id,\n    step_key: eventData.step_key,\n    project_folder_id: eventData.project_folder_id,\n    files_synced: results.length,\n    synced_files: results,\n    sql: updates\n  }\n};"},"id":"8339e6d2-cf07-4827-8e28-d330688ceed2","name":"Collect Upload Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[3472,832],"notes":"Collects all upload results and builds SQL update"},{"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"id":"6d2df065-c2c4-433d-9f85-0dcac49db3d8","name":"Update project_files","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3696,832],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Updates project_files with drive_file_id and drive_file_url"},{"parameters":{"operation":"executeQuery","query":"SELECT complete_workflow_step(\n  '{{ $('Collect Upload Results').item.json.step_key }}',\n  '{\"files_synced\": {{ $('Collect Upload Results').item.json.files_synced }}, \"project_folder_id\": \"{{ $('Collect Upload Results').item.json.project_folder_id }}\"}'\n);","options":{}},"id":"bd2ab255-e509-467b-8d06-c5952d853b99","name":"Complete Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3920,832],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Marks workflow step as DONE"},{"parameters":{"operation":"executeQuery","query":"-- Mark input event as processed\nDO $$ BEGIN\n  UPDATE events SET processed_at = now() WHERE id = '{{ $('Collect Upload Results').item.json.event_id }}'::uuid;\nEXCEPTION WHEN invalid_text_representation THEN NULL;\nEND $$;\n\n-- Emit DRIVE_SETUP_COMPLETE event\nINSERT INTO events (event_type, project_id, payload, source_system, source_flow)\nVALUES (\n  'DRIVE_SETUP_COMPLETE',\n  '{{ $('Collect Upload Results').item.json.project_id }}'::uuid,\n  '{\"files_synced\": {{ $('Collect Upload Results').item.json.files_synced }}, \"project_folder_id\": \"{{ $('Collect Upload Results').item.json.project_folder_id }}\"}',\n  'n8n',\n  'M1_04c_Sync_Initial_Files'\n)\nRETURNING id, event_type::text, project_id;","options":{}},"id":"38a91ade-806d-45aa-accf-0aff4ae6e05c","name":"Emit DRIVE_SETUP_COMPLETE","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4144,832],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Marks input event processed, emits DRIVE_SETUP_COMPLETE"},{"parameters":{"jsCode":"const data = $('Collect Upload Results').first().json;\nreturn {\n  json: {\n    status: 'success',\n    message: `DRIVE_SETUP_COMPLETE emitted - ${data.files_synced} file(s) synced`,\n    project_id: data.project_id,\n    files_synced: data.files_synced,\n    synced_files: data.synced_files\n  }\n};"},"id":"054f61a6-71c9-49c9-b475-0698959de190","name":"Done (Main Path)","type":"n8n-nodes-base.code","typeVersion":2,"position":[4352,832],"notes":"Success response for main path with files"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"cfca0ea9-71ce-4084-8155-00c77dbad1c7","name":"Respond (Main)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[4576,832]},{"parameters":{"jsCode":"// No files to sync - still emit event\nconst eventData = $('Parse Event Data').first().json;\n\nreturn {\n  json: {\n    project_id: eventData.project_id,\n    event_id: eventData.event_id,\n    step_key: eventData.step_key,\n    project_folder_id: eventData.project_folder_id,\n    files_synced: 0\n  }\n};"},"id":"85b2d1b0-804b-4237-ad67-7152520eb7c1","name":"Prepare No Files","type":"n8n-nodes-base.code","typeVersion":2,"position":[2624,1040],"notes":"Prepares data when no files need syncing"},{"parameters":{"operation":"executeQuery","query":"-- Complete step (no files)\nSELECT complete_workflow_step(\n  '{{ $json.step_key }}',\n  '{\"files_synced\": 0, \"project_folder_id\": \"{{ $json.project_folder_id }}\"}'\n);","options":{}},"id":"8de1ed3f-7f82-4e64-b1ea-bef5dfe37179","name":"Complete Step (No Files)","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2832,1040],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Completes workflow step even with no files"},{"parameters":{"operation":"executeQuery","query":"-- Mark input event as processed\nDO $$ BEGIN\n  UPDATE events SET processed_at = now() WHERE id = '{{ $('Prepare No Files').item.json.event_id }}'::uuid;\nEXCEPTION WHEN invalid_text_representation THEN NULL;\nEND $$;\n\n-- Emit event (no files synced)\nINSERT INTO events (event_type, project_id, payload, source_system, source_flow)\nVALUES (\n  'DRIVE_SETUP_COMPLETE',\n  '{{ $('Prepare No Files').item.json.project_id }}'::uuid,\n  '{\"files_synced\": 0, \"project_folder_id\": \"{{ $('Prepare No Files').item.json.project_folder_id }}\"}',\n  'n8n',\n  'M1_04c_Sync_Initial_Files'\n)\nRETURNING id, event_type::text, project_id;","options":{}},"id":"8a3e8b0f-4b99-42c3-a7b7-173d48ebbb69","name":"Emit DRIVE_SETUP_COMPLETE (No Files)","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3040,1040],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Emits event when no files needed syncing"},{"parameters":{"jsCode":"return {\n  json: {\n    status: 'success',\n    message: 'DRIVE_SETUP_COMPLETE emitted - no files to sync',\n    project_id: $('Prepare No Files').first().json.project_id,\n    files_synced: 0\n  }\n};"},"id":"9ed7d609-9d6f-4b8c-bdc3-fa5336263773","name":"Done (No Files)","type":"n8n-nodes-base.code","typeVersion":2,"position":[3264,1040],"notes":"Success response for no-files path"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"42883984-78b6-4f7b-a96b-6010e188a7f6","name":"Respond (No Files)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[3472,1040]},{"parameters":{"jsCode":"// Step already done or in progress\nconst claimResult = $input.first().json;\nconst eventData = $('Parse Event Data').first().json;\n\nif (claimResult.current_status === 'DONE') {\n  return {\n    json: {\n      action: 'skip_but_emit',\n      reason: 'Files already synced',\n      project_folder_id: claimResult.existing_payload?.project_folder_id || eventData.project_folder_id,\n      files_synced: claimResult.existing_payload?.files_synced || 0,\n      project_id: eventData.project_id,\n      event_id: eventData.event_id\n    }\n  };\n}\n\n// IN_PROGRESS\nreturn {\n  json: {\n    action: 'exit',\n    reason: 'Step in progress by another run',\n    current_status: claimResult.current_status\n  }\n};"},"id":"1bde8f06-6f0a-4628-8a2c-c14cbda5e273","name":"Handle Not Claimed","type":"n8n-nodes-base.code","typeVersion":2,"position":[2192,1248],"notes":"Handles already claimed or done steps"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-action","leftValue":"={{ $json.action }}","rightValue":"skip_but_emit","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"041bd767-32d9-41f6-81ca-b13206179709","name":"Should Emit Event?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2400,1248],"notes":"If already done, still emit DRIVE_SETUP_COMPLETE"},{"parameters":{"jsCode":"const data = $input.first().json;\nreturn {\n  json: {\n    project_id: data.project_id,\n    event_id: data.event_id,\n    project_folder_id: data.project_folder_id,\n    files_synced: data.files_synced\n  }\n};"},"id":"ba2729e2-b851-4014-8953-60450781acb5","name":"Prepare Skip Emit","type":"n8n-nodes-base.code","typeVersion":2,"position":[2624,1232],"notes":"Prepares data for skip path emit"},{"parameters":{"operation":"executeQuery","query":"-- Mark input event as processed\nDO $$ BEGIN\n  UPDATE events SET processed_at = now() WHERE id = '{{ $json.event_id }}'::uuid;\nEXCEPTION WHEN invalid_text_representation THEN NULL;\nEND $$;\n\n-- Emit event (reused from previous run)\nINSERT INTO events (event_type, project_id, payload, source_system, source_flow)\nVALUES (\n  'DRIVE_SETUP_COMPLETE',\n  '{{ $json.project_id }}'::uuid,\n  '{\"files_synced\": {{ $json.files_synced }}, \"project_folder_id\": \"{{ $json.project_folder_id }}\", \"reused\": true}',\n  'n8n',\n  'M1_04c_Sync_Initial_Files'\n)\nRETURNING id, event_type::text, project_id;","options":{}},"id":"58c8559b-71bb-4faf-a74d-0990c21bf8e5","name":"Emit DRIVE_SETUP_COMPLETE (Skip)","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2832,1232],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Emits event when reusing previous sync result"},{"parameters":{"jsCode":"return {\n  json: {\n    status: 'success',\n    message: 'DRIVE_SETUP_COMPLETE emitted (reused)',\n    project_id: $input.first().json.project_id\n  }\n};"},"id":"7c3692c3-6a56-4135-a61d-a73edb5e481e","name":"Done (Skip Path)","type":"n8n-nodes-base.code","typeVersion":2,"position":[3040,1232],"notes":"Success for skip path"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"d492a0c7-625d-4d98-8233-96c87467bf22","name":"Respond (Skip)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[3264,1232]},{"parameters":{"jsCode":"return {\n  json: {\n    status: 'skipped',\n    message: 'Step in progress by another run'\n  }\n};"},"id":"2a6ab24a-ad25-4993-b196-8869de8297df","name":"Done (Exit)","type":"n8n-nodes-base.code","typeVersion":2,"position":[2624,1408],"notes":"Exit when in progress"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"7800631c-5a63-4c03-aebd-619ecadb3e5e","name":"Respond (Exit)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2832,1408]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Event Data","type":"main","index":0}]]},"Parse Event Data":{"main":[[{"node":"Claim Workflow Step","type":"main","index":0}]]},"Claim Workflow Step":{"main":[[{"node":"Step Claimed?","type":"main","index":0}]]},"Step Claimed?":{"main":[[{"node":"Fetch Unsynced Files","type":"main","index":0}],[{"node":"Handle Not Claimed","type":"main","index":0}]]},"Fetch Unsynced Files":{"main":[[{"node":"Has Files?","type":"main","index":0}]]},"Has Files?":{"main":[[{"node":"Fetch Auftrag Folder","type":"main","index":0}],[{"node":"Prepare No Files","type":"main","index":0}]]},"Fetch Auftrag Folder":{"main":[[{"node":"Prepare File Items","type":"main","index":0}]]},"Prepare File Items":{"main":[[{"node":"Download from Storage","type":"main","index":0}]]},"Download from Storage":{"main":[[{"node":"Upload to Drive","type":"main","index":0}]]},"Upload to Drive":{"main":[[{"node":"Collect Upload Results","type":"main","index":0}]]},"Collect Upload Results":{"main":[[{"node":"Update project_files","type":"main","index":0}]]},"Update project_files":{"main":[[{"node":"Complete Workflow Step","type":"main","index":0}]]},"Complete Workflow Step":{"main":[[{"node":"Emit DRIVE_SETUP_COMPLETE","type":"main","index":0}]]},"Emit DRIVE_SETUP_COMPLETE":{"main":[[{"node":"Done (Main Path)","type":"main","index":0}]]},"Done (Main Path)":{"main":[[{"node":"Respond (Main)","type":"main","index":0}]]},"Prepare No Files":{"main":[[{"node":"Complete Step (No Files)","type":"main","index":0}]]},"Complete Step (No Files)":{"main":[[{"node":"Emit DRIVE_SETUP_COMPLETE (No Files)","type":"main","index":0}]]},"Emit DRIVE_SETUP_COMPLETE (No Files)":{"main":[[{"node":"Done (No Files)","type":"main","index":0}]]},"Done (No Files)":{"main":[[{"node":"Respond (No Files)","type":"main","index":0}]]},"Handle Not Claimed":{"main":[[{"node":"Should Emit Event?","type":"main","index":0}]]},"Should Emit Event?":{"main":[[{"node":"Prepare Skip Emit","type":"main","index":0}],[{"node":"Done (Exit)","type":"main","index":0}]]},"Prepare Skip Emit":{"main":[[{"node":"Emit DRIVE_SETUP_COMPLETE (Skip)","type":"main","index":0}]]},"Emit DRIVE_SETUP_COMPLETE (Skip)":{"main":[[{"node":"Done (Skip Path)","type":"main","index":0}]]},"Done (Skip Path)":{"main":[[{"node":"Respond (Skip)","type":"main","index":0}]]},"Done (Exit)":{"main":[[{"node":"Respond (Exit)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"apmJoMCbOchwfqTp"},"staticData":null,"meta":null,"pinData":{},"versionId":"4b597c0b-2976-41f5-b8c5-cbb3a5566e6d","activeVersionId":"4b597c0b-2976-41f5-b8c5-cbb3a5566e6d","versionCounter":26,"triggerCount":1,"shared":[{"updatedAt":"2025-12-28T13:46:43.122Z","createdAt":"2025-12-28T13:46:43.122Z","role":"workflow:owner","workflowId":"RNifQ36TwyKqKxOJ","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[{"updatedAt":"2025-12-28T13:45:52.149Z","createdAt":"2025-12-28T13:45:52.149Z","id":"Gqc9kzZecA8tXfMd","name":"M1 - Intake"}],"activeVersion":{"updatedAt":"2025-12-28T16:24:50.000Z","createdAt":"2025-12-28T16:24:47.520Z","versionId":"4b597c0b-2976-41f5-b8c5-cbb3a5566e6d","workflowId":"RNifQ36TwyKqKxOJ","nodes":[{"parameters":{"httpMethod":"POST","path":"m1-04c-sync-initial-files","responseMode":"responseNode","options":{}},"id":"751e625c-5b80-434e-bf19-658b9ef496e3","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1408,1072],"webhookId":"m1-04c-sync-initial-files","notes":"Receives DRIVE_TREE_CREATED events from MX_00_Event_Router"},{"parameters":{"jsCode":"// Extract event data from router payload\nconst input = $input.first().json;\n\n// Router sends: { event_id, event_type, project_id, payload }\nconst eventId = input.body?.event_id || input.event_id;\nconst projectId = input.body?.project_id || input.project_id;\nconst payload = input.body?.payload || input.payload || {};\n\n// Step key is project-specific\nconst stepKey = `drive_sync:${projectId}`;\n\nreturn {\n  json: {\n    event_id: eventId,\n    project_id: projectId,\n    project_folder_id: payload.project_folder_id,\n    step_key: stepKey\n  }\n};"},"id":"81611829-23c3-465e-9ef7-6cbd0a1cfb76","name":"Parse Event Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,1072],"notes":"Extracts event data and calculates step_key for file sync"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n  '{{ $json.step_key }}',\n  '{{ $json.project_id }}'::uuid,\n  'DRIVE_SYNC'\n);","options":{}},"id":"1cd73b37-1d68-4402-8df6-9d279efeef7b","name":"Claim Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1792,1072],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Atomic claim to prevent duplicate processing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-claimed","leftValue":"={{ $json.claimed }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"41ecec16-6922-4b8e-a426-47bd30b2989e","name":"Step Claimed?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1984,1072],"notes":"If claimed=true: proceed. If false: either DONE or IN_PROGRESS"},{"parameters":{"operation":"executeQuery","query":"SELECT \n  id,\n  file_name,\n  mime_type,\n  storage_path,\n  'project-files' as storage_bucket\nFROM project_files \nWHERE project_id = '{{ $('Parse Event Data').item.json.project_id }}'::uuid\n  AND drive_file_id IS NULL\n  AND file_type IN ('INTAKE_PDF', 'INTAKE_ORDER')\nORDER BY created_at ASC;","options":{}},"id":"f3029f9c-cc45-481c-ac7c-1df38ae7a8b7","name":"Fetch Unsynced Files","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2208,944],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Gets all project files that haven't been synced to Drive yet"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-files","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"6acf5f2e-d314-4b84-9fff-f890eb0d7cb8","name":"Has Files?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2400,944],"notes":"Check if there are files to sync"},{"parameters":{"operation":"executeQuery","query":"SELECT drive_folder_id \nFROM project_drive_folders \nWHERE project_id = '{{ $('Parse Event Data').item.json.project_id }}'::uuid\n  AND folder_type = 'AUFTRAG';","options":{}},"id":"f779ff37-9394-43b3-a36c-a8b81bfb0dfe","name":"Fetch Auftrag Folder","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2624,832],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Gets the 01_Auftrag folder ID from Drive folders"},{"parameters":{"jsCode":"// Prepare file items for processing\nconst files = $('Fetch Unsynced Files').all();\nconst auftragFolder = $input.first().json.drive_folder_id;\nconst eventData = $('Parse Event Data').first().json;\n\nreturn files.map(fileItem => ({\n  json: {\n    file_id: fileItem.json.id,\n    file_name: fileItem.json.file_name,\n    mime_type: fileItem.json.mime_type,\n    storage_path: fileItem.json.storage_path,\n    storage_bucket: fileItem.json.storage_bucket,\n    auftrag_folder_id: auftragFolder,\n    project_id: eventData.project_id,\n    event_id: eventData.event_id,\n    step_key: eventData.step_key,\n    project_folder_id: eventData.project_folder_id,\n    // AUTHENTICATED statt PUBLIC!\n    storage_url: `https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/authenticated/project-files/${fileItem.json.storage_path}`\n  }\n}));"},"id":"b585ce11-b4c9-4b53-af83-f40a87bd38f8","name":"Prepare File Items","type":"n8n-nodes-base.code","typeVersion":2,"position":[2832,832],"notes":"Prepares each file for download and upload"},{"parameters":{"url":"={{ $json.storage_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlldHdudHdheWhtem1oaGdka2xpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTI4NDUwNywiZXhwIjoyMDgwODYwNTA3fQ.1h7t0JOavX5CSarqKIUr9mMLJBAbt5aI5bAROJTxHYA"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"id":"94d7b084-80c2-4a8c-b52e-68fb46392fff","name":"Download from Storage","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3040,832],"notes":"Downloads file from Supabase Storage (public bucket)"},{"parameters":{"name":"={{ $('Prepare File Items').item.json.file_name }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $('Prepare File Items').item.json.auftrag_folder_id }}"},"options":{}},"id":"0bc17a1e-cb00-435f-854a-bc4198493693","name":"Upload to Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3264,832],"credentials":{"googleDriveOAuth2Api":{"id":"aYft6Y1rBlcl2pcf","name":"Google Drive account"}},"notes":"Uploads file to 01_Auftrag folder in Google Drive"},{"parameters":{"jsCode":"// Collect results from all uploaded files\nconst items = $input.all();\nconst prepItems = $('Prepare File Items').all();\nconst eventData = $('Parse Event Data').first().json;\n\n// Build update data and results\nconst results = items.map((item, idx) => {\n  const prep = prepItems[idx].json;\n  return {\n    file_id: prep.file_id,\n    file_name: prep.file_name,\n    drive_file_id: item.json.id,\n    drive_file_url: `https://drive.google.com/file/d/${item.json.id}/view`\n  };\n});\n\n// Build SQL for updating all files\nconst updates = results.map(r => \n  `UPDATE project_files SET drive_file_id = '${r.drive_file_id}', drive_file_url = '${r.drive_file_url}' WHERE id = '${r.file_id}'::uuid`\n).join(';\\n');\n\nreturn {\n  json: {\n    project_id: eventData.project_id,\n    event_id: eventData.event_id,\n    step_key: eventData.step_key,\n    project_folder_id: eventData.project_folder_id,\n    files_synced: results.length,\n    synced_files: results,\n    sql: updates\n  }\n};"},"id":"8339e6d2-cf07-4827-8e28-d330688ceed2","name":"Collect Upload Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[3472,832],"notes":"Collects all upload results and builds SQL update"},{"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"id":"6d2df065-c2c4-433d-9f85-0dcac49db3d8","name":"Update project_files","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3696,832],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Updates project_files with drive_file_id and drive_file_url"},{"parameters":{"operation":"executeQuery","query":"SELECT complete_workflow_step(\n  '{{ $('Collect Upload Results').item.json.step_key }}',\n  '{\"files_synced\": {{ $('Collect Upload Results').item.json.files_synced }}, \"project_folder_id\": \"{{ $('Collect Upload Results').item.json.project_folder_id }}\"}'\n);","options":{}},"id":"bd2ab255-e509-467b-8d06-c5952d853b99","name":"Complete Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3920,832],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Marks workflow step as DONE"},{"parameters":{"operation":"executeQuery","query":"-- Mark input event as processed\nDO $$ BEGIN\n  UPDATE events SET processed_at = now() WHERE id = '{{ $('Collect Upload Results').item.json.event_id }}'::uuid;\nEXCEPTION WHEN invalid_text_representation THEN NULL;\nEND $$;\n\n-- Emit DRIVE_SETUP_COMPLETE event\nINSERT INTO events (event_type, project_id, payload, source_system, source_flow)\nVALUES (\n  'DRIVE_SETUP_COMPLETE',\n  '{{ $('Collect Upload Results').item.json.project_id }}'::uuid,\n  '{\"files_synced\": {{ $('Collect Upload Results').item.json.files_synced }}, \"project_folder_id\": \"{{ $('Collect Upload Results').item.json.project_folder_id }}\"}',\n  'n8n',\n  'M1_04c_Sync_Initial_Files'\n)\nRETURNING id, event_type::text, project_id;","options":{}},"id":"38a91ade-806d-45aa-accf-0aff4ae6e05c","name":"Emit DRIVE_SETUP_COMPLETE","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4144,832],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Marks input event processed, emits DRIVE_SETUP_COMPLETE"},{"parameters":{"jsCode":"const data = $('Collect Upload Results').first().json;\nreturn {\n  json: {\n    status: 'success',\n    message: `DRIVE_SETUP_COMPLETE emitted - ${data.files_synced} file(s) synced`,\n    project_id: data.project_id,\n    files_synced: data.files_synced,\n    synced_files: data.synced_files\n  }\n};"},"id":"054f61a6-71c9-49c9-b475-0698959de190","name":"Done (Main Path)","type":"n8n-nodes-base.code","typeVersion":2,"position":[4352,832],"notes":"Success response for main path with files"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"cfca0ea9-71ce-4084-8155-00c77dbad1c7","name":"Respond (Main)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[4576,832]},{"parameters":{"jsCode":"// No files to sync - still emit event\nconst eventData = $('Parse Event Data').first().json;\n\nreturn {\n  json: {\n    project_id: eventData.project_id,\n    event_id: eventData.event_id,\n    step_key: eventData.step_key,\n    project_folder_id: eventData.project_folder_id,\n    files_synced: 0\n  }\n};"},"id":"85b2d1b0-804b-4237-ad67-7152520eb7c1","name":"Prepare No Files","type":"n8n-nodes-base.code","typeVersion":2,"position":[2624,1040],"notes":"Prepares data when no files need syncing"},{"parameters":{"operation":"executeQuery","query":"-- Complete step (no files)\nSELECT complete_workflow_step(\n  '{{ $json.step_key }}',\n  '{\"files_synced\": 0, \"project_folder_id\": \"{{ $json.project_folder_id }}\"}'\n);","options":{}},"id":"8de1ed3f-7f82-4e64-b1ea-bef5dfe37179","name":"Complete Step (No Files)","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2832,1040],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Completes workflow step even with no files"},{"parameters":{"operation":"executeQuery","query":"-- Mark input event as processed\nDO $$ BEGIN\n  UPDATE events SET processed_at = now() WHERE id = '{{ $('Prepare No Files').item.json.event_id }}'::uuid;\nEXCEPTION WHEN invalid_text_representation THEN NULL;\nEND $$;\n\n-- Emit event (no files synced)\nINSERT INTO events (event_type, project_id, payload, source_system, source_flow)\nVALUES (\n  'DRIVE_SETUP_COMPLETE',\n  '{{ $('Prepare No Files').item.json.project_id }}'::uuid,\n  '{\"files_synced\": 0, \"project_folder_id\": \"{{ $('Prepare No Files').item.json.project_folder_id }}\"}',\n  'n8n',\n  'M1_04c_Sync_Initial_Files'\n)\nRETURNING id, event_type::text, project_id;","options":{}},"id":"8a3e8b0f-4b99-42c3-a7b7-173d48ebbb69","name":"Emit DRIVE_SETUP_COMPLETE (No Files)","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3040,1040],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Emits event when no files needed syncing"},{"parameters":{"jsCode":"return {\n  json: {\n    status: 'success',\n    message: 'DRIVE_SETUP_COMPLETE emitted - no files to sync',\n    project_id: $('Prepare No Files').first().json.project_id,\n    files_synced: 0\n  }\n};"},"id":"9ed7d609-9d6f-4b8c-bdc3-fa5336263773","name":"Done (No Files)","type":"n8n-nodes-base.code","typeVersion":2,"position":[3264,1040],"notes":"Success response for no-files path"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"42883984-78b6-4f7b-a96b-6010e188a7f6","name":"Respond (No Files)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[3472,1040]},{"parameters":{"jsCode":"// Step already done or in progress\nconst claimResult = $input.first().json;\nconst eventData = $('Parse Event Data').first().json;\n\nif (claimResult.current_status === 'DONE') {\n  return {\n    json: {\n      action: 'skip_but_emit',\n      reason: 'Files already synced',\n      project_folder_id: claimResult.existing_payload?.project_folder_id || eventData.project_folder_id,\n      files_synced: claimResult.existing_payload?.files_synced || 0,\n      project_id: eventData.project_id,\n      event_id: eventData.event_id\n    }\n  };\n}\n\n// IN_PROGRESS\nreturn {\n  json: {\n    action: 'exit',\n    reason: 'Step in progress by another run',\n    current_status: claimResult.current_status\n  }\n};"},"id":"1bde8f06-6f0a-4628-8a2c-c14cbda5e273","name":"Handle Not Claimed","type":"n8n-nodes-base.code","typeVersion":2,"position":[2192,1248],"notes":"Handles already claimed or done steps"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-action","leftValue":"={{ $json.action }}","rightValue":"skip_but_emit","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"041bd767-32d9-41f6-81ca-b13206179709","name":"Should Emit Event?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2400,1248],"notes":"If already done, still emit DRIVE_SETUP_COMPLETE"},{"parameters":{"jsCode":"const data = $input.first().json;\nreturn {\n  json: {\n    project_id: data.project_id,\n    event_id: data.event_id,\n    project_folder_id: data.project_folder_id,\n    files_synced: data.files_synced\n  }\n};"},"id":"ba2729e2-b851-4014-8953-60450781acb5","name":"Prepare Skip Emit","type":"n8n-nodes-base.code","typeVersion":2,"position":[2624,1232],"notes":"Prepares data for skip path emit"},{"parameters":{"operation":"executeQuery","query":"-- Mark input event as processed\nDO $$ BEGIN\n  UPDATE events SET processed_at = now() WHERE id = '{{ $json.event_id }}'::uuid;\nEXCEPTION WHEN invalid_text_representation THEN NULL;\nEND $$;\n\n-- Emit event (reused from previous run)\nINSERT INTO events (event_type, project_id, payload, source_system, source_flow)\nVALUES (\n  'DRIVE_SETUP_COMPLETE',\n  '{{ $json.project_id }}'::uuid,\n  '{\"files_synced\": {{ $json.files_synced }}, \"project_folder_id\": \"{{ $json.project_folder_id }}\", \"reused\": true}',\n  'n8n',\n  'M1_04c_Sync_Initial_Files'\n)\nRETURNING id, event_type::text, project_id;","options":{}},"id":"58c8559b-71bb-4faf-a74d-0990c21bf8e5","name":"Emit DRIVE_SETUP_COMPLETE (Skip)","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2832,1232],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Emits event when reusing previous sync result"},{"parameters":{"jsCode":"return {\n  json: {\n    status: 'success',\n    message: 'DRIVE_SETUP_COMPLETE emitted (reused)',\n    project_id: $input.first().json.project_id\n  }\n};"},"id":"7c3692c3-6a56-4135-a61d-a73edb5e481e","name":"Done (Skip Path)","type":"n8n-nodes-base.code","typeVersion":2,"position":[3040,1232],"notes":"Success for skip path"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"d492a0c7-625d-4d98-8233-96c87467bf22","name":"Respond (Skip)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[3264,1232]},{"parameters":{"jsCode":"return {\n  json: {\n    status: 'skipped',\n    message: 'Step in progress by another run'\n  }\n};"},"id":"2a6ab24a-ad25-4993-b196-8869de8297df","name":"Done (Exit)","type":"n8n-nodes-base.code","typeVersion":2,"position":[2624,1408],"notes":"Exit when in progress"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"7800631c-5a63-4c03-aebd-619ecadb3e5e","name":"Respond (Exit)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2832,1408]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Event Data","type":"main","index":0}]]},"Parse Event Data":{"main":[[{"node":"Claim Workflow Step","type":"main","index":0}]]},"Claim Workflow Step":{"main":[[{"node":"Step Claimed?","type":"main","index":0}]]},"Step Claimed?":{"main":[[{"node":"Fetch Unsynced Files","type":"main","index":0}],[{"node":"Handle Not Claimed","type":"main","index":0}]]},"Fetch Unsynced Files":{"main":[[{"node":"Has Files?","type":"main","index":0}]]},"Has Files?":{"main":[[{"node":"Fetch Auftrag Folder","type":"main","index":0}],[{"node":"Prepare No Files","type":"main","index":0}]]},"Fetch Auftrag Folder":{"main":[[{"node":"Prepare File Items","type":"main","index":0}]]},"Prepare File Items":{"main":[[{"node":"Download from Storage","type":"main","index":0}]]},"Download from Storage":{"main":[[{"node":"Upload to Drive","type":"main","index":0}]]},"Upload to Drive":{"main":[[{"node":"Collect Upload Results","type":"main","index":0}]]},"Collect Upload Results":{"main":[[{"node":"Update project_files","type":"main","index":0}]]},"Update project_files":{"main":[[{"node":"Complete Workflow Step","type":"main","index":0}]]},"Complete Workflow Step":{"main":[[{"node":"Emit DRIVE_SETUP_COMPLETE","type":"main","index":0}]]},"Emit DRIVE_SETUP_COMPLETE":{"main":[[{"node":"Done (Main Path)","type":"main","index":0}]]},"Done (Main Path)":{"main":[[{"node":"Respond (Main)","type":"main","index":0}]]},"Prepare No Files":{"main":[[{"node":"Complete Step (No Files)","type":"main","index":0}]]},"Complete Step (No Files)":{"main":[[{"node":"Emit DRIVE_SETUP_COMPLETE (No Files)","type":"main","index":0}]]},"Emit DRIVE_SETUP_COMPLETE (No Files)":{"main":[[{"node":"Done (No Files)","type":"main","index":0}]]},"Done (No Files)":{"main":[[{"node":"Respond (No Files)","type":"main","index":0}]]},"Handle Not Claimed":{"main":[[{"node":"Should Emit Event?","type":"main","index":0}]]},"Should Emit Event?":{"main":[[{"node":"Prepare Skip Emit","type":"main","index":0}],[{"node":"Done (Exit)","type":"main","index":0}]]},"Prepare Skip Emit":{"main":[[{"node":"Emit DRIVE_SETUP_COMPLETE (Skip)","type":"main","index":0}]]},"Emit DRIVE_SETUP_COMPLETE (Skip)":{"main":[[{"node":"Done (Skip Path)","type":"main","index":0}]]},"Done (Skip Path)":{"main":[[{"node":"Respond (Skip)","type":"main","index":0}]]},"Done (Exit)":{"main":[[{"node":"Respond (Exit)","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version 4b597c0b","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-12-28T16:24:50.569Z","id":110,"workflowId":"RNifQ36TwyKqKxOJ","versionId":"4b597c0b-2976-41f5-b8c5-cbb3a5566e6d","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2025-12-28T16:24:56.907Z","id":111,"workflowId":"RNifQ36TwyKqKxOJ","versionId":"4b597c0b-2976-41f5-b8c5-cbb3a5566e6d","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-01-03T12:24:28.307Z","id":176,"workflowId":"RNifQ36TwyKqKxOJ","versionId":"4b597c0b-2976-41f5-b8c5-cbb3a5566e6d","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}