n8n-workflows/M1_05_Notification.json
{"updatedAt":"2026-01-03T12:24:50.470Z","createdAt":"2025-12-28T13:47:24.189Z","id":"ixnrOVeJhF3veYwJ","name":"M1_05_Notification","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"m1-05-notification","responseMode":"responseNode","options":{}},"id":"f5b23602-6f64-40ad-a507-dbf5d9f9dbaa","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1296,352],"webhookId":"m1-05-notification","notes":"Receives DRIVE_SETUP_COMPLETE events from MX_00_Event_Router"},{"parameters":{"jsCode":"// Extract event data from router payload\nconst input = $input.first().json;\n\n// Router sends: { event_id, event_type, project_id, payload }\nconst eventId = input.body?.event_id || input.event_id;\nconst projectId = input.body?.project_id || input.project_id;\nconst payload = input.body?.payload || input.payload || {};\n\n// Step key is project-specific\nconst stepKey = `notification:${projectId}`;\n\nreturn {\n  json: {\n    event_id: eventId,\n    project_id: projectId,\n    files_synced: payload.files_synced || 0,\n    project_folder_id: payload.project_folder_id,\n    step_key: stepKey\n  }\n};"},"id":"f35ae954-1264-4388-951e-f9751b3c72de","name":"Parse Event Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1104,352],"notes":"Extracts event data and calculates step_key for notification"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n  '{{ $json.step_key }}',\n  '{{ $json.project_id }}'::uuid,\n  'NOTIFICATION'\n);","options":{}},"id":"801026c8-3354-4ec3-86a2-1c42e2643c90","name":"Claim Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-896,352],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Atomic claim to prevent duplicate notifications"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-claimed","leftValue":"={{ $json.claimed }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"714bc945-6b8a-44a5-8c5f-79c42465a633","name":"Step Claimed?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-704,352],"notes":"If claimed=true: proceed. If false: already sent or in progress"},{"parameters":{"operation":"executeQuery","query":"-- Fetch project details for notification\nSELECT \n  p.id,\n  p.project_number,\n  p.object_street,\n  p.object_zip,\n  p.object_city,\n  p.drive_folder_id,\n  p.created_at,\n  c.company_name as client_name\nFROM projects p\nLEFT JOIN clients c ON p.client_id = c.id\nWHERE p.id = '{{ $('Parse Event Data').item.json.project_id }}'::uuid;","options":{}},"id":"e4035635-2927-4534-8d72-4523c8207b86","name":"Fetch Project Details","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-464,224],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Gets project and client info for the notification"},{"parameters":{"jsCode":"// Build Telegram message with project details\nconst project = $input.first().json;\nconst eventData = $('Parse Event Data').first().json;\n\n// Build Drive URL\nconst driveUrl = eventData.project_folder_id \n  ? `https://drive.google.com/drive/folders/${eventData.project_folder_id}`\n  : null;\n\n// Format address\nconst address = [project.object_street, `${project.object_zip} ${project.object_city}`]\n  .filter(Boolean)\n  .join(', ');\n\n// Build message lines\nconst lines = [\n  '🏗️ *Neues Projekt angelegt*',\n  '',\n  `📋 *${project.project_number || 'Ohne Nummer'}*`,\n  project.client_name ? `🏢 ${project.client_name}` : null,\n  address ? `📍 ${address}` : null,\n  '',\n  driveUrl ? `📂 [Drive-Ordner öffnen](${driveUrl})` : null,\n  '',\n  `✅ ${eventData.files_synced} Datei(en) synchronisiert`\n].filter(Boolean);\n\nreturn {\n  json: {\n    message: lines.join('\\n'),\n    project_id: eventData.project_id,\n    project_number: project.project_number,\n    event_id: eventData.event_id,\n    step_key: eventData.step_key,\n    files_synced: eventData.files_synced,\n    project_folder_id: eventData.project_folder_id\n  }\n};"},"id":"2ee5cebf-88f5-4afd-b6dd-db5e309c7685","name":"Format Telegram Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,224],"notes":"Builds formatted Telegram message with project info"},{"parameters":{"chatId":"6088921678","text":"={{ $json.message }}","additionalFields":{"disable_web_page_preview":true,"parse_mode":"Markdown"}},"id":"90ad5906-c900-43aa-bc1d-70f98d19a4c7","name":"Send Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-64,224],"webhookId":"80f0db8f-8e7b-4b8d-bf6c-dc9b4dd39030","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}},"notes":"Sends notification to Baugenius channel"},{"parameters":{"operation":"executeQuery","query":"SELECT complete_workflow_step(\n  '{{ $('Format Telegram Message').item.json.step_key }}',\n  '{\"notification_sent\": true, \"project_number\": \"{{ $('Format Telegram Message').item.json.project_number }}\"}'\n);","options":{}},"id":"dacf9826-b082-4287-a2e9-c0d37aa332b3","name":"Complete Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[144,224],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Marks workflow step as DONE"},{"parameters":{"operation":"executeQuery","query":"-- Mark input event as processed\nDO $$ BEGIN\n  UPDATE events SET processed_at = now() WHERE id = '{{ $('Format Telegram Message').item.json.event_id }}'::uuid;\nEXCEPTION WHEN invalid_text_representation THEN NULL;\nEND $$;\n\n-- Emit NOTIFICATION_SENT event (for audit trail)\nINSERT INTO events (event_type, project_id, payload, source_system, source_flow)\nVALUES (\n  'NOTIFICATION_SENT',\n  '{{ $('Format Telegram Message').item.json.project_id }}'::uuid,\n  '{\"channel\": \"telegram\", \"project_number\": \"{{ $('Format Telegram Message').item.json.project_number }}\", \"files_synced\": {{ $('Format Telegram Message').item.json.files_synced }}}',\n  'n8n',\n  'M1_05_Notification'\n)\nRETURNING id, event_type::text, project_id;","options":{}},"id":"2fad2901-b77b-4322-b928-aaa244788143","name":"Emit NOTIFICATION_SENT","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[352,224],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Marks input event processed, emits NOTIFICATION_SENT for audit"},{"parameters":{"jsCode":"const data = $('Format Telegram Message').first().json;\nreturn {\n  json: {\n    status: 'success',\n    message: `Telegram notification sent for ${data.project_number}`,\n    project_id: data.project_id,\n    project_number: data.project_number\n  }\n};"},"id":"0384c4f5-64c3-4457-a72e-12d03703d3fd","name":"Done (Success)","type":"n8n-nodes-base.code","typeVersion":2,"position":[544,224],"notes":"Success response"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"652ef2c7-2aef-48d0-82bb-87f154c5ff7e","name":"Respond (Success)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[752,224]},{"parameters":{"jsCode":"// Step already done or in progress\nconst claimResult = $input.first().json;\nconst eventData = $('Parse Event Data').first().json;\n\nif (claimResult.current_status === 'DONE') {\n  return {\n    json: {\n      status: 'skipped',\n      reason: 'Notification already sent',\n      current_status: claimResult.current_status,\n      project_id: eventData.project_id\n    }\n  };\n}\n\n// IN_PROGRESS\nreturn {\n  json: {\n    status: 'skipped',\n    reason: 'Step in progress by another run',\n    current_status: claimResult.current_status,\n    project_id: eventData.project_id\n  }\n};"},"id":"a6782c1c-96a3-4b56-93b4-baa6c7c1fc77","name":"Handle Not Claimed","type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,464],"notes":"Handles DONE (skip - no double notification!) and IN_PROGRESS (exit)"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"45471fe5-292c-4fab-bded-8ddcc794df49","name":"Respond (Skip)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-256,464]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Event Data","type":"main","index":0}]]},"Parse Event Data":{"main":[[{"node":"Claim Workflow Step","type":"main","index":0}]]},"Claim Workflow Step":{"main":[[{"node":"Step Claimed?","type":"main","index":0}]]},"Step Claimed?":{"main":[[{"node":"Fetch Project Details","type":"main","index":0}],[{"node":"Handle Not Claimed","type":"main","index":0}]]},"Fetch Project Details":{"main":[[{"node":"Format Telegram Message","type":"main","index":0}]]},"Format Telegram Message":{"main":[[{"node":"Send Telegram","type":"main","index":0}]]},"Send Telegram":{"main":[[{"node":"Complete Workflow Step","type":"main","index":0}]]},"Complete Workflow Step":{"main":[[{"node":"Emit NOTIFICATION_SENT","type":"main","index":0}]]},"Emit NOTIFICATION_SENT":{"main":[[{"node":"Done (Success)","type":"main","index":0}]]},"Done (Success)":{"main":[[{"node":"Respond (Success)","type":"main","index":0}]]},"Handle Not Claimed":{"main":[[{"node":"Respond (Skip)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"apmJoMCbOchwfqTp"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"de372113-5417-48ff-b10c-f2a01e563dd0","activeVersionId":"de372113-5417-48ff-b10c-f2a01e563dd0","versionCounter":25,"triggerCount":1,"shared":[{"updatedAt":"2025-12-28T13:47:24.192Z","createdAt":"2025-12-28T13:47:24.192Z","role":"workflow:owner","workflowId":"ixnrOVeJhF3veYwJ","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[{"updatedAt":"2025-12-28T13:45:52.149Z","createdAt":"2025-12-28T13:45:52.149Z","id":"Gqc9kzZecA8tXfMd","name":"M1 - Intake"}],"activeVersion":{"updatedAt":"2025-12-28T17:00:27.000Z","createdAt":"2025-12-28T16:58:47.598Z","versionId":"de372113-5417-48ff-b10c-f2a01e563dd0","workflowId":"ixnrOVeJhF3veYwJ","nodes":[{"parameters":{"httpMethod":"POST","path":"m1-05-notification","responseMode":"responseNode","options":{}},"id":"f5b23602-6f64-40ad-a507-dbf5d9f9dbaa","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1296,352],"webhookId":"m1-05-notification","notes":"Receives DRIVE_SETUP_COMPLETE events from MX_00_Event_Router"},{"parameters":{"jsCode":"// Extract event data from router payload\nconst input = $input.first().json;\n\n// Router sends: { event_id, event_type, project_id, payload }\nconst eventId = input.body?.event_id || input.event_id;\nconst projectId = input.body?.project_id || input.project_id;\nconst payload = input.body?.payload || input.payload || {};\n\n// Step key is project-specific\nconst stepKey = `notification:${projectId}`;\n\nreturn {\n  json: {\n    event_id: eventId,\n    project_id: projectId,\n    files_synced: payload.files_synced || 0,\n    project_folder_id: payload.project_folder_id,\n    step_key: stepKey\n  }\n};"},"id":"f35ae954-1264-4388-951e-f9751b3c72de","name":"Parse Event Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1104,352],"notes":"Extracts event data and calculates step_key for notification"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n  '{{ $json.step_key }}',\n  '{{ $json.project_id }}'::uuid,\n  'NOTIFICATION'\n);","options":{}},"id":"801026c8-3354-4ec3-86a2-1c42e2643c90","name":"Claim Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-896,352],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Atomic claim to prevent duplicate notifications"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-claimed","leftValue":"={{ $json.claimed }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"714bc945-6b8a-44a5-8c5f-79c42465a633","name":"Step Claimed?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-704,352],"notes":"If claimed=true: proceed. If false: already sent or in progress"},{"parameters":{"operation":"executeQuery","query":"-- Fetch project details for notification\nSELECT \n  p.id,\n  p.project_number,\n  p.object_street,\n  p.object_zip,\n  p.object_city,\n  p.drive_folder_id,\n  p.created_at,\n  c.company_name as client_name\nFROM projects p\nLEFT JOIN clients c ON p.client_id = c.id\nWHERE p.id = '{{ $('Parse Event Data').item.json.project_id }}'::uuid;","options":{}},"id":"e4035635-2927-4534-8d72-4523c8207b86","name":"Fetch Project Details","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-464,224],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Gets project and client info for the notification"},{"parameters":{"jsCode":"// Build Telegram message with project details\nconst project = $input.first().json;\nconst eventData = $('Parse Event Data').first().json;\n\n// Build Drive URL\nconst driveUrl = eventData.project_folder_id \n  ? `https://drive.google.com/drive/folders/${eventData.project_folder_id}`\n  : null;\n\n// Format address\nconst address = [project.object_street, `${project.object_zip} ${project.object_city}`]\n  .filter(Boolean)\n  .join(', ');\n\n// Build message lines\nconst lines = [\n  '🏗️ *Neues Projekt angelegt*',\n  '',\n  `📋 *${project.project_number || 'Ohne Nummer'}*`,\n  project.client_name ? `🏢 ${project.client_name}` : null,\n  address ? `📍 ${address}` : null,\n  '',\n  driveUrl ? `📂 [Drive-Ordner öffnen](${driveUrl})` : null,\n  '',\n  `✅ ${eventData.files_synced} Datei(en) synchronisiert`\n].filter(Boolean);\n\nreturn {\n  json: {\n    message: lines.join('\\n'),\n    project_id: eventData.project_id,\n    project_number: project.project_number,\n    event_id: eventData.event_id,\n    step_key: eventData.step_key,\n    files_synced: eventData.files_synced,\n    project_folder_id: eventData.project_folder_id\n  }\n};"},"id":"2ee5cebf-88f5-4afd-b6dd-db5e309c7685","name":"Format Telegram Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,224],"notes":"Builds formatted Telegram message with project info"},{"parameters":{"chatId":"6088921678","text":"={{ $json.message }}","additionalFields":{"disable_web_page_preview":true,"parse_mode":"Markdown"}},"id":"90ad5906-c900-43aa-bc1d-70f98d19a4c7","name":"Send Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-64,224],"webhookId":"80f0db8f-8e7b-4b8d-bf6c-dc9b4dd39030","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}},"notes":"Sends notification to Baugenius channel"},{"parameters":{"operation":"executeQuery","query":"SELECT complete_workflow_step(\n  '{{ $('Format Telegram Message').item.json.step_key }}',\n  '{\"notification_sent\": true, \"project_number\": \"{{ $('Format Telegram Message').item.json.project_number }}\"}'\n);","options":{}},"id":"dacf9826-b082-4287-a2e9-c0d37aa332b3","name":"Complete Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[144,224],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Marks workflow step as DONE"},{"parameters":{"operation":"executeQuery","query":"-- Mark input event as processed\nDO $$ BEGIN\n  UPDATE events SET processed_at = now() WHERE id = '{{ $('Format Telegram Message').item.json.event_id }}'::uuid;\nEXCEPTION WHEN invalid_text_representation THEN NULL;\nEND $$;\n\n-- Emit NOTIFICATION_SENT event (for audit trail)\nINSERT INTO events (event_type, project_id, payload, source_system, source_flow)\nVALUES (\n  'NOTIFICATION_SENT',\n  '{{ $('Format Telegram Message').item.json.project_id }}'::uuid,\n  '{\"channel\": \"telegram\", \"project_number\": \"{{ $('Format Telegram Message').item.json.project_number }}\", \"files_synced\": {{ $('Format Telegram Message').item.json.files_synced }}}',\n  'n8n',\n  'M1_05_Notification'\n)\nRETURNING id, event_type::text, project_id;","options":{}},"id":"2fad2901-b77b-4322-b928-aaa244788143","name":"Emit NOTIFICATION_SENT","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[352,224],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Marks input event processed, emits NOTIFICATION_SENT for audit"},{"parameters":{"jsCode":"const data = $('Format Telegram Message').first().json;\nreturn {\n  json: {\n    status: 'success',\n    message: `Telegram notification sent for ${data.project_number}`,\n    project_id: data.project_id,\n    project_number: data.project_number\n  }\n};"},"id":"0384c4f5-64c3-4457-a72e-12d03703d3fd","name":"Done (Success)","type":"n8n-nodes-base.code","typeVersion":2,"position":[544,224],"notes":"Success response"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"652ef2c7-2aef-48d0-82bb-87f154c5ff7e","name":"Respond (Success)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[752,224]},{"parameters":{"jsCode":"// Step already done or in progress\nconst claimResult = $input.first().json;\nconst eventData = $('Parse Event Data').first().json;\n\nif (claimResult.current_status === 'DONE') {\n  return {\n    json: {\n      status: 'skipped',\n      reason: 'Notification already sent',\n      current_status: claimResult.current_status,\n      project_id: eventData.project_id\n    }\n  };\n}\n\n// IN_PROGRESS\nreturn {\n  json: {\n    status: 'skipped',\n    reason: 'Step in progress by another run',\n    current_status: claimResult.current_status,\n    project_id: eventData.project_id\n  }\n};"},"id":"a6782c1c-96a3-4b56-93b4-baa6c7c1fc77","name":"Handle Not Claimed","type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,464],"notes":"Handles DONE (skip - no double notification!) and IN_PROGRESS (exit)"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"45471fe5-292c-4fab-bded-8ddcc794df49","name":"Respond (Skip)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-256,464]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Event Data","type":"main","index":0}]]},"Parse Event Data":{"main":[[{"node":"Claim Workflow Step","type":"main","index":0}]]},"Claim Workflow Step":{"main":[[{"node":"Step Claimed?","type":"main","index":0}]]},"Step Claimed?":{"main":[[{"node":"Fetch Project Details","type":"main","index":0}],[{"node":"Handle Not Claimed","type":"main","index":0}]]},"Fetch Project Details":{"main":[[{"node":"Format Telegram Message","type":"main","index":0}]]},"Format Telegram Message":{"main":[[{"node":"Send Telegram","type":"main","index":0}]]},"Send Telegram":{"main":[[{"node":"Complete Workflow Step","type":"main","index":0}]]},"Complete Workflow Step":{"main":[[{"node":"Emit NOTIFICATION_SENT","type":"main","index":0}]]},"Emit NOTIFICATION_SENT":{"main":[[{"node":"Done (Success)","type":"main","index":0}]]},"Done (Success)":{"main":[[{"node":"Respond (Success)","type":"main","index":0}]]},"Handle Not Claimed":{"main":[[{"node":"Respond (Skip)","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version de372113","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-12-28T17:00:27.958Z","id":112,"workflowId":"ixnrOVeJhF3veYwJ","versionId":"de372113-5417-48ff-b10c-f2a01e563dd0","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2025-12-28T17:00:34.278Z","id":113,"workflowId":"ixnrOVeJhF3veYwJ","versionId":"de372113-5417-48ff-b10c-f2a01e563dd0","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-01-03T12:24:50.510Z","id":178,"workflowId":"ixnrOVeJhF3veYwJ","versionId":"de372113-5417-48ff-b10c-f2a01e563dd0","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}