n8n-workflows/M1_04a_Prepare_Drive.json
{"updatedAt":"2026-01-13T18:06:13.823Z","createdAt":"2025-12-25T10:39:46.219Z","id":"kdXetd4FMCISdE4J","name":"M1_04a_Prepare_Drive","description":"Erstellt und verwaltet Ordnerstrukturen in Google Drive","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"m1-04a-prepare-drive","responseMode":"responseNode","options":{}},"id":"02277c93-9e0e-4158-b39b-053d6817b43f","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[48,864],"webhookId":"m1-04a-prepare-drive","notes":"Receives event from MX_00_Event_Router for PROJECT_CREATED events"},{"parameters":{"jsCode":"// Extract event data from router payload\nconst input = $input.first().json;\n\n// Router sends: { event_id, event_type, project_id, payload }\nconst eventId = input.body?.event_id || input.event_id;\nconst projectId = input.body?.project_id || input.project_id;\nconst payload = input.body?.payload || input.payload || {};\n\n// Calculate year folder key\nconst year = new Date().getFullYear();\nconst stepKey = `drive_year:${year}`;\n\nreturn {\n  json: {\n    event_id: eventId,\n    project_id: projectId,\n    year: year,\n    step_key: stepKey,\n    payload: payload\n  }\n};"},"id":"fee35ad0-8288-49b4-a79d-a3667b031677","name":"Parse Event Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[256,864],"notes":"Extracts event data and calculates step_key for year folder"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-claimed","leftValue":"={{ $json.claimed }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"7b8ad0c3-99c0-4d85-8b1c-1d678e154f61","name":"Step Claimed?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[608,864],"notes":"If claimed=true: proceed. If false: either DONE or IN_PROGRESS by another run"},{"parameters":{"jsCode":"// Step already done or in progress by another run\nconst claimResult = $input.first().json;\nconst eventData = $('Parse Event Data').first().json;\n\nif (claimResult.current_status === 'DONE') {\n  // Already done, we can still emit the next event for THIS project\n  return {\n    json: {\n      action: 'skip_but_emit',\n      reason: 'Year folder already exists',\n      year_folder_id: claimResult.existing_payload?.folder_id || null,\n      project_id: eventData.project_id,\n      event_id: eventData.event_id,\n      year: eventData.year\n    }\n  };\n}\n\n// IN_PROGRESS by another run - do nothing\nreturn {\n  json: {\n    action: 'exit',\n    reason: 'Step in progress by another run',\n    current_status: claimResult.current_status\n  }\n};"},"id":"1b006aed-2eb5-4363-96a8-897f51832554","name":"Handle Not Claimed","type":"n8n-nodes-base.code","typeVersion":2,"position":[1056,1024],"notes":"Handles case when step was already claimed or done"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-action","leftValue":"={{ $json.action }}","rightValue":"skip_but_emit","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"3173610e-61bc-4be7-8aca-89131c0e77ed","name":"Should Emit Event?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1264,1024],"notes":"If year folder exists, we still need to emit DRIVE_YEAR_READY for this project"},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=name = '{{ $('Parse Event Data').item.json.year }}' and mimeType = 'application/vnd.google-apps.folder' and '1vUEFxFpeCtDWgD75HE9PYsmlcCMWIwy3' in parents and trashed = false"},{"name":"corpora","value":"drive"},{"name":"driveId","value":"0ABWttM9wIDiBUk9PVA"},{"name":"includeItemsFromAllDrives","value":"true"},{"name":"supportsAllDrives","value":"true"},{"name":"fields","value":"files(id,name)"}]},"options":{}},"id":"44f7136c-67d8-4397-9341-0889809e6565","name":"Search Year Folder","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1056,704],"credentials":{"googleDriveOAuth2Api":{"id":"aYft6Y1rBlcl2pcf","name":"Google Drive account"}},"notes":"Searches for existing year folder in Projekte parent"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"folder-exists","leftValue":"={{ $json.files?.length > 0 }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"5fbc1bf4-e19c-40e3-a38c-685ae74921ee","name":"Folder Exists?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1264,704],"notes":"Check if year folder already exists in Drive"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"supportsAllDrives","value":"true"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $('Parse Event Data').item.json.year }}\",\n  \"mimeType\": \"application/vnd.google-apps.folder\",\n  \"parents\": [\"1vUEFxFpeCtDWgD75HE9PYsmlcCMWIwy3\"]\n}","options":{}},"id":"4a877b61-8566-45e3-9f9c-4645acc78f19","name":"Create Year Folder","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1456,784],"credentials":{"googleDriveOAuth2Api":{"id":"aYft6Y1rBlcl2pcf","name":"Google Drive account"}},"notes":"Creates the year folder in Projekte"},{"parameters":{"jsCode":"// Extract folder ID from search result\nconst searchResult = $input.first().json;\nconst folderId = searchResult.files[0].id;\n\nreturn {\n  json: {\n    folder_id: folderId,\n    folder_name: searchResult.files[0].name,\n    source: 'existing'\n  }\n};"},"id":"a8313f56-b700-40b3-914c-0fcb7c258e8a","name":"Extract Existing ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,624],"notes":"Extracts folder ID from existing year folder"},{"parameters":{"jsCode":"// Extract folder ID from create result\nconst createResult = $input.first().json;\n\nreturn {\n  json: {\n    folder_id: createResult.id,\n    folder_name: createResult.name,\n    source: 'created'\n  }\n};"},"id":"67532f57-4edd-4ae7-8302-60a59f2830c3","name":"Extract Created ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[1664,784],"notes":"Extracts folder ID from newly created year folder"},{"parameters":{"operation":"executeQuery","query":"SELECT complete_workflow_step(\n  '{{ $('Parse Event Data').item.json.step_key }}',\n  '{\"folder_id\": \"{{ $json.folder_id }}\", \"folder_name\": \"{{ $json.folder_name }}\", \"source\": \"{{ $json.source }}\"}'\n);","options":{}},"id":"268fb7aa-2cda-40cf-98ba-4f60d000cb50","name":"Complete Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2064,704],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Marks step as DONE with folder payload"},{"parameters":{"jsCode":"// Prepare event payload\nconst folderResult = $('Extract Existing ID').first()?.json || $('Extract Created ID').first()?.json;\nconst eventData = $('Parse Event Data').first().json;\n\nreturn {\n  json: {\n    project_id: eventData.project_id,\n    event_id: eventData.event_id,\n    year: eventData.year,\n    year_folder_id: folderResult.folder_id\n  }\n};"},"id":"90263af0-e1b9-4e88-9ed9-82f5ada89b65","name":"Prepare Event Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[2256,704],"notes":"Prepares data for DRIVE_YEAR_READY event"},{"parameters":{"operation":"executeQuery","query":"-- Mark input event as processed\nUPDATE events SET processed_at = now() WHERE id = '{{ $json.event_id }}'::uuid;\n\n-- Emit next event\nINSERT INTO events (event_type, project_id, payload, source_system, source_flow)\nVALUES (\n  'DRIVE_YEAR_READY',\n  '{{ $json.project_id }}'::uuid,\n  '{\"year\": {{ $json.year }}, \"year_folder_id\": \"{{ $json.year_folder_id }}\"}',\n  'n8n',\n  'M1_04a_Prepare_Drive'\n)\nRETURNING id, event_type::text, project_id;","options":{}},"id":"8b05d936-f647-4f39-846f-0f40365a6f87","name":"Emit DRIVE_YEAR_READY","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2464,704],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Marks input event as processed and emits DRIVE_YEAR_READY"},{"parameters":{"jsCode":"// Also emit event when year folder already existed\nconst data = $input.first().json;\n\nreturn {\n  json: {\n    project_id: data.project_id,\n    event_id: data.event_id,\n    year: data.year,\n    year_folder_id: data.year_folder_id\n  }\n};"},"id":"95fc3906-74ac-483b-8f08-2febe7199fb0","name":"Prepare Skip Emit","type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,1104],"notes":"Prepares data for event when skipping (folder exists)"},{"parameters":{"operation":"executeQuery","query":"-- Mark input event as processed\nUPDATE events SET processed_at = now() WHERE id = '{{ $json.event_id }}'::uuid;\n\n-- Emit next event (year folder already exists from previous project)\nINSERT INTO events (event_type, project_id, payload, source_system, source_flow)\nVALUES (\n  'DRIVE_YEAR_READY',\n  '{{ $json.project_id }}'::uuid,\n  '{\"year\": {{ $json.year }}, \"year_folder_id\": \"{{ $json.year_folder_id }}\", \"reused\": true}',\n  'n8n',\n  'M1_04a_Prepare_Drive'\n)\nRETURNING id, event_type::text, project_id;","options":{}},"id":"ea9fd2e3-9462-4eb0-be6f-bfc0f9834920","name":"Emit DRIVE_YEAR_READY (Skip)","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1664,1104],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Emits event when year folder already existed"},{"parameters":{"jsCode":"return {\n  json: {\n    status: 'success',\n    message: 'DRIVE_YEAR_READY emitted',\n    project_id: $input.first().json.project_id\n  }\n};"},"id":"38555108-e03b-4cc7-afac-645f8490cead","name":"Done (Main Path)","type":"n8n-nodes-base.code","typeVersion":2,"position":[2656,704],"notes":"Success response for main path"},{"parameters":{"jsCode":"return {\n  json: {\n    status: 'success',\n    message: 'DRIVE_YEAR_READY emitted (reused folder)',\n    project_id: $input.first().json.project_id\n  }\n};"},"id":"15e8b6dd-ad65-467d-834c-4ac644e974a4","name":"Done (Skip Path)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1856,1104],"notes":"Success response for skip path"},{"parameters":{"jsCode":"// Exit - another run is handling this\nreturn {\n  json: {\n    status: 'skipped',\n    message: 'Step in progress by another run'\n  }\n};"},"id":"9570b206-ec0e-4b57-958f-1b30bd94d6ba","name":"Done (Exit)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,1264],"notes":"Exit when step is in progress"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"bb9beab6-38cf-4669-8036-36e1b33c8c36","name":"Respond (Main)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2864,704]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"5ef1502c-f5bd-48ae-baa8-4d12f586a880","name":"Respond (Skip)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2064,1104]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"1808c10a-47cf-4ff4-be80-8aac09e818f5","name":"Respond (Exit)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1664,1264]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n     '{{ $json.step_key }}',\n     NULL,\n     'DRIVE_YEAR'\n   );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[432,864],"id":"1210cc96-7079-4dac-969a-d1fb86da280d","name":"Claim Workflow Step","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Event Data","type":"main","index":0}]]},"Parse Event Data":{"main":[[{"node":"Claim Workflow Step","type":"main","index":0}]]},"Step Claimed?":{"main":[[{"node":"Search Year Folder","type":"main","index":0}],[{"node":"Handle Not Claimed","type":"main","index":0}]]},"Handle Not Claimed":{"main":[[{"node":"Should Emit Event?","type":"main","index":0}]]},"Should Emit Event?":{"main":[[{"node":"Prepare Skip Emit","type":"main","index":0}],[{"node":"Done (Exit)","type":"main","index":0}]]},"Search Year Folder":{"main":[[{"node":"Folder Exists?","type":"main","index":0}]]},"Folder Exists?":{"main":[[{"node":"Extract Existing ID","type":"main","index":0}],[{"node":"Create Year Folder","type":"main","index":0}]]},"Extract Existing ID":{"main":[[{"node":"Complete Workflow Step","type":"main","index":0}]]},"Create Year Folder":{"main":[[{"node":"Extract Created ID","type":"main","index":0}]]},"Extract Created ID":{"main":[[{"node":"Complete Workflow Step","type":"main","index":0}]]},"Complete Workflow Step":{"main":[[{"node":"Prepare Event Payload","type":"main","index":0}]]},"Prepare Event Payload":{"main":[[{"node":"Emit DRIVE_YEAR_READY","type":"main","index":0}]]},"Emit DRIVE_YEAR_READY":{"main":[[{"node":"Done (Main Path)","type":"main","index":0}]]},"Prepare Skip Emit":{"main":[[{"node":"Emit DRIVE_YEAR_READY (Skip)","type":"main","index":0}]]},"Emit DRIVE_YEAR_READY (Skip)":{"main":[[{"node":"Done (Skip Path)","type":"main","index":0}]]},"Done (Main Path)":{"main":[[{"node":"Respond (Main)","type":"main","index":0}]]},"Done (Skip Path)":{"main":[[{"node":"Respond (Skip)","type":"main","index":0}]]},"Done (Exit)":{"main":[[{"node":"Respond (Exit)","type":"main","index":0}]]},"Claim Workflow Step":{"main":[[{"node":"Step Claimed?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":true,"errorWorkflow":"apmJoMCbOchwfqTp"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c8fdba54-a7cd-425a-8c1e-94c9c10ce9bd","activeVersionId":"c8fdba54-a7cd-425a-8c1e-94c9c10ce9bd","versionCounter":45,"triggerCount":1,"shared":[{"updatedAt":"2025-12-25T10:39:46.227Z","createdAt":"2025-12-25T10:39:46.227Z","role":"workflow:owner","workflowId":"kdXetd4FMCISdE4J","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[{"updatedAt":"2025-12-22T18:13:55.099Z","createdAt":"2025-12-22T18:13:55.099Z","id":"AkTK64szF548Yp8a","name":"Event System"},{"updatedAt":"2025-12-28T13:45:52.149Z","createdAt":"2025-12-28T13:45:52.149Z","id":"Gqc9kzZecA8tXfMd","name":"M1 - Intake"}],"activeVersion":{"updatedAt":"2026-01-04T14:23:23.000Z","createdAt":"2026-01-04T14:23:20.693Z","versionId":"c8fdba54-a7cd-425a-8c1e-94c9c10ce9bd","workflowId":"kdXetd4FMCISdE4J","nodes":[{"parameters":{"httpMethod":"POST","path":"m1-04a-prepare-drive","responseMode":"responseNode","options":{}},"id":"02277c93-9e0e-4158-b39b-053d6817b43f","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[48,864],"webhookId":"m1-04a-prepare-drive","notes":"Receives event from MX_00_Event_Router for PROJECT_CREATED events"},{"parameters":{"jsCode":"// Extract event data from router payload\nconst input = $input.first().json;\n\n// Router sends: { event_id, event_type, project_id, payload }\nconst eventId = input.body?.event_id || input.event_id;\nconst projectId = input.body?.project_id || input.project_id;\nconst payload = input.body?.payload || input.payload || {};\n\n// Calculate year folder key\nconst year = new Date().getFullYear();\nconst stepKey = `drive_year:${year}`;\n\nreturn {\n  json: {\n    event_id: eventId,\n    project_id: projectId,\n    year: year,\n    step_key: stepKey,\n    payload: payload\n  }\n};"},"id":"fee35ad0-8288-49b4-a79d-a3667b031677","name":"Parse Event Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[256,864],"notes":"Extracts event data and calculates step_key for year folder"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-claimed","leftValue":"={{ $json.claimed }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"7b8ad0c3-99c0-4d85-8b1c-1d678e154f61","name":"Step Claimed?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[608,864],"notes":"If claimed=true: proceed. If false: either DONE or IN_PROGRESS by another run"},{"parameters":{"jsCode":"// Step already done or in progress by another run\nconst claimResult = $input.first().json;\nconst eventData = $('Parse Event Data').first().json;\n\nif (claimResult.current_status === 'DONE') {\n  // Already done, we can still emit the next event for THIS project\n  return {\n    json: {\n      action: 'skip_but_emit',\n      reason: 'Year folder already exists',\n      year_folder_id: claimResult.existing_payload?.folder_id || null,\n      project_id: eventData.project_id,\n      event_id: eventData.event_id,\n      year: eventData.year\n    }\n  };\n}\n\n// IN_PROGRESS by another run - do nothing\nreturn {\n  json: {\n    action: 'exit',\n    reason: 'Step in progress by another run',\n    current_status: claimResult.current_status\n  }\n};"},"id":"1b006aed-2eb5-4363-96a8-897f51832554","name":"Handle Not Claimed","type":"n8n-nodes-base.code","typeVersion":2,"position":[1056,1024],"notes":"Handles case when step was already claimed or done"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-action","leftValue":"={{ $json.action }}","rightValue":"skip_but_emit","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"3173610e-61bc-4be7-8aca-89131c0e77ed","name":"Should Emit Event?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1264,1024],"notes":"If year folder exists, we still need to emit DRIVE_YEAR_READY for this project"},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=name = '{{ $('Parse Event Data').item.json.year }}' and mimeType = 'application/vnd.google-apps.folder' and '1vUEFxFpeCtDWgD75HE9PYsmlcCMWIwy3' in parents and trashed = false"},{"name":"corpora","value":"drive"},{"name":"driveId","value":"0ABWttM9wIDiBUk9PVA"},{"name":"includeItemsFromAllDrives","value":"true"},{"name":"supportsAllDrives","value":"true"},{"name":"fields","value":"files(id,name)"}]},"options":{}},"id":"44f7136c-67d8-4397-9341-0889809e6565","name":"Search Year Folder","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1056,704],"credentials":{"googleDriveOAuth2Api":{"id":"aYft6Y1rBlcl2pcf","name":"Google Drive account"}},"notes":"Searches for existing year folder in Projekte parent"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"folder-exists","leftValue":"={{ $json.files?.length > 0 }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"5fbc1bf4-e19c-40e3-a38c-685ae74921ee","name":"Folder Exists?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1264,704],"notes":"Check if year folder already exists in Drive"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"supportsAllDrives","value":"true"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $('Parse Event Data').item.json.year }}\",\n  \"mimeType\": \"application/vnd.google-apps.folder\",\n  \"parents\": [\"1vUEFxFpeCtDWgD75HE9PYsmlcCMWIwy3\"]\n}","options":{}},"id":"4a877b61-8566-45e3-9f9c-4645acc78f19","name":"Create Year Folder","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1456,784],"credentials":{"googleDriveOAuth2Api":{"id":"aYft6Y1rBlcl2pcf","name":"Google Drive account"}},"notes":"Creates the year folder in Projekte"},{"parameters":{"jsCode":"// Extract folder ID from search result\nconst searchResult = $input.first().json;\nconst folderId = searchResult.files[0].id;\n\nreturn {\n  json: {\n    folder_id: folderId,\n    folder_name: searchResult.files[0].name,\n    source: 'existing'\n  }\n};"},"id":"a8313f56-b700-40b3-914c-0fcb7c258e8a","name":"Extract Existing ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,624],"notes":"Extracts folder ID from existing year folder"},{"parameters":{"jsCode":"// Extract folder ID from create result\nconst createResult = $input.first().json;\n\nreturn {\n  json: {\n    folder_id: createResult.id,\n    folder_name: createResult.name,\n    source: 'created'\n  }\n};"},"id":"67532f57-4edd-4ae7-8302-60a59f2830c3","name":"Extract Created ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[1664,784],"notes":"Extracts folder ID from newly created year folder"},{"parameters":{"operation":"executeQuery","query":"SELECT complete_workflow_step(\n  '{{ $('Parse Event Data').item.json.step_key }}',\n  '{\"folder_id\": \"{{ $json.folder_id }}\", \"folder_name\": \"{{ $json.folder_name }}\", \"source\": \"{{ $json.source }}\"}'\n);","options":{}},"id":"268fb7aa-2cda-40cf-98ba-4f60d000cb50","name":"Complete Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2064,704],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Marks step as DONE with folder payload"},{"parameters":{"jsCode":"// Prepare event payload\nconst folderResult = $('Extract Existing ID').first()?.json || $('Extract Created ID').first()?.json;\nconst eventData = $('Parse Event Data').first().json;\n\nreturn {\n  json: {\n    project_id: eventData.project_id,\n    event_id: eventData.event_id,\n    year: eventData.year,\n    year_folder_id: folderResult.folder_id\n  }\n};"},"id":"90263af0-e1b9-4e88-9ed9-82f5ada89b65","name":"Prepare Event Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[2256,704],"notes":"Prepares data for DRIVE_YEAR_READY event"},{"parameters":{"operation":"executeQuery","query":"-- Mark input event as processed\nUPDATE events SET processed_at = now() WHERE id = '{{ $json.event_id }}'::uuid;\n\n-- Emit next event\nINSERT INTO events (event_type, project_id, payload, source_system, source_flow)\nVALUES (\n  'DRIVE_YEAR_READY',\n  '{{ $json.project_id }}'::uuid,\n  '{\"year\": {{ $json.year }}, \"year_folder_id\": \"{{ $json.year_folder_id }}\"}',\n  'n8n',\n  'M1_04a_Prepare_Drive'\n)\nRETURNING id, event_type::text, project_id;","options":{}},"id":"8b05d936-f647-4f39-846f-0f40365a6f87","name":"Emit DRIVE_YEAR_READY","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2464,704],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Marks input event as processed and emits DRIVE_YEAR_READY"},{"parameters":{"jsCode":"// Also emit event when year folder already existed\nconst data = $input.first().json;\n\nreturn {\n  json: {\n    project_id: data.project_id,\n    event_id: data.event_id,\n    year: data.year,\n    year_folder_id: data.year_folder_id\n  }\n};"},"id":"95fc3906-74ac-483b-8f08-2febe7199fb0","name":"Prepare Skip Emit","type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,1104],"notes":"Prepares data for event when skipping (folder exists)"},{"parameters":{"operation":"executeQuery","query":"-- Mark input event as processed\nUPDATE events SET processed_at = now() WHERE id = '{{ $json.event_id }}'::uuid;\n\n-- Emit next event (year folder already exists from previous project)\nINSERT INTO events (event_type, project_id, payload, source_system, source_flow)\nVALUES (\n  'DRIVE_YEAR_READY',\n  '{{ $json.project_id }}'::uuid,\n  '{\"year\": {{ $json.year }}, \"year_folder_id\": \"{{ $json.year_folder_id }}\", \"reused\": true}',\n  'n8n',\n  'M1_04a_Prepare_Drive'\n)\nRETURNING id, event_type::text, project_id;","options":{}},"id":"ea9fd2e3-9462-4eb0-be6f-bfc0f9834920","name":"Emit DRIVE_YEAR_READY (Skip)","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1664,1104],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Emits event when year folder already existed"},{"parameters":{"jsCode":"return {\n  json: {\n    status: 'success',\n    message: 'DRIVE_YEAR_READY emitted',\n    project_id: $input.first().json.project_id\n  }\n};"},"id":"38555108-e03b-4cc7-afac-645f8490cead","name":"Done (Main Path)","type":"n8n-nodes-base.code","typeVersion":2,"position":[2656,704],"notes":"Success response for main path"},{"parameters":{"jsCode":"return {\n  json: {\n    status: 'success',\n    message: 'DRIVE_YEAR_READY emitted (reused folder)',\n    project_id: $input.first().json.project_id\n  }\n};"},"id":"15e8b6dd-ad65-467d-834c-4ac644e974a4","name":"Done (Skip Path)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1856,1104],"notes":"Success response for skip path"},{"parameters":{"jsCode":"// Exit - another run is handling this\nreturn {\n  json: {\n    status: 'skipped',\n    message: 'Step in progress by another run'\n  }\n};"},"id":"9570b206-ec0e-4b57-958f-1b30bd94d6ba","name":"Done (Exit)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,1264],"notes":"Exit when step is in progress"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"bb9beab6-38cf-4669-8036-36e1b33c8c36","name":"Respond (Main)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2864,704]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"5ef1502c-f5bd-48ae-baa8-4d12f586a880","name":"Respond (Skip)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2064,1104]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"1808c10a-47cf-4ff4-be80-8aac09e818f5","name":"Respond (Exit)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1664,1264]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n     '{{ $json.step_key }}',\n     NULL,\n     'DRIVE_YEAR'\n   );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[432,864],"id":"1210cc96-7079-4dac-969a-d1fb86da280d","name":"Claim Workflow Step","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Event Data","type":"main","index":0}]]},"Parse Event Data":{"main":[[{"node":"Claim Workflow Step","type":"main","index":0}]]},"Step Claimed?":{"main":[[{"node":"Search Year Folder","type":"main","index":0}],[{"node":"Handle Not Claimed","type":"main","index":0}]]},"Handle Not Claimed":{"main":[[{"node":"Should Emit Event?","type":"main","index":0}]]},"Should Emit Event?":{"main":[[{"node":"Prepare Skip Emit","type":"main","index":0}],[{"node":"Done (Exit)","type":"main","index":0}]]},"Search Year Folder":{"main":[[{"node":"Folder Exists?","type":"main","index":0}]]},"Folder Exists?":{"main":[[{"node":"Extract Existing ID","type":"main","index":0}],[{"node":"Create Year Folder","type":"main","index":0}]]},"Extract Existing ID":{"main":[[{"node":"Complete Workflow Step","type":"main","index":0}]]},"Create Year Folder":{"main":[[{"node":"Extract Created ID","type":"main","index":0}]]},"Extract Created ID":{"main":[[{"node":"Complete Workflow Step","type":"main","index":0}]]},"Complete Workflow Step":{"main":[[{"node":"Prepare Event Payload","type":"main","index":0}]]},"Prepare Event Payload":{"main":[[{"node":"Emit DRIVE_YEAR_READY","type":"main","index":0}]]},"Emit DRIVE_YEAR_READY":{"main":[[{"node":"Done (Main Path)","type":"main","index":0}]]},"Prepare Skip Emit":{"main":[[{"node":"Emit DRIVE_YEAR_READY (Skip)","type":"main","index":0}]]},"Emit DRIVE_YEAR_READY (Skip)":{"main":[[{"node":"Done (Skip Path)","type":"main","index":0}]]},"Done (Main Path)":{"main":[[{"node":"Respond (Main)","type":"main","index":0}]]},"Done (Skip Path)":{"main":[[{"node":"Respond (Skip)","type":"main","index":0}]]},"Done (Exit)":{"main":[[{"node":"Respond (Exit)","type":"main","index":0}]]},"Claim Workflow Step":{"main":[[{"node":"Step Claimed?","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version c8fdba54","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-01-04T14:23:23.098Z","id":199,"workflowId":"kdXetd4FMCISdE4J","versionId":"c8fdba54-a7cd-425a-8c1e-94c9c10ce9bd","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}