n8n-workflows/M1_02_PDF_Parser_Vision.json
{"updatedAt":"2026-03-08T18:31:37.194Z","createdAt":"2026-01-04T13:13:42.462Z","id":"8KDtJKgrTIOV8LTw","name":"M1_02_PDF_Parser_Vision","description":"Analysiert PDFs mit AI-Vision und extrahiert Text und Struktur","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"m1-02-pdf-parser","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[6192,720],"id":"79814089-e667-4f48-82b8-4530dd41357a","name":"Webhook Trigger","webhookId":"m1-02-pdf-parser","notes":"Receives EMAIL_RECEIVED event from MX_00_Event_Router"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst body = input.body || input;\n\nconst eventId = body.event_id || body.id;\nconst eventType = body.event_type;\nconst payload = typeof body.payload === 'string' \n  ? JSON.parse(body.payload) \n  : (body.payload || {});\n\nif (!eventId || !eventType) {\n  throw new Error(`Missing required fields: event_id=${eventId}, event_type=${eventType}`);\n}\n\n// Multi-File Support\nconst files = payload.files || [];\nconst storagePath = payload.storage_path || (files[0]?.storage_path) || null;\n\nif (!storagePath) {\n  throw new Error('No storage_path in payload or files array');\n}\n\nreturn {\n  json: {\n    event_id: eventId,\n    event_type: eventType,\n    payload: payload,\n    storage_path: storagePath,\n    all_files: files,\n    file_count: files.length || 1,\n    email_subject: payload.subject || '',\n    email_from: payload.from_address || '',\n    superchat_message_id: payload.superchat_message_id || null,\n    step_key: `pdf_parse:${eventId}`\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6400,720],"id":"8b1db922-346a-4ec1-8619-55b9122ef05f","name":"Parse Event Data"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n  '{{ $json.step_key }}',\n  NULL,\n  'PDF_PARSE'\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[6592,720],"id":"37bb1c34-9664-4af3-b2c1-c96d9cdf8ad5","name":"Idempotency Check","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Prevents duplicate processing if event is retried"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"4383d339-9ee0-41ff-9ab6-f8a0f008dc40","leftValue":"={{ $json.claimed }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2,"position":[6800,720],"id":"0c195e10-a54e-4ae6-b6c2-e013a4f1da13","name":"New Processing?","notes":"If no ID returned, step was already processed"},{"parameters":{"url":"=https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/authenticated/project-files/{{ $('Parse Event Data').item.json.storage_path }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlldHdudHdheWhtem1oaGdka2xpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTI4NDUwNywiZXhwIjoyMDgwODYwNTA3fQ.1h7t0JOavX5CSarqKIUr9mMLJBAbt5aI5bAROJTxHYA"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6992,720],"id":"5bcb8ce8-cd38-4fbb-b71d-25b00f8a370e","name":"Download PDF from Storage","notes":"Fetches PDF from Supabase Storage using path from event payload"},{"parameters":{"jsCode":"// Merge Event Data with PDF Binary\nconst eventData = $('Parse Event Data').first().json;\nconst pdfItem = $input.first();\n\nreturn {\n  json: {\n    event_id: eventData.event_id,\n    storage_path: eventData.storage_path,\n    email_subject: eventData.email_subject,\n    email_from: eventData.email_from\n  },\n  binary: pdfItem.binary\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7200,720],"id":"e6371460-ef68-4d83-91f8-d7c5d2d8cace","name":"Merge Event + Binary"},{"parameters":{"jsCode":"// Prepare payload for AI Fallback Sub-Workflow\nconst item = $input.first();\nconst binaryData = item.binary?.data;\n\nif (!binaryData) {\n  throw new Error('No binary data (PDF) available');\n}\n\n// Get actual binary buffer (filesystem-v2 fix)\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst base64Data = buffer.toString('base64');\n\nconst prompt = `AUFGABE: Extrahiere EXAKT die Daten aus diesem Dokument. ERFINDE NICHTS.\n\nExtrahiere diese Felder:\n\n1. company: Welche Wohnungsbaugesellschaft? (Suche nach \"Firma\" im Dokument)\n   - Wenn \"SAGA\" oder \"SAGA Unternehmensgruppe\" vorkommt → \"SAGA\"\n   - Wenn \"WBS\" oder \"Wohnwirtschaftliche Baubetreuungs\" vorkommt → \"WBS\"\n   - Wenn \"GWG\" vorkommt → \"GWG\"\n   - Wenn \"Vonovia\" vorkommt → \"VONOVIA\"\n   - Wenn \"GEWOBA\" vorkommt → \"GEWOBA\"\n   - Sonst → \"UNBEKANNT\"\n\n2. address (Adresse der Baustelle, meist oben im Dokument):\n   - street: Straße + Hausnummer\n   - floor: Stockwerk/Lage (z.B. \"3.Rechts\", \"1. OG links\")\n   - zip: PLZ (5-stellige Zahl, oft bei der Firma-Adresse NICHT die Baustelle)\n   - city: Stadt (Standard: \"Hamburg\" wenn nicht anders angegeben)\n\n3. external_ref: Referenznummer/Auftragsnummer (z.B. \"108279\", \"Kunden-Nr.\")\n\n4. order_type: Dokumenttyp (z.B. \"ANGEBOT\", \"Handwerkerauftrag\")\n\n5. deadline: Fertigstellungsdatum als YYYY-MM-DD (suche nach \"Fertigstellung:\"), sonst null\n\n6. tenant_name: Mietername falls im Dokument vorhanden, sonst \"\"\n\n7. raw_notes: Wichtige Zusatzinfos aus dem Dokument, sonst \"\"\n\nWICHTIG:\n- Lies NUR was im Dokument steht\n- Erfinde KEINE Daten\n- Antworte NUR mit JSON, keine Erklärungen, kein Markdown\n\n{\"company\":\"\",\"address\":{\"street\":\"\",\"floor\":\"\",\"zip\":\"\",\"city\":\"\"},\"external_ref\":\"\",\"order_type\":\"\",\"deadline\":null,\"tenant_name\":\"\",\"raw_notes\":\"\"}`;\n\nreturn {\n  json: {\n    document_base64: base64Data,\n    mime_type: binaryData.mimeType || 'application/pdf',\n    prompt: prompt,\n    step_key: `ai_analyze:${item.json.event_id}`\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7380,720],"id":"a1b2c3d4-prep-fall-back-001","name":"Prepare AI Fallback Request","notes":"Prepares Base64 payload + prompt for MX_06_AI_Analyze_With_Fallback sub-workflow"},{"parameters":{"method":"POST","url":"=https://n8n.srv1045913.hstgr.cloud/webhook/ai-analyze-fallback","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7560,720],"id":"a1b2c3d4-call-fall-back-002","name":"Analyze Document (AI Fallback)","notes":"Calls MX_06_AI_Analyze_With_Fallback sub-workflow with Claude → Gemini → GPT-4o fallback chain"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"check-ai-success","leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2,"position":[7740,720],"id":"a1b2c3d4-chek-succ-003","name":"AI Success?","notes":"Checks if at least one AI model succeeded. If all 3 failed, workflow stops here (error logged in workflow_steps)."},{"parameters":{"jsCode":"// Parse AI Response and prepare project data\n// Compatible with all 3 AI models (Claude, Gemini, GPT-4o)\nconst item = $input.first();\nconst eventData = $('Merge Event + Binary').first().json;\n\n// Get AI response text (unified format from MX_06 sub-workflow)\nlet aiOutput = item.json.text || '';\n\n// Clean JSON from markdown if present\naiOutput = aiOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet extracted;\ntry {\n  extracted = JSON.parse(aiOutput);\n} catch (e) {\n  console.log('Raw AI output:', aiOutput);\n  console.log('Model used:', item.json.model_used);\n  throw new Error(`JSON Parse Error (model: ${item.json.model_used}): ${e.message}. Raw: ${aiOutput.substring(0, 200)}`);\n}\n\nconst company = extracted.company || 'UNBEKANNT';\nconst addr = extracted.address || {};\n\n// Domain mapping for client lookup - erweitert\nconst domainMap = {\n  'SAGA': 'saga.de',\n  'GWG': 'gwg.de',\n  'WBS': 'wbs-service.de',\n  'VONOVIA': 'vonovia.de',\n  'GEWOBA': 'gewoba.de'\n};\n\nconst projectName = [company, addr.street, addr.city].filter(Boolean).join(' - ');\n\nreturn {\n  json: {\n    event_id: eventData.event_id,\n    storage_path: eventData.storage_path,\n    email_domain: domainMap[company] || null,\n    detected_source: company,\n    ai_model_used: item.json.model_used || 'unknown',\n    ai_fallback_chain: item.json.fallback_chain || [],\n    project_data: {\n      name: projectName,\n      object_street: addr.street || 'Unbekannt',\n      object_zip: addr.zip || '00000',\n      object_city: addr.city || 'Hamburg',\n      object_floor: addr.floor || null,\n      status: 'INTAKE',\n      source: company,\n      source_reference: extracted.external_ref || '',\n      planned_end: extracted.deadline || null\n    },\n    parsed_data: {\n      company: company,\n      tenant_name: extracted.tenant_name,\n      address: extracted.address,\n      external_ref: extracted.external_ref,\n      order_type: extracted.order_type,\n      deadline: extracted.deadline,\n      raw_notes: extracted.raw_notes,\n      from: eventData.email_from,\n      subject: eventData.email_subject\n    }\n  },\n  binary: $('Merge Event + Binary').first().binary\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7920,720],"id":"9504969e-ef04-422c-a4db-bcb8fdf14772","name":"Prepare Project Data"},{"parameters":{"operation":"executeQuery","query":"-- Lookup client by email_domain, mit Fallback auf UNBEKANNT\nSELECT \n  COALESCE(\n    (SELECT id FROM clients WHERE email_domain = '{{ $json.email_domain }}' LIMIT 1),\n    (SELECT id FROM clients WHERE last_name = 'UNBEKANNT' LIMIT 1)\n  ) as id,\n  COALESCE(\n    (SELECT last_name FROM clients WHERE email_domain = '{{ $json.email_domain }}' LIMIT 1),\n    'UNBEKANNT'\n  ) as client_name,\n  CASE \n    WHEN EXISTS(SELECT 1 FROM clients WHERE email_domain = '{{ $json.email_domain }}')\n    THEN false\n    ELSE true\n  END as is_fallback;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[8112,720],"id":"8ca40cea-6962-4fe4-bbf7-4db0748fdac8","name":"Lookup Client","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO projects (\n  name,\n  client_id,\n  object_street,\n  object_zip,\n  object_city,\n  status,\n  source,\n  source_reference\n) VALUES (\n  '{{ $('Prepare Project Data').item.json.project_data.name }}',\n  {{ $json.id ? \"'\" + $json.id + \"'::uuid\" : 'NULL' }},\n  '{{ $('Prepare Project Data').item.json.project_data.object_street }}',\n  '{{ $('Prepare Project Data').item.json.project_data.object_zip }}',\n  '{{ $('Prepare Project Data').item.json.project_data.object_city }}',\n  'DRAFT',\n  '{{ $('Prepare Project Data').item.json.project_data.source }}',\n  '{{ $('Prepare Project Data').item.json.project_data.source_reference }}'\n)\nRETURNING id, project_number, name;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[8320,720],"id":"68ad9ca3-0a43-451f-aa31-43d9dcc5a1ff","name":"Insert Project","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"// Prepare for PDF upload and merge project ID with binary\nconst prepareNode = $('Prepare Project Data').first();\nconst insertNode = $('Insert Project').first();\nconst clientNode = $('Lookup Client').first();\n\nreturn {\n  json: {\n    event_id: prepareNode.json.event_id,\n    project_id: insertNode.json.id,\n    project_number: insertNode.json.project_number,\n    original_storage_path: prepareNode.json.storage_path,\n    parsed_data: prepareNode.json.parsed_data,\n    client_is_fallback: clientNode.json.is_fallback || false,\n    ai_model_used: prepareNode.json.ai_model_used,\n    ai_fallback_chain: prepareNode.json.ai_fallback_chain\n  },\n  binary: prepareNode.binary\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[8512,720],"id":"66d6a5a8-8459-4cca-982d-ec0635758a33","name":"Prepare for Upload"},{"parameters":{"method":"POST","url":"=https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/project-files/projects/{{ $json.project_id }}/intake/auftrag.pdf","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/pdf"},{"name":"x-upsert","value":"true"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8720,720],"id":"c0ed50e0-eaed-4d7d-ad0e-cb03eef9a568","name":"Upload PDF to Project Folder","credentials":{"httpHeaderAuth":{"id":"n357gpDbnk38oMfi","name":"Supabase Storage Auth"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO project_files (project_id, folder_id, file_type, storage_path, file_name, mime_type)\nVALUES (\n  '{{ $('Prepare for Upload').item.json.project_id }}'::uuid,\n  (SELECT id FROM project_folders WHERE project_id = '{{ $('Prepare for Upload').item.json.project_id }}'::uuid AND name = '01_Auftrag' LIMIT 1),\n  'pdf',\n  'projects/{{ $('Prepare for Upload').item.json.project_id }}/intake/auftrag.pdf',\n  'auftrag.pdf',\n  'application/pdf'\n)\nON CONFLICT DO NOTHING\nRETURNING id;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[8912,720],"id":"d75fc948-1503-41ee-b4da-08c7cdc9bd53","name":"Insert project_files","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"-- Mark input event as processed\nUPDATE events SET processed_at = now() \nWHERE id = '{{ $('Prepare for Upload').item.json.event_id }}'::uuid;\n\n-- Approval für Freigabecenter erstellen (statt PROJECT_CREATED)\nINSERT INTO approvals (\n  approval_type, status, project_id,\n  requested_by, requested_at, request_data\n) VALUES (\n  'PROJECT_START', 'PENDING',\n  '{{ $(\"Prepare for Upload\").item.json.project_id }}'::uuid,\n  'n8n_m1_02', now(),\n  jsonb_build_object(\n    'storage_path', 'projects/' || '{{ $(\"Prepare for Upload\").item.json.project_id }}' || '/intake/auftrag.pdf',\n    'file_name', 'auftrag.pdf',\n    'mime_type', 'application/pdf'\n  )\n);\n\n-- PDF_PARSED bleibt (Position Extraction läuft sofort)\nINSERT INTO events (event_type, project_id, payload, source_system, source_flow)\nVALUES (\n  'PDF_PARSED',\n  '{{ $('Prepare for Upload').item.json.project_id }}'::uuid,\n  '{{ JSON.stringify({\n    contractor_code: $('Prepare for Upload').item.json.parsed_data.company,\n    pdf_storage_path: \"projects/\" + $('Prepare for Upload').item.json.project_id + \"/intake/auftrag.pdf\"\n  }).replace(/'/g, \"''\") }}',\n  'n8n',\n  'M1_02_PDF_Parser_Vision'\n)\nRETURNING id, event_type::text, project_id;\n\n-- Complete workflow step\nSELECT complete_workflow_step(\n  'pdf_parse:{{ $('Prepare for Upload').item.json.event_id }}',\n  '{}'\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[9120,720],"id":"576f71fb-b939-4754-9245-c80b70757f57","name":"Mark Processed + Emit Event","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Marks EMAIL_RECEIVED as processed, creates PENDING approval for Freigabecenter, emits PDF_PARSED, updates workflow_steps"},{"parameters":{"jsCode":"// Final output\nconst uploadData = $('Prepare for Upload').first().json;\nconst eventResult = $input.first().json;\n\nreturn {\n  json: {\n    success: true,\n    project_id: uploadData.project_id,\n    project_number: uploadData.project_number,\n    event_emitted: 'APPROVAL_PENDING',\n    input_event_processed: uploadData.event_id,\n    client_is_fallback: uploadData.client_is_fallback,\n    ai_model_used: uploadData.ai_model_used,\n    ai_fallback_chain: uploadData.ai_fallback_chain,\n    created_at: new Date().toISOString()\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[9312,720],"id":"795b3879-aaff-4b08-ab67-0c4dd5f251cb","name":"Done"}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Event Data","type":"main","index":0}]]},"Parse Event Data":{"main":[[{"node":"Idempotency Check","type":"main","index":0}]]},"Idempotency Check":{"main":[[{"node":"New Processing?","type":"main","index":0}]]},"New Processing?":{"main":[[{"node":"Download PDF from Storage","type":"main","index":0}]]},"Download PDF from Storage":{"main":[[{"node":"Merge Event + Binary","type":"main","index":0}]]},"Merge Event + Binary":{"main":[[{"node":"Prepare AI Fallback Request","type":"main","index":0}]]},"Prepare AI Fallback Request":{"main":[[{"node":"Analyze Document (AI Fallback)","type":"main","index":0}]]},"Analyze Document (AI Fallback)":{"main":[[{"node":"AI Success?","type":"main","index":0}]]},"AI Success?":{"main":[[{"node":"Prepare Project Data","type":"main","index":0}]]},"Prepare Project Data":{"main":[[{"node":"Lookup Client","type":"main","index":0}]]},"Lookup Client":{"main":[[{"node":"Insert Project","type":"main","index":0}]]},"Insert Project":{"main":[[{"node":"Prepare for Upload","type":"main","index":0}]]},"Prepare for Upload":{"main":[[{"node":"Upload PDF to Project Folder","type":"main","index":0}]]},"Upload PDF to Project Folder":{"main":[[{"node":"Insert project_files","type":"main","index":0}]]},"Insert project_files":{"main":[[{"node":"Mark Processed + Emit Event","type":"main","index":0}]]},"Mark Processed + Emit Event":{"main":[[{"node":"Done","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"apmJoMCbOchwfqTp"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1a1d200b-16bb-4c56-b7e4-5aab5b62aa40","activeVersionId":"1a1d200b-16bb-4c56-b7e4-5aab5b62aa40","versionCounter":70,"triggerCount":1,"shared":[{"updatedAt":"2026-01-04T13:13:42.474Z","createdAt":"2026-01-04T13:13:42.474Z","role":"workflow:owner","workflowId":"8KDtJKgrTIOV8LTw","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-08T18:31:37.195Z","createdAt":"2026-03-08T18:31:37.195Z","versionId":"1a1d200b-16bb-4c56-b7e4-5aab5b62aa40","workflowId":"8KDtJKgrTIOV8LTw","nodes":[{"parameters":{"httpMethod":"POST","path":"m1-02-pdf-parser","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[6192,720],"id":"79814089-e667-4f48-82b8-4530dd41357a","name":"Webhook Trigger","webhookId":"m1-02-pdf-parser","notes":"Receives EMAIL_RECEIVED event from MX_00_Event_Router"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst body = input.body || input;\n\nconst eventId = body.event_id || body.id;\nconst eventType = body.event_type;\nconst payload = typeof body.payload === 'string' \n  ? JSON.parse(body.payload) \n  : (body.payload || {});\n\nif (!eventId || !eventType) {\n  throw new Error(`Missing required fields: event_id=${eventId}, event_type=${eventType}`);\n}\n\n// Multi-File Support\nconst files = payload.files || [];\nconst storagePath = payload.storage_path || (files[0]?.storage_path) || null;\n\nif (!storagePath) {\n  throw new Error('No storage_path in payload or files array');\n}\n\nreturn {\n  json: {\n    event_id: eventId,\n    event_type: eventType,\n    payload: payload,\n    storage_path: storagePath,\n    all_files: files,\n    file_count: files.length || 1,\n    email_subject: payload.subject || '',\n    email_from: payload.from_address || '',\n    superchat_message_id: payload.superchat_message_id || null,\n    step_key: `pdf_parse:${eventId}`\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6400,720],"id":"8b1db922-346a-4ec1-8619-55b9122ef05f","name":"Parse Event Data"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n  '{{ $json.step_key }}',\n  NULL,\n  'PDF_PARSE'\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[6592,720],"id":"37bb1c34-9664-4af3-b2c1-c96d9cdf8ad5","name":"Idempotency Check","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Prevents duplicate processing if event is retried"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"4383d339-9ee0-41ff-9ab6-f8a0f008dc40","leftValue":"={{ $json.claimed }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2,"position":[6800,720],"id":"0c195e10-a54e-4ae6-b6c2-e013a4f1da13","name":"New Processing?","notes":"If no ID returned, step was already processed"},{"parameters":{"url":"=https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/authenticated/project-files/{{ $('Parse Event Data').item.json.storage_path }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlldHdudHdheWhtem1oaGdka2xpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTI4NDUwNywiZXhwIjoyMDgwODYwNTA3fQ.1h7t0JOavX5CSarqKIUr9mMLJBAbt5aI5bAROJTxHYA"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6992,720],"id":"5bcb8ce8-cd38-4fbb-b71d-25b00f8a370e","name":"Download PDF from Storage","notes":"Fetches PDF from Supabase Storage using path from event payload"},{"parameters":{"jsCode":"// Merge Event Data with PDF Binary\nconst eventData = $('Parse Event Data').first().json;\nconst pdfItem = $input.first();\n\nreturn {\n  json: {\n    event_id: eventData.event_id,\n    storage_path: eventData.storage_path,\n    email_subject: eventData.email_subject,\n    email_from: eventData.email_from\n  },\n  binary: pdfItem.binary\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7200,720],"id":"e6371460-ef68-4d83-91f8-d7c5d2d8cace","name":"Merge Event + Binary"},{"parameters":{"jsCode":"// Prepare payload for AI Fallback Sub-Workflow\nconst item = $input.first();\nconst binaryData = item.binary?.data;\n\nif (!binaryData) {\n  throw new Error('No binary data (PDF) available');\n}\n\n// Get actual binary buffer (filesystem-v2 fix)\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst base64Data = buffer.toString('base64');\n\nconst prompt = `AUFGABE: Extrahiere EXAKT die Daten aus diesem Dokument. ERFINDE NICHTS.\n\nExtrahiere diese Felder:\n\n1. company: Welche Wohnungsbaugesellschaft? (Suche nach \"Firma\" im Dokument)\n   - Wenn \"SAGA\" oder \"SAGA Unternehmensgruppe\" vorkommt → \"SAGA\"\n   - Wenn \"WBS\" oder \"Wohnwirtschaftliche Baubetreuungs\" vorkommt → \"WBS\"\n   - Wenn \"GWG\" vorkommt → \"GWG\"\n   - Wenn \"Vonovia\" vorkommt → \"VONOVIA\"\n   - Wenn \"GEWOBA\" vorkommt → \"GEWOBA\"\n   - Sonst → \"UNBEKANNT\"\n\n2. address (Adresse der Baustelle, meist oben im Dokument):\n   - street: Straße + Hausnummer\n   - floor: Stockwerk/Lage (z.B. \"3.Rechts\", \"1. OG links\")\n   - zip: PLZ (5-stellige Zahl, oft bei der Firma-Adresse NICHT die Baustelle)\n   - city: Stadt (Standard: \"Hamburg\" wenn nicht anders angegeben)\n\n3. external_ref: Referenznummer/Auftragsnummer (z.B. \"108279\", \"Kunden-Nr.\")\n\n4. order_type: Dokumenttyp (z.B. \"ANGEBOT\", \"Handwerkerauftrag\")\n\n5. deadline: Fertigstellungsdatum als YYYY-MM-DD (suche nach \"Fertigstellung:\"), sonst null\n\n6. tenant_name: Mietername falls im Dokument vorhanden, sonst \"\"\n\n7. raw_notes: Wichtige Zusatzinfos aus dem Dokument, sonst \"\"\n\nWICHTIG:\n- Lies NUR was im Dokument steht\n- Erfinde KEINE Daten\n- Antworte NUR mit JSON, keine Erklärungen, kein Markdown\n\n{\"company\":\"\",\"address\":{\"street\":\"\",\"floor\":\"\",\"zip\":\"\",\"city\":\"\"},\"external_ref\":\"\",\"order_type\":\"\",\"deadline\":null,\"tenant_name\":\"\",\"raw_notes\":\"\"}`;\n\nreturn {\n  json: {\n    document_base64: base64Data,\n    mime_type: binaryData.mimeType || 'application/pdf',\n    prompt: prompt,\n    step_key: `ai_analyze:${item.json.event_id}`\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7380,720],"id":"a1b2c3d4-prep-fall-back-001","name":"Prepare AI Fallback Request","notes":"Prepares Base64 payload + prompt for MX_06_AI_Analyze_With_Fallback sub-workflow"},{"parameters":{"method":"POST","url":"=https://n8n.srv1045913.hstgr.cloud/webhook/ai-analyze-fallback","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7560,720],"id":"a1b2c3d4-call-fall-back-002","name":"Analyze Document (AI Fallback)","notes":"Calls MX_06_AI_Analyze_With_Fallback sub-workflow with Claude → Gemini → GPT-4o fallback chain"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"check-ai-success","leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2,"position":[7740,720],"id":"a1b2c3d4-chek-succ-003","name":"AI Success?","notes":"Checks if at least one AI model succeeded. If all 3 failed, workflow stops here (error logged in workflow_steps)."},{"parameters":{"jsCode":"// Parse AI Response and prepare project data\n// Compatible with all 3 AI models (Claude, Gemini, GPT-4o)\nconst item = $input.first();\nconst eventData = $('Merge Event + Binary').first().json;\n\n// Get AI response text (unified format from MX_06 sub-workflow)\nlet aiOutput = item.json.text || '';\n\n// Clean JSON from markdown if present\naiOutput = aiOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet extracted;\ntry {\n  extracted = JSON.parse(aiOutput);\n} catch (e) {\n  console.log('Raw AI output:', aiOutput);\n  console.log('Model used:', item.json.model_used);\n  throw new Error(`JSON Parse Error (model: ${item.json.model_used}): ${e.message}. Raw: ${aiOutput.substring(0, 200)}`);\n}\n\nconst company = extracted.company || 'UNBEKANNT';\nconst addr = extracted.address || {};\n\n// Domain mapping for client lookup - erweitert\nconst domainMap = {\n  'SAGA': 'saga.de',\n  'GWG': 'gwg.de',\n  'WBS': 'wbs-service.de',\n  'VONOVIA': 'vonovia.de',\n  'GEWOBA': 'gewoba.de'\n};\n\nconst projectName = [company, addr.street, addr.city].filter(Boolean).join(' - ');\n\nreturn {\n  json: {\n    event_id: eventData.event_id,\n    storage_path: eventData.storage_path,\n    email_domain: domainMap[company] || null,\n    detected_source: company,\n    ai_model_used: item.json.model_used || 'unknown',\n    ai_fallback_chain: item.json.fallback_chain || [],\n    project_data: {\n      name: projectName,\n      object_street: addr.street || 'Unbekannt',\n      object_zip: addr.zip || '00000',\n      object_city: addr.city || 'Hamburg',\n      object_floor: addr.floor || null,\n      status: 'INTAKE',\n      source: company,\n      source_reference: extracted.external_ref || '',\n      planned_end: extracted.deadline || null\n    },\n    parsed_data: {\n      company: company,\n      tenant_name: extracted.tenant_name,\n      address: extracted.address,\n      external_ref: extracted.external_ref,\n      order_type: extracted.order_type,\n      deadline: extracted.deadline,\n      raw_notes: extracted.raw_notes,\n      from: eventData.email_from,\n      subject: eventData.email_subject\n    }\n  },\n  binary: $('Merge Event + Binary').first().binary\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7920,720],"id":"9504969e-ef04-422c-a4db-bcb8fdf14772","name":"Prepare Project Data"},{"parameters":{"operation":"executeQuery","query":"-- Lookup client by email_domain, mit Fallback auf UNBEKANNT\nSELECT \n  COALESCE(\n    (SELECT id FROM clients WHERE email_domain = '{{ $json.email_domain }}' LIMIT 1),\n    (SELECT id FROM clients WHERE last_name = 'UNBEKANNT' LIMIT 1)\n  ) as id,\n  COALESCE(\n    (SELECT last_name FROM clients WHERE email_domain = '{{ $json.email_domain }}' LIMIT 1),\n    'UNBEKANNT'\n  ) as client_name,\n  CASE \n    WHEN EXISTS(SELECT 1 FROM clients WHERE email_domain = '{{ $json.email_domain }}')\n    THEN false\n    ELSE true\n  END as is_fallback;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[8112,720],"id":"8ca40cea-6962-4fe4-bbf7-4db0748fdac8","name":"Lookup Client","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO projects (\n  name,\n  client_id,\n  object_street,\n  object_zip,\n  object_city,\n  status,\n  source,\n  source_reference\n) VALUES (\n  '{{ $('Prepare Project Data').item.json.project_data.name }}',\n  {{ $json.id ? \"'\" + $json.id + \"'::uuid\" : 'NULL' }},\n  '{{ $('Prepare Project Data').item.json.project_data.object_street }}',\n  '{{ $('Prepare Project Data').item.json.project_data.object_zip }}',\n  '{{ $('Prepare Project Data').item.json.project_data.object_city }}',\n  'DRAFT',\n  '{{ $('Prepare Project Data').item.json.project_data.source }}',\n  '{{ $('Prepare Project Data').item.json.project_data.source_reference }}'\n)\nRETURNING id, project_number, name;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[8320,720],"id":"68ad9ca3-0a43-451f-aa31-43d9dcc5a1ff","name":"Insert Project","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"// Prepare for PDF upload and merge project ID with binary\nconst prepareNode = $('Prepare Project Data').first();\nconst insertNode = $('Insert Project').first();\nconst clientNode = $('Lookup Client').first();\n\nreturn {\n  json: {\n    event_id: prepareNode.json.event_id,\n    project_id: insertNode.json.id,\n    project_number: insertNode.json.project_number,\n    original_storage_path: prepareNode.json.storage_path,\n    parsed_data: prepareNode.json.parsed_data,\n    client_is_fallback: clientNode.json.is_fallback || false,\n    ai_model_used: prepareNode.json.ai_model_used,\n    ai_fallback_chain: prepareNode.json.ai_fallback_chain\n  },\n  binary: prepareNode.binary\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[8512,720],"id":"66d6a5a8-8459-4cca-982d-ec0635758a33","name":"Prepare for Upload"},{"parameters":{"method":"POST","url":"=https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/project-files/projects/{{ $json.project_id }}/intake/auftrag.pdf","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/pdf"},{"name":"x-upsert","value":"true"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8720,720],"id":"c0ed50e0-eaed-4d7d-ad0e-cb03eef9a568","name":"Upload PDF to Project Folder","credentials":{"httpHeaderAuth":{"id":"n357gpDbnk38oMfi","name":"Supabase Storage Auth"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO project_files (project_id, folder_id, file_type, storage_path, file_name, mime_type)\nVALUES (\n  '{{ $('Prepare for Upload').item.json.project_id }}'::uuid,\n  (SELECT id FROM project_folders WHERE project_id = '{{ $('Prepare for Upload').item.json.project_id }}'::uuid AND name = '01_Auftrag' LIMIT 1),\n  'pdf',\n  'projects/{{ $('Prepare for Upload').item.json.project_id }}/intake/auftrag.pdf',\n  'auftrag.pdf',\n  'application/pdf'\n)\nON CONFLICT DO NOTHING\nRETURNING id;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[8912,720],"id":"d75fc948-1503-41ee-b4da-08c7cdc9bd53","name":"Insert project_files","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"-- Mark input event as processed\nUPDATE events SET processed_at = now() \nWHERE id = '{{ $('Prepare for Upload').item.json.event_id }}'::uuid;\n\n-- Approval für Freigabecenter erstellen (statt PROJECT_CREATED)\nINSERT INTO approvals (\n  approval_type, status, project_id,\n  requested_by, requested_at, request_data\n) VALUES (\n  'PROJECT_START', 'PENDING',\n  '{{ $(\"Prepare for Upload\").item.json.project_id }}'::uuid,\n  'n8n_m1_02', now(),\n  jsonb_build_object(\n    'storage_path', 'projects/' || '{{ $(\"Prepare for Upload\").item.json.project_id }}' || '/intake/auftrag.pdf',\n    'file_name', 'auftrag.pdf',\n    'mime_type', 'application/pdf'\n  )\n);\n\n-- PDF_PARSED bleibt (Position Extraction läuft sofort)\nINSERT INTO events (event_type, project_id, payload, source_system, source_flow)\nVALUES (\n  'PDF_PARSED',\n  '{{ $('Prepare for Upload').item.json.project_id }}'::uuid,\n  '{{ JSON.stringify({\n    contractor_code: $('Prepare for Upload').item.json.parsed_data.company,\n    pdf_storage_path: \"projects/\" + $('Prepare for Upload').item.json.project_id + \"/intake/auftrag.pdf\"\n  }).replace(/'/g, \"''\") }}',\n  'n8n',\n  'M1_02_PDF_Parser_Vision'\n)\nRETURNING id, event_type::text, project_id;\n\n-- Complete workflow step\nSELECT complete_workflow_step(\n  'pdf_parse:{{ $('Prepare for Upload').item.json.event_id }}',\n  '{}'\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[9120,720],"id":"576f71fb-b939-4754-9245-c80b70757f57","name":"Mark Processed + Emit Event","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Marks EMAIL_RECEIVED as processed, creates PENDING approval for Freigabecenter, emits PDF_PARSED, updates workflow_steps"},{"parameters":{"jsCode":"// Final output\nconst uploadData = $('Prepare for Upload').first().json;\nconst eventResult = $input.first().json;\n\nreturn {\n  json: {\n    success: true,\n    project_id: uploadData.project_id,\n    project_number: uploadData.project_number,\n    event_emitted: 'APPROVAL_PENDING',\n    input_event_processed: uploadData.event_id,\n    client_is_fallback: uploadData.client_is_fallback,\n    ai_model_used: uploadData.ai_model_used,\n    ai_fallback_chain: uploadData.ai_fallback_chain,\n    created_at: new Date().toISOString()\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[9312,720],"id":"795b3879-aaff-4b08-ab67-0c4dd5f251cb","name":"Done"}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Event Data","type":"main","index":0}]]},"Parse Event Data":{"main":[[{"node":"Idempotency Check","type":"main","index":0}]]},"Idempotency Check":{"main":[[{"node":"New Processing?","type":"main","index":0}]]},"New Processing?":{"main":[[{"node":"Download PDF from Storage","type":"main","index":0}]]},"Download PDF from Storage":{"main":[[{"node":"Merge Event + Binary","type":"main","index":0}]]},"Merge Event + Binary":{"main":[[{"node":"Prepare AI Fallback Request","type":"main","index":0}]]},"Prepare AI Fallback Request":{"main":[[{"node":"Analyze Document (AI Fallback)","type":"main","index":0}]]},"Analyze Document (AI Fallback)":{"main":[[{"node":"AI Success?","type":"main","index":0}]]},"AI Success?":{"main":[[{"node":"Prepare Project Data","type":"main","index":0}]]},"Prepare Project Data":{"main":[[{"node":"Lookup Client","type":"main","index":0}]]},"Lookup Client":{"main":[[{"node":"Insert Project","type":"main","index":0}]]},"Insert Project":{"main":[[{"node":"Prepare for Upload","type":"main","index":0}]]},"Prepare for Upload":{"main":[[{"node":"Upload PDF to Project Folder","type":"main","index":0}]]},"Upload PDF to Project Folder":{"main":[[{"node":"Insert project_files","type":"main","index":0}]]},"Insert project_files":{"main":[[{"node":"Mark Processed + Emit Event","type":"main","index":0}]]},"Mark Processed + Emit Event":{"main":[[{"node":"Done","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-08T18:31:37.253Z","id":979,"workflowId":"8KDtJKgrTIOV8LTw","versionId":"1a1d200b-16bb-4c56-b7e4-5aab5b62aa40","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-03-08T18:31:37.241Z","id":978,"workflowId":"8KDtJKgrTIOV8LTw","versionId":"1a1d200b-16bb-4c56-b7e4-5aab5b62aa40","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}