n8n-workflows/M2_01_Monteur_Auftrag_PDF.json
{"updatedAt":"2026-02-27T23:24:40.176Z","createdAt":"2026-01-16T21:29:59.875Z","id":"v2b5w05D-CR5WxCsbbmAi","name":"M2_01_Monteur_Auftrag_PDF","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"monteur-auftrag","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1488,688],"id":"20ab6b12-23e5-4440-b428-7f692fa73b77","name":"Webhook","webhookId":"monteur-auftrag"},{"parameters":{"operation":"executeQuery","query":"SELECT get_monteur_auftrag_data(\n  '{{ $json.project_id }}'::uuid,\n  '{{ $json.language || \"de\" }}'\n) as data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1896,688],"id":"536c2853-f5c1-41b4-be6d-30a6c27b2e68","name":"Load Project Data","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const input = $input.first().json;\nconst webhookData = $('Webhook').first().json;\nconst data = input.data;\n\nif (!data || !data.project) {\n  throw new Error('Projekt nicht gefunden');\n}\n\nconst { project, sections, is_saga } = data;\nconst language = webhookData.language || 'de';\nconst hidePrices = webhookData.hide_prices !== false;\n\n// DEADLINE aus SQL (nicht mehr aus Webhook)\nconst dueDate = project.deadline \n  ? new Date(project.deadline).toLocaleDateString('de-DE') \n  : '';\n\nconst labels = {\n  de: { \n    title: 'MONTEUR-AUFTRAG', \n    date: 'Datum', \n    dueDate: 'Fertigstellung bis',\n    signature: 'Unterschrift Monteur', \n    note: 'Notizen', \n    qty: 'Menge', \n    project: 'Projekt', \n    address: 'Adresse' \n  },\n  tr: { \n    title: 'MONTAJ SİPARİŞİ', \n    date: 'Tarih', \n    dueDate: 'Teslim Tarihi',\n    signature: 'Montör İmzası', \n    note: 'Notlar', \n    qty: 'Miktar', \n    project: 'Proje', \n    address: 'Adres' \n  }\n};\n\nconst l = labels[language] || labels.de;\nconst today = new Date().toLocaleDateString('de-DE');\n\n// ADRESSE aus einzelnen Feldern (SQL liefert jetzt street, zip_code, city)\nconst projectAddress = [\n  project.street, \n  [project.zip_code, project.city].filter(Boolean).join(' ')\n].filter(Boolean).join(', ') || '-';\n\n// Due Date Box\nconst dueDateHtml = dueDate ? `\n  <div class=\"due-date-box\">\n    <span class=\"due-label\">${l.dueDate}:</span>\n    <span class=\"due-value\">${dueDate}</span>\n  </div>\n` : '';\n\nlet sectionsHtml = '';\nfor (const section of sections || []) {\n  if (!section.positions || section.positions.length === 0) continue;\n  \n  let positionsHtml = '';\n  for (const pos of section.positions) {\n    const qty = pos.quantity ? `${pos.quantity} ${pos.unit || 'psch'}` : '-';\n    positionsHtml += `\n      <tr>\n        <td class=\"checkbox-cell\">☐</td>\n        <td class=\"title-cell\">${pos.title}</td>\n        <td class=\"qty-cell\">${qty}</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td colspan=\"2\" class=\"note-cell\">${l.note}: <span class=\"note-line\"></span></td>\n      </tr>\n    `;\n  }\n  \n  sectionsHtml += `\n    <div class=\"section\">\n      <div class=\"section-header\">${(section.group_label || 'Allgemein').toUpperCase()}</div>\n      <table class=\"positions-table\">\n        ${positionsHtml}\n      </table>\n    </div>\n  `;\n}\n\nconst html = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    @page { \n      margin: 15mm; \n      size: A4;\n    }\n    \n    * {\n      box-sizing: border-box;\n    }\n    \n    body { \n      font-family: 'Segoe UI', Arial, sans-serif; \n      font-size: 10pt; \n      line-height: 1.3; \n      color: #222;\n      margin: 0;\n      padding: 0;\n    }\n    \n    .header {\n      background: linear-gradient(135deg, #1a365d 0%, #2c5282 100%);\n      color: white;\n      padding: 20px 25px;\n      margin: 0 0 20px 0;\n      border-radius: 6px;\n    }\n    \n    .header h1 {\n      margin: 0 0 5px 0;\n      font-size: 22pt;\n      font-weight: 600;\n      letter-spacing: 1px;\n    }\n    \n    .header-subtitle {\n      font-size: 9pt;\n      opacity: 0.9;\n    }\n    \n    .meta-box {\n      background: #f7fafc;\n      border: 1px solid #e2e8f0;\n      border-radius: 6px;\n      padding: 12px 15px;\n      margin-bottom: 20px;\n    }\n    \n    .meta-row {\n      display: flex;\n      margin-bottom: 4px;\n    }\n    \n    .meta-row:last-child {\n      margin-bottom: 0;\n    }\n    \n    .meta-label {\n      font-weight: 600;\n      color: #4a5568;\n      width: 80px;\n      flex-shrink: 0;\n    }\n    \n    .meta-value {\n      color: #1a202c;\n    }\n    \n    .due-date-box {\n      background: #edf2f7;\n      border: 2px solid #2c5282;\n      border-radius: 6px;\n      padding: 10px 15px;\n      margin-bottom: 20px;\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n    }\n    \n    .due-label {\n      font-weight: 600;\n      color: #2c5282;\n      font-size: 11pt;\n    }\n    \n    .due-value {\n      font-weight: 700;\n      color: #1a365d;\n      font-size: 12pt;\n    }\n    \n    .section {\n      margin-bottom: 18px;\n      page-break-inside: avoid;\n    }\n    \n    .section-header {\n      background: #2c5282;\n      color: white;\n      font-weight: 600;\n      font-size: 11pt;\n      padding: 8px 12px;\n      border-radius: 4px 4px 0 0;\n      letter-spacing: 0.5px;\n    }\n    \n    .positions-table {\n      width: 100%;\n      border-collapse: collapse;\n      border: 1px solid #e2e8f0;\n      border-top: none;\n    }\n    \n    .positions-table tr:nth-child(4n+1),\n    .positions-table tr:nth-child(4n+2) {\n      background: #f7fafc;\n    }\n    \n    .checkbox-cell {\n      width: 35px;\n      text-align: center;\n      font-size: 16pt;\n      vertical-align: top;\n      padding: 10px 5px 5px 10px;\n      border-right: 1px solid #e2e8f0;\n    }\n    \n    .title-cell {\n      padding: 10px 10px 5px 10px;\n      vertical-align: top;\n      line-height: 1.4;\n    }\n    \n    .qty-cell {\n      width: 70px;\n      text-align: center;\n      padding: 10px 10px 5px 5px;\n      vertical-align: top;\n      font-weight: 500;\n      color: #4a5568;\n      border-left: 1px solid #e2e8f0;\n    }\n    \n    .note-cell {\n      padding: 0 10px 12px 10px;\n      color: #718096;\n      font-size: 9pt;\n    }\n    \n    .note-line {\n      display: inline-block;\n      width: calc(100% - 50px);\n      border-bottom: 1px solid #cbd5e0;\n      margin-left: 5px;\n      height: 12px;\n    }\n    \n    .footer {\n      margin-top: 30px;\n      page-break-inside: avoid;\n    }\n    \n    .signature-box {\n      border: 1px solid #e2e8f0;\n      border-radius: 6px;\n      padding: 15px 20px;\n      background: #f7fafc;\n    }\n    \n    .signature-label {\n      font-size: 9pt;\n      color: #718096;\n      margin-bottom: 25px;\n    }\n    \n    .signature-row {\n      display: flex;\n      justify-content: space-between;\n      gap: 40px;\n    }\n    \n    .signature-field {\n      flex: 1;\n    }\n    \n    .signature-line {\n      border-top: 1px solid #1a365d;\n      padding-top: 5px;\n      font-weight: 500;\n      font-size: 9pt;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>${l.title}</h1>\n    <div class=\"header-subtitle\">Deine Baulöwen</div>\n  </div>\n  \n  <div class=\"meta-box\">\n    <div class=\"meta-row\">\n      <div class=\"meta-label\">${l.project}:</div>\n      <div class=\"meta-value\"><strong>${project.name || 'Unbenannt'}</strong></div>\n    </div>\n    <div class=\"meta-row\">\n      <div class=\"meta-label\">${l.address}:</div>\n      <div class=\"meta-value\">${projectAddress}</div>\n    </div>\n    <div class=\"meta-row\">\n      <div class=\"meta-label\">${l.date}:</div>\n      <div class=\"meta-value\">${today}</div>\n    </div>\n  </div>\n  \n  ${dueDateHtml}\n  \n  ${sectionsHtml || '<p>Keine Positionen vorhanden.</p>'}\n  \n  <div class=\"footer\">\n    <div class=\"signature-box\">\n      <div class=\"signature-label\">Arbeiten vollständig ausgeführt:</div>\n      <div class=\"signature-row\">\n        <div class=\"signature-field\">\n          <div class=\"signature-line\">${l.signature}</div>\n        </div>\n        <div class=\"signature-field\">\n          <div class=\"signature-line\">${l.date}</div>\n        </div>\n      </div>\n    </div>\n  </div>\n</body>\n</html>`;\n\nconst filename = `${project.project_number || 'Auftrag'}_Monteur_${language.toUpperCase()}.pdf`;\nconst storagePath = `projects/${webhookData.project_id}/monteurauftraege/${filename}`;\n\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(html, 'utf8'),\n  'index.html',\n  'text/html'\n);\n\nreturn {\n  json: {\n    filename,\n    storage_path: storagePath,\n    project_id: webhookData.project_id,\n    language\n  },\n  binary: {\n    data: binaryData\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2056,688],"id":"1c6b8f28-9e54-4cc4-a2e8-571f8b8c98f9","name":"Build HTML"},{"parameters":{"method":"POST","url":"http://gotenberg:3000/forms/chromium/convert/html","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"data","inputDataFieldName":"=data"}]},"options":{"response":{"response":{"responseFormat":"file"}},"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2232,688],"id":"7fd37ada-9bd8-4ff6-8c8e-640d94eac4b4","name":"Gotenberg PDF"},{"parameters":{"method":"POST","url":"=https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/project-files/{{ $('Build HTML').item.json.storage_path }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2392,688],"id":"78d0ff5b-e0cd-4e4a-82e5-9af9af4776da","name":"Upload to Supabase Storage","credentials":{"httpHeaderAuth":{"id":"PmuDiYzfBjPqDSFV","name":"Supabase Service Key"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO project_files (\n  project_id,\n  file_type,\n  file_name,\n  mime_type,\n  storage_bucket,\n  storage_path\n) VALUES (\n  '{{ $('Build HTML').all()[0].json.project_id }}'::uuid,\n  'MONTEUR_AUFTRAG',\n  '{{ $('Build HTML').all()[0].json.filename }}',\n  'application/pdf',\n  'project-files',\n  '{{ $json.Key }}'  -- <-- HIER: aus Supabase Upload Response\n)\nON CONFLICT (project_id, file_type, file_name) DO UPDATE SET\n  storage_path = EXCLUDED.storage_path,\n  created_at = now()\nRETURNING id, storage_path;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2568,688],"id":"c2c316a9-e7b2-4c20-9284-948c07cd2841","name":"Insert DB Reference","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"file_id\": \"{{ $json.id }}\",\n  \"storage_path\": \"{{ $json.storage_path }}\",\n  \"download_url\": \"https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/public/project-files/{{ $json.storage_path }}\",\n  \"filename\": \"{{ $('Build HTML').item.json.filename }}\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2744,688],"id":"3b56b6f8-b53a-4f11-a219-99ffe726440f","name":"Respond Success"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst projectId = input.body?.project_id || input.project_id;\n\n// Guard: Stop flow if no valid UUID\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (!projectId || !uuidRegex.test(projectId)) {\n  throw new Error('M2_01: Missing or invalid project_id: ' + projectId);\n}\n\nreturn {\n  json: {\n    project_id: projectId,\n    language: input.body?.language || input.language || 'de',\n    hide_prices: input.body?.hide_prices ?? input.hide_prices ?? true\n  }\n};"},"id":"a201-val-0001-4000-8000-000000000001","name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[1592,688]}],"connections":{"Webhook":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Load Project Data":{"main":[[{"node":"Build HTML","type":"main","index":0}]]},"Build HTML":{"main":[[{"node":"Gotenberg PDF","type":"main","index":0}]]},"Gotenberg PDF":{"main":[[{"node":"Upload to Supabase Storage","type":"main","index":0}]]},"Upload to Supabase Storage":{"main":[[{"node":"Insert DB Reference","type":"main","index":0}]]},"Insert DB Reference":{"main":[[{"node":"Respond Success","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"Load Project Data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"apmJoMCbOchwfqTp"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"project_id":"641bc6fd-4cf5-4f75-8130-60826a3c9c9a","language":"tr"}}]},"versionId":"f298b049-0a5b-49ae-97af-af4b43abd67a","activeVersionId":"f298b049-0a5b-49ae-97af-af4b43abd67a","versionCounter":59,"triggerCount":1,"shared":[{"updatedAt":"2026-01-16T21:29:59.882Z","createdAt":"2026-01-16T21:29:59.882Z","role":"workflow:owner","workflowId":"v2b5w05D-CR5WxCsbbmAi","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-27T23:05:45.851Z","createdAt":"2026-02-27T23:05:45.851Z","versionId":"f298b049-0a5b-49ae-97af-af4b43abd67a","workflowId":"v2b5w05D-CR5WxCsbbmAi","nodes":[{"parameters":{"httpMethod":"POST","path":"monteur-auftrag","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1488,688],"id":"20ab6b12-23e5-4440-b428-7f692fa73b77","name":"Webhook","webhookId":"monteur-auftrag"},{"parameters":{"operation":"executeQuery","query":"SELECT get_monteur_auftrag_data(\n  '{{ $json.project_id }}'::uuid,\n  '{{ $json.language || \"de\" }}'\n) as data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1896,688],"id":"536c2853-f5c1-41b4-be6d-30a6c27b2e68","name":"Load Project Data","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const input = $input.first().json;\nconst webhookData = $('Webhook').first().json;\nconst data = input.data;\n\nif (!data || !data.project) {\n  throw new Error('Projekt nicht gefunden');\n}\n\nconst { project, sections, is_saga } = data;\nconst language = webhookData.language || 'de';\nconst hidePrices = webhookData.hide_prices !== false;\n\n// DEADLINE aus SQL (nicht mehr aus Webhook)\nconst dueDate = project.deadline \n  ? new Date(project.deadline).toLocaleDateString('de-DE') \n  : '';\n\nconst labels = {\n  de: { \n    title: 'MONTEUR-AUFTRAG', \n    date: 'Datum', \n    dueDate: 'Fertigstellung bis',\n    signature: 'Unterschrift Monteur', \n    note: 'Notizen', \n    qty: 'Menge', \n    project: 'Projekt', \n    address: 'Adresse' \n  },\n  tr: { \n    title: 'MONTAJ SİPARİŞİ', \n    date: 'Tarih', \n    dueDate: 'Teslim Tarihi',\n    signature: 'Montör İmzası', \n    note: 'Notlar', \n    qty: 'Miktar', \n    project: 'Proje', \n    address: 'Adres' \n  }\n};\n\nconst l = labels[language] || labels.de;\nconst today = new Date().toLocaleDateString('de-DE');\n\n// ADRESSE aus einzelnen Feldern (SQL liefert jetzt street, zip_code, city)\nconst projectAddress = [\n  project.street, \n  [project.zip_code, project.city].filter(Boolean).join(' ')\n].filter(Boolean).join(', ') || '-';\n\n// Due Date Box\nconst dueDateHtml = dueDate ? `\n  <div class=\"due-date-box\">\n    <span class=\"due-label\">${l.dueDate}:</span>\n    <span class=\"due-value\">${dueDate}</span>\n  </div>\n` : '';\n\nlet sectionsHtml = '';\nfor (const section of sections || []) {\n  if (!section.positions || section.positions.length === 0) continue;\n  \n  let positionsHtml = '';\n  for (const pos of section.positions) {\n    const qty = pos.quantity ? `${pos.quantity} ${pos.unit || 'psch'}` : '-';\n    positionsHtml += `\n      <tr>\n        <td class=\"checkbox-cell\">☐</td>\n        <td class=\"title-cell\">${pos.title}</td>\n        <td class=\"qty-cell\">${qty}</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td colspan=\"2\" class=\"note-cell\">${l.note}: <span class=\"note-line\"></span></td>\n      </tr>\n    `;\n  }\n  \n  sectionsHtml += `\n    <div class=\"section\">\n      <div class=\"section-header\">${(section.group_label || 'Allgemein').toUpperCase()}</div>\n      <table class=\"positions-table\">\n        ${positionsHtml}\n      </table>\n    </div>\n  `;\n}\n\nconst html = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    @page { \n      margin: 15mm; \n      size: A4;\n    }\n    \n    * {\n      box-sizing: border-box;\n    }\n    \n    body { \n      font-family: 'Segoe UI', Arial, sans-serif; \n      font-size: 10pt; \n      line-height: 1.3; \n      color: #222;\n      margin: 0;\n      padding: 0;\n    }\n    \n    .header {\n      background: linear-gradient(135deg, #1a365d 0%, #2c5282 100%);\n      color: white;\n      padding: 20px 25px;\n      margin: 0 0 20px 0;\n      border-radius: 6px;\n    }\n    \n    .header h1 {\n      margin: 0 0 5px 0;\n      font-size: 22pt;\n      font-weight: 600;\n      letter-spacing: 1px;\n    }\n    \n    .header-subtitle {\n      font-size: 9pt;\n      opacity: 0.9;\n    }\n    \n    .meta-box {\n      background: #f7fafc;\n      border: 1px solid #e2e8f0;\n      border-radius: 6px;\n      padding: 12px 15px;\n      margin-bottom: 20px;\n    }\n    \n    .meta-row {\n      display: flex;\n      margin-bottom: 4px;\n    }\n    \n    .meta-row:last-child {\n      margin-bottom: 0;\n    }\n    \n    .meta-label {\n      font-weight: 600;\n      color: #4a5568;\n      width: 80px;\n      flex-shrink: 0;\n    }\n    \n    .meta-value {\n      color: #1a202c;\n    }\n    \n    .due-date-box {\n      background: #edf2f7;\n      border: 2px solid #2c5282;\n      border-radius: 6px;\n      padding: 10px 15px;\n      margin-bottom: 20px;\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n    }\n    \n    .due-label {\n      font-weight: 600;\n      color: #2c5282;\n      font-size: 11pt;\n    }\n    \n    .due-value {\n      font-weight: 700;\n      color: #1a365d;\n      font-size: 12pt;\n    }\n    \n    .section {\n      margin-bottom: 18px;\n      page-break-inside: avoid;\n    }\n    \n    .section-header {\n      background: #2c5282;\n      color: white;\n      font-weight: 600;\n      font-size: 11pt;\n      padding: 8px 12px;\n      border-radius: 4px 4px 0 0;\n      letter-spacing: 0.5px;\n    }\n    \n    .positions-table {\n      width: 100%;\n      border-collapse: collapse;\n      border: 1px solid #e2e8f0;\n      border-top: none;\n    }\n    \n    .positions-table tr:nth-child(4n+1),\n    .positions-table tr:nth-child(4n+2) {\n      background: #f7fafc;\n    }\n    \n    .checkbox-cell {\n      width: 35px;\n      text-align: center;\n      font-size: 16pt;\n      vertical-align: top;\n      padding: 10px 5px 5px 10px;\n      border-right: 1px solid #e2e8f0;\n    }\n    \n    .title-cell {\n      padding: 10px 10px 5px 10px;\n      vertical-align: top;\n      line-height: 1.4;\n    }\n    \n    .qty-cell {\n      width: 70px;\n      text-align: center;\n      padding: 10px 10px 5px 5px;\n      vertical-align: top;\n      font-weight: 500;\n      color: #4a5568;\n      border-left: 1px solid #e2e8f0;\n    }\n    \n    .note-cell {\n      padding: 0 10px 12px 10px;\n      color: #718096;\n      font-size: 9pt;\n    }\n    \n    .note-line {\n      display: inline-block;\n      width: calc(100% - 50px);\n      border-bottom: 1px solid #cbd5e0;\n      margin-left: 5px;\n      height: 12px;\n    }\n    \n    .footer {\n      margin-top: 30px;\n      page-break-inside: avoid;\n    }\n    \n    .signature-box {\n      border: 1px solid #e2e8f0;\n      border-radius: 6px;\n      padding: 15px 20px;\n      background: #f7fafc;\n    }\n    \n    .signature-label {\n      font-size: 9pt;\n      color: #718096;\n      margin-bottom: 25px;\n    }\n    \n    .signature-row {\n      display: flex;\n      justify-content: space-between;\n      gap: 40px;\n    }\n    \n    .signature-field {\n      flex: 1;\n    }\n    \n    .signature-line {\n      border-top: 1px solid #1a365d;\n      padding-top: 5px;\n      font-weight: 500;\n      font-size: 9pt;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>${l.title}</h1>\n    <div class=\"header-subtitle\">Deine Baulöwen</div>\n  </div>\n  \n  <div class=\"meta-box\">\n    <div class=\"meta-row\">\n      <div class=\"meta-label\">${l.project}:</div>\n      <div class=\"meta-value\"><strong>${project.name || 'Unbenannt'}</strong></div>\n    </div>\n    <div class=\"meta-row\">\n      <div class=\"meta-label\">${l.address}:</div>\n      <div class=\"meta-value\">${projectAddress}</div>\n    </div>\n    <div class=\"meta-row\">\n      <div class=\"meta-label\">${l.date}:</div>\n      <div class=\"meta-value\">${today}</div>\n    </div>\n  </div>\n  \n  ${dueDateHtml}\n  \n  ${sectionsHtml || '<p>Keine Positionen vorhanden.</p>'}\n  \n  <div class=\"footer\">\n    <div class=\"signature-box\">\n      <div class=\"signature-label\">Arbeiten vollständig ausgeführt:</div>\n      <div class=\"signature-row\">\n        <div class=\"signature-field\">\n          <div class=\"signature-line\">${l.signature}</div>\n        </div>\n        <div class=\"signature-field\">\n          <div class=\"signature-line\">${l.date}</div>\n        </div>\n      </div>\n    </div>\n  </div>\n</body>\n</html>`;\n\nconst filename = `${project.project_number || 'Auftrag'}_Monteur_${language.toUpperCase()}.pdf`;\nconst storagePath = `projects/${webhookData.project_id}/monteurauftraege/${filename}`;\n\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(html, 'utf8'),\n  'index.html',\n  'text/html'\n);\n\nreturn {\n  json: {\n    filename,\n    storage_path: storagePath,\n    project_id: webhookData.project_id,\n    language\n  },\n  binary: {\n    data: binaryData\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2056,688],"id":"1c6b8f28-9e54-4cc4-a2e8-571f8b8c98f9","name":"Build HTML"},{"parameters":{"method":"POST","url":"http://gotenberg:3000/forms/chromium/convert/html","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"data","inputDataFieldName":"=data"}]},"options":{"response":{"response":{"responseFormat":"file"}},"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2232,688],"id":"7fd37ada-9bd8-4ff6-8c8e-640d94eac4b4","name":"Gotenberg PDF"},{"parameters":{"method":"POST","url":"=https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/project-files/{{ $('Build HTML').item.json.storage_path }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2392,688],"id":"78d0ff5b-e0cd-4e4a-82e5-9af9af4776da","name":"Upload to Supabase Storage","credentials":{"httpHeaderAuth":{"id":"PmuDiYzfBjPqDSFV","name":"Supabase Service Key"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO project_files (\n  project_id,\n  file_type,\n  file_name,\n  mime_type,\n  storage_bucket,\n  storage_path\n) VALUES (\n  '{{ $('Build HTML').all()[0].json.project_id }}'::uuid,\n  'MONTEUR_AUFTRAG',\n  '{{ $('Build HTML').all()[0].json.filename }}',\n  'application/pdf',\n  'project-files',\n  '{{ $json.Key }}'  -- <-- HIER: aus Supabase Upload Response\n)\nON CONFLICT (project_id, file_type, file_name) DO UPDATE SET\n  storage_path = EXCLUDED.storage_path,\n  created_at = now()\nRETURNING id, storage_path;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2568,688],"id":"c2c316a9-e7b2-4c20-9284-948c07cd2841","name":"Insert DB Reference","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"file_id\": \"{{ $json.id }}\",\n  \"storage_path\": \"{{ $json.storage_path }}\",\n  \"download_url\": \"https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/public/project-files/{{ $json.storage_path }}\",\n  \"filename\": \"{{ $('Build HTML').item.json.filename }}\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2744,688],"id":"3b56b6f8-b53a-4f11-a219-99ffe726440f","name":"Respond Success"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst projectId = input.body?.project_id || input.project_id;\n\n// Guard: Stop flow if no valid UUID\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (!projectId || !uuidRegex.test(projectId)) {\n  throw new Error('M2_01: Missing or invalid project_id: ' + projectId);\n}\n\nreturn {\n  json: {\n    project_id: projectId,\n    language: input.body?.language || input.language || 'de',\n    hide_prices: input.body?.hide_prices ?? input.hide_prices ?? true\n  }\n};"},"id":"a201-val-0001-4000-8000-000000000001","name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[1592,688]}],"connections":{"Webhook":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Load Project Data":{"main":[[{"node":"Build HTML","type":"main","index":0}]]},"Build HTML":{"main":[[{"node":"Gotenberg PDF","type":"main","index":0}]]},"Gotenberg PDF":{"main":[[{"node":"Upload to Supabase Storage","type":"main","index":0}]]},"Upload to Supabase Storage":{"main":[[{"node":"Insert DB Reference","type":"main","index":0}]]},"Insert DB Reference":{"main":[[{"node":"Respond Success","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"Load Project Data","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-27T23:05:45.907Z","id":817,"workflowId":"v2b5w05D-CR5WxCsbbmAi","versionId":"f298b049-0a5b-49ae-97af-af4b43abd67a","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:24:40.222Z","id":836,"workflowId":"v2b5w05D-CR5WxCsbbmAi","versionId":"f298b049-0a5b-49ae-97af-af4b43abd67a","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:05:45.890Z","id":816,"workflowId":"v2b5w05D-CR5WxCsbbmAi","versionId":"f298b049-0a5b-49ae-97af-af4b43abd67a","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:24:40.206Z","id":835,"workflowId":"v2b5w05D-CR5WxCsbbmAi","versionId":"f298b049-0a5b-49ae-97af-af4b43abd67a","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}