n8n-workflows/M2_03_Generate_Protocol_PDF.json
{"updatedAt":"2026-02-20T14:40:04.935Z","createdAt":"2026-01-17T16:40:01.694Z","id":"lDrZnW4bYMCpumiTbmkKl","name":"M2_03_Generate_Protocol_PDF","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"m2-03-generate-protocol-pdf","responseMode":"responseNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","position":[-528,208],"id":"de282f90-5116-4814-ad66-3089ae4ade52","typeVersion":2.1,"webhookId":"6358a8cc-d7b9-4da0-877a-2a26b8337b03"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n  'm2_03:{{ $json.body.event_id || $json.body.protocol_id }}',\n  '{{ $json.body.project_id }}'::uuid,\n  'PDF_GENERATION',\n  10\n) as result;","options":{}},"name":"Claim Step","type":"n8n-nodes-base.postgres","position":[-352,208],"id":"adaac6bc-d67f-4e61-ad4f-579389b6be8a","typeVersion":2.6,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ba5a7729-e3fc-4d49-98e3-b9620e5c309e","leftValue":"={{ $json.claimed }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"name":"IF Claimed","type":"n8n-nodes-base.if","position":[-192,208],"id":"5897a2f5-f4ed-419c-99ec-32883f43aa7f","typeVersion":2.3},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM get_inspection_protocol_details(\n  '{{ $('Webhook').item.json.body.payload?.protocol_id || $('Webhook').item.json.body.protocol_id }}'::uuid\n);","options":{}},"name":"Load Protocol Details","type":"n8n-nodes-base.postgres","position":[80,0],"id":"afa19ed2-ac5e-43f8-800e-2a6b150a5b0a","typeVersion":2.6,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst first = items[0]?.json || {};\nconst protocolType = first.protocol_type;\n\nlet templateKey;\nif (protocolType === 'zwischenbegehung') {\n  templateKey = 'inspection_zb';\n} else {\n  templateKey = 'inspection_eb_ab';\n}\n\n// ALLE Felder aus erstem Item + alle Items\nreturn [{\n  json: {\n    ...first,\n    templateKey,\n    allItems: items.map(i => i.json)\n  }\n}];"},"name":"Determine Template Key","type":"n8n-nodes-base.code","position":[256,0],"id":"da8635fd-5266-42b1-a900-38c5324e246d","typeVersion":2},{"parameters":{"operation":"executeQuery","query":"SELECT html_content, version \nFROM document_templates \nWHERE template_key = '{{ $json.templateKey }}';","options":{}},"name":"Load Template","type":"n8n-nodes-base.postgres","position":[432,0],"id":"e8f2c60f-65a3-4084-83bd-69d0f39a81c8","typeVersion":2.6,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const data = $('Determine Template Key').first().json;\nconst template = $('Load Template').first().json.html_content;\nconst allItems = data.allItems || [];\n\n// ============ LOGO ALS BASE64 ============\nconst logoDataUri = ''; // Leer = zeigt alt-Text \"Deine Baulöwen\"\n\n// ============ BERECHNUNGEN ============\nconst totalItems = allItems.length;\nconst completedItems = allItems.filter(i => i.progress_percent === 100).length;\nconst inProgressItems = allItems.filter(i => i.progress_percent > 0 && i.progress_percent < 100).length;\nconst itemsWithIssues = allItems.filter(i => i.has_defect || i.requires_supplement).length;\nconst overallProgress = totalItems > 0 \n  ? Math.round(allItems.reduce((sum, i) => sum + (i.progress_percent || 0), 0) / totalItems)\n  : 0;\n\n// ============ DATUM FORMATIEREN ============\nconst formatDate = (dateStr) => {\n  if (!dateStr) return '-';\n  const d = new Date(dateStr);\n  return d.toLocaleDateString('de-DE', { day: '2-digit', month: '2-digit', year: 'numeric' });\n};\n\n// ============ ITEMS HTML GENERIEREN ============\nconst grouped = {};\nfor (const item of allItems) {\n  const trade = item.trade || 'Sonstiges';\n  if (!grouped[trade]) grouped[trade] = [];\n  grouped[trade].push(item);\n}\n\nlet itemsHtml = '';\nfor (const [trade, positions] of Object.entries(grouped)) {\n  itemsHtml += `<tr style=\"background:#edf2f7\"><td colspan=\"6\" style=\"padding:8px;font-weight:600;color:#1a365d\">${trade}</td></tr>`;\n  \n  for (const pos of positions) {\n    const progress = pos.progress_percent || 0;\n    const progressClass = `progress-${Math.floor(progress / 10) * 10}`;\n    const progressColorClass = progress < 40 ? 'progress-low' : progress < 70 ? 'progress-mid' : 'progress-high';\n    \n    let statusHtml;\n    if (pos.item_status === 'ja' || progress === 100) {\n      statusHtml = '<span class=\"status-yes\">✓</span>';\n    } else if (pos.item_status === 'nein' || progress === 0) {\n      statusHtml = '<span class=\"status-no\">✗</span>';\n    } else if (pos.item_status === 'teilweise') {\n      statusHtml = '<span class=\"status-partial\">◐</span>';\n    } else if (pos.item_status === 'nicht_anwendbar') {\n      statusHtml = '<span class=\"status-na\">n/a</span>';\n    } else {\n      statusHtml = '<span class=\"status-open\">○</span>';\n    }\n    \n    const rowClass = (pos.has_defect || pos.requires_supplement) ? 'has-issue' : '';\n    const defectNote = pos.has_defect ? '<div class=\"defect-indicator\">⚠ Mangel</div>' : '';\n    \n    itemsHtml += `\n      <tr class=\"${rowClass}\">\n        <td class=\"col-position\">${pos.position_code || ''}</td>\n        <td>${pos.position_title || ''}</td>\n        <td class=\"col-trade\">${pos.trade || ''}</td>\n        <td class=\"col-progress\">\n          <div class=\"progress-container\">\n            <div class=\"progress-bar\"><div class=\"progress-fill ${progressClass}\"></div></div>\n            <span class=\"progress-text ${progressColorClass}\">${progress}%</span>\n          </div>\n        </td>\n        <td class=\"col-status\">${statusHtml}</td>\n        <td class=\"col-notes\">${pos.notes || ''}${defectNote}</td>\n      </tr>`;\n  }\n}\n\n// ============ PLACEHOLDERS ERSETZEN ============\nlet html = template\n  .replace(/\\{\\{logo_url\\}\\}/g, logoDataUri)\n  .replace(/\\{\\{protocol_number\\}\\}/g, data.protocol_number || '')\n  .replace(/\\{\\{protocol_type\\}\\}/g, data.protocol_type || '')\n  .replace(/\\{\\{inspection_date\\}\\}/g, formatDate(data.inspection_date))\n  .replace(/\\{\\{project_number\\}\\}/g, data.project_number || '')\n  .replace(/\\{\\{client_name\\}\\}/g, data.client_name || '')\n  .replace(/\\{\\{address\\}\\}/g, data.project_address || '-')\n  .replace(/\\{\\{inspector_name\\}\\}/g, data.inspector_name || '-')\n  .replace(/\\{\\{overall_progress_percent\\}\\}/g, overallProgress)\n  .replace(/\\{\\{items_html\\}\\}/g, itemsHtml)\n  .replace(/\\{\\{total_items\\}\\}/g, totalItems)\n  .replace(/\\{\\{completed_items\\}\\}/g, completedItems)\n  .replace(/\\{\\{in_progress_items\\}\\}/g, inProgressItems)\n  .replace(/\\{\\{items_with_issues\\}\\}/g, itemsWithIssues);\n\n// ============ HANDLEBARS {{#if}} VERARBEITEN ============\nif (data.general_notes && data.general_notes.trim()) {\n  html = html.replace(/\\{\\{#if general_notes\\}\\}/g, '');\n  html = html.replace(/\\{\\{\\/if\\}\\}/g, '');\n  html = html.replace(/\\{\\{general_notes\\}\\}/g, data.general_notes);\n} else {\n  html = html.replace(/\\{\\{#if general_notes\\}\\}[\\s\\S]*?\\{\\{\\/if\\}\\}/g, '');\n}\n\n// ============ STORAGE PATH ============\nconst storagePath = `protocols/${data.project_number}/${data.protocol_number}.pdf`;\n\n// ============ BINARY DATA FÜR GOTENBERG ============\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(html, 'utf8'),\n  'index.html',\n  'text/html'\n);\n\n// ============ EVENT_ID DURCHREICHEN ============\nconst eventId = $('Webhook').first().json.body?.event_id || '';\n\nreturn [{\n  json: {\n    protocol_id: data.protocol_id,\n    protocol_number: data.protocol_number,\n    project_number: data.project_number,\n    storage_path: storagePath,\n    event_id: eventId\n  },\n  binary: {\n    data: binaryData\n  }\n}];"},"name":"Build HTML","type":"n8n-nodes-base.code","position":[608,0],"id":"6a5037a3-0781-4aaf-a798-5793764c57f7","typeVersion":2},{"parameters":{"method":"POST","url":"http://gotenberg:3000/forms/chromium/convert/html","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"files","inputDataFieldName":"data"}]},"options":{"response":{"response":{"responseFormat":"file"}},"timeout":30000}},"name":"Gotenberg PDF","type":"n8n-nodes-base.httpRequest","position":[768,0],"id":"eca523f3-b4e9-4dd6-ba60-86426562edd9","typeVersion":4.3},{"parameters":{"method":"POST","url":"=https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/project-files/protocols/{{ $('Build HTML').item.json.project_number }}/{{ $('Build HTML').item.json.protocol_number }}.pdf","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-upsert","value":"true"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"name":"Upload to Storage","type":"n8n-nodes-base.httpRequest","position":[944,0],"id":"733a802b-b045-4a11-9a81-795618c3cf9e","typeVersion":4.3,"credentials":{"supabaseApi":{"id":"zl3q8TEFR97Ecfoj","name":"baugenius core"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE inspection_protocols\nSET pdf_storage_path = '{{ $('Build HTML').item.json.storage_path }}'\nWHERE id = '{{ $('Build HTML').item.json.protocol_id }}'::uuid\nRETURNING id, pdf_storage_path;","options":{}},"name":"Update Protocol PDF Path","type":"n8n-nodes-base.postgres","position":[1136,0],"id":"f440784a-7c2b-4f85-8952-a9ae9f3242c1","typeVersion":2.6,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"DO $$\nDECLARE\n  v_event_id TEXT := '{{ $('Build HTML').item.json.event_id }}';\n  v_protocol_id TEXT := '{{ $('Build HTML').item.json.protocol_id }}';\n  v_step_key TEXT;\nBEGIN\n  v_step_key := 'm2_03:' || COALESCE(NULLIF(v_event_id, ''), v_protocol_id);\n  \n  IF v_event_id IS NOT NULL AND v_event_id != '' THEN\n    UPDATE events SET processed_at = now() \n    WHERE id = v_event_id::uuid;\n  END IF;\n  \n  PERFORM complete_workflow_step(v_step_key, '{\"status\": \"success\"}'::jsonb);\nEND $$;","options":{}},"name":"Mark Processed + Complete","type":"n8n-nodes-base.postgres","position":[1520,0],"id":"a8d43f9f-0fbd-40b7-a7b0-2aa003626f31","typeVersion":2.6,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"options":{}},"name":"Response OK","type":"n8n-nodes-base.respondToWebhook","position":[1776,224],"id":"60662ef2-4d6a-4f6f-9c85-e032d0464397","typeVersion":1.5},{"parameters":{"chatId":"6088921678","text":"=✅ Protocol PDF generiert    📄 {{ $('Build HTML').item.json.protocol_number }}    📁 protocols/{{ $('Build HTML').item.json.project_number }}/{{ $('Build HTML').item.json.protocol_number }}.pdf","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1328,0],"id":"7fafb328-3d10-4e52-8191-2802fdc662b0","name":"Send a text message","webhookId":"b667adfa-0816-4a6f-9b25-ee05fe2eda17","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}}],"connections":{"Webhook":{"main":[[{"node":"Claim Step","type":"main","index":0}]]},"Claim Step":{"main":[[{"node":"IF Claimed","type":"main","index":0}]]},"IF Claimed":{"main":[[{"node":"Load Protocol Details","type":"main","index":0}],[{"node":"Response OK","type":"main","index":0}]]},"Load Protocol Details":{"main":[[{"node":"Determine Template Key","type":"main","index":0}]]},"Determine Template Key":{"main":[[{"node":"Load Template","type":"main","index":0}]]},"Load Template":{"main":[[{"node":"Build HTML","type":"main","index":0}]]},"Build HTML":{"main":[[{"node":"Gotenberg PDF","type":"main","index":0}]]},"Gotenberg PDF":{"main":[[{"node":"Upload to Storage","type":"main","index":0}]]},"Upload to Storage":{"main":[[{"node":"Update Protocol PDF Path","type":"main","index":0}]]},"Update Protocol PDF Path":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Mark Processed + Complete":{"main":[[{"node":"Response OK","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"Mark Processed + Complete","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"apmJoMCbOchwfqTp"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{},"query":{},"body":{"protocol_id":"fedb60fd-c6fe-4636-beac-7df0cb2fff2b","project_id":"56404c9c-3e55-4cd5-9ea4-40ebde77c58c"}},"pairedItem":{"item":0}}]},"versionId":"da833bda-64a3-4dce-b86b-7c7a4dfcb3a6","activeVersionId":"da833bda-64a3-4dce-b86b-7c7a4dfcb3a6","versionCounter":69,"triggerCount":1,"shared":[{"updatedAt":"2026-01-17T16:40:01.699Z","createdAt":"2026-01-17T16:40:01.699Z","role":"workflow:owner","workflowId":"lDrZnW4bYMCpumiTbmkKl","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-18T13:32:10.000Z","createdAt":"2026-01-18T13:30:04.694Z","versionId":"da833bda-64a3-4dce-b86b-7c7a4dfcb3a6","workflowId":"lDrZnW4bYMCpumiTbmkKl","nodes":[{"parameters":{"httpMethod":"POST","path":"m2-03-generate-protocol-pdf","responseMode":"responseNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","position":[-528,208],"id":"de282f90-5116-4814-ad66-3089ae4ade52","typeVersion":2.1,"webhookId":"6358a8cc-d7b9-4da0-877a-2a26b8337b03"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n  'm2_03:{{ $json.body.event_id || $json.body.protocol_id }}',\n  '{{ $json.body.project_id }}'::uuid,\n  'PDF_GENERATION',\n  10\n) as result;","options":{}},"name":"Claim Step","type":"n8n-nodes-base.postgres","position":[-352,208],"id":"adaac6bc-d67f-4e61-ad4f-579389b6be8a","typeVersion":2.6,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ba5a7729-e3fc-4d49-98e3-b9620e5c309e","leftValue":"={{ $json.claimed }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"name":"IF Claimed","type":"n8n-nodes-base.if","position":[-192,208],"id":"5897a2f5-f4ed-419c-99ec-32883f43aa7f","typeVersion":2.3},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM get_inspection_protocol_details(\n  '{{ $('Webhook').item.json.body.payload?.protocol_id || $('Webhook').item.json.body.protocol_id }}'::uuid\n);","options":{}},"name":"Load Protocol Details","type":"n8n-nodes-base.postgres","position":[80,0],"id":"afa19ed2-ac5e-43f8-800e-2a6b150a5b0a","typeVersion":2.6,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst first = items[0]?.json || {};\nconst protocolType = first.protocol_type;\n\nlet templateKey;\nif (protocolType === 'zwischenbegehung') {\n  templateKey = 'inspection_zb';\n} else {\n  templateKey = 'inspection_eb_ab';\n}\n\n// ALLE Felder aus erstem Item + alle Items\nreturn [{\n  json: {\n    ...first,\n    templateKey,\n    allItems: items.map(i => i.json)\n  }\n}];"},"name":"Determine Template Key","type":"n8n-nodes-base.code","position":[256,0],"id":"da8635fd-5266-42b1-a900-38c5324e246d","typeVersion":2},{"parameters":{"operation":"executeQuery","query":"SELECT html_content, version \nFROM document_templates \nWHERE template_key = '{{ $json.templateKey }}';","options":{}},"name":"Load Template","type":"n8n-nodes-base.postgres","position":[432,0],"id":"e8f2c60f-65a3-4084-83bd-69d0f39a81c8","typeVersion":2.6,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const data = $('Determine Template Key').first().json;\nconst template = $('Load Template').first().json.html_content;\nconst allItems = data.allItems || [];\n\n// ============ LOGO ALS BASE64 ============\nconst logoDataUri = ''; // Leer = zeigt alt-Text \"Deine Baulöwen\"\n\n// ============ BERECHNUNGEN ============\nconst totalItems = allItems.length;\nconst completedItems = allItems.filter(i => i.progress_percent === 100).length;\nconst inProgressItems = allItems.filter(i => i.progress_percent > 0 && i.progress_percent < 100).length;\nconst itemsWithIssues = allItems.filter(i => i.has_defect || i.requires_supplement).length;\nconst overallProgress = totalItems > 0 \n  ? Math.round(allItems.reduce((sum, i) => sum + (i.progress_percent || 0), 0) / totalItems)\n  : 0;\n\n// ============ DATUM FORMATIEREN ============\nconst formatDate = (dateStr) => {\n  if (!dateStr) return '-';\n  const d = new Date(dateStr);\n  return d.toLocaleDateString('de-DE', { day: '2-digit', month: '2-digit', year: 'numeric' });\n};\n\n// ============ ITEMS HTML GENERIEREN ============\nconst grouped = {};\nfor (const item of allItems) {\n  const trade = item.trade || 'Sonstiges';\n  if (!grouped[trade]) grouped[trade] = [];\n  grouped[trade].push(item);\n}\n\nlet itemsHtml = '';\nfor (const [trade, positions] of Object.entries(grouped)) {\n  itemsHtml += `<tr style=\"background:#edf2f7\"><td colspan=\"6\" style=\"padding:8px;font-weight:600;color:#1a365d\">${trade}</td></tr>`;\n  \n  for (const pos of positions) {\n    const progress = pos.progress_percent || 0;\n    const progressClass = `progress-${Math.floor(progress / 10) * 10}`;\n    const progressColorClass = progress < 40 ? 'progress-low' : progress < 70 ? 'progress-mid' : 'progress-high';\n    \n    let statusHtml;\n    if (pos.item_status === 'ja' || progress === 100) {\n      statusHtml = '<span class=\"status-yes\">✓</span>';\n    } else if (pos.item_status === 'nein' || progress === 0) {\n      statusHtml = '<span class=\"status-no\">✗</span>';\n    } else if (pos.item_status === 'teilweise') {\n      statusHtml = '<span class=\"status-partial\">◐</span>';\n    } else if (pos.item_status === 'nicht_anwendbar') {\n      statusHtml = '<span class=\"status-na\">n/a</span>';\n    } else {\n      statusHtml = '<span class=\"status-open\">○</span>';\n    }\n    \n    const rowClass = (pos.has_defect || pos.requires_supplement) ? 'has-issue' : '';\n    const defectNote = pos.has_defect ? '<div class=\"defect-indicator\">⚠ Mangel</div>' : '';\n    \n    itemsHtml += `\n      <tr class=\"${rowClass}\">\n        <td class=\"col-position\">${pos.position_code || ''}</td>\n        <td>${pos.position_title || ''}</td>\n        <td class=\"col-trade\">${pos.trade || ''}</td>\n        <td class=\"col-progress\">\n          <div class=\"progress-container\">\n            <div class=\"progress-bar\"><div class=\"progress-fill ${progressClass}\"></div></div>\n            <span class=\"progress-text ${progressColorClass}\">${progress}%</span>\n          </div>\n        </td>\n        <td class=\"col-status\">${statusHtml}</td>\n        <td class=\"col-notes\">${pos.notes || ''}${defectNote}</td>\n      </tr>`;\n  }\n}\n\n// ============ PLACEHOLDERS ERSETZEN ============\nlet html = template\n  .replace(/\\{\\{logo_url\\}\\}/g, logoDataUri)\n  .replace(/\\{\\{protocol_number\\}\\}/g, data.protocol_number || '')\n  .replace(/\\{\\{protocol_type\\}\\}/g, data.protocol_type || '')\n  .replace(/\\{\\{inspection_date\\}\\}/g, formatDate(data.inspection_date))\n  .replace(/\\{\\{project_number\\}\\}/g, data.project_number || '')\n  .replace(/\\{\\{client_name\\}\\}/g, data.client_name || '')\n  .replace(/\\{\\{address\\}\\}/g, data.project_address || '-')\n  .replace(/\\{\\{inspector_name\\}\\}/g, data.inspector_name || '-')\n  .replace(/\\{\\{overall_progress_percent\\}\\}/g, overallProgress)\n  .replace(/\\{\\{items_html\\}\\}/g, itemsHtml)\n  .replace(/\\{\\{total_items\\}\\}/g, totalItems)\n  .replace(/\\{\\{completed_items\\}\\}/g, completedItems)\n  .replace(/\\{\\{in_progress_items\\}\\}/g, inProgressItems)\n  .replace(/\\{\\{items_with_issues\\}\\}/g, itemsWithIssues);\n\n// ============ HANDLEBARS {{#if}} VERARBEITEN ============\nif (data.general_notes && data.general_notes.trim()) {\n  html = html.replace(/\\{\\{#if general_notes\\}\\}/g, '');\n  html = html.replace(/\\{\\{\\/if\\}\\}/g, '');\n  html = html.replace(/\\{\\{general_notes\\}\\}/g, data.general_notes);\n} else {\n  html = html.replace(/\\{\\{#if general_notes\\}\\}[\\s\\S]*?\\{\\{\\/if\\}\\}/g, '');\n}\n\n// ============ STORAGE PATH ============\nconst storagePath = `protocols/${data.project_number}/${data.protocol_number}.pdf`;\n\n// ============ BINARY DATA FÜR GOTENBERG ============\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(html, 'utf8'),\n  'index.html',\n  'text/html'\n);\n\n// ============ EVENT_ID DURCHREICHEN ============\nconst eventId = $('Webhook').first().json.body?.event_id || '';\n\nreturn [{\n  json: {\n    protocol_id: data.protocol_id,\n    protocol_number: data.protocol_number,\n    project_number: data.project_number,\n    storage_path: storagePath,\n    event_id: eventId\n  },\n  binary: {\n    data: binaryData\n  }\n}];"},"name":"Build HTML","type":"n8n-nodes-base.code","position":[608,0],"id":"6a5037a3-0781-4aaf-a798-5793764c57f7","typeVersion":2},{"parameters":{"method":"POST","url":"http://gotenberg:3000/forms/chromium/convert/html","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"files","inputDataFieldName":"data"}]},"options":{"response":{"response":{"responseFormat":"file"}},"timeout":30000}},"name":"Gotenberg PDF","type":"n8n-nodes-base.httpRequest","position":[768,0],"id":"eca523f3-b4e9-4dd6-ba60-86426562edd9","typeVersion":4.3},{"parameters":{"method":"POST","url":"=https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/project-files/protocols/{{ $('Build HTML').item.json.project_number }}/{{ $('Build HTML').item.json.protocol_number }}.pdf","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-upsert","value":"true"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"name":"Upload to Storage","type":"n8n-nodes-base.httpRequest","position":[944,0],"id":"733a802b-b045-4a11-9a81-795618c3cf9e","typeVersion":4.3,"credentials":{"supabaseApi":{"id":"zl3q8TEFR97Ecfoj","name":"baugenius core"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE inspection_protocols\nSET pdf_storage_path = '{{ $('Build HTML').item.json.storage_path }}'\nWHERE id = '{{ $('Build HTML').item.json.protocol_id }}'::uuid\nRETURNING id, pdf_storage_path;","options":{}},"name":"Update Protocol PDF Path","type":"n8n-nodes-base.postgres","position":[1136,0],"id":"f440784a-7c2b-4f85-8952-a9ae9f3242c1","typeVersion":2.6,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"DO $$\nDECLARE\n  v_event_id TEXT := '{{ $('Build HTML').item.json.event_id }}';\n  v_protocol_id TEXT := '{{ $('Build HTML').item.json.protocol_id }}';\n  v_step_key TEXT;\nBEGIN\n  v_step_key := 'm2_03:' || COALESCE(NULLIF(v_event_id, ''), v_protocol_id);\n  \n  IF v_event_id IS NOT NULL AND v_event_id != '' THEN\n    UPDATE events SET processed_at = now() \n    WHERE id = v_event_id::uuid;\n  END IF;\n  \n  PERFORM complete_workflow_step(v_step_key, '{\"status\": \"success\"}'::jsonb);\nEND $$;","options":{}},"name":"Mark Processed + Complete","type":"n8n-nodes-base.postgres","position":[1520,0],"id":"a8d43f9f-0fbd-40b7-a7b0-2aa003626f31","typeVersion":2.6,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"options":{}},"name":"Response OK","type":"n8n-nodes-base.respondToWebhook","position":[1776,224],"id":"60662ef2-4d6a-4f6f-9c85-e032d0464397","typeVersion":1.5},{"parameters":{"chatId":"6088921678","text":"=✅ Protocol PDF generiert    📄 {{ $('Build HTML').item.json.protocol_number }}    📁 protocols/{{ $('Build HTML').item.json.project_number }}/{{ $('Build HTML').item.json.protocol_number }}.pdf","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1328,0],"id":"7fafb328-3d10-4e52-8191-2802fdc662b0","name":"Send a text message","webhookId":"b667adfa-0816-4a6f-9b25-ee05fe2eda17","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}}],"connections":{"Webhook":{"main":[[{"node":"Claim Step","type":"main","index":0}]]},"Claim Step":{"main":[[{"node":"IF Claimed","type":"main","index":0}]]},"IF Claimed":{"main":[[{"node":"Load Protocol Details","type":"main","index":0}],[{"node":"Response OK","type":"main","index":0}]]},"Load Protocol Details":{"main":[[{"node":"Determine Template Key","type":"main","index":0}]]},"Determine Template Key":{"main":[[{"node":"Load Template","type":"main","index":0}]]},"Load Template":{"main":[[{"node":"Build HTML","type":"main","index":0}]]},"Build HTML":{"main":[[{"node":"Gotenberg PDF","type":"main","index":0}]]},"Gotenberg PDF":{"main":[[{"node":"Upload to Storage","type":"main","index":0}]]},"Upload to Storage":{"main":[[{"node":"Update Protocol PDF Path","type":"main","index":0}]]},"Update Protocol PDF Path":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Mark Processed + Complete":{"main":[[{"node":"Response OK","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"Mark Processed + Complete","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version da833bda","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-01-18T13:32:10.522Z","id":352,"workflowId":"lDrZnW4bYMCpumiTbmkKl","versionId":"da833bda-64a3-4dce-b86b-7c7a4dfcb3a6","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}