n8n-workflows/M2_02_Sync_ZB_Progress.json
{"updatedAt":"2026-02-20T14:39:54.066Z","createdAt":"2026-01-17T16:39:11.302Z","id":"TQoWuDki_q9IDVIJCHcHE","name":"M2_02_Sync_ZB_Progress","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"m2-02-sync-zb-progress","responseMode":"responseNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","position":[-848,80],"id":"fcc39ca8-56cf-4ef8-8d39-814ec728dfdc","typeVersion":2.1,"webhookId":"abf9e3e1-811f-4317-94b8-f3148ad451c6"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n  'm2_02:{{ $json.body.event_id || $json.body.protocol_id }}',\n  '{{ $json.body.project_id }}'::uuid,\n  'ZB_PROGRESS_SYNC',\n  10\n) as result;","options":{}},"name":"Claim Step","type":"n8n-nodes-base.postgres","position":[-656,80],"id":"132fec3d-f174-49f7-87aa-3c66d0a33c8c","typeVersion":2.6,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"91a98a61-ccf6-4825-bfbb-3f2f6f4f582a","leftValue":"={{ $json.claimed }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"name":"IF Claimed","type":"n8n-nodes-base.if","position":[-480,80],"id":"8b8cb2da-51af-4fe2-b6c5-95e576f2b1f9","typeVersion":2.3},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"fba0fdbe-93a6-4d33-a2ae-c575cc106a1d","leftValue":"={{ $('Webhook').item.json.body.payload.protocol_type }}","rightValue":"zwischenbegehung","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"name":"Check ZB Type","type":"n8n-nodes-base.if","position":[-224,-160],"id":"29295790-4c73-44b1-b466-2479febb4a13","typeVersion":2.3},{"parameters":{"options":{}},"name":"Skip Not ZB","type":"n8n-nodes-base.set","position":[-208,192],"id":"85976409-c52f-456a-b8fd-f00bfcb43b19","typeVersion":3.4},{"parameters":{"operation":"executeQuery","query":"SELECT \n  ipi.id AS item_id,\n  ipi.offer_position_id,\n  ipi.progress_percent,\n  op.title AS position_title\nFROM inspection_protocol_items ipi\nJOIN offer_positions op ON op.id = ipi.offer_position_id\nWHERE ipi.protocol_id = '{{ $('Webhook').item.json.body.payload.protocol_id }}'::uuid\n  AND ipi.progress_percent > 0;","options":{}},"name":"Load Protocol Items","type":"n8n-nodes-base.postgres","position":[0,-176],"id":"352dee6d-9cb9-43ca-b74e-fe135a0f8d2c","typeVersion":2.6,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE offer_positions op\nSET \n  progress_percent = ipi.progress_percent,\n  progress_updated_at = now(),\n  last_inspection_id = '{{ $('Webhook').item.json.body.payload.protocol_id }}'::uuid\nFROM inspection_protocol_items ipi\nWHERE ipi.protocol_id = '{{ $('Webhook').item.json.body.payload.protocol_id }}'::uuid\n  AND op.id = ipi.offer_position_id\n  AND ipi.progress_percent > 0\nRETURNING op.id, op.progress_percent;","options":{}},"name":"Update Offer Positions","type":"n8n-nodes-base.postgres","position":[176,-176],"id":"550b2a4b-8ef0-4b29-84c9-ba6db78f52e4","typeVersion":2.6,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst webhookData = $('Webhook').first().json.body;\nconst count = items.length;\n\nif (count === 0) {\n  return [{ json: { count: 0, avgProgress: 0, message: 'Keine Positionen aktualisiert', project_id: webhookData.project_id } }];\n}\n\nconst totalProgress = items.reduce((sum, item) => sum + (item.json.progress_percent || 0), 0);\nconst avgProgress = Math.round(totalProgress / count);\n\nreturn [{\n  json: {\n    count,\n    avgProgress,\n    message: `${count} Positionen, Ø ${avgProgress}%`,\n    project_id: webhookData.project_id\n  }\n}];"},"name":"Calc Stats","type":"n8n-nodes-base.code","position":[368,-176],"id":"62460eda-e17d-4710-a96d-e2a4ef98fa02","typeVersion":2},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (event_type, project_id, payload, source_system, source_flow)\nVALUES (\n  'ZB_PROGRESS_SYNCED',\n  '{{ $('Webhook').first().json.body.project_id }}'::uuid,\n  '{{ JSON.stringify({ \n    protocol_id: $('Webhook').first().json.body.payload.protocol_id,\n    positions_updated: $json.count,\n    avg_progress: $json.avgProgress\n  }).replace(/'/g, \"''\") }}'::jsonb,\n  'n8n',\n  'M2_01_Sync_ZB_Progress'\n)\nRETURNING id, event_type::text;","options":{}},"name":"Fire ZB_PROGRESS_SYNCED","type":"n8n-nodes-base.postgres","position":[768,-176],"id":"7f0a3add-f245-423e-932e-8836cf94f24f","typeVersion":2.6,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"DO $$\nDECLARE\n  v_event_id TEXT := '{{ $('Webhook').first().json.body.event_id }}';\n  v_protocol_id TEXT := '{{ $('Webhook').first().json.body.payload.protocol_id }}';\n  v_step_key TEXT;\nBEGIN\n  v_step_key := 'm2_02:' || COALESCE(NULLIF(v_event_id, ''), v_protocol_id);\n  \n  -- Nur updaten wenn event_id gültiges UUID-Format\n  IF v_event_id ~ '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$' THEN\n    UPDATE events SET processed_at = now() \n    WHERE id = v_event_id::uuid;\n  END IF;\n  \n  PERFORM complete_workflow_step(v_step_key, '{\"status\": \"success\"}'::jsonb);\nEND $$;","options":{}},"name":"Mark Processed + Complete","type":"n8n-nodes-base.postgres","position":[976,-176],"id":"62ff7b24-2c50-49db-b90f-dc5a1d56734c","typeVersion":2.6,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"options":{}},"name":"Response OK","type":"n8n-nodes-base.respondToWebhook","position":[1152,96],"id":"493786f8-58ed-4604-8c24-9021abcb63e4","typeVersion":1.5},{"parameters":{"chatId":"6088921678","text":"=✅ ZB Progress Synced\\n\\nProjekt: {{ $json.project_id }}\\nPositionen: {{ $json.count }}\\nØ Fortschritt: {{ $json.avgProgress }}%","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[576,-176],"id":"dae0e26a-b39d-4f80-ad4e-92c42dcc5018","name":"Send a text message","webhookId":"b94ec644-6f7a-4550-b5fb-a86f221cc10d","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}}],"connections":{"Webhook":{"main":[[{"node":"Claim Step","type":"main","index":0}]]},"Claim Step":{"main":[[{"node":"IF Claimed","type":"main","index":0}]]},"IF Claimed":{"main":[[{"node":"Check ZB Type","type":"main","index":0}],[{"node":"Response OK","type":"main","index":0}]]},"Check ZB Type":{"main":[[{"node":"Load Protocol Items","type":"main","index":0}],[{"node":"Skip Not ZB","type":"main","index":0}]]},"Skip Not ZB":{"main":[[{"node":"Response OK","type":"main","index":0}]]},"Load Protocol Items":{"main":[[{"node":"Update Offer Positions","type":"main","index":0}]]},"Update Offer Positions":{"main":[[{"node":"Calc Stats","type":"main","index":0}]]},"Calc Stats":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Fire ZB_PROGRESS_SYNCED":{"main":[[{"node":"Mark Processed + Complete","type":"main","index":0}]]},"Mark Processed + Complete":{"main":[[{"node":"Response OK","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"Fire ZB_PROGRESS_SYNCED","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"apmJoMCbOchwfqTp"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0609829a-295b-4815-b842-6868c380d82e","activeVersionId":"0609829a-295b-4815-b842-6868c380d82e","versionCounter":55,"triggerCount":1,"shared":[{"updatedAt":"2026-01-17T16:39:11.309Z","createdAt":"2026-01-17T16:39:11.309Z","role":"workflow:owner","workflowId":"TQoWuDki_q9IDVIJCHcHE","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-18T13:37:40.000Z","createdAt":"2026-01-18T13:37:35.026Z","versionId":"0609829a-295b-4815-b842-6868c380d82e","workflowId":"TQoWuDki_q9IDVIJCHcHE","nodes":[{"parameters":{"httpMethod":"POST","path":"m2-02-sync-zb-progress","responseMode":"responseNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","position":[-848,80],"id":"fcc39ca8-56cf-4ef8-8d39-814ec728dfdc","typeVersion":2.1,"webhookId":"abf9e3e1-811f-4317-94b8-f3148ad451c6"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n  'm2_02:{{ $json.body.event_id || $json.body.protocol_id }}',\n  '{{ $json.body.project_id }}'::uuid,\n  'ZB_PROGRESS_SYNC',\n  10\n) as result;","options":{}},"name":"Claim Step","type":"n8n-nodes-base.postgres","position":[-656,80],"id":"132fec3d-f174-49f7-87aa-3c66d0a33c8c","typeVersion":2.6,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"91a98a61-ccf6-4825-bfbb-3f2f6f4f582a","leftValue":"={{ $json.claimed }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"name":"IF Claimed","type":"n8n-nodes-base.if","position":[-480,80],"id":"8b8cb2da-51af-4fe2-b6c5-95e576f2b1f9","typeVersion":2.3},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"fba0fdbe-93a6-4d33-a2ae-c575cc106a1d","leftValue":"={{ $('Webhook').item.json.body.payload.protocol_type }}","rightValue":"zwischenbegehung","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"name":"Check ZB Type","type":"n8n-nodes-base.if","position":[-224,-160],"id":"29295790-4c73-44b1-b466-2479febb4a13","typeVersion":2.3},{"parameters":{"options":{}},"name":"Skip Not ZB","type":"n8n-nodes-base.set","position":[-208,192],"id":"85976409-c52f-456a-b8fd-f00bfcb43b19","typeVersion":3.4},{"parameters":{"operation":"executeQuery","query":"SELECT \n  ipi.id AS item_id,\n  ipi.offer_position_id,\n  ipi.progress_percent,\n  op.title AS position_title\nFROM inspection_protocol_items ipi\nJOIN offer_positions op ON op.id = ipi.offer_position_id\nWHERE ipi.protocol_id = '{{ $('Webhook').item.json.body.payload.protocol_id }}'::uuid\n  AND ipi.progress_percent > 0;","options":{}},"name":"Load Protocol Items","type":"n8n-nodes-base.postgres","position":[0,-176],"id":"352dee6d-9cb9-43ca-b74e-fe135a0f8d2c","typeVersion":2.6,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE offer_positions op\nSET \n  progress_percent = ipi.progress_percent,\n  progress_updated_at = now(),\n  last_inspection_id = '{{ $('Webhook').item.json.body.payload.protocol_id }}'::uuid\nFROM inspection_protocol_items ipi\nWHERE ipi.protocol_id = '{{ $('Webhook').item.json.body.payload.protocol_id }}'::uuid\n  AND op.id = ipi.offer_position_id\n  AND ipi.progress_percent > 0\nRETURNING op.id, op.progress_percent;","options":{}},"name":"Update Offer Positions","type":"n8n-nodes-base.postgres","position":[176,-176],"id":"550b2a4b-8ef0-4b29-84c9-ba6db78f52e4","typeVersion":2.6,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst webhookData = $('Webhook').first().json.body;\nconst count = items.length;\n\nif (count === 0) {\n  return [{ json: { count: 0, avgProgress: 0, message: 'Keine Positionen aktualisiert', project_id: webhookData.project_id } }];\n}\n\nconst totalProgress = items.reduce((sum, item) => sum + (item.json.progress_percent || 0), 0);\nconst avgProgress = Math.round(totalProgress / count);\n\nreturn [{\n  json: {\n    count,\n    avgProgress,\n    message: `${count} Positionen, Ø ${avgProgress}%`,\n    project_id: webhookData.project_id\n  }\n}];"},"name":"Calc Stats","type":"n8n-nodes-base.code","position":[368,-176],"id":"62460eda-e17d-4710-a96d-e2a4ef98fa02","typeVersion":2},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (event_type, project_id, payload, source_system, source_flow)\nVALUES (\n  'ZB_PROGRESS_SYNCED',\n  '{{ $('Webhook').first().json.body.project_id }}'::uuid,\n  '{{ JSON.stringify({ \n    protocol_id: $('Webhook').first().json.body.payload.protocol_id,\n    positions_updated: $json.count,\n    avg_progress: $json.avgProgress\n  }).replace(/'/g, \"''\") }}'::jsonb,\n  'n8n',\n  'M2_01_Sync_ZB_Progress'\n)\nRETURNING id, event_type::text;","options":{}},"name":"Fire ZB_PROGRESS_SYNCED","type":"n8n-nodes-base.postgres","position":[768,-176],"id":"7f0a3add-f245-423e-932e-8836cf94f24f","typeVersion":2.6,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"DO $$\nDECLARE\n  v_event_id TEXT := '{{ $('Webhook').first().json.body.event_id }}';\n  v_protocol_id TEXT := '{{ $('Webhook').first().json.body.payload.protocol_id }}';\n  v_step_key TEXT;\nBEGIN\n  v_step_key := 'm2_02:' || COALESCE(NULLIF(v_event_id, ''), v_protocol_id);\n  \n  -- Nur updaten wenn event_id gültiges UUID-Format\n  IF v_event_id ~ '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$' THEN\n    UPDATE events SET processed_at = now() \n    WHERE id = v_event_id::uuid;\n  END IF;\n  \n  PERFORM complete_workflow_step(v_step_key, '{\"status\": \"success\"}'::jsonb);\nEND $$;","options":{}},"name":"Mark Processed + Complete","type":"n8n-nodes-base.postgres","position":[976,-176],"id":"62ff7b24-2c50-49db-b90f-dc5a1d56734c","typeVersion":2.6,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"options":{}},"name":"Response OK","type":"n8n-nodes-base.respondToWebhook","position":[1152,96],"id":"493786f8-58ed-4604-8c24-9021abcb63e4","typeVersion":1.5},{"parameters":{"chatId":"6088921678","text":"=✅ ZB Progress Synced\\n\\nProjekt: {{ $json.project_id }}\\nPositionen: {{ $json.count }}\\nØ Fortschritt: {{ $json.avgProgress }}%","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[576,-176],"id":"dae0e26a-b39d-4f80-ad4e-92c42dcc5018","name":"Send a text message","webhookId":"b94ec644-6f7a-4550-b5fb-a86f221cc10d","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}}],"connections":{"Webhook":{"main":[[{"node":"Claim Step","type":"main","index":0}]]},"Claim Step":{"main":[[{"node":"IF Claimed","type":"main","index":0}]]},"IF Claimed":{"main":[[{"node":"Check ZB Type","type":"main","index":0}],[{"node":"Response OK","type":"main","index":0}]]},"Check ZB Type":{"main":[[{"node":"Load Protocol Items","type":"main","index":0}],[{"node":"Skip Not ZB","type":"main","index":0}]]},"Skip Not ZB":{"main":[[{"node":"Response OK","type":"main","index":0}]]},"Load Protocol Items":{"main":[[{"node":"Update Offer Positions","type":"main","index":0}]]},"Update Offer Positions":{"main":[[{"node":"Calc Stats","type":"main","index":0}]]},"Calc Stats":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Fire ZB_PROGRESS_SYNCED":{"main":[[{"node":"Mark Processed + Complete","type":"main","index":0}]]},"Mark Processed + Complete":{"main":[[{"node":"Response OK","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"Fire ZB_PROGRESS_SYNCED","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version 0609829a","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-01-18T13:37:40.854Z","id":354,"workflowId":"TQoWuDki_q9IDVIJCHcHE","versionId":"0609829a-295b-4815-b842-6868c380d82e","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}