n8n-workflows/M2_10b_Schedule_Notification.json
{"updatedAt":"2026-02-27T23:24:45.069Z","createdAt":"2026-02-19T19:52:41.857Z","id":"DKR3TSn8J7sa01m3","name":"M2_10b_Schedule_Notification","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"m2-10-schedule-notification","responseMode":"responseNode","options":{}},"id":"20bc9fe8-3020-4bd0-8b0b-5e2fced4e43e","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1904,-192],"webhookId":"m2-10-schedule-notification"},{"parameters":{"jsCode":"// Parse event data from webhook body\nconst body = $input.first().json.body || $input.first().json;\nconst event_id = body.event_id || '';\nconst project_id = body.project_id || '';\nconst event_type = body.event_type || 'SCHEDULE_GENERATED';\nconst payload = body.payload || {};\n\nreturn [{ json: { event_id, project_id, event_type, payload } }];"},"id":"8ed4e1bc-6a11-42ca-b0d3-7c4c1989389a","name":"Parse Event Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1680,-192]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n  'm2_10:' || '{{ $json.event_id }}',\n  '{{ $json.project_id }}'::uuid,\n  'M2_10_Schedule_Notification'\n);","options":{}},"id":"49e98291-a773-43e7-9f84-21d07c2984b6","name":"Claim Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1472,-192],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"claimed-check","leftValue":"={{ $json.claimed }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"1203825d-7e17-4bf6-889f-8e08b075965c","name":"IF Claimed","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1248,-192]},{"parameters":{"operation":"executeQuery","query":"SELECT\n  p.project_number,\n  p.name AS project_name,\n  COALESCE(p.object_street, p.name) AS address,\n  p.planned_start,\n  p.planned_end,\n  json_agg(\n    json_build_object(\n      'phase_number', sp.phase_number,\n      'trade', sp.trade,\n      'start_date', sp.start_date,\n      'end_date', sp.end_date,\n      'team_member', COALESCE(tm.name, 'Offen'),\n      'estimated_hours', sp.estimated_hours\n    ) ORDER BY sp.phase_number\n  ) AS phases\nFROM projects p\nLEFT JOIN schedule_phases sp ON sp.project_id = p.id\nLEFT JOIN team_members tm ON tm.id = sp.assigned_team_member_id\nWHERE p.id = '{{ $('Parse Event Data').first().json.project_id }}'::uuid\nGROUP BY p.id;","options":{}},"id":"a15aaccb-4c4a-4b7c-be0d-6a0415d888a0","name":"Load Schedule Data","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1024,-288],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const data = $input.first().json;\nconst projectId = $('Parse Event Data').first().json.project_id;\nconst phases = typeof data.phases === 'string' ? JSON.parse(data.phases) : data.phases;\n\n// Format dates\nfunction fmtDate(d) {\n  if (!d) return '?';\n  const dt = new Date(d);\n  return `${String(dt.getDate()).padStart(2,'0')}.${String(dt.getMonth()+1).padStart(2,'0')}.`;\n}\n\nlet lines = [];\nlines.push(`📅 <b>Zeitplan generiert</b>`);\nlines.push(`<b>${data.project_number}</b> — ${data.address}`);\nlines.push('');\nlines.push(`<b>Gewerke:</b>`);\n\nif (phases && phases.length > 0) {\n  for (const p of phases) {\n    const initial = p.team_member ? p.team_member.split(' ').map(n => n[0]).join('.') + '.' : '?';\n    lines.push(`${p.phase_number}. ${p.trade}: ${fmtDate(p.start_date)} – ${fmtDate(p.end_date)} (${p.team_member})`);\n  }\n} else {\n  lines.push('Keine Phasen vorhanden.');\n}\n\nlines.push('');\nlines.push(`Zeitraum: ${fmtDate(data.planned_start)} – ${fmtDate(data.planned_end)}${data.planned_end ? new Date(data.planned_end).getFullYear() : ''}`);\n\nconst text = lines.join('\\n');\n\n// Build approval URL\nconst approveUrl = `https://n8n.srv1045913.hstgr.cloud/webhook/m2-10-schedule-approve?project_id=${projectId}&action=approve`;\nconst rejectUrl = `https://n8n.srv1045913.hstgr.cloud/webhook/m2-10-schedule-approve?project_id=${projectId}&action=reject`;\n\nreturn [{ json: { text, approveUrl, rejectUrl, projectId, project_number: data.project_number } }];"},"id":"95b7b11b-c9fa-4a9e-a581-6eb4b88af99b","name":"Format Telegram Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,-288]},{"parameters":{"chatId":"6088921678","text":"={{ $json.text }}","additionalFields":{"parse_mode":"HTML"}},"id":"6575b103-9333-44e0-bc48-4501bc0909d6","name":"Send Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-592,-288],"webhookId":"e744ad40-063a-40f5-9314-b0a32e18fdd7","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE events SET processed_at = now() WHERE id = '{{ $('Parse Event Data').first().json.event_id }}'::uuid;","options":{}},"id":"b1e89502-0621-4571-bb8a-5d03c2b33497","name":"Mark Event Processed","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-368,-288],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT complete_workflow_step('m2_10:' || '{{ $('Parse Event Data').first().json.event_id }}');","options":{}},"id":"7b5b2189-c335-4755-9102-850a64634e0f","name":"Complete Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-144,-288],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{},"id":"c01e3fd5-67ca-4336-8020-4eb2b816b788","name":"Skip (Already Claimed)","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1024,-64]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'ok', workflow: 'M2_10_Schedule_Notification' }) }}","options":{}},"id":"f71c432a-9cc5-41da-8780-678670b6c285","name":"Response OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[80,-192]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Event Data","type":"main","index":0}]]},"Parse Event Data":{"main":[[{"node":"Claim Workflow Step","type":"main","index":0}]]},"Claim Workflow Step":{"main":[[{"node":"IF Claimed","type":"main","index":0}]]},"IF Claimed":{"main":[[{"node":"Load Schedule Data","type":"main","index":0}],[{"node":"Skip (Already Claimed)","type":"main","index":0}]]},"Load Schedule Data":{"main":[[{"node":"Format Telegram Message","type":"main","index":0}]]},"Format Telegram Message":{"main":[[{"node":"Send Telegram","type":"main","index":0}]]},"Send Telegram":{"main":[[{"node":"Mark Event Processed","type":"main","index":0}]]},"Mark Event Processed":{"main":[[{"node":"Complete Workflow Step","type":"main","index":0}]]},"Complete Workflow Step":{"main":[[{"node":"Response OK","type":"main","index":0}]]},"Skip (Already Claimed)":{"main":[[{"node":"Response OK","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true,"timeSavedMode":"fixed","errorWorkflow":"apmJoMCbOchwfqTp","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"64d8e01e-ec62-4d1d-bf93-41c1e438ae74","activeVersionId":"64d8e01e-ec62-4d1d-bf93-41c1e438ae74","versionCounter":62,"triggerCount":1,"shared":[{"updatedAt":"2026-02-19T19:52:41.860Z","createdAt":"2026-02-19T19:52:41.860Z","role":"workflow:owner","workflowId":"DKR3TSn8J7sa01m3","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-20T14:40:38.000Z","createdAt":"2026-02-20T14:40:37.480Z","versionId":"64d8e01e-ec62-4d1d-bf93-41c1e438ae74","workflowId":"DKR3TSn8J7sa01m3","nodes":[{"parameters":{"httpMethod":"POST","path":"m2-10-schedule-notification","responseMode":"responseNode","options":{}},"id":"20bc9fe8-3020-4bd0-8b0b-5e2fced4e43e","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1904,-192],"webhookId":"m2-10-schedule-notification"},{"parameters":{"jsCode":"// Parse event data from webhook body\nconst body = $input.first().json.body || $input.first().json;\nconst event_id = body.event_id || '';\nconst project_id = body.project_id || '';\nconst event_type = body.event_type || 'SCHEDULE_GENERATED';\nconst payload = body.payload || {};\n\nreturn [{ json: { event_id, project_id, event_type, payload } }];"},"id":"8ed4e1bc-6a11-42ca-b0d3-7c4c1989389a","name":"Parse Event Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1680,-192]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n  'm2_10:' || '{{ $json.event_id }}',\n  '{{ $json.project_id }}'::uuid,\n  'M2_10_Schedule_Notification'\n);","options":{}},"id":"49e98291-a773-43e7-9f84-21d07c2984b6","name":"Claim Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1472,-192],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"claimed-check","leftValue":"={{ $json.claimed }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"1203825d-7e17-4bf6-889f-8e08b075965c","name":"IF Claimed","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1248,-192]},{"parameters":{"operation":"executeQuery","query":"SELECT\n  p.project_number,\n  p.name AS project_name,\n  COALESCE(p.object_street, p.name) AS address,\n  p.planned_start,\n  p.planned_end,\n  json_agg(\n    json_build_object(\n      'phase_number', sp.phase_number,\n      'trade', sp.trade,\n      'start_date', sp.start_date,\n      'end_date', sp.end_date,\n      'team_member', COALESCE(tm.name, 'Offen'),\n      'estimated_hours', sp.estimated_hours\n    ) ORDER BY sp.phase_number\n  ) AS phases\nFROM projects p\nLEFT JOIN schedule_phases sp ON sp.project_id = p.id\nLEFT JOIN team_members tm ON tm.id = sp.assigned_team_member_id\nWHERE p.id = '{{ $('Parse Event Data').first().json.project_id }}'::uuid\nGROUP BY p.id;","options":{}},"id":"a15aaccb-4c4a-4b7c-be0d-6a0415d888a0","name":"Load Schedule Data","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1024,-288],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const data = $input.first().json;\nconst projectId = $('Parse Event Data').first().json.project_id;\nconst phases = typeof data.phases === 'string' ? JSON.parse(data.phases) : data.phases;\n\n// Format dates\nfunction fmtDate(d) {\n  if (!d) return '?';\n  const dt = new Date(d);\n  return `${String(dt.getDate()).padStart(2,'0')}.${String(dt.getMonth()+1).padStart(2,'0')}.`;\n}\n\nlet lines = [];\nlines.push(`📅 <b>Zeitplan generiert</b>`);\nlines.push(`<b>${data.project_number}</b> — ${data.address}`);\nlines.push('');\nlines.push(`<b>Gewerke:</b>`);\n\nif (phases && phases.length > 0) {\n  for (const p of phases) {\n    const initial = p.team_member ? p.team_member.split(' ').map(n => n[0]).join('.') + '.' : '?';\n    lines.push(`${p.phase_number}. ${p.trade}: ${fmtDate(p.start_date)} – ${fmtDate(p.end_date)} (${p.team_member})`);\n  }\n} else {\n  lines.push('Keine Phasen vorhanden.');\n}\n\nlines.push('');\nlines.push(`Zeitraum: ${fmtDate(data.planned_start)} – ${fmtDate(data.planned_end)}${data.planned_end ? new Date(data.planned_end).getFullYear() : ''}`);\n\nconst text = lines.join('\\n');\n\n// Build approval URL\nconst approveUrl = `https://n8n.srv1045913.hstgr.cloud/webhook/m2-10-schedule-approve?project_id=${projectId}&action=approve`;\nconst rejectUrl = `https://n8n.srv1045913.hstgr.cloud/webhook/m2-10-schedule-approve?project_id=${projectId}&action=reject`;\n\nreturn [{ json: { text, approveUrl, rejectUrl, projectId, project_number: data.project_number } }];"},"id":"95b7b11b-c9fa-4a9e-a581-6eb4b88af99b","name":"Format Telegram Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,-288]},{"parameters":{"chatId":"6088921678","text":"={{ $json.text }}","additionalFields":{"parse_mode":"HTML"}},"id":"6575b103-9333-44e0-bc48-4501bc0909d6","name":"Send Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-592,-288],"webhookId":"e744ad40-063a-40f5-9314-b0a32e18fdd7","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE events SET processed_at = now() WHERE id = '{{ $('Parse Event Data').first().json.event_id }}'::uuid;","options":{}},"id":"b1e89502-0621-4571-bb8a-5d03c2b33497","name":"Mark Event Processed","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-368,-288],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT complete_workflow_step('m2_10:' || '{{ $('Parse Event Data').first().json.event_id }}');","options":{}},"id":"7b5b2189-c335-4755-9102-850a64634e0f","name":"Complete Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-144,-288],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{},"id":"c01e3fd5-67ca-4336-8020-4eb2b816b788","name":"Skip (Already Claimed)","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1024,-64]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'ok', workflow: 'M2_10_Schedule_Notification' }) }}","options":{}},"id":"f71c432a-9cc5-41da-8780-678670b6c285","name":"Response OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[80,-192]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Event Data","type":"main","index":0}]]},"Parse Event Data":{"main":[[{"node":"Claim Workflow Step","type":"main","index":0}]]},"Claim Workflow Step":{"main":[[{"node":"IF Claimed","type":"main","index":0}]]},"IF Claimed":{"main":[[{"node":"Load Schedule Data","type":"main","index":0}],[{"node":"Skip (Already Claimed)","type":"main","index":0}]]},"Load Schedule Data":{"main":[[{"node":"Format Telegram Message","type":"main","index":0}]]},"Format Telegram Message":{"main":[[{"node":"Send Telegram","type":"main","index":0}]]},"Send Telegram":{"main":[[{"node":"Mark Event Processed","type":"main","index":0}]]},"Mark Event Processed":{"main":[[{"node":"Complete Workflow Step","type":"main","index":0}]]},"Complete Workflow Step":{"main":[[{"node":"Response OK","type":"main","index":0}]]},"Skip (Already Claimed)":{"main":[[{"node":"Response OK","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version 64d8e01e","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-20T14:40:38.681Z","id":748,"workflowId":"DKR3TSn8J7sa01m3","versionId":"64d8e01e-ec62-4d1d-bf93-41c1e438ae74","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:24:45.183Z","id":840,"workflowId":"DKR3TSn8J7sa01m3","versionId":"64d8e01e-ec62-4d1d-bf93-41c1e438ae74","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:24:45.095Z","id":839,"workflowId":"DKR3TSn8J7sa01m3","versionId":"64d8e01e-ec62-4d1d-bf93-41c1e438ae74","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}