n8n-workflows/M2_10_Sub_Order_Generator.json
{"updatedAt":"2026-01-17T12:33:54.734Z","createdAt":"2026-01-17T12:14:16.599Z","id":"Kqp7EajcP0ZmJ-A1-PJUI","name":"M2_10_Sub_Order_Generator","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"sub-auftrag","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"df7e7d55-3f7c-4a9f-9e55-8df39788aeab","name":"Webhook","webhookId":"sub-auftrag"},{"parameters":{"operation":"executeQuery","query":"SELECT get_sub_auftrag_data(\n  '{{ $json.project_id }}'::uuid,\n  '{{ \"{\" + $json.position_ids.join(\",\") + \"}\" }}'::uuid[],\n  '{{ $json.supplier_id }}'::uuid,\n  '{{ $json.language || \"de\" }}'\n) as data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[208,0],"id":"bb483833-211b-44c7-84b4-b05f538db423","name":"Load Project Data","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const input = $input.first().json;\nconst webhookData = $('Webhook').first().json;\nconst data = input.data;\n\nif (!data || !data.project) {\n  throw new Error('Projekt nicht gefunden');\n}\n\nconst { project, supplier, sections } = data;\nconst language = webhookData.language || 'de';\nconst lumpSum = webhookData.lump_sum || '';\nconst dueDate = webhookData.due_date \n  ? new Date(webhookData.due_date).toLocaleDateString('de-DE') \n  : '';\n\nconst labels = {\n  de: {\n    title: 'SUBUNTERNEHMER-AUFTRAG',\n    date: 'Datum',\n    dueDate: 'Fertigstellung bis',\n    signature: 'Unterschrift Auftragnehmer',\n    note: 'Notizen',\n    qty: 'Menge',\n    project: 'Projekt',\n    address: 'Adresse',\n    contractor: 'Auftragnehmer',\n    lumpSum: 'Pauschale',\n    scope: 'Leistungsumfang'\n  },\n  tr: {\n    title: 'TAŞERON SİPARİŞİ',\n    date: 'Tarih',\n    dueDate: 'Teslim Tarihi',\n    signature: 'Yüklenici İmzası',\n    note: 'Notlar',\n    qty: 'Miktar',\n    project: 'Proje',\n    address: 'Adres',\n    contractor: 'Yüklenici',\n    lumpSum: 'Götürü Bedel',\n    scope: 'İş Kapsamı'\n  }\n};\n\nconst l = labels[language] || labels.de;\nconst today = new Date().toLocaleDateString('de-DE');\n\n// Projekt-Adresse zusammenbauen\nconst projectAddress = [project.street, `${project.zip_code} ${project.city}`].filter(Boolean).join(', ');\n\n// Supplier Block\nconst supplierAddress = supplier ? [supplier.street, `${supplier.zip_code} ${supplier.city}`].filter(Boolean).join(', ') : '';\nconst supplierHtml = supplier ? `\n  <div class=\"supplier-box\">\n    <div class=\"supplier-header\">${l.contractor}</div>\n    <div class=\"supplier-content\">\n      <strong>${supplier.name || ''}</strong><br>\n      ${supplierAddress ? supplierAddress + '<br>' : ''}\n      ${supplier.email ? '✉ ' + supplier.email + '<br>' : ''}\n      ${supplier.phone ? '☎ ' + supplier.phone : ''}\n    </div>\n  </div>\n` : '';\n\n// Lump Sum + Due Date Block\nconst termsHtml = (lumpSum || dueDate) ? `\n  <div class=\"terms-box\">\n    ${lumpSum ? `<div class=\"terms-row\"><span class=\"terms-label\">${l.lumpSum}:</span><span class=\"terms-value\">${lumpSum}</span></div>` : ''}\n    ${dueDate ? `<div class=\"terms-row\"><span class=\"terms-label\">${l.dueDate}:</span><span class=\"terms-value\">${dueDate}</span></div>` : ''}\n  </div>\n` : '';\n\n// Sections mit Positionen\nlet sectionsHtml = '';\nfor (const section of sections || []) {\n  if (!section.positions || section.positions.length === 0) continue;\n  \n  let positionsHtml = '';\n  for (const pos of section.positions) {\n    const qty = pos.quantity ? `${pos.quantity} ${pos.unit || 'Stk'}` : '-';\n    positionsHtml += `\n      <tr>\n        <td class=\"checkbox-cell\">☐</td>\n        <td class=\"title-cell\">${pos.title || pos.description || '-'}</td>\n        <td class=\"qty-cell\">${qty}</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td colspan=\"2\" class=\"note-cell\">${l.note}: <span class=\"note-line\"></span></td>\n      </tr>\n    `;\n  }\n  \n  sectionsHtml += `\n    <div class=\"section\">\n      <div class=\"section-header\">${(section.section_title || 'Allgemein').toUpperCase()}</div>\n      <table class=\"positions-table\">\n        ${positionsHtml}\n      </table>\n    </div>\n  `;\n}\n\nconst html = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    @page { margin: 15mm; size: A4; }\n    * { box-sizing: border-box; }\n    body { \n      font-family: 'Segoe UI', Arial, sans-serif; \n      font-size: 10pt; \n      line-height: 1.3; \n      color: #222;\n      margin: 0;\n      padding: 0;\n    }\n    .header {\n      background: linear-gradient(135deg, #1a365d 0%, #2c5282 100%);\n      color: white;\n      padding: 20px 25px;\n      margin: 0 0 20px 0;\n      border-radius: 6px;\n    }\n    .header h1 {\n      margin: 0 0 5px 0;\n      font-size: 20pt;\n      font-weight: 600;\n      letter-spacing: 1px;\n    }\n    .header-subtitle { font-size: 9pt; opacity: 0.9; }\n    .two-column {\n      display: flex;\n      gap: 15px;\n      margin-bottom: 20px;\n    }\n    .meta-box, .supplier-box {\n      flex: 1;\n      background: #f7fafc;\n      border: 1px solid #e2e8f0;\n      border-radius: 6px;\n      padding: 12px 15px;\n    }\n    .supplier-header {\n      font-weight: 600;\n      color: #2c5282;\n      margin-bottom: 8px;\n      font-size: 9pt;\n      text-transform: uppercase;\n    }\n    .supplier-content { font-size: 9pt; line-height: 1.5; }\n    .meta-row { display: flex; margin-bottom: 4px; }\n    .meta-row:last-child { margin-bottom: 0; }\n    .meta-label {\n      font-weight: 600;\n      color: #4a5568;\n      width: 70px;\n      flex-shrink: 0;\n      font-size: 9pt;\n    }\n    .meta-value { color: #1a202c; font-size: 9pt; }\n    .terms-box {\n      background: #edf2f7;\n      border: 2px solid #2c5282;\n      border-radius: 6px;\n      padding: 12px 15px;\n      margin-bottom: 20px;\n    }\n    .terms-row {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      padding: 4px 0;\n    }\n    .terms-label {\n      font-weight: 600;\n      color: #2c5282;\n      font-size: 11pt;\n    }\n    .terms-value {\n      font-weight: 700;\n      color: #1a365d;\n      font-size: 12pt;\n    }\n    .scope-header {\n      font-weight: 600;\n      color: #2c5282;\n      margin-bottom: 10px;\n      font-size: 11pt;\n    }\n    .section {\n      margin-bottom: 18px;\n      page-break-inside: avoid;\n    }\n    .section-header {\n      background: #2c5282;\n      color: white;\n      font-weight: 600;\n      font-size: 10pt;\n      padding: 8px 12px;\n      border-radius: 4px 4px 0 0;\n      letter-spacing: 0.5px;\n    }\n    .positions-table {\n      width: 100%;\n      border-collapse: collapse;\n      border: 1px solid #e2e8f0;\n      border-top: none;\n    }\n    .positions-table tr:nth-child(4n+1),\n    .positions-table tr:nth-child(4n+2) { background: #f7fafc; }\n    .checkbox-cell {\n      width: 35px;\n      text-align: center;\n      font-size: 14pt;\n      vertical-align: top;\n      padding: 10px 5px 5px 10px;\n      border-right: 1px solid #e2e8f0;\n    }\n    .title-cell {\n      padding: 10px 10px 5px 10px;\n      vertical-align: top;\n      line-height: 1.4;\n      font-size: 9pt;\n    }\n    .qty-cell {\n      width: 70px;\n      text-align: center;\n      padding: 10px 10px 5px 5px;\n      vertical-align: top;\n      font-weight: 500;\n      color: #4a5568;\n      border-left: 1px solid #e2e8f0;\n      font-size: 9pt;\n    }\n    .note-cell {\n      padding: 0 10px 12px 10px;\n      color: #718096;\n      font-size: 8pt;\n    }\n    .note-line {\n      display: inline-block;\n      width: calc(100% - 50px);\n      border-bottom: 1px solid #cbd5e0;\n      margin-left: 5px;\n      height: 12px;\n    }\n    .footer {\n      margin-top: 30px;\n      page-break-inside: avoid;\n    }\n    .signature-box {\n      border: 1px solid #e2e8f0;\n      border-radius: 6px;\n      padding: 15px 20px;\n      background: #f7fafc;\n    }\n    .signature-label {\n      font-size: 9pt;\n      color: #718096;\n      margin-bottom: 25px;\n    }\n    .signature-row {\n      display: flex;\n      justify-content: space-between;\n      gap: 40px;\n    }\n    .signature-field { flex: 1; }\n    .signature-line {\n      border-top: 1px solid #1a365d;\n      padding-top: 5px;\n      font-weight: 500;\n      font-size: 9pt;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>${l.title}</h1>\n    <div class=\"header-subtitle\">Deine Baulöwen</div>\n  </div>\n  \n  <div class=\"two-column\">\n    <div class=\"meta-box\">\n      <div class=\"meta-row\">\n        <div class=\"meta-label\">${l.project}:</div>\n        <div class=\"meta-value\"><strong>${project.name || 'Unbenannt'}</strong></div>\n      </div>\n      <div class=\"meta-row\">\n        <div class=\"meta-label\">${l.address}:</div>\n        <div class=\"meta-value\">${projectAddress || '-'}</div>\n      </div>\n      <div class=\"meta-row\">\n        <div class=\"meta-label\">${l.date}:</div>\n        <div class=\"meta-value\">${today}</div>\n      </div>\n    </div>\n    ${supplierHtml}\n  </div>\n  \n  ${termsHtml}\n  \n  <div class=\"scope-header\">${l.scope}</div>\n  ${sectionsHtml || '<p>Keine Positionen ausgewählt.</p>'}\n  \n  <div class=\"footer\">\n    <div class=\"signature-box\">\n      <div class=\"signature-label\">Auftrag angenommen und Bedingungen akzeptiert:</div>\n      <div class=\"signature-row\">\n        <div class=\"signature-field\">\n          <div class=\"signature-line\">${l.signature}</div>\n        </div>\n        <div class=\"signature-field\">\n          <div class=\"signature-line\">${l.date}</div>\n        </div>\n      </div>\n    </div>\n  </div>\n</body>\n</html>`;\n\nconst supplierCode = supplier?.short_name?.replace(/\\s/g, '') || 'SUB';\nconst filename = `${project.project_number || 'Auftrag'}_Sub_${supplierCode}_${language.toUpperCase()}.pdf`;\nconst storagePath = `projects/${webhookData.project_id}/sub_auftraege/${filename}`;\n\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(html, 'utf8'),\n  'index.html',\n  'text/html'\n);\n\nreturn {\n  json: {\n    filename,\n    storage_path: storagePath,\n    project_id: webhookData.project_id,\n    supplier_id: webhookData.supplier_id,\n    language\n  },\n  binary: {\n    data: binaryData\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,0],"id":"1f328f2f-82f9-4b80-98de-646f7679f936","name":"Build HTML"},{"parameters":{"method":"POST","url":"http://gotenberg:3000/forms/chromium/convert/html","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"files","inputDataFieldName":"=data"}]},"options":{"response":{"response":{"responseFormat":"file"}},"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[608,0],"id":"a57d8384-1935-47d6-9e3b-21ef2585b172","name":"Gotenberg PDF"},{"parameters":{"method":"POST","url":"=https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/project-files/{{ $('Build HTML').item.json.storage_path }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,0],"id":"b2248c53-e48c-4960-b2a7-5d963f71a0c7","name":"Upload to Supabase Storage","credentials":{"httpHeaderAuth":{"id":"PmuDiYzfBjPqDSFV","name":"Supabase Service Key"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO project_files (\n  project_id,\n  file_type,\n  file_name,\n  mime_type,\n  storage_bucket,\n  storage_path\n) VALUES (\n  '{{ $('Build HTML').item.json.project_id }}'::uuid,\n  'SUB_AUFTRAG',\n  '{{ $('Build HTML').item.json.filename }}',\n  'application/pdf',\n  'project-files',\n  '{{ $json.Key }}'\n)\nON CONFLICT (project_id, file_type, file_name) DO UPDATE SET\n  storage_path = EXCLUDED.storage_path,\n  created_at = now()\nRETURNING id, storage_path;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1008,0],"id":"cb5db1f2-cc42-4e03-ae2a-035a53b3f4af","name":"Insert DB Reference","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"file_id\": \"{{ $json.id }}\",\n  \"storage_path\": \"{{ $json.storage_path }}\",\n  \"download_url\": \"https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/public/project-files/{{ $json.storage_path }}\",\n  \"filename\": \"{{ $('Build HTML').item.json.filename }}\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1200,0],"id":"8c8e2041-ec90-4252-82e0-1175b15258fd","name":"Respond Success"}],"connections":{"Webhook":{"main":[[{"node":"Load Project Data","type":"main","index":0}]]},"Load Project Data":{"main":[[{"node":"Build HTML","type":"main","index":0}]]},"Build HTML":{"main":[[{"node":"Gotenberg PDF","type":"main","index":0}]]},"Gotenberg PDF":{"main":[[{"node":"Upload to Supabase Storage","type":"main","index":0}]]},"Upload to Supabase Storage":{"main":[[{"node":"Insert DB Reference","type":"main","index":0}]]},"Insert DB Reference":{"main":[[{"node":"Respond Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"apmJoMCbOchwfqTp"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"project_id":"641bc6fd-4cf5-4f75-8130-60826a3c9c9a","position_ids":["238be788-750e-4f9a-ac86-4b81d8da2e7e","ed28ae69-65a4-4510-97fc-72677430642d"],"supplier_id":"b1000006-0000-0000-0000-000000000003","language":"de","lump_sum":"2.500 € pauschal","due_date":"2026-02-15"}}]},"versionId":"9ffb6028-20a7-401d-9ab9-1cfb487be38f","activeVersionId":"9ffb6028-20a7-401d-9ab9-1cfb487be38f","versionCounter":23,"triggerCount":1,"shared":[{"updatedAt":"2026-01-17T12:14:16.614Z","createdAt":"2026-01-17T12:14:16.614Z","role":"workflow:owner","workflowId":"Kqp7EajcP0ZmJ-A1-PJUI","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-17T12:33:35.000Z","createdAt":"2026-01-17T12:27:55.899Z","versionId":"9ffb6028-20a7-401d-9ab9-1cfb487be38f","workflowId":"Kqp7EajcP0ZmJ-A1-PJUI","nodes":[{"parameters":{"httpMethod":"POST","path":"sub-auftrag","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"df7e7d55-3f7c-4a9f-9e55-8df39788aeab","name":"Webhook","webhookId":"sub-auftrag"},{"parameters":{"operation":"executeQuery","query":"SELECT get_sub_auftrag_data(\n  '{{ $json.project_id }}'::uuid,\n  '{{ \"{\" + $json.position_ids.join(\",\") + \"}\" }}'::uuid[],\n  '{{ $json.supplier_id }}'::uuid,\n  '{{ $json.language || \"de\" }}'\n) as data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[208,0],"id":"bb483833-211b-44c7-84b4-b05f538db423","name":"Load Project Data","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const input = $input.first().json;\nconst webhookData = $('Webhook').first().json;\nconst data = input.data;\n\nif (!data || !data.project) {\n  throw new Error('Projekt nicht gefunden');\n}\n\nconst { project, supplier, sections } = data;\nconst language = webhookData.language || 'de';\nconst lumpSum = webhookData.lump_sum || '';\nconst dueDate = webhookData.due_date \n  ? new Date(webhookData.due_date).toLocaleDateString('de-DE') \n  : '';\n\nconst labels = {\n  de: {\n    title: 'SUBUNTERNEHMER-AUFTRAG',\n    date: 'Datum',\n    dueDate: 'Fertigstellung bis',\n    signature: 'Unterschrift Auftragnehmer',\n    note: 'Notizen',\n    qty: 'Menge',\n    project: 'Projekt',\n    address: 'Adresse',\n    contractor: 'Auftragnehmer',\n    lumpSum: 'Pauschale',\n    scope: 'Leistungsumfang'\n  },\n  tr: {\n    title: 'TAŞERON SİPARİŞİ',\n    date: 'Tarih',\n    dueDate: 'Teslim Tarihi',\n    signature: 'Yüklenici İmzası',\n    note: 'Notlar',\n    qty: 'Miktar',\n    project: 'Proje',\n    address: 'Adres',\n    contractor: 'Yüklenici',\n    lumpSum: 'Götürü Bedel',\n    scope: 'İş Kapsamı'\n  }\n};\n\nconst l = labels[language] || labels.de;\nconst today = new Date().toLocaleDateString('de-DE');\n\n// Projekt-Adresse zusammenbauen\nconst projectAddress = [project.street, `${project.zip_code} ${project.city}`].filter(Boolean).join(', ');\n\n// Supplier Block\nconst supplierAddress = supplier ? [supplier.street, `${supplier.zip_code} ${supplier.city}`].filter(Boolean).join(', ') : '';\nconst supplierHtml = supplier ? `\n  <div class=\"supplier-box\">\n    <div class=\"supplier-header\">${l.contractor}</div>\n    <div class=\"supplier-content\">\n      <strong>${supplier.name || ''}</strong><br>\n      ${supplierAddress ? supplierAddress + '<br>' : ''}\n      ${supplier.email ? '✉ ' + supplier.email + '<br>' : ''}\n      ${supplier.phone ? '☎ ' + supplier.phone : ''}\n    </div>\n  </div>\n` : '';\n\n// Lump Sum + Due Date Block\nconst termsHtml = (lumpSum || dueDate) ? `\n  <div class=\"terms-box\">\n    ${lumpSum ? `<div class=\"terms-row\"><span class=\"terms-label\">${l.lumpSum}:</span><span class=\"terms-value\">${lumpSum}</span></div>` : ''}\n    ${dueDate ? `<div class=\"terms-row\"><span class=\"terms-label\">${l.dueDate}:</span><span class=\"terms-value\">${dueDate}</span></div>` : ''}\n  </div>\n` : '';\n\n// Sections mit Positionen\nlet sectionsHtml = '';\nfor (const section of sections || []) {\n  if (!section.positions || section.positions.length === 0) continue;\n  \n  let positionsHtml = '';\n  for (const pos of section.positions) {\n    const qty = pos.quantity ? `${pos.quantity} ${pos.unit || 'Stk'}` : '-';\n    positionsHtml += `\n      <tr>\n        <td class=\"checkbox-cell\">☐</td>\n        <td class=\"title-cell\">${pos.title || pos.description || '-'}</td>\n        <td class=\"qty-cell\">${qty}</td>\n      </tr>\n      <tr>\n        <td></td>\n        <td colspan=\"2\" class=\"note-cell\">${l.note}: <span class=\"note-line\"></span></td>\n      </tr>\n    `;\n  }\n  \n  sectionsHtml += `\n    <div class=\"section\">\n      <div class=\"section-header\">${(section.section_title || 'Allgemein').toUpperCase()}</div>\n      <table class=\"positions-table\">\n        ${positionsHtml}\n      </table>\n    </div>\n  `;\n}\n\nconst html = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    @page { margin: 15mm; size: A4; }\n    * { box-sizing: border-box; }\n    body { \n      font-family: 'Segoe UI', Arial, sans-serif; \n      font-size: 10pt; \n      line-height: 1.3; \n      color: #222;\n      margin: 0;\n      padding: 0;\n    }\n    .header {\n      background: linear-gradient(135deg, #1a365d 0%, #2c5282 100%);\n      color: white;\n      padding: 20px 25px;\n      margin: 0 0 20px 0;\n      border-radius: 6px;\n    }\n    .header h1 {\n      margin: 0 0 5px 0;\n      font-size: 20pt;\n      font-weight: 600;\n      letter-spacing: 1px;\n    }\n    .header-subtitle { font-size: 9pt; opacity: 0.9; }\n    .two-column {\n      display: flex;\n      gap: 15px;\n      margin-bottom: 20px;\n    }\n    .meta-box, .supplier-box {\n      flex: 1;\n      background: #f7fafc;\n      border: 1px solid #e2e8f0;\n      border-radius: 6px;\n      padding: 12px 15px;\n    }\n    .supplier-header {\n      font-weight: 600;\n      color: #2c5282;\n      margin-bottom: 8px;\n      font-size: 9pt;\n      text-transform: uppercase;\n    }\n    .supplier-content { font-size: 9pt; line-height: 1.5; }\n    .meta-row { display: flex; margin-bottom: 4px; }\n    .meta-row:last-child { margin-bottom: 0; }\n    .meta-label {\n      font-weight: 600;\n      color: #4a5568;\n      width: 70px;\n      flex-shrink: 0;\n      font-size: 9pt;\n    }\n    .meta-value { color: #1a202c; font-size: 9pt; }\n    .terms-box {\n      background: #edf2f7;\n      border: 2px solid #2c5282;\n      border-radius: 6px;\n      padding: 12px 15px;\n      margin-bottom: 20px;\n    }\n    .terms-row {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      padding: 4px 0;\n    }\n    .terms-label {\n      font-weight: 600;\n      color: #2c5282;\n      font-size: 11pt;\n    }\n    .terms-value {\n      font-weight: 700;\n      color: #1a365d;\n      font-size: 12pt;\n    }\n    .scope-header {\n      font-weight: 600;\n      color: #2c5282;\n      margin-bottom: 10px;\n      font-size: 11pt;\n    }\n    .section {\n      margin-bottom: 18px;\n      page-break-inside: avoid;\n    }\n    .section-header {\n      background: #2c5282;\n      color: white;\n      font-weight: 600;\n      font-size: 10pt;\n      padding: 8px 12px;\n      border-radius: 4px 4px 0 0;\n      letter-spacing: 0.5px;\n    }\n    .positions-table {\n      width: 100%;\n      border-collapse: collapse;\n      border: 1px solid #e2e8f0;\n      border-top: none;\n    }\n    .positions-table tr:nth-child(4n+1),\n    .positions-table tr:nth-child(4n+2) { background: #f7fafc; }\n    .checkbox-cell {\n      width: 35px;\n      text-align: center;\n      font-size: 14pt;\n      vertical-align: top;\n      padding: 10px 5px 5px 10px;\n      border-right: 1px solid #e2e8f0;\n    }\n    .title-cell {\n      padding: 10px 10px 5px 10px;\n      vertical-align: top;\n      line-height: 1.4;\n      font-size: 9pt;\n    }\n    .qty-cell {\n      width: 70px;\n      text-align: center;\n      padding: 10px 10px 5px 5px;\n      vertical-align: top;\n      font-weight: 500;\n      color: #4a5568;\n      border-left: 1px solid #e2e8f0;\n      font-size: 9pt;\n    }\n    .note-cell {\n      padding: 0 10px 12px 10px;\n      color: #718096;\n      font-size: 8pt;\n    }\n    .note-line {\n      display: inline-block;\n      width: calc(100% - 50px);\n      border-bottom: 1px solid #cbd5e0;\n      margin-left: 5px;\n      height: 12px;\n    }\n    .footer {\n      margin-top: 30px;\n      page-break-inside: avoid;\n    }\n    .signature-box {\n      border: 1px solid #e2e8f0;\n      border-radius: 6px;\n      padding: 15px 20px;\n      background: #f7fafc;\n    }\n    .signature-label {\n      font-size: 9pt;\n      color: #718096;\n      margin-bottom: 25px;\n    }\n    .signature-row {\n      display: flex;\n      justify-content: space-between;\n      gap: 40px;\n    }\n    .signature-field { flex: 1; }\n    .signature-line {\n      border-top: 1px solid #1a365d;\n      padding-top: 5px;\n      font-weight: 500;\n      font-size: 9pt;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>${l.title}</h1>\n    <div class=\"header-subtitle\">Deine Baulöwen</div>\n  </div>\n  \n  <div class=\"two-column\">\n    <div class=\"meta-box\">\n      <div class=\"meta-row\">\n        <div class=\"meta-label\">${l.project}:</div>\n        <div class=\"meta-value\"><strong>${project.name || 'Unbenannt'}</strong></div>\n      </div>\n      <div class=\"meta-row\">\n        <div class=\"meta-label\">${l.address}:</div>\n        <div class=\"meta-value\">${projectAddress || '-'}</div>\n      </div>\n      <div class=\"meta-row\">\n        <div class=\"meta-label\">${l.date}:</div>\n        <div class=\"meta-value\">${today}</div>\n      </div>\n    </div>\n    ${supplierHtml}\n  </div>\n  \n  ${termsHtml}\n  \n  <div class=\"scope-header\">${l.scope}</div>\n  ${sectionsHtml || '<p>Keine Positionen ausgewählt.</p>'}\n  \n  <div class=\"footer\">\n    <div class=\"signature-box\">\n      <div class=\"signature-label\">Auftrag angenommen und Bedingungen akzeptiert:</div>\n      <div class=\"signature-row\">\n        <div class=\"signature-field\">\n          <div class=\"signature-line\">${l.signature}</div>\n        </div>\n        <div class=\"signature-field\">\n          <div class=\"signature-line\">${l.date}</div>\n        </div>\n      </div>\n    </div>\n  </div>\n</body>\n</html>`;\n\nconst supplierCode = supplier?.short_name?.replace(/\\s/g, '') || 'SUB';\nconst filename = `${project.project_number || 'Auftrag'}_Sub_${supplierCode}_${language.toUpperCase()}.pdf`;\nconst storagePath = `projects/${webhookData.project_id}/sub_auftraege/${filename}`;\n\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(html, 'utf8'),\n  'index.html',\n  'text/html'\n);\n\nreturn {\n  json: {\n    filename,\n    storage_path: storagePath,\n    project_id: webhookData.project_id,\n    supplier_id: webhookData.supplier_id,\n    language\n  },\n  binary: {\n    data: binaryData\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,0],"id":"1f328f2f-82f9-4b80-98de-646f7679f936","name":"Build HTML"},{"parameters":{"method":"POST","url":"http://gotenberg:3000/forms/chromium/convert/html","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"files","inputDataFieldName":"=data"}]},"options":{"response":{"response":{"responseFormat":"file"}},"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[608,0],"id":"a57d8384-1935-47d6-9e3b-21ef2585b172","name":"Gotenberg PDF"},{"parameters":{"method":"POST","url":"=https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/project-files/{{ $('Build HTML').item.json.storage_path }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,0],"id":"b2248c53-e48c-4960-b2a7-5d963f71a0c7","name":"Upload to Supabase Storage","credentials":{"httpHeaderAuth":{"id":"PmuDiYzfBjPqDSFV","name":"Supabase Service Key"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO project_files (\n  project_id,\n  file_type,\n  file_name,\n  mime_type,\n  storage_bucket,\n  storage_path\n) VALUES (\n  '{{ $('Build HTML').item.json.project_id }}'::uuid,\n  'SUB_AUFTRAG',\n  '{{ $('Build HTML').item.json.filename }}',\n  'application/pdf',\n  'project-files',\n  '{{ $json.Key }}'\n)\nON CONFLICT (project_id, file_type, file_name) DO UPDATE SET\n  storage_path = EXCLUDED.storage_path,\n  created_at = now()\nRETURNING id, storage_path;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1008,0],"id":"cb5db1f2-cc42-4e03-ae2a-035a53b3f4af","name":"Insert DB Reference","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"file_id\": \"{{ $json.id }}\",\n  \"storage_path\": \"{{ $json.storage_path }}\",\n  \"download_url\": \"https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/public/project-files/{{ $json.storage_path }}\",\n  \"filename\": \"{{ $('Build HTML').item.json.filename }}\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1200,0],"id":"8c8e2041-ec90-4252-82e0-1175b15258fd","name":"Respond Success"}],"connections":{"Webhook":{"main":[[{"node":"Load Project Data","type":"main","index":0}]]},"Load Project Data":{"main":[[{"node":"Build HTML","type":"main","index":0}]]},"Build HTML":{"main":[[{"node":"Gotenberg PDF","type":"main","index":0}]]},"Gotenberg PDF":{"main":[[{"node":"Upload to Supabase Storage","type":"main","index":0}]]},"Upload to Supabase Storage":{"main":[[{"node":"Insert DB Reference","type":"main","index":0}]]},"Insert DB Reference":{"main":[[{"node":"Respond Success","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version 9ffb6028","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-01-17T12:33:35.194Z","id":305,"workflowId":"Kqp7EajcP0ZmJ-A1-PJUI","versionId":"9ffb6028-20a7-401d-9ab9-1cfb487be38f","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-01-17T12:33:42.509Z","id":306,"workflowId":"Kqp7EajcP0ZmJ-A1-PJUI","versionId":"9ffb6028-20a7-401d-9ab9-1cfb487be38f","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-01-17T12:33:54.809Z","id":307,"workflowId":"Kqp7EajcP0ZmJ-A1-PJUI","versionId":"9ffb6028-20a7-401d-9ab9-1cfb487be38f","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}