n8n-workflows/M2_10a_Schedule_Approve.json
{"updatedAt":"2026-02-27T23:24:42.858Z","createdAt":"2026-02-19T19:53:31.731Z","id":"t3HR7lIWYUjx52F2","name":"M2_10a_Schedule_Approve","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"path":"m2-10-schedule-approve","options":{}},"id":"b9269946-566c-46ce-b572-420f8c1e77b0","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1360,-80],"webhookId":"m2-10-schedule-approve"},{"parameters":{"jsCode":"const query = $input.first().json.query || {};\nconst project_id = query.project_id || '';\nconst action = query.action || 'unknown';\n\nreturn [{ json: { project_id, action } }];"},"id":"55231c8c-74bd-4cb9-b5bf-5dda655c0bec","name":"Parse Query Params","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1152,-80]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"action-check","leftValue":"={{ $json.action }}","rightValue":"approve","operator":{"type":"string","operation":"equals"}}]},"options":{}},"id":"f4a151c7-c1c8-4693-9ed6-2dc45f268ba0","name":"IF Approve","type":"n8n-nodes-base.if","typeVersion":2,"position":[-928,-80]},{"parameters":{"operation":"executeQuery","query":"SELECT approve_project_schedule('{{ $('Parse Query Params').first().json.project_id }}'::uuid) AS result;","options":{}},"id":"8602889d-22cd-4ae8-94fb-41f71ce9bfb0","name":"Approve Schedule","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-704,-176],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const result = $input.first().json.result;\nconst parsed = typeof result === 'string' ? JSON.parse(result) : result;\nconst projectId = $('Parse Query Params').first().json.project_id;\n\nlet text;\nif (parsed && parsed.success) {\n  text = `✅ Zeitplan genehmigt!\\n\\nProjekt ist jetzt IN_PROGRESS.\\n${parsed.assignments_created || 0} Team-Zuweisungen erstellt.`;\n} else {\n  text = `⚠️ Zeitplan konnte nicht genehmigt werden.\\n\\nGrund: ${parsed?.error || 'Unbekannt'}`;\n}\n\nreturn [{ json: { text, projectId, success: parsed?.success } }];"},"id":"bcbc9cc2-7a31-400a-9e08-980260598bdf","name":"Format Approve Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,-176]},{"parameters":{"chatId":"6088921678","text":"={{ $json.text }}","additionalFields":{"parse_mode":"HTML"}},"id":"eb0921aa-d375-4593-b488-f617ee724f1e","name":"Telegram Approve Notification","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-272,-176],"webhookId":"5d51098c-9198-43d8-8ca0-ee4e00024bfc","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (event_type, project_id, payload, source_system, source_flow)\nVALUES (\n  'SCHEDULE_APPROVED',\n  '{{ $('Parse Query Params').first().json.project_id }}'::uuid,\n  '{}'::jsonb,\n  'n8n',\n  'M2_10_Schedule_Approve'\n)\nRETURNING id;","options":{}},"id":"9e304656-b732-4c56-8bd7-3b63de3aad52","name":"Fire SCHEDULE_APPROVED Event","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-48,-176],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"chatId":"6088921678","text":"❌ Zeitplan wurde abgelehnt.\n\nBitte den Zeitplan manuell überprüfen und anpassen.","additionalFields":{"parse_mode":"HTML"}},"id":"d26d4ce4-d5f8-4d71-9d93-1ed918ea5ab9","name":"Telegram Reject Notification","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-704,48],"webhookId":"4e1df2c9-ea05-42cf-b450-4e1133da43e7","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"respondWith":"text","responseBody":"=Zeitplan {{ $('Parse Query Params').first().json.action === 'approve' ? 'genehmigt ✅' : 'abgelehnt ❌' }}. Du kannst dieses Fenster schließen.","options":{}},"id":"e8d81acc-83a7-40bc-b3c1-57694f967f73","name":"Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[176,-80]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Query Params","type":"main","index":0}]]},"Parse Query Params":{"main":[[{"node":"IF Approve","type":"main","index":0}]]},"IF Approve":{"main":[[{"node":"Approve Schedule","type":"main","index":0}],[{"node":"Telegram Reject Notification","type":"main","index":0}]]},"Approve Schedule":{"main":[[{"node":"Format Approve Message","type":"main","index":0}]]},"Format Approve Message":{"main":[[{"node":"Telegram Approve Notification","type":"main","index":0}]]},"Telegram Approve Notification":{"main":[[{"node":"Fire SCHEDULE_APPROVED Event","type":"main","index":0}]]},"Fire SCHEDULE_APPROVED Event":{"main":[[{"node":"Response","type":"main","index":0}]]},"Telegram Reject Notification":{"main":[[{"node":"Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true,"timeSavedMode":"fixed","errorWorkflow":"apmJoMCbOchwfqTp","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"20a3e8bf-80fd-4e5a-83be-f3628917c8c6","activeVersionId":"20a3e8bf-80fd-4e5a-83be-f3628917c8c6","versionCounter":65,"triggerCount":1,"shared":[{"updatedAt":"2026-02-19T19:53:31.734Z","createdAt":"2026-02-19T19:53:31.734Z","role":"workflow:owner","workflowId":"t3HR7lIWYUjx52F2","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-20T14:29:41.000Z","createdAt":"2026-02-20T14:29:39.535Z","versionId":"20a3e8bf-80fd-4e5a-83be-f3628917c8c6","workflowId":"t3HR7lIWYUjx52F2","nodes":[{"parameters":{"path":"m2-10-schedule-approve","options":{}},"id":"b9269946-566c-46ce-b572-420f8c1e77b0","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1360,-80],"webhookId":"m2-10-schedule-approve"},{"parameters":{"jsCode":"const query = $input.first().json.query || {};\nconst project_id = query.project_id || '';\nconst action = query.action || 'unknown';\n\nreturn [{ json: { project_id, action } }];"},"id":"55231c8c-74bd-4cb9-b5bf-5dda655c0bec","name":"Parse Query Params","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1152,-80]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"action-check","leftValue":"={{ $json.action }}","rightValue":"approve","operator":{"type":"string","operation":"equals"}}]},"options":{}},"id":"f4a151c7-c1c8-4693-9ed6-2dc45f268ba0","name":"IF Approve","type":"n8n-nodes-base.if","typeVersion":2,"position":[-928,-80]},{"parameters":{"operation":"executeQuery","query":"SELECT approve_project_schedule('{{ $('Parse Query Params').first().json.project_id }}'::uuid) AS result;","options":{}},"id":"8602889d-22cd-4ae8-94fb-41f71ce9bfb0","name":"Approve Schedule","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-704,-176],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const result = $input.first().json.result;\nconst parsed = typeof result === 'string' ? JSON.parse(result) : result;\nconst projectId = $('Parse Query Params').first().json.project_id;\n\nlet text;\nif (parsed && parsed.success) {\n  text = `✅ Zeitplan genehmigt!\\n\\nProjekt ist jetzt IN_PROGRESS.\\n${parsed.assignments_created || 0} Team-Zuweisungen erstellt.`;\n} else {\n  text = `⚠️ Zeitplan konnte nicht genehmigt werden.\\n\\nGrund: ${parsed?.error || 'Unbekannt'}`;\n}\n\nreturn [{ json: { text, projectId, success: parsed?.success } }];"},"id":"bcbc9cc2-7a31-400a-9e08-980260598bdf","name":"Format Approve Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,-176]},{"parameters":{"chatId":"6088921678","text":"={{ $json.text }}","additionalFields":{"parse_mode":"HTML"}},"id":"eb0921aa-d375-4593-b488-f617ee724f1e","name":"Telegram Approve Notification","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-272,-176],"webhookId":"5d51098c-9198-43d8-8ca0-ee4e00024bfc","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (event_type, project_id, payload, source_system, source_flow)\nVALUES (\n  'SCHEDULE_APPROVED',\n  '{{ $('Parse Query Params').first().json.project_id }}'::uuid,\n  '{}'::jsonb,\n  'n8n',\n  'M2_10_Schedule_Approve'\n)\nRETURNING id;","options":{}},"id":"9e304656-b732-4c56-8bd7-3b63de3aad52","name":"Fire SCHEDULE_APPROVED Event","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-48,-176],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"chatId":"6088921678","text":"❌ Zeitplan wurde abgelehnt.\n\nBitte den Zeitplan manuell überprüfen und anpassen.","additionalFields":{"parse_mode":"HTML"}},"id":"d26d4ce4-d5f8-4d71-9d93-1ed918ea5ab9","name":"Telegram Reject Notification","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-704,48],"webhookId":"4e1df2c9-ea05-42cf-b450-4e1133da43e7","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"respondWith":"text","responseBody":"=Zeitplan {{ $('Parse Query Params').first().json.action === 'approve' ? 'genehmigt ✅' : 'abgelehnt ❌' }}. Du kannst dieses Fenster schließen.","options":{}},"id":"e8d81acc-83a7-40bc-b3c1-57694f967f73","name":"Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[176,-80]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Query Params","type":"main","index":0}]]},"Parse Query Params":{"main":[[{"node":"IF Approve","type":"main","index":0}]]},"IF Approve":{"main":[[{"node":"Approve Schedule","type":"main","index":0}],[{"node":"Telegram Reject Notification","type":"main","index":0}]]},"Approve Schedule":{"main":[[{"node":"Format Approve Message","type":"main","index":0}]]},"Format Approve Message":{"main":[[{"node":"Telegram Approve Notification","type":"main","index":0}]]},"Telegram Approve Notification":{"main":[[{"node":"Fire SCHEDULE_APPROVED Event","type":"main","index":0}]]},"Fire SCHEDULE_APPROVED Event":{"main":[[{"node":"Response","type":"main","index":0}]]},"Telegram Reject Notification":{"main":[[{"node":"Response","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version 20a3e8bf","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-20T14:29:41.906Z","id":710,"workflowId":"t3HR7lIWYUjx52F2","versionId":"20a3e8bf-80fd-4e5a-83be-f3628917c8c6","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-20T14:29:49.403Z","id":712,"workflowId":"t3HR7lIWYUjx52F2","versionId":"20a3e8bf-80fd-4e5a-83be-f3628917c8c6","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-20T14:30:55.691Z","id":720,"workflowId":"t3HR7lIWYUjx52F2","versionId":"20a3e8bf-80fd-4e5a-83be-f3628917c8c6","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-20T14:31:05.821Z","id":724,"workflowId":"t3HR7lIWYUjx52F2","versionId":"20a3e8bf-80fd-4e5a-83be-f3628917c8c6","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:24:42.889Z","id":838,"workflowId":"t3HR7lIWYUjx52F2","versionId":"20a3e8bf-80fd-4e5a-83be-f3628917c8c6","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-20T14:29:49.386Z","id":711,"workflowId":"t3HR7lIWYUjx52F2","versionId":"20a3e8bf-80fd-4e5a-83be-f3628917c8c6","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-20T14:30:55.668Z","id":719,"workflowId":"t3HR7lIWYUjx52F2","versionId":"20a3e8bf-80fd-4e5a-83be-f3628917c8c6","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-20T14:31:05.804Z","id":723,"workflowId":"t3HR7lIWYUjx52F2","versionId":"20a3e8bf-80fd-4e5a-83be-f3628917c8c6","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:24:42.880Z","id":837,"workflowId":"t3HR7lIWYUjx52F2","versionId":"20a3e8bf-80fd-4e5a-83be-f3628917c8c6","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}