n8n-workflows/M4_03a_Order_Approve.json
{"updatedAt":"2026-02-27T23:24:58.207Z","createdAt":"2026-02-19T19:51:32.801Z","id":"INJkwNIVjAn8TKox","name":"M4_03a_Order_Approve","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"path":"m4-03-order-approve","options":{}},"id":"272acde4-b106-4262-86c8-69e013f2a4d5","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1408,-176],"webhookId":"m4-03-order-approve"},{"parameters":{"jsCode":"const query = $input.first().json.query || {};\nconst project_id = query.project_id || '';\nconst action = query.action || 'unknown';\n\nreturn [{ json: { project_id, action } }];"},"id":"c1d8a40a-75bb-4c50-8739-a02863f6842e","name":"Parse Query Params","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1200,-176]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"action-check","leftValue":"={{ $json.action }}","rightValue":"approve","operator":{"type":"string","operation":"equals"}}]},"options":{}},"id":"01984aea-184f-4410-b3da-faec6bc5d448","name":"IF Approve","type":"n8n-nodes-base.if","typeVersion":2,"position":[-976,-176]},{"parameters":{"operation":"executeQuery","query":"SELECT suggest_purchase_orders('{{ $('Parse Query Params').first().json.project_id }}'::uuid) AS result;","options":{}},"id":"04389b66-83c6-44f8-bb0d-55253f77992f","name":"Get Order Suggestions","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-752,-272],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const result = $input.first().json.result;\nconst parsed = typeof result === 'string' ? JSON.parse(result) : result;\nconst projectId = $('Parse Query Params').first().json.project_id;\n\nif (!parsed || !parsed.success || !parsed.suggestions || parsed.suggestions.length === 0) {\n  return [{ json: { text: '⚠️ Keine offenen Materialien zum Bestellen.', projectId, ordersCreated: 0 } }];\n}\n\n// For now, we don't auto-create POs. Just mark them as ready.\n// The actual PO creation needs supplier grouping which requires more logic.\nconst suggestions = parsed.suggestions;\nlet totalItems = 0;\nlet totalValue = 0;\n\nlet lines = [];\nlines.push('✅ <b>Bestellung genehmigt!</b>');\nlines.push('');\n\nfor (const s of suggestions) {\n  lines.push(`<b>${s.trade}</b>: ${s.item_count} Materialien`);\n  totalItems += Number(s.item_count);\n  totalValue += Number(s.est_total_value || 0);\n}\n\nlines.push('');\nlines.push(`Gesamt: ${totalItems} Materialien (~€${totalValue.toFixed(0)})`);\nlines.push('');\nlines.push('Bestellungen können jetzt in der App erstellt werden.');\n\nreturn [{ json: { text: lines.join('\\n'), projectId, ordersCreated: 0, totalItems, totalValue } }];"},"id":"21bfab40-366e-4008-827b-6fa8333ed489","name":"Process Approval","type":"n8n-nodes-base.code","typeVersion":2,"position":[-528,-272]},{"parameters":{"chatId":"6088921678","text":"={{ $json.text }}","additionalFields":{"parse_mode":"HTML"}},"id":"086a8298-e52f-49ed-a4ca-5f40d5d3299d","name":"Telegram Approve Notification","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-320,-272],"webhookId":"7c0b4ef6-05ea-422d-8d6c-fee4ed846cb5","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (event_type, project_id, payload, source_system, source_flow)\nVALUES (\n  'MATERIALS_ORDER_APPROVED',\n  '{{ $('Parse Query Params').first().json.project_id }}'::uuid,\n  '{}'::jsonb,\n  'n8n',\n  'M4_03_Order_Approve'\n)\nRETURNING id;","options":{}},"id":"3251612a-2529-4035-9afd-8fb873b27593","name":"Fire ORDER_APPROVED Event","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-96,-272],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"chatId":"6088921678","text":"❌ Bestellvorschlag wurde abgelehnt.\n\nMaterialien bleiben offen.","additionalFields":{"parse_mode":"HTML"}},"id":"26c9f6e0-4ce4-4227-9c61-ada32f1dec19","name":"Telegram Reject Notification","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-752,-32],"webhookId":"c01055a6-ccca-4103-a071-407341585c28","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"respondWith":"text","responseBody":"=Bestellung {{ $('Parse Query Params').first().json.action === 'approve' ? 'genehmigt ✅' : 'abgelehnt ❌' }}. Du kannst dieses Fenster schließen.","options":{}},"id":"a2a18a66-7945-4eaf-91d8-d5894d9aa941","name":"Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[128,-176]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Query Params","type":"main","index":0}]]},"Parse Query Params":{"main":[[{"node":"IF Approve","type":"main","index":0}]]},"IF Approve":{"main":[[{"node":"Get Order Suggestions","type":"main","index":0}],[{"node":"Telegram Reject Notification","type":"main","index":0}]]},"Get Order Suggestions":{"main":[[{"node":"Process Approval","type":"main","index":0}]]},"Process Approval":{"main":[[{"node":"Telegram Approve Notification","type":"main","index":0}]]},"Telegram Approve Notification":{"main":[[{"node":"Fire ORDER_APPROVED Event","type":"main","index":0}]]},"Fire ORDER_APPROVED Event":{"main":[[{"node":"Response","type":"main","index":0}]]},"Telegram Reject Notification":{"main":[[{"node":"Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true,"timeSavedMode":"fixed","errorWorkflow":"apmJoMCbOchwfqTp","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3e4c628d-19cc-4c71-88df-2d5334875ac2","activeVersionId":"3e4c628d-19cc-4c71-88df-2d5334875ac2","versionCounter":66,"triggerCount":1,"shared":[{"updatedAt":"2026-02-19T19:51:32.805Z","createdAt":"2026-02-19T19:51:32.805Z","role":"workflow:owner","workflowId":"INJkwNIVjAn8TKox","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-23T14:12:08.000Z","createdAt":"2026-02-20T14:39:29.652Z","versionId":"3e4c628d-19cc-4c71-88df-2d5334875ac2","workflowId":"INJkwNIVjAn8TKox","nodes":[{"parameters":{"path":"m4-03-order-approve","options":{}},"id":"272acde4-b106-4262-86c8-69e013f2a4d5","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1408,-176],"webhookId":"m4-03-order-approve"},{"parameters":{"jsCode":"const query = $input.first().json.query || {};\nconst project_id = query.project_id || '';\nconst action = query.action || 'unknown';\n\nreturn [{ json: { project_id, action } }];"},"id":"c1d8a40a-75bb-4c50-8739-a02863f6842e","name":"Parse Query Params","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1200,-176]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"action-check","leftValue":"={{ $json.action }}","rightValue":"approve","operator":{"type":"string","operation":"equals"}}]},"options":{}},"id":"01984aea-184f-4410-b3da-faec6bc5d448","name":"IF Approve","type":"n8n-nodes-base.if","typeVersion":2,"position":[-976,-176]},{"parameters":{"operation":"executeQuery","query":"SELECT suggest_purchase_orders('{{ $('Parse Query Params').first().json.project_id }}'::uuid) AS result;","options":{}},"id":"04389b66-83c6-44f8-bb0d-55253f77992f","name":"Get Order Suggestions","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-752,-272],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const result = $input.first().json.result;\nconst parsed = typeof result === 'string' ? JSON.parse(result) : result;\nconst projectId = $('Parse Query Params').first().json.project_id;\n\nif (!parsed || !parsed.success || !parsed.suggestions || parsed.suggestions.length === 0) {\n  return [{ json: { text: '⚠️ Keine offenen Materialien zum Bestellen.', projectId, ordersCreated: 0 } }];\n}\n\n// For now, we don't auto-create POs. Just mark them as ready.\n// The actual PO creation needs supplier grouping which requires more logic.\nconst suggestions = parsed.suggestions;\nlet totalItems = 0;\nlet totalValue = 0;\n\nlet lines = [];\nlines.push('✅ <b>Bestellung genehmigt!</b>');\nlines.push('');\n\nfor (const s of suggestions) {\n  lines.push(`<b>${s.trade}</b>: ${s.item_count} Materialien`);\n  totalItems += Number(s.item_count);\n  totalValue += Number(s.est_total_value || 0);\n}\n\nlines.push('');\nlines.push(`Gesamt: ${totalItems} Materialien (~€${totalValue.toFixed(0)})`);\nlines.push('');\nlines.push('Bestellungen können jetzt in der App erstellt werden.');\n\nreturn [{ json: { text: lines.join('\\n'), projectId, ordersCreated: 0, totalItems, totalValue } }];"},"id":"21bfab40-366e-4008-827b-6fa8333ed489","name":"Process Approval","type":"n8n-nodes-base.code","typeVersion":2,"position":[-528,-272]},{"parameters":{"chatId":"6088921678","text":"={{ $json.text }}","additionalFields":{"parse_mode":"HTML"}},"id":"086a8298-e52f-49ed-a4ca-5f40d5d3299d","name":"Telegram Approve Notification","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-320,-272],"webhookId":"7c0b4ef6-05ea-422d-8d6c-fee4ed846cb5","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (event_type, project_id, payload, source_system, source_flow)\nVALUES (\n  'MATERIALS_ORDER_APPROVED',\n  '{{ $('Parse Query Params').first().json.project_id }}'::uuid,\n  '{}'::jsonb,\n  'n8n',\n  'M4_03_Order_Approve'\n)\nRETURNING id;","options":{}},"id":"3251612a-2529-4035-9afd-8fb873b27593","name":"Fire ORDER_APPROVED Event","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-96,-272],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"chatId":"6088921678","text":"❌ Bestellvorschlag wurde abgelehnt.\n\nMaterialien bleiben offen.","additionalFields":{"parse_mode":"HTML"}},"id":"26c9f6e0-4ce4-4227-9c61-ada32f1dec19","name":"Telegram Reject Notification","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-752,-32],"webhookId":"c01055a6-ccca-4103-a071-407341585c28","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"respondWith":"text","responseBody":"=Bestellung {{ $('Parse Query Params').first().json.action === 'approve' ? 'genehmigt ✅' : 'abgelehnt ❌' }}. Du kannst dieses Fenster schließen.","options":{}},"id":"a2a18a66-7945-4eaf-91d8-d5894d9aa941","name":"Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[128,-176]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Query Params","type":"main","index":0}]]},"Parse Query Params":{"main":[[{"node":"IF Approve","type":"main","index":0}]]},"IF Approve":{"main":[[{"node":"Get Order Suggestions","type":"main","index":0}],[{"node":"Telegram Reject Notification","type":"main","index":0}]]},"Get Order Suggestions":{"main":[[{"node":"Process Approval","type":"main","index":0}]]},"Process Approval":{"main":[[{"node":"Telegram Approve Notification","type":"main","index":0}]]},"Telegram Approve Notification":{"main":[[{"node":"Fire ORDER_APPROVED Event","type":"main","index":0}]]},"Fire ORDER_APPROVED Event":{"main":[[{"node":"Response","type":"main","index":0}]]},"Telegram Reject Notification":{"main":[[{"node":"Response","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version 3e4c628d","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-23T14:12:08.570Z","id":791,"workflowId":"INJkwNIVjAn8TKox","versionId":"3e4c628d-19cc-4c71-88df-2d5334875ac2","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:24:58.503Z","id":842,"workflowId":"INJkwNIVjAn8TKox","versionId":"3e4c628d-19cc-4c71-88df-2d5334875ac2","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:24:58.425Z","id":841,"workflowId":"INJkwNIVjAn8TKox","versionId":"3e4c628d-19cc-4c71-88df-2d5334875ac2","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}