n8n-workflows/M4_01_Material_Planner.json
{"updatedAt":"2026-01-28T22:00:30.357Z","createdAt":"2026-01-13T20:49:03.046Z","id":"tywkXZoNvDf624tB1Qh6R","name":"M4_01_Material_Planner","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"m4-01-material-planner","options":{}},"id":"b805cab3-b2e2-4d90-a7fe-9bc05f64ad2b","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"m4-01-material-planner"},{"parameters":{"jsCode":"// Extract project_id from various input formats\nconst input = $input.first().json;\n\nlet project_id = null;\nlet event_id = null;\n\n// Format 1: Direct from Router\nif (input.project_id) {\n  project_id = input.project_id;\n  event_id = input.event_id;\n}\n// Format 2: In body (Webhook direct call)\nelse if (input.body?.project_id) {\n  project_id = input.body.project_id;\n  event_id = input.body.event_id;\n}\n// Format 3: Wrapped in record (Supabase style)\nelse if (input.record?.project_id) {\n  project_id = input.record.project_id;\n  event_id = input.record.id;\n}\n// Format 4: In payload\nelse if (input.payload?.project_id) {\n  project_id = input.payload.project_id;\n  event_id = input.event_id;\n}\n\nif (!project_id) {\n  throw new Error('No project_id found in input: ' + JSON.stringify(input).substring(0, 200));\n}\n\nreturn [{\n  json: {\n    project_id,\n    event_id,\n    started_at: new Date().toISOString()\n  }\n}];"},"id":"60e6c436-a685-430b-91a0-9de1ab921b6c","name":"Extract Project ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM generate_all_project_materials('{{ $json.project_id }}'::uuid);","options":{}},"id":"5198e788-adf8-4981-aaa8-65b2dfec26b9","name":"Generate Materials","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[864,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  pm.material_type,\n  pm.trade,\n  COUNT(*) as count,\n  SUM(pm.quantity) as total_quantity,\n  COUNT(*) FILTER (WHERE pm.product_id IS NULL) as needs_assignment\nFROM project_materials pm\nWHERE pm.project_id = '{{ $('Extract Project ID').item.json.project_id }}'::uuid\nGROUP BY pm.material_type, pm.trade\nORDER BY count DESC;","options":{}},"id":"3c0dfdad-6be6-4ffb-aedf-7d6d9190de79","name":"Get Summary","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1088,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (\n  event_type,\n  project_id,\n  source_system,\n  source_flow,\n  payload,\n  dedupe_key\n) VALUES (\n  'MATERIALS_PLANNED',\n  '{{ $('Extract Project ID').item.json.project_id }}'::uuid,\n  'n8n',\n  'M4_01_Material_Planner',\n  '{{ JSON.stringify({\n    positions_processed: $('Generate Materials').first().json.positions_processed,\n    materials_created: $('Generate Materials').first().json.materials_created,\n    summary: $('Get Summary').all().map(i => i.json)\n  }) }}'::jsonb,\n  'materials_planned_' || '{{ $('Extract Project ID').item.json.project_id }}'\n)\nON CONFLICT (source_system, dedupe_key) WHERE dedupe_key IS NOT NULL \nDO UPDATE SET\n  payload = EXCLUDED.payload,\n  created_at = now()\nRETURNING id, event_type::text, project_id;","options":{}},"id":"09faca7b-6f93-435d-aa43-7f5f27812254","name":"Create MATERIALS_PLANNED Event","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1296,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (\n  event_type,\n  project_id,\n  source_system,\n  source_flow,\n  payload,\n  dedupe_key\n) VALUES (\n  'MATERIALS_NEED_ASSIGNMENT',\n  '{{ $('Extract Project ID').first().json.project_id }}'::uuid,\n  'n8n',\n  'M4_01_Material_Planner',\n  '{{ JSON.stringify({\n    unassigned_count: $('Check Unassigned').first().json.unassigned_count\n  }) }}'::jsonb,\n  'materials_need_assignment_' || '{{ $('Extract Project ID').first().json.project_id }}'\n)\nON CONFLICT (source_system, dedupe_key) WHERE dedupe_key IS NOT NULL\nDO UPDATE SET\n  payload = EXCLUDED.payload,\n  created_at = now()\nRETURNING id;","options":{}},"id":"633495f8-2c8c-4309-a901-ee3befcdfe3e","name":"Create NEEDS_ASSIGNMENT Event","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1664,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"// Final response\nconst extract = $('Extract Project ID').first().json;\nconst gen = $('Generate Materials').first().json;\nconst summary = $('Get Summary').all().map(i => i.json);\nconst event = $('Create MATERIALS_PLANNED Event').first().json;\n\nreturn [{\n  json: {\n    status: 'success',\n    project_id: extract.project_id,\n    positions_processed: gen.positions_processed,\n    materials_created: gen.materials_created,\n    event_id: event.id,\n    summary: summary,\n    has_unassigned: summary.some(s => s.needs_assignment > 0)\n  }\n}];"},"id":"56badcbe-aa18-4b0d-a2ab-c3c81658d065","name":"Final Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1824,0]},{"parameters":{"jsCode":"// Check if any materials need product assignment\nconst summary = $('Get Summary').all();\nconst unassignedCount = summary.reduce((sum, item) => {\n  return sum + (parseInt(item.json.needs_assignment) || 0);\n}, 0);\n\nif (unassignedCount > 0) {\n  return [{\n    json: {\n      has_unassigned: true,\n      unassigned_count: unassignedCount\n    }\n  }];\n}\n\n// Return empty to stop flow here\nreturn [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1504,0],"id":"dd2cadfb-a95c-46cd-8033-d13da5ee3d75","name":"Check Unassigned"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n  'material_planner:' || '{{ $json.project_id }}',\n  '{{ $json.project_id }}'::uuid,\n  'MATERIAL_PLANNING',\n  5\n) as result;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[432,0],"id":"c418051a-7c7e-4abc-9533-0fa0aa83cf0e","name":"🔒 Claim Step","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4d57837f-a1c9-4ae2-a38d-91d3d4bc9c3f","leftValue":"={{ $json.result }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[640,0],"id":"afb0cd58-c3b1-4bab-9db3-eb7c6b284838","name":"❓ Claimed?"}],"connections":{"Webhook Trigger":{"main":[[{"node":"Extract Project ID","type":"main","index":0}]]},"Extract Project ID":{"main":[[{"node":"🔒 Claim Step","type":"main","index":0}]]},"Generate Materials":{"main":[[{"node":"Get Summary","type":"main","index":0}]]},"Get Summary":{"main":[[{"node":"Create MATERIALS_PLANNED Event","type":"main","index":0}]]},"Create MATERIALS_PLANNED Event":{"main":[[{"node":"Check Unassigned","type":"main","index":0}]]},"Create NEEDS_ASSIGNMENT Event":{"main":[[{"node":"Final Response","type":"main","index":0}]]},"Check Unassigned":{"main":[[{"node":"Create NEEDS_ASSIGNMENT Event","type":"main","index":0}]]},"🔒 Claim Step":{"main":[[{"node":"❓ Claimed?","type":"main","index":0}]]},"❓ Claimed?":{"main":[[{"node":"Generate Materials","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"apmJoMCbOchwfqTp"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook Trigger":[{"json":{"headers":{"host":"n8n.srv1045913.hstgr.cloud","user-agent":"curl/8.7.1","content-length":"54","accept":"*/*","content-type":"application/json","x-forwarded-for":"89.56.41.171","x-forwarded-host":"n8n.srv1045913.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"eb2655485665","x-real-ip":"89.56.41.171","accept-encoding":"gzip"},"params":{},"query":{},"body":{"project_id":"d0640a84-c0a5-4508-a9b2-bfa726b185d9"},"webhookUrl":"https://n8n.srv1045913.hstgr.cloud/webhook/m4-01-material-planner","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"30882a67-e65f-4902-b5ef-3798e2d2ed23","activeVersionId":"30882a67-e65f-4902-b5ef-3798e2d2ed23","versionCounter":55,"triggerCount":1,"shared":[{"updatedAt":"2026-01-13T20:49:03.052Z","createdAt":"2026-01-13T20:49:03.052Z","role":"workflow:owner","workflowId":"tywkXZoNvDf624tB1Qh6R","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-28T22:00:44.000Z","createdAt":"2026-01-28T22:00:30.358Z","versionId":"30882a67-e65f-4902-b5ef-3798e2d2ed23","workflowId":"tywkXZoNvDf624tB1Qh6R","nodes":[{"parameters":{"httpMethod":"POST","path":"m4-01-material-planner","options":{}},"id":"b805cab3-b2e2-4d90-a7fe-9bc05f64ad2b","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"m4-01-material-planner"},{"parameters":{"jsCode":"// Extract project_id from various input formats\nconst input = $input.first().json;\n\nlet project_id = null;\nlet event_id = null;\n\n// Format 1: Direct from Router\nif (input.project_id) {\n  project_id = input.project_id;\n  event_id = input.event_id;\n}\n// Format 2: In body (Webhook direct call)\nelse if (input.body?.project_id) {\n  project_id = input.body.project_id;\n  event_id = input.body.event_id;\n}\n// Format 3: Wrapped in record (Supabase style)\nelse if (input.record?.project_id) {\n  project_id = input.record.project_id;\n  event_id = input.record.id;\n}\n// Format 4: In payload\nelse if (input.payload?.project_id) {\n  project_id = input.payload.project_id;\n  event_id = input.event_id;\n}\n\nif (!project_id) {\n  throw new Error('No project_id found in input: ' + JSON.stringify(input).substring(0, 200));\n}\n\nreturn [{\n  json: {\n    project_id,\n    event_id,\n    started_at: new Date().toISOString()\n  }\n}];"},"id":"60e6c436-a685-430b-91a0-9de1ab921b6c","name":"Extract Project ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM generate_all_project_materials('{{ $json.project_id }}'::uuid);","options":{}},"id":"5198e788-adf8-4981-aaa8-65b2dfec26b9","name":"Generate Materials","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[864,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  pm.material_type,\n  pm.trade,\n  COUNT(*) as count,\n  SUM(pm.quantity) as total_quantity,\n  COUNT(*) FILTER (WHERE pm.product_id IS NULL) as needs_assignment\nFROM project_materials pm\nWHERE pm.project_id = '{{ $('Extract Project ID').item.json.project_id }}'::uuid\nGROUP BY pm.material_type, pm.trade\nORDER BY count DESC;","options":{}},"id":"3c0dfdad-6be6-4ffb-aedf-7d6d9190de79","name":"Get Summary","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1088,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (\n  event_type,\n  project_id,\n  source_system,\n  source_flow,\n  payload,\n  dedupe_key\n) VALUES (\n  'MATERIALS_PLANNED',\n  '{{ $('Extract Project ID').item.json.project_id }}'::uuid,\n  'n8n',\n  'M4_01_Material_Planner',\n  '{{ JSON.stringify({\n    positions_processed: $('Generate Materials').first().json.positions_processed,\n    materials_created: $('Generate Materials').first().json.materials_created,\n    summary: $('Get Summary').all().map(i => i.json)\n  }) }}'::jsonb,\n  'materials_planned_' || '{{ $('Extract Project ID').item.json.project_id }}'\n)\nON CONFLICT (source_system, dedupe_key) WHERE dedupe_key IS NOT NULL \nDO UPDATE SET\n  payload = EXCLUDED.payload,\n  created_at = now()\nRETURNING id, event_type::text, project_id;","options":{}},"id":"09faca7b-6f93-435d-aa43-7f5f27812254","name":"Create MATERIALS_PLANNED Event","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1296,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (\n  event_type,\n  project_id,\n  source_system,\n  source_flow,\n  payload,\n  dedupe_key\n) VALUES (\n  'MATERIALS_NEED_ASSIGNMENT',\n  '{{ $('Extract Project ID').first().json.project_id }}'::uuid,\n  'n8n',\n  'M4_01_Material_Planner',\n  '{{ JSON.stringify({\n    unassigned_count: $('Check Unassigned').first().json.unassigned_count\n  }) }}'::jsonb,\n  'materials_need_assignment_' || '{{ $('Extract Project ID').first().json.project_id }}'\n)\nON CONFLICT (source_system, dedupe_key) WHERE dedupe_key IS NOT NULL\nDO UPDATE SET\n  payload = EXCLUDED.payload,\n  created_at = now()\nRETURNING id;","options":{}},"id":"633495f8-2c8c-4309-a901-ee3befcdfe3e","name":"Create NEEDS_ASSIGNMENT Event","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1664,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"// Final response\nconst extract = $('Extract Project ID').first().json;\nconst gen = $('Generate Materials').first().json;\nconst summary = $('Get Summary').all().map(i => i.json);\nconst event = $('Create MATERIALS_PLANNED Event').first().json;\n\nreturn [{\n  json: {\n    status: 'success',\n    project_id: extract.project_id,\n    positions_processed: gen.positions_processed,\n    materials_created: gen.materials_created,\n    event_id: event.id,\n    summary: summary,\n    has_unassigned: summary.some(s => s.needs_assignment > 0)\n  }\n}];"},"id":"56badcbe-aa18-4b0d-a2ab-c3c81658d065","name":"Final Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1824,0]},{"parameters":{"jsCode":"// Check if any materials need product assignment\nconst summary = $('Get Summary').all();\nconst unassignedCount = summary.reduce((sum, item) => {\n  return sum + (parseInt(item.json.needs_assignment) || 0);\n}, 0);\n\nif (unassignedCount > 0) {\n  return [{\n    json: {\n      has_unassigned: true,\n      unassigned_count: unassignedCount\n    }\n  }];\n}\n\n// Return empty to stop flow here\nreturn [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1504,0],"id":"dd2cadfb-a95c-46cd-8033-d13da5ee3d75","name":"Check Unassigned"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n  'material_planner:' || '{{ $json.project_id }}',\n  '{{ $json.project_id }}'::uuid,\n  'MATERIAL_PLANNING',\n  5\n) as result;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[432,0],"id":"c418051a-7c7e-4abc-9533-0fa0aa83cf0e","name":"🔒 Claim Step","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4d57837f-a1c9-4ae2-a38d-91d3d4bc9c3f","leftValue":"={{ $json.result }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[640,0],"id":"afb0cd58-c3b1-4bab-9db3-eb7c6b284838","name":"❓ Claimed?"}],"connections":{"Webhook Trigger":{"main":[[{"node":"Extract Project ID","type":"main","index":0}]]},"Extract Project ID":{"main":[[{"node":"🔒 Claim Step","type":"main","index":0}]]},"Generate Materials":{"main":[[{"node":"Get Summary","type":"main","index":0}]]},"Get Summary":{"main":[[{"node":"Create MATERIALS_PLANNED Event","type":"main","index":0}]]},"Create MATERIALS_PLANNED Event":{"main":[[{"node":"Check Unassigned","type":"main","index":0}]]},"Create NEEDS_ASSIGNMENT Event":{"main":[[{"node":"Final Response","type":"main","index":0}]]},"Check Unassigned":{"main":[[{"node":"Create NEEDS_ASSIGNMENT Event","type":"main","index":0}]]},"🔒 Claim Step":{"main":[[{"node":"❓ Claimed?","type":"main","index":0}]]},"❓ Claimed?":{"main":[[{"node":"Generate Materials","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version 30882a67","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-01-28T22:00:44.228Z","id":480,"workflowId":"tywkXZoNvDf624tB1Qh6R","versionId":"30882a67-e65f-4902-b5ef-3798e2d2ed23","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}