n8n-workflows/M4_01b_Receipt_Processor_V2_MX02.json
{"updatedAt":"2026-02-02T14:00:12.173Z","createdAt":"2026-01-02T08:57:46.910Z","id":"WSy5sWWXY29bW93b","name":"M4_01b_Receipt_Processor_V2_MX02","description":"Verarbeitet eingescannte Belege und extrahiert Rechnungsdaten (Betrag, Datum, Lieferant)","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"id":"7cf0e7b7-075a-4781-bb5e-c8041f890ed9","name":"⏰ Every 30s","type":"n8n-nodes-base.scheduleTrigger","position":[3872,1312],"typeVersion":1.2},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_next_receipt();","options":{}},"id":"0aff27e3-fb6b-4519-bcfc-4d67db281f48","name":"🔒 Claim Next","type":"n8n-nodes-base.postgres","position":[4112,1312],"typeVersion":2.5,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-item","leftValue":"={{ $json.queue_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"ca4b5a4e-054f-428a-a9c4-dafdb7af5f64","name":"❓ Got Item?","type":"n8n-nodes-base.if","position":[4336,1312],"typeVersion":2},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.drive_file_id }}"},"options":{"binaryPropertyName":"receipt_file"}},"id":"bcce1517-2672-4818-abc4-b99e9cd289db","name":"📥 Download File","type":"n8n-nodes-base.googleDrive","position":[4560,1296],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"aYft6Y1rBlcl2pcf","name":"Google Drive account"}}},{"parameters":{"resource":"document","modelId":{"__rl":true,"value":"claude-sonnet-4-5-20250929","mode":"list","cachedResultName":"claude-sonnet-4-5-20250929"},"text":"Analysiere diesen Beleg/Rechnung und extrahiere alle Informationen.\n\nSCHRITT 1: Lieferant identifizieren\n- Name wie auf Beleg\n- Kurzcode (z.B. \"HORN\" für Hornbach, max 4 Zeichen, nur Großbuchstaben)\n- Typ: BAUMARKT, GROSSHANDEL, FACHHANDEL, TANKSTELLE, RESTAURANT, SOFTWARE, SONSTIGE\n\nSCHRITT 2: Kostenkategorie bestimmen\n- MATERIAL: Baumärkte, Baustoffhandel, Werkzeug, Fliesen, Sanitär, Elektro\n- SUBCONTRACTOR: Handwerker-Rechnungen, Subunternehmer\n- VEHICLE_FUEL: Tankstellen\n- VEHICLE_RENTAL: Autovermietung, Parken\n- VEHICLE_REPAIR: Werkstatt, Autowäsche\n- ENTERTAINMENT: Restaurant, Café, Bewirtung\n- SOFTWARE: IT-Dienste, Apps\n- OFFICE: Bürobedarf, Telefon\n- DISPOSAL: Entsorgung\n- OTHER: Alles andere\n\nSCHRITT 3: Rechnungsdaten\n- Rechnungsnummer (oder \"UNKNOWN\")\n- Datum (Format: YYYY-MM-DD)\n- Nettobetrag (summe_netto) als Zahl — die Summe OHNE MwSt.\n- Bruttobetrag (summe_brutto) als Zahl — die Endsumme MIT MwSt. (der höhere Betrag)\n- MwSt-Satz (meist 19)\n\nWICHTIG: summe_brutto ist IMMER der ENDPREIS (der höchste Betrag auf der Rechnung).\nsumme_netto ist die Summe VOR der MwSt. Es gilt: summe_brutto = summe_netto * (1 + mwst_prozent/100)\n\nSCHRITT 4: Zahlungsinformationen\n- IBAN (falls auf Rechnung, sonst \"\")\n- BIC (falls vorhanden, sonst \"\")\n- Zahlungsziel in Tagen (aus Text wie \"zahlbar innerhalb 14 Tagen\" - falls nicht angegeben: 14)\n- Fälligkeitsdatum (Rechnungsdatum + Zahlungsziel, Format: YYYY-MM-DD)\n- Skonto Prozent (falls angegeben, sonst 0)\n- Skonto Tage (falls angegeben, sonst 0)\n\nSCHRITT 5: Positionen (maximal 20)\nFür jeden Artikel:\n- artikel_nummer (falls vorhanden, sonst \"\")\n- beschreibung (wie auf Beleg)\n- internal_name (kleinbuchstaben, ohne Marke, normalisiert)\n- menge als Zahl\n- einheit (Stk, kg, m, m², l, Pack)\n- einzelpreis_brutto als Zahl\n- kategorie (z.B. Elektroinstallation, Sanitär, Werkzeug, Baustoffe)\n\nAUSGABE: Nur JSON, keine Backticks, kein Markdown, keine Erklärung.\n\n{\"lieferant\":{\"name\":\"Musterfirma GmbH\",\"code\":\"MUST\",\"typ\":\"GROSSHANDEL\"},\"expense_category\":\"MATERIAL\",\"rechnung\":{\"nummer\":\"R-2025-001\",\"datum\":\"2025-01-15\",\"summe_netto\":100.00,\"summe_brutto\":119.00,\"mwst_prozent\":19},\"zahlung\":{\"iban\":\"DE89370400440532013000\",\"bic\":\"COBADEFFXXX\",\"zahlungsziel_tage\":14,\"faellig_am\":\"2025-01-29\",\"skonto_prozent\":2,\"skonto_tage\":7},\"positionen\":[{\"artikel_nummer\":\"12345\",\"beschreibung\":\"Beispielartikel\",\"internal_name\":\"beispielartikel\",\"menge\":1,\"einheit\":\"Stk\",\"einzelpreis_brutto\":100.00,\"kategorie\":\"Sonstiges\"}]}","inputType":"binary","binaryPropertyName":"receipt_file","options":{"maxTokens":7500}},"id":"181e1965-ae3b-4527-940d-4722c46d8ce3","name":"🤖 Claude Vision","type":"@n8n/n8n-nodes-langchain.anthropic","position":[4752,1296],"typeVersion":1,"credentials":{"anthropicApi":{"id":"DSb7Itt2r6kfGiHs","name":"Anthropic account"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Robust context pick: Claim Next can return 2 rows (reset + claim). Pick the row that actually has queue_id.\nconst claimItems = $items('🔒 Claim Next') || [];\nconst claimItem = claimItems.find(i => i.json && i.json.queue_id) || claimItems[claimItems.length - 1] || { json: {} };\nconst queueData = claimItem.json;\n\nconst downloadItem = $('📥 Download File').first();\nconst downloadJson = downloadItem?.json || {};\nconst downloadBinary = downloadItem?.binary || {};\n\n// File metadata\nconst fileName = queueData.file_name || downloadJson.name || 'UNKNOWN';\nconst mimeType = queueData.mime_type || downloadJson.mimeType || 'application/pdf';\nconst driveFileId = queueData.drive_file_id || downloadJson.id || '';\nconst queueId = queueData.queue_id;\n\n// Claude response (success output of Claude Vision)\nconst claudeResponse = $input.first().json;\n\n// Generate invoice ID\nconst invoiceId = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n  const r = Math.random() * 16 | 0;\n  const v = c === 'x' ? r : (r & 0x3 | 0x8);\n  return v.toString(16);\n});\n\n// Extension bestimmen\nlet extension = 'pdf';\nif (mimeType && mimeType.includes('image/jpeg')) extension = 'jpg';\nelse if (mimeType && mimeType.includes('image/png')) extension = 'png';\nelse if (mimeType && mimeType.includes('image/webp')) extension = 'webp';\n\nconst storagePath = `receipts/${invoiceId}.${extension}`;\n\nreturn {\n  json: {\n    queue_id: queueId,\n    invoice_id: invoiceId,\n    original_filename: fileName,\n    mime_type: mimeType,\n    extension: extension,\n    storage_path: storagePath,\n    storage_filename: `${invoiceId}.${extension}`,\n    drive_file_id: driveFileId,\n    claude_response: claudeResponse\n  },\n  binary: downloadBinary\n};\n"},"id":"ac87c727-597e-4e9c-bdd1-a3563122f506","name":"🔧 Prepare Upload","type":"n8n-nodes-base.code","position":[4960,1280],"typeVersion":2},{"parameters":{"method":"PUT","url":"=https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/receipts/{{ $json.storage_filename }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"={{ $json.mime_type }}"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"receipt_file","options":{}},"id":"1fccad19-a777-4d70-b2ea-b2fbb7f89464","name":"📤 Upload to Storage","type":"n8n-nodes-base.httpRequest","position":[5152,1280],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"n357gpDbnk38oMfi","name":"Supabase Storage Auth"}}},{"parameters":{"jsCode":"// Parse Claude response and merge with upload data\nconst uploadData = $('🔧 Prepare Upload').first().json;\n\n// Get Claude response\nconst claudeNode = $('🤖 Claude Vision').first().json;\nlet claudeResponse;\nif (claudeNode.content && Array.isArray(claudeNode.content)) {\n  claudeResponse = claudeNode.content[0]?.text;\n} else {\n  claudeResponse = claudeNode.content || claudeNode.text || JSON.stringify(claudeNode);\n}\n\n// Clean response - remove markdown\nlet cleanJson = claudeResponse;\nif (typeof cleanJson === 'string') {\n  cleanJson = cleanJson.replace(/```json\\s*/gi, '');\n  cleanJson = cleanJson.replace(/```\\s*/g, '');\n  cleanJson = cleanJson.trim();\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleanJson);\n} catch (e) {\n  throw new Error(`JSON Parse Error: ${e.message}\\n\\nRaw:\\n${cleanJson.substring(0, 500)}`);\n}\n\n// V2: Smart net/gross handling - trust Claude when both provided, fallback to calculation\nconst vatPercent = parsed.rechnung?.mwst_prozent || 19;\nconst rawGross = Number(parsed.rechnung?.summe_brutto) || 0;\nconst rawNet = Number(parsed.rechnung?.summe_netto) || 0;\n\nlet grossAmount, netAmount;\n\nif (rawNet > 0 && rawGross > 0) {\n  // Both provided — validate plausibility\n  const expectedGross = Math.round(rawNet * (1 + vatPercent / 100) * 100) / 100;\n  if (Math.abs(expectedGross - rawGross) < 1.0) {\n    grossAmount = rawGross;\n    netAmount = rawNet;\n  } else {\n    // Inconsistent — trust brutto (Endpreis)\n    grossAmount = rawGross;\n    netAmount = Math.round((rawGross / (1 + vatPercent / 100)) * 100) / 100;\n  }\n} else if (rawGross > 0) {\n  grossAmount = rawGross;\n  netAmount = Math.round((rawGross / (1 + vatPercent / 100)) * 100) / 100;\n} else if (rawNet > 0) {\n  netAmount = rawNet;\n  grossAmount = Math.round(rawNet * (1 + vatPercent / 100) * 100) / 100;\n} else {\n  grossAmount = 0;\n  netAmount = 0;\n}\n\n// Type mapping\nconst typeMapping = {\n  'BAUMARKT': 'BAUMARKT',\n  'GROSSHANDEL': 'GROSSHANDEL',\n  'FACHHANDEL': 'FACHHANDEL',\n  'HERSTELLER': 'HERSTELLER',\n  'ONLINE': 'ONLINE',\n  'TANKSTELLE': 'SONSTIGE',\n  'RESTAURANT': 'SONSTIGE',\n  'SOFTWARE': 'SONSTIGE',\n  'SONSTIGE': 'SONSTIGE'\n};\n\n// Escape SQL\nconst escapeSql = (str) => str ? String(str).replace(/'/g, \"''\") : '';\n\n// Supplier code\nlet supplierCode = parsed.lieferant?.code || parsed.lieferant?.name?.substring(0, 4) || 'UNBK';\nsupplierCode = supplierCode.toUpperCase().replace(/[^A-Z]/g, '').substring(0, 4);\nif (supplierCode.length < 2) supplierCode = 'UNBK';\n\n// Payment data with defaults\nconst zahlung = parsed.zahlung || {};\nconst rechnungsDatum = parsed.rechnung?.datum || new Date().toISOString().split('T')[0];\nconst zahlungszielTage = zahlung.zahlungsziel_tage || 14;\n\n// Calculate due date if not provided\nlet faelligAm = zahlung.faellig_am;\nif (!faelligAm) {\n  const d = new Date(rechnungsDatum);\n  d.setDate(d.getDate() + zahlungszielTage);\n  faelligAm = d.toISOString().split('T')[0];\n}\n\nreturn {\n  queue_id: uploadData.queue_id,\n  invoice_id: uploadData.invoice_id,\n  storage_path: uploadData.storage_path,\n  original_filename: uploadData.original_filename,\n  drive_file_id: uploadData.drive_file_id,\n  \n  // Supplier\n  lieferant_name: parsed.lieferant?.name || 'UNBEKANNT',\n  lieferant_name_escaped: escapeSql(parsed.lieferant?.name || 'UNBEKANNT'),\n  lieferant_code: supplierCode,\n  lieferant_typ: typeMapping[parsed.lieferant?.typ] || 'SONSTIGE',\n  \n  expense_category: parsed.expense_category || 'MATERIAL',\n  \n  // Invoice\n  rechnung_nummer: parsed.rechnung?.nummer || `SCAN-${uploadData.invoice_id.substring(0, 8)}`,\n  rechnung_datum: rechnungsDatum,\n  summe_brutto: grossAmount,\n  summe_netto: netAmount,\n  mwst_prozent: vatPercent,\n  \n  // Payment\n  payment_iban: zahlung.iban || '',\n  payment_bic: zahlung.bic || '',\n  payment_terms_days: zahlungszielTage,\n  due_date: faelligAm,\n  discount_percent: zahlung.skonto_prozent || 0,\n  discount_days: zahlung.skonto_tage || 0,\n  \n  // Positions\n  positionen: parsed.positionen || [],\n  positionen_count: (parsed.positionen || []).length,\n  \n  needs_assignment: ['MATERIAL', 'SUBCONTRACTOR', 'ENTERTAINMENT'].includes(parsed.expense_category)\n};"},"id":"26659fc0-792b-4c60-bbdf-3ceb39b8b8f3","name":"📋 Parse JSON","type":"n8n-nodes-base.code","position":[5344,1280],"typeVersion":2},{"parameters":{"operation":"executeQuery","query":"-- Step 1: Try to find supplier by alias\nWITH alias_match AS (\n  SELECT s.id, s.supplier_code, s.default_expense_category::text\n  FROM suppliers s\n  JOIN supplier_aliases sa ON sa.supplier_id = s.id\n  WHERE LOWER(sa.alias_name) = LOWER('{{ $json.lieferant_name_escaped }}')\n  LIMIT 1\n),\n-- Step 2: Try to find by short_name or code\nname_match AS (\n  SELECT id, supplier_code, default_expense_category::text\n  FROM suppliers\n  WHERE (\n    LOWER(short_name) ILIKE '%' || LOWER('{{ $json.lieferant_name_escaped }}') || '%'\n    OR LOWER(name) ILIKE '%' || LOWER('{{ $json.lieferant_name_escaped }}') || '%'\n    OR supplier_code = '{{ $json.lieferant_code }}'\n  )\n  AND is_active = true\n  AND NOT EXISTS (SELECT 1 FROM alias_match)\n  LIMIT 1\n),\n-- Step 3: Create new if not found\nnew_supplier AS (\n  INSERT INTO suppliers (supplier_code, name, short_name, supplier_type, default_expense_category, is_active)\n  SELECT \n    '{{ $json.lieferant_code }}',\n    '{{ $json.lieferant_name_escaped }}',\n    '{{ $json.lieferant_name_escaped }}',\n    '{{ $json.lieferant_typ }}'::supplier_type,\n    '{{ $json.expense_category }}'::expense_category,\n    true\n  WHERE NOT EXISTS (SELECT 1 FROM alias_match)\n    AND NOT EXISTS (SELECT 1 FROM name_match)\n  ON CONFLICT (supplier_code) DO UPDATE SET updated_at = now()\n  RETURNING id, supplier_code, default_expense_category::text\n)\n-- Return the matched or created supplier\nSELECT \n  COALESCE(am.id, nm.id, ns.id)::text AS supplier_id,\n  COALESCE(am.supplier_code, nm.supplier_code, ns.supplier_code) AS supplier_code,\n  COALESCE(am.default_expense_category, nm.default_expense_category, ns.default_expense_category) AS default_expense_category,\n  CASE \n    WHEN am.id IS NOT NULL THEN 'alias_match'\n    WHEN nm.id IS NOT NULL THEN 'name_match'\n    ELSE 'created'\n  END AS match_type\nFROM (SELECT 1) AS dummy\nLEFT JOIN alias_match am ON true\nLEFT JOIN name_match nm ON true\nLEFT JOIN new_supplier ns ON true;","options":{}},"id":"c0cb6111-c86c-4604-b1fa-a7b7864dc399","name":"🏢 Match Supplier","type":"n8n-nodes-base.postgres","position":[6112,1280],"typeVersion":2.5,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"-- UPSERT: Insert oder Update wenn Duplikat\nINSERT INTO purchase_invoices (\n  id,\n  invoice_number,\n  supplier_id,\n  invoice_date,\n  subtotal_net,\n  vat_percent,\n  status,\n  pdf_storage_path,\n  project_id,\n  notes,\n  due_date\n)\nVALUES (\n  '{{ $('📋 Parse JSON').first().json.invoice_id }}'::uuid,\n  '{{ $('📋 Parse JSON').first().json.rechnung_nummer }}',\n  '{{ $('🏢 Match Supplier').first().json.supplier_id }}'::uuid,\n  '{{ $('📋 Parse JSON').first().json.rechnung_datum }}'::date,\n  {{ $('📋 Parse JSON').first().json.summe_netto }},\n  {{ $('📋 Parse JSON').first().json.mwst_prozent }},\n  'DRAFT'::purchase_invoice_status,\n  '{{ $('📋 Parse JSON').first().json.storage_path }}',\n  NULL,\n  'Automatisch erfasst aus: {{ $('📋 Parse JSON').first().json.original_filename }}',\n  '{{ $('📋 Parse JSON').first().json.due_date }}'::date\n)\nON CONFLICT (supplier_id, invoice_number) \nDO UPDATE SET \n  updated_at = now(),\n  notes = purchase_invoices.notes || ' | Duplicate scan ignored'\nRETURNING id::text, invoice_number, (xmax = 0) as is_new_record;","options":{}},"id":"4055f7f2-c739-4b0c-a8e8-c5a1229628fe","name":"📄 Create Invoice","type":"n8n-nodes-base.postgres","position":[6304,1280],"typeVersion":2.5,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"has-positions","leftValue":"={{ $('📋 Parse JSON').first().json.positionen_count }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"48cfe6ee-01a6-40bb-afda-2cdb6a1e1080","name":"❓ Has Positions?","type":"n8n-nodes-base.if","position":[6496,1280],"typeVersion":2},{"parameters":{"operation":"executeQuery","query":"INSERT INTO purchase_invoice_items (\n  invoice_id,\n  position_number,\n  raw_article_number,\n  raw_description,\n  quantity,\n  unit,\n  unit_price_net\n)\nVALUES (\n  '{{ $('📦 Split Positions').item.json.invoice_id }}'::uuid,\n  {{ $('📦 Split Positions').item.json.position_number }},\n  '{{ $('📦 Split Positions').item.json.article_number }}',\n  '{{ $('📦 Split Positions').item.json.description }}',\n  {{ $('📦 Split Positions').item.json.quantity }},\n  '{{ $('📦 Split Positions').item.json.unit }}',\n  {{ $('📦 Split Positions').item.json.unit_price_net }}\n)\nON CONFLICT (invoice_id, position_number) DO NOTHING\nRETURNING id::text;","options":{}},"id":"71519ab2-f5e2-4d66-94de-f2578ed14dda","name":"📦 Process Item","type":"n8n-nodes-base.postgres","position":[7184,1168],"typeVersion":2.5,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (\n  project_id,\n  event_type,\n  payload,\n  source_system,\n  source_flow\n)\nVALUES (\n  NULL,\n  'PURCHASE_INVOICE_CREATED',\n  jsonb_build_object(\n    'invoice_id', '{{ $('📄 Create Invoice').first().json.id }}',\n    'invoice_number', '{{ $('📄 Create Invoice').first().json.invoice_number }}',\n    'supplier_code', '{{ $('🏢 Match Supplier').first().json.supplier_code }}',\n    'supplier_match_type', '{{ $('🏢 Match Supplier').first().json.match_type }}',\n    'total_gross', {{ $('📋 Parse JSON').first().json.summe_brutto }},\n    'expense_category', COALESCE(NULLIF('{{ $('🏢 Match Supplier').first().json.default_expense_category }}', ''), '{{ $('📋 Parse JSON').first().json.expense_category }}'),\n    'positions_count', {{ $('📋 Parse JSON').first().json.positionen_count }},\n    'needs_assignment', {{ $('📋 Parse JSON').first().json.needs_assignment }},\n    'original_filename', '{{ $('📋 Parse JSON').first().json.original_filename }}',\n    'queue_id', '{{ $('📋 Parse JSON').first().json.queue_id }}'\n  ),\n  'n8n',\n  'M4_01b_Receipt_Processor'\n)\nRETURNING id::text;","options":{}},"id":"0b89f5d2-3614-4a87-8797-b162858955f6","name":"📢 Create Event","type":"n8n-nodes-base.postgres","position":[7504,1280],"typeVersion":2.5,"executeOnce":true,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"chatId":"6088921678","text":"=📄 *Beleg verarbeitet*\n\n🏢 Lieferant: {{ $('🏢 Match Supplier').first().json.supplier_code }} ({{ $('🏢 Match Supplier').first().json.match_type }})\n💰 Betrag: {{ $('📋 Parse JSON').first().json.summe_brutto.toFixed(2).replace('.', ',') }}€\n📁 Kategorie: {{ $('🏢 Match Supplier').first().json.default_expense_category || $('📋 Parse JSON').first().json.expense_category }}\n📦 Positionen: {{ $('📋 Parse JSON').first().json.positionen_count }}\n\n{{ $('📋 Parse JSON').first().json.needs_assignment ? '⚠️ Projekt-Zuordnung erforderlich' : '✅ Gemeinkosten (keine Zuordnung nötig)' }}\n\n📎 Datei: {{ $('📋 Parse JSON').first().json.original_filename }}","additionalFields":{"parse_mode":"Markdown"}},"id":"844d0436-c0bf-48ee-87a3-5ea63abadf14","name":"📱 Telegram Notify","type":"n8n-nodes-base.telegram","position":[7696,1280],"typeVersion":1.2,"executeOnce":true,"webhookId":"d4e9b60f-b7d9-4ca7-8af3-09387fa497e8","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"jsCode":"// V2: Build MX_02 Request using CORRECTED invoice_date from Merge Corrections\nconst invoiceDate = $('🔧 Merge Corrections').first().json.rechnung_datum;\n\n// Parse date (Format: \"2026-01-14\")\nlet date;\nif (invoiceDate && invoiceDate.includes('-')) {\n  date = new Date(invoiceDate);\n} else if (invoiceDate && invoiceDate.includes('.')) {\n  const [day, month, year] = invoiceDate.split('.');\n  date = new Date(`${year}-${month}-${day}`);\n} else {\n  date = new Date();\n}\n\nconst year = date.getFullYear().toString();\nconst monthNames = [\n  '01-Januar', '02-Februar', '03-März', '04-April',\n  '05-Mai', '06-Juni', '07-Juli', '08-August',\n  '09-September', '10-Oktober', '11-November', '12-Dezember'\n];\nconst month = monthNames[date.getMonth()];\n\nreturn {\n  json: {\n    folder_type: 'buchhaltung_month',\n    year: year,\n    month: month,\n    full_path: `Buchhaltung/VERARBEITET/${year}/${month}`\n  }\n};"},"id":"9da8be2e-897f-497d-85a4-44b1ee7c0091","name":"📧 Build MX_02 Request","type":"n8n-nodes-base.code","position":[7888,1280],"typeVersion":2,"notes":"V2: Uses invoice_date instead of new Date()"},{"parameters":{"method":"POST","url":"https://n8n.srv1045913.hstgr.cloud/webhook/mx-02-folder-manager","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{"timeout":30000}},"id":"aff3b571-117d-4e36-b50b-e505b14c43ff","name":"📥 Get Folder via MX_02","type":"n8n-nodes-base.httpRequest","position":[8080,1280],"typeVersion":4.2,"notes":"Self-healing: Always returns folder_id"},{"parameters":{"operation":"move","fileId":{"__rl":true,"mode":"id","value":"={{ $('📋 Parse JSON').first().json.drive_file_id }}"},"driveId":{"__rl":true,"value":"0AJjEr9yREQspUk9PVA","mode":"id"},"folderId":{"__rl":true,"value":"={{ $json.folder_id }}","mode":"id"}},"id":"d5ed27af-2621-43d8-b3f9-d7b02aebe5da","name":"✅ Move to VERARBEITET","type":"n8n-nodes-base.googleDrive","position":[8272,1280],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"aYft6Y1rBlcl2pcf","name":"Google Drive account"}},"notes":"V2: Uses folder_id from MX_02 response"},{"parameters":{"operation":"executeQuery","query":"SELECT complete_receipt_processing(\n  '{{ $('📋 Parse JSON').first().json.queue_id }}'::uuid,\n  '{{ $('📄 Create Invoice').first().json.id }}'::uuid\n);","options":{}},"id":"aa29f5ea-d1b3-4e6c-81e0-945544984bce","name":"✅ Complete Queue","type":"n8n-nodes-base.postgres","position":[8464,1280],"typeVersion":2.5,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"assignments":{"assignments":[{"id":"status","name":"status","value":"success","type":"string"},{"id":"invoice","name":"invoice_id","value":"={{ $('📄 Create Invoice').first().json.id }}","type":"string"},{"id":"supplier","name":"supplier_code","value":"={{ $('🏢 Match Supplier').first().json.supplier_code }}","type":"string"},{"id":"amount","name":"total_gross","value":"={{ $('📋 Parse JSON').first().json.summe_brutto }}","type":"number"},{"id":"moved_to","name":"moved_to","value":"={{ $('📥 Get Folder via MX_02').first().json.full_path }}","type":"string"}]},"options":{}},"id":"6a3cae42-563c-4a24-9fd9-f67a1e6923d7","name":"📊 Set Output","type":"n8n-nodes-base.set","position":[8656,1280],"typeVersion":3.4},{"parameters":{"jsCode":"// Queue empty - nothing to process\nreturn [{\n  json: {\n    status: 'idle',\n    message: 'Queue leer - nichts zu verarbeiten'\n  }\n}];"},"id":"198c19d6-305c-4a5c-a405-486914496882","name":"💤 Queue Empty","type":"n8n-nodes-base.code","position":[4560,1456],"typeVersion":2},{"parameters":{"operation":"executeQuery","query":"SELECT fail_receipt_processing(\n  '{{ ($items('🔒 Claim Next').find(i => i.json.queue_id) || $items('🔒 Claim Next')[$items('🔒 Claim Next').length-1]).json.queue_id }}'::uuid,\n  'Claude Vision Error: {{ ($json.error?.message || \"Overloaded\").replace(/'/g, \"''\") }}'\n);","options":{}},"id":"41fcde1e-b0e3-44e5-9eaa-51e30dc8d460","name":"❌ Fail (Claude)","type":"n8n-nodes-base.postgres","position":[4960,1456],"typeVersion":2.5,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"chatId":"6088921678","text":"=❌ *Beleg-Verarbeitung fehlgeschlagen*\n\n📎 {{ ($items('🔒 Claim Next').find(i => i.json.queue_id) || $items('🔒 Claim Next')[$items('🔒 Claim Next').length-1]).json.file_name }}\n🔄 Versuch: {{ ($items('🔒 Claim Next').find(i => i.json.queue_id) || $items('🔒 Claim Next')[$items('🔒 Claim Next').length-1]).json.attempt_number }}/3\n\n⚠️ Wird automatisch erneut versucht","additionalFields":{"parse_mode":"Markdown"}},"id":"307e22b0-3c76-4f97-ac8f-d2f9c15c23dd","name":"📱 Notify Error","type":"n8n-nodes-base.telegram","position":[5152,1456],"typeVersion":1.2,"webhookId":"c90c0433-0579-4948-bc25-e1237385bdd2","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO products (\n  name,\n  supplier_id,\n  sku,\n  last_price_net_eur,\n  last_price_date,\n  unit,\n  category,\n  source,\n  source_reference\n)\nVALUES (\n  '{{ $json.description }}',\n  '{{ $json.supplier_id }}'::uuid,\n  '{{ $json.product_sku }}',\n  {{ $json.unit_price_net }},\n  '{{ $json.invoice_date }}'::date,\n  '{{ $json.unit }}',\n  {{ $json.product_category ? \"'\" + $json.product_category + \"'\" : 'NULL' }},\n  'invoice_import',\n  '{{ $json.invoice_id }}'\n)\nON CONFLICT (supplier_id, sku) \nDO UPDATE SET\n  last_price_net_eur = EXCLUDED.last_price_net_eur,\n  last_price_date = EXCLUDED.last_price_date,\n  updated_at = now()\nRETURNING id::text;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[6976,1168],"id":"0987ada4-74d0-472f-98b6-707f36726868","name":"📦 Upsert Product","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"// Split positions + generate SKU for product pool\nconst positions = $('📋 Parse JSON').first().json.positionen || [];\nconst invoiceId = $('📄 Create Invoice').first().json.id;\nconst supplierId = $('🏢 Match Supplier').first().json.supplier_id;\n\n// Hash für Artikel ohne SKU\nconst simpleHash = (str) => {\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    const char = str.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return 'GEN-' + Math.abs(hash).toString(16).toUpperCase().substring(0, 8);\n};\n\nreturn positions.map((pos, idx) => {\n  const description = (pos.beschreibung || 'Unbekannt').replace(/'/g, \"''\");\n  const articleNumber = pos.artikel_nummer || '';\n  const sku = articleNumber || simpleHash(description + supplierId);\n  \n  return {\n    json: {\n      invoice_id: invoiceId,\n      supplier_id: supplierId,\n      position_number: idx + 1,\n      article_number: articleNumber,\n      description: description,\n      quantity: pos.menge || 1,\n      unit: pos.einheit || 'Stk',\n      unit_price_net: Math.round((Number(pos.einzelpreis_brutto) || 0) / 1.19 * 100) / 100,\n      product_sku: sku,\n      product_category: pos.kategorie || null,\n      invoice_date: $('📋 Parse JSON').first().json.rechnung_datum\n    }\n  };\n});"},"id":"be23436f-984e-4589-8e6e-072a3f2609cc","name":"📦 Split Positions","type":"n8n-nodes-base.code","position":[6784,1168],"typeVersion":2},{"parameters":{"jsCode":"// Get parsed data from previous node\nconst parsed = $input.first().json;\n\n// Get binary from Download File (weiter oben im Flow)\nconst downloadNode = $('📥 Download File').first();\nconst binary = downloadNode.binary?.receipt_file;\n\n// Pass everything through\nreturn [{\n  json: { ...parsed },\n  binary: { receipt_file: binary }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5520,1280],"id":"96bfcfca-2e63-48cb-9eaa-003559c26b54","name":"🔧 Prep Validator"},{"parameters":{"resource":"document","modelId":{"__rl":true,"value":"models/gemini-3-flash-preview","mode":"list","cachedResultName":"models/gemini-3-flash-preview"},"text":"Du bist ein Daten-Validator für Belege.\n\nAKTUELLES DATUM: {{ $now.format('yyyy-MM-dd') }}\n\nEXTRAHIERTE DATEN (von anderer AI):\n{{ JSON.stringify({\n  rechnung_datum: $json.rechnung_datum,\n  rechnung_nummer: $json.rechnung_nummer,\n  lieferant_name: $json.lieferant_name,\n  summe_brutto: $json.summe_brutto,\n  summe_netto: $json.summe_netto,\n  mwst_prozent: $json.mwst_prozent,\n  positionen_count: $json.positionen_count\n}) }}\n\nPRÜFE gegen das Original-Dokument:\n\n1. DATUM: Jahr muss 2020-2030 sein. Bei \"24\" oder \"26\" → 2024/2026, NICHT 2014\n2. BETRÄGE: brutto > netto, brutto ≈ netto × 1.19 (±2€)\n3. LIEFERANT + RECHNUNGSNUMMER: Stimmen mit Beleg überein?\n\nAUSGABE NUR JSON:\n{\"valid\":true,\"corrections\":{},\"confidence\":0.95,\"issues\":[]}\n\nBei Korrekturen:\n{\"valid\":false,\"corrections\":{\"rechnung_datum\":\"2024-01-26\"},\"confidence\":0.85,\"issues\":[\"Jahr korrigiert: 2014→2024\"]}","inputType":"binary","binaryPropertyName":"receipt_file","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[5728,1280],"id":"9a06887a-3376-40c8-a99c-98b9d29ed512","name":"🔍 Gemini Validator","credentials":{"googlePalmApi":{"id":"rqgijFs7YZOdtthC","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"// Get original parsed data\nconst parsed = $('📋 Parse JSON').first().json;\n\n// Get Gemini response - native node structure\nconst geminiResponse = $input.first().json;\n\nlet result = { ...parsed };\n\n// Parse Gemini response\nlet validatorData;\ntry {\n  // Gemini returns: content.parts[0].text with markdown wrapper\n  const text = geminiResponse.content?.parts?.[0]?.text || \n               geminiResponse.text || \n               JSON.stringify(geminiResponse);\n  const cleanJson = text.replace(/```json\\s*/gi, '').replace(/```/g, '').trim();\n  validatorData = JSON.parse(cleanJson);\n} catch (e) {\n  return [{ \n    json: { \n      ...result, \n      _validation_skipped: true,\n      _validation_error: e.message \n    }\n  }];\n}\n\n// Apply corrections\nif (validatorData.corrections) {\n  for (const [key, value] of Object.entries(validatorData.corrections)) {\n    result[key] = value;\n  }\n}\n\n// Recalculate due_date if datum corrected\nif (validatorData.corrections?.rechnung_datum) {\n  const d = new Date(validatorData.corrections.rechnung_datum);\n  d.setDate(d.getDate() + (result.payment_terms_days || 14));\n  result.due_date = d.toISOString().split('T')[0];\n}\n\n// Add validation metadata\nresult._validated = validatorData.valid;\nresult._confidence = validatorData.confidence;\nresult._issues = validatorData.issues || [];\n\nreturn [{ json: result }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5936,1280],"id":"e9090372-6463-4fd1-8035-8076ec44864e","name":"🔧 Merge Corrections"}],"connections":{"⏰ Every 30s":{"main":[[{"node":"🔒 Claim Next","type":"main","index":0}]]},"🔒 Claim Next":{"main":[[{"node":"❓ Got Item?","type":"main","index":0}]]},"❓ Got Item?":{"main":[[{"node":"📥 Download File","type":"main","index":0}],[{"node":"💤 Queue Empty","type":"main","index":0}]]},"📥 Download File":{"main":[[{"node":"🤖 Claude Vision","type":"main","index":0}]]},"🤖 Claude Vision":{"main":[[{"node":"🔧 Prepare Upload","type":"main","index":0}],[{"node":"❌ Fail (Claude)","type":"main","index":0}]]},"🔧 Prepare Upload":{"main":[[{"node":"📤 Upload to Storage","type":"main","index":0}]]},"📤 Upload to Storage":{"main":[[{"node":"📋 Parse JSON","type":"main","index":0}]]},"📋 Parse JSON":{"main":[[{"node":"🔧 Prep Validator","type":"main","index":0}]]},"🏢 Match Supplier":{"main":[[{"node":"📄 Create Invoice","type":"main","index":0}]]},"📄 Create Invoice":{"main":[[{"node":"❓ Has Positions?","type":"main","index":0}]]},"❓ Has Positions?":{"main":[[{"node":"📦 Split Positions","type":"main","index":0}],[{"node":"📢 Create Event","type":"main","index":0}]]},"📦 Process Item":{"main":[[{"node":"📢 Create Event","type":"main","index":0}]]},"📢 Create Event":{"main":[[{"node":"📱 Telegram Notify","type":"main","index":0}]]},"📱 Telegram Notify":{"main":[[{"node":"📧 Build MX_02 Request","type":"main","index":0}]]},"📧 Build MX_02 Request":{"main":[[{"node":"📥 Get Folder via MX_02","type":"main","index":0}]]},"📥 Get Folder via MX_02":{"main":[[{"node":"✅ Move to VERARBEITET","type":"main","index":0}]]},"✅ Move to VERARBEITET":{"main":[[{"node":"✅ Complete Queue","type":"main","index":0}]]},"✅ Complete Queue":{"main":[[{"node":"📊 Set Output","type":"main","index":0}]]},"❌ Fail (Claude)":{"main":[[{"node":"📱 Notify Error","type":"main","index":0}]]},"📦 Upsert Product":{"main":[[{"node":"📦 Process Item","type":"main","index":0}]]},"📦 Split Positions":{"main":[[{"node":"📦 Upsert Product","type":"main","index":0}]]},"🔧 Prep Validator":{"main":[[{"node":"🔍 Gemini Validator","type":"main","index":0}]]},"🔍 Gemini Validator":{"main":[[{"node":"🔧 Merge Corrections","type":"main","index":0}]]},"🔧 Merge Corrections":{"main":[[{"node":"🏢 Match Supplier","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"apmJoMCbOchwfqTp"},"staticData":{"node:⏰ Every 30s":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"⏰ Every 30s":[{"json":{"timestamp":"2026-02-02T14:00:30.007+01:00","Readable date":"February 2nd 2026, 2:00:30 pm","Readable time":"2:00:30 pm","Day of week":"Monday","Year":"2026","Month":"February","Day of month":"02","Hour":"14","Minute":"00","Second":"30","Timezone":"Europe/Berlin (UTC+01:00)"},"pairedItem":{"item":0}}]},"versionId":"74e24874-46fd-429c-b505-c9b9da1bce00","activeVersionId":"74e24874-46fd-429c-b505-c9b9da1bce00","versionCounter":99,"triggerCount":1,"shared":[{"updatedAt":"2026-01-02T08:57:46.915Z","createdAt":"2026-01-02T08:57:46.915Z","role":"workflow:owner","workflowId":"WSy5sWWXY29bW93b","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[{"updatedAt":"2025-12-27T14:08:14.139Z","createdAt":"2025-12-27T14:08:14.139Z","id":"714RSA9Bhf1wHiDN","name":"Automation"},{"updatedAt":"2025-12-27T14:08:14.128Z","createdAt":"2025-12-27T14:08:14.128Z","id":"vCLwYs9NeKDCZ2fe","name":"M4-Material"}],"activeVersion":{"updatedAt":"2026-02-02T14:00:13.000Z","createdAt":"2026-02-02T14:00:12.176Z","versionId":"74e24874-46fd-429c-b505-c9b9da1bce00","workflowId":"WSy5sWWXY29bW93b","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"id":"7cf0e7b7-075a-4781-bb5e-c8041f890ed9","name":"⏰ Every 30s","type":"n8n-nodes-base.scheduleTrigger","position":[3872,1312],"typeVersion":1.2},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_next_receipt();","options":{}},"id":"0aff27e3-fb6b-4519-bcfc-4d67db281f48","name":"🔒 Claim Next","type":"n8n-nodes-base.postgres","position":[4112,1312],"typeVersion":2.5,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-item","leftValue":"={{ $json.queue_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"ca4b5a4e-054f-428a-a9c4-dafdb7af5f64","name":"❓ Got Item?","type":"n8n-nodes-base.if","position":[4336,1312],"typeVersion":2},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.drive_file_id }}"},"options":{"binaryPropertyName":"receipt_file"}},"id":"bcce1517-2672-4818-abc4-b99e9cd289db","name":"📥 Download File","type":"n8n-nodes-base.googleDrive","position":[4560,1296],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"aYft6Y1rBlcl2pcf","name":"Google Drive account"}}},{"parameters":{"resource":"document","modelId":{"__rl":true,"value":"claude-sonnet-4-5-20250929","mode":"list","cachedResultName":"claude-sonnet-4-5-20250929"},"text":"Analysiere diesen Beleg/Rechnung und extrahiere alle Informationen.\n\nSCHRITT 1: Lieferant identifizieren\n- Name wie auf Beleg\n- Kurzcode (z.B. \"HORN\" für Hornbach, max 4 Zeichen, nur Großbuchstaben)\n- Typ: BAUMARKT, GROSSHANDEL, FACHHANDEL, TANKSTELLE, RESTAURANT, SOFTWARE, SONSTIGE\n\nSCHRITT 2: Kostenkategorie bestimmen\n- MATERIAL: Baumärkte, Baustoffhandel, Werkzeug, Fliesen, Sanitär, Elektro\n- SUBCONTRACTOR: Handwerker-Rechnungen, Subunternehmer\n- VEHICLE_FUEL: Tankstellen\n- VEHICLE_RENTAL: Autovermietung, Parken\n- VEHICLE_REPAIR: Werkstatt, Autowäsche\n- ENTERTAINMENT: Restaurant, Café, Bewirtung\n- SOFTWARE: IT-Dienste, Apps\n- OFFICE: Bürobedarf, Telefon\n- DISPOSAL: Entsorgung\n- OTHER: Alles andere\n\nSCHRITT 3: Rechnungsdaten\n- Rechnungsnummer (oder \"UNKNOWN\")\n- Datum (Format: YYYY-MM-DD)\n- Nettobetrag (summe_netto) als Zahl — die Summe OHNE MwSt.\n- Bruttobetrag (summe_brutto) als Zahl — die Endsumme MIT MwSt. (der höhere Betrag)\n- MwSt-Satz (meist 19)\n\nWICHTIG: summe_brutto ist IMMER der ENDPREIS (der höchste Betrag auf der Rechnung).\nsumme_netto ist die Summe VOR der MwSt. Es gilt: summe_brutto = summe_netto * (1 + mwst_prozent/100)\n\nSCHRITT 4: Zahlungsinformationen\n- IBAN (falls auf Rechnung, sonst \"\")\n- BIC (falls vorhanden, sonst \"\")\n- Zahlungsziel in Tagen (aus Text wie \"zahlbar innerhalb 14 Tagen\" - falls nicht angegeben: 14)\n- Fälligkeitsdatum (Rechnungsdatum + Zahlungsziel, Format: YYYY-MM-DD)\n- Skonto Prozent (falls angegeben, sonst 0)\n- Skonto Tage (falls angegeben, sonst 0)\n\nSCHRITT 5: Positionen (maximal 20)\nFür jeden Artikel:\n- artikel_nummer (falls vorhanden, sonst \"\")\n- beschreibung (wie auf Beleg)\n- internal_name (kleinbuchstaben, ohne Marke, normalisiert)\n- menge als Zahl\n- einheit (Stk, kg, m, m², l, Pack)\n- einzelpreis_brutto als Zahl\n- kategorie (z.B. Elektroinstallation, Sanitär, Werkzeug, Baustoffe)\n\nAUSGABE: Nur JSON, keine Backticks, kein Markdown, keine Erklärung.\n\n{\"lieferant\":{\"name\":\"Musterfirma GmbH\",\"code\":\"MUST\",\"typ\":\"GROSSHANDEL\"},\"expense_category\":\"MATERIAL\",\"rechnung\":{\"nummer\":\"R-2025-001\",\"datum\":\"2025-01-15\",\"summe_netto\":100.00,\"summe_brutto\":119.00,\"mwst_prozent\":19},\"zahlung\":{\"iban\":\"DE89370400440532013000\",\"bic\":\"COBADEFFXXX\",\"zahlungsziel_tage\":14,\"faellig_am\":\"2025-01-29\",\"skonto_prozent\":2,\"skonto_tage\":7},\"positionen\":[{\"artikel_nummer\":\"12345\",\"beschreibung\":\"Beispielartikel\",\"internal_name\":\"beispielartikel\",\"menge\":1,\"einheit\":\"Stk\",\"einzelpreis_brutto\":100.00,\"kategorie\":\"Sonstiges\"}]}","inputType":"binary","binaryPropertyName":"receipt_file","options":{"maxTokens":7500}},"id":"181e1965-ae3b-4527-940d-4722c46d8ce3","name":"🤖 Claude Vision","type":"@n8n/n8n-nodes-langchain.anthropic","position":[4752,1296],"typeVersion":1,"credentials":{"anthropicApi":{"id":"DSb7Itt2r6kfGiHs","name":"Anthropic account"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Robust context pick: Claim Next can return 2 rows (reset + claim). Pick the row that actually has queue_id.\nconst claimItems = $items('🔒 Claim Next') || [];\nconst claimItem = claimItems.find(i => i.json && i.json.queue_id) || claimItems[claimItems.length - 1] || { json: {} };\nconst queueData = claimItem.json;\n\nconst downloadItem = $('📥 Download File').first();\nconst downloadJson = downloadItem?.json || {};\nconst downloadBinary = downloadItem?.binary || {};\n\n// File metadata\nconst fileName = queueData.file_name || downloadJson.name || 'UNKNOWN';\nconst mimeType = queueData.mime_type || downloadJson.mimeType || 'application/pdf';\nconst driveFileId = queueData.drive_file_id || downloadJson.id || '';\nconst queueId = queueData.queue_id;\n\n// Claude response (success output of Claude Vision)\nconst claudeResponse = $input.first().json;\n\n// Generate invoice ID\nconst invoiceId = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n  const r = Math.random() * 16 | 0;\n  const v = c === 'x' ? r : (r & 0x3 | 0x8);\n  return v.toString(16);\n});\n\n// Extension bestimmen\nlet extension = 'pdf';\nif (mimeType && mimeType.includes('image/jpeg')) extension = 'jpg';\nelse if (mimeType && mimeType.includes('image/png')) extension = 'png';\nelse if (mimeType && mimeType.includes('image/webp')) extension = 'webp';\n\nconst storagePath = `receipts/${invoiceId}.${extension}`;\n\nreturn {\n  json: {\n    queue_id: queueId,\n    invoice_id: invoiceId,\n    original_filename: fileName,\n    mime_type: mimeType,\n    extension: extension,\n    storage_path: storagePath,\n    storage_filename: `${invoiceId}.${extension}`,\n    drive_file_id: driveFileId,\n    claude_response: claudeResponse\n  },\n  binary: downloadBinary\n};\n"},"id":"ac87c727-597e-4e9c-bdd1-a3563122f506","name":"🔧 Prepare Upload","type":"n8n-nodes-base.code","position":[4960,1280],"typeVersion":2},{"parameters":{"method":"PUT","url":"=https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/receipts/{{ $json.storage_filename }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"={{ $json.mime_type }}"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"receipt_file","options":{}},"id":"1fccad19-a777-4d70-b2ea-b2fbb7f89464","name":"📤 Upload to Storage","type":"n8n-nodes-base.httpRequest","position":[5152,1280],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"n357gpDbnk38oMfi","name":"Supabase Storage Auth"}}},{"parameters":{"jsCode":"// Parse Claude response and merge with upload data\nconst uploadData = $('🔧 Prepare Upload').first().json;\n\n// Get Claude response\nconst claudeNode = $('🤖 Claude Vision').first().json;\nlet claudeResponse;\nif (claudeNode.content && Array.isArray(claudeNode.content)) {\n  claudeResponse = claudeNode.content[0]?.text;\n} else {\n  claudeResponse = claudeNode.content || claudeNode.text || JSON.stringify(claudeNode);\n}\n\n// Clean response - remove markdown\nlet cleanJson = claudeResponse;\nif (typeof cleanJson === 'string') {\n  cleanJson = cleanJson.replace(/```json\\s*/gi, '');\n  cleanJson = cleanJson.replace(/```\\s*/g, '');\n  cleanJson = cleanJson.trim();\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleanJson);\n} catch (e) {\n  throw new Error(`JSON Parse Error: ${e.message}\\n\\nRaw:\\n${cleanJson.substring(0, 500)}`);\n}\n\n// V2: Smart net/gross handling - trust Claude when both provided, fallback to calculation\nconst vatPercent = parsed.rechnung?.mwst_prozent || 19;\nconst rawGross = Number(parsed.rechnung?.summe_brutto) || 0;\nconst rawNet = Number(parsed.rechnung?.summe_netto) || 0;\n\nlet grossAmount, netAmount;\n\nif (rawNet > 0 && rawGross > 0) {\n  // Both provided — validate plausibility\n  const expectedGross = Math.round(rawNet * (1 + vatPercent / 100) * 100) / 100;\n  if (Math.abs(expectedGross - rawGross) < 1.0) {\n    grossAmount = rawGross;\n    netAmount = rawNet;\n  } else {\n    // Inconsistent — trust brutto (Endpreis)\n    grossAmount = rawGross;\n    netAmount = Math.round((rawGross / (1 + vatPercent / 100)) * 100) / 100;\n  }\n} else if (rawGross > 0) {\n  grossAmount = rawGross;\n  netAmount = Math.round((rawGross / (1 + vatPercent / 100)) * 100) / 100;\n} else if (rawNet > 0) {\n  netAmount = rawNet;\n  grossAmount = Math.round(rawNet * (1 + vatPercent / 100) * 100) / 100;\n} else {\n  grossAmount = 0;\n  netAmount = 0;\n}\n\n// Type mapping\nconst typeMapping = {\n  'BAUMARKT': 'BAUMARKT',\n  'GROSSHANDEL': 'GROSSHANDEL',\n  'FACHHANDEL': 'FACHHANDEL',\n  'HERSTELLER': 'HERSTELLER',\n  'ONLINE': 'ONLINE',\n  'TANKSTELLE': 'SONSTIGE',\n  'RESTAURANT': 'SONSTIGE',\n  'SOFTWARE': 'SONSTIGE',\n  'SONSTIGE': 'SONSTIGE'\n};\n\n// Escape SQL\nconst escapeSql = (str) => str ? String(str).replace(/'/g, \"''\") : '';\n\n// Supplier code\nlet supplierCode = parsed.lieferant?.code || parsed.lieferant?.name?.substring(0, 4) || 'UNBK';\nsupplierCode = supplierCode.toUpperCase().replace(/[^A-Z]/g, '').substring(0, 4);\nif (supplierCode.length < 2) supplierCode = 'UNBK';\n\n// Payment data with defaults\nconst zahlung = parsed.zahlung || {};\nconst rechnungsDatum = parsed.rechnung?.datum || new Date().toISOString().split('T')[0];\nconst zahlungszielTage = zahlung.zahlungsziel_tage || 14;\n\n// Calculate due date if not provided\nlet faelligAm = zahlung.faellig_am;\nif (!faelligAm) {\n  const d = new Date(rechnungsDatum);\n  d.setDate(d.getDate() + zahlungszielTage);\n  faelligAm = d.toISOString().split('T')[0];\n}\n\nreturn {\n  queue_id: uploadData.queue_id,\n  invoice_id: uploadData.invoice_id,\n  storage_path: uploadData.storage_path,\n  original_filename: uploadData.original_filename,\n  drive_file_id: uploadData.drive_file_id,\n  \n  // Supplier\n  lieferant_name: parsed.lieferant?.name || 'UNBEKANNT',\n  lieferant_name_escaped: escapeSql(parsed.lieferant?.name || 'UNBEKANNT'),\n  lieferant_code: supplierCode,\n  lieferant_typ: typeMapping[parsed.lieferant?.typ] || 'SONSTIGE',\n  \n  expense_category: parsed.expense_category || 'MATERIAL',\n  \n  // Invoice\n  rechnung_nummer: parsed.rechnung?.nummer || `SCAN-${uploadData.invoice_id.substring(0, 8)}`,\n  rechnung_datum: rechnungsDatum,\n  summe_brutto: grossAmount,\n  summe_netto: netAmount,\n  mwst_prozent: vatPercent,\n  \n  // Payment\n  payment_iban: zahlung.iban || '',\n  payment_bic: zahlung.bic || '',\n  payment_terms_days: zahlungszielTage,\n  due_date: faelligAm,\n  discount_percent: zahlung.skonto_prozent || 0,\n  discount_days: zahlung.skonto_tage || 0,\n  \n  // Positions\n  positionen: parsed.positionen || [],\n  positionen_count: (parsed.positionen || []).length,\n  \n  needs_assignment: ['MATERIAL', 'SUBCONTRACTOR', 'ENTERTAINMENT'].includes(parsed.expense_category)\n};"},"id":"26659fc0-792b-4c60-bbdf-3ceb39b8b8f3","name":"📋 Parse JSON","type":"n8n-nodes-base.code","position":[5344,1280],"typeVersion":2},{"parameters":{"operation":"executeQuery","query":"-- Step 1: Try to find supplier by alias\nWITH alias_match AS (\n  SELECT s.id, s.supplier_code, s.default_expense_category::text\n  FROM suppliers s\n  JOIN supplier_aliases sa ON sa.supplier_id = s.id\n  WHERE LOWER(sa.alias_name) = LOWER('{{ $json.lieferant_name_escaped }}')\n  LIMIT 1\n),\n-- Step 2: Try to find by short_name or code\nname_match AS (\n  SELECT id, supplier_code, default_expense_category::text\n  FROM suppliers\n  WHERE (\n    LOWER(short_name) ILIKE '%' || LOWER('{{ $json.lieferant_name_escaped }}') || '%'\n    OR LOWER(name) ILIKE '%' || LOWER('{{ $json.lieferant_name_escaped }}') || '%'\n    OR supplier_code = '{{ $json.lieferant_code }}'\n  )\n  AND is_active = true\n  AND NOT EXISTS (SELECT 1 FROM alias_match)\n  LIMIT 1\n),\n-- Step 3: Create new if not found\nnew_supplier AS (\n  INSERT INTO suppliers (supplier_code, name, short_name, supplier_type, default_expense_category, is_active)\n  SELECT \n    '{{ $json.lieferant_code }}',\n    '{{ $json.lieferant_name_escaped }}',\n    '{{ $json.lieferant_name_escaped }}',\n    '{{ $json.lieferant_typ }}'::supplier_type,\n    '{{ $json.expense_category }}'::expense_category,\n    true\n  WHERE NOT EXISTS (SELECT 1 FROM alias_match)\n    AND NOT EXISTS (SELECT 1 FROM name_match)\n  ON CONFLICT (supplier_code) DO UPDATE SET updated_at = now()\n  RETURNING id, supplier_code, default_expense_category::text\n)\n-- Return the matched or created supplier\nSELECT \n  COALESCE(am.id, nm.id, ns.id)::text AS supplier_id,\n  COALESCE(am.supplier_code, nm.supplier_code, ns.supplier_code) AS supplier_code,\n  COALESCE(am.default_expense_category, nm.default_expense_category, ns.default_expense_category) AS default_expense_category,\n  CASE \n    WHEN am.id IS NOT NULL THEN 'alias_match'\n    WHEN nm.id IS NOT NULL THEN 'name_match'\n    ELSE 'created'\n  END AS match_type\nFROM (SELECT 1) AS dummy\nLEFT JOIN alias_match am ON true\nLEFT JOIN name_match nm ON true\nLEFT JOIN new_supplier ns ON true;","options":{}},"id":"c0cb6111-c86c-4604-b1fa-a7b7864dc399","name":"🏢 Match Supplier","type":"n8n-nodes-base.postgres","position":[6112,1280],"typeVersion":2.5,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"-- UPSERT: Insert oder Update wenn Duplikat\nINSERT INTO purchase_invoices (\n  id,\n  invoice_number,\n  supplier_id,\n  invoice_date,\n  subtotal_net,\n  vat_percent,\n  status,\n  pdf_storage_path,\n  project_id,\n  notes,\n  due_date\n)\nVALUES (\n  '{{ $('📋 Parse JSON').first().json.invoice_id }}'::uuid,\n  '{{ $('📋 Parse JSON').first().json.rechnung_nummer }}',\n  '{{ $('🏢 Match Supplier').first().json.supplier_id }}'::uuid,\n  '{{ $('📋 Parse JSON').first().json.rechnung_datum }}'::date,\n  {{ $('📋 Parse JSON').first().json.summe_netto }},\n  {{ $('📋 Parse JSON').first().json.mwst_prozent }},\n  'DRAFT'::purchase_invoice_status,\n  '{{ $('📋 Parse JSON').first().json.storage_path }}',\n  NULL,\n  'Automatisch erfasst aus: {{ $('📋 Parse JSON').first().json.original_filename }}',\n  '{{ $('📋 Parse JSON').first().json.due_date }}'::date\n)\nON CONFLICT (supplier_id, invoice_number) \nDO UPDATE SET \n  updated_at = now(),\n  notes = purchase_invoices.notes || ' | Duplicate scan ignored'\nRETURNING id::text, invoice_number, (xmax = 0) as is_new_record;","options":{}},"id":"4055f7f2-c739-4b0c-a8e8-c5a1229628fe","name":"📄 Create Invoice","type":"n8n-nodes-base.postgres","position":[6304,1280],"typeVersion":2.5,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"has-positions","leftValue":"={{ $('📋 Parse JSON').first().json.positionen_count }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"48cfe6ee-01a6-40bb-afda-2cdb6a1e1080","name":"❓ Has Positions?","type":"n8n-nodes-base.if","position":[6496,1280],"typeVersion":2},{"parameters":{"operation":"executeQuery","query":"INSERT INTO purchase_invoice_items (\n  invoice_id,\n  position_number,\n  raw_article_number,\n  raw_description,\n  quantity,\n  unit,\n  unit_price_net\n)\nVALUES (\n  '{{ $('📦 Split Positions').item.json.invoice_id }}'::uuid,\n  {{ $('📦 Split Positions').item.json.position_number }},\n  '{{ $('📦 Split Positions').item.json.article_number }}',\n  '{{ $('📦 Split Positions').item.json.description }}',\n  {{ $('📦 Split Positions').item.json.quantity }},\n  '{{ $('📦 Split Positions').item.json.unit }}',\n  {{ $('📦 Split Positions').item.json.unit_price_net }}\n)\nON CONFLICT (invoice_id, position_number) DO NOTHING\nRETURNING id::text;","options":{}},"id":"71519ab2-f5e2-4d66-94de-f2578ed14dda","name":"📦 Process Item","type":"n8n-nodes-base.postgres","position":[7184,1168],"typeVersion":2.5,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (\n  project_id,\n  event_type,\n  payload,\n  source_system,\n  source_flow\n)\nVALUES (\n  NULL,\n  'PURCHASE_INVOICE_CREATED',\n  jsonb_build_object(\n    'invoice_id', '{{ $('📄 Create Invoice').first().json.id }}',\n    'invoice_number', '{{ $('📄 Create Invoice').first().json.invoice_number }}',\n    'supplier_code', '{{ $('🏢 Match Supplier').first().json.supplier_code }}',\n    'supplier_match_type', '{{ $('🏢 Match Supplier').first().json.match_type }}',\n    'total_gross', {{ $('📋 Parse JSON').first().json.summe_brutto }},\n    'expense_category', COALESCE(NULLIF('{{ $('🏢 Match Supplier').first().json.default_expense_category }}', ''), '{{ $('📋 Parse JSON').first().json.expense_category }}'),\n    'positions_count', {{ $('📋 Parse JSON').first().json.positionen_count }},\n    'needs_assignment', {{ $('📋 Parse JSON').first().json.needs_assignment }},\n    'original_filename', '{{ $('📋 Parse JSON').first().json.original_filename }}',\n    'queue_id', '{{ $('📋 Parse JSON').first().json.queue_id }}'\n  ),\n  'n8n',\n  'M4_01b_Receipt_Processor'\n)\nRETURNING id::text;","options":{}},"id":"0b89f5d2-3614-4a87-8797-b162858955f6","name":"📢 Create Event","type":"n8n-nodes-base.postgres","position":[7504,1280],"typeVersion":2.5,"executeOnce":true,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"chatId":"6088921678","text":"=📄 *Beleg verarbeitet*\n\n🏢 Lieferant: {{ $('🏢 Match Supplier').first().json.supplier_code }} ({{ $('🏢 Match Supplier').first().json.match_type }})\n💰 Betrag: {{ $('📋 Parse JSON').first().json.summe_brutto.toFixed(2).replace('.', ',') }}€\n📁 Kategorie: {{ $('🏢 Match Supplier').first().json.default_expense_category || $('📋 Parse JSON').first().json.expense_category }}\n📦 Positionen: {{ $('📋 Parse JSON').first().json.positionen_count }}\n\n{{ $('📋 Parse JSON').first().json.needs_assignment ? '⚠️ Projekt-Zuordnung erforderlich' : '✅ Gemeinkosten (keine Zuordnung nötig)' }}\n\n📎 Datei: {{ $('📋 Parse JSON').first().json.original_filename }}","additionalFields":{"parse_mode":"Markdown"}},"id":"844d0436-c0bf-48ee-87a3-5ea63abadf14","name":"📱 Telegram Notify","type":"n8n-nodes-base.telegram","position":[7696,1280],"typeVersion":1.2,"executeOnce":true,"webhookId":"d4e9b60f-b7d9-4ca7-8af3-09387fa497e8","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"jsCode":"// V2: Build MX_02 Request using CORRECTED invoice_date from Merge Corrections\nconst invoiceDate = $('🔧 Merge Corrections').first().json.rechnung_datum;\n\n// Parse date (Format: \"2026-01-14\")\nlet date;\nif (invoiceDate && invoiceDate.includes('-')) {\n  date = new Date(invoiceDate);\n} else if (invoiceDate && invoiceDate.includes('.')) {\n  const [day, month, year] = invoiceDate.split('.');\n  date = new Date(`${year}-${month}-${day}`);\n} else {\n  date = new Date();\n}\n\nconst year = date.getFullYear().toString();\nconst monthNames = [\n  '01-Januar', '02-Februar', '03-März', '04-April',\n  '05-Mai', '06-Juni', '07-Juli', '08-August',\n  '09-September', '10-Oktober', '11-November', '12-Dezember'\n];\nconst month = monthNames[date.getMonth()];\n\nreturn {\n  json: {\n    folder_type: 'buchhaltung_month',\n    year: year,\n    month: month,\n    full_path: `Buchhaltung/VERARBEITET/${year}/${month}`\n  }\n};"},"id":"9da8be2e-897f-497d-85a4-44b1ee7c0091","name":"📧 Build MX_02 Request","type":"n8n-nodes-base.code","position":[7888,1280],"typeVersion":2,"notes":"V2: Uses invoice_date instead of new Date()"},{"parameters":{"method":"POST","url":"https://n8n.srv1045913.hstgr.cloud/webhook/mx-02-folder-manager","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{"timeout":30000}},"id":"aff3b571-117d-4e36-b50b-e505b14c43ff","name":"📥 Get Folder via MX_02","type":"n8n-nodes-base.httpRequest","position":[8080,1280],"typeVersion":4.2,"notes":"Self-healing: Always returns folder_id"},{"parameters":{"operation":"move","fileId":{"__rl":true,"mode":"id","value":"={{ $('📋 Parse JSON').first().json.drive_file_id }}"},"driveId":{"__rl":true,"value":"0AJjEr9yREQspUk9PVA","mode":"id"},"folderId":{"__rl":true,"value":"={{ $json.folder_id }}","mode":"id"}},"id":"d5ed27af-2621-43d8-b3f9-d7b02aebe5da","name":"✅ Move to VERARBEITET","type":"n8n-nodes-base.googleDrive","position":[8272,1280],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"aYft6Y1rBlcl2pcf","name":"Google Drive account"}},"notes":"V2: Uses folder_id from MX_02 response"},{"parameters":{"operation":"executeQuery","query":"SELECT complete_receipt_processing(\n  '{{ $('📋 Parse JSON').first().json.queue_id }}'::uuid,\n  '{{ $('📄 Create Invoice').first().json.id }}'::uuid\n);","options":{}},"id":"aa29f5ea-d1b3-4e6c-81e0-945544984bce","name":"✅ Complete Queue","type":"n8n-nodes-base.postgres","position":[8464,1280],"typeVersion":2.5,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"assignments":{"assignments":[{"id":"status","name":"status","value":"success","type":"string"},{"id":"invoice","name":"invoice_id","value":"={{ $('📄 Create Invoice').first().json.id }}","type":"string"},{"id":"supplier","name":"supplier_code","value":"={{ $('🏢 Match Supplier').first().json.supplier_code }}","type":"string"},{"id":"amount","name":"total_gross","value":"={{ $('📋 Parse JSON').first().json.summe_brutto }}","type":"number"},{"id":"moved_to","name":"moved_to","value":"={{ $('📥 Get Folder via MX_02').first().json.full_path }}","type":"string"}]},"options":{}},"id":"6a3cae42-563c-4a24-9fd9-f67a1e6923d7","name":"📊 Set Output","type":"n8n-nodes-base.set","position":[8656,1280],"typeVersion":3.4},{"parameters":{"jsCode":"// Queue empty - nothing to process\nreturn [{\n  json: {\n    status: 'idle',\n    message: 'Queue leer - nichts zu verarbeiten'\n  }\n}];"},"id":"198c19d6-305c-4a5c-a405-486914496882","name":"💤 Queue Empty","type":"n8n-nodes-base.code","position":[4560,1456],"typeVersion":2},{"parameters":{"operation":"executeQuery","query":"SELECT fail_receipt_processing(\n  '{{ ($items('🔒 Claim Next').find(i => i.json.queue_id) || $items('🔒 Claim Next')[$items('🔒 Claim Next').length-1]).json.queue_id }}'::uuid,\n  'Claude Vision Error: {{ ($json.error?.message || \"Overloaded\").replace(/'/g, \"''\") }}'\n);","options":{}},"id":"41fcde1e-b0e3-44e5-9eaa-51e30dc8d460","name":"❌ Fail (Claude)","type":"n8n-nodes-base.postgres","position":[4960,1456],"typeVersion":2.5,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"chatId":"6088921678","text":"=❌ *Beleg-Verarbeitung fehlgeschlagen*\n\n📎 {{ ($items('🔒 Claim Next').find(i => i.json.queue_id) || $items('🔒 Claim Next')[$items('🔒 Claim Next').length-1]).json.file_name }}\n🔄 Versuch: {{ ($items('🔒 Claim Next').find(i => i.json.queue_id) || $items('🔒 Claim Next')[$items('🔒 Claim Next').length-1]).json.attempt_number }}/3\n\n⚠️ Wird automatisch erneut versucht","additionalFields":{"parse_mode":"Markdown"}},"id":"307e22b0-3c76-4f97-ac8f-d2f9c15c23dd","name":"📱 Notify Error","type":"n8n-nodes-base.telegram","position":[5152,1456],"typeVersion":1.2,"webhookId":"c90c0433-0579-4948-bc25-e1237385bdd2","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO products (\n  name,\n  supplier_id,\n  sku,\n  last_price_net_eur,\n  last_price_date,\n  unit,\n  category,\n  source,\n  source_reference\n)\nVALUES (\n  '{{ $json.description }}',\n  '{{ $json.supplier_id }}'::uuid,\n  '{{ $json.product_sku }}',\n  {{ $json.unit_price_net }},\n  '{{ $json.invoice_date }}'::date,\n  '{{ $json.unit }}',\n  {{ $json.product_category ? \"'\" + $json.product_category + \"'\" : 'NULL' }},\n  'invoice_import',\n  '{{ $json.invoice_id }}'\n)\nON CONFLICT (supplier_id, sku) \nDO UPDATE SET\n  last_price_net_eur = EXCLUDED.last_price_net_eur,\n  last_price_date = EXCLUDED.last_price_date,\n  updated_at = now()\nRETURNING id::text;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[6976,1168],"id":"0987ada4-74d0-472f-98b6-707f36726868","name":"📦 Upsert Product","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"// Split positions + generate SKU for product pool\nconst positions = $('📋 Parse JSON').first().json.positionen || [];\nconst invoiceId = $('📄 Create Invoice').first().json.id;\nconst supplierId = $('🏢 Match Supplier').first().json.supplier_id;\n\n// Hash für Artikel ohne SKU\nconst simpleHash = (str) => {\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    const char = str.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return 'GEN-' + Math.abs(hash).toString(16).toUpperCase().substring(0, 8);\n};\n\nreturn positions.map((pos, idx) => {\n  const description = (pos.beschreibung || 'Unbekannt').replace(/'/g, \"''\");\n  const articleNumber = pos.artikel_nummer || '';\n  const sku = articleNumber || simpleHash(description + supplierId);\n  \n  return {\n    json: {\n      invoice_id: invoiceId,\n      supplier_id: supplierId,\n      position_number: idx + 1,\n      article_number: articleNumber,\n      description: description,\n      quantity: pos.menge || 1,\n      unit: pos.einheit || 'Stk',\n      unit_price_net: Math.round((Number(pos.einzelpreis_brutto) || 0) / 1.19 * 100) / 100,\n      product_sku: sku,\n      product_category: pos.kategorie || null,\n      invoice_date: $('📋 Parse JSON').first().json.rechnung_datum\n    }\n  };\n});"},"id":"be23436f-984e-4589-8e6e-072a3f2609cc","name":"📦 Split Positions","type":"n8n-nodes-base.code","position":[6784,1168],"typeVersion":2},{"parameters":{"jsCode":"// Get parsed data from previous node\nconst parsed = $input.first().json;\n\n// Get binary from Download File (weiter oben im Flow)\nconst downloadNode = $('📥 Download File').first();\nconst binary = downloadNode.binary?.receipt_file;\n\n// Pass everything through\nreturn [{\n  json: { ...parsed },\n  binary: { receipt_file: binary }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5520,1280],"id":"96bfcfca-2e63-48cb-9eaa-003559c26b54","name":"🔧 Prep Validator"},{"parameters":{"resource":"document","modelId":{"__rl":true,"value":"models/gemini-3-flash-preview","mode":"list","cachedResultName":"models/gemini-3-flash-preview"},"text":"Du bist ein Daten-Validator für Belege.\n\nAKTUELLES DATUM: {{ $now.format('yyyy-MM-dd') }}\n\nEXTRAHIERTE DATEN (von anderer AI):\n{{ JSON.stringify({\n  rechnung_datum: $json.rechnung_datum,\n  rechnung_nummer: $json.rechnung_nummer,\n  lieferant_name: $json.lieferant_name,\n  summe_brutto: $json.summe_brutto,\n  summe_netto: $json.summe_netto,\n  mwst_prozent: $json.mwst_prozent,\n  positionen_count: $json.positionen_count\n}) }}\n\nPRÜFE gegen das Original-Dokument:\n\n1. DATUM: Jahr muss 2020-2030 sein. Bei \"24\" oder \"26\" → 2024/2026, NICHT 2014\n2. BETRÄGE: brutto > netto, brutto ≈ netto × 1.19 (±2€)\n3. LIEFERANT + RECHNUNGSNUMMER: Stimmen mit Beleg überein?\n\nAUSGABE NUR JSON:\n{\"valid\":true,\"corrections\":{},\"confidence\":0.95,\"issues\":[]}\n\nBei Korrekturen:\n{\"valid\":false,\"corrections\":{\"rechnung_datum\":\"2024-01-26\"},\"confidence\":0.85,\"issues\":[\"Jahr korrigiert: 2014→2024\"]}","inputType":"binary","binaryPropertyName":"receipt_file","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[5728,1280],"id":"9a06887a-3376-40c8-a99c-98b9d29ed512","name":"🔍 Gemini Validator","credentials":{"googlePalmApi":{"id":"rqgijFs7YZOdtthC","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"// Get original parsed data\nconst parsed = $('📋 Parse JSON').first().json;\n\n// Get Gemini response - native node structure\nconst geminiResponse = $input.first().json;\n\nlet result = { ...parsed };\n\n// Parse Gemini response\nlet validatorData;\ntry {\n  // Gemini returns: content.parts[0].text with markdown wrapper\n  const text = geminiResponse.content?.parts?.[0]?.text || \n               geminiResponse.text || \n               JSON.stringify(geminiResponse);\n  const cleanJson = text.replace(/```json\\s*/gi, '').replace(/```/g, '').trim();\n  validatorData = JSON.parse(cleanJson);\n} catch (e) {\n  return [{ \n    json: { \n      ...result, \n      _validation_skipped: true,\n      _validation_error: e.message \n    }\n  }];\n}\n\n// Apply corrections\nif (validatorData.corrections) {\n  for (const [key, value] of Object.entries(validatorData.corrections)) {\n    result[key] = value;\n  }\n}\n\n// Recalculate due_date if datum corrected\nif (validatorData.corrections?.rechnung_datum) {\n  const d = new Date(validatorData.corrections.rechnung_datum);\n  d.setDate(d.getDate() + (result.payment_terms_days || 14));\n  result.due_date = d.toISOString().split('T')[0];\n}\n\n// Add validation metadata\nresult._validated = validatorData.valid;\nresult._confidence = validatorData.confidence;\nresult._issues = validatorData.issues || [];\n\nreturn [{ json: result }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5936,1280],"id":"e9090372-6463-4fd1-8035-8076ec44864e","name":"🔧 Merge Corrections"}],"connections":{"⏰ Every 30s":{"main":[[{"node":"🔒 Claim Next","type":"main","index":0}]]},"🔒 Claim Next":{"main":[[{"node":"❓ Got Item?","type":"main","index":0}]]},"❓ Got Item?":{"main":[[{"node":"📥 Download File","type":"main","index":0}],[{"node":"💤 Queue Empty","type":"main","index":0}]]},"📥 Download File":{"main":[[{"node":"🤖 Claude Vision","type":"main","index":0}]]},"🤖 Claude Vision":{"main":[[{"node":"🔧 Prepare Upload","type":"main","index":0}],[{"node":"❌ Fail (Claude)","type":"main","index":0}]]},"🔧 Prepare Upload":{"main":[[{"node":"📤 Upload to Storage","type":"main","index":0}]]},"📤 Upload to Storage":{"main":[[{"node":"📋 Parse JSON","type":"main","index":0}]]},"📋 Parse JSON":{"main":[[{"node":"🔧 Prep Validator","type":"main","index":0}]]},"🏢 Match Supplier":{"main":[[{"node":"📄 Create Invoice","type":"main","index":0}]]},"📄 Create Invoice":{"main":[[{"node":"❓ Has Positions?","type":"main","index":0}]]},"❓ Has Positions?":{"main":[[{"node":"📦 Split Positions","type":"main","index":0}],[{"node":"📢 Create Event","type":"main","index":0}]]},"📦 Process Item":{"main":[[{"node":"📢 Create Event","type":"main","index":0}]]},"📢 Create Event":{"main":[[{"node":"📱 Telegram Notify","type":"main","index":0}]]},"📱 Telegram Notify":{"main":[[{"node":"📧 Build MX_02 Request","type":"main","index":0}]]},"📧 Build MX_02 Request":{"main":[[{"node":"📥 Get Folder via MX_02","type":"main","index":0}]]},"📥 Get Folder via MX_02":{"main":[[{"node":"✅ Move to VERARBEITET","type":"main","index":0}]]},"✅ Move to VERARBEITET":{"main":[[{"node":"✅ Complete Queue","type":"main","index":0}]]},"✅ Complete Queue":{"main":[[{"node":"📊 Set Output","type":"main","index":0}]]},"❌ Fail (Claude)":{"main":[[{"node":"📱 Notify Error","type":"main","index":0}]]},"📦 Upsert Product":{"main":[[{"node":"📦 Process Item","type":"main","index":0}]]},"📦 Split Positions":{"main":[[{"node":"📦 Upsert Product","type":"main","index":0}]]},"🔧 Prep Validator":{"main":[[{"node":"🔍 Gemini Validator","type":"main","index":0}]]},"🔍 Gemini Validator":{"main":[[{"node":"🔧 Merge Corrections","type":"main","index":0}]]},"🔧 Merge Corrections":{"main":[[{"node":"🏢 Match Supplier","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version 74e24874","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-02T14:00:13.748Z","id":530,"workflowId":"WSy5sWWXY29bW93b","versionId":"74e24874-46fd-429c-b505-c9b9da1bce00","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}