n8n-workflows/M4_08_Schedule_Order_Trigger.json
{"updatedAt":"2026-02-27T23:25:09.535Z","createdAt":"2026-02-23T13:50:52.810Z","id":"Ycs3lFXe5JCFDIo1","name":"M4_08_Schedule_Order_Trigger","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 7 * * *"}]}},"id":"f586f130-e457-4e75-82da-c7468e7fbd9d","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-656,112]},{"parameters":{"operation":"executeQuery","query":"SELECT \n  p.id AS project_id,\n  p.project_number,\n  p.name AS project_name,\n  sp.trade,\n  sp.start_date,\n  sp.start_date - CURRENT_DATE AS days_until,\n  (SELECT COUNT(*) FROM project_material_needs pmn \n   WHERE pmn.project_id = p.id AND pmn.source = 'auto' AND pmn.status = 'planned'\n   AND pmn.trade = sp.trade\n  ) AS unordered_count,\n  (SELECT COALESCE(SUM(pmn.total_quantity * COALESCE(pmn.unit_price_net, 0)), 0)\n   FROM project_material_needs pmn \n   WHERE pmn.project_id = p.id AND pmn.source = 'auto' AND pmn.status = 'planned'\n   AND pmn.trade = sp.trade\n  ) AS unordered_value\nFROM schedule_phases sp\nJOIN projects p ON p.id = sp.project_id\nWHERE sp.status NOT IN ('cancelled', 'completed')\n  AND sp.start_date BETWEEN CURRENT_DATE AND CURRENT_DATE + INTERVAL '5 days'\n  AND EXISTS (\n    SELECT 1 FROM project_material_needs pmn \n    WHERE pmn.project_id = p.id AND pmn.source = 'auto' AND pmn.status = 'planned'\n    AND pmn.trade = sp.trade\n  )\n  AND p.status NOT IN ('COMPLETED', 'CANCELLED', 'ARCHIVED')\nORDER BY sp.start_date, p.project_number;","options":{}},"id":"2dacfd6d-4bdf-4d5c-8794-73e808230be6","name":"Find Upcoming Unordered","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-448,112],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-results-check","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}]},"options":{}},"id":"51f75dbf-f57f-46c5-ac77-268f7a64606b","name":"IF Has Results","type":"n8n-nodes-base.if","typeVersion":2,"position":[-224,112]},{"parameters":{"jsCode":"const rows = $input.all().map(r => r.json);\n\n// Group by project\nconst byProject = {};\nfor (const r of rows) {\n  if (!byProject[r.project_id]) {\n    byProject[r.project_id] = {\n      project_id: r.project_id,\n      project_number: r.project_number,\n      project_name: r.project_name,\n      phases: []\n    };\n  }\n  byProject[r.project_id].phases.push({\n    trade: r.trade,\n    days_until: Number(r.days_until),\n    start_date: r.start_date,\n    unordered_count: Number(r.unordered_count),\n    unordered_value: Number(r.unordered_value)\n  });\n}\n\nconst projects = Object.values(byProject);\nlet lines = [];\nlines.push('⏰ <b>Material-Erinnerung</b>');\nlines.push('');\n\nfor (const proj of projects) {\n  lines.push(`<b>${proj.project_number}</b> – ${proj.project_name}`);\n  for (const phase of proj.phases) {\n    const urgency = phase.days_until <= 2 ? '🔴' : phase.days_until <= 3 ? '🟡' : '🟢';\n    const dateStr = new Date(phase.start_date).toLocaleDateString('de-DE');\n    lines.push(`${urgency} <b>${phase.trade}</b> startet in ${phase.days_until} Tagen (${dateStr})`);\n    lines.push(`   ${phase.unordered_count} Materialien nicht bestellt (~€${phase.unordered_value.toFixed(0)})`);\n  }\n  \n  const orderUrl = `https://n8n.srv1045913.hstgr.cloud/webhook/m4-07-order-approve?project_id=${proj.project_id}&action=approve`;\n  lines.push(`   → <a href=\"${orderUrl}\">Jetzt bestellen</a>`);\n  lines.push('');\n}\n\nreturn [{ json: { text: lines.join('\\n'), projectCount: projects.length } }];"},"id":"df239022-ad4b-4cec-9f7a-590e63dc6853","name":"Format Reminder","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0]},{"parameters":{"chatId":"6088921678","text":"={{ $json.text }}","additionalFields":{"parse_mode":"HTML"}},"id":"2facd60f-c117-4228-bf62-629930cb5da9","name":"Send Telegram Reminder","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[224,0],"webhookId":"e8e6ba02-29d8-4a30-8b94-28a9d98eed63","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{},"id":"3003cec0-c0f6-4385-a0b2-7613bc4ce718","name":"No Action","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,224]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Find Upcoming Unordered","type":"main","index":0}]]},"Find Upcoming Unordered":{"main":[[{"node":"IF Has Results","type":"main","index":0}]]},"IF Has Results":{"main":[[{"node":"Format Reminder","type":"main","index":0}],[{"node":"No Action","type":"main","index":0}]]},"Format Reminder":{"main":[[{"node":"Send Telegram Reminder","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true,"timeSavedMode":"fixed","errorWorkflow":"apmJoMCbOchwfqTp","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f2aef496-f243-457c-8418-be3074940edb","activeVersionId":"f2aef496-f243-457c-8418-be3074940edb","versionCounter":22,"triggerCount":1,"shared":[{"updatedAt":"2026-02-23T13:50:52.813Z","createdAt":"2026-02-23T13:50:52.813Z","role":"workflow:owner","workflowId":"Ycs3lFXe5JCFDIo1","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-23T13:51:01.000Z","createdAt":"2026-02-23T13:50:59.538Z","versionId":"f2aef496-f243-457c-8418-be3074940edb","workflowId":"Ycs3lFXe5JCFDIo1","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 7 * * *"}]}},"id":"f586f130-e457-4e75-82da-c7468e7fbd9d","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-656,112]},{"parameters":{"operation":"executeQuery","query":"SELECT \n  p.id AS project_id,\n  p.project_number,\n  p.name AS project_name,\n  sp.trade,\n  sp.start_date,\n  sp.start_date - CURRENT_DATE AS days_until,\n  (SELECT COUNT(*) FROM project_material_needs pmn \n   WHERE pmn.project_id = p.id AND pmn.source = 'auto' AND pmn.status = 'planned'\n   AND pmn.trade = sp.trade\n  ) AS unordered_count,\n  (SELECT COALESCE(SUM(pmn.total_quantity * COALESCE(pmn.unit_price_net, 0)), 0)\n   FROM project_material_needs pmn \n   WHERE pmn.project_id = p.id AND pmn.source = 'auto' AND pmn.status = 'planned'\n   AND pmn.trade = sp.trade\n  ) AS unordered_value\nFROM schedule_phases sp\nJOIN projects p ON p.id = sp.project_id\nWHERE sp.status NOT IN ('cancelled', 'completed')\n  AND sp.start_date BETWEEN CURRENT_DATE AND CURRENT_DATE + INTERVAL '5 days'\n  AND EXISTS (\n    SELECT 1 FROM project_material_needs pmn \n    WHERE pmn.project_id = p.id AND pmn.source = 'auto' AND pmn.status = 'planned'\n    AND pmn.trade = sp.trade\n  )\n  AND p.status NOT IN ('COMPLETED', 'CANCELLED', 'ARCHIVED')\nORDER BY sp.start_date, p.project_number;","options":{}},"id":"2dacfd6d-4bdf-4d5c-8794-73e808230be6","name":"Find Upcoming Unordered","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-448,112],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-results-check","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}]},"options":{}},"id":"51f75dbf-f57f-46c5-ac77-268f7a64606b","name":"IF Has Results","type":"n8n-nodes-base.if","typeVersion":2,"position":[-224,112]},{"parameters":{"jsCode":"const rows = $input.all().map(r => r.json);\n\n// Group by project\nconst byProject = {};\nfor (const r of rows) {\n  if (!byProject[r.project_id]) {\n    byProject[r.project_id] = {\n      project_id: r.project_id,\n      project_number: r.project_number,\n      project_name: r.project_name,\n      phases: []\n    };\n  }\n  byProject[r.project_id].phases.push({\n    trade: r.trade,\n    days_until: Number(r.days_until),\n    start_date: r.start_date,\n    unordered_count: Number(r.unordered_count),\n    unordered_value: Number(r.unordered_value)\n  });\n}\n\nconst projects = Object.values(byProject);\nlet lines = [];\nlines.push('⏰ <b>Material-Erinnerung</b>');\nlines.push('');\n\nfor (const proj of projects) {\n  lines.push(`<b>${proj.project_number}</b> – ${proj.project_name}`);\n  for (const phase of proj.phases) {\n    const urgency = phase.days_until <= 2 ? '🔴' : phase.days_until <= 3 ? '🟡' : '🟢';\n    const dateStr = new Date(phase.start_date).toLocaleDateString('de-DE');\n    lines.push(`${urgency} <b>${phase.trade}</b> startet in ${phase.days_until} Tagen (${dateStr})`);\n    lines.push(`   ${phase.unordered_count} Materialien nicht bestellt (~€${phase.unordered_value.toFixed(0)})`);\n  }\n  \n  const orderUrl = `https://n8n.srv1045913.hstgr.cloud/webhook/m4-07-order-approve?project_id=${proj.project_id}&action=approve`;\n  lines.push(`   → <a href=\"${orderUrl}\">Jetzt bestellen</a>`);\n  lines.push('');\n}\n\nreturn [{ json: { text: lines.join('\\n'), projectCount: projects.length } }];"},"id":"df239022-ad4b-4cec-9f7a-590e63dc6853","name":"Format Reminder","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0]},{"parameters":{"chatId":"6088921678","text":"={{ $json.text }}","additionalFields":{"parse_mode":"HTML"}},"id":"2facd60f-c117-4228-bf62-629930cb5da9","name":"Send Telegram Reminder","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[224,0],"webhookId":"e8e6ba02-29d8-4a30-8b94-28a9d98eed63","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{},"id":"3003cec0-c0f6-4385-a0b2-7613bc4ce718","name":"No Action","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,224]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Find Upcoming Unordered","type":"main","index":0}]]},"Find Upcoming Unordered":{"main":[[{"node":"IF Has Results","type":"main","index":0}]]},"IF Has Results":{"main":[[{"node":"Format Reminder","type":"main","index":0}],[{"node":"No Action","type":"main","index":0}]]},"Format Reminder":{"main":[[{"node":"Send Telegram Reminder","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version f2aef496","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-23T13:51:01.929Z","id":769,"workflowId":"Ycs3lFXe5JCFDIo1","versionId":"f2aef496-f243-457c-8418-be3074940edb","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-23T13:51:08.252Z","id":771,"workflowId":"Ycs3lFXe5JCFDIo1","versionId":"f2aef496-f243-457c-8418-be3074940edb","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-23T14:11:44.105Z","id":789,"workflowId":"Ycs3lFXe5JCFDIo1","versionId":"f2aef496-f243-457c-8418-be3074940edb","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:25:09.575Z","id":850,"workflowId":"Ycs3lFXe5JCFDIo1","versionId":"f2aef496-f243-457c-8418-be3074940edb","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-23T13:51:08.243Z","id":770,"workflowId":"Ycs3lFXe5JCFDIo1","versionId":"f2aef496-f243-457c-8418-be3074940edb","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-23T14:11:44.094Z","id":788,"workflowId":"Ycs3lFXe5JCFDIo1","versionId":"f2aef496-f243-457c-8418-be3074940edb","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:25:09.554Z","id":849,"workflowId":"Ycs3lFXe5JCFDIo1","versionId":"f2aef496-f243-457c-8418-be3074940edb","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}