n8n-workflows/M4_03b_Order_Suggester.json
{"updatedAt":"2026-02-27T23:25:00.708Z","createdAt":"2026-02-19T19:50:28.622Z","id":"UlyBjJpyUsCi2rSs","name":"M4_03b_Order_Suggester","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"m4-03-order-suggester","responseMode":"responseNode","options":{}},"id":"051cef19-f238-43b8-8a09-f1562f290d52","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-960,-112],"webhookId":"m4-03-order-suggester"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nconst event_id = body.event_id || '';\nconst project_id = body.project_id || '';\nconst event_type = body.event_type || 'MATERIALS_CALCULATED';\nconst payload = body.payload || {};\n\nreturn [{ json: { event_id, project_id, event_type, payload } }];"},"id":"9a0bd35c-89fd-4185-9a52-6fb083815c3b","name":"Parse Event Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-752,-112]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n  'm4_03:' || '{{ $json.event_id }}',\n  '{{ $json.project_id }}'::uuid,\n  'M4_03_Order_Suggester'\n);","options":{}},"id":"47bf2999-09d9-4d98-a2bd-73c0bd299180","name":"Claim Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-528,-112],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"claimed-check","leftValue":"={{ $json.claimed }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]},"options":{}},"id":"518d08c3-03a1-4213-9f6b-af29ce02b681","name":"IF Claimed","type":"n8n-nodes-base.if","typeVersion":2,"position":[-304,-112]},{"parameters":{"operation":"executeQuery","query":"SELECT suggest_purchase_orders('{{ $('Parse Event Data').first().json.project_id }}'::uuid) AS result;","options":{}},"id":"7b5aaa0b-5395-4402-beb8-96404d791fa2","name":"Suggest Purchase Orders","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-80,-208],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const result = $input.first().json.result;\nconst parsed = typeof result === 'string' ? JSON.parse(result) : result;\nconst projectId = $('Parse Event Data').first().json.project_id;\n\nif (!parsed || !parsed.success) {\n  return [{ json: { text: '⚠️ Bestellvorschlag fehlgeschlagen', projectId, hasSuggestions: false } }];\n}\n\nconst suggestions = parsed.suggestions || [];\nconst summary = parsed.summary || {};\n\nlet lines = [];\nlines.push('🛒 <b>Bestellvorschlag</b>');\nlines.push(`<b>${parsed.project_name}</b>`);\nlines.push('');\n\nif (suggestions.length === 0) {\n  lines.push('Keine offenen Materialien gefunden.');\n  return [{ json: { text: lines.join('\\n'), projectId, hasSuggestions: false } }];\n}\n\nlines.push(`<b>${summary.total_materials_needed || 0}</b> Materialien offen`);\nlines.push('');\n\nfor (const s of suggestions) {\n  const val = Number(s.est_total_value || 0).toFixed(0);\n  lines.push(`• <b>${s.trade}</b>: ${s.item_count} Artikel (~€${val})`);\n}\n\nlines.push('');\nconst totalVal = Number(summary.total_est_value || 0).toFixed(0);\nlines.push(`<b>Gesamt: ~€${totalVal}</b>`);\n\nconst text = lines.join('\\n');\n\nconst approveUrl = `https://n8n.srv1045913.hstgr.cloud/webhook/m4-03-order-approve?project_id=${projectId}&action=approve`;\nconst rejectUrl = `https://n8n.srv1045913.hstgr.cloud/webhook/m4-03-order-approve?project_id=${projectId}&action=reject`;\n\nreturn [{ json: { text, projectId, approveUrl, rejectUrl, hasSuggestions: true, totalValue: totalVal } }];"},"id":"217ad2db-47a5-409f-9bf4-8ce282e0c0d6","name":"Format Telegram Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[144,-208]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-suggestions","leftValue":"={{ $json.hasSuggestions }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]},"options":{}},"id":"6f26e31e-c701-4649-81e1-1730728cd139","name":"IF Has Suggestions","type":"n8n-nodes-base.if","typeVersion":2,"position":[368,-208]},{"parameters":{"chatId":"6088921678","text":"={{ $json.text }}","additionalFields":{"parse_mode":"HTML"}},"id":"799c9843-f00a-4cdc-8b75-780c00263daa","name":"Send Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[576,-304],"webhookId":"8c04cf94-911a-4ec6-911d-fbf62f17124d","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"chatId":"6088921678","text":"={{ $json.text }}","additionalFields":{"parse_mode":"HTML"}},"id":"057a4ea5-9611-4385-a8e2-2c3a20d9f385","name":"Send Telegram (No Orders)","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[576,-112],"webhookId":"4f5c3050-6a0b-4cb0-90d7-f572d1d9ab43","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE events SET processed_at = now() WHERE id = '{{ $('Parse Event Data').first().json.event_id }}'::uuid;","options":{}},"id":"3d8aebbf-7851-4433-8d2c-a0539001a4b8","name":"Mark Event Processed","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,-208],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT complete_workflow_step('m4_03:' || '{{ $('Parse Event Data').first().json.event_id }}');","options":{}},"id":"1577a001-8b00-4e5b-8d94-5118a25ae3fb","name":"Complete Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1024,-208],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{},"id":"39763084-fdeb-43aa-b772-f2b7a3d63cd3","name":"Skip (Already Claimed)","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-80,16]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'ok', workflow: 'M4_03_Order_Suggester' }) }}","options":{}},"id":"fb7222d7-bbb4-4ec9-97a5-d2affa07ede2","name":"Response OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1248,-112]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Event Data","type":"main","index":0}]]},"Parse Event Data":{"main":[[{"node":"Claim Workflow Step","type":"main","index":0}]]},"Claim Workflow Step":{"main":[[{"node":"IF Claimed","type":"main","index":0}]]},"IF Claimed":{"main":[[{"node":"Suggest Purchase Orders","type":"main","index":0}],[{"node":"Skip (Already Claimed)","type":"main","index":0}]]},"Suggest Purchase Orders":{"main":[[{"node":"Format Telegram Message","type":"main","index":0}]]},"Format Telegram Message":{"main":[[{"node":"IF Has Suggestions","type":"main","index":0}]]},"IF Has Suggestions":{"main":[[{"node":"Send Telegram","type":"main","index":0}],[{"node":"Send Telegram (No Orders)","type":"main","index":0}]]},"Send Telegram":{"main":[[{"node":"Mark Event Processed","type":"main","index":0}]]},"Send Telegram (No Orders)":{"main":[[{"node":"Mark Event Processed","type":"main","index":0}]]},"Mark Event Processed":{"main":[[{"node":"Complete Workflow Step","type":"main","index":0}]]},"Complete Workflow Step":{"main":[[{"node":"Response OK","type":"main","index":0}]]},"Skip (Already Claimed)":{"main":[[{"node":"Response OK","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true,"timeSavedMode":"fixed","errorWorkflow":"apmJoMCbOchwfqTp","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b8ae0370-c89f-4d94-b6fb-6f096e75a3aa","activeVersionId":"b8ae0370-c89f-4d94-b6fb-6f096e75a3aa","versionCounter":62,"triggerCount":1,"shared":[{"updatedAt":"2026-02-19T19:50:28.632Z","createdAt":"2026-02-19T19:50:28.632Z","role":"workflow:owner","workflowId":"UlyBjJpyUsCi2rSs","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-20T14:38:59.000Z","createdAt":"2026-02-20T14:38:57.973Z","versionId":"b8ae0370-c89f-4d94-b6fb-6f096e75a3aa","workflowId":"UlyBjJpyUsCi2rSs","nodes":[{"parameters":{"httpMethod":"POST","path":"m4-03-order-suggester","responseMode":"responseNode","options":{}},"id":"051cef19-f238-43b8-8a09-f1562f290d52","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-960,-112],"webhookId":"m4-03-order-suggester"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nconst event_id = body.event_id || '';\nconst project_id = body.project_id || '';\nconst event_type = body.event_type || 'MATERIALS_CALCULATED';\nconst payload = body.payload || {};\n\nreturn [{ json: { event_id, project_id, event_type, payload } }];"},"id":"9a0bd35c-89fd-4185-9a52-6fb083815c3b","name":"Parse Event Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-752,-112]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n  'm4_03:' || '{{ $json.event_id }}',\n  '{{ $json.project_id }}'::uuid,\n  'M4_03_Order_Suggester'\n);","options":{}},"id":"47bf2999-09d9-4d98-a2bd-73c0bd299180","name":"Claim Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-528,-112],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"claimed-check","leftValue":"={{ $json.claimed }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]},"options":{}},"id":"518d08c3-03a1-4213-9f6b-af29ce02b681","name":"IF Claimed","type":"n8n-nodes-base.if","typeVersion":2,"position":[-304,-112]},{"parameters":{"operation":"executeQuery","query":"SELECT suggest_purchase_orders('{{ $('Parse Event Data').first().json.project_id }}'::uuid) AS result;","options":{}},"id":"7b5aaa0b-5395-4402-beb8-96404d791fa2","name":"Suggest Purchase Orders","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-80,-208],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const result = $input.first().json.result;\nconst parsed = typeof result === 'string' ? JSON.parse(result) : result;\nconst projectId = $('Parse Event Data').first().json.project_id;\n\nif (!parsed || !parsed.success) {\n  return [{ json: { text: '⚠️ Bestellvorschlag fehlgeschlagen', projectId, hasSuggestions: false } }];\n}\n\nconst suggestions = parsed.suggestions || [];\nconst summary = parsed.summary || {};\n\nlet lines = [];\nlines.push('🛒 <b>Bestellvorschlag</b>');\nlines.push(`<b>${parsed.project_name}</b>`);\nlines.push('');\n\nif (suggestions.length === 0) {\n  lines.push('Keine offenen Materialien gefunden.');\n  return [{ json: { text: lines.join('\\n'), projectId, hasSuggestions: false } }];\n}\n\nlines.push(`<b>${summary.total_materials_needed || 0}</b> Materialien offen`);\nlines.push('');\n\nfor (const s of suggestions) {\n  const val = Number(s.est_total_value || 0).toFixed(0);\n  lines.push(`• <b>${s.trade}</b>: ${s.item_count} Artikel (~€${val})`);\n}\n\nlines.push('');\nconst totalVal = Number(summary.total_est_value || 0).toFixed(0);\nlines.push(`<b>Gesamt: ~€${totalVal}</b>`);\n\nconst text = lines.join('\\n');\n\nconst approveUrl = `https://n8n.srv1045913.hstgr.cloud/webhook/m4-03-order-approve?project_id=${projectId}&action=approve`;\nconst rejectUrl = `https://n8n.srv1045913.hstgr.cloud/webhook/m4-03-order-approve?project_id=${projectId}&action=reject`;\n\nreturn [{ json: { text, projectId, approveUrl, rejectUrl, hasSuggestions: true, totalValue: totalVal } }];"},"id":"217ad2db-47a5-409f-9bf4-8ce282e0c0d6","name":"Format Telegram Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[144,-208]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-suggestions","leftValue":"={{ $json.hasSuggestions }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]},"options":{}},"id":"6f26e31e-c701-4649-81e1-1730728cd139","name":"IF Has Suggestions","type":"n8n-nodes-base.if","typeVersion":2,"position":[368,-208]},{"parameters":{"chatId":"6088921678","text":"={{ $json.text }}","additionalFields":{"parse_mode":"HTML"}},"id":"799c9843-f00a-4cdc-8b75-780c00263daa","name":"Send Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[576,-304],"webhookId":"8c04cf94-911a-4ec6-911d-fbf62f17124d","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"chatId":"6088921678","text":"={{ $json.text }}","additionalFields":{"parse_mode":"HTML"}},"id":"057a4ea5-9611-4385-a8e2-2c3a20d9f385","name":"Send Telegram (No Orders)","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[576,-112],"webhookId":"4f5c3050-6a0b-4cb0-90d7-f572d1d9ab43","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE events SET processed_at = now() WHERE id = '{{ $('Parse Event Data').first().json.event_id }}'::uuid;","options":{}},"id":"3d8aebbf-7851-4433-8d2c-a0539001a4b8","name":"Mark Event Processed","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,-208],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT complete_workflow_step('m4_03:' || '{{ $('Parse Event Data').first().json.event_id }}');","options":{}},"id":"1577a001-8b00-4e5b-8d94-5118a25ae3fb","name":"Complete Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1024,-208],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{},"id":"39763084-fdeb-43aa-b772-f2b7a3d63cd3","name":"Skip (Already Claimed)","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-80,16]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'ok', workflow: 'M4_03_Order_Suggester' }) }}","options":{}},"id":"fb7222d7-bbb4-4ec9-97a5-d2affa07ede2","name":"Response OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1248,-112]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Event Data","type":"main","index":0}]]},"Parse Event Data":{"main":[[{"node":"Claim Workflow Step","type":"main","index":0}]]},"Claim Workflow Step":{"main":[[{"node":"IF Claimed","type":"main","index":0}]]},"IF Claimed":{"main":[[{"node":"Suggest Purchase Orders","type":"main","index":0}],[{"node":"Skip (Already Claimed)","type":"main","index":0}]]},"Suggest Purchase Orders":{"main":[[{"node":"Format Telegram Message","type":"main","index":0}]]},"Format Telegram Message":{"main":[[{"node":"IF Has Suggestions","type":"main","index":0}]]},"IF Has Suggestions":{"main":[[{"node":"Send Telegram","type":"main","index":0}],[{"node":"Send Telegram (No Orders)","type":"main","index":0}]]},"Send Telegram":{"main":[[{"node":"Mark Event Processed","type":"main","index":0}]]},"Send Telegram (No Orders)":{"main":[[{"node":"Mark Event Processed","type":"main","index":0}]]},"Mark Event Processed":{"main":[[{"node":"Complete Workflow Step","type":"main","index":0}]]},"Complete Workflow Step":{"main":[[{"node":"Response OK","type":"main","index":0}]]},"Skip (Already Claimed)":{"main":[[{"node":"Response OK","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version b8ae0370","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-20T14:38:59.954Z","id":742,"workflowId":"UlyBjJpyUsCi2rSs","versionId":"b8ae0370-c89f-4d94-b6fb-6f096e75a3aa","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-23T13:49:43.198Z","id":759,"workflowId":"UlyBjJpyUsCi2rSs","versionId":"b8ae0370-c89f-4d94-b6fb-6f096e75a3aa","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-23T14:11:36.145Z","id":783,"workflowId":"UlyBjJpyUsCi2rSs","versionId":"b8ae0370-c89f-4d94-b6fb-6f096e75a3aa","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:25:00.740Z","id":844,"workflowId":"UlyBjJpyUsCi2rSs","versionId":"b8ae0370-c89f-4d94-b6fb-6f096e75a3aa","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-23T13:49:43.182Z","id":758,"workflowId":"UlyBjJpyUsCi2rSs","versionId":"b8ae0370-c89f-4d94-b6fb-6f096e75a3aa","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-23T14:11:36.130Z","id":782,"workflowId":"UlyBjJpyUsCi2rSs","versionId":"b8ae0370-c89f-4d94-b6fb-6f096e75a3aa","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:25:00.729Z","id":843,"workflowId":"UlyBjJpyUsCi2rSs","versionId":"b8ae0370-c89f-4d94-b6fb-6f096e75a3aa","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}