n8n-workflows/M4_01a_Receipt_Intake.json
{"updatedAt":"2026-02-02T12:53:50.146Z","createdAt":"2025-12-29T18:21:45.371Z","id":"sw2yaCHpuaGHSKdE","name":"M4_01a_Receipt_Intake","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1qdX-1K31pJ0g4HoqjHiW6tEwIV6g2Evz","mode":"id"},"event":"fileCreated","options":{}},"id":"8aa41fee-c156-4c81-b79b-b6c12b751126","name":"📁 Drive Trigger","type":"n8n-nodes-base.googleDriveTrigger","position":[-928,-96],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"aYft6Y1rBlcl2pcf","name":"Google Drive account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO receipt_queue (\n  drive_file_id,\n  file_name,\n  mime_type,\n  file_size_bytes\n) VALUES (\n  '{{ $json.id }}',\n  '{{ $json.name.replace(/'/g, \"''\") }}',\n  '{{ $json.mimeType }}',\n  {{ $json.size || 0 }}\n)\nON CONFLICT (drive_file_id) DO NOTHING\nRETURNING id::text, file_name, 'QUEUED' as action;","options":{}},"id":"05bbff39-6216-4eaa-8112-11c85db51e34","name":"📥 Add to Queue","type":"n8n-nodes-base.postgres","position":[-704,-96],"typeVersion":2.5,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"// Einfach durchreichen - keine Telegram Notification mehr!\nconst items = $input.all();\nconst queued = items.filter(i => i.json.action === 'QUEUED').length;\nconst skipped = items.length - queued;\n\nreturn [{\n  json: {\n    status: 'intake_complete',\n    queued: queued,\n    skipped_duplicates: skipped,\n    message: `${queued} neue Belege in Queue, ${skipped} Duplikate übersprungen`\n  }\n}];"},"id":"addbf49d-4456-4637-8869-52d9c8ad26a3","name":"📊 Summary","type":"n8n-nodes-base.code","position":[-496,-96],"typeVersion":2},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-928,96],"id":"250795bd-6004-41de-bc84-e3a26cd78bf3","name":"When chat message received","webhookId":"83866e6b-d4f8-4ea4-afd1-56c14a7c3b75"}],"connections":{"📁 Drive Trigger":{"main":[[{"node":"📥 Add to Queue","type":"main","index":0}]]},"📥 Add to Queue":{"main":[[{"node":"📊 Summary","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"apmJoMCbOchwfqTp"},"staticData":{"node:📁 Drive Trigger":{"lastTimeChecked":"2026-03-14T12:53:37Z"}},"meta":null,"pinData":{},"versionId":"73745605-8baa-49ed-ac65-b9f9ddf50760","activeVersionId":"73745605-8baa-49ed-ac65-b9f9ddf50760","versionCounter":81,"triggerCount":2,"shared":[{"updatedAt":"2025-12-29T18:21:45.376Z","createdAt":"2025-12-29T18:21:45.376Z","role":"workflow:owner","workflowId":"sw2yaCHpuaGHSKdE","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[{"updatedAt":"2025-12-27T14:08:14.139Z","createdAt":"2025-12-27T14:08:14.139Z","id":"714RSA9Bhf1wHiDN","name":"Automation"},{"updatedAt":"2025-12-27T14:08:14.128Z","createdAt":"2025-12-27T14:08:14.128Z","id":"vCLwYs9NeKDCZ2fe","name":"M4-Material"}],"activeVersion":{"updatedAt":"2026-02-02T12:53:53.000Z","createdAt":"2026-02-02T12:53:50.147Z","versionId":"73745605-8baa-49ed-ac65-b9f9ddf50760","workflowId":"sw2yaCHpuaGHSKdE","nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1qdX-1K31pJ0g4HoqjHiW6tEwIV6g2Evz","mode":"id"},"event":"fileCreated","options":{}},"id":"8aa41fee-c156-4c81-b79b-b6c12b751126","name":"📁 Drive Trigger","type":"n8n-nodes-base.googleDriveTrigger","position":[-928,-96],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"aYft6Y1rBlcl2pcf","name":"Google Drive account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO receipt_queue (\n  drive_file_id,\n  file_name,\n  mime_type,\n  file_size_bytes\n) VALUES (\n  '{{ $json.id }}',\n  '{{ $json.name.replace(/'/g, \"''\") }}',\n  '{{ $json.mimeType }}',\n  {{ $json.size || 0 }}\n)\nON CONFLICT (drive_file_id) DO NOTHING\nRETURNING id::text, file_name, 'QUEUED' as action;","options":{}},"id":"05bbff39-6216-4eaa-8112-11c85db51e34","name":"📥 Add to Queue","type":"n8n-nodes-base.postgres","position":[-704,-96],"typeVersion":2.5,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"// Einfach durchreichen - keine Telegram Notification mehr!\nconst items = $input.all();\nconst queued = items.filter(i => i.json.action === 'QUEUED').length;\nconst skipped = items.length - queued;\n\nreturn [{\n  json: {\n    status: 'intake_complete',\n    queued: queued,\n    skipped_duplicates: skipped,\n    message: `${queued} neue Belege in Queue, ${skipped} Duplikate übersprungen`\n  }\n}];"},"id":"addbf49d-4456-4637-8869-52d9c8ad26a3","name":"📊 Summary","type":"n8n-nodes-base.code","position":[-496,-96],"typeVersion":2},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-928,96],"id":"250795bd-6004-41de-bc84-e3a26cd78bf3","name":"When chat message received","webhookId":"83866e6b-d4f8-4ea4-afd1-56c14a7c3b75"}],"connections":{"📁 Drive Trigger":{"main":[[{"node":"📥 Add to Queue","type":"main","index":0}]]},"📥 Add to Queue":{"main":[[{"node":"📊 Summary","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version 73745605","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-02T12:53:53.256Z","id":526,"workflowId":"sw2yaCHpuaGHSKdE","versionId":"73745605-8baa-49ed-ac65-b9f9ddf50760","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}