n8n-workflows/M4_07_Order_Send.json
{"updatedAt":"2026-02-27T23:25:07.608Z","createdAt":"2026-02-23T13:50:02.747Z","id":"BOkKFTEUCyKagfC0","name":"M4_07_Order_Send","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"path":"m4-07-order-approve","responseMode":"responseNode","options":{}},"id":"fc26e975-2af8-4f43-bfc9-6069f2843055","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-4368,-320],"webhookId":"m4-07-order-approve"},{"parameters":{"jsCode":"const data = $input.first().json;\nconst query = data.query || data.params || {};\nconst project_id = query.project_id || data.project_id || '';\nconst action = query.action || data.action || 'unknown';\n\nreturn [{ json: { project_id, action, raw_keys: Object.keys(data).join(',') } }];"},"id":"6ffd42ea-49fb-4b5a-9b47-986e398f84d6","name":"Parse Query Params","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4144,-320]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"action-check","leftValue":"={{ $json.action }}","rightValue":"approve","operator":{"type":"string","operation":"equals"}}]},"options":{}},"id":"23d1fc65-ee0c-44d9-9852-630eb5e588c5","name":"IF Approve","type":"n8n-nodes-base.if","typeVersion":2,"position":[-3936,-320]},{"parameters":{"operation":"executeQuery","query":"SELECT \n  p.project_number, p.name AS project_name, CONCAT(p.object_street, ', ', p.object_zip, ' ', p.object_city) AS address,\n  s.id AS supplier_id, s.name AS supplier_name, s.short_name AS supplier_short,\n  s.email AS supplier_email, s.phone AS supplier_phone,\n  pmn.id AS need_id, pmn.label, pmn.total_quantity, pmn.quantity_unit,\n  pmn.product_name, pmn.unit_price_net, pmn.notes,\n  prod.sku, prod.name AS full_product_name\nFROM project_material_needs pmn\nJOIN projects p ON p.id = pmn.project_id\nLEFT JOIN products prod ON prod.id = pmn.product_id\nLEFT JOIN suppliers s ON s.id = prod.supplier_id\nWHERE pmn.project_id = '{{ $('Parse Query Params').first().json.project_id }}'::uuid\n  AND pmn.source = 'auto' AND pmn.status = 'planned'\nORDER BY s.name NULLS LAST, pmn.label;","options":{}},"id":"5a503906-bdaa-4212-8b51-3ff2eb4ed768","name":"Load Approved Materials","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3712,-416],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const rows = $input.all().map(r => r.json);\nif (rows.length === 0) {\n  return [{ json: { orders: [], noEmail: [], noSupplier: [], text: '⚠️ Keine offenen Materialien gefunden.', projectId: '', summaryText: '⚠️ Keine offenen Materialien gefunden.', allNeedIds: [], emailCount: 0 } }];\n}\n\nconst projectId = $('Parse Query Params').first().json.project_id;\nconst pn = rows[0].project_number;\nconst projectName = rows[0].project_name;\nconst address = rows[0].address || '';\n\n// Group by supplier\nconst bySupplier = {};\nconst noSupplier = [];\n\nfor (const r of rows) {\n  if (!r.supplier_id) {\n    noSupplier.push(r);\n    continue;\n  }\n  const key = r.supplier_id;\n  if (!bySupplier[key]) {\n    bySupplier[key] = {\n      supplier_id: r.supplier_id,\n      supplier_name: r.supplier_name,\n      supplier_short: r.supplier_short,\n      supplier_email: r.supplier_email,\n      supplier_phone: r.supplier_phone,\n      items: [],\n      need_ids: [],\n      total: 0\n    };\n  }\n  const lineValue = (Number(r.total_quantity) || 0) * (Number(r.unit_price_net) || 0);\n  bySupplier[key].items.push({\n    label: r.label,\n    product_name: r.full_product_name || r.product_name || r.label,\n    sku: r.sku || '',\n    quantity: Number(r.total_quantity),\n    unit: r.quantity_unit,\n    unit_price: Number(r.unit_price_net) || 0,\n    total: lineValue,\n    notes: r.notes\n  });\n  bySupplier[key].need_ids.push(r.need_id);\n  bySupplier[key].total += lineValue;\n}\n\nconst orders = Object.values(bySupplier).filter(o => o.supplier_email);\nconst noEmail = Object.values(bySupplier).filter(o => !o.supplier_email);\n\n// Build email HTML per supplier\nfor (const order of orders) {\n  let html = `<p>Guten Tag,</p>`;\n  html += `<p>wir möchten folgende Materialien bestellen für unser Projekt <b>${pn} – ${projectName}</b>`;\n  if (address) html += ` (${address})`;\n  html += `:</p>`;\n  html += `<table border=\"1\" cellpadding=\"6\" cellspacing=\"0\" style=\"border-collapse:collapse;font-family:Arial,sans-serif;\">`;\n  html += `<tr style=\"background:#f0f0f0\"><th>Pos</th><th>Artikel</th><th>Art.Nr.</th><th>Menge</th><th>Einheit</th></tr>`;\n  \n  order.items.forEach((item, i) => {\n    html += `<tr><td>${i+1}</td><td>${item.product_name}</td><td>${item.sku}</td><td>${item.quantity}</td><td>${item.unit}</td></tr>`;\n  });\n  \n  html += `</table>`;\n  html += `<p>Bitte um Auftragsbestätigung und Liefertermin.</p>`;\n  html += `<p>Mit freundlichen Grüßen<br/>Dennis Blöte<br/>Blöte Gebäudemanagement</p>`;\n  \n  order.emailHtml = html;\n  order.emailSubject = `Bestellung ${pn} – ${order.supplier_short || order.supplier_name}`;\n}\n\n// Build summary for Telegram\nlet summaryLines = [];\nsummaryLines.push(`✅ <b>Bestellungen versendet für ${pn}</b>`);\nsummaryLines.push('');\n\nfor (const order of orders) {\n  summaryLines.push(`📧 <b>${order.supplier_short || order.supplier_name}</b> → ${order.supplier_email}`);\n  summaryLines.push(`   ${order.items.length} Pos. · ~€${order.total.toFixed(0)}`);\n}\n\nif (noEmail.length > 0) {\n  summaryLines.push('');\n  summaryLines.push(`⚠️ <b>${noEmail.length} Lieferanten ohne E-Mail</b> (manuell bestellen):`);\n  for (const ne of noEmail) {\n    summaryLines.push(`  • ${ne.supplier_short || ne.supplier_name}: ${ne.items.length} Pos.`);\n  }\n}\n\nif (noSupplier.length > 0) {\n  summaryLines.push('');\n  summaryLines.push(`⚠️ <b>${noSupplier.length} Materialien ohne Lieferant</b>`);\n}\n\nconst allNeedIds = [...orders, ...noEmail].flatMap(o => o.need_ids);\n\nreturn [{\n  json: {\n    orders,\n    noEmail,\n    noSupplier,\n    projectId,\n    summaryText: summaryLines.join('\\n'),\n    allNeedIds,\n    emailCount: orders.length\n  }\n}];"},"id":"ada63b4d-4242-45b0-af9d-3f3cf7f7a124","name":"Group By Supplier","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3488,-416]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"email-count-check","leftValue":"={{ $json.emailCount }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}]},"options":{}},"id":"82428c61-04d1-47fe-9118-1d20e88b7ecc","name":"IF Has Email Orders","type":"n8n-nodes-base.if","typeVersion":2,"position":[-3264,-416]},{"parameters":{"jsCode":"const data = $input.first().json;\nconst orders = data.orders || [];\nif (orders.length === 0) {\n  return [{ json: { skipped: true, reason: 'no_email_orders' } }];\n}\nreturn orders.map(o => ({ json: o }));"},"id":"30187aad-c44b-4e0c-a782-3aba4f198d5b","name":"Split Into Orders","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3056,-512]},{"parameters":{"jsCode":"const order = $input.first().json;\nif (order.skipped) {\n  return [{ json: { sent: false, reason: 'no_email_orders' } }];\n}\n// In production: would send email to order.supplier_email\n// For now: log and continue\nreturn [{ json: { \n  sent: true, \n  supplier: order.supplier_name, \n  email: order.supplier_email, \n  subject: order.emailSubject,\n  itemCount: (order.items || []).length\n} }];"},"id":"d27f71bb-7520-4f4a-9d45-beb7d8f05748","name":"Send Order Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2832,-512]},{"parameters":{"operation":"executeQuery","query":"UPDATE project_material_needs \nSET status = 'ordered', updated_at = NOW()\nWHERE project_id = '{{ $('Parse Query Params').first().json.project_id }}'::uuid\n  AND source = 'auto' AND status = 'planned';","options":{}},"id":"c55de97f-bd4d-4b03-b62f-7b8c66ad0324","name":"Update Status to Ordered","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2608,-416],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"chatId":"6088921678","text":"={{ $('Group By Supplier').first().json.summaryText }}","additionalFields":{"parse_mode":"HTML"}},"id":"5e21eda0-a4ee-4ce7-a96d-ba18ae9af8d3","name":"Send Telegram Confirmation","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2384,-416],"webhookId":"fee8d769-df25-42d2-9ca4-9e23898d1bf1","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (event_type, project_id, payload, source_system, source_flow)\nVALUES (\n  'MATERIALS_ORDER_SENT', \n  '{{ $('Parse Query Params').first().json.project_id }}'::uuid,\n  json_build_object('orders_sent', {{ $('Group By Supplier').first().json.emailCount }})::jsonb,\n  'n8n', 'M4_07_Order_Send'\n) RETURNING id;","options":{}},"id":"0e399f0d-7e88-4a27-9182-c3b8333d6731","name":"Fire Event","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2176,-416],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"chatId":"6088921678","text":"❌ Bestellvorschlag wurde abgelehnt.","additionalFields":{"parse_mode":"HTML"}},"id":"dfb657f5-b413-4339-85c8-26c54c71473a","name":"Telegram Reject Notification","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3712,-192],"webhookId":"1e16a288-ad12-43de-aef5-065116fbbe60","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"respondWith":"text","responseBody":"=Bestellung {{ $('Parse Query Params').first().json.action === 'approve' ? 'genehmigt ✅' : 'abgelehnt ❌' }}. Du kannst dieses Fenster schließen.","options":{}},"id":"193c63fe-fd91-4eca-99cf-5f134bbf744a","name":"Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-1952,-320]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Query Params","type":"main","index":0}]]},"Parse Query Params":{"main":[[{"node":"IF Approve","type":"main","index":0}]]},"IF Approve":{"main":[[{"node":"Load Approved Materials","type":"main","index":0}],[{"node":"Telegram Reject Notification","type":"main","index":0}]]},"Load Approved Materials":{"main":[[{"node":"Group By Supplier","type":"main","index":0}]]},"Group By Supplier":{"main":[[{"node":"IF Has Email Orders","type":"main","index":0}]]},"IF Has Email Orders":{"main":[[{"node":"Split Into Orders","type":"main","index":0}],[{"node":"Update Status to Ordered","type":"main","index":0}]]},"Split Into Orders":{"main":[[{"node":"Send Order Email","type":"main","index":0}]]},"Send Order Email":{"main":[[{"node":"Update Status to Ordered","type":"main","index":0}]]},"Update Status to Ordered":{"main":[[{"node":"Send Telegram Confirmation","type":"main","index":0}]]},"Send Telegram Confirmation":{"main":[[{"node":"Fire Event","type":"main","index":0}]]},"Fire Event":{"main":[[{"node":"Response","type":"main","index":0}]]},"Telegram Reject Notification":{"main":[[{"node":"Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true,"timeSavedMode":"fixed","errorWorkflow":"apmJoMCbOchwfqTp","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1afb2aaa-ab3b-4c3d-81a5-7ff93d53eb4d","activeVersionId":"1afb2aaa-ab3b-4c3d-81a5-7ff93d53eb4d","versionCounter":54,"triggerCount":1,"shared":[{"updatedAt":"2026-02-23T13:50:02.750Z","createdAt":"2026-02-23T13:50:02.750Z","role":"workflow:owner","workflowId":"BOkKFTEUCyKagfC0","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-23T15:03:46.000Z","createdAt":"2026-02-23T15:01:53.018Z","versionId":"1afb2aaa-ab3b-4c3d-81a5-7ff93d53eb4d","workflowId":"BOkKFTEUCyKagfC0","nodes":[{"parameters":{"path":"m4-07-order-approve","responseMode":"responseNode","options":{}},"id":"fc26e975-2af8-4f43-bfc9-6069f2843055","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-4368,-320],"webhookId":"m4-07-order-approve"},{"parameters":{"jsCode":"const data = $input.first().json;\nconst query = data.query || data.params || {};\nconst project_id = query.project_id || data.project_id || '';\nconst action = query.action || data.action || 'unknown';\n\nreturn [{ json: { project_id, action, raw_keys: Object.keys(data).join(',') } }];"},"id":"6ffd42ea-49fb-4b5a-9b47-986e398f84d6","name":"Parse Query Params","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4144,-320]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"action-check","leftValue":"={{ $json.action }}","rightValue":"approve","operator":{"type":"string","operation":"equals"}}]},"options":{}},"id":"23d1fc65-ee0c-44d9-9852-630eb5e588c5","name":"IF Approve","type":"n8n-nodes-base.if","typeVersion":2,"position":[-3936,-320]},{"parameters":{"operation":"executeQuery","query":"SELECT \n  p.project_number, p.name AS project_name, CONCAT(p.object_street, ', ', p.object_zip, ' ', p.object_city) AS address,\n  s.id AS supplier_id, s.name AS supplier_name, s.short_name AS supplier_short,\n  s.email AS supplier_email, s.phone AS supplier_phone,\n  pmn.id AS need_id, pmn.label, pmn.total_quantity, pmn.quantity_unit,\n  pmn.product_name, pmn.unit_price_net, pmn.notes,\n  prod.sku, prod.name AS full_product_name\nFROM project_material_needs pmn\nJOIN projects p ON p.id = pmn.project_id\nLEFT JOIN products prod ON prod.id = pmn.product_id\nLEFT JOIN suppliers s ON s.id = prod.supplier_id\nWHERE pmn.project_id = '{{ $('Parse Query Params').first().json.project_id }}'::uuid\n  AND pmn.source = 'auto' AND pmn.status = 'planned'\nORDER BY s.name NULLS LAST, pmn.label;","options":{}},"id":"5a503906-bdaa-4212-8b51-3ff2eb4ed768","name":"Load Approved Materials","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3712,-416],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const rows = $input.all().map(r => r.json);\nif (rows.length === 0) {\n  return [{ json: { orders: [], noEmail: [], noSupplier: [], text: '⚠️ Keine offenen Materialien gefunden.', projectId: '', summaryText: '⚠️ Keine offenen Materialien gefunden.', allNeedIds: [], emailCount: 0 } }];\n}\n\nconst projectId = $('Parse Query Params').first().json.project_id;\nconst pn = rows[0].project_number;\nconst projectName = rows[0].project_name;\nconst address = rows[0].address || '';\n\n// Group by supplier\nconst bySupplier = {};\nconst noSupplier = [];\n\nfor (const r of rows) {\n  if (!r.supplier_id) {\n    noSupplier.push(r);\n    continue;\n  }\n  const key = r.supplier_id;\n  if (!bySupplier[key]) {\n    bySupplier[key] = {\n      supplier_id: r.supplier_id,\n      supplier_name: r.supplier_name,\n      supplier_short: r.supplier_short,\n      supplier_email: r.supplier_email,\n      supplier_phone: r.supplier_phone,\n      items: [],\n      need_ids: [],\n      total: 0\n    };\n  }\n  const lineValue = (Number(r.total_quantity) || 0) * (Number(r.unit_price_net) || 0);\n  bySupplier[key].items.push({\n    label: r.label,\n    product_name: r.full_product_name || r.product_name || r.label,\n    sku: r.sku || '',\n    quantity: Number(r.total_quantity),\n    unit: r.quantity_unit,\n    unit_price: Number(r.unit_price_net) || 0,\n    total: lineValue,\n    notes: r.notes\n  });\n  bySupplier[key].need_ids.push(r.need_id);\n  bySupplier[key].total += lineValue;\n}\n\nconst orders = Object.values(bySupplier).filter(o => o.supplier_email);\nconst noEmail = Object.values(bySupplier).filter(o => !o.supplier_email);\n\n// Build email HTML per supplier\nfor (const order of orders) {\n  let html = `<p>Guten Tag,</p>`;\n  html += `<p>wir möchten folgende Materialien bestellen für unser Projekt <b>${pn} – ${projectName}</b>`;\n  if (address) html += ` (${address})`;\n  html += `:</p>`;\n  html += `<table border=\"1\" cellpadding=\"6\" cellspacing=\"0\" style=\"border-collapse:collapse;font-family:Arial,sans-serif;\">`;\n  html += `<tr style=\"background:#f0f0f0\"><th>Pos</th><th>Artikel</th><th>Art.Nr.</th><th>Menge</th><th>Einheit</th></tr>`;\n  \n  order.items.forEach((item, i) => {\n    html += `<tr><td>${i+1}</td><td>${item.product_name}</td><td>${item.sku}</td><td>${item.quantity}</td><td>${item.unit}</td></tr>`;\n  });\n  \n  html += `</table>`;\n  html += `<p>Bitte um Auftragsbestätigung und Liefertermin.</p>`;\n  html += `<p>Mit freundlichen Grüßen<br/>Dennis Blöte<br/>Blöte Gebäudemanagement</p>`;\n  \n  order.emailHtml = html;\n  order.emailSubject = `Bestellung ${pn} – ${order.supplier_short || order.supplier_name}`;\n}\n\n// Build summary for Telegram\nlet summaryLines = [];\nsummaryLines.push(`✅ <b>Bestellungen versendet für ${pn}</b>`);\nsummaryLines.push('');\n\nfor (const order of orders) {\n  summaryLines.push(`📧 <b>${order.supplier_short || order.supplier_name}</b> → ${order.supplier_email}`);\n  summaryLines.push(`   ${order.items.length} Pos. · ~€${order.total.toFixed(0)}`);\n}\n\nif (noEmail.length > 0) {\n  summaryLines.push('');\n  summaryLines.push(`⚠️ <b>${noEmail.length} Lieferanten ohne E-Mail</b> (manuell bestellen):`);\n  for (const ne of noEmail) {\n    summaryLines.push(`  • ${ne.supplier_short || ne.supplier_name}: ${ne.items.length} Pos.`);\n  }\n}\n\nif (noSupplier.length > 0) {\n  summaryLines.push('');\n  summaryLines.push(`⚠️ <b>${noSupplier.length} Materialien ohne Lieferant</b>`);\n}\n\nconst allNeedIds = [...orders, ...noEmail].flatMap(o => o.need_ids);\n\nreturn [{\n  json: {\n    orders,\n    noEmail,\n    noSupplier,\n    projectId,\n    summaryText: summaryLines.join('\\n'),\n    allNeedIds,\n    emailCount: orders.length\n  }\n}];"},"id":"ada63b4d-4242-45b0-af9d-3f3cf7f7a124","name":"Group By Supplier","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3488,-416]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"email-count-check","leftValue":"={{ $json.emailCount }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}]},"options":{}},"id":"82428c61-04d1-47fe-9118-1d20e88b7ecc","name":"IF Has Email Orders","type":"n8n-nodes-base.if","typeVersion":2,"position":[-3264,-416]},{"parameters":{"jsCode":"const data = $input.first().json;\nconst orders = data.orders || [];\nif (orders.length === 0) {\n  return [{ json: { skipped: true, reason: 'no_email_orders' } }];\n}\nreturn orders.map(o => ({ json: o }));"},"id":"30187aad-c44b-4e0c-a782-3aba4f198d5b","name":"Split Into Orders","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3056,-512]},{"parameters":{"jsCode":"const order = $input.first().json;\nif (order.skipped) {\n  return [{ json: { sent: false, reason: 'no_email_orders' } }];\n}\n// In production: would send email to order.supplier_email\n// For now: log and continue\nreturn [{ json: { \n  sent: true, \n  supplier: order.supplier_name, \n  email: order.supplier_email, \n  subject: order.emailSubject,\n  itemCount: (order.items || []).length\n} }];"},"id":"d27f71bb-7520-4f4a-9d45-beb7d8f05748","name":"Send Order Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2832,-512]},{"parameters":{"operation":"executeQuery","query":"UPDATE project_material_needs \nSET status = 'ordered', updated_at = NOW()\nWHERE project_id = '{{ $('Parse Query Params').first().json.project_id }}'::uuid\n  AND source = 'auto' AND status = 'planned';","options":{}},"id":"c55de97f-bd4d-4b03-b62f-7b8c66ad0324","name":"Update Status to Ordered","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2608,-416],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"chatId":"6088921678","text":"={{ $('Group By Supplier').first().json.summaryText }}","additionalFields":{"parse_mode":"HTML"}},"id":"5e21eda0-a4ee-4ce7-a96d-ba18ae9af8d3","name":"Send Telegram Confirmation","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2384,-416],"webhookId":"fee8d769-df25-42d2-9ca4-9e23898d1bf1","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (event_type, project_id, payload, source_system, source_flow)\nVALUES (\n  'MATERIALS_ORDER_SENT', \n  '{{ $('Parse Query Params').first().json.project_id }}'::uuid,\n  json_build_object('orders_sent', {{ $('Group By Supplier').first().json.emailCount }})::jsonb,\n  'n8n', 'M4_07_Order_Send'\n) RETURNING id;","options":{}},"id":"0e399f0d-7e88-4a27-9182-c3b8333d6731","name":"Fire Event","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2176,-416],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"chatId":"6088921678","text":"❌ Bestellvorschlag wurde abgelehnt.","additionalFields":{"parse_mode":"HTML"}},"id":"dfb657f5-b413-4339-85c8-26c54c71473a","name":"Telegram Reject Notification","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3712,-192],"webhookId":"1e16a288-ad12-43de-aef5-065116fbbe60","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"respondWith":"text","responseBody":"=Bestellung {{ $('Parse Query Params').first().json.action === 'approve' ? 'genehmigt ✅' : 'abgelehnt ❌' }}. Du kannst dieses Fenster schließen.","options":{}},"id":"193c63fe-fd91-4eca-99cf-5f134bbf744a","name":"Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-1952,-320]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Query Params","type":"main","index":0}]]},"Parse Query Params":{"main":[[{"node":"IF Approve","type":"main","index":0}]]},"IF Approve":{"main":[[{"node":"Load Approved Materials","type":"main","index":0}],[{"node":"Telegram Reject Notification","type":"main","index":0}]]},"Load Approved Materials":{"main":[[{"node":"Group By Supplier","type":"main","index":0}]]},"Group By Supplier":{"main":[[{"node":"IF Has Email Orders","type":"main","index":0}]]},"IF Has Email Orders":{"main":[[{"node":"Split Into Orders","type":"main","index":0}],[{"node":"Update Status to Ordered","type":"main","index":0}]]},"Split Into Orders":{"main":[[{"node":"Send Order Email","type":"main","index":0}]]},"Send Order Email":{"main":[[{"node":"Update Status to Ordered","type":"main","index":0}]]},"Update Status to Ordered":{"main":[[{"node":"Send Telegram Confirmation","type":"main","index":0}]]},"Send Telegram Confirmation":{"main":[[{"node":"Fire Event","type":"main","index":0}]]},"Fire Event":{"main":[[{"node":"Response","type":"main","index":0}]]},"Telegram Reject Notification":{"main":[[{"node":"Response","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version 1afb2aaa","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-23T15:03:46.033Z","id":805,"workflowId":"BOkKFTEUCyKagfC0","versionId":"1afb2aaa-ab3b-4c3d-81a5-7ff93d53eb4d","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:25:07.649Z","id":848,"workflowId":"BOkKFTEUCyKagfC0","versionId":"1afb2aaa-ab3b-4c3d-81a5-7ff93d53eb4d","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:25:07.639Z","id":847,"workflowId":"BOkKFTEUCyKagfC0","versionId":"1afb2aaa-ab3b-4c3d-81a5-7ff93d53eb4d","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}