n8n-workflows/M4_10_MagicPlan_Parser.json
{"updatedAt":"2026-01-25T19:02:07.089Z","createdAt":"2026-01-23T17:49:28.113Z","id":"Tjbz4nIiHlav6Y7hr7yld","name":"M4_10_MagicPlan_Parser","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"m4-10-magicplan-parser","responseMode":"responseNode","options":{}},"id":"145d2c26-8564-4ad6-a2a7-50418d9ce8a1","name":"⚡ Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-800,112],"webhookId":"m4-10-magicplan-parser"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\n\nconst event_id = body.event_id;\nconst payload = body.payload || {};\n\nreturn [{\n  json: {\n    event_id,\n    project_number: payload.project_number,\n    doc_type: payload.doc_type,\n    files: payload.files || [],\n    file_count: payload.file_count || 0,\n    source_event_id: payload.source_event_id,\n    step_key: `M4_10_PARSE:${event_id}`\n  }\n}];"},"id":"d1fea965-1155-464f-8857-7902dbedfdb1","name":"📋 Extract Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-608,112]},{"parameters":{"operation":"executeQuery","query":"SELECT 1 AS found FROM workflow_steps WHERE step_key = '{{ $json.step_key }}' AND status = 'DONE' LIMIT 1;","options":{"queryReplacement":"={{ $json.step_key }}"}},"id":"482fc091-d7e2-4506-976d-bfc66db62157","name":"🔍 Check Idempotency","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-400,112],"alwaysOutputData":true,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true},"id":"48efa42c-d0f1-4a64-b96b-93577e0317f4"}],"combinator":"and"},"options":{}},"id":"ef06f85d-ac46-401e-b895-960de9fec8af","name":"❓ Is New?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-208,112]},{"parameters":{"operation":"executeQuery","query":"SELECT id FROM projects WHERE project_number = '{{ $('📋 Extract Data').item.json.project_number }}' LIMIT 1;","options":{}},"id":"2b80c1a3-6747-4f71-8d96-2dbc11b47d41","name":"🔎 Lookup Project","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[0,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const extractData = $('📋 Extract Data').first().json;\nconst projectId = $('🔎 Lookup Project').first().json.id;\n\nif (!projectId) {\n  throw new Error(`Project not found: ${extractData.project_number}`);\n}\n\n// Bei MAGICPLAN alle Files nehmen (Filename geht bei Superchat-Download verloren)\n// Sonst nur CSV files\nconst csvFiles = extractData.doc_type === 'MAGICPLAN'\n  ? extractData.files\n  : extractData.files.filter(f => \n      f.mime_type === 'text/csv' || \n      f.name?.endsWith('.csv') ||\n      f.storage_path?.endsWith('.csv')\n    );\n\nif (csvFiles.length === 0) {\n  throw new Error('No CSV files found in attachments');\n}\n\nreturn csvFiles.map(file => ({\n  json: {\n    ...file,\n    project_id: projectId,\n    project_number: extractData.project_number,\n    event_id: extractData.event_id,\n    step_key: extractData.step_key,\n    doc_type: extractData.doc_type\n  }\n}));"},"id":"cd58ac30-965c-4549-bb76-c65adbe63e98","name":"🔀 Filter CSV Files","type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0]},{"parameters":{"url":"=https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/project-files/{{ $json.storage_path }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"786f2f0c-79a2-4080-8a63-f7c39c42cf6c","name":"📥 Download CSV","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,0],"credentials":{"httpHeaderAuth":{"id":"n357gpDbnk38oMfi","name":"Supabase Storage Auth"}}},{"parameters":{"jsCode":"// Im Parse CSV Node - Add filter for valid sections\nconst csvContent = $input.first().json.data;\nconst prevData = $('🔀 Filter CSV Files').first().json;\n\nconst lines = csvContent.split('\\n');\n\n// Finde \"ATTRIBUTE DER RÄUME\" Section\nlet startIndex = -1;\nlet headerLine = null;\n\nfor (let i = 0; i < lines.length; i++) {\n  if (lines[i].includes('ATTRIBUTE DER RÄUME')) {\n    startIndex = i;\n    headerLine = lines[i];\n    break;\n  }\n}\n\nif (startIndex === -1) {\n  throw new Error('Section ATTRIBUTE DER RÄUME not found in CSV');\n}\n\n// Parse Header für Spalten-Mapping\nconst headers = headerLine.split(',');\n\nconst colMap = {\n  floor_area: headers.findIndex(h => h.includes('Boden Oberfläche')),\n  volume: headers.findIndex(h => h.includes('Volumen')),\n  perimeter: headers.findIndex(h => h.includes('Bodenumfang')),\n  ceiling_perimeter: headers.findIndex(h => h.includes('Deckenumfang')),\n  wall_with_openings: headers.findIndex(h => h.includes('Wandfläche mit Öffnungen')),\n  wall_without_openings: headers.findIndex(h => h.includes('Wandfläche ohne Öffnungen')),\n  door_area: headers.findIndex(h => h.includes('Türflächen')),\n  window_area: headers.findIndex(h => h.includes('Fensteroberflächen')),\n  room_height: headers.findIndex(h => h.includes('Raumhöhe'))\n};\n\n// Invalid floor names to skip\nconst INVALID_FLOORS = ['ANZAHL DER OBJEKTE', 'SYMBOLE', 'NOTIZEN', 'ZUSAMMENFASSUNG'];\n\n// Parse Rooms\nconst rooms = [];\nlet currentFloor = 'Erdgeschoss';\nlet skipSection = false;\n\nfor (let i = startIndex + 1; i < lines.length; i++) {\n  const line = lines[i].trim();\n  if (!line || line.startsWith(',')) continue;\n  \n  const cols = line.split(',');\n  const firstCol = cols[0]?.trim();\n  \n  if (!firstCol) continue;\n  \n  // Check if this is a section we should skip\n  if (INVALID_FLOORS.some(inv => firstCol.toUpperCase().includes(inv.toUpperCase()))) {\n    skipSection = true;\n    continue;\n  }\n  \n  // Check if this is a floor header (only has first column, rest empty)\n  const hasData = cols.slice(1, 5).some(c => c && c.trim() && !isNaN(parseFloat(c.trim())));\n  \n  if (!hasData && firstCol) {\n    // This is a floor name - check if valid\n    if (!INVALID_FLOORS.some(inv => firstCol.toUpperCase().includes(inv.toUpperCase()))) {\n      currentFloor = firstCol;\n      skipSection = false;\n    }\n    continue;\n  }\n  \n  // Skip if we're in an invalid section\n  if (skipSection) continue;\n  \n  // This is a room row\n  const parseNum = (idx) => {\n    if (idx < 0 || !cols[idx]) return null;\n    const val = cols[idx].trim().replace(' m', '').replace(',', '.');\n    const num = parseFloat(val);\n    return isNaN(num) ? null : num;\n  };\n  \n  rooms.push({\n    project_id: prevData.project_id,\n    floor_name: currentFloor,\n    room_name: firstCol,\n    floor_area_m2: parseNum(colMap.floor_area),\n    volume_m3: parseNum(colMap.volume),\n    perimeter_m: parseNum(colMap.perimeter),\n    ceiling_perimeter_m: parseNum(colMap.ceiling_perimeter),\n    wall_area_with_openings_m2: parseNum(colMap.wall_with_openings),\n    wall_area_m2: parseNum(colMap.wall_without_openings),\n    door_area_m2: parseNum(colMap.door_area),\n    window_area_m2: parseNum(colMap.window_area),\n    room_height_m: parseNum(colMap.room_height),\n    source_file: prevData.storage_path,\n    source_event_id: prevData.event_id\n  });\n}\n\nif (rooms.length === 0) {\n  throw new Error('No rooms found in CSV');\n}\n\nreturn rooms.map(room => ({ json: { ...room, ...prevData } }));"},"id":"7785aeb6-46b7-4c9b-9e99-df759cc875a3","name":"🔬 Parse CSV","type":"n8n-nodes-base.code","typeVersion":2,"position":[608,0]},{"parameters":{"operation":"executeQuery","query":"SELECT upsert_room_measurement(\n  '{{ $json.project_id }}'::uuid,\n  '{{ $json.floor_name }}',\n  '{{ $json.room_name }}',\n  {{ $json.floor_area_m2 || 'NULL' }},\n  {{ $json.wall_area_m2 || 'NULL' }},\n  {{ $json.wall_area_with_openings_m2 || 'NULL' }},\n  {{ $json.room_height_m || 'NULL' }},\n  {{ $json.volume_m3 || 'NULL' }},\n  {{ $json.perimeter_m || 'NULL' }},\n  {{ $json.ceiling_perimeter_m || 'NULL' }},\n  {{ $json.door_area_m2 || 'NULL' }},\n  {{ $json.window_area_m2 || 'NULL' }},\n  '{{ $json.source_file }}',\n  '{{ $json.source_event_id }}'::uuid\n) as id;","options":{}},"id":"596076d9-c2b3-49b9-88e8-639e94107f56","name":"📦 Upsert Room","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[800,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const allItems = $input.all();\nconst firstItem = $('🔬 Parse CSV').first().json;\n\nconst roomCount = allItems.length;\nconst roomNames = $('🔬 Parse CSV').all().map(i => i.json.room_name);\n\nreturn [{\n  json: {\n    project_id: firstItem.project_id,\n    project_number: firstItem.project_number,\n    event_id: firstItem.event_id,\n    step_key: firstItem.step_key,\n    room_count: roomCount,\n    rooms: roomNames,\n    source_file: firstItem.source_file\n  }\n}];"},"id":"df22eac4-88cb-4e71-bfd6-e4d3c94cb162","name":"📊 Aggregate Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,0]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (event_type, payload, source_system, source_flow)\nVALUES (\n  'ROOM_MEASUREMENTS_UPDATED',\n  jsonb_build_object(\n    'project_id', '{{ $json.project_id }}',\n    'project_number', '{{ $json.project_number }}',\n    'room_count', {{ $json.room_count }},\n    'source_file', '{{ $json.source_file }}',\n    'source_event_id', '{{ $json.event_id }}'\n  ),\n  'n8n',\n  'M4_10_MagicPlan_Parser'\n)\nRETURNING id;","options":{}},"id":"e7465456-9e6c-4ca6-9322-79e2c3d3c6e3","name":"📢 Event ROOM_MEASUREMENTS_UPDATED","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1200,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO workflow_steps (step_key, step_type, status, completed_at)\nVALUES (\n  '{{ $('📊 Aggregate Results').item.json.step_key }}',\n  'M4_10_MAGICPLAN_PARSER',\n  'DONE',\n  now()\n)\nON CONFLICT (step_key) DO UPDATE SET\n  status = 'DONE',\n  completed_at = now();","options":{}},"id":"9dd98fb7-2ccb-453f-9472-8cfffc9f963b","name":"✅ Mark Complete","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1408,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"options":{}},"id":"7864a75b-981e-433c-898c-12078e5a051c","name":"✅ Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1600,0]},{"parameters":{"respondWith":"json","responseBody":"={\"status\": \"skipped\", \"reason\": \"already_processed\"}","options":{}},"id":"025f5167-6d67-467d-a5ed-3badb74c0dae","name":"⏭️ Respond Skip","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[0,208]}],"connections":{"⚡ Webhook":{"main":[[{"node":"📋 Extract Data","type":"main","index":0}]]},"📋 Extract Data":{"main":[[{"node":"🔍 Check Idempotency","type":"main","index":0}]]},"🔍 Check Idempotency":{"main":[[{"node":"❓ Is New?","type":"main","index":0}]]},"❓ Is New?":{"main":[[{"node":"🔎 Lookup Project","type":"main","index":0}],[{"node":"⏭️ Respond Skip","type":"main","index":0}]]},"🔎 Lookup Project":{"main":[[{"node":"🔀 Filter CSV Files","type":"main","index":0}]]},"🔀 Filter CSV Files":{"main":[[{"node":"📥 Download CSV","type":"main","index":0}]]},"📥 Download CSV":{"main":[[{"node":"🔬 Parse CSV","type":"main","index":0}]]},"🔬 Parse CSV":{"main":[[{"node":"📦 Upsert Room","type":"main","index":0}]]},"📦 Upsert Room":{"main":[[{"node":"📊 Aggregate Results","type":"main","index":0}]]},"📊 Aggregate Results":{"main":[[{"node":"📢 Event ROOM_MEASUREMENTS_UPDATED","type":"main","index":0}]]},"📢 Event ROOM_MEASUREMENTS_UPDATED":{"main":[[{"node":"✅ Mark Complete","type":"main","index":0}]]},"✅ Mark Complete":{"main":[[{"node":"✅ Respond Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"apmJoMCbOchwfqTp"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"⚡ Webhook":[{"json":{"headers":{"host":"n8n.srv1045913.hstgr.cloud","user-agent":"curl/8.7.1","content-length":"454","accept":"*/*","content-type":"application/json","x-forwarded-for":"89.56.41.171","x-forwarded-host":"n8n.srv1045913.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"d013d7a35c2d","x-real-ip":"89.56.41.171","accept-encoding":"gzip"},"params":{},"query":{},"body":{"event_id":"53a80386-5305-4c05-a47d-d0ad46d976da","payload":{"project_number":"BL-2026-007","doc_type":"MAGICPLAN","files":[{"file_id":"fi_GZAz0JxPOPVRzIC2VD2Dh","name":"file_1769189938937","storage_path":"magicplan/BL-2026-007/file_1769189938937","mime_type":"text/csv"}],"file_count":1,"source_event_id":"53a80386-5305-4c05-a47d-d0ad46d976da"}},"webhookUrl":"https://n8n.srv1045913.hstgr.cloud/webhook/m4-10-magicplan-parser","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"57a5b837-856e-4e71-8a3e-b497299f3805","activeVersionId":"57a5b837-856e-4e71-8a3e-b497299f3805","versionCounter":69,"triggerCount":1,"shared":[{"updatedAt":"2026-01-23T17:49:28.121Z","createdAt":"2026-01-23T17:49:28.121Z","role":"workflow:owner","workflowId":"Tjbz4nIiHlav6Y7hr7yld","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-25T19:02:09.000Z","createdAt":"2026-01-25T19:02:07.092Z","versionId":"57a5b837-856e-4e71-8a3e-b497299f3805","workflowId":"Tjbz4nIiHlav6Y7hr7yld","nodes":[{"parameters":{"httpMethod":"POST","path":"m4-10-magicplan-parser","responseMode":"responseNode","options":{}},"id":"145d2c26-8564-4ad6-a2a7-50418d9ce8a1","name":"⚡ Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-800,112],"webhookId":"m4-10-magicplan-parser"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\n\nconst event_id = body.event_id;\nconst payload = body.payload || {};\n\nreturn [{\n  json: {\n    event_id,\n    project_number: payload.project_number,\n    doc_type: payload.doc_type,\n    files: payload.files || [],\n    file_count: payload.file_count || 0,\n    source_event_id: payload.source_event_id,\n    step_key: `M4_10_PARSE:${event_id}`\n  }\n}];"},"id":"d1fea965-1155-464f-8857-7902dbedfdb1","name":"📋 Extract Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-608,112]},{"parameters":{"operation":"executeQuery","query":"SELECT 1 AS found FROM workflow_steps WHERE step_key = '{{ $json.step_key }}' AND status = 'DONE' LIMIT 1;","options":{"queryReplacement":"={{ $json.step_key }}"}},"id":"482fc091-d7e2-4506-976d-bfc66db62157","name":"🔍 Check Idempotency","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-400,112],"alwaysOutputData":true,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true},"id":"48efa42c-d0f1-4a64-b96b-93577e0317f4"}],"combinator":"and"},"options":{}},"id":"ef06f85d-ac46-401e-b895-960de9fec8af","name":"❓ Is New?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-208,112]},{"parameters":{"operation":"executeQuery","query":"SELECT id FROM projects WHERE project_number = '{{ $('📋 Extract Data').item.json.project_number }}' LIMIT 1;","options":{}},"id":"2b80c1a3-6747-4f71-8d96-2dbc11b47d41","name":"🔎 Lookup Project","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[0,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const extractData = $('📋 Extract Data').first().json;\nconst projectId = $('🔎 Lookup Project').first().json.id;\n\nif (!projectId) {\n  throw new Error(`Project not found: ${extractData.project_number}`);\n}\n\n// Bei MAGICPLAN alle Files nehmen (Filename geht bei Superchat-Download verloren)\n// Sonst nur CSV files\nconst csvFiles = extractData.doc_type === 'MAGICPLAN'\n  ? extractData.files\n  : extractData.files.filter(f => \n      f.mime_type === 'text/csv' || \n      f.name?.endsWith('.csv') ||\n      f.storage_path?.endsWith('.csv')\n    );\n\nif (csvFiles.length === 0) {\n  throw new Error('No CSV files found in attachments');\n}\n\nreturn csvFiles.map(file => ({\n  json: {\n    ...file,\n    project_id: projectId,\n    project_number: extractData.project_number,\n    event_id: extractData.event_id,\n    step_key: extractData.step_key,\n    doc_type: extractData.doc_type\n  }\n}));"},"id":"cd58ac30-965c-4549-bb76-c65adbe63e98","name":"🔀 Filter CSV Files","type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0]},{"parameters":{"url":"=https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/project-files/{{ $json.storage_path }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"786f2f0c-79a2-4080-8a63-f7c39c42cf6c","name":"📥 Download CSV","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,0],"credentials":{"httpHeaderAuth":{"id":"n357gpDbnk38oMfi","name":"Supabase Storage Auth"}}},{"parameters":{"jsCode":"// Im Parse CSV Node - Add filter for valid sections\nconst csvContent = $input.first().json.data;\nconst prevData = $('🔀 Filter CSV Files').first().json;\n\nconst lines = csvContent.split('\\n');\n\n// Finde \"ATTRIBUTE DER RÄUME\" Section\nlet startIndex = -1;\nlet headerLine = null;\n\nfor (let i = 0; i < lines.length; i++) {\n  if (lines[i].includes('ATTRIBUTE DER RÄUME')) {\n    startIndex = i;\n    headerLine = lines[i];\n    break;\n  }\n}\n\nif (startIndex === -1) {\n  throw new Error('Section ATTRIBUTE DER RÄUME not found in CSV');\n}\n\n// Parse Header für Spalten-Mapping\nconst headers = headerLine.split(',');\n\nconst colMap = {\n  floor_area: headers.findIndex(h => h.includes('Boden Oberfläche')),\n  volume: headers.findIndex(h => h.includes('Volumen')),\n  perimeter: headers.findIndex(h => h.includes('Bodenumfang')),\n  ceiling_perimeter: headers.findIndex(h => h.includes('Deckenumfang')),\n  wall_with_openings: headers.findIndex(h => h.includes('Wandfläche mit Öffnungen')),\n  wall_without_openings: headers.findIndex(h => h.includes('Wandfläche ohne Öffnungen')),\n  door_area: headers.findIndex(h => h.includes('Türflächen')),\n  window_area: headers.findIndex(h => h.includes('Fensteroberflächen')),\n  room_height: headers.findIndex(h => h.includes('Raumhöhe'))\n};\n\n// Invalid floor names to skip\nconst INVALID_FLOORS = ['ANZAHL DER OBJEKTE', 'SYMBOLE', 'NOTIZEN', 'ZUSAMMENFASSUNG'];\n\n// Parse Rooms\nconst rooms = [];\nlet currentFloor = 'Erdgeschoss';\nlet skipSection = false;\n\nfor (let i = startIndex + 1; i < lines.length; i++) {\n  const line = lines[i].trim();\n  if (!line || line.startsWith(',')) continue;\n  \n  const cols = line.split(',');\n  const firstCol = cols[0]?.trim();\n  \n  if (!firstCol) continue;\n  \n  // Check if this is a section we should skip\n  if (INVALID_FLOORS.some(inv => firstCol.toUpperCase().includes(inv.toUpperCase()))) {\n    skipSection = true;\n    continue;\n  }\n  \n  // Check if this is a floor header (only has first column, rest empty)\n  const hasData = cols.slice(1, 5).some(c => c && c.trim() && !isNaN(parseFloat(c.trim())));\n  \n  if (!hasData && firstCol) {\n    // This is a floor name - check if valid\n    if (!INVALID_FLOORS.some(inv => firstCol.toUpperCase().includes(inv.toUpperCase()))) {\n      currentFloor = firstCol;\n      skipSection = false;\n    }\n    continue;\n  }\n  \n  // Skip if we're in an invalid section\n  if (skipSection) continue;\n  \n  // This is a room row\n  const parseNum = (idx) => {\n    if (idx < 0 || !cols[idx]) return null;\n    const val = cols[idx].trim().replace(' m', '').replace(',', '.');\n    const num = parseFloat(val);\n    return isNaN(num) ? null : num;\n  };\n  \n  rooms.push({\n    project_id: prevData.project_id,\n    floor_name: currentFloor,\n    room_name: firstCol,\n    floor_area_m2: parseNum(colMap.floor_area),\n    volume_m3: parseNum(colMap.volume),\n    perimeter_m: parseNum(colMap.perimeter),\n    ceiling_perimeter_m: parseNum(colMap.ceiling_perimeter),\n    wall_area_with_openings_m2: parseNum(colMap.wall_with_openings),\n    wall_area_m2: parseNum(colMap.wall_without_openings),\n    door_area_m2: parseNum(colMap.door_area),\n    window_area_m2: parseNum(colMap.window_area),\n    room_height_m: parseNum(colMap.room_height),\n    source_file: prevData.storage_path,\n    source_event_id: prevData.event_id\n  });\n}\n\nif (rooms.length === 0) {\n  throw new Error('No rooms found in CSV');\n}\n\nreturn rooms.map(room => ({ json: { ...room, ...prevData } }));"},"id":"7785aeb6-46b7-4c9b-9e99-df759cc875a3","name":"🔬 Parse CSV","type":"n8n-nodes-base.code","typeVersion":2,"position":[608,0]},{"parameters":{"operation":"executeQuery","query":"SELECT upsert_room_measurement(\n  '{{ $json.project_id }}'::uuid,\n  '{{ $json.floor_name }}',\n  '{{ $json.room_name }}',\n  {{ $json.floor_area_m2 || 'NULL' }},\n  {{ $json.wall_area_m2 || 'NULL' }},\n  {{ $json.wall_area_with_openings_m2 || 'NULL' }},\n  {{ $json.room_height_m || 'NULL' }},\n  {{ $json.volume_m3 || 'NULL' }},\n  {{ $json.perimeter_m || 'NULL' }},\n  {{ $json.ceiling_perimeter_m || 'NULL' }},\n  {{ $json.door_area_m2 || 'NULL' }},\n  {{ $json.window_area_m2 || 'NULL' }},\n  '{{ $json.source_file }}',\n  '{{ $json.source_event_id }}'::uuid\n) as id;","options":{}},"id":"596076d9-c2b3-49b9-88e8-639e94107f56","name":"📦 Upsert Room","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[800,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const allItems = $input.all();\nconst firstItem = $('🔬 Parse CSV').first().json;\n\nconst roomCount = allItems.length;\nconst roomNames = $('🔬 Parse CSV').all().map(i => i.json.room_name);\n\nreturn [{\n  json: {\n    project_id: firstItem.project_id,\n    project_number: firstItem.project_number,\n    event_id: firstItem.event_id,\n    step_key: firstItem.step_key,\n    room_count: roomCount,\n    rooms: roomNames,\n    source_file: firstItem.source_file\n  }\n}];"},"id":"df22eac4-88cb-4e71-bfd6-e4d3c94cb162","name":"📊 Aggregate Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,0]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (event_type, payload, source_system, source_flow)\nVALUES (\n  'ROOM_MEASUREMENTS_UPDATED',\n  jsonb_build_object(\n    'project_id', '{{ $json.project_id }}',\n    'project_number', '{{ $json.project_number }}',\n    'room_count', {{ $json.room_count }},\n    'source_file', '{{ $json.source_file }}',\n    'source_event_id', '{{ $json.event_id }}'\n  ),\n  'n8n',\n  'M4_10_MagicPlan_Parser'\n)\nRETURNING id;","options":{}},"id":"e7465456-9e6c-4ca6-9322-79e2c3d3c6e3","name":"📢 Event ROOM_MEASUREMENTS_UPDATED","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1200,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO workflow_steps (step_key, step_type, status, completed_at)\nVALUES (\n  '{{ $('📊 Aggregate Results').item.json.step_key }}',\n  'M4_10_MAGICPLAN_PARSER',\n  'DONE',\n  now()\n)\nON CONFLICT (step_key) DO UPDATE SET\n  status = 'DONE',\n  completed_at = now();","options":{}},"id":"9dd98fb7-2ccb-453f-9472-8cfffc9f963b","name":"✅ Mark Complete","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1408,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"options":{}},"id":"7864a75b-981e-433c-898c-12078e5a051c","name":"✅ Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1600,0]},{"parameters":{"respondWith":"json","responseBody":"={\"status\": \"skipped\", \"reason\": \"already_processed\"}","options":{}},"id":"025f5167-6d67-467d-a5ed-3badb74c0dae","name":"⏭️ Respond Skip","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[0,208]}],"connections":{"⚡ Webhook":{"main":[[{"node":"📋 Extract Data","type":"main","index":0}]]},"📋 Extract Data":{"main":[[{"node":"🔍 Check Idempotency","type":"main","index":0}]]},"🔍 Check Idempotency":{"main":[[{"node":"❓ Is New?","type":"main","index":0}]]},"❓ Is New?":{"main":[[{"node":"🔎 Lookup Project","type":"main","index":0}],[{"node":"⏭️ Respond Skip","type":"main","index":0}]]},"🔎 Lookup Project":{"main":[[{"node":"🔀 Filter CSV Files","type":"main","index":0}]]},"🔀 Filter CSV Files":{"main":[[{"node":"📥 Download CSV","type":"main","index":0}]]},"📥 Download CSV":{"main":[[{"node":"🔬 Parse CSV","type":"main","index":0}]]},"🔬 Parse CSV":{"main":[[{"node":"📦 Upsert Room","type":"main","index":0}]]},"📦 Upsert Room":{"main":[[{"node":"📊 Aggregate Results","type":"main","index":0}]]},"📊 Aggregate Results":{"main":[[{"node":"📢 Event ROOM_MEASUREMENTS_UPDATED","type":"main","index":0}]]},"📢 Event ROOM_MEASUREMENTS_UPDATED":{"main":[[{"node":"✅ Mark Complete","type":"main","index":0}]]},"✅ Mark Complete":{"main":[[{"node":"✅ Respond Success","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version 57a5b837","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-01-25T19:02:09.300Z","id":451,"workflowId":"Tjbz4nIiHlav6Y7hr7yld","versionId":"57a5b837-856e-4e71-8a3e-b497299f3805","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}