n8n-workflows/M5_01_Approval_Dispatcher.json
{"updatedAt":"2026-02-11T09:38:30.873Z","createdAt":"2026-02-09T20:44:36.555Z","id":"zCs5Hwy9NmUhodI6KiyS3","name":"M5_01_Approval_Dispatcher","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"m5-01-approval-dispatcher","responseMode":"responseNode","options":{}},"id":"7ab80f2b-a771-4b9a-b432-f77568a7d2eb","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1536,192],"webhookId":"m5-01-approval-dispatcher","notes":"Receives APPROVAL_APPROVED events from MX_00_Event_Router"},{"parameters":{"jsCode":"// Extract event data from router payload\nconst input = $input.first().json;\n\nconst eventId = input.body?.event_id || input.event_id;\nconst projectId = input.body?.project_id || input.project_id;\nconst payload = input.body?.payload || input.payload || {};\n\nconst approvalId = payload.approval_id;\nconst channel = payload.channel || 'telegram';\nconst recipient = payload.recipient || null;\n\nconst stepKey = `approval_dispatch:${approvalId}`;\n\nreturn {\n  json: {\n    event_id: eventId,\n    project_id: projectId,\n    approval_id: approvalId,\n    channel: channel,\n    recipient: recipient,\n    step_key: stepKey\n  }\n};"},"id":"bac8eb22-fbb7-40e1-9afd-0e626df11783","name":"Parse Event Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1328,192],"notes":"Extracts approval_id, channel, recipient from payload"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n  '{{ $json.step_key }}',\n  '{{ $json.project_id }}'::uuid,\n  'APPROVAL_DISPATCH'\n);","options":{}},"id":"650afc9e-ae97-4810-9283-c3163ec73b81","name":"Claim Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1104,192],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Atomic claim to prevent duplicate dispatch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-claimed","leftValue":"={{ $json.claimed }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"28163a26-92b1-4ad2-a942-189a1ea6c6ae","name":"Step Claimed?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-880,192],"notes":"If claimed=true: proceed. If false: skip or exit"},{"parameters":{"operation":"executeQuery","query":"SELECT \n  a.id as approval_id,\n  a.project_id,\n  a.approval_type,\n  a.request_summary,\n  a.request_data,\n  a.decided_at,\n  a.decided_by,\n  p.project_number,\n  p.object_street,\n  p.object_zip,\n  p.object_city,\n  c.company_name as client_name,\n  c.email as client_email\nFROM approvals a\nJOIN projects p ON a.project_id = p.id\nLEFT JOIN clients c ON p.client_id = c.id\nWHERE a.id = '{{ $('Parse Event Data').item.json.approval_id }}'::uuid;","options":{}},"id":"2e1c892b-933d-43bc-a114-2b9d27e36fd3","name":"Load Approval + Project","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-656,80],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Loads approval with project and client info"},{"parameters":{"jsCode":"// Build dispatch messages for all channels\nconst approval = $input.first().json;\nconst eventData = $('Parse Event Data').first().json;\nconst requestData = typeof approval.request_data === 'string' \n  ? JSON.parse(approval.request_data) \n  : approval.request_data || {};\n\nconst channel = eventData.channel;\nconst recipient = eventData.recipient;\n\n// Extract data from request_data\nconst deviations = requestData.deviations || [];\nconst deviationCount = requestData.deviation_count || 0;\nconst additionalCount = requestData.additional_count || 0;\nconst confirmedCount = requestData.confirmed_count || 0;\nconst inspectionDate = requestData.inspection_date || '';\nconst finalizedBy = requestData.finalized_by || 'Bauleiter';\n\n// Separate deviations and additionals\nconst deviationItems = deviations.filter(d => d.deviation_type && !d.is_additional);\nconst additionalItems = deviations.filter(d => d.is_additional);\n\n// Map deviation types to labels\nconst deviationLabels = {\n  'damage': 'Beschädigung',\n  'wrong_product': 'Falsches Produkt',\n  'missing': 'Fehlend',\n  'quality': 'Qualitätsmangel',\n  'dimension': 'Maßabweichung',\n  'other': 'Sonstiges'\n};\n\n// Build deviation lines\nconst deviationLines = deviationItems.map(d => {\n  const room = d.room_name || '';\n  const pos = d.position_number ? `Pos ${d.position_number}` : '';\n  const title = d.position_title || '';\n  const label = deviationLabels[d.deviation_type] || d.deviation_type || '';\n  const notes = d.notes ? `\\n    ${d.notes}` : '';\n  return `- ${room} · ${pos} ${title}: ${label}${notes}`;\n}).join('\\n');\n\n// Build additional lines\nconst additionalLines = additionalItems.map(d => {\n  const room = d.room_name || '';\n  const nr = d.catalog_position_nr || '';\n  const title = d.position_title || '';\n  const notes = d.notes ? `\\n    ${d.notes}` : '';\n  return `- ${room} · ${nr} ${title}${notes}`;\n}).join('\\n');\n\n// Address parts\nconst address = [approval.object_street, `${approval.object_zip || ''} ${approval.object_city || ''}`].filter(Boolean).join(', ');\nconst subject = `Erstbegehung ${approval.project_number} — ${approval.object_street}`;\n\n// Plain text message (for email/whatsapp)\nconst plainMessage = [\n  `Betreff: ${subject}`,\n  '',\n  'Sehr geehrte Damen und Herren,',\n  '',\n  `die Erstbegehung für das o.g. Objekt wurde am ${inspectionDate} durchgeführt.`,\n  '',\n  'Ergebnis:',\n  confirmedCount ? `- ${confirmedCount} Positionen wie beauftragt bestätigt` : null,\n  `- ${deviationCount} Abweichungen festgestellt`,\n  `- ${additionalCount} nicht beauftragte Leistungen vorgefunden`,\n  deviationItems.length ? '\\nAbweichungen:' : null,\n  deviationItems.length ? deviationLines : null,\n  additionalItems.length ? '\\nZusatzleistungen:' : null,\n  additionalItems.length ? additionalLines : null,\n  '',\n  'Fotodokumentation liegt bei / kann angefordert werden.',\n  '',\n  'Mit freundlichen Grüßen',\n  `${eventData.decided_by_name || finalizedBy}`,\n  'Deine Baulöwen GmbH'\n].filter(v => v !== null).join('\\n');\n\n// Telegram markdown message (shorter)\nconst telegramMessage = [\n  `📋 *Erstbegehung ${approval.project_number}*`,\n  `📍 ${approval.object_street}`,\n  `📅 ${inspectionDate}`,\n  '',\n  confirmedCount ? `✅ ${confirmedCount} bestätigt` : null,\n  deviationCount ? `⚠️ ${deviationCount} Abweichungen` : null,\n  additionalCount ? `➕ ${additionalCount} Zusatzleistungen` : null,\n  deviationItems.length ? '\\n*Abweichungen:*' : null,\n  ...deviationItems.map(d => {\n    const label = deviationLabels[d.deviation_type] || d.deviation_type || '';\n    return `• ${d.room_name || ''} · ${d.position_title || ''}: _${label}_`;\n  }),\n  additionalItems.length ? '\\n*Zusatzleistungen:*' : null,\n  ...additionalItems.map(d => {\n    return `• ${d.room_name || ''} · ${d.catalog_position_nr || ''} ${d.position_title || ''}`;\n  }),\n  '',\n  `_${eventData.decided_by_name || finalizedBy} · Deine Baulöwen GmbH_`\n].filter(v => v !== null).join('\\n');\n\n// HTML email body\nconst deviationHtml = deviationItems.map(d => {\n  const label = deviationLabels[d.deviation_type] || d.deviation_type || '';\n  const notes = d.notes ? `<br><small>${d.notes}</small>` : '';\n  return `<li>${d.room_name || ''} · Pos ${d.position_number || ''} ${d.position_title || ''}: <strong>${label}</strong>${notes}</li>`;\n}).join('');\n\nconst additionalHtml = additionalItems.map(d => {\n  const notes = d.notes ? `<br><small>${d.notes}</small>` : '';\n  return `<li>${d.room_name || ''} · ${d.catalog_position_nr || ''} ${d.position_title || ''}${notes}</li>`;\n}).join('');\n\nconst htmlBody = `\n<p>Sehr geehrte Damen und Herren,</p>\n<p>die Erstbegehung für das o.g. Objekt wurde am <strong>${inspectionDate}</strong> durchgeführt.</p>\n<h3>Ergebnis</h3>\n<ul>\n${confirmedCount ? `<li>${confirmedCount} Positionen wie beauftragt bestätigt</li>` : ''}\n<li>${deviationCount} Abweichungen festgestellt</li>\n<li>${additionalCount} nicht beauftragte Leistungen vorgefunden</li>\n</ul>\n${deviationItems.length ? `<h3>Abweichungen</h3><ul>${deviationHtml}</ul>` : ''}\n${additionalItems.length ? `<h3>Zusatzleistungen</h3><ul>${additionalHtml}</ul>` : ''}\n<p>Fotodokumentation liegt bei / kann angefordert werden.</p>\n<p>Mit freundlichen Grüßen<br>\n${eventData.decided_by_name || finalizedBy}<br>\n<strong>Deine Baulöwen GmbH</strong></p>\n`;\n\nreturn {\n  json: {\n    ...eventData,\n    approval_id: approval.approval_id,\n    project_id: approval.project_id,\n    approval_type: approval.approval_type,\n    project_number: approval.project_number,\n    object_street: approval.object_street,\n    client_name: approval.client_name,\n    client_email: approval.client_email,\n    deviation_count: deviationCount,\n    additional_count: additionalCount,\n    confirmed_count: confirmedCount,\n    subject: subject,\n    telegram_message: telegramMessage,\n    plain_message: plainMessage,\n    html_body: htmlBody,\n    channel: channel,\n    recipient: recipient\n  }\n};"},"id":"702d5152-50c8-4212-a5d9-dfea60ac60b4","name":"Build Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,80],"notes":"Builds telegram/whatsapp/email messages from approval data"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.channel }}","rightValue":"telegram","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"telegram"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.channel }}","rightValue":"whatsapp","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"whatsapp"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.channel }}","rightValue":"email","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"email"}]},"options":{"fallbackOutput":"extra"}},"id":"7ca7f438-6992-4d42-b5f8-5132d1253cd0","name":"Route by Channel","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-224,80],"notes":"Routes to telegram, whatsapp, or email based on channel"},{"parameters":{"chatId":"={{ $json.recipient || '6088921678' }}","text":"={{ $json.telegram_message }}","additionalFields":{"disable_web_page_preview":true,"parse_mode":"Markdown"}},"id":"9a75d1d3-b443-45cb-9f00-a43b2f9531ea","name":"Send Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,-80],"webhookId":"b05b5f20-142d-4015-9919-5cb704f83f4d","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}},"notes":"Sends via Telegram to recipient or default chat"},{"parameters":{"jsCode":"// WhatsApp via Superchat API\n// If Superchat is not configured, skip gracefully\nconst data = $input.first().json;\n\ntry {\n  // Superchat integration would go here\n  // For now, log and pass through\n  return {\n    json: {\n      ...data,\n      whatsapp_status: 'skipped',\n      whatsapp_note: 'Superchat integration not yet configured — message not sent via WhatsApp'\n    }\n  };\n} catch (err) {\n  return {\n    json: {\n      ...data,\n      whatsapp_status: 'skipped',\n      whatsapp_note: `WhatsApp send failed: ${err.message}`\n    }\n  };\n}"},"id":"88b1fd6c-a9b4-4143-8343-ca27f08e6fe1","name":"Send WhatsApp (Placeholder)","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,80],"notes":"WhatsApp via Superchat — skip gracefully if not configured"},{"parameters":{"jsCode":"// Email dispatch — check if recipient exists\nconst data = $input.first().json;\nconst emailTo = data.recipient || data.client_email;\n\nif (!emailTo) {\n  // No email recipient — fallback to telegram with warning\n  return {\n    json: {\n      ...data,\n      email_fallback: true,\n      email_note: 'Kein E-Mail-Empfänger — Fallback auf Telegram'\n    }\n  };\n}\n\nreturn {\n  json: {\n    ...data,\n    email_to: emailTo,\n    email_fallback: false\n  }\n};"},"id":"d26b2ea9-3ba1-45d3-b719-599dff89d3f0","name":"Check Email Recipient","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,256],"notes":"Validates email recipient, fallback to Telegram if missing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-fallback","leftValue":"={{ $json.email_fallback }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"e4497652-7c1f-4889-ba7d-0e9c9e703a6f","name":"Has Email Recipient?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,192],"notes":"If email_fallback=false: send email. If true: fallback to telegram"},{"parameters":{"chatId":"6088921678","text":"=⚠️ *Email-Fallback*\n\nKein E-Mail-Empfänger für Approval {{ $json.approval_id }}\nProjekt: {{ $json.project_number }}\n\nNachricht stattdessen hier:\n\n{{ $json.telegram_message }}","additionalFields":{"disable_web_page_preview":true,"parse_mode":"Markdown"}},"id":"7af53e1b-6c95-4fc2-88e5-5f644a1fec5e","name":"Email Fallback Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[448,304],"webhookId":"f313f233-7b07-495d-be07-cf362d68f7cf","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}},"notes":"Fallback: sends via Telegram when no email recipient"},{"parameters":{"jsCode":"// Merge all channel outputs into a single result\nconst data = $input.first().json;\nconst eventData = $('Parse Event Data').first().json;\nconst buildData = $('Build Message').first().json;\n\nreturn {\n  json: {\n    ...buildData,\n    dispatch_success: true\n  }\n};"},"id":"56f8052a-590d-4e3e-a078-5f0d00f1ec98","name":"After Dispatch","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,80],"notes":"Merges result after channel dispatch"},{"parameters":{"operation":"executeQuery","query":"UPDATE approvals \nSET dispatched_at = now(),\n    dispatch_channel = '{{ $json.channel }}',\n    dispatch_status = 'sent'\nWHERE id = '{{ $json.approval_id }}'::uuid;","options":{}},"id":"2e21b7cb-7a0b-431e-9b2e-d0397093c654","name":"Update Approval Status","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[880,80],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Marks approval as dispatched with channel info"},{"parameters":{"operation":"executeQuery","query":"SELECT complete_workflow_step(\n  '{{ $('Parse Event Data').item.json.step_key }}',\n  '{\"dispatched_via\": \"{{ $('Parse Event Data').item.json.channel }}\", \"approval_id\": \"{{ $('Parse Event Data').item.json.approval_id }}\"}'\n);","options":{}},"id":"c19898cc-9794-4815-8115-d752dc60854c","name":"Complete Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1104,80],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Marks workflow step as DONE"},{"parameters":{"operation":"executeQuery","query":"-- Mark input event as processed\nDO $$ BEGIN\n  UPDATE events SET processed_at = now() WHERE id = '{{ $('Parse Event Data').item.json.event_id }}'::uuid;\nEXCEPTION WHEN invalid_text_representation THEN NULL;\nEND $$;\n\n-- Emit APPROVAL_DISPATCHED event\nINSERT INTO events (event_type, project_id, payload, source_system, source_flow, reference_table, reference_id)\nVALUES (\n  'APPROVAL_DISPATCHED',\n  '{{ $('Parse Event Data').item.json.project_id }}'::uuid,\n  jsonb_build_object(\n    'approval_id', '{{ $('Parse Event Data').item.json.approval_id }}',\n    'channel', '{{ $('Parse Event Data').item.json.channel }}',\n    'approval_type', '{{ $json.approval_type }}'\n  ),\n  'n8n',\n  'M5_01_Approval_Dispatcher',\n  'approvals',\n  '{{ $('Parse Event Data').item.json.approval_id }}'::uuid\n)\nRETURNING id, event_type::text, project_id;","options":{}},"id":"5b0d833c-6ad9-4977-9598-9808856e4eb4","name":"Emit APPROVAL_DISPATCHED","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1328,80],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Marks input event processed and emits APPROVAL_DISPATCHED"},{"parameters":{"chatId":"6088921678","text":"=✅ Erstbegehung {{ $('Build Message').item.json.project_number }} versendet via {{ $('Parse Event Data').item.json.channel }}\nAn: {{ $('Parse Event Data').item.json.recipient || 'Default' }}\nAbweichungen: {{ $('Build Message').item.json.deviation_count }} | Zusatz: {{ $('Build Message').item.json.additional_count }}","additionalFields":{"disable_web_page_preview":true,"parse_mode":"Markdown"}},"id":"51873437-b0a1-4332-ab64-a5e8c8a56712","name":"Telegram Confirm","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1552,80],"webhookId":"f139a2c7-98b7-42ad-bb63-215f38bbb573","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}},"notes":"Confirms dispatch to Dennis"},{"parameters":{"jsCode":"const eventData = $('Parse Event Data').first().json;\nreturn {\n  json: {\n    success: true,\n    channel: eventData.channel,\n    approval_id: eventData.approval_id,\n    dispatched_at: new Date().toISOString()\n  }\n};"},"id":"4334646d-9277-4748-bf32-a12f90f1f4c0","name":"Done (Success)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,80],"notes":"Success response"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"78a12a7a-ce90-46e8-845b-5762b069ce5a","name":"Respond (Success)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1984,80]},{"parameters":{"jsCode":"// Step already done or in progress by another run\nconst claimResult = $input.first().json;\nconst eventData = $('Parse Event Data').first().json;\n\nif (claimResult.current_status === 'DONE') {\n  return {\n    json: {\n      status: 'skipped',\n      reason: 'Approval dispatch already processed',\n      current_status: claimResult.current_status,\n      approval_id: eventData.approval_id\n    }\n  };\n}\n\nreturn {\n  json: {\n    status: 'skipped',\n    reason: 'Step in progress by another run',\n    current_status: claimResult.current_status\n  }\n};"},"id":"8b889fb9-ebf7-41c4-98d6-e6a093751465","name":"Handle Not Claimed","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,432],"notes":"Handles DONE (skip) and IN_PROGRESS (exit)"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"eaddb6f3-3426-4401-9d35-eb5539b560c5","name":"Respond (Skip)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-448,432]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Event Data","type":"main","index":0}]]},"Parse Event Data":{"main":[[{"node":"Claim Workflow Step","type":"main","index":0}]]},"Claim Workflow Step":{"main":[[{"node":"Step Claimed?","type":"main","index":0}]]},"Step Claimed?":{"main":[[{"node":"Load Approval + Project","type":"main","index":0}],[{"node":"Handle Not Claimed","type":"main","index":0}]]},"Load Approval + Project":{"main":[[{"node":"Build Message","type":"main","index":0}]]},"Build Message":{"main":[[{"node":"Route by Channel","type":"main","index":0}]]},"Route by Channel":{"main":[[{"node":"Send Telegram","type":"main","index":0}],[{"node":"Send WhatsApp (Placeholder)","type":"main","index":0}],[{"node":"Check Email Recipient","type":"main","index":0}],[{"node":"After Dispatch","type":"main","index":0}]]},"Send Telegram":{"main":[[{"node":"After Dispatch","type":"main","index":0}]]},"Send WhatsApp (Placeholder)":{"main":[[{"node":"After Dispatch","type":"main","index":0}]]},"Check Email Recipient":{"main":[[{"node":"Has Email Recipient?","type":"main","index":0}]]},"Has Email Recipient?":{"main":[[{"node":"Email Fallback Telegram","type":"main","index":0}],[{"node":"Email Fallback Telegram","type":"main","index":0}]]},"Email Fallback Telegram":{"main":[[{"node":"After Dispatch","type":"main","index":0}]]},"After Dispatch":{"main":[[{"node":"Update Approval Status","type":"main","index":0}]]},"Update Approval Status":{"main":[[{"node":"Complete Workflow Step","type":"main","index":0}]]},"Complete Workflow Step":{"main":[[{"node":"Emit APPROVAL_DISPATCHED","type":"main","index":0}]]},"Emit APPROVAL_DISPATCHED":{"main":[[{"node":"Telegram Confirm","type":"main","index":0}]]},"Telegram Confirm":{"main":[[{"node":"Done (Success)","type":"main","index":0}]]},"Done (Success)":{"main":[[{"node":"Respond (Success)","type":"main","index":0}]]},"Handle Not Claimed":{"main":[[{"node":"Respond (Skip)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"apmJoMCbOchwfqTp"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"63b96028-882f-48ed-8de2-9306a5bfd141","activeVersionId":"63b96028-882f-48ed-8de2-9306a5bfd141","versionCounter":32,"triggerCount":1,"shared":[{"updatedAt":"2026-02-09T20:44:36.560Z","createdAt":"2026-02-09T20:44:36.560Z","role":"workflow:owner","workflowId":"zCs5Hwy9NmUhodI6KiyS3","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-09T21:09:14.000Z","createdAt":"2026-02-09T21:09:12.780Z","versionId":"63b96028-882f-48ed-8de2-9306a5bfd141","workflowId":"zCs5Hwy9NmUhodI6KiyS3","nodes":[{"parameters":{"httpMethod":"POST","path":"m5-01-approval-dispatcher","responseMode":"responseNode","options":{}},"id":"7ab80f2b-a771-4b9a-b432-f77568a7d2eb","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1536,192],"webhookId":"m5-01-approval-dispatcher","notes":"Receives APPROVAL_APPROVED events from MX_00_Event_Router"},{"parameters":{"jsCode":"// Extract event data from router payload\nconst input = $input.first().json;\n\nconst eventId = input.body?.event_id || input.event_id;\nconst projectId = input.body?.project_id || input.project_id;\nconst payload = input.body?.payload || input.payload || {};\n\nconst approvalId = payload.approval_id;\nconst channel = payload.channel || 'telegram';\nconst recipient = payload.recipient || null;\n\nconst stepKey = `approval_dispatch:${approvalId}`;\n\nreturn {\n  json: {\n    event_id: eventId,\n    project_id: projectId,\n    approval_id: approvalId,\n    channel: channel,\n    recipient: recipient,\n    step_key: stepKey\n  }\n};"},"id":"bac8eb22-fbb7-40e1-9afd-0e626df11783","name":"Parse Event Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1328,192],"notes":"Extracts approval_id, channel, recipient from payload"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n  '{{ $json.step_key }}',\n  '{{ $json.project_id }}'::uuid,\n  'APPROVAL_DISPATCH'\n);","options":{}},"id":"650afc9e-ae97-4810-9283-c3163ec73b81","name":"Claim Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1104,192],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Atomic claim to prevent duplicate dispatch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-claimed","leftValue":"={{ $json.claimed }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"28163a26-92b1-4ad2-a942-189a1ea6c6ae","name":"Step Claimed?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-880,192],"notes":"If claimed=true: proceed. If false: skip or exit"},{"parameters":{"operation":"executeQuery","query":"SELECT \n  a.id as approval_id,\n  a.project_id,\n  a.approval_type,\n  a.request_summary,\n  a.request_data,\n  a.decided_at,\n  a.decided_by,\n  p.project_number,\n  p.object_street,\n  p.object_zip,\n  p.object_city,\n  c.company_name as client_name,\n  c.email as client_email\nFROM approvals a\nJOIN projects p ON a.project_id = p.id\nLEFT JOIN clients c ON p.client_id = c.id\nWHERE a.id = '{{ $('Parse Event Data').item.json.approval_id }}'::uuid;","options":{}},"id":"2e1c892b-933d-43bc-a114-2b9d27e36fd3","name":"Load Approval + Project","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-656,80],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Loads approval with project and client info"},{"parameters":{"jsCode":"// Build dispatch messages for all channels\nconst approval = $input.first().json;\nconst eventData = $('Parse Event Data').first().json;\nconst requestData = typeof approval.request_data === 'string' \n  ? JSON.parse(approval.request_data) \n  : approval.request_data || {};\n\nconst channel = eventData.channel;\nconst recipient = eventData.recipient;\n\n// Extract data from request_data\nconst deviations = requestData.deviations || [];\nconst deviationCount = requestData.deviation_count || 0;\nconst additionalCount = requestData.additional_count || 0;\nconst confirmedCount = requestData.confirmed_count || 0;\nconst inspectionDate = requestData.inspection_date || '';\nconst finalizedBy = requestData.finalized_by || 'Bauleiter';\n\n// Separate deviations and additionals\nconst deviationItems = deviations.filter(d => d.deviation_type && !d.is_additional);\nconst additionalItems = deviations.filter(d => d.is_additional);\n\n// Map deviation types to labels\nconst deviationLabels = {\n  'damage': 'Beschädigung',\n  'wrong_product': 'Falsches Produkt',\n  'missing': 'Fehlend',\n  'quality': 'Qualitätsmangel',\n  'dimension': 'Maßabweichung',\n  'other': 'Sonstiges'\n};\n\n// Build deviation lines\nconst deviationLines = deviationItems.map(d => {\n  const room = d.room_name || '';\n  const pos = d.position_number ? `Pos ${d.position_number}` : '';\n  const title = d.position_title || '';\n  const label = deviationLabels[d.deviation_type] || d.deviation_type || '';\n  const notes = d.notes ? `\\n    ${d.notes}` : '';\n  return `- ${room} · ${pos} ${title}: ${label}${notes}`;\n}).join('\\n');\n\n// Build additional lines\nconst additionalLines = additionalItems.map(d => {\n  const room = d.room_name || '';\n  const nr = d.catalog_position_nr || '';\n  const title = d.position_title || '';\n  const notes = d.notes ? `\\n    ${d.notes}` : '';\n  return `- ${room} · ${nr} ${title}${notes}`;\n}).join('\\n');\n\n// Address parts\nconst address = [approval.object_street, `${approval.object_zip || ''} ${approval.object_city || ''}`].filter(Boolean).join(', ');\nconst subject = `Erstbegehung ${approval.project_number} — ${approval.object_street}`;\n\n// Plain text message (for email/whatsapp)\nconst plainMessage = [\n  `Betreff: ${subject}`,\n  '',\n  'Sehr geehrte Damen und Herren,',\n  '',\n  `die Erstbegehung für das o.g. Objekt wurde am ${inspectionDate} durchgeführt.`,\n  '',\n  'Ergebnis:',\n  confirmedCount ? `- ${confirmedCount} Positionen wie beauftragt bestätigt` : null,\n  `- ${deviationCount} Abweichungen festgestellt`,\n  `- ${additionalCount} nicht beauftragte Leistungen vorgefunden`,\n  deviationItems.length ? '\\nAbweichungen:' : null,\n  deviationItems.length ? deviationLines : null,\n  additionalItems.length ? '\\nZusatzleistungen:' : null,\n  additionalItems.length ? additionalLines : null,\n  '',\n  'Fotodokumentation liegt bei / kann angefordert werden.',\n  '',\n  'Mit freundlichen Grüßen',\n  `${eventData.decided_by_name || finalizedBy}`,\n  'Deine Baulöwen GmbH'\n].filter(v => v !== null).join('\\n');\n\n// Telegram markdown message (shorter)\nconst telegramMessage = [\n  `📋 *Erstbegehung ${approval.project_number}*`,\n  `📍 ${approval.object_street}`,\n  `📅 ${inspectionDate}`,\n  '',\n  confirmedCount ? `✅ ${confirmedCount} bestätigt` : null,\n  deviationCount ? `⚠️ ${deviationCount} Abweichungen` : null,\n  additionalCount ? `➕ ${additionalCount} Zusatzleistungen` : null,\n  deviationItems.length ? '\\n*Abweichungen:*' : null,\n  ...deviationItems.map(d => {\n    const label = deviationLabels[d.deviation_type] || d.deviation_type || '';\n    return `• ${d.room_name || ''} · ${d.position_title || ''}: _${label}_`;\n  }),\n  additionalItems.length ? '\\n*Zusatzleistungen:*' : null,\n  ...additionalItems.map(d => {\n    return `• ${d.room_name || ''} · ${d.catalog_position_nr || ''} ${d.position_title || ''}`;\n  }),\n  '',\n  `_${eventData.decided_by_name || finalizedBy} · Deine Baulöwen GmbH_`\n].filter(v => v !== null).join('\\n');\n\n// HTML email body\nconst deviationHtml = deviationItems.map(d => {\n  const label = deviationLabels[d.deviation_type] || d.deviation_type || '';\n  const notes = d.notes ? `<br><small>${d.notes}</small>` : '';\n  return `<li>${d.room_name || ''} · Pos ${d.position_number || ''} ${d.position_title || ''}: <strong>${label}</strong>${notes}</li>`;\n}).join('');\n\nconst additionalHtml = additionalItems.map(d => {\n  const notes = d.notes ? `<br><small>${d.notes}</small>` : '';\n  return `<li>${d.room_name || ''} · ${d.catalog_position_nr || ''} ${d.position_title || ''}${notes}</li>`;\n}).join('');\n\nconst htmlBody = `\n<p>Sehr geehrte Damen und Herren,</p>\n<p>die Erstbegehung für das o.g. Objekt wurde am <strong>${inspectionDate}</strong> durchgeführt.</p>\n<h3>Ergebnis</h3>\n<ul>\n${confirmedCount ? `<li>${confirmedCount} Positionen wie beauftragt bestätigt</li>` : ''}\n<li>${deviationCount} Abweichungen festgestellt</li>\n<li>${additionalCount} nicht beauftragte Leistungen vorgefunden</li>\n</ul>\n${deviationItems.length ? `<h3>Abweichungen</h3><ul>${deviationHtml}</ul>` : ''}\n${additionalItems.length ? `<h3>Zusatzleistungen</h3><ul>${additionalHtml}</ul>` : ''}\n<p>Fotodokumentation liegt bei / kann angefordert werden.</p>\n<p>Mit freundlichen Grüßen<br>\n${eventData.decided_by_name || finalizedBy}<br>\n<strong>Deine Baulöwen GmbH</strong></p>\n`;\n\nreturn {\n  json: {\n    ...eventData,\n    approval_id: approval.approval_id,\n    project_id: approval.project_id,\n    approval_type: approval.approval_type,\n    project_number: approval.project_number,\n    object_street: approval.object_street,\n    client_name: approval.client_name,\n    client_email: approval.client_email,\n    deviation_count: deviationCount,\n    additional_count: additionalCount,\n    confirmed_count: confirmedCount,\n    subject: subject,\n    telegram_message: telegramMessage,\n    plain_message: plainMessage,\n    html_body: htmlBody,\n    channel: channel,\n    recipient: recipient\n  }\n};"},"id":"702d5152-50c8-4212-a5d9-dfea60ac60b4","name":"Build Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,80],"notes":"Builds telegram/whatsapp/email messages from approval data"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.channel }}","rightValue":"telegram","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"telegram"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.channel }}","rightValue":"whatsapp","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"whatsapp"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.channel }}","rightValue":"email","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"email"}]},"options":{"fallbackOutput":"extra"}},"id":"7ca7f438-6992-4d42-b5f8-5132d1253cd0","name":"Route by Channel","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-224,80],"notes":"Routes to telegram, whatsapp, or email based on channel"},{"parameters":{"chatId":"={{ $json.recipient || '6088921678' }}","text":"={{ $json.telegram_message }}","additionalFields":{"disable_web_page_preview":true,"parse_mode":"Markdown"}},"id":"9a75d1d3-b443-45cb-9f00-a43b2f9531ea","name":"Send Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,-80],"webhookId":"b05b5f20-142d-4015-9919-5cb704f83f4d","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}},"notes":"Sends via Telegram to recipient or default chat"},{"parameters":{"jsCode":"// WhatsApp via Superchat API\n// If Superchat is not configured, skip gracefully\nconst data = $input.first().json;\n\ntry {\n  // Superchat integration would go here\n  // For now, log and pass through\n  return {\n    json: {\n      ...data,\n      whatsapp_status: 'skipped',\n      whatsapp_note: 'Superchat integration not yet configured — message not sent via WhatsApp'\n    }\n  };\n} catch (err) {\n  return {\n    json: {\n      ...data,\n      whatsapp_status: 'skipped',\n      whatsapp_note: `WhatsApp send failed: ${err.message}`\n    }\n  };\n}"},"id":"88b1fd6c-a9b4-4143-8343-ca27f08e6fe1","name":"Send WhatsApp (Placeholder)","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,80],"notes":"WhatsApp via Superchat — skip gracefully if not configured"},{"parameters":{"jsCode":"// Email dispatch — check if recipient exists\nconst data = $input.first().json;\nconst emailTo = data.recipient || data.client_email;\n\nif (!emailTo) {\n  // No email recipient — fallback to telegram with warning\n  return {\n    json: {\n      ...data,\n      email_fallback: true,\n      email_note: 'Kein E-Mail-Empfänger — Fallback auf Telegram'\n    }\n  };\n}\n\nreturn {\n  json: {\n    ...data,\n    email_to: emailTo,\n    email_fallback: false\n  }\n};"},"id":"d26b2ea9-3ba1-45d3-b719-599dff89d3f0","name":"Check Email Recipient","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,256],"notes":"Validates email recipient, fallback to Telegram if missing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-fallback","leftValue":"={{ $json.email_fallback }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"e4497652-7c1f-4889-ba7d-0e9c9e703a6f","name":"Has Email Recipient?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,192],"notes":"If email_fallback=false: send email. If true: fallback to telegram"},{"parameters":{"chatId":"6088921678","text":"=⚠️ *Email-Fallback*\n\nKein E-Mail-Empfänger für Approval {{ $json.approval_id }}\nProjekt: {{ $json.project_number }}\n\nNachricht stattdessen hier:\n\n{{ $json.telegram_message }}","additionalFields":{"disable_web_page_preview":true,"parse_mode":"Markdown"}},"id":"7af53e1b-6c95-4fc2-88e5-5f644a1fec5e","name":"Email Fallback Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[448,304],"webhookId":"f313f233-7b07-495d-be07-cf362d68f7cf","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}},"notes":"Fallback: sends via Telegram when no email recipient"},{"parameters":{"jsCode":"// Merge all channel outputs into a single result\nconst data = $input.first().json;\nconst eventData = $('Parse Event Data').first().json;\nconst buildData = $('Build Message').first().json;\n\nreturn {\n  json: {\n    ...buildData,\n    dispatch_success: true\n  }\n};"},"id":"56f8052a-590d-4e3e-a078-5f0d00f1ec98","name":"After Dispatch","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,80],"notes":"Merges result after channel dispatch"},{"parameters":{"operation":"executeQuery","query":"UPDATE approvals \nSET dispatched_at = now(),\n    dispatch_channel = '{{ $json.channel }}',\n    dispatch_status = 'sent'\nWHERE id = '{{ $json.approval_id }}'::uuid;","options":{}},"id":"2e21b7cb-7a0b-431e-9b2e-d0397093c654","name":"Update Approval Status","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[880,80],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Marks approval as dispatched with channel info"},{"parameters":{"operation":"executeQuery","query":"SELECT complete_workflow_step(\n  '{{ $('Parse Event Data').item.json.step_key }}',\n  '{\"dispatched_via\": \"{{ $('Parse Event Data').item.json.channel }}\", \"approval_id\": \"{{ $('Parse Event Data').item.json.approval_id }}\"}'\n);","options":{}},"id":"c19898cc-9794-4815-8115-d752dc60854c","name":"Complete Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1104,80],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Marks workflow step as DONE"},{"parameters":{"operation":"executeQuery","query":"-- Mark input event as processed\nDO $$ BEGIN\n  UPDATE events SET processed_at = now() WHERE id = '{{ $('Parse Event Data').item.json.event_id }}'::uuid;\nEXCEPTION WHEN invalid_text_representation THEN NULL;\nEND $$;\n\n-- Emit APPROVAL_DISPATCHED event\nINSERT INTO events (event_type, project_id, payload, source_system, source_flow, reference_table, reference_id)\nVALUES (\n  'APPROVAL_DISPATCHED',\n  '{{ $('Parse Event Data').item.json.project_id }}'::uuid,\n  jsonb_build_object(\n    'approval_id', '{{ $('Parse Event Data').item.json.approval_id }}',\n    'channel', '{{ $('Parse Event Data').item.json.channel }}',\n    'approval_type', '{{ $json.approval_type }}'\n  ),\n  'n8n',\n  'M5_01_Approval_Dispatcher',\n  'approvals',\n  '{{ $('Parse Event Data').item.json.approval_id }}'::uuid\n)\nRETURNING id, event_type::text, project_id;","options":{}},"id":"5b0d833c-6ad9-4977-9598-9808856e4eb4","name":"Emit APPROVAL_DISPATCHED","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1328,80],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Marks input event processed and emits APPROVAL_DISPATCHED"},{"parameters":{"chatId":"6088921678","text":"=✅ Erstbegehung {{ $('Build Message').item.json.project_number }} versendet via {{ $('Parse Event Data').item.json.channel }}\nAn: {{ $('Parse Event Data').item.json.recipient || 'Default' }}\nAbweichungen: {{ $('Build Message').item.json.deviation_count }} | Zusatz: {{ $('Build Message').item.json.additional_count }}","additionalFields":{"disable_web_page_preview":true,"parse_mode":"Markdown"}},"id":"51873437-b0a1-4332-ab64-a5e8c8a56712","name":"Telegram Confirm","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1552,80],"webhookId":"f139a2c7-98b7-42ad-bb63-215f38bbb573","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}},"notes":"Confirms dispatch to Dennis"},{"parameters":{"jsCode":"const eventData = $('Parse Event Data').first().json;\nreturn {\n  json: {\n    success: true,\n    channel: eventData.channel,\n    approval_id: eventData.approval_id,\n    dispatched_at: new Date().toISOString()\n  }\n};"},"id":"4334646d-9277-4748-bf32-a12f90f1f4c0","name":"Done (Success)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,80],"notes":"Success response"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"78a12a7a-ce90-46e8-845b-5762b069ce5a","name":"Respond (Success)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1984,80]},{"parameters":{"jsCode":"// Step already done or in progress by another run\nconst claimResult = $input.first().json;\nconst eventData = $('Parse Event Data').first().json;\n\nif (claimResult.current_status === 'DONE') {\n  return {\n    json: {\n      status: 'skipped',\n      reason: 'Approval dispatch already processed',\n      current_status: claimResult.current_status,\n      approval_id: eventData.approval_id\n    }\n  };\n}\n\nreturn {\n  json: {\n    status: 'skipped',\n    reason: 'Step in progress by another run',\n    current_status: claimResult.current_status\n  }\n};"},"id":"8b889fb9-ebf7-41c4-98d6-e6a093751465","name":"Handle Not Claimed","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,432],"notes":"Handles DONE (skip) and IN_PROGRESS (exit)"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"eaddb6f3-3426-4401-9d35-eb5539b560c5","name":"Respond (Skip)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-448,432]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Event Data","type":"main","index":0}]]},"Parse Event Data":{"main":[[{"node":"Claim Workflow Step","type":"main","index":0}]]},"Claim Workflow Step":{"main":[[{"node":"Step Claimed?","type":"main","index":0}]]},"Step Claimed?":{"main":[[{"node":"Load Approval + Project","type":"main","index":0}],[{"node":"Handle Not Claimed","type":"main","index":0}]]},"Load Approval + Project":{"main":[[{"node":"Build Message","type":"main","index":0}]]},"Build Message":{"main":[[{"node":"Route by Channel","type":"main","index":0}]]},"Route by Channel":{"main":[[{"node":"Send Telegram","type":"main","index":0}],[{"node":"Send WhatsApp (Placeholder)","type":"main","index":0}],[{"node":"Check Email Recipient","type":"main","index":0}],[{"node":"After Dispatch","type":"main","index":0}]]},"Send Telegram":{"main":[[{"node":"After Dispatch","type":"main","index":0}]]},"Send WhatsApp (Placeholder)":{"main":[[{"node":"After Dispatch","type":"main","index":0}]]},"Check Email Recipient":{"main":[[{"node":"Has Email Recipient?","type":"main","index":0}]]},"Has Email Recipient?":{"main":[[{"node":"Email Fallback Telegram","type":"main","index":0}],[{"node":"Email Fallback Telegram","type":"main","index":0}]]},"Email Fallback Telegram":{"main":[[{"node":"After Dispatch","type":"main","index":0}]]},"After Dispatch":{"main":[[{"node":"Update Approval Status","type":"main","index":0}]]},"Update Approval Status":{"main":[[{"node":"Complete Workflow Step","type":"main","index":0}]]},"Complete Workflow Step":{"main":[[{"node":"Emit APPROVAL_DISPATCHED","type":"main","index":0}]]},"Emit APPROVAL_DISPATCHED":{"main":[[{"node":"Telegram Confirm","type":"main","index":0}]]},"Telegram Confirm":{"main":[[{"node":"Done (Success)","type":"main","index":0}]]},"Done (Success)":{"main":[[{"node":"Respond (Success)","type":"main","index":0}]]},"Handle Not Claimed":{"main":[[{"node":"Respond (Skip)","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version 63b96028","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-09T21:09:14.562Z","id":576,"workflowId":"zCs5Hwy9NmUhodI6KiyS3","versionId":"63b96028-882f-48ed-8de2-9306a5bfd141","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-11T09:38:30.926Z","id":586,"workflowId":"zCs5Hwy9NmUhodI6KiyS3","versionId":"63b96028-882f-48ed-8de2-9306a5bfd141","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}