n8n-workflows/M6_01_Invoice_Processor_v2.json
{
  "updatedAt": "2026-03-23T14:57:22.163Z",
  "createdAt": "2026-03-20T07:50:06.844Z",
  "id": "gV76hOPVjNXPqZdT",
  "name": "M6_01_Invoice_Processor_v2",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "m6-01-invoice-processor",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e51706b6-8b80-4662-bcdf-a9b11834a6e6",
      "name": "🔔 Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1408,
        400
      ],
      "webhookId": "m6-01-invoice-processor"
    },
    {
      "parameters": {
        "jsCode": "// Extract event data from MX_00_Event_Router payload\n// V4: Removed primary_file_id — multi-attachment loop handles individual files\nconst body = $input.first().json.body || $input.first().json;\n\n// Parse file_ids - could be string or array\nlet fileIds = body.file_ids || body.payload?.file_ids || [];\nif (typeof fileIds === 'string') {\n  try {\n    fileIds = JSON.parse(fileIds);\n  } catch (e) {\n    fileIds = [];\n  }\n}\n\nreturn {\n  json: {\n    // IDs (no invoice_id here — generated per attachment in Split File IDs)\n    event_id: body.event_id || body.id,\n    \n    // Superchat IDs\n    superchat_message_id: body.superchat_message_id || body.payload?.superchat_message_id,\n    superchat_conversation_id: body.superchat_conversation_id || body.payload?.superchat_conversation_id,\n    \n    // File handling — keep full array, no primary_file_id\n    file_ids: fileIds,\n    \n    // Email metadata\n    email_from: body.from_address || body.payload?.from_address || '',\n    email_subject: (body.subject || body.payload?.subject || '').replace(/'/g, \"''\"),\n    email_received_at: body.received_at || new Date().toISOString(),\n    \n    // Doc type (INVOICE_IN or CREDIT_NOTE)\n    doc_type: body.doc_type || body.payload?.doc_type || 'INVOICE_IN',\n    confidence: body.confidence || body.payload?.confidence || 0.9,\n    \n    // Email body (from MX_03 V2)\n    body_preview: body.body_preview || body.payload?.body_preview || '',\n    \n    // Idempotency base key (will be extended per file in Split File IDs)\n    idempotency_key: `m6_${body.superchat_message_id || body.payload?.superchat_message_id}`\n  }\n};"
      },
      "id": "5554cd0f-6fda-4ca4-a829-7654cb642bd8",
      "name": "📥 Extract Event Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1216,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// FIX 2: Detect credit notes based on sender and subject\nconst data = $input.first().json;\nconst emailFrom = (data.email_from || '').toLowerCase();\nconst emailSubject = (data.email_subject || '').toLowerCase();\n\nlet invoiceType = 'invoice';\nlet docType = data.doc_type || 'INVOICE_IN';\n\n// Rule 1: besser zuhause sendet NUR Gutschriften\nif (emailFrom.includes('besser zuhause') || emailFrom.includes('besserzuhause')) {\n  invoiceType = 'credit_note';\n  docType = 'CREDIT_NOTE';\n}\n\n// Rule 2: Betreff enthält Gutschrift/Storno\nif (emailSubject.includes('gutschrift') || emailSubject.includes('storno') || emailSubject.includes('credit note')) {\n  invoiceType = 'credit_note';\n  docType = 'CREDIT_NOTE';\n}\n\nreturn {\n  json: {\n    ...data,\n    invoice_type: invoiceType,\n    doc_type: docType\n  }\n};"
      },
      "id": "14857601-d5ef-4d84-9ac8-2eab844eab2a",
      "name": "🏷️ Detect Credit Note",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS(\n  SELECT 1 FROM purchase_invoices\n  WHERE email_message_id = '{{ $json.superchat_message_id }}'\n) AS already_processed;",
        "options": {}
      },
      "id": "e43cbee3-87db-414d-8122-b9c1533a790a",
      "name": "🔍 Idempotency Check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -816,
        400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "qXZ2ZjK31ZDrPoDG",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "not-processed",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              },
              "leftValue": "={{ $json.already_processed }}",
              "rightValue": false
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "908e2a30-1ab5-44ec-84fa-f1c1496d36b0",
      "name": "❓ New Invoice?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -624,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const eventData = $('🏷️ Detect Credit Note').first().json;\nconst bodyPreview = eventData.body_preview || '';\nconst hasFiles = (eventData.file_ids || []).length > 0;\n\n// Invoice indicators in email body\nconst invoicePatterns = [\n  /rechnung/i, /invoice/i, /receipt/i, /quittung/i,\n  /betrag|amount|total|summe/i,\n  /€|\\$|EUR|USD/,\n  /\\d+[.,]\\d{2}/,\n  /zahlungsziel|payment.?due|fällig/i,\n  /rechnungsnummer|invoice.?(?:no|number|nr)/i\n];\n\nconst matchCount = invoicePatterns.filter(p => p.test(bodyPreview)).length;\n// Need at least 3 indicators AND body must have content\nconst looksLikeInvoice = bodyPreview.length > 50 && matchCount >= 3;\n\nreturn {\n  json: {\n    ...eventData,\n    body_preview: bodyPreview,\n    body_looks_like_invoice: looksLikeInvoice,\n    body_match_count: matchCount,\n    has_files: hasFiles,\n    extraction_source: looksLikeInvoice ? 'EMAIL_BODY' : (hasFiles ? 'ATTACHMENT' : 'NONE')\n  }\n};"
      },
      "id": "8e960b5b-22fa-4fde-8849-5949ce893b19",
      "name": "🔍 Check Email Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-inline",
              "leftValue": "={{ $json.body_looks_like_invoice }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e56dcbaf-a89b-474a-8101-b78e9f2e640e",
      "name": "❓ Inline Invoice?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        400
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-5-20250929"
        },
        "messages": {
          "values": [
            {
              "content": "=Der folgende Text stammt aus einer Email, die als Rechnung klassifiziert wurde. Extrahiere die Rechnungsinformationen aus dem Email-Text.\n\nEMAIL VON: {{ $('📥 Extract Event Data').first().json.email_from }}\nBETREFF: {{ $('📥 Extract Event Data').first().json.email_subject }}\n\nEMAIL-INHALT:\n{{ $('🔍 Check Email Body').first().json.body_preview }}"
            }
          ]
        },
        "options": {
          "system": "Du extrahierst Rechnungsdaten aus Email-Texten für ein Bauunternehmen (Deine Baulöwen). Der Email-Text enthält eine eingebettete Rechnung (z.B. von Replit, Apple, Stripe, etc.).\n\nExtrahiere ALLE folgenden Informationen:\n\nSCHRITT 1: Lieferant identifizieren\n- Name wie im Text\n- Kurzcode (z.B. \"REPL\" für Replit, max 4 Zeichen, nur Großbuchstaben)\n- Typ: BAUMARKT, GROSSHANDEL, FACHHANDEL, TANKSTELLE, RESTAURANT, SOFTWARE, SONSTIGE\n\nSCHRITT 2: Kostenkategorie bestimmen\n- MATERIAL: Baumärkte, Baustoffhandel, Werkzeug, Fliesen, Sanitär, Elektro\n- SUBCONTRACTOR: Handwerker-Rechnungen, Subunternehmer\n- VEHICLE_FUEL: Tankstellen\n- VEHICLE_RENTAL: Autovermietung, Parken\n- VEHICLE_REPAIR: Werkstatt, Autowäsche\n- ENTERTAINMENT: Restaurant, Café, Bewirtung\n- SOFTWARE: IT-Dienste, Apps, SaaS-Abonnements\n- OFFICE: Bürobedarf, Telefon\n- DISPOSAL: Entsorgung\n- OTHER: Alles andere\n\nSCHRITT 3: Rechnungsdaten\n- Rechnungsnummer (oder \"UNKNOWN\")\n- Datum (Format: YYYY-MM-DD)\n- Nettobetrag (summe_netto) als Zahl — die Summe OHNE MwSt.\n- Bruttobetrag (summe_brutto) als Zahl — die Endsumme MIT MwSt. (der höhere Betrag)\n- MwSt-Satz (meist 19, bei ausländischen Anbietern evtl. 0)\n\nWICHTIG: summe_brutto ist IMMER der ENDPREIS. summe_netto ist die Summe VOR der MwSt.\nBei ausländischen Anbietern ohne MwSt: summe_brutto = summe_netto, mwst_prozent = 0.\nBei USD-Beträgen: Werte trotzdem als Zahlen extrahieren, Währung wird ignoriert.\n\nSCHRITT 4: Zahlungsinformationen\n- IBAN (falls im Text, sonst \"\")\n- BIC (falls vorhanden, sonst \"\")\n- Zahlungsziel in Tagen (falls nicht angegeben: 14)\n- Fälligkeitsdatum (Rechnungsdatum + Zahlungsziel, Format: YYYY-MM-DD)\n- Skonto Prozent (falls angegeben, sonst 0)\n- Skonto Tage (falls angegeben, sonst 0)\n\nSCHRITT 5: Positionen (maximal 20)\nFür jeden Artikel/Posten:\n- artikel_nummer (falls vorhanden, sonst \"\")\n- beschreibung (wie im Text)\n- internal_name (kleinbuchstaben, normalisiert)\n- menge als Zahl\n- einheit (Stk, kg, m, m², l, Pack, Monat)\n- einzelpreis_brutto als Zahl\n- kategorie (z.B. Software-Lizenz, SaaS, Hosting, etc.)\n\nSCHRITT 6: Projekt-Referenzen\n- Suche nach Projektnummer im Format BL-YYYY-NNN (z.B. BL-2026-014)\n- Suche nach Lieferadresse / Baustellenadresse (Straße + PLZ/Stadt)\n- Suche nach Bestellreferenz oder Auftragsnummer\nGib zurück: project_reference (die BL-Nummer falls gefunden, sonst \"\"), delivery_address (Lieferadresse falls gefunden, sonst \"\")\n\nAUSGABE: Nur JSON, keine Backticks, kein Markdown, keine Erklärung.\n\n{\"lieferant\":{\"name\":\"Musterfirma GmbH\",\"code\":\"MUST\",\"typ\":\"SOFTWARE\"},\"expense_category\":\"SOFTWARE\",\"rechnung\":{\"nummer\":\"INV-001\",\"datum\":\"2026-01-15\",\"summe_netto\":20.00,\"summe_brutto\":20.00,\"mwst_prozent\":0},\"zahlung\":{\"iban\":\"\",\"bic\":\"\",\"zahlungsziel_tage\":14,\"faellig_am\":\"2026-01-29\",\"skonto_prozent\":0,\"skonto_tage\":0},\"positionen\":[{\"artikel_nummer\":\"\",\"beschreibung\":\"Pro Plan Monthly\",\"internal_name\":\"pro plan monthly\",\"menge\":1,\"einheit\":\"Monat\",\"einzelpreis_brutto\":20.00,\"kategorie\":\"SaaS\"}],\"projekt\":{\"project_reference\":\"\",\"delivery_address\":\"\"}}",
          "maxTokens": 8000
        }
      },
      "id": "818be9c3-1537-4045-8e4f-e119c7f9e811",
      "name": "🤖 Claude Text Extract",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        0,
        288
      ],
      "credentials": {
        "anthropicApi": {
          "id": "DSb7Itt2r6kfGiHs",
          "name": "Anthropic account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Prepare text extraction result to match the shape expected by Parse JSON\n// This mirrors what Prepare Upload does for the binary path, but without binary data\nconst eventData = $('🏷️ Detect Credit Note').first().json;\n\nconst storagePath = null; // No file to store for inline invoices\n\n// Generate invoice_id for inline path\nconst invoiceId = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n  const r = Math.random() * 16 | 0;\n  const v = c === 'x' ? r : (r & 0x3 | 0x8);\n  return v.toString(16);\n});\n\nreturn {\n  json: {\n    invoice_id: invoiceId,\n    storage_path: storagePath,\n    storage_filename: null,\n    original_filename: 'email-body-invoice.html',\n    mime_type: 'text/html',\n    binary_key: null,\n    extraction_source: 'EMAIL_BODY',\n    \n    // Pass through metadata\n    superchat_message_id: eventData.superchat_message_id,\n    superchat_conversation_id: eventData.superchat_conversation_id,\n    email_from: eventData.email_from,\n    email_subject: eventData.email_subject,\n    email_received_at: eventData.email_received_at,\n    doc_type: eventData.doc_type,\n    invoice_type: eventData.invoice_type\n  }\n};"
      },
      "id": "351858b2-5531-4ef0-8a3e-699e60e18606",
      "name": "📋 Prepare Text Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-has-files",
              "leftValue": "={{ $json.has_files }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9ecb8d76-3f05-4a1e-9d4a-aa0abab3404f",
      "name": "❓ Has Files?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        512
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"No invoice data found - no inline invoice and no file attachments\",\n  \"superchat_message_id\": \"{{ $('📥 Extract Event Data').first().json.superchat_message_id }}\"\n}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "eb1ac9e9-3d60-4764-8232-53dd599c8b7e",
      "name": "⚠️ No Invoice Data",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        208,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "// FIX 1: Split file_ids into individual items for multi-attachment processing\nconst eventData = $('🔍 Check Email Body').first().json;\nconst fileIds = eventData.file_ids || [];\n\nreturn fileIds.map((fileId, index) => {\n  // Generate unique invoice_id per attachment\n  const invoiceId = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n\n  return {\n    json: {\n      file_id: fileId,\n      file_index: index,\n      invoice_id: invoiceId,\n      idempotency_key: `m6_${eventData.superchat_message_id}_${index}`,\n      \n      // Pass through all event data\n      superchat_message_id: eventData.superchat_message_id,\n      superchat_conversation_id: eventData.superchat_conversation_id,\n      email_from: eventData.email_from,\n      email_subject: eventData.email_subject,\n      email_received_at: eventData.email_received_at,\n      doc_type: eventData.doc_type,\n      invoice_type: eventData.invoice_type || 'invoice',\n      confidence: eventData.confidence\n    }\n  };\n});"
      },
      "id": "76de3a37-599e-4020-a8d2-49c8860933b6",
      "name": "🔄 Split File IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        512
      ]
    },
    {
      "parameters": {
        "url": "=https://api.superchat.com/v1.0/files/{{ $json.file_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "1afbef7e-ed85-4a8c-920b-b3b6300a7984"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        400,
        512
      ],
      "id": "7cf08cbd-d92c-4e7a-8821-d88511034baf",
      "name": "📎 Get File Info"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\n// Superchat API returns { results: [...] } or direct object\nconst file = response.results ? response.results[0] : response;\n\nif (!file || !file.link || !file.link.url) {\n  throw new Error(`Keine Download-URL gefunden. Response keys: ${Object.keys(response).join(', ')}`);\n}\n\nreturn {\n  json: {\n    file_id: file.id,\n    filename: file.name,\n    mime_type: file.mime_type,\n    download_url: file.link.url\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        512
      ],
      "id": "e9e08485-ed73-455f-80d5-d6786a6f76aa",
      "name": "📎 Extract File URL"
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        784,
        512
      ],
      "id": "cedc88b0-bd97-4639-91cf-12961283ff3d",
      "name": "📎 Download Binary"
    },
    {
      "parameters": {
        "jsCode": "// Prepare for Claude Vision & Storage upload\n// V4: invoice_id comes from Split File IDs (per attachment)\nconst splitData = $('🔄 Split File IDs').item.json;\nconst binary = $input.first().binary;\n\n// Get binary key (usually 'data')\nconst binaryKey = Object.keys(binary || {})[0] || 'data';\nconst binaryData = binary?.[binaryKey];\n\nconst invoiceId = splitData.invoice_id;\nconst storagePath = `receipts/${invoiceId}.pdf`;\n\nreturn {\n  json: {\n    invoice_id: invoiceId,\n    storage_path: storagePath,\n    storage_filename: `${invoiceId}.pdf`,\n    original_filename: binaryData?.fileName || 'invoice.pdf',\n    mime_type: binaryData?.mimeType || 'application/pdf',\n    binary_key: binaryKey,\n    extraction_source: 'ATTACHMENT',\n    \n    // Pass through metadata from Split File IDs\n    superchat_message_id: splitData.superchat_message_id,\n    superchat_conversation_id: splitData.superchat_conversation_id,\n    email_from: splitData.email_from,\n    email_subject: splitData.email_subject,\n    email_received_at: splitData.email_received_at,\n    doc_type: splitData.doc_type,\n    invoice_type: splitData.invoice_type,\n    idempotency_key: splitData.idempotency_key,\n    file_index: splitData.file_index\n  },\n  binary: binary\n};"
      },
      "id": "58741c18-35ff-4cbc-980a-af7e0e1f2a1e",
      "name": "🔧 Prepare Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        512
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/receipts/{{ $json.storage_filename }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "={{ $json.mime_type }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "={{ $json.binary_key }}",
        "options": {}
      },
      "id": "e8648ee7-2edd-4bae-83cb-4ecee5330e34",
      "name": "📤 Upload to Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        784
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PmuDiYzfBjPqDSFV",
          "name": "Supabase Service Key"
        }
      }
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "claude-sonnet-4-5-20250929"
        },
        "text": "Analysiere diesen Beleg/Rechnung und extrahiere alle Informationen.\n\nSCHRITT 1: Lieferant identifizieren\n- Name wie auf Beleg\n- Kurzcode (z.B. \"HORN\" für Hornbach, max 4 Zeichen, nur Großbuchstaben)\n- Typ: BAUMARKT, GROSSHANDEL, FACHHANDEL, TANKSTELLE, RESTAURANT, SOFTWARE, SONSTIGE\n\nSCHRITT 2: Kostenkategorie bestimmen\n- MATERIAL: Baumärkte, Baustoffhandel, Werkzeug, Fliesen, Sanitär, Elektro\n- SUBCONTRACTOR: Handwerker-Rechnungen, Subunternehmer\n- VEHICLE_FUEL: Tankstellen\n- VEHICLE_RENTAL: Autovermietung, Parken\n- VEHICLE_REPAIR: Werkstatt, Autowäsche\n- ENTERTAINMENT: Restaurant, Café, Bewirtung\n- SOFTWARE: IT-Dienste, Apps\n- OFFICE: Bürobedarf, Telefon\n- DISPOSAL: Entsorgung\n- OTHER: Alles andere\n\nSCHRITT 3: Rechnungsdaten\n- Rechnungsnummer (oder \"UNKNOWN\")\n- Datum (Format: YYYY-MM-DD)\n- Nettobetrag (summe_netto) als Zahl — die Summe OHNE MwSt.\n- Bruttobetrag (summe_brutto) als Zahl — die Endsumme MIT MwSt. (der höhere Betrag)\n- MwSt-Satz (meist 19)\n\nWICHTIG: summe_brutto ist IMMER der ENDPREIS (der höchste Betrag auf der Rechnung).\nsumme_netto ist die Summe VOR der MwSt. Es gilt: summe_brutto = summe_netto * (1 + mwst_prozent/100)\n\nSCHRITT 4: Zahlungsinformationen\n- IBAN (falls auf Rechnung, sonst \"\")\n- BIC (falls vorhanden, sonst \"\")\n- Zahlungsziel in Tagen (aus Text wie \"zahlbar innerhalb 14 Tagen\" - falls nicht angegeben: 14)\n- Fälligkeitsdatum (Rechnungsdatum + Zahlungsziel, Format: YYYY-MM-DD)\n- Skonto Prozent (falls angegeben, sonst 0)\n- Skonto Tage (falls angegeben, sonst 0)\n\nSCHRITT 5: Positionen (maximal 20)\nFür jeden Artikel:\n- artikel_nummer (falls vorhanden, sonst \"\")\n- beschreibung (wie auf Beleg)\n- internal_name (kleinbuchstaben, ohne Marke, normalisiert)\n- menge als Zahl\n- einheit (Stk, kg, m, m², l, Pack)\n- einzelpreis_brutto als Zahl\n- kategorie (z.B. Elektroinstallation, Sanitär, Werkzeug, Baustoffe)\n\nSCHRITT 6: Projekt-Referenzen\n- Suche nach Projektnummer im Format BL-YYYY-NNN (z.B. BL-2026-014)\n- Suche nach Lieferadresse / Baustellenadresse (Straße + PLZ/Stadt)\n- Suche nach Bestellreferenz oder Auftragsnummer\nGib zurück: project_reference (die BL-Nummer falls gefunden, sonst \"\"), delivery_address (Lieferadresse falls gefunden, sonst \"\")\n\nAUSGABE: Nur JSON, keine Backticks, kein Markdown, keine Erklärung.\n\n{\"lieferant\":{\"name\":\"Musterfirma GmbH\",\"code\":\"MUST\",\"typ\":\"GROSSHANDEL\"},\"expense_category\":\"MATERIAL\",\"rechnung\":{\"nummer\":\"R-2025-001\",\"datum\":\"2025-01-15\",\"summe_netto\":100.00,\"summe_brutto\":119.00,\"mwst_prozent\":19},\"zahlung\":{\"iban\":\"DE89370400440532013000\",\"bic\":\"COBADEFFXXX\",\"zahlungsziel_tage\":14,\"faellig_am\":\"2025-01-29\",\"skonto_prozent\":2,\"skonto_tage\":7},\"positionen\":[{\"artikel_nummer\":\"12345\",\"beschreibung\":\"Beispielartikel\",\"internal_name\":\"beispielartikel\",\"menge\":1,\"einheit\":\"Stk\",\"einzelpreis_brutto\":100.00,\"kategorie\":\"Sonstiges\"}],\"projekt\":{\"project_reference\":\"\",\"delivery_address\":\"\"}}",
        "inputType": "binary",
        "binaryPropertyName": "={{ $('🔧 Prepare Upload').item.json.binary_key }}",
        "options": {
          "maxTokens": 8000
        }
      },
      "id": "3f94be1d-24c5-4438-bc1e-14e43ac0193d",
      "name": "🤖 Claude Vision",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        1200,
        512
      ],
      "credentials": {
        "anthropicApi": {
          "id": "DSb7Itt2r6kfGiHs",
          "name": "Anthropic account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude response and merge with upload data\n// V4: Support both attachment path (Claude Vision) and inline path (Claude Text Extract)\n// FIX 3: Extract project_reference and delivery_address\nlet uploadData, claudeResponse;\n\ntry {\n  // Try inline path first\n  uploadData = $('📋 Prepare Text Result').first().json;\n  const claudeNode = $('🤖 Claude Text Extract').first().json;\n  if (claudeNode.content && Array.isArray(claudeNode.content)) {\n    claudeResponse = claudeNode.content[0]?.text;\n  } else {\n    claudeResponse = claudeNode.content || claudeNode.text || JSON.stringify(claudeNode);\n  }\n} catch (e) {\n  // Fall back to attachment path\n  uploadData = $('🔧 Prepare Upload').item.json;\n  const claudeNode = $('🤖 Claude Vision').item.json;\n  if (claudeNode.content && Array.isArray(claudeNode.content)) {\n    claudeResponse = claudeNode.content[0]?.text;\n  } else {\n    claudeResponse = claudeNode.content || claudeNode.text || JSON.stringify(claudeNode);\n  }\n}\n\n// Clean response - remove markdown\nlet cleanJson = claudeResponse;\nif (typeof cleanJson === 'string') {\n  cleanJson = cleanJson.replace(/```json\\s*/gi, '');\n  cleanJson = cleanJson.replace(/```\\s*/g, '');\n  cleanJson = cleanJson.trim();\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleanJson);\n} catch (e) {\n  throw new Error(`JSON Parse Error: ${e.message}\\n\\nRaw:\\n${cleanJson.substring(0, 500)}`);\n}\n\n// V2: Smart net/gross handling - trust Claude when both provided, fallback to calculation\nconst vatPercent = parsed.rechnung?.mwst_prozent || 19;\nconst rawGross = Number(parsed.rechnung?.summe_brutto) || 0;\nconst rawNet = Number(parsed.rechnung?.summe_netto) || 0;\n\nlet grossAmount, netAmount;\n\nif (rawNet > 0 && rawGross > 0) {\n  // Both provided — validate plausibility\n  const expectedGross = Math.round(rawNet * (1 + vatPercent / 100) * 100) / 100;\n  if (Math.abs(expectedGross - rawGross) < 1.0) {\n    grossAmount = rawGross;\n    netAmount = rawNet;\n  } else {\n    // Inconsistent — trust brutto (Endpreis)\n    grossAmount = rawGross;\n    netAmount = Math.round((rawGross / (1 + vatPercent / 100)) * 100) / 100;\n  }\n} else if (rawGross > 0) {\n  grossAmount = rawGross;\n  netAmount = Math.round((rawGross / (1 + vatPercent / 100)) * 100) / 100;\n} else if (rawNet > 0) {\n  netAmount = rawNet;\n  grossAmount = Math.round(rawNet * (1 + vatPercent / 100) * 100) / 100;\n} else {\n  grossAmount = 0;\n  netAmount = 0;\n}\n\n// Type mapping\nconst typeMapping = {\n  'BAUMARKT': 'BAUMARKT',\n  'GROSSHANDEL': 'GROSSHANDEL',\n  'FACHHANDEL': 'FACHHANDEL',\n  'HERSTELLER': 'HERSTELLER',\n  'ONLINE': 'ONLINE',\n  'TANKSTELLE': 'SONSTIGE',\n  'RESTAURANT': 'SONSTIGE',\n  'SOFTWARE': 'SONSTIGE',\n  'SONSTIGE': 'SONSTIGE'\n};\n\n// Escape SQL\nconst escapeSql = (str) => str ? String(str).replace(/'/g, \"''\") : '';\n\n// Supplier code\nlet supplierCode = parsed.lieferant?.code || parsed.lieferant?.name?.substring(0, 4) || 'UNBK';\nsupplierCode = supplierCode.toUpperCase().replace(/[^A-Z]/g, '').substring(0, 4);\nif (supplierCode.length < 2) supplierCode = 'UNBK';\n\n// Payment data with defaults\nconst zahlung = parsed.zahlung || {};\nconst rechnungsDatum = parsed.rechnung?.datum || new Date().toISOString().split('T')[0];\nconst zahlungszielTage = zahlung.zahlungsziel_tage || 14;\n\n// Calculate due date if not provided\nlet faelligAm = zahlung.faellig_am;\nif (!faelligAm) {\n  const d = new Date(rechnungsDatum);\n  d.setDate(d.getDate() + zahlungszielTage);\n  faelligAm = d.toISOString().split('T')[0];\n}\n\n// FIX 3: Project reference extraction\nconst projectReference = parsed.projekt?.project_reference || '';\nconst deliveryAddress = parsed.projekt?.delivery_address || '';\n\nreturn {\n  json: {\n    invoice_id: uploadData.invoice_id,\n    storage_path: uploadData.storage_path || '',\n    original_filename: uploadData.original_filename,\n    binary_key: uploadData.binary_key,\n    extraction_source: uploadData.extraction_source || 'ATTACHMENT',\n    \n    // Superchat metadata\n    superchat_message_id: uploadData.superchat_message_id,\n    superchat_conversation_id: uploadData.superchat_conversation_id,\n    email_from: escapeSql(uploadData.email_from || ''),\n    email_subject: escapeSql(uploadData.email_subject || ''),\n    email_received_at: uploadData.email_received_at,\n    doc_type: uploadData.doc_type,\n    invoice_type: uploadData.invoice_type || 'invoice',\n    \n    // Supplier\n    lieferant_name: parsed.lieferant?.name || 'UNBEKANNT',\n    lieferant_name_escaped: escapeSql(parsed.lieferant?.name || 'UNBEKANNT'),\n    lieferant_code: supplierCode,\n    lieferant_typ: typeMapping[parsed.lieferant?.typ] || 'SONSTIGE',\n    \n    expense_category: parsed.expense_category || 'MATERIAL',\n    \n    // Invoice\n    rechnung_nummer: parsed.rechnung?.nummer || `SC-${uploadData.invoice_id.substring(0, 8)}`,\n    rechnung_datum: rechnungsDatum,\n    summe_brutto: grossAmount,\n    summe_netto: netAmount,\n    mwst_prozent: vatPercent,\n    \n    // Payment\n    payment_iban: zahlung.iban || '',\n    payment_bic: zahlung.bic || '',\n    payment_terms_days: zahlungszielTage,\n    due_date: faelligAm,\n    discount_percent: zahlung.skonto_prozent || 0,\n    discount_days: zahlung.skonto_tage || 0,\n    \n    // Positions\n    positionen: parsed.positionen || [],\n    positionen_count: (parsed.positionen || []).length,\n    \n    // FIX 3: Project reference\n    project_reference: projectReference,\n    delivery_address: deliveryAddress,\n    \n    needs_assignment: ['MATERIAL', 'SUBCONTRACTOR', 'ENTERTAINMENT'].includes(parsed.expense_category)\n  }\n};"
      },
      "id": "fd045ccc-cb44-402f-98bf-9d8bf8a57864",
      "name": "📋 Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Step 1: Try to find supplier by alias\nWITH alias_match AS (\n  SELECT s.id, s.supplier_code, s.default_expense_category::text\n  FROM suppliers s\n  JOIN supplier_aliases sa ON sa.supplier_id = s.id\n  WHERE LOWER(sa.alias_name) = LOWER('{{ $json.lieferant_name_escaped }}')\n  LIMIT 1\n),\n-- Step 2: Try to find by short_name or code\nname_match AS (\n  SELECT id, supplier_code, default_expense_category::text\n  FROM suppliers\n  WHERE (\n    LOWER(short_name) ILIKE '%' || LOWER('{{ $json.lieferant_name_escaped }}') || '%'\n    OR LOWER(name) ILIKE '%' || LOWER('{{ $json.lieferant_name_escaped }}') || '%'\n    OR supplier_code = '{{ $json.lieferant_code }}'\n  )\n  AND is_active = true\n  AND NOT EXISTS (SELECT 1 FROM alias_match)\n  LIMIT 1\n),\n-- Step 3: Create new if not found\nnew_supplier AS (\n  INSERT INTO suppliers (supplier_code, name, short_name, supplier_type, default_expense_category, is_active)\n  SELECT \n    '{{ $json.lieferant_code }}',\n    '{{ $json.lieferant_name_escaped }}',\n    '{{ $json.lieferant_name_escaped }}',\n    '{{ $json.lieferant_typ }}'::supplier_type,\n    '{{ $json.expense_category }}'::expense_category,\n    true\n  WHERE NOT EXISTS (SELECT 1 FROM alias_match)\n    AND NOT EXISTS (SELECT 1 FROM name_match)\n  ON CONFLICT (supplier_code) DO UPDATE SET updated_at = now()\n  RETURNING id, supplier_code, default_expense_category::text\n)\n-- Return the matched or created supplier\nSELECT \n  COALESCE(am.id, nm.id, ns.id)::text AS supplier_id,\n  COALESCE(am.supplier_code, nm.supplier_code, ns.supplier_code) AS supplier_code,\n  COALESCE(am.default_expense_category, nm.default_expense_category, ns.default_expense_category) AS default_expense_category,\n  CASE \n    WHEN am.id IS NOT NULL THEN 'alias_match'\n    WHEN nm.id IS NOT NULL THEN 'name_match'\n    ELSE 'created'\n  END AS match_type\nFROM (SELECT 1) AS dummy\nLEFT JOIN alias_match am ON true\nLEFT JOIN name_match nm ON true\nLEFT JOIN new_supplier ns ON true;",
        "options": {}
      },
      "id": "2d4f6d72-0e92-4db1-8b97-60f115c132e9",
      "name": "🏢 Match Supplier",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1616,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "qXZ2ZjK31ZDrPoDG",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM fn_match_project_by_reference(\n  NULLIF('{{ $('📋 Parse JSON').first().json.project_reference }}', ''),\n  NULLIF('{{ $('📋 Parse JSON').first().json.delivery_address }}', '')\n);",
        "options": {}
      },
      "id": "1c16008f-99e2-415a-9bc9-2e8b512d8232",
      "name": "🔍 Match Project",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1824,
        400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "qXZ2ZjK31ZDrPoDG",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO purchase_invoices (\n  id,\n  invoice_number,\n  supplier_id,\n  invoice_date,\n  subtotal_net,\n  vat_percent,\n  expense_category,\n  status,\n  pdf_storage_path,\n  project_id,\n  notes,\n  payment_iban,\n  payment_bic,\n  payment_terms_days,\n  due_date,\n  discount_percent,\n  discount_days,\n  source_type,\n  email_from,\n  email_subject,\n  email_received_at,\n  email_message_id,\n  invoice_type,\n  project_reference,\n  delivery_address\n)\nVALUES (\n  '{{ $('📋 Parse JSON').first().json.invoice_id }}'::uuid,\n  '{{ $('📋 Parse JSON').first().json.rechnung_nummer }}',\n  '{{ $('🏢 Match Supplier').first().json.supplier_id }}'::uuid,\n  '{{ $('📋 Parse JSON').first().json.rechnung_datum }}'::date,\n  {{ $('📋 Parse JSON').first().json.summe_netto }},\n  {{ $('📋 Parse JSON').first().json.mwst_prozent }},\n  COALESCE(NULLIF('{{ $('🏢 Match Supplier').first().json.default_expense_category }}', ''), '{{ $('📋 Parse JSON').first().json.expense_category }}')::expense_category,\n  'DRAFT'::purchase_invoice_status,\n  '{{ $('📋 Parse JSON').first().json.storage_path }}',\n  NULLIF(NULLIF('{{ $('🔍 Match Project').first().json.project_id }}', ''), 'undefined')::uuid,\n  'Automatisch erfasst via Superchat ({{ $('📋 Parse JSON').first().json.extraction_source }}): {{ $('📋 Parse JSON').first().json.email_subject }}',\n  NULLIF('{{ $('📋 Parse JSON').first().json.payment_iban }}', ''),\n  NULLIF('{{ $('📋 Parse JSON').first().json.payment_bic }}', ''),\n  {{ $('📋 Parse JSON').first().json.payment_terms_days }},\n  '{{ $('📋 Parse JSON').first().json.due_date }}'::date,\n  {{ $('📋 Parse JSON').first().json.discount_percent }},\n  {{ $('📋 Parse JSON').first().json.discount_days }},\n  'SUPERCHAT'::invoice_source_type,\n  NULLIF('{{ $('📋 Parse JSON').first().json.email_from }}', ''),\n  NULLIF('{{ $('📋 Parse JSON').first().json.email_subject }}', ''),\n  '{{ $('📋 Parse JSON').first().json.email_received_at }}'::timestamptz,\n  '{{ $('📋 Parse JSON').first().json.superchat_message_id }}',\n  '{{ $('📋 Parse JSON').first().json.invoice_type }}',\n  NULLIF('{{ $('📋 Parse JSON').first().json.project_reference }}', ''),\n  NULLIF('{{ $('📋 Parse JSON').first().json.delivery_address }}', '')\n)\nON CONFLICT (invoice_number, supplier_id) DO UPDATE SET\n  updated_at = now()\nRETURNING id::text, invoice_number;",
        "options": {}
      },
      "id": "2a4e4349-6cff-4946-acc4-999d42e2176b",
      "name": "📄 Create Invoice",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2032,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "qXZ2ZjK31ZDrPoDG",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-items",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $('📋 Parse JSON').first().json.positionen_count }}",
              "rightValue": 0
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0f500d6c-701b-48a6-a17e-3f7945bc5c6f",
      "name": "❓ Has Positions?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2240,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Split positions + generate SKU for product pool\nconst positions = $('📋 Parse JSON').first().json.positionen || [];\nconst invoiceId = $('📄 Create Invoice').first().json.id;\nconst supplierId = $('🏢 Match Supplier').first().json.supplier_id;\nconst invoiceDate = $('📋 Parse JSON').first().json.rechnung_datum;\n\n// Hash für Artikel ohne SKU\nconst simpleHash = (str) => {\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    const char = str.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return 'GEN-' + Math.abs(hash).toString(16).toUpperCase().substring(0, 8);\n};\n\nreturn positions.map((pos, idx) => {\n  const description = (pos.beschreibung || 'Unbekannt').replace(/'/g, \"''\");\n  const articleNumber = pos.artikel_nummer || '';\n  const sku = articleNumber || simpleHash(description + supplierId);\n  \n  return {\n    json: {\n      invoice_id: invoiceId,\n      supplier_id: supplierId,\n      position_number: idx + 1,\n      article_number: articleNumber,\n      description: description,\n      quantity: pos.menge || 1,\n      unit: pos.einheit || 'Stk',\n      unit_price_net: Math.round((Number(pos.einzelpreis_brutto) || 0) / 1.19 * 100) / 100,\n      product_sku: sku,\n      product_category: pos.kategorie || null,\n      invoice_date: invoiceDate\n    }\n  };\n});"
      },
      "id": "809580ae-a6ff-4ad0-b872-04f7168b6368",
      "name": "📦 Split Positions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        288
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO products (\n  name,\n  supplier_id,\n  sku,\n  last_price_net_eur,\n  last_price_date,\n  unit,\n  category,\n  source,\n  source_reference\n)\nVALUES (\n  '{{ $json.description }}',\n  '{{ $json.supplier_id }}'::uuid,\n  '{{ $json.product_sku }}',\n  {{ $json.unit_price_net }},\n  '{{ $json.invoice_date }}'::date,\n  '{{ $json.unit }}',\n  {{ $json.product_category ? \"'\" + $json.product_category + \"'\" : 'NULL' }},\n  'invoice_import',\n  '{{ $json.invoice_id }}'\n)\nON CONFLICT (supplier_id, sku) \nDO UPDATE SET\n  last_price_net_eur = EXCLUDED.last_price_net_eur,\n  last_price_date = EXCLUDED.last_price_date,\n  updated_at = now()\nRETURNING id::text;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2656,
        288
      ],
      "id": "f6d8f35d-6f9e-4b6b-a041-159b57f816ee",
      "name": "📦 Upsert Product",
      "credentials": {
        "postgres": {
          "id": "qXZ2ZjK31ZDrPoDG",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO purchase_invoice_items (\n  invoice_id,\n  position_number,\n  raw_article_number,\n  raw_description,\n  quantity,\n  unit,\n  unit_price_net\n)\nVALUES (\n  '{{ $('📦 Split Positions').item.json.invoice_id }}'::uuid,\n  {{ $('📦 Split Positions').item.json.position_number }},\n  '{{ $('📦 Split Positions').item.json.article_number }}',\n  '{{ $('📦 Split Positions').item.json.description }}',\n  {{ $('📦 Split Positions').item.json.quantity }},\n  '{{ $('📦 Split Positions').item.json.unit }}',\n  {{ $('📦 Split Positions').item.json.unit_price_net }}\n)\nON CONFLICT (invoice_id, position_number) DO NOTHING\nRETURNING id::text;",
        "options": {}
      },
      "id": "5a31f6da-4702-4389-a03e-7d3868fdcc1f",
      "name": "📦 Process Item",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2864,
        288
      ],
      "credentials": {
        "postgres": {
          "id": "qXZ2ZjK31ZDrPoDG",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// V2: Build MX_02 Request using invoice_date from parsed receipt\nconst invoiceDate = $('📋 Parse JSON').first().json.rechnung_datum;\nconst supplierCode = $('🏢 Match Supplier').first().json.supplier_code;\nconst originalFilename = $('📋 Parse JSON').first().json.original_filename;\n\n// Parse date (Format: \"2026-01-02\" or \"02.01.2026\")\nlet date;\nif (invoiceDate && invoiceDate.includes('-')) {\n  date = new Date(invoiceDate);\n} else if (invoiceDate && invoiceDate.includes('.')) {\n  const [day, month, year] = invoiceDate.split('.');\n  date = new Date(`${year}-${month}-${day}`);\n} else {\n  // Fallback: today\n  date = new Date();\n}\n\nconst year = date.getFullYear().toString();\nconst monthNames = [\n  '01-Januar', '02-Februar', '03-März', '04-April',\n  '05-Mai', '06-Juni', '07-Juli', '08-August',\n  '09-September', '10-Oktober', '11-November', '12-Dezember'\n];\nconst month = monthNames[date.getMonth()];\n\n// Build filename for Drive: YYYY-MM-DD_SUPPLIER_originalname\nconst driveFilename = `${invoiceDate}_${supplierCode}_${originalFilename}`;\n\nreturn {\n  json: {\n    folder_type: 'buchhaltung_month',\n    year: year,\n    month: month,\n    full_path: `Buchhaltung/VERARBEITET/${year}/${month}`,\n    drive_filename: driveFilename\n  }\n};"
      },
      "id": "cfbd36f0-0a25-4d27-a494-065e123bbac8",
      "name": "📧 Build MX_02 Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3072,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1045913.hstgr.cloud/webhook/mx-02-folder-manager",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"folder_type\": \"{{ $json.folder_type }}\",\n  \"year\": \"{{ $json.year }}\",\n  \"month\": \"{{ $json.month }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "abf1c2f8-4b51-4142-84f7-7770143ffe75",
      "name": "📥 Get Folder via MX_02",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3280,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO events (\n  project_id,\n  event_type,\n  payload,\n  source_system,\n  source_flow\n)\nVALUES (\n  NULLIF(NULLIF('{{ $('🔍 Match Project').first().json.project_id }}', ''), 'undefined')::uuid,\n  'PURCHASE_INVOICE_CREATED',\n  jsonb_build_object(\n    'invoice_id', '{{ $('📄 Create Invoice').first().json.id }}',\n    'invoice_number', '{{ $('📄 Create Invoice').first().json.invoice_number }}',\n    'supplier_code', '{{ $('🏢 Match Supplier').first().json.supplier_code }}',\n    'supplier_match_type', '{{ $('🏢 Match Supplier').first().json.match_type }}',\n    'total_gross', {{ $('📋 Parse JSON').first().json.summe_brutto }},\n    'expense_category', COALESCE(NULLIF('{{ $('🏢 Match Supplier').first().json.default_expense_category }}', ''), '{{ $('📋 Parse JSON').first().json.expense_category }}'),\n    'positions_count', {{ $('📋 Parse JSON').first().json.positionen_count }},\n    'needs_assignment', {{ $('📋 Parse JSON').first().json.needs_assignment }},\n    'original_filename', '{{ $('📋 Parse JSON').first().json.original_filename }}',\n    'extraction_source', '{{ $('📋 Parse JSON').first().json.extraction_source }}',\n    'source', 'SUPERCHAT',\n    'email_from', '{{ $('📋 Parse JSON').first().json.email_from }}',\n    'email_subject', '{{ $('📋 Parse JSON').first().json.email_subject }}',\n    'doc_type', '{{ $('📋 Parse JSON').first().json.doc_type }}',\n    'invoice_type', '{{ $('📋 Parse JSON').first().json.invoice_type }}',\n    'project_reference', '{{ $('📋 Parse JSON').first().json.project_reference }}',\n    'delivery_address', '{{ $('📋 Parse JSON').first().json.delivery_address }}'\n  ),\n  'n8n',\n  'M6_01_Invoice_Processor_v2'\n)\nRETURNING id::text;",
        "options": {}
      },
      "id": "213f947a-ab13-4f83-a3da-10eb36fe5368",
      "name": "📢 Create Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3488,
        400
      ],
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "qXZ2ZjK31ZDrPoDG",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// FIX 4: Prepare data for Lexware email forwarding\nconst parsed = $('📋 Parse JSON').first().json;\nconst invoiceNumber = parsed.rechnung_nummer || 'UNKNOWN';\nconst supplierName = parsed.lieferant_name || 'Unbekannt';\nconst storagePath = parsed.storage_path || '';\n\nreturn {\n  json: {\n    to: 'bauloewen@inbox.lexware.email',\n    subject: `${invoiceNumber} - ${supplierName}`,\n    body: 'Automatisch weitergeleitet von BauGenius\\n\\nRechnungsnummer: ' + invoiceNumber + '\\nLieferant: ' + supplierName + '\\nBetrag: ' + (parsed.summe_brutto || 0).toFixed(2) + ' EUR',\n    storage_path: storagePath,\n    has_pdf: !!storagePath,\n    invoice_id: parsed.invoice_id,\n    download_url: storagePath ? `https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/public/${storagePath}` : ''\n  }\n};"
      },
      "id": "a6c7356f-91e6-412c-97db-c73526540c33",
      "name": "📧 Prepare Lexware Forward",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3696,
        400
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/{{ $json.storage_path }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "816a9b6f-dd55-4f73-ba71-a7b875706ff9",
      "name": "📧 Download PDF for Lexware",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3904,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SCp3PODkf5mXluYS",
          "name": "Webhook Auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $('📧 Prepare Lexware Forward').first().json.to }}",
        "subject": "={{ $('📧 Prepare Lexware Forward').first().json.subject }}",
        "message": "={{ $('📧 Prepare Lexware Forward').first().json.body }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "id": "fa8e1052-89bc-4738-b7c6-791d44055832",
      "name": "📧 Forward to Lexware",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4112,
        400
      ],
      "webhookId": "fcccca73-725b-4fb4-8ec8-a08941a604eb",
      "credentials": {
        "gmailOAuth2": {
          "id": "3Towj30wVk4UI8Qp",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE purchase_invoices SET lexware_forwarded_at = now() WHERE id = '{{ $('📄 Create Invoice').first().json.id }}'::uuid;",
        "options": {}
      },
      "id": "664215ab-5367-4ea6-8f60-eaa00623ce27",
      "name": "📧 Mark Forwarded",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4320,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "qXZ2ZjK31ZDrPoDG",
          "name": "Supabase Postgres"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "6088921678",
        "text": "=📧 *Rechnung aus Superchat erfasst*\n\n🏢 Lieferant: {{ $('🏢 Match Supplier').first().json.supplier_code }} ({{ $('🏢 Match Supplier').first().json.match_type }})\n💰 Betrag: {{ $('📋 Parse JSON').first().json.summe_brutto.toFixed(2).replace('.', ',') }}€\n📁 Kategorie: {{ $('🏢 Match Supplier').first().json.default_expense_category || $('📋 Parse JSON').first().json.expense_category }}\n📦 Positionen: {{ $('📋 Parse JSON').first().json.positionen_count }}\n📑 Typ: {{ $('📋 Parse JSON').first().json.doc_type }} ({{ $('📋 Parse JSON').first().json.invoice_type }})\n📎 Quelle: {{ $('📋 Parse JSON').first().json.extraction_source }}\n🏗️ Projekt: {{ $('🔍 Match Project').first().json.project_id ? $('🔍 Match Project').first().json.project_id : 'Nicht zugeordnet' }}\n📨 Lexware: {{ $('📧 Mark Forwarded').first().json ? '✅ Weitergeleitet' : '⚠️ Nicht weitergeleitet' }}\n\n📨 Von: {{ $('📋 Parse JSON').first().json.email_from.substring(0, 50) }}\n📋 Betreff: {{ $('📋 Parse JSON').first().json.email_subject.substring(0, 50) }}\n\n{{ $('📋 Parse JSON').first().json.needs_assignment ? '⚠️ Projekt-Zuordnung erforderlich' : '✅ Gemeinkosten (keine Zuordnung nötig)' }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "c0cb3389-e25f-4c9d-a865-bbc397c20bde",
      "name": "📱 Telegram Notify",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4528,
        400
      ],
      "webhookId": "m601-telegram",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "HV1wc491unUQKfmd",
          "name": "BabyAgiBot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"invoice_id\": \"{{ $('📄 Create Invoice').first().json.id }}\",\n  \"invoice_number\": \"{{ $('📄 Create Invoice').first().json.invoice_number }}\",\n  \"supplier_code\": \"{{ $('🏢 Match Supplier').first().json.supplier_code }}\",\n  \"extraction_source\": \"{{ $('📋 Parse JSON').first().json.extraction_source }}\",\n  \"invoice_type\": \"{{ $('📋 Parse JSON').first().json.invoice_type }}\",\n  \"project_id\": \"{{ $('🔍 Match Project').first().json.project_id || '' }}\",\n  \"lexware_forwarded\": true\n}",
        "options": {}
      },
      "id": "ce2b85ce-1ede-4b03-b84a-f85ccdd416b8",
      "name": "✅ Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4736,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"status\": \"duplicate\",\n  \"message\": \"Already processed: {{ $('🏷️ Detect Credit Note').first().json.superchat_message_id }}\"\n}",
        "options": {}
      },
      "id": "b45f2f8c-03fa-4531-aabc-ac337053e921",
      "name": "⏭️ Respond Duplicate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -624,
        624
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get parsed data from previous node\nconst parsed = $input.first().json;\n\n// Check if we have binary data (attachment path only)\nlet binary = {};\ntry {\n  const downloadNode = $('📎 Download Binary').first();\n  binary = downloadNode.binary || {};\n} catch (e) {\n  // Inline path - no binary available, that's fine\n}\n\n// Pass everything through\nconst result = { json: { ...parsed } };\nif (Object.keys(binary).length > 0) {\n  result.binary = binary;\n}\nreturn [result];"
      },
      "id": "60fbed0f-99ac-4e1f-b05b-750360f59ea2",
      "name": "🔧 Prep Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        592
      ]
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "text": "Du bist ein Daten-Validator für Rechnungen.\n\nAKTUELLES DATUM: {{ $now.format('yyyy-MM-dd') }}\n\nEXTRAHIERTE DATEN (von anderer AI):\n{{ JSON.stringify({\n  rechnung_datum: $json.rechnung_datum,\n  rechnung_nummer: $json.rechnung_nummer,\n  lieferant_name: $json.lieferant_name,\n  summe_brutto: $json.summe_brutto,\n  summe_netto: $json.summe_netto,\n  mwst_prozent: $json.mwst_prozent,\n  positionen_count: $json.positionen_count,\n  extraction_source: $json.extraction_source\n}) }}\n\nPRÜFE die extrahierten Daten:\n\n1. DATUM: Jahr muss 2020-2030 sein. Bei \"24\" oder \"26\" → 2024/2026, NICHT 2014\n2. BETRÄGE: brutto >= netto. Bei mwst_prozent > 0: brutto ≈ netto × (1 + mwst/100) (±2€). Bei mwst_prozent = 0: brutto = netto\n3. LIEFERANT + RECHNUNGSNUMMER: Plausibel?\n4. Bei extraction_source EMAIL_BODY: Beträge und Währung prüfen (USD vs EUR)\n\nAUSGABE NUR JSON:\n{\"valid\":true,\"corrections\":{},\"confidence\":0.95,\"issues\":[]}\n\nBei Korrekturen:\n{\"valid\":false,\"corrections\":{\"rechnung_datum\":\"2024-01-26\"},\"confidence\":0.85,\"issues\":[\"Jahr korrigiert: 2014→2024\"]}",
        "options": {}
      },
      "id": "874a314d-ff58-4309-a09c-4df9cc6e72c7",
      "name": "🔍 Gemini Validator",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1616,
        592
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "rqgijFs7YZOdtthC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get original parsed data\nconst parsed = $('📋 Parse JSON').first().json;\n\n// Get Gemini response\nconst geminiResponse = $input.first().json;\n\nlet result = { ...parsed };\n\n// Parse Gemini response\nlet validatorData;\ntry {\n  const text = geminiResponse.content?.parts?.[0]?.text || \n               geminiResponse.text || \n               JSON.stringify(geminiResponse);\n  const cleanJson = text.replace(/```json\\s*/gi, '').replace(/```/g, '').trim();\n  validatorData = JSON.parse(cleanJson);\n} catch (e) {\n  return [{ \n    json: { \n      ...result, \n      _validation_skipped: true,\n      _validation_error: e.message \n    }\n  }];\n}\n\n// Apply corrections\nif (validatorData.corrections) {\n  for (const [key, value] of Object.entries(validatorData.corrections)) {\n    result[key] = value;\n  }\n}\n\n// Recalculate due_date if datum corrected\nif (validatorData.corrections?.rechnung_datum) {\n  const d = new Date(validatorData.corrections.rechnung_datum);\n  d.setDate(d.getDate() + (result.payment_terms_days || 14));\n  result.due_date = d.toISOString().split('T')[0];\n}\n\n// Recalculate net/gross if corrected\nif (validatorData.corrections?.summe_brutto || validatorData.corrections?.summe_netto) {\n  const vat = result.mwst_prozent || 19;\n  if (validatorData.corrections.summe_brutto && !validatorData.corrections.summe_netto) {\n    result.summe_netto = Math.round((result.summe_brutto / (1 + vat / 100)) * 100) / 100;\n  } else if (validatorData.corrections.summe_netto && !validatorData.corrections.summe_brutto) {\n    result.summe_brutto = Math.round(result.summe_netto * (1 + vat / 100) * 100) / 100;\n  }\n}\n\n// Add validation metadata\nresult._validated = validatorData.valid;\nresult._confidence = validatorData.confidence;\nresult._issues = validatorData.issues || [];\n\nreturn [{ json: result }];"
      },
      "id": "17ab99ba-1172-43aa-8c7a-c9f9db40a10c",
      "name": "🔧 Merge Corrections",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        592
      ]
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "text": "=Der folgende Text stammt aus einer Email, die als Rechnung klassifiziert wurde. Extrahiere die Rechnungsinformationen aus dem Email-Text.\n\nEMAIL VON: {{ $('📥 Extract Event Data').first().json.email_from }}\nBETREFF: {{ $('📥 Extract Event Data').first().json.email_subject }}\n\nEMAIL-INHALT:\n{{ $('🔍 Check Email Body').first().json.body_preview }}\n\nExtrahiere ALLE Informationen als JSON:\n\nSCHRITT 1: Lieferant identifizieren (name, code max 4 Zeichen, typ: BAUMARKT/GROSSHANDEL/FACHHANDEL/TANKSTELLE/RESTAURANT/SOFTWARE/SONSTIGE)\nSCHRITT 2: Kostenkategorie (MATERIAL/SUBCONTRACTOR/VEHICLE_FUEL/VEHICLE_RENTAL/VEHICLE_REPAIR/ENTERTAINMENT/SOFTWARE/OFFICE/DISPOSAL/OTHER)\nSCHRITT 3: Rechnungsdaten (nummer, datum YYYY-MM-DD, summe_netto, summe_brutto, mwst_prozent)\nSCHRITT 4: Zahlungsinformationen (iban, bic, zahlungsziel_tage, faellig_am, skonto_prozent, skonto_tage)\nSCHRITT 5: Positionen (artikel_nummer, beschreibung, internal_name, menge, einheit, einzelpreis_brutto, kategorie)\nSCHRITT 6: Projekt-Referenzen\n- Suche nach Projektnummer im Format BL-YYYY-NNN (z.B. BL-2026-014)\n- Suche nach Lieferadresse / Baustellenadresse (Straße + PLZ/Stadt)\n- Suche nach Bestellreferenz oder Auftragsnummer\nGib zurück: project_reference (die BL-Nummer falls gefunden, sonst \"\"), delivery_address (Lieferadresse falls gefunden, sonst \"\")\n\nWICHTIG: Bei ausländischen Anbietern ohne MwSt: summe_brutto = summe_netto, mwst_prozent = 0\n\nAUSGABE: Nur JSON, keine Backticks.\n{\"lieferant\":{\"name\":\"\",\"code\":\"\",\"typ\":\"\"},\"expense_category\":\"\",\"rechnung\":{\"nummer\":\"\",\"datum\":\"\",\"summe_netto\":0,\"summe_brutto\":0,\"mwst_prozent\":0},\"zahlung\":{\"iban\":\"\",\"bic\":\"\",\"zahlungsziel_tage\":14,\"faellig_am\":\"\",\"skonto_prozent\":0,\"skonto_tage\":0},\"positionen\":[],\"projekt\":{\"project_reference\":\"\",\"delivery_address\":\"\"}}",
        "options": {}
      },
      "id": "15a46a6f-e6ad-4456-a531-cee0cda95bff",
      "name": "🔄 Gemini Text Fallback",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        0,
        96
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "rqgijFs7YZOdtthC",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "text": "Analysiere diesen Beleg/Rechnung und extrahiere alle Informationen.\n\nSCHRITT 1: Lieferant identifizieren (name, code max 4 Zeichen Großbuchstaben, typ: BAUMARKT/GROSSHANDEL/FACHHANDEL/TANKSTELLE/RESTAURANT/SOFTWARE/SONSTIGE)\nSCHRITT 2: Kostenkategorie (MATERIAL/SUBCONTRACTOR/VEHICLE_FUEL/VEHICLE_RENTAL/VEHICLE_REPAIR/ENTERTAINMENT/SOFTWARE/OFFICE/DISPOSAL/OTHER)\nSCHRITT 3: Rechnungsdaten (nummer oder UNKNOWN, datum YYYY-MM-DD, summe_netto, summe_brutto, mwst_prozent)\nWICHTIG: summe_brutto = ENDPREIS, summe_netto = VOR MwSt. summe_brutto = summe_netto × (1 + mwst_prozent/100)\nSCHRITT 4: Zahlungsinformationen (iban, bic, zahlungsziel_tage default 14, faellig_am, skonto_prozent, skonto_tage)\nSCHRITT 5: Positionen max 20 (artikel_nummer, beschreibung, internal_name, menge, einheit, einzelpreis_brutto, kategorie)\nSCHRITT 6: Projekt-Referenzen\n- Suche nach Projektnummer im Format BL-YYYY-NNN (z.B. BL-2026-014)\n- Suche nach Lieferadresse / Baustellenadresse (Straße + PLZ/Stadt)\n- Suche nach Bestellreferenz oder Auftragsnummer\nGib zurück: project_reference (die BL-Nummer falls gefunden, sonst \"\"), delivery_address (Lieferadresse falls gefunden, sonst \"\")\n\nAUSGABE: Nur JSON, keine Backticks, kein Markdown.\n{\"lieferant\":{\"name\":\"\",\"code\":\"\",\"typ\":\"\"},\"expense_category\":\"\",\"rechnung\":{\"nummer\":\"\",\"datum\":\"\",\"summe_netto\":0,\"summe_brutto\":0,\"mwst_prozent\":0},\"zahlung\":{\"iban\":\"\",\"bic\":\"\",\"zahlungsziel_tage\":14,\"faellig_am\":\"\",\"skonto_prozent\":0,\"skonto_tage\":0},\"positionen\":[],\"projekt\":{\"project_reference\":\"\",\"delivery_address\":\"\"}}",
        "inputType": "binary",
        "binaryPropertyName": "={{ $('🔧 Prepare Upload').item.json.binary_key }}",
        "options": {}
      },
      "id": "6069da97-c727-4b2e-85e2-03684ec96c33",
      "name": "🔄 Gemini Vision Fallback",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1200,
        272
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "rqgijFs7YZOdtthC",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "🔔 Webhook Trigger": {
      "main": [
        [
          {
            "node": "📥 Extract Event Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Extract Event Data": {
      "main": [
        [
          {
            "node": "🏷️ Detect Credit Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏷️ Detect Credit Note": {
      "main": [
        [
          {
            "node": "🔍 Idempotency Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Idempotency Check": {
      "main": [
        [
          {
            "node": "❓ New Invoice?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ New Invoice?": {
      "main": [
        [
          {
            "node": "🔍 Check Email Body",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⏭️ Respond Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Check Email Body": {
      "main": [
        [
          {
            "node": "❓ Inline Invoice?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Inline Invoice?": {
      "main": [
        [
          {
            "node": "🤖 Claude Text Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❓ Has Files?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Claude Text Extract": {
      "main": [
        [
          {
            "node": "📋 Prepare Text Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔄 Gemini Text Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Gemini Text Fallback": {
      "main": [
        [
          {
            "node": "📋 Prepare Text Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Prepare Text Result": {
      "main": [
        [
          {
            "node": "📋 Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Has Files?": {
      "main": [
        [
          {
            "node": "🔄 Split File IDs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚠️ No Invoice Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Split File IDs": {
      "main": [
        [
          {
            "node": "📎 Get File Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📎 Get File Info": {
      "main": [
        [
          {
            "node": "📎 Extract File URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📎 Extract File URL": {
      "main": [
        [
          {
            "node": "📎 Download Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📎 Download Binary": {
      "main": [
        [
          {
            "node": "🔧 Prepare Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Prepare Upload": {
      "main": [
        [
          {
            "node": "📤 Upload to Storage",
            "type": "main",
            "index": 0
          },
          {
            "node": "🤖 Claude Vision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Claude Vision": {
      "main": [
        [
          {
            "node": "📋 Parse JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔄 Gemini Vision Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Gemini Vision Fallback": {
      "main": [
        [
          {
            "node": "📋 Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Parse JSON": {
      "main": [
        [
          {
            "node": "🔧 Prep Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Prep Validator": {
      "main": [
        [
          {
            "node": "🔍 Gemini Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Gemini Validator": {
      "main": [
        [
          {
            "node": "🔧 Merge Corrections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Merge Corrections": {
      "main": [
        [
          {
            "node": "🏢 Match Supplier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏢 Match Supplier": {
      "main": [
        [
          {
            "node": "🔍 Match Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Match Project": {
      "main": [
        [
          {
            "node": "📄 Create Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 Create Invoice": {
      "main": [
        [
          {
            "node": "❓ Has Positions?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Has Positions?": {
      "main": [
        [
          {
            "node": "📦 Split Positions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📧 Build MX_02 Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Split Positions": {
      "main": [
        [
          {
            "node": "📦 Upsert Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Upsert Product": {
      "main": [
        [
          {
            "node": "📦 Process Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Process Item": {
      "main": [
        [
          {
            "node": "📧 Build MX_02 Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Build MX_02 Request": {
      "main": [
        [
          {
            "node": "📥 Get Folder via MX_02",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Get Folder via MX_02": {
      "main": [
        [
          {
            "node": "📢 Create Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📢 Create Event": {
      "main": [
        [
          {
            "node": "📧 Prepare Lexware Forward",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Prepare Lexware Forward": {
      "main": [
        [
          {
            "node": "📧 Download PDF for Lexware",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Download PDF for Lexware": {
      "main": [
        [
          {
            "node": "📧 Forward to Lexware",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Forward to Lexware": {
      "main": [
        [
          {
            "node": "📧 Mark Forwarded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Mark Forwarded": {
      "main": [
        [
          {
            "node": "📱 Telegram Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📱 Telegram Notify": {
      "main": [
        [
          {
            "node": "✅ Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "zAFieMcnwATMcHhY",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4fc203a7-b6f9-4c76-b23a-23e8efb48ba4",
  "activeVersionId": "4fc203a7-b6f9-4c76-b23a-23e8efb48ba4",
  "versionCounter": 36,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-20T07:50:06.851Z",
      "createdAt": "2026-03-20T07:50:06.851Z",
      "role": "workflow:owner",
      "workflowId": "gV76hOPVjNXPqZdT",
      "projectId": "lxYwL2wy7xgg1POq",
      "project": {
        "updatedAt": "2025-10-10T16:06:01.650Z",
        "createdAt": "2025-10-04T22:17:46.741Z",
        "id": "lxYwL2wy7xgg1POq",
        "name": "Dennis Özdemir <info@deine-bauloewen.de>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "f290b8bc-a990-495d-aedc-d1ee5abfc443"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-23T14:57:22.165Z",
    "createdAt": "2026-03-23T14:57:22.165Z",
    "versionId": "4fc203a7-b6f9-4c76-b23a-23e8efb48ba4",
    "workflowId": "gV76hOPVjNXPqZdT",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "m6-01-invoice-processor",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "e51706b6-8b80-4662-bcdf-a9b11834a6e6",
        "name": "🔔 Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -1408,
          400
        ],
        "webhookId": "m6-01-invoice-processor"
      },
      {
        "parameters": {
          "jsCode": "// Extract event data from MX_00_Event_Router payload\n// V4: Removed primary_file_id — multi-attachment loop handles individual files\nconst body = $input.first().json.body || $input.first().json;\n\n// Parse file_ids - could be string or array\nlet fileIds = body.file_ids || body.payload?.file_ids || [];\nif (typeof fileIds === 'string') {\n  try {\n    fileIds = JSON.parse(fileIds);\n  } catch (e) {\n    fileIds = [];\n  }\n}\n\nreturn {\n  json: {\n    // IDs (no invoice_id here — generated per attachment in Split File IDs)\n    event_id: body.event_id || body.id,\n    \n    // Superchat IDs\n    superchat_message_id: body.superchat_message_id || body.payload?.superchat_message_id,\n    superchat_conversation_id: body.superchat_conversation_id || body.payload?.superchat_conversation_id,\n    \n    // File handling — keep full array, no primary_file_id\n    file_ids: fileIds,\n    \n    // Email metadata\n    email_from: body.from_address || body.payload?.from_address || '',\n    email_subject: (body.subject || body.payload?.subject || '').replace(/'/g, \"''\"),\n    email_received_at: body.received_at || new Date().toISOString(),\n    \n    // Doc type (INVOICE_IN or CREDIT_NOTE)\n    doc_type: body.doc_type || body.payload?.doc_type || 'INVOICE_IN',\n    confidence: body.confidence || body.payload?.confidence || 0.9,\n    \n    // Email body (from MX_03 V2)\n    body_preview: body.body_preview || body.payload?.body_preview || '',\n    \n    // Idempotency base key (will be extended per file in Split File IDs)\n    idempotency_key: `m6_${body.superchat_message_id || body.payload?.superchat_message_id}`\n  }\n};"
        },
        "id": "5554cd0f-6fda-4ca4-a829-7654cb642bd8",
        "name": "📥 Extract Event Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1216,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "// FIX 2: Detect credit notes based on sender and subject\nconst data = $input.first().json;\nconst emailFrom = (data.email_from || '').toLowerCase();\nconst emailSubject = (data.email_subject || '').toLowerCase();\n\nlet invoiceType = 'invoice';\nlet docType = data.doc_type || 'INVOICE_IN';\n\n// Rule 1: besser zuhause sendet NUR Gutschriften\nif (emailFrom.includes('besser zuhause') || emailFrom.includes('besserzuhause')) {\n  invoiceType = 'credit_note';\n  docType = 'CREDIT_NOTE';\n}\n\n// Rule 2: Betreff enthält Gutschrift/Storno\nif (emailSubject.includes('gutschrift') || emailSubject.includes('storno') || emailSubject.includes('credit note')) {\n  invoiceType = 'credit_note';\n  docType = 'CREDIT_NOTE';\n}\n\nreturn {\n  json: {\n    ...data,\n    invoice_type: invoiceType,\n    doc_type: docType\n  }\n};"
        },
        "id": "14857601-d5ef-4d84-9ac8-2eab844eab2a",
        "name": "🏷️ Detect Credit Note",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1024,
          400
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT EXISTS(\n  SELECT 1 FROM purchase_invoices\n  WHERE email_message_id = '{{ $json.superchat_message_id }}'\n) AS already_processed;",
          "options": {}
        },
        "id": "e43cbee3-87db-414d-8122-b9c1533a790a",
        "name": "🔍 Idempotency Check",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          -816,
          400
        ],
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "qXZ2ZjK31ZDrPoDG",
            "name": "Supabase Postgres"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "not-processed",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                },
                "leftValue": "={{ $json.already_processed }}",
                "rightValue": false
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "908e2a30-1ab5-44ec-84fa-f1c1496d36b0",
        "name": "❓ New Invoice?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -624,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "const eventData = $('🏷️ Detect Credit Note').first().json;\nconst bodyPreview = eventData.body_preview || '';\nconst hasFiles = (eventData.file_ids || []).length > 0;\n\n// Invoice indicators in email body\nconst invoicePatterns = [\n  /rechnung/i, /invoice/i, /receipt/i, /quittung/i,\n  /betrag|amount|total|summe/i,\n  /€|\\$|EUR|USD/,\n  /\\d+[.,]\\d{2}/,\n  /zahlungsziel|payment.?due|fällig/i,\n  /rechnungsnummer|invoice.?(?:no|number|nr)/i\n];\n\nconst matchCount = invoicePatterns.filter(p => p.test(bodyPreview)).length;\n// Need at least 3 indicators AND body must have content\nconst looksLikeInvoice = bodyPreview.length > 50 && matchCount >= 3;\n\nreturn {\n  json: {\n    ...eventData,\n    body_preview: bodyPreview,\n    body_looks_like_invoice: looksLikeInvoice,\n    body_match_count: matchCount,\n    has_files: hasFiles,\n    extraction_source: looksLikeInvoice ? 'EMAIL_BODY' : (hasFiles ? 'ATTACHMENT' : 'NONE')\n  }\n};"
        },
        "id": "8e960b5b-22fa-4fde-8849-5949ce893b19",
        "name": "🔍 Check Email Body",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -416,
          400
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "check-inline",
                "leftValue": "={{ $json.body_looks_like_invoice }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "e56dcbaf-a89b-474a-8101-b78e9f2e640e",
        "name": "❓ Inline Invoice?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -208,
          400
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "claude-sonnet-4-5-20250929",
            "mode": "list",
            "cachedResultName": "claude-sonnet-4-5-20250929"
          },
          "messages": {
            "values": [
              {
                "content": "=Der folgende Text stammt aus einer Email, die als Rechnung klassifiziert wurde. Extrahiere die Rechnungsinformationen aus dem Email-Text.\n\nEMAIL VON: {{ $('📥 Extract Event Data').first().json.email_from }}\nBETREFF: {{ $('📥 Extract Event Data').first().json.email_subject }}\n\nEMAIL-INHALT:\n{{ $('🔍 Check Email Body').first().json.body_preview }}"
              }
            ]
          },
          "options": {
            "system": "Du extrahierst Rechnungsdaten aus Email-Texten für ein Bauunternehmen (Deine Baulöwen). Der Email-Text enthält eine eingebettete Rechnung (z.B. von Replit, Apple, Stripe, etc.).\n\nExtrahiere ALLE folgenden Informationen:\n\nSCHRITT 1: Lieferant identifizieren\n- Name wie im Text\n- Kurzcode (z.B. \"REPL\" für Replit, max 4 Zeichen, nur Großbuchstaben)\n- Typ: BAUMARKT, GROSSHANDEL, FACHHANDEL, TANKSTELLE, RESTAURANT, SOFTWARE, SONSTIGE\n\nSCHRITT 2: Kostenkategorie bestimmen\n- MATERIAL: Baumärkte, Baustoffhandel, Werkzeug, Fliesen, Sanitär, Elektro\n- SUBCONTRACTOR: Handwerker-Rechnungen, Subunternehmer\n- VEHICLE_FUEL: Tankstellen\n- VEHICLE_RENTAL: Autovermietung, Parken\n- VEHICLE_REPAIR: Werkstatt, Autowäsche\n- ENTERTAINMENT: Restaurant, Café, Bewirtung\n- SOFTWARE: IT-Dienste, Apps, SaaS-Abonnements\n- OFFICE: Bürobedarf, Telefon\n- DISPOSAL: Entsorgung\n- OTHER: Alles andere\n\nSCHRITT 3: Rechnungsdaten\n- Rechnungsnummer (oder \"UNKNOWN\")\n- Datum (Format: YYYY-MM-DD)\n- Nettobetrag (summe_netto) als Zahl — die Summe OHNE MwSt.\n- Bruttobetrag (summe_brutto) als Zahl — die Endsumme MIT MwSt. (der höhere Betrag)\n- MwSt-Satz (meist 19, bei ausländischen Anbietern evtl. 0)\n\nWICHTIG: summe_brutto ist IMMER der ENDPREIS. summe_netto ist die Summe VOR der MwSt.\nBei ausländischen Anbietern ohne MwSt: summe_brutto = summe_netto, mwst_prozent = 0.\nBei USD-Beträgen: Werte trotzdem als Zahlen extrahieren, Währung wird ignoriert.\n\nSCHRITT 4: Zahlungsinformationen\n- IBAN (falls im Text, sonst \"\")\n- BIC (falls vorhanden, sonst \"\")\n- Zahlungsziel in Tagen (falls nicht angegeben: 14)\n- Fälligkeitsdatum (Rechnungsdatum + Zahlungsziel, Format: YYYY-MM-DD)\n- Skonto Prozent (falls angegeben, sonst 0)\n- Skonto Tage (falls angegeben, sonst 0)\n\nSCHRITT 5: Positionen (maximal 20)\nFür jeden Artikel/Posten:\n- artikel_nummer (falls vorhanden, sonst \"\")\n- beschreibung (wie im Text)\n- internal_name (kleinbuchstaben, normalisiert)\n- menge als Zahl\n- einheit (Stk, kg, m, m², l, Pack, Monat)\n- einzelpreis_brutto als Zahl\n- kategorie (z.B. Software-Lizenz, SaaS, Hosting, etc.)\n\nSCHRITT 6: Projekt-Referenzen\n- Suche nach Projektnummer im Format BL-YYYY-NNN (z.B. BL-2026-014)\n- Suche nach Lieferadresse / Baustellenadresse (Straße + PLZ/Stadt)\n- Suche nach Bestellreferenz oder Auftragsnummer\nGib zurück: project_reference (die BL-Nummer falls gefunden, sonst \"\"), delivery_address (Lieferadresse falls gefunden, sonst \"\")\n\nAUSGABE: Nur JSON, keine Backticks, kein Markdown, keine Erklärung.\n\n{\"lieferant\":{\"name\":\"Musterfirma GmbH\",\"code\":\"MUST\",\"typ\":\"SOFTWARE\"},\"expense_category\":\"SOFTWARE\",\"rechnung\":{\"nummer\":\"INV-001\",\"datum\":\"2026-01-15\",\"summe_netto\":20.00,\"summe_brutto\":20.00,\"mwst_prozent\":0},\"zahlung\":{\"iban\":\"\",\"bic\":\"\",\"zahlungsziel_tage\":14,\"faellig_am\":\"2026-01-29\",\"skonto_prozent\":0,\"skonto_tage\":0},\"positionen\":[{\"artikel_nummer\":\"\",\"beschreibung\":\"Pro Plan Monthly\",\"internal_name\":\"pro plan monthly\",\"menge\":1,\"einheit\":\"Monat\",\"einzelpreis_brutto\":20.00,\"kategorie\":\"SaaS\"}],\"projekt\":{\"project_reference\":\"\",\"delivery_address\":\"\"}}",
            "maxTokens": 8000
          }
        },
        "id": "818be9c3-1537-4045-8e4f-e119c7f9e811",
        "name": "🤖 Claude Text Extract",
        "type": "@n8n/n8n-nodes-langchain.anthropic",
        "typeVersion": 1,
        "position": [
          0,
          288
        ],
        "credentials": {
          "anthropicApi": {
            "id": "DSb7Itt2r6kfGiHs",
            "name": "Anthropic account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "// Prepare text extraction result to match the shape expected by Parse JSON\n// This mirrors what Prepare Upload does for the binary path, but without binary data\nconst eventData = $('🏷️ Detect Credit Note').first().json;\n\nconst storagePath = null; // No file to store for inline invoices\n\n// Generate invoice_id for inline path\nconst invoiceId = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n  const r = Math.random() * 16 | 0;\n  const v = c === 'x' ? r : (r & 0x3 | 0x8);\n  return v.toString(16);\n});\n\nreturn {\n  json: {\n    invoice_id: invoiceId,\n    storage_path: storagePath,\n    storage_filename: null,\n    original_filename: 'email-body-invoice.html',\n    mime_type: 'text/html',\n    binary_key: null,\n    extraction_source: 'EMAIL_BODY',\n    \n    // Pass through metadata\n    superchat_message_id: eventData.superchat_message_id,\n    superchat_conversation_id: eventData.superchat_conversation_id,\n    email_from: eventData.email_from,\n    email_subject: eventData.email_subject,\n    email_received_at: eventData.email_received_at,\n    doc_type: eventData.doc_type,\n    invoice_type: eventData.invoice_type\n  }\n};"
        },
        "id": "351858b2-5531-4ef0-8a3e-699e60e18606",
        "name": "📋 Prepare Text Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          528,
          288
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "check-has-files",
                "leftValue": "={{ $json.has_files }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "9ecb8d76-3f05-4a1e-9d4a-aa0abab3404f",
        "name": "❓ Has Files?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          0,
          512
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"success\": false,\n  \"error\": \"No invoice data found - no inline invoice and no file attachments\",\n  \"superchat_message_id\": \"{{ $('📥 Extract Event Data').first().json.superchat_message_id }}\"\n}",
          "options": {
            "responseCode": 422
          }
        },
        "id": "eb1ac9e9-3d60-4764-8232-53dd599c8b7e",
        "name": "⚠️ No Invoice Data",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          208,
          704
        ]
      },
      {
        "parameters": {
          "jsCode": "// FIX 1: Split file_ids into individual items for multi-attachment processing\nconst eventData = $('🔍 Check Email Body').first().json;\nconst fileIds = eventData.file_ids || [];\n\nreturn fileIds.map((fileId, index) => {\n  // Generate unique invoice_id per attachment\n  const invoiceId = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n\n  return {\n    json: {\n      file_id: fileId,\n      file_index: index,\n      invoice_id: invoiceId,\n      idempotency_key: `m6_${eventData.superchat_message_id}_${index}`,\n      \n      // Pass through all event data\n      superchat_message_id: eventData.superchat_message_id,\n      superchat_conversation_id: eventData.superchat_conversation_id,\n      email_from: eventData.email_from,\n      email_subject: eventData.email_subject,\n      email_received_at: eventData.email_received_at,\n      doc_type: eventData.doc_type,\n      invoice_type: eventData.invoice_type || 'invoice',\n      confidence: eventData.confidence\n    }\n  };\n});"
        },
        "id": "76de3a37-599e-4020-a8d2-49c8860933b6",
        "name": "🔄 Split File IDs",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          208,
          512
        ]
      },
      {
        "parameters": {
          "url": "=https://api.superchat.com/v1.0/files/{{ $json.file_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-API-KEY",
                "value": "1afbef7e-ed85-4a8c-920b-b3b6300a7984"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          400,
          512
        ],
        "id": "7cf08cbd-d92c-4e7a-8821-d88511034baf",
        "name": "📎 Get File Info"
      },
      {
        "parameters": {
          "jsCode": "const response = $input.first().json;\n\n// Superchat API returns { results: [...] } or direct object\nconst file = response.results ? response.results[0] : response;\n\nif (!file || !file.link || !file.link.url) {\n  throw new Error(`Keine Download-URL gefunden. Response keys: ${Object.keys(response).join(', ')}`);\n}\n\nreturn {\n  json: {\n    file_id: file.id,\n    filename: file.name,\n    mime_type: file.mime_type,\n    download_url: file.link.url\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          592,
          512
        ],
        "id": "e9e08485-ed73-455f-80d5-d6786a6f76aa",
        "name": "📎 Extract File URL"
      },
      {
        "parameters": {
          "url": "={{ $json.download_url }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          784,
          512
        ],
        "id": "cedc88b0-bd97-4639-91cf-12961283ff3d",
        "name": "📎 Download Binary"
      },
      {
        "parameters": {
          "jsCode": "// Prepare for Claude Vision & Storage upload\n// V4: invoice_id comes from Split File IDs (per attachment)\nconst splitData = $('🔄 Split File IDs').item.json;\nconst binary = $input.first().binary;\n\n// Get binary key (usually 'data')\nconst binaryKey = Object.keys(binary || {})[0] || 'data';\nconst binaryData = binary?.[binaryKey];\n\nconst invoiceId = splitData.invoice_id;\nconst storagePath = `receipts/${invoiceId}.pdf`;\n\nreturn {\n  json: {\n    invoice_id: invoiceId,\n    storage_path: storagePath,\n    storage_filename: `${invoiceId}.pdf`,\n    original_filename: binaryData?.fileName || 'invoice.pdf',\n    mime_type: binaryData?.mimeType || 'application/pdf',\n    binary_key: binaryKey,\n    extraction_source: 'ATTACHMENT',\n    \n    // Pass through metadata from Split File IDs\n    superchat_message_id: splitData.superchat_message_id,\n    superchat_conversation_id: splitData.superchat_conversation_id,\n    email_from: splitData.email_from,\n    email_subject: splitData.email_subject,\n    email_received_at: splitData.email_received_at,\n    doc_type: splitData.doc_type,\n    invoice_type: splitData.invoice_type,\n    idempotency_key: splitData.idempotency_key,\n    file_index: splitData.file_index\n  },\n  binary: binary\n};"
        },
        "id": "58741c18-35ff-4cbc-980a-af7e0e1f2a1e",
        "name": "🔧 Prepare Upload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          992,
          512
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/receipts/{{ $json.storage_filename }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "={{ $json.mime_type }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "binaryData",
          "inputDataFieldName": "={{ $json.binary_key }}",
          "options": {}
        },
        "id": "e8648ee7-2edd-4bae-83cb-4ecee5330e34",
        "name": "📤 Upload to Storage",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1200,
          784
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "PmuDiYzfBjPqDSFV",
            "name": "Supabase Service Key"
          }
        }
      },
      {
        "parameters": {
          "resource": "document",
          "modelId": {
            "__rl": true,
            "mode": "list",
            "value": "claude-sonnet-4-5-20250929",
            "cachedResultName": "claude-sonnet-4-5-20250929"
          },
          "text": "Analysiere diesen Beleg/Rechnung und extrahiere alle Informationen.\n\nSCHRITT 1: Lieferant identifizieren\n- Name wie auf Beleg\n- Kurzcode (z.B. \"HORN\" für Hornbach, max 4 Zeichen, nur Großbuchstaben)\n- Typ: BAUMARKT, GROSSHANDEL, FACHHANDEL, TANKSTELLE, RESTAURANT, SOFTWARE, SONSTIGE\n\nSCHRITT 2: Kostenkategorie bestimmen\n- MATERIAL: Baumärkte, Baustoffhandel, Werkzeug, Fliesen, Sanitär, Elektro\n- SUBCONTRACTOR: Handwerker-Rechnungen, Subunternehmer\n- VEHICLE_FUEL: Tankstellen\n- VEHICLE_RENTAL: Autovermietung, Parken\n- VEHICLE_REPAIR: Werkstatt, Autowäsche\n- ENTERTAINMENT: Restaurant, Café, Bewirtung\n- SOFTWARE: IT-Dienste, Apps\n- OFFICE: Bürobedarf, Telefon\n- DISPOSAL: Entsorgung\n- OTHER: Alles andere\n\nSCHRITT 3: Rechnungsdaten\n- Rechnungsnummer (oder \"UNKNOWN\")\n- Datum (Format: YYYY-MM-DD)\n- Nettobetrag (summe_netto) als Zahl — die Summe OHNE MwSt.\n- Bruttobetrag (summe_brutto) als Zahl — die Endsumme MIT MwSt. (der höhere Betrag)\n- MwSt-Satz (meist 19)\n\nWICHTIG: summe_brutto ist IMMER der ENDPREIS (der höchste Betrag auf der Rechnung).\nsumme_netto ist die Summe VOR der MwSt. Es gilt: summe_brutto = summe_netto * (1 + mwst_prozent/100)\n\nSCHRITT 4: Zahlungsinformationen\n- IBAN (falls auf Rechnung, sonst \"\")\n- BIC (falls vorhanden, sonst \"\")\n- Zahlungsziel in Tagen (aus Text wie \"zahlbar innerhalb 14 Tagen\" - falls nicht angegeben: 14)\n- Fälligkeitsdatum (Rechnungsdatum + Zahlungsziel, Format: YYYY-MM-DD)\n- Skonto Prozent (falls angegeben, sonst 0)\n- Skonto Tage (falls angegeben, sonst 0)\n\nSCHRITT 5: Positionen (maximal 20)\nFür jeden Artikel:\n- artikel_nummer (falls vorhanden, sonst \"\")\n- beschreibung (wie auf Beleg)\n- internal_name (kleinbuchstaben, ohne Marke, normalisiert)\n- menge als Zahl\n- einheit (Stk, kg, m, m², l, Pack)\n- einzelpreis_brutto als Zahl\n- kategorie (z.B. Elektroinstallation, Sanitär, Werkzeug, Baustoffe)\n\nSCHRITT 6: Projekt-Referenzen\n- Suche nach Projektnummer im Format BL-YYYY-NNN (z.B. BL-2026-014)\n- Suche nach Lieferadresse / Baustellenadresse (Straße + PLZ/Stadt)\n- Suche nach Bestellreferenz oder Auftragsnummer\nGib zurück: project_reference (die BL-Nummer falls gefunden, sonst \"\"), delivery_address (Lieferadresse falls gefunden, sonst \"\")\n\nAUSGABE: Nur JSON, keine Backticks, kein Markdown, keine Erklärung.\n\n{\"lieferant\":{\"name\":\"Musterfirma GmbH\",\"code\":\"MUST\",\"typ\":\"GROSSHANDEL\"},\"expense_category\":\"MATERIAL\",\"rechnung\":{\"nummer\":\"R-2025-001\",\"datum\":\"2025-01-15\",\"summe_netto\":100.00,\"summe_brutto\":119.00,\"mwst_prozent\":19},\"zahlung\":{\"iban\":\"DE89370400440532013000\",\"bic\":\"COBADEFFXXX\",\"zahlungsziel_tage\":14,\"faellig_am\":\"2025-01-29\",\"skonto_prozent\":2,\"skonto_tage\":7},\"positionen\":[{\"artikel_nummer\":\"12345\",\"beschreibung\":\"Beispielartikel\",\"internal_name\":\"beispielartikel\",\"menge\":1,\"einheit\":\"Stk\",\"einzelpreis_brutto\":100.00,\"kategorie\":\"Sonstiges\"}],\"projekt\":{\"project_reference\":\"\",\"delivery_address\":\"\"}}",
          "inputType": "binary",
          "binaryPropertyName": "={{ $('🔧 Prepare Upload').item.json.binary_key }}",
          "options": {
            "maxTokens": 8000
          }
        },
        "id": "3f94be1d-24c5-4438-bc1e-14e43ac0193d",
        "name": "🤖 Claude Vision",
        "type": "@n8n/n8n-nodes-langchain.anthropic",
        "typeVersion": 1,
        "position": [
          1200,
          512
        ],
        "credentials": {
          "anthropicApi": {
            "id": "DSb7Itt2r6kfGiHs",
            "name": "Anthropic account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "// Parse Claude response and merge with upload data\n// V4: Support both attachment path (Claude Vision) and inline path (Claude Text Extract)\n// FIX 3: Extract project_reference and delivery_address\nlet uploadData, claudeResponse;\n\ntry {\n  // Try inline path first\n  uploadData = $('📋 Prepare Text Result').first().json;\n  const claudeNode = $('🤖 Claude Text Extract').first().json;\n  if (claudeNode.content && Array.isArray(claudeNode.content)) {\n    claudeResponse = claudeNode.content[0]?.text;\n  } else {\n    claudeResponse = claudeNode.content || claudeNode.text || JSON.stringify(claudeNode);\n  }\n} catch (e) {\n  // Fall back to attachment path\n  uploadData = $('🔧 Prepare Upload').item.json;\n  const claudeNode = $('🤖 Claude Vision').item.json;\n  if (claudeNode.content && Array.isArray(claudeNode.content)) {\n    claudeResponse = claudeNode.content[0]?.text;\n  } else {\n    claudeResponse = claudeNode.content || claudeNode.text || JSON.stringify(claudeNode);\n  }\n}\n\n// Clean response - remove markdown\nlet cleanJson = claudeResponse;\nif (typeof cleanJson === 'string') {\n  cleanJson = cleanJson.replace(/```json\\s*/gi, '');\n  cleanJson = cleanJson.replace(/```\\s*/g, '');\n  cleanJson = cleanJson.trim();\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleanJson);\n} catch (e) {\n  throw new Error(`JSON Parse Error: ${e.message}\\n\\nRaw:\\n${cleanJson.substring(0, 500)}`);\n}\n\n// V2: Smart net/gross handling - trust Claude when both provided, fallback to calculation\nconst vatPercent = parsed.rechnung?.mwst_prozent || 19;\nconst rawGross = Number(parsed.rechnung?.summe_brutto) || 0;\nconst rawNet = Number(parsed.rechnung?.summe_netto) || 0;\n\nlet grossAmount, netAmount;\n\nif (rawNet > 0 && rawGross > 0) {\n  // Both provided — validate plausibility\n  const expectedGross = Math.round(rawNet * (1 + vatPercent / 100) * 100) / 100;\n  if (Math.abs(expectedGross - rawGross) < 1.0) {\n    grossAmount = rawGross;\n    netAmount = rawNet;\n  } else {\n    // Inconsistent — trust brutto (Endpreis)\n    grossAmount = rawGross;\n    netAmount = Math.round((rawGross / (1 + vatPercent / 100)) * 100) / 100;\n  }\n} else if (rawGross > 0) {\n  grossAmount = rawGross;\n  netAmount = Math.round((rawGross / (1 + vatPercent / 100)) * 100) / 100;\n} else if (rawNet > 0) {\n  netAmount = rawNet;\n  grossAmount = Math.round(rawNet * (1 + vatPercent / 100) * 100) / 100;\n} else {\n  grossAmount = 0;\n  netAmount = 0;\n}\n\n// Type mapping\nconst typeMapping = {\n  'BAUMARKT': 'BAUMARKT',\n  'GROSSHANDEL': 'GROSSHANDEL',\n  'FACHHANDEL': 'FACHHANDEL',\n  'HERSTELLER': 'HERSTELLER',\n  'ONLINE': 'ONLINE',\n  'TANKSTELLE': 'SONSTIGE',\n  'RESTAURANT': 'SONSTIGE',\n  'SOFTWARE': 'SONSTIGE',\n  'SONSTIGE': 'SONSTIGE'\n};\n\n// Escape SQL\nconst escapeSql = (str) => str ? String(str).replace(/'/g, \"''\") : '';\n\n// Supplier code\nlet supplierCode = parsed.lieferant?.code || parsed.lieferant?.name?.substring(0, 4) || 'UNBK';\nsupplierCode = supplierCode.toUpperCase().replace(/[^A-Z]/g, '').substring(0, 4);\nif (supplierCode.length < 2) supplierCode = 'UNBK';\n\n// Payment data with defaults\nconst zahlung = parsed.zahlung || {};\nconst rechnungsDatum = parsed.rechnung?.datum || new Date().toISOString().split('T')[0];\nconst zahlungszielTage = zahlung.zahlungsziel_tage || 14;\n\n// Calculate due date if not provided\nlet faelligAm = zahlung.faellig_am;\nif (!faelligAm) {\n  const d = new Date(rechnungsDatum);\n  d.setDate(d.getDate() + zahlungszielTage);\n  faelligAm = d.toISOString().split('T')[0];\n}\n\n// FIX 3: Project reference extraction\nconst projectReference = parsed.projekt?.project_reference || '';\nconst deliveryAddress = parsed.projekt?.delivery_address || '';\n\nreturn {\n  json: {\n    invoice_id: uploadData.invoice_id,\n    storage_path: uploadData.storage_path || '',\n    original_filename: uploadData.original_filename,\n    binary_key: uploadData.binary_key,\n    extraction_source: uploadData.extraction_source || 'ATTACHMENT',\n    \n    // Superchat metadata\n    superchat_message_id: uploadData.superchat_message_id,\n    superchat_conversation_id: uploadData.superchat_conversation_id,\n    email_from: escapeSql(uploadData.email_from || ''),\n    email_subject: escapeSql(uploadData.email_subject || ''),\n    email_received_at: uploadData.email_received_at,\n    doc_type: uploadData.doc_type,\n    invoice_type: uploadData.invoice_type || 'invoice',\n    \n    // Supplier\n    lieferant_name: parsed.lieferant?.name || 'UNBEKANNT',\n    lieferant_name_escaped: escapeSql(parsed.lieferant?.name || 'UNBEKANNT'),\n    lieferant_code: supplierCode,\n    lieferant_typ: typeMapping[parsed.lieferant?.typ] || 'SONSTIGE',\n    \n    expense_category: parsed.expense_category || 'MATERIAL',\n    \n    // Invoice\n    rechnung_nummer: parsed.rechnung?.nummer || `SC-${uploadData.invoice_id.substring(0, 8)}`,\n    rechnung_datum: rechnungsDatum,\n    summe_brutto: grossAmount,\n    summe_netto: netAmount,\n    mwst_prozent: vatPercent,\n    \n    // Payment\n    payment_iban: zahlung.iban || '',\n    payment_bic: zahlung.bic || '',\n    payment_terms_days: zahlungszielTage,\n    due_date: faelligAm,\n    discount_percent: zahlung.skonto_prozent || 0,\n    discount_days: zahlung.skonto_tage || 0,\n    \n    // Positions\n    positionen: parsed.positionen || [],\n    positionen_count: (parsed.positionen || []).length,\n    \n    // FIX 3: Project reference\n    project_reference: projectReference,\n    delivery_address: deliveryAddress,\n    \n    needs_assignment: ['MATERIAL', 'SUBCONTRACTOR', 'ENTERTAINMENT'].includes(parsed.expense_category)\n  }\n};"
        },
        "id": "fd045ccc-cb44-402f-98bf-9d8bf8a57864",
        "name": "📋 Parse JSON",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1408,
          400
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "-- Step 1: Try to find supplier by alias\nWITH alias_match AS (\n  SELECT s.id, s.supplier_code, s.default_expense_category::text\n  FROM suppliers s\n  JOIN supplier_aliases sa ON sa.supplier_id = s.id\n  WHERE LOWER(sa.alias_name) = LOWER('{{ $json.lieferant_name_escaped }}')\n  LIMIT 1\n),\n-- Step 2: Try to find by short_name or code\nname_match AS (\n  SELECT id, supplier_code, default_expense_category::text\n  FROM suppliers\n  WHERE (\n    LOWER(short_name) ILIKE '%' || LOWER('{{ $json.lieferant_name_escaped }}') || '%'\n    OR LOWER(name) ILIKE '%' || LOWER('{{ $json.lieferant_name_escaped }}') || '%'\n    OR supplier_code = '{{ $json.lieferant_code }}'\n  )\n  AND is_active = true\n  AND NOT EXISTS (SELECT 1 FROM alias_match)\n  LIMIT 1\n),\n-- Step 3: Create new if not found\nnew_supplier AS (\n  INSERT INTO suppliers (supplier_code, name, short_name, supplier_type, default_expense_category, is_active)\n  SELECT \n    '{{ $json.lieferant_code }}',\n    '{{ $json.lieferant_name_escaped }}',\n    '{{ $json.lieferant_name_escaped }}',\n    '{{ $json.lieferant_typ }}'::supplier_type,\n    '{{ $json.expense_category }}'::expense_category,\n    true\n  WHERE NOT EXISTS (SELECT 1 FROM alias_match)\n    AND NOT EXISTS (SELECT 1 FROM name_match)\n  ON CONFLICT (supplier_code) DO UPDATE SET updated_at = now()\n  RETURNING id, supplier_code, default_expense_category::text\n)\n-- Return the matched or created supplier\nSELECT \n  COALESCE(am.id, nm.id, ns.id)::text AS supplier_id,\n  COALESCE(am.supplier_code, nm.supplier_code, ns.supplier_code) AS supplier_code,\n  COALESCE(am.default_expense_category, nm.default_expense_category, ns.default_expense_category) AS default_expense_category,\n  CASE \n    WHEN am.id IS NOT NULL THEN 'alias_match'\n    WHEN nm.id IS NOT NULL THEN 'name_match'\n    ELSE 'created'\n  END AS match_type\nFROM (SELECT 1) AS dummy\nLEFT JOIN alias_match am ON true\nLEFT JOIN name_match nm ON true\nLEFT JOIN new_supplier ns ON true;",
          "options": {}
        },
        "id": "2d4f6d72-0e92-4db1-8b97-60f115c132e9",
        "name": "🏢 Match Supplier",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1616,
          400
        ],
        "credentials": {
          "postgres": {
            "id": "qXZ2ZjK31ZDrPoDG",
            "name": "Supabase Postgres"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT * FROM fn_match_project_by_reference(\n  NULLIF('{{ $('📋 Parse JSON').first().json.project_reference }}', ''),\n  NULLIF('{{ $('📋 Parse JSON').first().json.delivery_address }}', '')\n);",
          "options": {}
        },
        "id": "1c16008f-99e2-415a-9bc9-2e8b512d8232",
        "name": "🔍 Match Project",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1824,
          400
        ],
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "qXZ2ZjK31ZDrPoDG",
            "name": "Supabase Postgres"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO purchase_invoices (\n  id,\n  invoice_number,\n  supplier_id,\n  invoice_date,\n  subtotal_net,\n  vat_percent,\n  expense_category,\n  status,\n  pdf_storage_path,\n  project_id,\n  notes,\n  payment_iban,\n  payment_bic,\n  payment_terms_days,\n  due_date,\n  discount_percent,\n  discount_days,\n  source_type,\n  email_from,\n  email_subject,\n  email_received_at,\n  email_message_id,\n  invoice_type,\n  project_reference,\n  delivery_address\n)\nVALUES (\n  '{{ $('📋 Parse JSON').first().json.invoice_id }}'::uuid,\n  '{{ $('📋 Parse JSON').first().json.rechnung_nummer }}',\n  '{{ $('🏢 Match Supplier').first().json.supplier_id }}'::uuid,\n  '{{ $('📋 Parse JSON').first().json.rechnung_datum }}'::date,\n  {{ $('📋 Parse JSON').first().json.summe_netto }},\n  {{ $('📋 Parse JSON').first().json.mwst_prozent }},\n  COALESCE(NULLIF('{{ $('🏢 Match Supplier').first().json.default_expense_category }}', ''), '{{ $('📋 Parse JSON').first().json.expense_category }}')::expense_category,\n  'DRAFT'::purchase_invoice_status,\n  '{{ $('📋 Parse JSON').first().json.storage_path }}',\n  NULLIF(NULLIF('{{ $('🔍 Match Project').first().json.project_id }}', ''), 'undefined')::uuid,\n  'Automatisch erfasst via Superchat ({{ $('📋 Parse JSON').first().json.extraction_source }}): {{ $('📋 Parse JSON').first().json.email_subject }}',\n  NULLIF('{{ $('📋 Parse JSON').first().json.payment_iban }}', ''),\n  NULLIF('{{ $('📋 Parse JSON').first().json.payment_bic }}', ''),\n  {{ $('📋 Parse JSON').first().json.payment_terms_days }},\n  '{{ $('📋 Parse JSON').first().json.due_date }}'::date,\n  {{ $('📋 Parse JSON').first().json.discount_percent }},\n  {{ $('📋 Parse JSON').first().json.discount_days }},\n  'SUPERCHAT'::invoice_source_type,\n  NULLIF('{{ $('📋 Parse JSON').first().json.email_from }}', ''),\n  NULLIF('{{ $('📋 Parse JSON').first().json.email_subject }}', ''),\n  '{{ $('📋 Parse JSON').first().json.email_received_at }}'::timestamptz,\n  '{{ $('📋 Parse JSON').first().json.superchat_message_id }}',\n  '{{ $('📋 Parse JSON').first().json.invoice_type }}',\n  NULLIF('{{ $('📋 Parse JSON').first().json.project_reference }}', ''),\n  NULLIF('{{ $('📋 Parse JSON').first().json.delivery_address }}', '')\n)\nON CONFLICT (invoice_number, supplier_id) DO UPDATE SET\n  updated_at = now()\nRETURNING id::text, invoice_number;",
          "options": {}
        },
        "id": "2a4e4349-6cff-4946-acc4-999d42e2176b",
        "name": "📄 Create Invoice",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2032,
          400
        ],
        "credentials": {
          "postgres": {
            "id": "qXZ2ZjK31ZDrPoDG",
            "name": "Supabase Postgres"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "has-items",
                "operator": {
                  "type": "number",
                  "operation": "gt"
                },
                "leftValue": "={{ $('📋 Parse JSON').first().json.positionen_count }}",
                "rightValue": 0
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "0f500d6c-701b-48a6-a17e-3f7945bc5c6f",
        "name": "❓ Has Positions?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2240,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "// Split positions + generate SKU for product pool\nconst positions = $('📋 Parse JSON').first().json.positionen || [];\nconst invoiceId = $('📄 Create Invoice').first().json.id;\nconst supplierId = $('🏢 Match Supplier').first().json.supplier_id;\nconst invoiceDate = $('📋 Parse JSON').first().json.rechnung_datum;\n\n// Hash für Artikel ohne SKU\nconst simpleHash = (str) => {\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    const char = str.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return 'GEN-' + Math.abs(hash).toString(16).toUpperCase().substring(0, 8);\n};\n\nreturn positions.map((pos, idx) => {\n  const description = (pos.beschreibung || 'Unbekannt').replace(/'/g, \"''\");\n  const articleNumber = pos.artikel_nummer || '';\n  const sku = articleNumber || simpleHash(description + supplierId);\n  \n  return {\n    json: {\n      invoice_id: invoiceId,\n      supplier_id: supplierId,\n      position_number: idx + 1,\n      article_number: articleNumber,\n      description: description,\n      quantity: pos.menge || 1,\n      unit: pos.einheit || 'Stk',\n      unit_price_net: Math.round((Number(pos.einzelpreis_brutto) || 0) / 1.19 * 100) / 100,\n      product_sku: sku,\n      product_category: pos.kategorie || null,\n      invoice_date: invoiceDate\n    }\n  };\n});"
        },
        "id": "809580ae-a6ff-4ad0-b872-04f7168b6368",
        "name": "📦 Split Positions",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2448,
          288
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO products (\n  name,\n  supplier_id,\n  sku,\n  last_price_net_eur,\n  last_price_date,\n  unit,\n  category,\n  source,\n  source_reference\n)\nVALUES (\n  '{{ $json.description }}',\n  '{{ $json.supplier_id }}'::uuid,\n  '{{ $json.product_sku }}',\n  {{ $json.unit_price_net }},\n  '{{ $json.invoice_date }}'::date,\n  '{{ $json.unit }}',\n  {{ $json.product_category ? \"'\" + $json.product_category + \"'\" : 'NULL' }},\n  'invoice_import',\n  '{{ $json.invoice_id }}'\n)\nON CONFLICT (supplier_id, sku) \nDO UPDATE SET\n  last_price_net_eur = EXCLUDED.last_price_net_eur,\n  last_price_date = EXCLUDED.last_price_date,\n  updated_at = now()\nRETURNING id::text;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          2656,
          288
        ],
        "id": "f6d8f35d-6f9e-4b6b-a041-159b57f816ee",
        "name": "📦 Upsert Product",
        "credentials": {
          "postgres": {
            "id": "qXZ2ZjK31ZDrPoDG",
            "name": "Supabase Postgres"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO purchase_invoice_items (\n  invoice_id,\n  position_number,\n  raw_article_number,\n  raw_description,\n  quantity,\n  unit,\n  unit_price_net\n)\nVALUES (\n  '{{ $('📦 Split Positions').item.json.invoice_id }}'::uuid,\n  {{ $('📦 Split Positions').item.json.position_number }},\n  '{{ $('📦 Split Positions').item.json.article_number }}',\n  '{{ $('📦 Split Positions').item.json.description }}',\n  {{ $('📦 Split Positions').item.json.quantity }},\n  '{{ $('📦 Split Positions').item.json.unit }}',\n  {{ $('📦 Split Positions').item.json.unit_price_net }}\n)\nON CONFLICT (invoice_id, position_number) DO NOTHING\nRETURNING id::text;",
          "options": {}
        },
        "id": "5a31f6da-4702-4389-a03e-7d3868fdcc1f",
        "name": "📦 Process Item",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2864,
          288
        ],
        "credentials": {
          "postgres": {
            "id": "qXZ2ZjK31ZDrPoDG",
            "name": "Supabase Postgres"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// V2: Build MX_02 Request using invoice_date from parsed receipt\nconst invoiceDate = $('📋 Parse JSON').first().json.rechnung_datum;\nconst supplierCode = $('🏢 Match Supplier').first().json.supplier_code;\nconst originalFilename = $('📋 Parse JSON').first().json.original_filename;\n\n// Parse date (Format: \"2026-01-02\" or \"02.01.2026\")\nlet date;\nif (invoiceDate && invoiceDate.includes('-')) {\n  date = new Date(invoiceDate);\n} else if (invoiceDate && invoiceDate.includes('.')) {\n  const [day, month, year] = invoiceDate.split('.');\n  date = new Date(`${year}-${month}-${day}`);\n} else {\n  // Fallback: today\n  date = new Date();\n}\n\nconst year = date.getFullYear().toString();\nconst monthNames = [\n  '01-Januar', '02-Februar', '03-März', '04-April',\n  '05-Mai', '06-Juni', '07-Juli', '08-August',\n  '09-September', '10-Oktober', '11-November', '12-Dezember'\n];\nconst month = monthNames[date.getMonth()];\n\n// Build filename for Drive: YYYY-MM-DD_SUPPLIER_originalname\nconst driveFilename = `${invoiceDate}_${supplierCode}_${originalFilename}`;\n\nreturn {\n  json: {\n    folder_type: 'buchhaltung_month',\n    year: year,\n    month: month,\n    full_path: `Buchhaltung/VERARBEITET/${year}/${month}`,\n    drive_filename: driveFilename\n  }\n};"
        },
        "id": "cfbd36f0-0a25-4d27-a494-065e123bbac8",
        "name": "📧 Build MX_02 Request",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3072,
          400
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8n.srv1045913.hstgr.cloud/webhook/mx-02-folder-manager",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"folder_type\": \"{{ $json.folder_type }}\",\n  \"year\": \"{{ $json.year }}\",\n  \"month\": \"{{ $json.month }}\"\n}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "abf1c2f8-4b51-4142-84f7-7770143ffe75",
        "name": "📥 Get Folder via MX_02",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3280,
          400
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO events (\n  project_id,\n  event_type,\n  payload,\n  source_system,\n  source_flow\n)\nVALUES (\n  NULLIF(NULLIF('{{ $('🔍 Match Project').first().json.project_id }}', ''), 'undefined')::uuid,\n  'PURCHASE_INVOICE_CREATED',\n  jsonb_build_object(\n    'invoice_id', '{{ $('📄 Create Invoice').first().json.id }}',\n    'invoice_number', '{{ $('📄 Create Invoice').first().json.invoice_number }}',\n    'supplier_code', '{{ $('🏢 Match Supplier').first().json.supplier_code }}',\n    'supplier_match_type', '{{ $('🏢 Match Supplier').first().json.match_type }}',\n    'total_gross', {{ $('📋 Parse JSON').first().json.summe_brutto }},\n    'expense_category', COALESCE(NULLIF('{{ $('🏢 Match Supplier').first().json.default_expense_category }}', ''), '{{ $('📋 Parse JSON').first().json.expense_category }}'),\n    'positions_count', {{ $('📋 Parse JSON').first().json.positionen_count }},\n    'needs_assignment', {{ $('📋 Parse JSON').first().json.needs_assignment }},\n    'original_filename', '{{ $('📋 Parse JSON').first().json.original_filename }}',\n    'extraction_source', '{{ $('📋 Parse JSON').first().json.extraction_source }}',\n    'source', 'SUPERCHAT',\n    'email_from', '{{ $('📋 Parse JSON').first().json.email_from }}',\n    'email_subject', '{{ $('📋 Parse JSON').first().json.email_subject }}',\n    'doc_type', '{{ $('📋 Parse JSON').first().json.doc_type }}',\n    'invoice_type', '{{ $('📋 Parse JSON').first().json.invoice_type }}',\n    'project_reference', '{{ $('📋 Parse JSON').first().json.project_reference }}',\n    'delivery_address', '{{ $('📋 Parse JSON').first().json.delivery_address }}'\n  ),\n  'n8n',\n  'M6_01_Invoice_Processor_v2'\n)\nRETURNING id::text;",
          "options": {}
        },
        "id": "213f947a-ab13-4f83-a3da-10eb36fe5368",
        "name": "📢 Create Event",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3488,
          400
        ],
        "executeOnce": true,
        "credentials": {
          "postgres": {
            "id": "qXZ2ZjK31ZDrPoDG",
            "name": "Supabase Postgres"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// FIX 4: Prepare data for Lexware email forwarding\nconst parsed = $('📋 Parse JSON').first().json;\nconst invoiceNumber = parsed.rechnung_nummer || 'UNKNOWN';\nconst supplierName = parsed.lieferant_name || 'Unbekannt';\nconst storagePath = parsed.storage_path || '';\n\nreturn {\n  json: {\n    to: 'bauloewen@inbox.lexware.email',\n    subject: `${invoiceNumber} - ${supplierName}`,\n    body: 'Automatisch weitergeleitet von BauGenius\\n\\nRechnungsnummer: ' + invoiceNumber + '\\nLieferant: ' + supplierName + '\\nBetrag: ' + (parsed.summe_brutto || 0).toFixed(2) + ' EUR',\n    storage_path: storagePath,\n    has_pdf: !!storagePath,\n    invoice_id: parsed.invoice_id,\n    download_url: storagePath ? `https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/public/${storagePath}` : ''\n  }\n};"
        },
        "id": "a6c7356f-91e6-412c-97db-c73526540c33",
        "name": "📧 Prepare Lexware Forward",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3696,
          400
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "=https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/{{ $json.storage_path }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "id": "816a9b6f-dd55-4f73-ba71-a7b875706ff9",
        "name": "📧 Download PDF for Lexware",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3904,
          400
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "SCp3PODkf5mXluYS",
            "name": "Webhook Auth"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "sendTo": "={{ $('📧 Prepare Lexware Forward').first().json.to }}",
          "subject": "={{ $('📧 Prepare Lexware Forward').first().json.subject }}",
          "message": "={{ $('📧 Prepare Lexware Forward').first().json.body }}",
          "options": {
            "attachmentsUi": {
              "attachmentsBinary": [
                {}
              ]
            }
          }
        },
        "id": "fa8e1052-89bc-4738-b7c6-791d44055832",
        "name": "📧 Forward to Lexware",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          4112,
          400
        ],
        "webhookId": "fcccca73-725b-4fb4-8ec8-a08941a604eb",
        "credentials": {
          "gmailOAuth2": {
            "id": "3Towj30wVk4UI8Qp",
            "name": "Gmail account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE purchase_invoices SET lexware_forwarded_at = now() WHERE id = '{{ $('📄 Create Invoice').first().json.id }}'::uuid;",
          "options": {}
        },
        "id": "664215ab-5367-4ea6-8f60-eaa00623ce27",
        "name": "📧 Mark Forwarded",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          4320,
          400
        ],
        "credentials": {
          "postgres": {
            "id": "qXZ2ZjK31ZDrPoDG",
            "name": "Supabase Postgres"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "chatId": "6088921678",
          "text": "=📧 *Rechnung aus Superchat erfasst*\n\n🏢 Lieferant: {{ $('🏢 Match Supplier').first().json.supplier_code }} ({{ $('🏢 Match Supplier').first().json.match_type }})\n💰 Betrag: {{ $('📋 Parse JSON').first().json.summe_brutto.toFixed(2).replace('.', ',') }}€\n📁 Kategorie: {{ $('🏢 Match Supplier').first().json.default_expense_category || $('📋 Parse JSON').first().json.expense_category }}\n📦 Positionen: {{ $('📋 Parse JSON').first().json.positionen_count }}\n📑 Typ: {{ $('📋 Parse JSON').first().json.doc_type }} ({{ $('📋 Parse JSON').first().json.invoice_type }})\n📎 Quelle: {{ $('📋 Parse JSON').first().json.extraction_source }}\n🏗️ Projekt: {{ $('🔍 Match Project').first().json.project_id ? $('🔍 Match Project').first().json.project_id : 'Nicht zugeordnet' }}\n📨 Lexware: {{ $('📧 Mark Forwarded').first().json ? '✅ Weitergeleitet' : '⚠️ Nicht weitergeleitet' }}\n\n📨 Von: {{ $('📋 Parse JSON').first().json.email_from.substring(0, 50) }}\n📋 Betreff: {{ $('📋 Parse JSON').first().json.email_subject.substring(0, 50) }}\n\n{{ $('📋 Parse JSON').first().json.needs_assignment ? '⚠️ Projekt-Zuordnung erforderlich' : '✅ Gemeinkosten (keine Zuordnung nötig)' }}",
          "additionalFields": {
            "parse_mode": "Markdown"
          }
        },
        "id": "c0cb3389-e25f-4c9d-a865-bbc397c20bde",
        "name": "📱 Telegram Notify",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          4528,
          400
        ],
        "webhookId": "m601-telegram",
        "executeOnce": true,
        "credentials": {
          "telegramApi": {
            "id": "HV1wc491unUQKfmd",
            "name": "BabyAgiBot"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"success\": true,\n  \"invoice_id\": \"{{ $('📄 Create Invoice').first().json.id }}\",\n  \"invoice_number\": \"{{ $('📄 Create Invoice').first().json.invoice_number }}\",\n  \"supplier_code\": \"{{ $('🏢 Match Supplier').first().json.supplier_code }}\",\n  \"extraction_source\": \"{{ $('📋 Parse JSON').first().json.extraction_source }}\",\n  \"invoice_type\": \"{{ $('📋 Parse JSON').first().json.invoice_type }}\",\n  \"project_id\": \"{{ $('🔍 Match Project').first().json.project_id || '' }}\",\n  \"lexware_forwarded\": true\n}",
          "options": {}
        },
        "id": "ce2b85ce-1ede-4b03-b84a-f85ccdd416b8",
        "name": "✅ Respond Success",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          4736,
          400
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"success\": true,\n  \"status\": \"duplicate\",\n  \"message\": \"Already processed: {{ $('🏷️ Detect Credit Note').first().json.superchat_message_id }}\"\n}",
          "options": {}
        },
        "id": "b45f2f8c-03fa-4531-aabc-ac337053e921",
        "name": "⏭️ Respond Duplicate",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          -624,
          624
        ]
      },
      {
        "parameters": {
          "jsCode": "// Get parsed data from previous node\nconst parsed = $input.first().json;\n\n// Check if we have binary data (attachment path only)\nlet binary = {};\ntry {\n  const downloadNode = $('📎 Download Binary').first();\n  binary = downloadNode.binary || {};\n} catch (e) {\n  // Inline path - no binary available, that's fine\n}\n\n// Pass everything through\nconst result = { json: { ...parsed } };\nif (Object.keys(binary).length > 0) {\n  result.binary = binary;\n}\nreturn [result];"
        },
        "id": "60fbed0f-99ac-4e1f-b05b-750360f59ea2",
        "name": "🔧 Prep Validator",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1408,
          592
        ]
      },
      {
        "parameters": {
          "resource": "document",
          "modelId": {
            "__rl": true,
            "value": "models/gemini-3-flash-preview",
            "mode": "list",
            "cachedResultName": "models/gemini-3-flash-preview"
          },
          "text": "Du bist ein Daten-Validator für Rechnungen.\n\nAKTUELLES DATUM: {{ $now.format('yyyy-MM-dd') }}\n\nEXTRAHIERTE DATEN (von anderer AI):\n{{ JSON.stringify({\n  rechnung_datum: $json.rechnung_datum,\n  rechnung_nummer: $json.rechnung_nummer,\n  lieferant_name: $json.lieferant_name,\n  summe_brutto: $json.summe_brutto,\n  summe_netto: $json.summe_netto,\n  mwst_prozent: $json.mwst_prozent,\n  positionen_count: $json.positionen_count,\n  extraction_source: $json.extraction_source\n}) }}\n\nPRÜFE die extrahierten Daten:\n\n1. DATUM: Jahr muss 2020-2030 sein. Bei \"24\" oder \"26\" → 2024/2026, NICHT 2014\n2. BETRÄGE: brutto >= netto. Bei mwst_prozent > 0: brutto ≈ netto × (1 + mwst/100) (±2€). Bei mwst_prozent = 0: brutto = netto\n3. LIEFERANT + RECHNUNGSNUMMER: Plausibel?\n4. Bei extraction_source EMAIL_BODY: Beträge und Währung prüfen (USD vs EUR)\n\nAUSGABE NUR JSON:\n{\"valid\":true,\"corrections\":{},\"confidence\":0.95,\"issues\":[]}\n\nBei Korrekturen:\n{\"valid\":false,\"corrections\":{\"rechnung_datum\":\"2024-01-26\"},\"confidence\":0.85,\"issues\":[\"Jahr korrigiert: 2014→2024\"]}",
          "options": {}
        },
        "id": "874a314d-ff58-4309-a09c-4df9cc6e72c7",
        "name": "🔍 Gemini Validator",
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          1616,
          592
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "rqgijFs7YZOdtthC",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Get original parsed data\nconst parsed = $('📋 Parse JSON').first().json;\n\n// Get Gemini response\nconst geminiResponse = $input.first().json;\n\nlet result = { ...parsed };\n\n// Parse Gemini response\nlet validatorData;\ntry {\n  const text = geminiResponse.content?.parts?.[0]?.text || \n               geminiResponse.text || \n               JSON.stringify(geminiResponse);\n  const cleanJson = text.replace(/```json\\s*/gi, '').replace(/```/g, '').trim();\n  validatorData = JSON.parse(cleanJson);\n} catch (e) {\n  return [{ \n    json: { \n      ...result, \n      _validation_skipped: true,\n      _validation_error: e.message \n    }\n  }];\n}\n\n// Apply corrections\nif (validatorData.corrections) {\n  for (const [key, value] of Object.entries(validatorData.corrections)) {\n    result[key] = value;\n  }\n}\n\n// Recalculate due_date if datum corrected\nif (validatorData.corrections?.rechnung_datum) {\n  const d = new Date(validatorData.corrections.rechnung_datum);\n  d.setDate(d.getDate() + (result.payment_terms_days || 14));\n  result.due_date = d.toISOString().split('T')[0];\n}\n\n// Recalculate net/gross if corrected\nif (validatorData.corrections?.summe_brutto || validatorData.corrections?.summe_netto) {\n  const vat = result.mwst_prozent || 19;\n  if (validatorData.corrections.summe_brutto && !validatorData.corrections.summe_netto) {\n    result.summe_netto = Math.round((result.summe_brutto / (1 + vat / 100)) * 100) / 100;\n  } else if (validatorData.corrections.summe_netto && !validatorData.corrections.summe_brutto) {\n    result.summe_brutto = Math.round(result.summe_netto * (1 + vat / 100) * 100) / 100;\n  }\n}\n\n// Add validation metadata\nresult._validated = validatorData.valid;\nresult._confidence = validatorData.confidence;\nresult._issues = validatorData.issues || [];\n\nreturn [{ json: result }];"
        },
        "id": "17ab99ba-1172-43aa-8c7a-c9f9db40a10c",
        "name": "🔧 Merge Corrections",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1824,
          592
        ]
      },
      {
        "parameters": {
          "resource": "document",
          "modelId": {
            "__rl": true,
            "value": "models/gemini-3-flash-preview",
            "mode": "list",
            "cachedResultName": "models/gemini-3-flash-preview"
          },
          "text": "=Der folgende Text stammt aus einer Email, die als Rechnung klassifiziert wurde. Extrahiere die Rechnungsinformationen aus dem Email-Text.\n\nEMAIL VON: {{ $('📥 Extract Event Data').first().json.email_from }}\nBETREFF: {{ $('📥 Extract Event Data').first().json.email_subject }}\n\nEMAIL-INHALT:\n{{ $('🔍 Check Email Body').first().json.body_preview }}\n\nExtrahiere ALLE Informationen als JSON:\n\nSCHRITT 1: Lieferant identifizieren (name, code max 4 Zeichen, typ: BAUMARKT/GROSSHANDEL/FACHHANDEL/TANKSTELLE/RESTAURANT/SOFTWARE/SONSTIGE)\nSCHRITT 2: Kostenkategorie (MATERIAL/SUBCONTRACTOR/VEHICLE_FUEL/VEHICLE_RENTAL/VEHICLE_REPAIR/ENTERTAINMENT/SOFTWARE/OFFICE/DISPOSAL/OTHER)\nSCHRITT 3: Rechnungsdaten (nummer, datum YYYY-MM-DD, summe_netto, summe_brutto, mwst_prozent)\nSCHRITT 4: Zahlungsinformationen (iban, bic, zahlungsziel_tage, faellig_am, skonto_prozent, skonto_tage)\nSCHRITT 5: Positionen (artikel_nummer, beschreibung, internal_name, menge, einheit, einzelpreis_brutto, kategorie)\nSCHRITT 6: Projekt-Referenzen\n- Suche nach Projektnummer im Format BL-YYYY-NNN (z.B. BL-2026-014)\n- Suche nach Lieferadresse / Baustellenadresse (Straße + PLZ/Stadt)\n- Suche nach Bestellreferenz oder Auftragsnummer\nGib zurück: project_reference (die BL-Nummer falls gefunden, sonst \"\"), delivery_address (Lieferadresse falls gefunden, sonst \"\")\n\nWICHTIG: Bei ausländischen Anbietern ohne MwSt: summe_brutto = summe_netto, mwst_prozent = 0\n\nAUSGABE: Nur JSON, keine Backticks.\n{\"lieferant\":{\"name\":\"\",\"code\":\"\",\"typ\":\"\"},\"expense_category\":\"\",\"rechnung\":{\"nummer\":\"\",\"datum\":\"\",\"summe_netto\":0,\"summe_brutto\":0,\"mwst_prozent\":0},\"zahlung\":{\"iban\":\"\",\"bic\":\"\",\"zahlungsziel_tage\":14,\"faellig_am\":\"\",\"skonto_prozent\":0,\"skonto_tage\":0},\"positionen\":[],\"projekt\":{\"project_reference\":\"\",\"delivery_address\":\"\"}}",
          "options": {}
        },
        "id": "15a46a6f-e6ad-4456-a531-cee0cda95bff",
        "name": "🔄 Gemini Text Fallback",
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          0,
          96
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "rqgijFs7YZOdtthC",
            "name": "Google Gemini(PaLM) Api account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "resource": "document",
          "modelId": {
            "__rl": true,
            "value": "models/gemini-3-flash-preview",
            "mode": "list",
            "cachedResultName": "models/gemini-3-flash-preview"
          },
          "text": "Analysiere diesen Beleg/Rechnung und extrahiere alle Informationen.\n\nSCHRITT 1: Lieferant identifizieren (name, code max 4 Zeichen Großbuchstaben, typ: BAUMARKT/GROSSHANDEL/FACHHANDEL/TANKSTELLE/RESTAURANT/SOFTWARE/SONSTIGE)\nSCHRITT 2: Kostenkategorie (MATERIAL/SUBCONTRACTOR/VEHICLE_FUEL/VEHICLE_RENTAL/VEHICLE_REPAIR/ENTERTAINMENT/SOFTWARE/OFFICE/DISPOSAL/OTHER)\nSCHRITT 3: Rechnungsdaten (nummer oder UNKNOWN, datum YYYY-MM-DD, summe_netto, summe_brutto, mwst_prozent)\nWICHTIG: summe_brutto = ENDPREIS, summe_netto = VOR MwSt. summe_brutto = summe_netto × (1 + mwst_prozent/100)\nSCHRITT 4: Zahlungsinformationen (iban, bic, zahlungsziel_tage default 14, faellig_am, skonto_prozent, skonto_tage)\nSCHRITT 5: Positionen max 20 (artikel_nummer, beschreibung, internal_name, menge, einheit, einzelpreis_brutto, kategorie)\nSCHRITT 6: Projekt-Referenzen\n- Suche nach Projektnummer im Format BL-YYYY-NNN (z.B. BL-2026-014)\n- Suche nach Lieferadresse / Baustellenadresse (Straße + PLZ/Stadt)\n- Suche nach Bestellreferenz oder Auftragsnummer\nGib zurück: project_reference (die BL-Nummer falls gefunden, sonst \"\"), delivery_address (Lieferadresse falls gefunden, sonst \"\")\n\nAUSGABE: Nur JSON, keine Backticks, kein Markdown.\n{\"lieferant\":{\"name\":\"\",\"code\":\"\",\"typ\":\"\"},\"expense_category\":\"\",\"rechnung\":{\"nummer\":\"\",\"datum\":\"\",\"summe_netto\":0,\"summe_brutto\":0,\"mwst_prozent\":0},\"zahlung\":{\"iban\":\"\",\"bic\":\"\",\"zahlungsziel_tage\":14,\"faellig_am\":\"\",\"skonto_prozent\":0,\"skonto_tage\":0},\"positionen\":[],\"projekt\":{\"project_reference\":\"\",\"delivery_address\":\"\"}}",
          "inputType": "binary",
          "binaryPropertyName": "={{ $('🔧 Prepare Upload').item.json.binary_key }}",
          "options": {}
        },
        "id": "6069da97-c727-4b2e-85e2-03684ec96c33",
        "name": "🔄 Gemini Vision Fallback",
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          1200,
          272
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "rqgijFs7YZOdtthC",
            "name": "Google Gemini(PaLM) Api account"
          }
        },
        "onError": "continueErrorOutput"
      }
    ],
    "connections": {
      "🔔 Webhook Trigger": {
        "main": [
          [
            {
              "node": "📥 Extract Event Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📥 Extract Event Data": {
        "main": [
          [
            {
              "node": "🏷️ Detect Credit Note",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🏷️ Detect Credit Note": {
        "main": [
          [
            {
              "node": "🔍 Idempotency Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🔍 Idempotency Check": {
        "main": [
          [
            {
              "node": "❓ New Invoice?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "❓ New Invoice?": {
        "main": [
          [
            {
              "node": "🔍 Check Email Body",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "⏭️ Respond Duplicate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🔍 Check Email Body": {
        "main": [
          [
            {
              "node": "❓ Inline Invoice?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "❓ Inline Invoice?": {
        "main": [
          [
            {
              "node": "🤖 Claude Text Extract",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "❓ Has Files?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🤖 Claude Text Extract": {
        "main": [
          [
            {
              "node": "📋 Prepare Text Result",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "🔄 Gemini Text Fallback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🔄 Gemini Text Fallback": {
        "main": [
          [
            {
              "node": "📋 Prepare Text Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📋 Prepare Text Result": {
        "main": [
          [
            {
              "node": "📋 Parse JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "❓ Has Files?": {
        "main": [
          [
            {
              "node": "🔄 Split File IDs",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "⚠️ No Invoice Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🔄 Split File IDs": {
        "main": [
          [
            {
              "node": "📎 Get File Info",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📎 Get File Info": {
        "main": [
          [
            {
              "node": "📎 Extract File URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📎 Extract File URL": {
        "main": [
          [
            {
              "node": "📎 Download Binary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📎 Download Binary": {
        "main": [
          [
            {
              "node": "🔧 Prepare Upload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🔧 Prepare Upload": {
        "main": [
          [
            {
              "node": "📤 Upload to Storage",
              "type": "main",
              "index": 0
            },
            {
              "node": "🤖 Claude Vision",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🤖 Claude Vision": {
        "main": [
          [
            {
              "node": "📋 Parse JSON",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "🔄 Gemini Vision Fallback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🔄 Gemini Vision Fallback": {
        "main": [
          [
            {
              "node": "📋 Parse JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📋 Parse JSON": {
        "main": [
          [
            {
              "node": "🔧 Prep Validator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🔧 Prep Validator": {
        "main": [
          [
            {
              "node": "🔍 Gemini Validator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🔍 Gemini Validator": {
        "main": [
          [
            {
              "node": "🔧 Merge Corrections",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🔧 Merge Corrections": {
        "main": [
          [
            {
              "node": "🏢 Match Supplier",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🏢 Match Supplier": {
        "main": [
          [
            {
              "node": "🔍 Match Project",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🔍 Match Project": {
        "main": [
          [
            {
              "node": "📄 Create Invoice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📄 Create Invoice": {
        "main": [
          [
            {
              "node": "❓ Has Positions?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "❓ Has Positions?": {
        "main": [
          [
            {
              "node": "📦 Split Positions",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "📧 Build MX_02 Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📦 Split Positions": {
        "main": [
          [
            {
              "node": "📦 Upsert Product",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📦 Upsert Product": {
        "main": [
          [
            {
              "node": "📦 Process Item",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📦 Process Item": {
        "main": [
          [
            {
              "node": "📧 Build MX_02 Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📧 Build MX_02 Request": {
        "main": [
          [
            {
              "node": "📥 Get Folder via MX_02",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📥 Get Folder via MX_02": {
        "main": [
          [
            {
              "node": "📢 Create Event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📢 Create Event": {
        "main": [
          [
            {
              "node": "📧 Prepare Lexware Forward",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📧 Prepare Lexware Forward": {
        "main": [
          [
            {
              "node": "📧 Download PDF for Lexware",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📧 Download PDF for Lexware": {
        "main": [
          [
            {
              "node": "📧 Forward to Lexware",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📧 Forward to Lexware": {
        "main": [
          [
            {
              "node": "📧 Mark Forwarded",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📧 Mark Forwarded": {
        "main": [
          [
            {
              "node": "📱 Telegram Notify",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📱 Telegram Notify": {
        "main": [
          [
            {
              "node": "✅ Respond Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dennis Özdemir",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-23T14:57:22.238Z",
        "id": 1028,
        "workflowId": "gV76hOPVjNXPqZdT",
        "versionId": "4fc203a7-b6f9-4c76-b23a-23e8efb48ba4",
        "event": "activated",
        "userId": "f290b8bc-a990-495d-aedc-d1ee5abfc443"
      },
      {
        "createdAt": "2026-03-23T14:57:22.221Z",
        "id": 1027,
        "workflowId": "gV76hOPVjNXPqZdT",
        "versionId": "4fc203a7-b6f9-4c76-b23a-23e8efb48ba4",
        "event": "deactivated",
        "userId": "f290b8bc-a990-495d-aedc-d1ee5abfc443"
      }
    ]
  }
}