n8n-workflows/M6_03_Lexware_Pull_Sales.json
{"updatedAt":"2026-02-27T23:25:32.387Z","createdAt":"2026-02-18T13:29:55.080Z","id":"AjRF0GnZVaLeckOu","name":"M6_03_Lexware_Pull_Sales","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"689033ca-e89f-4d70-a111-73f924be654b","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1328,128]},{"parameters":{"operation":"executeQuery","query":"SELECT COALESCE(\n    to_char(MAX(lexware_last_synced_at) AT TIME ZONE 'Europe/Berlin',\n      'YYYY-MM-DD'),\n    '2025-01-01'\n  ) as last_sync\n  FROM sales_invoices\n  WHERE source = 'lexware';","options":{}},"id":"2680fbda-a645-4db1-9ecf-7f1f686676fc","name":"Get Last Sync Time","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1104,128],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"url":"https://api.lexware.io/v1/voucherlist","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"voucherType","value":"invoice,creditnote,downpaymentinvoice"},{"name":"voucherStatus","value":"open,paid,paidoff,voided"},{"name":"updatedDateFrom","value":"={{ $('Get Last Sync Time').item.json.last_sync }}"},{"name":"page","value":"0"},{"name":"size","value":"250"},{"name":"sort","value":"updatedDate,ASC"}]},"options":{}},"id":"747cb4c4-3578-4449-b349-93ad899531c0","name":"Fetch Voucherlist Main","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-880,128],"credentials":{"httpHeaderAuth":{"id":"2skORel5vPmpnHQi","name":"Lexware API"}}},{"parameters":{"url":"https://api.lexware.io/v1/voucherlist","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"voucherType","value":"invoice"},{"name":"voucherStatus","value":"overdue"},{"name":"page","value":"0"},{"name":"size","value":"250"},{"name":"sort","value":"updatedDate,ASC"}]},"options":{}},"id":"da7935d8-87f9-48a2-971e-fc6507e75c54","name":"Fetch Voucherlist Overdue","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-656,128],"credentials":{"httpHeaderAuth":{"id":"2skORel5vPmpnHQi","name":"Lexware API"}}},{"parameters":{"jsCode":"// Merge main + overdue voucherlists, deduplicate, prepare detail URLs\nconst mainData = $('Fetch Voucherlist Main').first().json;\nconst overdueData = $('Fetch Voucherlist Overdue').first().json;\n\nconst mainContent = mainData.content || [];\nconst overdueContent = overdueData.content || [];\n\n// Deduplicate: overdue overrides main\nconst map = new Map();\nfor (const v of mainContent) map.set(v.id, v);\nfor (const v of overdueContent) map.set(v.id, { ...v, voucherStatus: 'overdue' });\n\nconst merged = Array.from(map.values());\n\nif (merged.length === 0) {\n  return { json: { _empty: true, count: 0 } };\n}\n\n// Each item gets a detail_url for the next HTTP Request node\nreturn merged.map(v => ({\n  json: {\n    voucher_id: v.id,\n    voucher_type: v.voucherType,\n    voucher_status: v.voucherStatus,\n    voucher_number: v.voucherNumber,\n    voucher_date: v.voucherDate,\n    due_date: v.dueDate || null,\n    contact_id: v.contactId || null,\n    contact_name: v.contactName || null,\n    total_amount: v.totalAmount || 0,\n    open_amount: v.openAmount || 0,\n    currency: v.currency || 'EUR',\n    updated_date: v.updatedDate,\n    detail_url: v.voucherType === 'creditnote'\n      ? `https://api.lexware.io/v1/credit-notes/${v.id}`\n      : `https://api.lexware.io/v1/invoices/${v.id}`\n  }\n}));"},"id":"a26ae07a-95cc-4a62-998c-46b1c4666cfd","name":"Merge & Prepare Items","type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,128]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"empty-check","leftValue":"={{ $json._empty }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"67d51008-4a05-40b3-86c6-3b137b6a12f7","name":"Has Vouchers?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,128]},{"parameters":{"jsCode":"return { json: { status: 'idle', message: 'No updated invoices from Lexware' } };"},"id":"c17f30b0-7111-4bc1-ad5a-5c3ed398c7c0","name":"No Updates","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0]},{"parameters":{"url":"={{ $json.detail_url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"9799eff8-5eb5-411f-b4f5-1173e9126685","name":"Fetch Detail","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,240],"credentials":{"httpHeaderAuth":{"id":"2skORel5vPmpnHQi","name":"Lexware API"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Map Lexware detail to BG sales_invoices schema\nconst detail = $json;\nconst voucher = $('Merge & Prepare Items').item.json;\n\n// Type mapping\nconst typeMap = { 'invoice': 'SCHLUSS', 'creditnote': 'GUTSCHRIFT', 'downpaymentinvoice': 'ABSCHLAG' };\nconst statusMap = { 'draft': 'DRAFT', 'open': 'SENT', 'paid': 'PAID', 'paidoff': 'PAIDOFF', 'voided': 'VOIDED', 'overdue': 'OVERDUE', 'accepted': 'SENT', 'rejected': 'REJECTED' };\n\nconst totalPrice = detail.totalPrice || {};\nconst address = detail.address || {};\nconst addressStr = [address.street, `${address.zip || ''} ${address.city || ''}`].filter(Boolean).join(', ').trim();\nconst extractDate = (d) => d ? d.substring(0, 10) : null;\n\nreturn {\n  json: {\n    voucher_id: voucher.voucher_id,\n    voucher_number: detail.voucherNumber || voucher.voucher_number,\n    invoice_type: typeMap[voucher.voucher_type] || 'SCHLUSS',\n    status: statusMap[voucher.voucher_status] || 'SENT',\n    invoice_date: extractDate(detail.voucherDate || voucher.voucher_date),\n    due_date: extractDate(detail.dueDate || voucher.due_date),\n    total_net: totalPrice.totalNetAmount || 0,\n    vat_amount: totalPrice.totalTaxAmount || 0,\n    total_gross: totalPrice.totalGrossAmount || voucher.total_amount || 0,\n    vat_rate: 19,\n    currency: totalPrice.currency || voucher.currency || 'EUR',\n    customer_name: (address.name || voucher.contact_name || '').replace(/'/g, \"''\"),\n    customer_address: addressStr.replace(/'/g, \"''\"),\n    lexware_contact_id: address.contactId || voucher.contact_id || null,\n    raw_data: JSON.stringify(detail).replace(/'/g, \"''\")\n  }\n};"},"id":"be05a077-6fa2-4244-8fd6-615fe11686a2","name":"Build Upsert Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,240]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO sales_invoices (\n  lexware_invoice_id, invoice_number, invoice_type, status,\n  invoice_date, due_date, total_net, total_vat, total_gross,\n  vat_rate, currency, customer_name, customer_address,\n  lexware_contact_id, lexware_last_synced_at, lexware_synced_at,\n  lexware_raw_data, lexware_sync_status, source\n) VALUES (\n  '{{ $json.voucher_id }}',\n  '{{ $json.voucher_number }}',\n  '{{ $json.invoice_type }}'::sales_invoice_type,\n  '{{ $json.status }}'::sales_invoice_status,\n  '{{ $json.invoice_date }}'::date,\n  {{ $json.due_date ? \"'\" + $json.due_date + \"'::date\" : 'NULL' }},\n  {{ $json.total_net }}, {{ $json.vat_amount }}, {{ $json.total_gross }},\n  {{ $json.vat_rate }}, '{{ $json.currency }}',\n  '{{ $json.customer_name }}', '{{ $json.customer_address }}',\n  {{ $json.lexware_contact_id ? \"'\" + $json.lexware_contact_id + \"'\" : 'NULL' }},\n  now(), now(),\n  '{{ $json.raw_data }}'::jsonb, 'synced', 'lexware'\n)\nON CONFLICT (lexware_invoice_id) DO UPDATE SET\n  status = EXCLUDED.status, due_date = EXCLUDED.due_date,\n  total_net = EXCLUDED.total_net, total_vat = EXCLUDED.total_vat,\n  total_gross = EXCLUDED.total_gross,\n  customer_name = EXCLUDED.customer_name, customer_address = EXCLUDED.customer_address,\n  lexware_contact_id = EXCLUDED.lexware_contact_id,\n  lexware_last_synced_at = now(), lexware_synced_at = now(),\n  lexware_raw_data = EXCLUDED.lexware_raw_data, lexware_sync_status = 'synced'\nRETURNING id, invoice_number, status::text,\n  (xmax = 0) as is_new;","options":{}},"id":"1404e323-d83b-40d1-acda-30a04407d9d3","name":"Upsert Sales Invoice","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,240],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"-- Auto-match client\nWITH match AS (\n  SELECT c.id FROM clients c\n  WHERE c.company_name ILIKE '%' || '{{ $('Build Upsert Data').item.json.customer_name }}' || '%'\n  LIMIT 1\n)\nUPDATE sales_invoices si SET client_id = match.id\nFROM match\nWHERE si.id = '{{ $json.id }}'::uuid AND si.client_id IS NULL;\n\n-- Sync log\nINSERT INTO lexware_sync_log (sync_direction, entity_type, entity_id, lexware_id, action, sync_status)\nVALUES ('pull', 'sales_invoice', '{{ $json.id }}'::uuid,\n  '{{ $('Build Upsert Data').item.json.voucher_id }}',\n  CASE WHEN {{ $json.is_new }} THEN 'create' ELSE 'update' END,\n  'success');","options":{}},"id":"1c0e693e-4ff9-4391-8c5f-ff8eb65058f4","name":"Auto-Match + Log","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[672,240],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const items = $input.all();\nreturn { json: { status: 'completed', total: items.length } };"},"id":"295877aa-157f-49e9-97e7-30032dc98bff","name":"Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,240]},{"parameters":{"jsCode":"// Detail fetch error — log and skip this item\nconst voucher = $('Merge & Prepare Items').item.json;\nreturn { json: { voucher_id: voucher.voucher_id, error: true } };"},"id":"7c9d11cb-9cc0-4ce9-92e5-d69b894e051d","name":"Handle Detail Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,432]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO lexware_sync_log (sync_direction, entity_type, lexware_id, action, sync_status, error_message)\nVALUES ('pull', 'sales_invoice', '{{ $json.voucher_id }}', 'fetch', 'error', 'Detail fetch failed');","options":{}},"id":"dfd11104-0785-48f7-9a54-069c5ed568c3","name":"Log Error","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,432],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Last Sync Time","type":"main","index":0}]]},"Get Last Sync Time":{"main":[[{"node":"Fetch Voucherlist Main","type":"main","index":0}]]},"Fetch Voucherlist Main":{"main":[[{"node":"Fetch Voucherlist Overdue","type":"main","index":0}]]},"Fetch Voucherlist Overdue":{"main":[[{"node":"Merge & Prepare Items","type":"main","index":0}]]},"Merge & Prepare Items":{"main":[[{"node":"Has Vouchers?","type":"main","index":0}]]},"Has Vouchers?":{"main":[[{"node":"No Updates","type":"main","index":0}],[{"node":"Fetch Detail","type":"main","index":0}]]},"Fetch Detail":{"main":[[{"node":"Build Upsert Data","type":"main","index":0}],[{"node":"Handle Detail Error","type":"main","index":0}]]},"Build Upsert Data":{"main":[[{"node":"Upsert Sales Invoice","type":"main","index":0}]]},"Upsert Sales Invoice":{"main":[[{"node":"Auto-Match + Log","type":"main","index":0}]]},"Auto-Match + Log":{"main":[[{"node":"Summary","type":"main","index":0}]]},"Handle Detail Error":{"main":[[{"node":"Log Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true,"timeSavedMode":"fixed","errorWorkflow":"apmJoMCbOchwfqTp","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"93637fd2-7e95-4d07-ae1d-8c7147fd873f","activeVersionId":"93637fd2-7e95-4d07-ae1d-8c7147fd873f","versionCounter":25,"triggerCount":1,"shared":[{"updatedAt":"2026-02-18T13:29:55.091Z","createdAt":"2026-02-18T13:29:55.091Z","role":"workflow:owner","workflowId":"AjRF0GnZVaLeckOu","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-18T13:51:05.000Z","createdAt":"2026-02-18T13:49:28.387Z","versionId":"93637fd2-7e95-4d07-ae1d-8c7147fd873f","workflowId":"AjRF0GnZVaLeckOu","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"689033ca-e89f-4d70-a111-73f924be654b","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1328,128]},{"parameters":{"operation":"executeQuery","query":"SELECT COALESCE(\n    to_char(MAX(lexware_last_synced_at) AT TIME ZONE 'Europe/Berlin',\n      'YYYY-MM-DD'),\n    '2025-01-01'\n  ) as last_sync\n  FROM sales_invoices\n  WHERE source = 'lexware';","options":{}},"id":"2680fbda-a645-4db1-9ecf-7f1f686676fc","name":"Get Last Sync Time","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1104,128],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"url":"https://api.lexware.io/v1/voucherlist","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"voucherType","value":"invoice,creditnote,downpaymentinvoice"},{"name":"voucherStatus","value":"open,paid,paidoff,voided"},{"name":"updatedDateFrom","value":"={{ $('Get Last Sync Time').item.json.last_sync }}"},{"name":"page","value":"0"},{"name":"size","value":"250"},{"name":"sort","value":"updatedDate,ASC"}]},"options":{}},"id":"747cb4c4-3578-4449-b349-93ad899531c0","name":"Fetch Voucherlist Main","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-880,128],"credentials":{"httpHeaderAuth":{"id":"2skORel5vPmpnHQi","name":"Lexware API"}}},{"parameters":{"url":"https://api.lexware.io/v1/voucherlist","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"voucherType","value":"invoice"},{"name":"voucherStatus","value":"overdue"},{"name":"page","value":"0"},{"name":"size","value":"250"},{"name":"sort","value":"updatedDate,ASC"}]},"options":{}},"id":"da7935d8-87f9-48a2-971e-fc6507e75c54","name":"Fetch Voucherlist Overdue","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-656,128],"credentials":{"httpHeaderAuth":{"id":"2skORel5vPmpnHQi","name":"Lexware API"}}},{"parameters":{"jsCode":"// Merge main + overdue voucherlists, deduplicate, prepare detail URLs\nconst mainData = $('Fetch Voucherlist Main').first().json;\nconst overdueData = $('Fetch Voucherlist Overdue').first().json;\n\nconst mainContent = mainData.content || [];\nconst overdueContent = overdueData.content || [];\n\n// Deduplicate: overdue overrides main\nconst map = new Map();\nfor (const v of mainContent) map.set(v.id, v);\nfor (const v of overdueContent) map.set(v.id, { ...v, voucherStatus: 'overdue' });\n\nconst merged = Array.from(map.values());\n\nif (merged.length === 0) {\n  return { json: { _empty: true, count: 0 } };\n}\n\n// Each item gets a detail_url for the next HTTP Request node\nreturn merged.map(v => ({\n  json: {\n    voucher_id: v.id,\n    voucher_type: v.voucherType,\n    voucher_status: v.voucherStatus,\n    voucher_number: v.voucherNumber,\n    voucher_date: v.voucherDate,\n    due_date: v.dueDate || null,\n    contact_id: v.contactId || null,\n    contact_name: v.contactName || null,\n    total_amount: v.totalAmount || 0,\n    open_amount: v.openAmount || 0,\n    currency: v.currency || 'EUR',\n    updated_date: v.updatedDate,\n    detail_url: v.voucherType === 'creditnote'\n      ? `https://api.lexware.io/v1/credit-notes/${v.id}`\n      : `https://api.lexware.io/v1/invoices/${v.id}`\n  }\n}));"},"id":"a26ae07a-95cc-4a62-998c-46b1c4666cfd","name":"Merge & Prepare Items","type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,128]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"empty-check","leftValue":"={{ $json._empty }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"67d51008-4a05-40b3-86c6-3b137b6a12f7","name":"Has Vouchers?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,128]},{"parameters":{"jsCode":"return { json: { status: 'idle', message: 'No updated invoices from Lexware' } };"},"id":"c17f30b0-7111-4bc1-ad5a-5c3ed398c7c0","name":"No Updates","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0]},{"parameters":{"url":"={{ $json.detail_url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"9799eff8-5eb5-411f-b4f5-1173e9126685","name":"Fetch Detail","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,240],"credentials":{"httpHeaderAuth":{"id":"2skORel5vPmpnHQi","name":"Lexware API"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Map Lexware detail to BG sales_invoices schema\nconst detail = $json;\nconst voucher = $('Merge & Prepare Items').item.json;\n\n// Type mapping\nconst typeMap = { 'invoice': 'SCHLUSS', 'creditnote': 'GUTSCHRIFT', 'downpaymentinvoice': 'ABSCHLAG' };\nconst statusMap = { 'draft': 'DRAFT', 'open': 'SENT', 'paid': 'PAID', 'paidoff': 'PAIDOFF', 'voided': 'VOIDED', 'overdue': 'OVERDUE', 'accepted': 'SENT', 'rejected': 'REJECTED' };\n\nconst totalPrice = detail.totalPrice || {};\nconst address = detail.address || {};\nconst addressStr = [address.street, `${address.zip || ''} ${address.city || ''}`].filter(Boolean).join(', ').trim();\nconst extractDate = (d) => d ? d.substring(0, 10) : null;\n\nreturn {\n  json: {\n    voucher_id: voucher.voucher_id,\n    voucher_number: detail.voucherNumber || voucher.voucher_number,\n    invoice_type: typeMap[voucher.voucher_type] || 'SCHLUSS',\n    status: statusMap[voucher.voucher_status] || 'SENT',\n    invoice_date: extractDate(detail.voucherDate || voucher.voucher_date),\n    due_date: extractDate(detail.dueDate || voucher.due_date),\n    total_net: totalPrice.totalNetAmount || 0,\n    vat_amount: totalPrice.totalTaxAmount || 0,\n    total_gross: totalPrice.totalGrossAmount || voucher.total_amount || 0,\n    vat_rate: 19,\n    currency: totalPrice.currency || voucher.currency || 'EUR',\n    customer_name: (address.name || voucher.contact_name || '').replace(/'/g, \"''\"),\n    customer_address: addressStr.replace(/'/g, \"''\"),\n    lexware_contact_id: address.contactId || voucher.contact_id || null,\n    raw_data: JSON.stringify(detail).replace(/'/g, \"''\")\n  }\n};"},"id":"be05a077-6fa2-4244-8fd6-615fe11686a2","name":"Build Upsert Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,240]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO sales_invoices (\n  lexware_invoice_id, invoice_number, invoice_type, status,\n  invoice_date, due_date, total_net, total_vat, total_gross,\n  vat_rate, currency, customer_name, customer_address,\n  lexware_contact_id, lexware_last_synced_at, lexware_synced_at,\n  lexware_raw_data, lexware_sync_status, source\n) VALUES (\n  '{{ $json.voucher_id }}',\n  '{{ $json.voucher_number }}',\n  '{{ $json.invoice_type }}'::sales_invoice_type,\n  '{{ $json.status }}'::sales_invoice_status,\n  '{{ $json.invoice_date }}'::date,\n  {{ $json.due_date ? \"'\" + $json.due_date + \"'::date\" : 'NULL' }},\n  {{ $json.total_net }}, {{ $json.vat_amount }}, {{ $json.total_gross }},\n  {{ $json.vat_rate }}, '{{ $json.currency }}',\n  '{{ $json.customer_name }}', '{{ $json.customer_address }}',\n  {{ $json.lexware_contact_id ? \"'\" + $json.lexware_contact_id + \"'\" : 'NULL' }},\n  now(), now(),\n  '{{ $json.raw_data }}'::jsonb, 'synced', 'lexware'\n)\nON CONFLICT (lexware_invoice_id) DO UPDATE SET\n  status = EXCLUDED.status, due_date = EXCLUDED.due_date,\n  total_net = EXCLUDED.total_net, total_vat = EXCLUDED.total_vat,\n  total_gross = EXCLUDED.total_gross,\n  customer_name = EXCLUDED.customer_name, customer_address = EXCLUDED.customer_address,\n  lexware_contact_id = EXCLUDED.lexware_contact_id,\n  lexware_last_synced_at = now(), lexware_synced_at = now(),\n  lexware_raw_data = EXCLUDED.lexware_raw_data, lexware_sync_status = 'synced'\nRETURNING id, invoice_number, status::text,\n  (xmax = 0) as is_new;","options":{}},"id":"1404e323-d83b-40d1-acda-30a04407d9d3","name":"Upsert Sales Invoice","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,240],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"-- Auto-match client\nWITH match AS (\n  SELECT c.id FROM clients c\n  WHERE c.company_name ILIKE '%' || '{{ $('Build Upsert Data').item.json.customer_name }}' || '%'\n  LIMIT 1\n)\nUPDATE sales_invoices si SET client_id = match.id\nFROM match\nWHERE si.id = '{{ $json.id }}'::uuid AND si.client_id IS NULL;\n\n-- Sync log\nINSERT INTO lexware_sync_log (sync_direction, entity_type, entity_id, lexware_id, action, sync_status)\nVALUES ('pull', 'sales_invoice', '{{ $json.id }}'::uuid,\n  '{{ $('Build Upsert Data').item.json.voucher_id }}',\n  CASE WHEN {{ $json.is_new }} THEN 'create' ELSE 'update' END,\n  'success');","options":{}},"id":"1c0e693e-4ff9-4391-8c5f-ff8eb65058f4","name":"Auto-Match + Log","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[672,240],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"const items = $input.all();\nreturn { json: { status: 'completed', total: items.length } };"},"id":"295877aa-157f-49e9-97e7-30032dc98bff","name":"Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,240]},{"parameters":{"jsCode":"// Detail fetch error — log and skip this item\nconst voucher = $('Merge & Prepare Items').item.json;\nreturn { json: { voucher_id: voucher.voucher_id, error: true } };"},"id":"7c9d11cb-9cc0-4ce9-92e5-d69b894e051d","name":"Handle Detail Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,432]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO lexware_sync_log (sync_direction, entity_type, lexware_id, action, sync_status, error_message)\nVALUES ('pull', 'sales_invoice', '{{ $json.voucher_id }}', 'fetch', 'error', 'Detail fetch failed');","options":{}},"id":"dfd11104-0785-48f7-9a54-069c5ed568c3","name":"Log Error","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,432],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Last Sync Time","type":"main","index":0}]]},"Get Last Sync Time":{"main":[[{"node":"Fetch Voucherlist Main","type":"main","index":0}]]},"Fetch Voucherlist Main":{"main":[[{"node":"Fetch Voucherlist Overdue","type":"main","index":0}]]},"Fetch Voucherlist Overdue":{"main":[[{"node":"Merge & Prepare Items","type":"main","index":0}]]},"Merge & Prepare Items":{"main":[[{"node":"Has Vouchers?","type":"main","index":0}]]},"Has Vouchers?":{"main":[[{"node":"No Updates","type":"main","index":0}],[{"node":"Fetch Detail","type":"main","index":0}]]},"Fetch Detail":{"main":[[{"node":"Build Upsert Data","type":"main","index":0}],[{"node":"Handle Detail Error","type":"main","index":0}]]},"Build Upsert Data":{"main":[[{"node":"Upsert Sales Invoice","type":"main","index":0}]]},"Upsert Sales Invoice":{"main":[[{"node":"Auto-Match + Log","type":"main","index":0}]]},"Auto-Match + Log":{"main":[[{"node":"Summary","type":"main","index":0}]]},"Handle Detail Error":{"main":[[{"node":"Log Error","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Fix updatedDateFrom format","description":"Lexware API expects YYYY-MM-DD, not full ISO timestamp","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-18T13:51:05.770Z","id":634,"workflowId":"AjRF0GnZVaLeckOu","versionId":"93637fd2-7e95-4d07-ae1d-8c7147fd873f","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:25:32.417Z","id":858,"workflowId":"AjRF0GnZVaLeckOu","versionId":"93637fd2-7e95-4d07-ae1d-8c7147fd873f","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:25:32.407Z","id":857,"workflowId":"AjRF0GnZVaLeckOu","versionId":"93637fd2-7e95-4d07-ae1d-8c7147fd873f","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}