n8n-workflows/M6_02b_Lexware_Contact_Sync.json
{
  "name": "M6_02b_Lexware_Contact_Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "m6-02b-lexware-contact-sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e602b001-0001-4000-8000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "m6-02b-lexware-contact-sync"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst eventId = input.body?.event_id || input.event_id;\nconst projectId = input.body?.project_id || input.project_id;\nconst payload = input.body?.payload || input.payload || {};\n\nreturn {\n  json: {\n    event_id: eventId,\n    project_id: projectId || null,\n    purchase_invoice_id: payload.purchase_invoice_id,\n    supplier_id: payload.supplier_id,\n    supplier_name: payload.supplier_name || '',\n    supplier_street: payload.supplier_street || '',\n    supplier_zip: payload.supplier_zip || '',\n    supplier_city: payload.supplier_city || '',\n    step_key: `lexware_contact:${payload.supplier_id}`\n  }\n};"
      },
      "id": "e602b001-0002-4000-8000-000000000002",
      "name": "Parse Event Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM claim_workflow_step(\n  '{{ $json.step_key }}',\n  {{ $json.project_id ? \"'\" + $json.project_id + \"'::uuid\" : \"NULL::uuid\" }},\n  'LEXWARE_CONTACT_SYNC'\n);",
        "options": {}
      },
      "id": "e602b001-0003-4000-8000-000000000003",
      "name": "Claim Workflow Step",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [640, 300],
      "credentials": {
        "postgres": { "id": "qXZ2ZjK31ZDrPoDG", "name": "Supabase Postgres" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{
            "id": "claimed",
            "leftValue": "={{ $json.claimed }}",
            "rightValue": true,
            "operator": { "type": "boolean", "operation": "equals" }
          }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e602b001-0004-4000-8000-000000000004",
      "name": "Step Claimed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build Lexware contact payload\nconst e = $('Parse Event Data').first().json;\nconst contact = {\n  version: 0,\n  roles: { vendor: {} },\n  company: { name: e.supplier_name }\n};\nif (e.supplier_street && e.supplier_zip && e.supplier_city) {\n  contact.addresses = { billing: [{\n    street: e.supplier_street, zip: e.supplier_zip,\n    city: e.supplier_city, countryCode: 'DE'\n  }]};\n}\nreturn { json: { contact_payload: contact } };"
      },
      "id": "e602b001-0005-4000-8000-000000000005",
      "name": "Build Contact Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.lexware.io/v1/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.contact_payload) }}",
        "options": { "response": { "response": { "fullResponse": true } } }
      },
      "id": "e602b001-0006-4000-8000-000000000006",
      "name": "Create Lexware Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 180],
      "credentials": {
        "httpHeaderAuth": { "id": "LEXWARE_CREDENTIAL_ID", "name": "Lexware API" }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE suppliers SET lexware_contact_id = '{{ $json.body.id }}', lexware_synced_at = now()\nWHERE id = '{{ $('Parse Event Data').item.json.supplier_id }}'::uuid\nRETURNING lexware_contact_id;",
        "options": {}
      },
      "id": "e602b001-0007-4000-8000-000000000007",
      "name": "Save Contact ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1520, 180],
      "credentials": {
        "postgres": { "id": "qXZ2ZjK31ZDrPoDG", "name": "Supabase Postgres" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT complete_workflow_step('{{ $('Parse Event Data').item.json.step_key }}', jsonb_build_object('lexware_contact_id', '{{ $json.lexware_contact_id }}'));\n\nDO $$ BEGIN\n  UPDATE events SET processed_at = now()\n  WHERE id = '{{ $('Parse Event Data').item.json.event_id }}'::uuid;\nEXCEPTION WHEN invalid_text_representation THEN NULL;\nEND $$;\n\nINSERT INTO events (event_type, project_id, payload, source_system, source_flow, reference_table, reference_id)\nVALUES (\n  'LEXWARE_CONTACT_READY',\n  {{ $('Parse Event Data').item.json.project_id ? \"'\" + $('Parse Event Data').item.json.project_id + \"'::uuid\" : \"NULL::uuid\" }},\n  jsonb_build_object(\n    'purchase_invoice_id', '{{ $('Parse Event Data').item.json.purchase_invoice_id }}',\n    'lexware_contact_id', '{{ $json.lexware_contact_id }}'\n  ),\n  'n8n', 'M6_02b_Lexware_Contact_Sync',\n  'suppliers', '{{ $('Parse Event Data').item.json.supplier_id }}'::uuid\n)\nRETURNING id, event_type::text;",
        "options": {}
      },
      "id": "e602b001-0008-4000-8000-000000000008",
      "name": "Complete + Emit CONTACT_READY",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1740, 180],
      "credentials": {
        "postgres": { "id": "qXZ2ZjK31ZDrPoDG", "name": "Supabase Postgres" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"success\",\"contact_created\":true}",
        "options": {}
      },
      "id": "e602b001-0009-4000-8000-000000000009",
      "name": "Respond (Success)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1960, 180]
    },
    {
      "parameters": {
        "jsCode": "// Contact creation failed — still emit CONTACT_READY (voucher works without contact)\nreturn { json: { contact_error: true } };"
      },
      "id": "e602b001-0010-4000-8000-000000000010",
      "name": "Handle Contact Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 420]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT complete_workflow_step('{{ $('Parse Event Data').item.json.step_key }}', '{\"contact_error\": true}');\n\nDO $$ BEGIN\n  UPDATE events SET processed_at = now()\n  WHERE id = '{{ $('Parse Event Data').item.json.event_id }}'::uuid;\nEXCEPTION WHEN invalid_text_representation THEN NULL;\nEND $$;\n\n-- Emit CONTACT_READY anyway — voucher can be created without contact\nINSERT INTO events (event_type, project_id, payload, source_system, source_flow, reference_table, reference_id)\nVALUES (\n  'LEXWARE_CONTACT_READY',\n  {{ $('Parse Event Data').item.json.project_id ? \"'\" + $('Parse Event Data').item.json.project_id + \"'::uuid\" : \"NULL::uuid\" }},\n  jsonb_build_object(\n    'purchase_invoice_id', '{{ $('Parse Event Data').item.json.purchase_invoice_id }}',\n    'lexware_contact_id', NULL\n  ),\n  'n8n', 'M6_02b_Lexware_Contact_Sync',\n  'suppliers', '{{ $('Parse Event Data').item.json.supplier_id }}'::uuid\n)\nRETURNING id, event_type::text;",
        "options": {}
      },
      "id": "e602b001-0011-4000-8000-000000000011",
      "name": "Emit CONTACT_READY (No Contact)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1740, 420],
      "credentials": {
        "postgres": { "id": "qXZ2ZjK31ZDrPoDG", "name": "Supabase Postgres" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"success\",\"contact_created\":false,\"reason\":\"contact_error\"}",
        "options": {}
      },
      "id": "e602b001-0012-4000-8000-000000000012",
      "name": "Respond (Contact Error)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1960, 420]
    },
    {
      "parameters": {
        "jsCode": "const claim = $input.first().json;\nreturn { json: { status: 'skipped', reason: claim.current_status === 'DONE' ? 'Already processed' : 'In progress' } };"
      },
      "id": "e602b001-0013-4000-8000-000000000013",
      "name": "Handle Not Claimed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 540]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "e602b001-0014-4000-8000-000000000014",
      "name": "Respond (Not Claimed)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1300, 540]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Parse Event Data", "type": "main", "index": 0 }]]
    },
    "Parse Event Data": {
      "main": [[{ "node": "Claim Workflow Step", "type": "main", "index": 0 }]]
    },
    "Claim Workflow Step": {
      "main": [[{ "node": "Step Claimed?", "type": "main", "index": 0 }]]
    },
    "Step Claimed?": {
      "main": [
        [{ "node": "Build Contact Payload", "type": "main", "index": 0 }],
        [{ "node": "Handle Not Claimed", "type": "main", "index": 0 }]
      ]
    },
    "Build Contact Payload": {
      "main": [[{ "node": "Create Lexware Contact", "type": "main", "index": 0 }]]
    },
    "Create Lexware Contact": {
      "main": [
        [{ "node": "Save Contact ID", "type": "main", "index": 0 }],
        [{ "node": "Handle Contact Error", "type": "main", "index": 0 }]
      ]
    },
    "Save Contact ID": {
      "main": [[{ "node": "Complete + Emit CONTACT_READY", "type": "main", "index": 0 }]]
    },
    "Complete + Emit CONTACT_READY": {
      "main": [[{ "node": "Respond (Success)", "type": "main", "index": 0 }]]
    },
    "Handle Contact Error": {
      "main": [[{ "node": "Emit CONTACT_READY (No Contact)", "type": "main", "index": 0 }]]
    },
    "Emit CONTACT_READY (No Contact)": {
      "main": [[{ "node": "Respond (Contact Error)", "type": "main", "index": 0 }]]
    },
    "Handle Not Claimed": {
      "main": [[{ "node": "Respond (Not Claimed)", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "errorWorkflow": "apmJoMCbOchwfqTp"
  },
  "meta": { "templateCredsSetupCompleted": true },
  "tags": []
}
