n8n-workflows/M6_01b_Match_Create.json
{
  "name": "M6_01b_Match_Create",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "m6-01b-match-create",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "04b3f428-44f6-4334-bf64-5f1cb9d3a43c",
      "name": "🔔 Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse INVOICE_EXTRACTED event payload from MX_00\nconst body = $input.first().json.body || $input.first().json;\nconst payload = body.payload || body;\n\n// Parse positionen if it's a string\nlet positionen = payload.positionen || [];\nif (typeof positionen === 'string') {\n  try { positionen = JSON.parse(positionen); } catch(e) { positionen = []; }\n}\n\nreturn {\n  json: {\n    event_id: body.event_id || body.id,\n    invoice_id: payload.invoice_id,\n    extraction_source: payload.extraction_source || 'ATTACHMENT',\n    storage_path: payload.storage_path || '',\n    rechnung_nummer: payload.rechnung_nummer || '',\n    rechnung_datum: payload.rechnung_datum || new Date().toISOString().split('T')[0],\n    lieferant_name: payload.lieferant_name || '',\n    lieferant_name_escaped: payload.lieferant_name_escaped || (payload.lieferant_name || '').replace(/'/g, \"''\"),\n    summe_netto: payload.summe_netto || 0,\n    summe_brutto: payload.summe_brutto || 0,\n    mwst_prozent: payload.mwst_prozent || 19,\n    positionen: positionen,\n    positionen_count: payload.positionen_count || positionen.length || 0,\n    payment_iban: payload.payment_iban || '',\n    payment_bic: payload.payment_bic || '',\n    payment_terms_days: payload.payment_terms_days || 14,\n    due_date: payload.due_date || '',\n    discount_percent: payload.discount_percent || 0,\n    discount_days: payload.discount_days || 0,\n    project_reference: payload.project_reference || '',\n    delivery_address: payload.delivery_address || '',\n    expense_category: payload.expense_category || 'MATERIAL',\n    email_from: payload.email_from || '',\n    email_subject: (payload.email_subject || '').replace(/'/g, \"''\"),\n    email_received_at: payload.email_received_at || new Date().toISOString(),\n    superchat_message_id: payload.superchat_message_id || '',\n    doc_type: payload.doc_type || 'INVOICE_IN',\n    invoice_type: payload.invoice_type || 'invoice',\n    original_filename: payload.original_filename || '',\n    needs_assignment: payload.needs_assignment || false,\n  }\n};"
      },
      "id": "f9169b69-9b69-44e3-8f5c-95d7012d0c21",
      "name": "📥 Parse Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Step 1: Try to find supplier by alias\nWITH alias_match AS (\n  SELECT s.id, s.supplier_code, s.default_expense_category::text\n  FROM suppliers s\n  JOIN supplier_aliases sa ON sa.supplier_id = s.id\n  WHERE LOWER(sa.alias_name) = LOWER('{{ $json.lieferant_name_escaped }}')\n  LIMIT 1\n),\n-- Step 2: Try to find by short_name or code\nname_match AS (\n  SELECT id, supplier_code, default_expense_category::text\n  FROM suppliers\n  WHERE (\n    LOWER(short_name) ILIKE '%' || LOWER('{{ $json.lieferant_name_escaped }}') || '%'\n    OR LOWER(name) ILIKE '%' || LOWER('{{ $json.lieferant_name_escaped }}') || '%'\n    OR supplier_code = '{{ $json.lieferant_code }}'\n  )\n  AND is_active = true\n  AND NOT EXISTS (SELECT 1 FROM alias_match)\n  LIMIT 1\n),\n-- Step 3: Create new if not found\nnew_supplier AS (\n  INSERT INTO suppliers (supplier_code, name, short_name, supplier_type, default_expense_category, is_active)\n  SELECT \n    '{{ $json.lieferant_code }}',\n    '{{ $json.lieferant_name_escaped }}',\n    '{{ $json.lieferant_name_escaped }}',\n    '{{ $json.lieferant_typ }}'::supplier_type,\n    '{{ $json.expense_category }}'::expense_category,\n    true\n  WHERE NOT EXISTS (SELECT 1 FROM alias_match)\n    AND NOT EXISTS (SELECT 1 FROM name_match)\n  ON CONFLICT (supplier_code) DO UPDATE SET updated_at = now()\n  RETURNING id, supplier_code, default_expense_category::text\n)\n-- Return the matched or created supplier\nSELECT \n  COALESCE(am.id, nm.id, ns.id)::text AS supplier_id,\n  COALESCE(am.supplier_code, nm.supplier_code, ns.supplier_code) AS supplier_code,\n  COALESCE(am.default_expense_category, nm.default_expense_category, ns.default_expense_category) AS default_expense_category,\n  CASE \n    WHEN am.id IS NOT NULL THEN 'alias_match'\n    WHEN nm.id IS NOT NULL THEN 'name_match'\n    ELSE 'created'\n  END AS match_type\nFROM (SELECT 1) AS dummy\nLEFT JOIN alias_match am ON true\nLEFT JOIN name_match nm ON true\nLEFT JOIN new_supplier ns ON true;",
        "options": {}
      },
      "id": "2d4f6d72-0e92-4db1-8b97-60f115c132e9",
      "name": "🏢 Match Supplier",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        400,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "qXZ2ZjK31ZDrPoDG",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM fn_match_project_by_reference(\n  NULLIF('{{ $('📥 Parse Event').first().json.project_reference }}', ''),\n  NULLIF('{{ $('📥 Parse Event').first().json.delivery_address }}', '')\n);",
        "options": {}
      },
      "id": "1c16008f-99e2-415a-9bc9-2e8b512d8232",
      "name": "🔍 Match Project",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        600,
        400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "qXZ2ZjK31ZDrPoDG",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO purchase_invoices (\n  id,\n  invoice_number,\n  supplier_id,\n  invoice_date,\n  subtotal_net,\n  vat_percent,\n  expense_category,\n  status,\n  pdf_storage_path,\n  project_id,\n  notes,\n  payment_iban,\n  payment_bic,\n  payment_terms_days,\n  due_date,\n  discount_percent,\n  discount_days,\n  source_type,\n  email_from,\n  email_subject,\n  email_received_at,\n  email_message_id,\n  invoice_type,\n  project_reference,\n  delivery_address\n)\nVALUES (\n  '{{ $('📥 Parse Event').first().json.invoice_id }}'::uuid,\n  '{{ $('📥 Parse Event').first().json.rechnung_nummer }}',\n  '{{ $('🏢 Match Supplier').first().json.supplier_id }}'::uuid,\n  '{{ $('📥 Parse Event').first().json.rechnung_datum }}'::date,\n  {{ $('📥 Parse Event').first().json.summe_netto }},\n  {{ $('📥 Parse Event').first().json.mwst_prozent }},\n  COALESCE(NULLIF('{{ $('🏢 Match Supplier').first().json.default_expense_category }}', ''), '{{ $('📥 Parse Event').first().json.expense_category }}')::expense_category,\n  'DRAFT'::purchase_invoice_status,\n  '{{ $('📥 Parse Event').first().json.storage_path }}',\n  NULLIF(NULLIF('{{ $('🔍 Match Project').first().json.project_id }}', ''), 'undefined')::uuid,\n  'Automatisch erfasst via Superchat ({{ $('📥 Parse Event').first().json.extraction_source }}): {{ $('📥 Parse Event').first().json.email_subject }}',\n  NULLIF('{{ $('📥 Parse Event').first().json.payment_iban }}', ''),\n  NULLIF('{{ $('📥 Parse Event').first().json.payment_bic }}', ''),\n  {{ $('📥 Parse Event').first().json.payment_terms_days }},\n  '{{ $('📥 Parse Event').first().json.due_date }}'::date,\n  {{ $('📥 Parse Event').first().json.discount_percent }},\n  {{ $('📥 Parse Event').first().json.discount_days }},\n  'SUPERCHAT'::invoice_source_type,\n  NULLIF('{{ $('📥 Parse Event').first().json.email_from }}', ''),\n  NULLIF('{{ $('📥 Parse Event').first().json.email_subject }}', ''),\n  '{{ $('📥 Parse Event').first().json.email_received_at }}'::timestamptz,\n  '{{ $('📥 Parse Event').first().json.superchat_message_id }}',\n  '{{ $('📥 Parse Event').first().json.invoice_type }}',\n  NULLIF('{{ $('📥 Parse Event').first().json.project_reference }}', ''),\n  NULLIF('{{ $('📥 Parse Event').first().json.delivery_address }}', '')\n)\nON CONFLICT (invoice_number, supplier_id) DO UPDATE SET\n  updated_at = now()\nRETURNING id::text, invoice_number;",
        "options": {}
      },
      "id": "2a4e4349-6cff-4946-acc4-999d42e2176b",
      "name": "📄 Create Invoice",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        800,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "qXZ2ZjK31ZDrPoDG",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-items",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $('📋 Parse JSON').first().json.positionen_count }}",
              "rightValue": 0
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0f500d6c-701b-48a6-a17e-3f7945bc5c6f",
      "name": "❓ Has Positions?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Split positions + generate SKU for product pool\nconst positions = $('📥 Parse Event').first().json.positionen || [];\nconst invoiceId = $('📄 Create Invoice').first().json.id;\nconst supplierId = $('🏢 Match Supplier').first().json.supplier_id;\nconst invoiceDate = $('📥 Parse Event').first().json.rechnung_datum;\n\n// Hash für Artikel ohne SKU\nconst simpleHash = (str) => {\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    const char = str.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return 'GEN-' + Math.abs(hash).toString(16).toUpperCase().substring(0, 8);\n};\n\nreturn positions.map((pos, idx) => {\n  const description = (pos.beschreibung || 'Unbekannt').replace(/'/g, \"''\");\n  const articleNumber = pos.artikel_nummer || '';\n  const sku = articleNumber || simpleHash(description + supplierId);\n  \n  return {\n    json: {\n      invoice_id: invoiceId,\n      supplier_id: supplierId,\n      position_number: idx + 1,\n      article_number: articleNumber,\n      description: description,\n      quantity: pos.menge || 1,\n      unit: pos.einheit || 'Stk',\n      unit_price_net: Math.round((Number(pos.einzelpreis_brutto) || 0) / 1.19 * 100) / 100,\n      product_sku: sku,\n      product_category: pos.kategorie || null,\n      invoice_date: invoiceDate\n    }\n  };\n});"
      },
      "id": "809580ae-a6ff-4ad0-b872-04f7168b6368",
      "name": "📦 Split Positions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO products (\n  name,\n  supplier_id,\n  sku,\n  last_price_net_eur,\n  last_price_date,\n  unit,\n  category,\n  source,\n  source_reference\n)\nVALUES (\n  '{{ $json.description }}',\n  '{{ $json.supplier_id }}'::uuid,\n  '{{ $json.product_sku }}',\n  {{ $json.unit_price_net }},\n  '{{ $json.invoice_date }}'::date,\n  '{{ $json.unit }}',\n  {{ $json.product_category ? \"'\" + $json.product_category + \"'\" : 'NULL' }},\n  'invoice_import',\n  '{{ $json.invoice_id }}'\n)\nON CONFLICT (supplier_id, sku) \nDO UPDATE SET\n  last_price_net_eur = EXCLUDED.last_price_net_eur,\n  last_price_date = EXCLUDED.last_price_date,\n  updated_at = now()\nRETURNING id::text;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1400,
        300
      ],
      "id": "f6d8f35d-6f9e-4b6b-a041-159b57f816ee",
      "name": "📦 Upsert Product",
      "credentials": {
        "postgres": {
          "id": "qXZ2ZjK31ZDrPoDG",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO purchase_invoice_items (\n  invoice_id,\n  position_number,\n  raw_article_number,\n  raw_description,\n  quantity,\n  unit,\n  unit_price_net\n)\nVALUES (\n  '{{ $('📦 Split Positions').item.json.invoice_id }}'::uuid,\n  {{ $('📦 Split Positions').item.json.position_number }},\n  '{{ $('📦 Split Positions').item.json.article_number }}',\n  '{{ $('📦 Split Positions').item.json.description }}',\n  {{ $('📦 Split Positions').item.json.quantity }},\n  '{{ $('📦 Split Positions').item.json.unit }}',\n  {{ $('📦 Split Positions').item.json.unit_price_net }}\n)\nON CONFLICT (invoice_id, position_number) DO NOTHING\nRETURNING id::text;",
        "options": {}
      },
      "id": "5a31f6da-4702-4389-a03e-7d3868fdcc1f",
      "name": "📦 Process Item",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1600,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "qXZ2ZjK31ZDrPoDG",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "executeQuery",
        "query": "INSERT INTO events (\n  project_id, event_type, payload, source_system, source_flow, idempotency_key\n) VALUES (\n  NULLIF(NULLIF('{{ $('🔍 Match Project').first().json.project_id }}', ''), 'undefined')::uuid,\n  'PURCHASE_INVOICE_CREATED',\n  jsonb_build_object(\n    'invoice_id', '{{ $('📄 Create Invoice').first().json.id }}',\n    'invoice_number', '{{ $('📄 Create Invoice').first().json.invoice_number }}',\n    'supplier_id', '{{ $('🏢 Match Supplier').first().json.supplier_id }}',\n    'supplier_code', '{{ $('🏢 Match Supplier').first().json.supplier_code }}',\n    'project_id', NULLIF(NULLIF('{{ $('🔍 Match Project').first().json.project_id }}', ''), 'undefined'),\n    'storage_path', '{{ $('📥 Parse Event').first().json.storage_path }}',\n    'total_gross', {{ $('📥 Parse Event').first().json.summe_brutto ?? 0 }},\n    'expense_category', COALESCE(NULLIF('{{ $('🏢 Match Supplier').first().json.default_expense_category }}', ''), '{{ $('📥 Parse Event').first().json.expense_category }}'),\n    'extraction_source', '{{ $('📥 Parse Event').first().json.extraction_source }}',\n    'email_from', '{{ $('📥 Parse Event').first().json.email_from }}',\n    'email_subject', '{{ $('📥 Parse Event').first().json.email_subject }}',\n    'positions_count', {{ $('📥 Parse Event').first().json.positionen_count ?? 0 }},\n    'doc_type', '{{ $('📥 Parse Event').first().json.doc_type }}',\n    'invoice_type', '{{ $('📥 Parse Event').first().json.invoice_type }}'\n  ),\n  'n8n',\n  'M6_01b_Match_Create',\n  'M6_01b_' || '{{ $('📥 Parse Event').first().json.invoice_id }}'\n)\nON CONFLICT (idempotency_key) DO NOTHING\nRETURNING id::text;",
        "options": {}
      },
      "id": "e8f06057-3eae-482b-a1f8-1c819e1c5539",
      "name": "📢 Emit PURCHASE_INVOICE_CREATED",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1800,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "qXZ2ZjK31ZDrPoDG",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"success\",\"event\":\"PURCHASE_INVOICE_CREATED\",\"invoice_id\":\"{{ $(\"📄 Create Invoice\").first().json.id }}\",\"invoice_number\":\"{{ $(\"📄 Create Invoice\").first().json.invoice_number }}\"}",
        "options": {}
      },
      "id": "899cac94-a4e3-439e-83d8-c74f861be8cb",
      "name": "✅ Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2000,
        400
      ]
    }
  ],
  "connections": {
    "🔔 Webhook Trigger": {
      "main": [
        [
          {
            "node": "📥 Parse Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Parse Event": {
      "main": [
        [
          {
            "node": "🏢 Match Supplier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏢 Match Supplier": {
      "main": [
        [
          {
            "node": "🔍 Match Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Match Project": {
      "main": [
        [
          {
            "node": "📄 Create Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 Create Invoice": {
      "main": [
        [
          {
            "node": "❓ Has Positions?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Has Positions?": {
      "main": [
        [
          {
            "node": "📦 Split Positions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📢 Emit PURCHASE_INVOICE_CREATED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Split Positions": {
      "main": [
        [
          {
            "node": "📦 Upsert Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Upsert Product": {
      "main": [
        [
          {
            "node": "📦 Process Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Process Item": {
      "main": [
        [
          {
            "node": "📢 Emit PURCHASE_INVOICE_CREATED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📢 Emit PURCHASE_INVOICE_CREATED": {
      "main": [
        [
          {
            "node": "✅ Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "zAFieMcnwATMcHhY",
    "callerPolicy": "workflowsFromSameOwner"
  }
}