n8n-workflows/M6_04d_Lexware_Voucher_Status.json
{"updatedAt":"2026-02-27T23:25:42.567Z","createdAt":"2026-02-18T13:31:05.361Z","id":"pkJmfUhp9VcOHwb8","name":"M6_04d_Lexware_Voucher_Status","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"m6-04d-lexware-voucher-status","responseMode":"responseNode","options":{}},"id":"deda49c0-2e3d-4106-9c97-81941a25205f","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-880,128],"webhookId":"m6-04d-lexware-voucher-status"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst eventId = input.body?.event_id || input.event_id;\nconst projectId = input.body?.project_id || input.project_id;\nconst payload = input.body?.payload || input.payload || {};\n\nconst resourceId = payload.resourceId || '';\n\nreturn {\n  json: {\n    event_id: eventId,\n    project_id: projectId || null,\n    lexware_voucher_id: resourceId,\n    step_key: `lexware_voucher_status:${resourceId}`\n  }\n};"},"id":"2cf2748f-ff94-4107-996d-c291720a17d5","name":"Parse Event Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,128]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n  '{{ $json.step_key }}',\n  {{ $json.project_id ? \"'\" + $json.project_id + \"'::uuid\" : \"NULL::uuid\" }},\n  'LEXWARE_VOUCHER_STATUS'\n);","options":{}},"id":"21028f21-6a08-4e65-98ea-e787b827d536","name":"Claim Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-448,128],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"claimed","leftValue":"={{ $json.claimed }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"b2cc9336-351d-4fad-97ea-224a7b5f223f","name":"Step Claimed?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,128]},{"parameters":{"url":"=https://api.lexware.io/v1/vouchers/{{ $('Parse Event Data').item.json.lexware_voucher_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"fullResponse":true}}}},"id":"ac1d9fff-70a1-42db-af9e-3c92a383048b","name":"Fetch Voucher Detail","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"credentials":{"httpHeaderAuth":{"id":"2skORel5vPmpnHQi","name":"Lexware API"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const resp = $input.first().json;\nconst v = resp.body || resp;\nconst eventData = $('Parse Event Data').first().json;\n\nconst voucherStatus = (v.voucherStatus || '').toLowerCase();\nconst paidAmount = parseFloat(v.paidAmount || 0);\nconst openAmount = parseFloat(v.openAmount || 0);\nconst totalGross = parseFloat(v.totalGrossAmount || 0);\nconst dueDate = v.dueDate ? v.dueDate.substring(0, 10) : null;\n\n// Map Lexware status to BG sync_status\nlet syncStatus = 'synced';\nif (voucherStatus === 'paid' || voucherStatus === 'paidoff') syncStatus = 'paid';\nelse if (voucherStatus === 'overdue') syncStatus = 'overdue';\nelse if (voucherStatus === 'voided') syncStatus = 'voided';\n\nreturn {\n  json: {\n    lexware_voucher_id: eventData.lexware_voucher_id,\n    voucher_status: voucherStatus,\n    paid_amount: paidAmount,\n    open_amount: openAmount,\n    total_gross: totalGross,\n    due_date: dueDate,\n    sync_status: syncStatus\n  }\n};"},"id":"377a2480-e81a-48a8-9c38-e73a1fb428cb","name":"Parse Voucher","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"operation":"executeQuery","query":"UPDATE purchase_invoices SET\n  lexware_sync_status = '{{ $json.sync_status }}',\n  paid_amount = {{ $json.paid_amount }},\n  paid_at = CASE WHEN '{{ $json.sync_status }}' IN ('paid') AND paid_at IS NULL THEN now() ELSE paid_at END\nWHERE lexware_voucher_id = '{{ $json.lexware_voucher_id }}'\nRETURNING id, invoice_number, lexware_sync_status;","options":{}},"id":"bf9568c7-b6c6-480c-a1bd-a1ad2b01638f","name":"Update Purchase Invoice","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT complete_workflow_step('{{ $('Parse Event Data').item.json.step_key }}',\n  jsonb_build_object('voucher_status', '{{ $('Parse Voucher').item.json.voucher_status }}',\n    'paid_amount', {{ $('Parse Voucher').item.json.paid_amount }}));\n\nINSERT INTO lexware_sync_log (sync_direction, entity_type, entity_id, lexware_id, action, sync_status)\nVALUES ('pull', 'voucher',\n  {{ $json.id ? \"'\" + $json.id + \"'::uuid\" : \"NULL\" }},\n  '{{ $('Parse Event Data').item.json.lexware_voucher_id }}',\n  'status_update', 'success');\n\nDO $$ BEGIN\n  UPDATE events SET processed_at = now()\n  WHERE id = '{{ $('Parse Event Data').item.json.event_id }}'::uuid;\nEXCEPTION WHEN invalid_text_representation THEN NULL;\nEND $$;","options":{}},"id":"607baf66-d16c-4b11-9f23-590cf1c7c200","name":"Complete + Log","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[672,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"respondWith":"json","responseBody":"={\"status\":\"success\",\"voucher_updated\":true}","options":{}},"id":"cb340671-b3b1-40e8-b9e2-d23e574dbf88","name":"Respond (Success)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[880,0]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO lexware_sync_log (sync_direction, entity_type, lexware_id, action, sync_status, error_message)\nVALUES ('pull', 'voucher', '{{ $('Parse Event Data').item.json.lexware_voucher_id }}', 'fetch', 'error', 'API call failed');","options":{}},"id":"4d761c8a-0d84-489f-8fba-80ba247d2646","name":"Log Fetch Error","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,240],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"respondWith":"json","responseBody":"={\"status\":\"error\",\"reason\":\"voucher_fetch_failed\"}","options":{"responseCode":500}},"id":"ba46af28-9e08-41f7-8f7b-9d9e1e7fef48","name":"Respond (Error)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[448,240]},{"parameters":{"jsCode":"const claim = $input.first().json;\nreturn { json: { status: 'skipped', reason: claim.current_status === 'DONE' ? 'Already processed' : 'In progress' } };"},"id":"c941aec5-435e-4f21-ba74-2d564e5026b8","name":"Handle Not Claimed","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,368]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"f22269b0-ad69-408e-b858-175798f2ddd6","name":"Respond (Not Claimed)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[224,368]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Event Data","type":"main","index":0}]]},"Parse Event Data":{"main":[[{"node":"Claim Workflow Step","type":"main","index":0}]]},"Claim Workflow Step":{"main":[[{"node":"Step Claimed?","type":"main","index":0}]]},"Step Claimed?":{"main":[[{"node":"Fetch Voucher Detail","type":"main","index":0}],[{"node":"Handle Not Claimed","type":"main","index":0}]]},"Fetch Voucher Detail":{"main":[[{"node":"Parse Voucher","type":"main","index":0}],[{"node":"Log Fetch Error","type":"main","index":0}]]},"Parse Voucher":{"main":[[{"node":"Update Purchase Invoice","type":"main","index":0}]]},"Update Purchase Invoice":{"main":[[{"node":"Complete + Log","type":"main","index":0}]]},"Complete + Log":{"main":[[{"node":"Respond (Success)","type":"main","index":0}]]},"Log Fetch Error":{"main":[[{"node":"Respond (Error)","type":"main","index":0}]]},"Handle Not Claimed":{"main":[[{"node":"Respond (Not Claimed)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true,"timeSavedMode":"fixed","errorWorkflow":"apmJoMCbOchwfqTp","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"ebb4d61e-e91f-455c-9e5e-c59992b5e7ed","activeVersionId":"ebb4d61e-e91f-455c-9e5e-c59992b5e7ed","versionCounter":16,"triggerCount":1,"shared":[{"updatedAt":"2026-02-18T13:31:05.364Z","createdAt":"2026-02-18T13:31:05.364Z","role":"workflow:owner","workflowId":"pkJmfUhp9VcOHwb8","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-18T13:40:15.000Z","createdAt":"2026-02-18T13:40:12.669Z","versionId":"ebb4d61e-e91f-455c-9e5e-c59992b5e7ed","workflowId":"pkJmfUhp9VcOHwb8","nodes":[{"parameters":{"httpMethod":"POST","path":"m6-04d-lexware-voucher-status","responseMode":"responseNode","options":{}},"id":"deda49c0-2e3d-4106-9c97-81941a25205f","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-880,128],"webhookId":"m6-04d-lexware-voucher-status"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst eventId = input.body?.event_id || input.event_id;\nconst projectId = input.body?.project_id || input.project_id;\nconst payload = input.body?.payload || input.payload || {};\n\nconst resourceId = payload.resourceId || '';\n\nreturn {\n  json: {\n    event_id: eventId,\n    project_id: projectId || null,\n    lexware_voucher_id: resourceId,\n    step_key: `lexware_voucher_status:${resourceId}`\n  }\n};"},"id":"2cf2748f-ff94-4107-996d-c291720a17d5","name":"Parse Event Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,128]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n  '{{ $json.step_key }}',\n  {{ $json.project_id ? \"'\" + $json.project_id + \"'::uuid\" : \"NULL::uuid\" }},\n  'LEXWARE_VOUCHER_STATUS'\n);","options":{}},"id":"21028f21-6a08-4e65-98ea-e787b827d536","name":"Claim Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-448,128],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"claimed","leftValue":"={{ $json.claimed }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"b2cc9336-351d-4fad-97ea-224a7b5f223f","name":"Step Claimed?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,128]},{"parameters":{"url":"=https://api.lexware.io/v1/vouchers/{{ $('Parse Event Data').item.json.lexware_voucher_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"fullResponse":true}}}},"id":"ac1d9fff-70a1-42db-af9e-3c92a383048b","name":"Fetch Voucher Detail","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"credentials":{"httpHeaderAuth":{"id":"2skORel5vPmpnHQi","name":"Lexware API"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const resp = $input.first().json;\nconst v = resp.body || resp;\nconst eventData = $('Parse Event Data').first().json;\n\nconst voucherStatus = (v.voucherStatus || '').toLowerCase();\nconst paidAmount = parseFloat(v.paidAmount || 0);\nconst openAmount = parseFloat(v.openAmount || 0);\nconst totalGross = parseFloat(v.totalGrossAmount || 0);\nconst dueDate = v.dueDate ? v.dueDate.substring(0, 10) : null;\n\n// Map Lexware status to BG sync_status\nlet syncStatus = 'synced';\nif (voucherStatus === 'paid' || voucherStatus === 'paidoff') syncStatus = 'paid';\nelse if (voucherStatus === 'overdue') syncStatus = 'overdue';\nelse if (voucherStatus === 'voided') syncStatus = 'voided';\n\nreturn {\n  json: {\n    lexware_voucher_id: eventData.lexware_voucher_id,\n    voucher_status: voucherStatus,\n    paid_amount: paidAmount,\n    open_amount: openAmount,\n    total_gross: totalGross,\n    due_date: dueDate,\n    sync_status: syncStatus\n  }\n};"},"id":"377a2480-e81a-48a8-9c38-e73a1fb428cb","name":"Parse Voucher","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"operation":"executeQuery","query":"UPDATE purchase_invoices SET\n  lexware_sync_status = '{{ $json.sync_status }}',\n  paid_amount = {{ $json.paid_amount }},\n  paid_at = CASE WHEN '{{ $json.sync_status }}' IN ('paid') AND paid_at IS NULL THEN now() ELSE paid_at END\nWHERE lexware_voucher_id = '{{ $json.lexware_voucher_id }}'\nRETURNING id, invoice_number, lexware_sync_status;","options":{}},"id":"bf9568c7-b6c6-480c-a1bd-a1ad2b01638f","name":"Update Purchase Invoice","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT complete_workflow_step('{{ $('Parse Event Data').item.json.step_key }}',\n  jsonb_build_object('voucher_status', '{{ $('Parse Voucher').item.json.voucher_status }}',\n    'paid_amount', {{ $('Parse Voucher').item.json.paid_amount }}));\n\nINSERT INTO lexware_sync_log (sync_direction, entity_type, entity_id, lexware_id, action, sync_status)\nVALUES ('pull', 'voucher',\n  {{ $json.id ? \"'\" + $json.id + \"'::uuid\" : \"NULL\" }},\n  '{{ $('Parse Event Data').item.json.lexware_voucher_id }}',\n  'status_update', 'success');\n\nDO $$ BEGIN\n  UPDATE events SET processed_at = now()\n  WHERE id = '{{ $('Parse Event Data').item.json.event_id }}'::uuid;\nEXCEPTION WHEN invalid_text_representation THEN NULL;\nEND $$;","options":{}},"id":"607baf66-d16c-4b11-9f23-590cf1c7c200","name":"Complete + Log","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[672,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"respondWith":"json","responseBody":"={\"status\":\"success\",\"voucher_updated\":true}","options":{}},"id":"cb340671-b3b1-40e8-b9e2-d23e574dbf88","name":"Respond (Success)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[880,0]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO lexware_sync_log (sync_direction, entity_type, lexware_id, action, sync_status, error_message)\nVALUES ('pull', 'voucher', '{{ $('Parse Event Data').item.json.lexware_voucher_id }}', 'fetch', 'error', 'API call failed');","options":{}},"id":"4d761c8a-0d84-489f-8fba-80ba247d2646","name":"Log Fetch Error","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,240],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"respondWith":"json","responseBody":"={\"status\":\"error\",\"reason\":\"voucher_fetch_failed\"}","options":{"responseCode":500}},"id":"ba46af28-9e08-41f7-8f7b-9d9e1e7fef48","name":"Respond (Error)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[448,240]},{"parameters":{"jsCode":"const claim = $input.first().json;\nreturn { json: { status: 'skipped', reason: claim.current_status === 'DONE' ? 'Already processed' : 'In progress' } };"},"id":"c941aec5-435e-4f21-ba74-2d564e5026b8","name":"Handle Not Claimed","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,368]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"f22269b0-ad69-408e-b858-175798f2ddd6","name":"Respond (Not Claimed)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[224,368]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Event Data","type":"main","index":0}]]},"Parse Event Data":{"main":[[{"node":"Claim Workflow Step","type":"main","index":0}]]},"Claim Workflow Step":{"main":[[{"node":"Step Claimed?","type":"main","index":0}]]},"Step Claimed?":{"main":[[{"node":"Fetch Voucher Detail","type":"main","index":0}],[{"node":"Handle Not Claimed","type":"main","index":0}]]},"Fetch Voucher Detail":{"main":[[{"node":"Parse Voucher","type":"main","index":0}],[{"node":"Log Fetch Error","type":"main","index":0}]]},"Parse Voucher":{"main":[[{"node":"Update Purchase Invoice","type":"main","index":0}]]},"Update Purchase Invoice":{"main":[[{"node":"Complete + Log","type":"main","index":0}]]},"Complete + Log":{"main":[[{"node":"Respond (Success)","type":"main","index":0}]]},"Log Fetch Error":{"main":[[{"node":"Respond (Error)","type":"main","index":0}]]},"Handle Not Claimed":{"main":[[{"node":"Respond (Not Claimed)","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version ebb4d61e","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-18T13:40:15.396Z","id":630,"workflowId":"pkJmfUhp9VcOHwb8","versionId":"ebb4d61e-e91f-455c-9e5e-c59992b5e7ed","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-18T13:40:28.986Z","id":632,"workflowId":"pkJmfUhp9VcOHwb8","versionId":"ebb4d61e-e91f-455c-9e5e-c59992b5e7ed","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:25:42.604Z","id":866,"workflowId":"pkJmfUhp9VcOHwb8","versionId":"ebb4d61e-e91f-455c-9e5e-c59992b5e7ed","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-18T13:40:28.973Z","id":631,"workflowId":"pkJmfUhp9VcOHwb8","versionId":"ebb4d61e-e91f-455c-9e5e-c59992b5e7ed","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:25:42.593Z","id":865,"workflowId":"pkJmfUhp9VcOHwb8","versionId":"ebb4d61e-e91f-455c-9e5e-c59992b5e7ed","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}