n8n-workflows/M6_04a_Lexware_Webhook_Router.json
{"updatedAt":"2026-02-27T23:25:34.701Z","createdAt":"2026-02-18T13:30:23.388Z","id":"RbUQUOpAzYQ4Lsae","name":"M6_04a_Lexware_Webhook_Router","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"lexware-events","options":{}},"id":"085f76cb-6366-4d84-828f-dd2de2f68f41","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-656,128],"webhookId":"lexware-events"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst body = input.body || input;\n\n// Lexware sends: { resourceId, eventType, organizationId, ... }\n// eventType can be \"voucher.changed\", \"payment.changed\", \"invoice.changed\"\n// OR separate: resourceType + eventType\nconst resourceId = body.resourceId || null;\n\n// Handle both formats\nlet resourceType = (body.resourceType || '').toLowerCase();\nlet eventAction = '';\nconst rawEventType = (body.eventType || '').toLowerCase();\n\nif (!resourceType && rawEventType.includes('.')) {\n  var parts = rawEventType.split('.');\n  resourceType = parts[0];\n  eventAction = parts[1];\n} else {\n  eventAction = rawEventType;\n}\n\n// Map to BG event types\nconst typeMap = {\n  'payment': 'LEXWARE_PAYMENT_CHANGED',\n  'invoice': 'LEXWARE_INVOICE_CHANGED',\n  'voucher': 'LEXWARE_VOUCHER_CHANGED'\n};\n\nconst bgEventType = typeMap[resourceType] || ('LEXWARE_' + resourceType.toUpperCase() + '_' + eventAction.toUpperCase());\n\nreturn {\n  json: {\n    resource_id: resourceId,\n    resource_type: resourceType,\n    event_type: eventAction,\n    bg_event_type: bgEventType,\n    is_known_type: !!typeMap[resourceType],\n    raw_payload: body\n  }\n};"},"id":"0af2fe62-7bd9-4a77-a14d-995af9d17911","name":"Parse Callback","type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,128]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"known","leftValue":"={{ $json.is_known_type }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"74b9a9ff-9110-4e6d-8607-33e5deb1f074","name":"Known Type?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,128]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (event_type, payload, source_system, source_flow)\nVALUES (\n  '{{ $json.bg_event_type }}',\n  '{{ JSON.stringify($json.raw_payload) }}'::jsonb,\n  'lexware', 'M6_04a_Lexware_Webhook_Router'\n)\nRETURNING id, event_type::text;","options":{}},"id":"5d9087a9-ec0d-4828-9a8d-4f64dc7e406d","name":"Store Event","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO lexware_sync_log (sync_direction, entity_type, entity_id, lexware_id, action, sync_status)\nVALUES ('pull', '{{ $('Parse Callback').item.json.resource_type }}', NULL,\n  '{{ $('Parse Callback').item.json.resource_id }}',\n  '{{ $('Parse Callback').item.json.event_type }}', 'received');","options":{}},"id":"0bf8cffa-ce88-463e-8be1-12eba9cb77da","name":"Log Sync","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"-- Unknown resource type — log for debugging\nINSERT INTO events (event_type, payload, source_system, source_flow)\nVALUES (\n  '{{ $json.bg_event_type }}',\n  '{{ JSON.stringify($json.raw_payload) }}'::jsonb,\n  'lexware', 'M6_04a_Lexware_Webhook_Router'\n)\nRETURNING id, event_type::text;","options":{}},"id":"7781ebf5-ff51-4c53-87c4-8fd523a3edd0","name":"Store Unknown Event","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,304],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"chatId":"6088921678","text":"=⚠️ *Unbekannter Lexware Callback*\nTyp: `{{ $('Parse Callback').item.json.resource_type }}` / `{{ $('Parse Callback').item.json.event_type }}`\nResource: `{{ $('Parse Callback').item.json.resource_id }}`","additionalFields":{"disable_web_page_preview":true,"parse_mode":"Markdown"}},"id":"47ad319f-24f7-4dff-8a7b-4726832b6a4c","name":"Telegram Unknown","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[224,304],"webhookId":"433608ca-7f8c-4cec-aef2-904ee0b563f7","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Callback","type":"main","index":0}]]},"Parse Callback":{"main":[[{"node":"Known Type?","type":"main","index":0}]]},"Known Type?":{"main":[[{"node":"Store Event","type":"main","index":0}],[{"node":"Store Unknown Event","type":"main","index":0}]]},"Store Event":{"main":[[{"node":"Log Sync","type":"main","index":0}]]},"Store Unknown Event":{"main":[[{"node":"Telegram Unknown","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true,"timeSavedMode":"fixed","errorWorkflow":"apmJoMCbOchwfqTp","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"78ee9223-5934-40b5-aa0e-c56785983ff2","activeVersionId":"78ee9223-5934-40b5-aa0e-c56785983ff2","versionCounter":20,"triggerCount":1,"shared":[{"updatedAt":"2026-02-18T13:30:23.390Z","createdAt":"2026-02-18T13:30:23.390Z","role":"workflow:owner","workflowId":"RbUQUOpAzYQ4Lsae","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-18T14:09:53.000Z","createdAt":"2026-02-18T14:08:12.672Z","versionId":"78ee9223-5934-40b5-aa0e-c56785983ff2","workflowId":"RbUQUOpAzYQ4Lsae","nodes":[{"parameters":{"httpMethod":"POST","path":"lexware-events","options":{}},"id":"085f76cb-6366-4d84-828f-dd2de2f68f41","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-656,128],"webhookId":"lexware-events"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst body = input.body || input;\n\n// Lexware sends: { resourceId, eventType, organizationId, ... }\n// eventType can be \"voucher.changed\", \"payment.changed\", \"invoice.changed\"\n// OR separate: resourceType + eventType\nconst resourceId = body.resourceId || null;\n\n// Handle both formats\nlet resourceType = (body.resourceType || '').toLowerCase();\nlet eventAction = '';\nconst rawEventType = (body.eventType || '').toLowerCase();\n\nif (!resourceType && rawEventType.includes('.')) {\n  var parts = rawEventType.split('.');\n  resourceType = parts[0];\n  eventAction = parts[1];\n} else {\n  eventAction = rawEventType;\n}\n\n// Map to BG event types\nconst typeMap = {\n  'payment': 'LEXWARE_PAYMENT_CHANGED',\n  'invoice': 'LEXWARE_INVOICE_CHANGED',\n  'voucher': 'LEXWARE_VOUCHER_CHANGED'\n};\n\nconst bgEventType = typeMap[resourceType] || ('LEXWARE_' + resourceType.toUpperCase() + '_' + eventAction.toUpperCase());\n\nreturn {\n  json: {\n    resource_id: resourceId,\n    resource_type: resourceType,\n    event_type: eventAction,\n    bg_event_type: bgEventType,\n    is_known_type: !!typeMap[resourceType],\n    raw_payload: body\n  }\n};"},"id":"0af2fe62-7bd9-4a77-a14d-995af9d17911","name":"Parse Callback","type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,128]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"known","leftValue":"={{ $json.is_known_type }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"74b9a9ff-9110-4e6d-8607-33e5deb1f074","name":"Known Type?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,128]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (event_type, payload, source_system, source_flow)\nVALUES (\n  '{{ $json.bg_event_type }}',\n  '{{ JSON.stringify($json.raw_payload) }}'::jsonb,\n  'lexware', 'M6_04a_Lexware_Webhook_Router'\n)\nRETURNING id, event_type::text;","options":{}},"id":"5d9087a9-ec0d-4828-9a8d-4f64dc7e406d","name":"Store Event","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO lexware_sync_log (sync_direction, entity_type, entity_id, lexware_id, action, sync_status)\nVALUES ('pull', '{{ $('Parse Callback').item.json.resource_type }}', NULL,\n  '{{ $('Parse Callback').item.json.resource_id }}',\n  '{{ $('Parse Callback').item.json.event_type }}', 'received');","options":{}},"id":"0bf8cffa-ce88-463e-8be1-12eba9cb77da","name":"Log Sync","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"-- Unknown resource type — log for debugging\nINSERT INTO events (event_type, payload, source_system, source_flow)\nVALUES (\n  '{{ $json.bg_event_type }}',\n  '{{ JSON.stringify($json.raw_payload) }}'::jsonb,\n  'lexware', 'M6_04a_Lexware_Webhook_Router'\n)\nRETURNING id, event_type::text;","options":{}},"id":"7781ebf5-ff51-4c53-87c4-8fd523a3edd0","name":"Store Unknown Event","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,304],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"chatId":"6088921678","text":"=⚠️ *Unbekannter Lexware Callback*\nTyp: `{{ $('Parse Callback').item.json.resource_type }}` / `{{ $('Parse Callback').item.json.event_type }}`\nResource: `{{ $('Parse Callback').item.json.resource_id }}`","additionalFields":{"disable_web_page_preview":true,"parse_mode":"Markdown"}},"id":"47ad319f-24f7-4dff-8a7b-4726832b6a4c","name":"Telegram Unknown","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[224,304],"webhookId":"433608ca-7f8c-4cec-aef2-904ee0b563f7","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Callback","type":"main","index":0}]]},"Parse Callback":{"main":[[{"node":"Known Type?","type":"main","index":0}]]},"Known Type?":{"main":[[{"node":"Store Event","type":"main","index":0}],[{"node":"Store Unknown Event","type":"main","index":0}]]},"Store Event":{"main":[[{"node":"Log Sync","type":"main","index":0}]]},"Store Unknown Event":{"main":[[{"node":"Telegram Unknown","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Fix eventType parsing for dot-separated format","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-18T14:09:53.101Z","id":640,"workflowId":"RbUQUOpAzYQ4Lsae","versionId":"78ee9223-5934-40b5-aa0e-c56785983ff2","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:25:34.752Z","id":860,"workflowId":"RbUQUOpAzYQ4Lsae","versionId":"78ee9223-5934-40b5-aa0e-c56785983ff2","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:25:34.744Z","id":859,"workflowId":"RbUQUOpAzYQ4Lsae","versionId":"78ee9223-5934-40b5-aa0e-c56785983ff2","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}