n8n-workflows/M6_04b_Lexware_Payment_Handler.json
{"updatedAt":"2026-02-27T23:25:36.705Z","createdAt":"2026-02-18T13:30:38.025Z","id":"ORyFbRUD5EpA6uh0","name":"M6_04b_Lexware_Payment_Handler","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"m6-04b-lexware-payment","responseMode":"responseNode","options":{}},"id":"799d37b2-816d-4359-b709-ca1167ea31c9","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1536,240],"webhookId":"m6-04b-lexware-payment"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst eventId = input.body?.event_id || input.event_id;\nconst projectId = input.body?.project_id || input.project_id;\nconst payload = input.body?.payload || input.payload || {};\n\n// From M6_04a: payload contains the raw Lexware callback\nconst resourceId = payload.resourceId || '';\n\nreturn {\n  json: {\n    event_id: eventId,\n    project_id: projectId || null,\n    lexware_resource_id: resourceId,\n    step_key: `lexware_payment:${resourceId}`\n  }\n};"},"id":"0af1271e-d206-4e53-964c-0a831dd1da2d","name":"Parse Event Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1328,240]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n  '{{ $json.step_key }}',\n  {{ $json.project_id ? \"'\" + $json.project_id + \"'::uuid\" : \"NULL::uuid\" }},\n  'LEXWARE_PAYMENT_HANDLER'\n);","options":{}},"id":"8adfeda6-8763-45b4-a294-c53dfb285371","name":"Claim Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1104,240],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"claimed","leftValue":"={{ $json.claimed }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"707c6dd5-a16f-4cb3-aa62-5f4f6404ab76","name":"Step Claimed?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-880,240]},{"parameters":{"url":"=https://api.lexware.io/v1/payments/{{ $('Parse Event Data').item.json.lexware_resource_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"fullResponse":true}}}},"id":"7745e20d-2c54-40b5-8487-f12c8c2827e4","name":"Fetch Payment Detail","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-656,128],"credentials":{"httpHeaderAuth":{"id":"2skORel5vPmpnHQi","name":"Lexware API"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const resp = $input.first().json;\nconst body = resp.body || resp;\n\n// Lexware payment has: id, voucherType, voucherStatus, openAmount, paidAmount, etc.\nconst voucherType = (body.voucherType || '').toLowerCase();\nconst voucherStatus = (body.voucherStatus || '').toLowerCase();\nconst relatedVoucherId = body.relatedVoucherId || body.voucherId || null;\nconst paidAmount = parseFloat(body.paidAmount || body.amount || 0);\nconst isPurchase = voucherType.includes('purchase') || voucherType.includes('voucher');\nconst isSales = voucherType.includes('invoice') || voucherType.includes('sales');\n\nreturn {\n  json: {\n    lexware_payment_id: body.id || $('Parse Event Data').first().json.lexware_resource_id,\n    related_voucher_id: relatedVoucherId,\n    voucher_type: voucherType,\n    voucher_status: voucherStatus,\n    paid_amount: paidAmount,\n    is_purchase: isPurchase,\n    is_sales: isSales,\n    payment_date: body.paymentDate || body.date || null\n  }\n};"},"id":"979713fd-56db-4598-a55b-3da064e3d6f7","name":"Parse Payment","type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,128]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"is-purchase","leftValue":"={{ $json.is_purchase }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"594bb4c0-f762-4aa1-ae6c-b3fffe200537","name":"Purchase or Sales?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,128]},{"parameters":{"operation":"executeQuery","query":"UPDATE purchase_invoices SET\n  paid_amount = {{ $json.paid_amount }},\n  paid_at = CASE WHEN {{ $json.paid_amount }} > 0 AND paid_at IS NULL THEN now() ELSE paid_at END\nWHERE lexware_voucher_id = '{{ $json.related_voucher_id }}'\nRETURNING id, invoice_number, total_gross, paid_amount;","options":{}},"id":"5e970650-76fb-49d1-99ff-5fbe1975e91e","name":"Update Purchase Payment","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE sales_invoices SET\n  paid_amount = {{ $('Parse Payment').item.json.paid_amount }},\n  paid_at = CASE WHEN {{ $('Parse Payment').item.json.paid_amount }} > 0 AND paid_at IS NULL THEN now() ELSE paid_at END,\n  status = CASE\n    WHEN {{ $('Parse Payment').item.json.paid_amount }} >= total_gross THEN 'PAID'::sales_invoice_status\n    WHEN {{ $('Parse Payment').item.json.paid_amount }} > 0 THEN 'OPEN'::sales_invoice_status\n    ELSE status\n  END\nWHERE lexware_invoice_id = '{{ $('Parse Payment').item.json.related_voucher_id }}'\nRETURNING id, invoice_number, total_gross, paid_amount, status::text;","options":{}},"id":"a9fc064d-8015-4c4b-baf1-50078ad5b464","name":"Update Sales Payment","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,240],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT complete_workflow_step('{{ $('Parse Event Data').item.json.step_key }}',\n  jsonb_build_object('paid_amount', {{ $('Parse Payment').item.json.paid_amount }}));\n\nINSERT INTO lexware_sync_log (sync_direction, entity_type, lexware_id, action, sync_status)\nVALUES ('pull', 'payment', '{{ $('Parse Event Data').item.json.lexware_resource_id }}', 'payment_update', 'success');\n\nDO $$ BEGIN\n  UPDATE events SET processed_at = now()\n  WHERE id = '{{ $('Parse Event Data').item.json.event_id }}'::uuid;\nEXCEPTION WHEN invalid_text_representation THEN NULL;\nEND $$;\n\nINSERT INTO events (event_type, project_id, payload, source_system, source_flow)\nVALUES (\n  'LEXWARE_PAYMENT_RECEIVED',\n  {{ $('Parse Event Data').item.json.project_id ? \"'\" + $('Parse Event Data').item.json.project_id + \"'::uuid\" : \"NULL::uuid\" }},\n  jsonb_build_object(\n    'lexware_payment_id', '{{ $('Parse Payment').item.json.lexware_payment_id }}',\n    'paid_amount', {{ $('Parse Payment').item.json.paid_amount }},\n    'voucher_type', '{{ $('Parse Payment').item.json.voucher_type }}'\n  ),\n  'n8n', 'M6_04b_Lexware_Payment_Handler'\n)\nRETURNING id, event_type::text;","options":{}},"id":"f5973ba7-d09d-42b8-8965-76534775c421","name":"Complete + Emit Payment","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,128],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"chatId":"6088921678","text":"=💰 *Lexware Zahlung erkannt*\nTyp: `{{ $('Parse Payment').item.json.voucher_type }}`\nBetrag: {{ $('Parse Payment').item.json.paid_amount }}€","additionalFields":{"disable_web_page_preview":true,"parse_mode":"Markdown"}},"id":"fb14f20b-fbf2-438a-af12-0c0b485b3cf3","name":"Telegram Payment","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[448,128],"webhookId":"80bda930-28d9-427d-a293-3d08a26f837c","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"respondWith":"json","responseBody":"={\"status\":\"success\",\"payment_processed\":true}","options":{}},"id":"58eb777e-fbbd-4995-bc8d-e53811fed491","name":"Respond (Success)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[672,128]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO lexware_sync_log (sync_direction, entity_type, lexware_id, action, sync_status, error_message)\nVALUES ('pull', 'payment', '{{ $('Parse Event Data').item.json.lexware_resource_id }}', 'payment_fetch', 'error', 'API call failed');","options":{}},"id":"83d05d9c-426d-4385-b2ba-fb75936cb25c","name":"Log Fetch Error","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-448,368],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"respondWith":"json","responseBody":"={\"status\":\"error\",\"reason\":\"payment_fetch_failed\"}","options":{"responseCode":500}},"id":"a524b556-3ebe-43e8-85ca-d840434ac24a","name":"Respond (Error)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-224,368]},{"parameters":{"jsCode":"const claim = $input.first().json;\nreturn { json: { status: 'skipped', reason: claim.current_status === 'DONE' ? 'Already processed' : 'In progress' } };"},"id":"a7b98b49-bdbd-472f-9e98-9672e6bd7db1","name":"Handle Not Claimed","type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,576]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"d041a92e-1058-4690-97f2-9b11c2c17c16","name":"Respond (Not Claimed)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-448,576]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Event Data","type":"main","index":0}]]},"Parse Event Data":{"main":[[{"node":"Claim Workflow Step","type":"main","index":0}]]},"Claim Workflow Step":{"main":[[{"node":"Step Claimed?","type":"main","index":0}]]},"Step Claimed?":{"main":[[{"node":"Fetch Payment Detail","type":"main","index":0}],[{"node":"Handle Not Claimed","type":"main","index":0}]]},"Fetch Payment Detail":{"main":[[{"node":"Parse Payment","type":"main","index":0}],[{"node":"Log Fetch Error","type":"main","index":0}]]},"Parse Payment":{"main":[[{"node":"Purchase or Sales?","type":"main","index":0}]]},"Purchase or Sales?":{"main":[[{"node":"Update Purchase Payment","type":"main","index":0}],[{"node":"Update Sales Payment","type":"main","index":0}]]},"Update Purchase Payment":{"main":[[{"node":"Complete + Emit Payment","type":"main","index":0}]]},"Update Sales Payment":{"main":[[{"node":"Complete + Emit Payment","type":"main","index":0}]]},"Complete + Emit Payment":{"main":[[{"node":"Telegram Payment","type":"main","index":0}]]},"Telegram Payment":{"main":[[{"node":"Respond (Success)","type":"main","index":0}]]},"Log Fetch Error":{"main":[[{"node":"Respond (Error)","type":"main","index":0}]]},"Handle Not Claimed":{"main":[[{"node":"Respond (Not Claimed)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true,"timeSavedMode":"fixed","errorWorkflow":"apmJoMCbOchwfqTp","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f67404ac-90ab-418b-9a9a-938a4975a554","activeVersionId":"f67404ac-90ab-418b-9a9a-938a4975a554","versionCounter":20,"triggerCount":1,"shared":[{"updatedAt":"2026-02-18T13:30:38.028Z","createdAt":"2026-02-18T13:30:38.028Z","role":"workflow:owner","workflowId":"ORyFbRUD5EpA6uh0","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-18T13:38:45.000Z","createdAt":"2026-02-18T13:38:42.973Z","versionId":"f67404ac-90ab-418b-9a9a-938a4975a554","workflowId":"ORyFbRUD5EpA6uh0","nodes":[{"parameters":{"httpMethod":"POST","path":"m6-04b-lexware-payment","responseMode":"responseNode","options":{}},"id":"799d37b2-816d-4359-b709-ca1167ea31c9","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1536,240],"webhookId":"m6-04b-lexware-payment"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst eventId = input.body?.event_id || input.event_id;\nconst projectId = input.body?.project_id || input.project_id;\nconst payload = input.body?.payload || input.payload || {};\n\n// From M6_04a: payload contains the raw Lexware callback\nconst resourceId = payload.resourceId || '';\n\nreturn {\n  json: {\n    event_id: eventId,\n    project_id: projectId || null,\n    lexware_resource_id: resourceId,\n    step_key: `lexware_payment:${resourceId}`\n  }\n};"},"id":"0af1271e-d206-4e53-964c-0a831dd1da2d","name":"Parse Event Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1328,240]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n  '{{ $json.step_key }}',\n  {{ $json.project_id ? \"'\" + $json.project_id + \"'::uuid\" : \"NULL::uuid\" }},\n  'LEXWARE_PAYMENT_HANDLER'\n);","options":{}},"id":"8adfeda6-8763-45b4-a294-c53dfb285371","name":"Claim Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1104,240],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"claimed","leftValue":"={{ $json.claimed }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"707c6dd5-a16f-4cb3-aa62-5f4f6404ab76","name":"Step Claimed?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-880,240]},{"parameters":{"url":"=https://api.lexware.io/v1/payments/{{ $('Parse Event Data').item.json.lexware_resource_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"fullResponse":true}}}},"id":"7745e20d-2c54-40b5-8487-f12c8c2827e4","name":"Fetch Payment Detail","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-656,128],"credentials":{"httpHeaderAuth":{"id":"2skORel5vPmpnHQi","name":"Lexware API"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const resp = $input.first().json;\nconst body = resp.body || resp;\n\n// Lexware payment has: id, voucherType, voucherStatus, openAmount, paidAmount, etc.\nconst voucherType = (body.voucherType || '').toLowerCase();\nconst voucherStatus = (body.voucherStatus || '').toLowerCase();\nconst relatedVoucherId = body.relatedVoucherId || body.voucherId || null;\nconst paidAmount = parseFloat(body.paidAmount || body.amount || 0);\nconst isPurchase = voucherType.includes('purchase') || voucherType.includes('voucher');\nconst isSales = voucherType.includes('invoice') || voucherType.includes('sales');\n\nreturn {\n  json: {\n    lexware_payment_id: body.id || $('Parse Event Data').first().json.lexware_resource_id,\n    related_voucher_id: relatedVoucherId,\n    voucher_type: voucherType,\n    voucher_status: voucherStatus,\n    paid_amount: paidAmount,\n    is_purchase: isPurchase,\n    is_sales: isSales,\n    payment_date: body.paymentDate || body.date || null\n  }\n};"},"id":"979713fd-56db-4598-a55b-3da064e3d6f7","name":"Parse Payment","type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,128]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"is-purchase","leftValue":"={{ $json.is_purchase }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"594bb4c0-f762-4aa1-ae6c-b3fffe200537","name":"Purchase or Sales?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,128]},{"parameters":{"operation":"executeQuery","query":"UPDATE purchase_invoices SET\n  paid_amount = {{ $json.paid_amount }},\n  paid_at = CASE WHEN {{ $json.paid_amount }} > 0 AND paid_at IS NULL THEN now() ELSE paid_at END\nWHERE lexware_voucher_id = '{{ $json.related_voucher_id }}'\nRETURNING id, invoice_number, total_gross, paid_amount;","options":{}},"id":"5e970650-76fb-49d1-99ff-5fbe1975e91e","name":"Update Purchase Payment","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE sales_invoices SET\n  paid_amount = {{ $('Parse Payment').item.json.paid_amount }},\n  paid_at = CASE WHEN {{ $('Parse Payment').item.json.paid_amount }} > 0 AND paid_at IS NULL THEN now() ELSE paid_at END,\n  status = CASE\n    WHEN {{ $('Parse Payment').item.json.paid_amount }} >= total_gross THEN 'PAID'::sales_invoice_status\n    WHEN {{ $('Parse Payment').item.json.paid_amount }} > 0 THEN 'OPEN'::sales_invoice_status\n    ELSE status\n  END\nWHERE lexware_invoice_id = '{{ $('Parse Payment').item.json.related_voucher_id }}'\nRETURNING id, invoice_number, total_gross, paid_amount, status::text;","options":{}},"id":"a9fc064d-8015-4c4b-baf1-50078ad5b464","name":"Update Sales Payment","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,240],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT complete_workflow_step('{{ $('Parse Event Data').item.json.step_key }}',\n  jsonb_build_object('paid_amount', {{ $('Parse Payment').item.json.paid_amount }}));\n\nINSERT INTO lexware_sync_log (sync_direction, entity_type, lexware_id, action, sync_status)\nVALUES ('pull', 'payment', '{{ $('Parse Event Data').item.json.lexware_resource_id }}', 'payment_update', 'success');\n\nDO $$ BEGIN\n  UPDATE events SET processed_at = now()\n  WHERE id = '{{ $('Parse Event Data').item.json.event_id }}'::uuid;\nEXCEPTION WHEN invalid_text_representation THEN NULL;\nEND $$;\n\nINSERT INTO events (event_type, project_id, payload, source_system, source_flow)\nVALUES (\n  'LEXWARE_PAYMENT_RECEIVED',\n  {{ $('Parse Event Data').item.json.project_id ? \"'\" + $('Parse Event Data').item.json.project_id + \"'::uuid\" : \"NULL::uuid\" }},\n  jsonb_build_object(\n    'lexware_payment_id', '{{ $('Parse Payment').item.json.lexware_payment_id }}',\n    'paid_amount', {{ $('Parse Payment').item.json.paid_amount }},\n    'voucher_type', '{{ $('Parse Payment').item.json.voucher_type }}'\n  ),\n  'n8n', 'M6_04b_Lexware_Payment_Handler'\n)\nRETURNING id, event_type::text;","options":{}},"id":"f5973ba7-d09d-42b8-8965-76534775c421","name":"Complete + Emit Payment","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,128],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"chatId":"6088921678","text":"=💰 *Lexware Zahlung erkannt*\nTyp: `{{ $('Parse Payment').item.json.voucher_type }}`\nBetrag: {{ $('Parse Payment').item.json.paid_amount }}€","additionalFields":{"disable_web_page_preview":true,"parse_mode":"Markdown"}},"id":"fb14f20b-fbf2-438a-af12-0c0b485b3cf3","name":"Telegram Payment","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[448,128],"webhookId":"80bda930-28d9-427d-a293-3d08a26f837c","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"respondWith":"json","responseBody":"={\"status\":\"success\",\"payment_processed\":true}","options":{}},"id":"58eb777e-fbbd-4995-bc8d-e53811fed491","name":"Respond (Success)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[672,128]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO lexware_sync_log (sync_direction, entity_type, lexware_id, action, sync_status, error_message)\nVALUES ('pull', 'payment', '{{ $('Parse Event Data').item.json.lexware_resource_id }}', 'payment_fetch', 'error', 'API call failed');","options":{}},"id":"83d05d9c-426d-4385-b2ba-fb75936cb25c","name":"Log Fetch Error","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-448,368],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"respondWith":"json","responseBody":"={\"status\":\"error\",\"reason\":\"payment_fetch_failed\"}","options":{"responseCode":500}},"id":"a524b556-3ebe-43e8-85ca-d840434ac24a","name":"Respond (Error)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-224,368]},{"parameters":{"jsCode":"const claim = $input.first().json;\nreturn { json: { status: 'skipped', reason: claim.current_status === 'DONE' ? 'Already processed' : 'In progress' } };"},"id":"a7b98b49-bdbd-472f-9e98-9672e6bd7db1","name":"Handle Not Claimed","type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,576]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"d041a92e-1058-4690-97f2-9b11c2c17c16","name":"Respond (Not Claimed)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-448,576]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Event Data","type":"main","index":0}]]},"Parse Event Data":{"main":[[{"node":"Claim Workflow Step","type":"main","index":0}]]},"Claim Workflow Step":{"main":[[{"node":"Step Claimed?","type":"main","index":0}]]},"Step Claimed?":{"main":[[{"node":"Fetch Payment Detail","type":"main","index":0}],[{"node":"Handle Not Claimed","type":"main","index":0}]]},"Fetch Payment Detail":{"main":[[{"node":"Parse Payment","type":"main","index":0}],[{"node":"Log Fetch Error","type":"main","index":0}]]},"Parse Payment":{"main":[[{"node":"Purchase or Sales?","type":"main","index":0}]]},"Purchase or Sales?":{"main":[[{"node":"Update Purchase Payment","type":"main","index":0}],[{"node":"Update Sales Payment","type":"main","index":0}]]},"Update Purchase Payment":{"main":[[{"node":"Complete + Emit Payment","type":"main","index":0}]]},"Update Sales Payment":{"main":[[{"node":"Complete + Emit Payment","type":"main","index":0}]]},"Complete + Emit Payment":{"main":[[{"node":"Telegram Payment","type":"main","index":0}]]},"Telegram Payment":{"main":[[{"node":"Respond (Success)","type":"main","index":0}]]},"Log Fetch Error":{"main":[[{"node":"Respond (Error)","type":"main","index":0}]]},"Handle Not Claimed":{"main":[[{"node":"Respond (Not Claimed)","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version f67404ac","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-18T13:38:45.091Z","id":624,"workflowId":"ORyFbRUD5EpA6uh0","versionId":"f67404ac-90ab-418b-9a9a-938a4975a554","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-18T13:38:51.148Z","id":626,"workflowId":"ORyFbRUD5EpA6uh0","versionId":"f67404ac-90ab-418b-9a9a-938a4975a554","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:25:36.752Z","id":862,"workflowId":"ORyFbRUD5EpA6uh0","versionId":"f67404ac-90ab-418b-9a9a-938a4975a554","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-18T13:38:51.131Z","id":625,"workflowId":"ORyFbRUD5EpA6uh0","versionId":"f67404ac-90ab-418b-9a9a-938a4975a554","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:25:36.737Z","id":861,"workflowId":"ORyFbRUD5EpA6uh0","versionId":"f67404ac-90ab-418b-9a9a-938a4975a554","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}