n8n-workflows/M6_04c_Lexware_Invoice_Sync.json
{"updatedAt":"2026-02-27T23:25:39.057Z","createdAt":"2026-02-18T13:30:53.745Z","id":"HK788ajphACicmwL","name":"M6_04c_Lexware_Invoice_Sync","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"m6-04c-lexware-invoice-sync","responseMode":"responseNode","options":{}},"id":"6182f784-3f48-487e-a4e6-31bd8a3a1df4","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-880,128],"webhookId":"m6-04c-lexware-invoice-sync"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst eventId = input.body?.event_id || input.event_id;\nconst projectId = input.body?.project_id || input.project_id;\nconst payload = input.body?.payload || input.payload || {};\n\nconst resourceId = payload.resourceId || '';\n\nreturn {\n  json: {\n    event_id: eventId,\n    project_id: projectId || null,\n    lexware_invoice_id: resourceId,\n    step_key: `lexware_invoice_sync:${resourceId}`\n  }\n};"},"id":"c2acab3e-0a44-48c2-a1a0-0b25db37928a","name":"Parse Event Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,128]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n  '{{ $json.step_key }}',\n  {{ $json.project_id ? \"'\" + $json.project_id + \"'::uuid\" : \"NULL::uuid\" }},\n  'LEXWARE_INVOICE_SYNC'\n);","options":{}},"id":"5f67312b-c64e-497a-b82a-0a7be4358d6a","name":"Claim Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-448,128],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"claimed","leftValue":"={{ $json.claimed }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"07fb86ab-6527-4d94-b022-1fd4a1a026cb","name":"Step Claimed?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,128]},{"parameters":{"url":"=https://api.lexware.io/v1/invoices/{{ $('Parse Event Data').item.json.lexware_invoice_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"fullResponse":true}}}},"id":"67cf1ddf-9671-475b-996b-a3407d2e620b","name":"Fetch Invoice Detail","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"credentials":{"httpHeaderAuth":{"id":"2skORel5vPmpnHQi","name":"Lexware API"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const resp = $input.first().json;\nconst inv = resp.body || resp;\nconst eventData = $('Parse Event Data').first().json;\n\n// Extract Lexware invoice fields\nconst invNumber = inv.voucherNumber || inv.invoiceNumber || '';\nconst customerName = inv.address?.name || '';\nconst customerAddr = [inv.address?.street, inv.address?.zip, inv.address?.city].filter(Boolean).join(', ');\nconst totalNet = parseFloat(inv.totalNetAmount || inv.lineItems?.reduce((s,i) => s + (parseFloat(i.netAmount || 0)), 0) || 0);\nconst totalGross = parseFloat(inv.totalGrossAmount || 0);\nconst totalVat = parseFloat(inv.totalTaxAmount || 0);\nconst invoiceDate = inv.voucherDate ? inv.voucherDate.substring(0, 10) : null;\nconst dueDate = inv.dueDate ? inv.dueDate.substring(0, 10) : null;\nconst contactId = inv.contactId || null;\nconst currency = inv.currency || 'EUR';\nconst paidAmount = parseFloat(inv.paidAmount || 0);\n\n// Derive status\nlet status = 'OPEN';\nif (inv.voucherStatus === 'paid' || inv.voucherStatus === 'paidoff') status = 'PAID';\nelse if (inv.voucherStatus === 'overdue') status = 'OVERDUE';\nelse if (inv.voucherStatus === 'voided') status = 'VOIDED';\nelse if (inv.voucherStatus === 'draft') status = 'DRAFT';\n\nreturn {\n  json: {\n    lexware_invoice_id: eventData.lexware_invoice_id,\n    invoice_number: invNumber,\n    customer_name: customerName,\n    customer_address: customerAddr,\n    total_net: totalNet,\n    total_gross: totalGross,\n    total_vat: totalVat,\n    invoice_date: invoiceDate,\n    due_date: dueDate,\n    lexware_contact_id: contactId,\n    currency: currency,\n    paid_amount: paidAmount,\n    status: status,\n    raw_data: inv\n  }\n};"},"id":"94f89b79-7069-45bf-84b6-f9b6a1723b56","name":"Parse Invoice","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO sales_invoices (lexware_invoice_id, invoice_number, customer_name, customer_address,\n  total_net, total_vat, total_gross, invoice_date, due_date, lexware_contact_id,\n  currency, paid_amount, status, lexware_raw_data, lexware_synced_at, lexware_sync_status, source)\nVALUES (\n  '{{ $json.lexware_invoice_id }}',\n  '{{ $json.invoice_number }}',\n  '{{ $json.customer_name.replace(/'/g, \"''\") }}',\n  '{{ $json.customer_address.replace(/'/g, \"''\") }}',\n  {{ $json.total_net }},\n  {{ $json.total_vat }},\n  {{ $json.total_gross }},\n  {{ $json.invoice_date ? \"'\" + $json.invoice_date + \"'\" : \"NULL\" }},\n  {{ $json.due_date ? \"'\" + $json.due_date + \"'\" : \"NULL\" }},\n  {{ $json.lexware_contact_id ? \"'\" + $json.lexware_contact_id + \"'\" : \"NULL\" }},\n  '{{ $json.currency }}',\n  {{ $json.paid_amount }},\n  '{{ $json.status }}'::sales_invoice_status,\n  '{{ JSON.stringify($json.raw_data).replace(/'/g, \"''\") }}'::jsonb,\n  now(), 'synced', 'lexware'\n)\nON CONFLICT (lexware_invoice_id) WHERE lexware_invoice_id IS NOT NULL\nDO UPDATE SET\n  invoice_number = EXCLUDED.invoice_number,\n  customer_name = EXCLUDED.customer_name,\n  customer_address = EXCLUDED.customer_address,\n  total_net = EXCLUDED.total_net,\n  total_vat = EXCLUDED.total_vat,\n  total_gross = EXCLUDED.total_gross,\n  invoice_date = EXCLUDED.invoice_date,\n  due_date = EXCLUDED.due_date,\n  paid_amount = EXCLUDED.paid_amount,\n  status = EXCLUDED.status,\n  lexware_raw_data = EXCLUDED.lexware_raw_data,\n  lexware_synced_at = now(),\n  updated_at = now()\nRETURNING id, invoice_number, status::text;","options":{}},"id":"7167285e-b702-472b-9110-bf59a51319dd","name":"Upsert Sales Invoice","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT complete_workflow_step('{{ $('Parse Event Data').item.json.step_key }}',\n  jsonb_build_object('invoice_number', '{{ $json.invoice_number }}', 'status', '{{ $json.status }}'));\n\nINSERT INTO lexware_sync_log (sync_direction, entity_type, entity_id, lexware_id, action, sync_status)\nVALUES ('pull', 'sales_invoice', '{{ $json.id }}'::uuid,\n  '{{ $('Parse Event Data').item.json.lexware_invoice_id }}', 'upsert', 'success');\n\nDO $$ BEGIN\n  UPDATE events SET processed_at = now()\n  WHERE id = '{{ $('Parse Event Data').item.json.event_id }}'::uuid;\nEXCEPTION WHEN invalid_text_representation THEN NULL;\nEND $$;\n\nINSERT INTO events (event_type, project_id, payload, source_system, source_flow, reference_table, reference_id)\nVALUES (\n  'LEXWARE_INVOICE_SYNCED',\n  {{ $('Parse Event Data').item.json.project_id ? \"'\" + $('Parse Event Data').item.json.project_id + \"'::uuid\" : \"NULL::uuid\" }},\n  jsonb_build_object(\n    'lexware_invoice_id', '{{ $('Parse Event Data').item.json.lexware_invoice_id }}',\n    'invoice_number', '{{ $json.invoice_number }}',\n    'status', '{{ $json.status }}'\n  ),\n  'n8n', 'M6_04c_Lexware_Invoice_Sync',\n  'sales_invoices', '{{ $json.id }}'::uuid\n)\nRETURNING id, event_type::text;","options":{}},"id":"a7a5e86c-fdd5-434b-bd6c-b693d9780815","name":"Complete + Emit Synced","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[672,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"respondWith":"json","responseBody":"={\"status\":\"success\",\"invoice_synced\":true}","options":{}},"id":"7c49c98a-72cd-423c-9896-231c68bb967a","name":"Respond (Success)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[880,0]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO lexware_sync_log (sync_direction, entity_type, lexware_id, action, sync_status, error_message)\nVALUES ('pull', 'sales_invoice', '{{ $('Parse Event Data').item.json.lexware_invoice_id }}', 'fetch', 'error', 'API call failed');","options":{}},"id":"f4eef38d-8401-4d0e-b68a-08dff001d5a0","name":"Log Fetch Error","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,240],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"respondWith":"json","responseBody":"={\"status\":\"error\",\"reason\":\"invoice_fetch_failed\"}","options":{"responseCode":500}},"id":"035d099b-397d-4b93-baad-122607afc633","name":"Respond (Error)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[448,240]},{"parameters":{"jsCode":"const claim = $input.first().json;\nreturn { json: { status: 'skipped', reason: claim.current_status === 'DONE' ? 'Already processed' : 'In progress' } };"},"id":"7be1c316-5d02-4af3-bcaf-655e3af14e27","name":"Handle Not Claimed","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,368]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"ed26d430-5c9a-4817-b693-0ff16ba44777","name":"Respond (Not Claimed)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[224,368]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Event Data","type":"main","index":0}]]},"Parse Event Data":{"main":[[{"node":"Claim Workflow Step","type":"main","index":0}]]},"Claim Workflow Step":{"main":[[{"node":"Step Claimed?","type":"main","index":0}]]},"Step Claimed?":{"main":[[{"node":"Fetch Invoice Detail","type":"main","index":0}],[{"node":"Handle Not Claimed","type":"main","index":0}]]},"Fetch Invoice Detail":{"main":[[{"node":"Parse Invoice","type":"main","index":0}],[{"node":"Log Fetch Error","type":"main","index":0}]]},"Parse Invoice":{"main":[[{"node":"Upsert Sales Invoice","type":"main","index":0}]]},"Upsert Sales Invoice":{"main":[[{"node":"Complete + Emit Synced","type":"main","index":0}]]},"Complete + Emit Synced":{"main":[[{"node":"Respond (Success)","type":"main","index":0}]]},"Log Fetch Error":{"main":[[{"node":"Respond (Error)","type":"main","index":0}]]},"Handle Not Claimed":{"main":[[{"node":"Respond (Not Claimed)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true,"timeSavedMode":"fixed","errorWorkflow":"apmJoMCbOchwfqTp","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"a8efa95f-8c61-4c7e-bf2c-6fb64b6c38f6","activeVersionId":"a8efa95f-8c61-4c7e-bf2c-6fb64b6c38f6","versionCounter":16,"triggerCount":1,"shared":[{"updatedAt":"2026-02-18T13:30:53.747Z","createdAt":"2026-02-18T13:30:53.747Z","role":"workflow:owner","workflowId":"HK788ajphACicmwL","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-18T13:39:11.000Z","createdAt":"2026-02-18T13:39:05.836Z","versionId":"a8efa95f-8c61-4c7e-bf2c-6fb64b6c38f6","workflowId":"HK788ajphACicmwL","nodes":[{"parameters":{"httpMethod":"POST","path":"m6-04c-lexware-invoice-sync","responseMode":"responseNode","options":{}},"id":"6182f784-3f48-487e-a4e6-31bd8a3a1df4","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-880,128],"webhookId":"m6-04c-lexware-invoice-sync"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst eventId = input.body?.event_id || input.event_id;\nconst projectId = input.body?.project_id || input.project_id;\nconst payload = input.body?.payload || input.payload || {};\n\nconst resourceId = payload.resourceId || '';\n\nreturn {\n  json: {\n    event_id: eventId,\n    project_id: projectId || null,\n    lexware_invoice_id: resourceId,\n    step_key: `lexware_invoice_sync:${resourceId}`\n  }\n};"},"id":"c2acab3e-0a44-48c2-a1a0-0b25db37928a","name":"Parse Event Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,128]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM claim_workflow_step(\n  '{{ $json.step_key }}',\n  {{ $json.project_id ? \"'\" + $json.project_id + \"'::uuid\" : \"NULL::uuid\" }},\n  'LEXWARE_INVOICE_SYNC'\n);","options":{}},"id":"5f67312b-c64e-497a-b82a-0a7be4358d6a","name":"Claim Workflow Step","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-448,128],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"claimed","leftValue":"={{ $json.claimed }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"07fb86ab-6527-4d94-b022-1fd4a1a026cb","name":"Step Claimed?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,128]},{"parameters":{"url":"=https://api.lexware.io/v1/invoices/{{ $('Parse Event Data').item.json.lexware_invoice_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"fullResponse":true}}}},"id":"67cf1ddf-9671-475b-996b-a3407d2e620b","name":"Fetch Invoice Detail","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"credentials":{"httpHeaderAuth":{"id":"2skORel5vPmpnHQi","name":"Lexware API"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const resp = $input.first().json;\nconst inv = resp.body || resp;\nconst eventData = $('Parse Event Data').first().json;\n\n// Extract Lexware invoice fields\nconst invNumber = inv.voucherNumber || inv.invoiceNumber || '';\nconst customerName = inv.address?.name || '';\nconst customerAddr = [inv.address?.street, inv.address?.zip, inv.address?.city].filter(Boolean).join(', ');\nconst totalNet = parseFloat(inv.totalNetAmount || inv.lineItems?.reduce((s,i) => s + (parseFloat(i.netAmount || 0)), 0) || 0);\nconst totalGross = parseFloat(inv.totalGrossAmount || 0);\nconst totalVat = parseFloat(inv.totalTaxAmount || 0);\nconst invoiceDate = inv.voucherDate ? inv.voucherDate.substring(0, 10) : null;\nconst dueDate = inv.dueDate ? inv.dueDate.substring(0, 10) : null;\nconst contactId = inv.contactId || null;\nconst currency = inv.currency || 'EUR';\nconst paidAmount = parseFloat(inv.paidAmount || 0);\n\n// Derive status\nlet status = 'OPEN';\nif (inv.voucherStatus === 'paid' || inv.voucherStatus === 'paidoff') status = 'PAID';\nelse if (inv.voucherStatus === 'overdue') status = 'OVERDUE';\nelse if (inv.voucherStatus === 'voided') status = 'VOIDED';\nelse if (inv.voucherStatus === 'draft') status = 'DRAFT';\n\nreturn {\n  json: {\n    lexware_invoice_id: eventData.lexware_invoice_id,\n    invoice_number: invNumber,\n    customer_name: customerName,\n    customer_address: customerAddr,\n    total_net: totalNet,\n    total_gross: totalGross,\n    total_vat: totalVat,\n    invoice_date: invoiceDate,\n    due_date: dueDate,\n    lexware_contact_id: contactId,\n    currency: currency,\n    paid_amount: paidAmount,\n    status: status,\n    raw_data: inv\n  }\n};"},"id":"94f89b79-7069-45bf-84b6-f9b6a1723b56","name":"Parse Invoice","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO sales_invoices (lexware_invoice_id, invoice_number, customer_name, customer_address,\n  total_net, total_vat, total_gross, invoice_date, due_date, lexware_contact_id,\n  currency, paid_amount, status, lexware_raw_data, lexware_synced_at, lexware_sync_status, source)\nVALUES (\n  '{{ $json.lexware_invoice_id }}',\n  '{{ $json.invoice_number }}',\n  '{{ $json.customer_name.replace(/'/g, \"''\") }}',\n  '{{ $json.customer_address.replace(/'/g, \"''\") }}',\n  {{ $json.total_net }},\n  {{ $json.total_vat }},\n  {{ $json.total_gross }},\n  {{ $json.invoice_date ? \"'\" + $json.invoice_date + \"'\" : \"NULL\" }},\n  {{ $json.due_date ? \"'\" + $json.due_date + \"'\" : \"NULL\" }},\n  {{ $json.lexware_contact_id ? \"'\" + $json.lexware_contact_id + \"'\" : \"NULL\" }},\n  '{{ $json.currency }}',\n  {{ $json.paid_amount }},\n  '{{ $json.status }}'::sales_invoice_status,\n  '{{ JSON.stringify($json.raw_data).replace(/'/g, \"''\") }}'::jsonb,\n  now(), 'synced', 'lexware'\n)\nON CONFLICT (lexware_invoice_id) WHERE lexware_invoice_id IS NOT NULL\nDO UPDATE SET\n  invoice_number = EXCLUDED.invoice_number,\n  customer_name = EXCLUDED.customer_name,\n  customer_address = EXCLUDED.customer_address,\n  total_net = EXCLUDED.total_net,\n  total_vat = EXCLUDED.total_vat,\n  total_gross = EXCLUDED.total_gross,\n  invoice_date = EXCLUDED.invoice_date,\n  due_date = EXCLUDED.due_date,\n  paid_amount = EXCLUDED.paid_amount,\n  status = EXCLUDED.status,\n  lexware_raw_data = EXCLUDED.lexware_raw_data,\n  lexware_synced_at = now(),\n  updated_at = now()\nRETURNING id, invoice_number, status::text;","options":{}},"id":"7167285e-b702-472b-9110-bf59a51319dd","name":"Upsert Sales Invoice","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT complete_workflow_step('{{ $('Parse Event Data').item.json.step_key }}',\n  jsonb_build_object('invoice_number', '{{ $json.invoice_number }}', 'status', '{{ $json.status }}'));\n\nINSERT INTO lexware_sync_log (sync_direction, entity_type, entity_id, lexware_id, action, sync_status)\nVALUES ('pull', 'sales_invoice', '{{ $json.id }}'::uuid,\n  '{{ $('Parse Event Data').item.json.lexware_invoice_id }}', 'upsert', 'success');\n\nDO $$ BEGIN\n  UPDATE events SET processed_at = now()\n  WHERE id = '{{ $('Parse Event Data').item.json.event_id }}'::uuid;\nEXCEPTION WHEN invalid_text_representation THEN NULL;\nEND $$;\n\nINSERT INTO events (event_type, project_id, payload, source_system, source_flow, reference_table, reference_id)\nVALUES (\n  'LEXWARE_INVOICE_SYNCED',\n  {{ $('Parse Event Data').item.json.project_id ? \"'\" + $('Parse Event Data').item.json.project_id + \"'::uuid\" : \"NULL::uuid\" }},\n  jsonb_build_object(\n    'lexware_invoice_id', '{{ $('Parse Event Data').item.json.lexware_invoice_id }}',\n    'invoice_number', '{{ $json.invoice_number }}',\n    'status', '{{ $json.status }}'\n  ),\n  'n8n', 'M6_04c_Lexware_Invoice_Sync',\n  'sales_invoices', '{{ $json.id }}'::uuid\n)\nRETURNING id, event_type::text;","options":{}},"id":"a7a5e86c-fdd5-434b-bd6c-b693d9780815","name":"Complete + Emit Synced","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[672,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"respondWith":"json","responseBody":"={\"status\":\"success\",\"invoice_synced\":true}","options":{}},"id":"7c49c98a-72cd-423c-9896-231c68bb967a","name":"Respond (Success)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[880,0]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO lexware_sync_log (sync_direction, entity_type, lexware_id, action, sync_status, error_message)\nVALUES ('pull', 'sales_invoice', '{{ $('Parse Event Data').item.json.lexware_invoice_id }}', 'fetch', 'error', 'API call failed');","options":{}},"id":"f4eef38d-8401-4d0e-b68a-08dff001d5a0","name":"Log Fetch Error","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,240],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"respondWith":"json","responseBody":"={\"status\":\"error\",\"reason\":\"invoice_fetch_failed\"}","options":{"responseCode":500}},"id":"035d099b-397d-4b93-baad-122607afc633","name":"Respond (Error)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[448,240]},{"parameters":{"jsCode":"const claim = $input.first().json;\nreturn { json: { status: 'skipped', reason: claim.current_status === 'DONE' ? 'Already processed' : 'In progress' } };"},"id":"7be1c316-5d02-4af3-bcaf-655e3af14e27","name":"Handle Not Claimed","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,368]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"ed26d430-5c9a-4817-b693-0ff16ba44777","name":"Respond (Not Claimed)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[224,368]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Event Data","type":"main","index":0}]]},"Parse Event Data":{"main":[[{"node":"Claim Workflow Step","type":"main","index":0}]]},"Claim Workflow Step":{"main":[[{"node":"Step Claimed?","type":"main","index":0}]]},"Step Claimed?":{"main":[[{"node":"Fetch Invoice Detail","type":"main","index":0}],[{"node":"Handle Not Claimed","type":"main","index":0}]]},"Fetch Invoice Detail":{"main":[[{"node":"Parse Invoice","type":"main","index":0}],[{"node":"Log Fetch Error","type":"main","index":0}]]},"Parse Invoice":{"main":[[{"node":"Upsert Sales Invoice","type":"main","index":0}]]},"Upsert Sales Invoice":{"main":[[{"node":"Complete + Emit Synced","type":"main","index":0}]]},"Complete + Emit Synced":{"main":[[{"node":"Respond (Success)","type":"main","index":0}]]},"Log Fetch Error":{"main":[[{"node":"Respond (Error)","type":"main","index":0}]]},"Handle Not Claimed":{"main":[[{"node":"Respond (Not Claimed)","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version a8efa95f","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-18T13:39:11.321Z","id":627,"workflowId":"HK788ajphACicmwL","versionId":"a8efa95f-8c61-4c7e-bf2c-6fb64b6c38f6","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-18T13:39:18.140Z","id":629,"workflowId":"HK788ajphACicmwL","versionId":"a8efa95f-8c61-4c7e-bf2c-6fb64b6c38f6","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:25:39.088Z","id":864,"workflowId":"HK788ajphACicmwL","versionId":"a8efa95f-8c61-4c7e-bf2c-6fb64b6c38f6","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-18T13:39:18.123Z","id":628,"workflowId":"HK788ajphACicmwL","versionId":"a8efa95f-8c61-4c7e-bf2c-6fb64b6c38f6","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:25:39.080Z","id":863,"workflowId":"HK788ajphACicmwL","versionId":"a8efa95f-8c61-4c7e-bf2c-6fb64b6c38f6","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}