n8n-workflows/M6_10_Lexware_Reconciliation.json
{"updatedAt":"2026-03-20T07:54:58.215Z","createdAt":"2026-03-20T07:53:55.272Z","id":"D7IYZ6HXEo4lFO03","name":"M6_10_Lexware_Reconciliation","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"id":"bd0f1460-d9a2-452d-97e6-287b9b9b6fca","name":"⏰ Daily 06:00 Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"notes":"Täglich 06:00 Europe/Berlin — Lexware ↔ DB Abgleich"},{"parameters":{"url":"https://api.lexoffice.io/v1/voucherlist","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"voucherType","value":"purchaseinvoice"},{"name":"voucherStatus","value":"open,paid,overdue"},{"name":"voucherDateFrom","value":"2026-01-01"}]},"options":{"timeout":30000}},"id":"5678c778-7cbc-4212-b956-4576c746a2c3","name":"📥 Fetch Lexware Vouchers","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"credentials":{"httpHeaderAuth":{"id":"2skORel5vPmpnHQi","name":"Lexware API"}},"onError":"continueErrorOutput","notes":"GET voucherlist — purchaseinvoice ab 2026-01-01"},{"parameters":{"operation":"executeQuery","query":"SELECT \n  id::text,\n  invoice_number,\n  supplier_id::text,\n  invoice_date::text,\n  subtotal_net::float as subtotal_net,\n  total_gross::float as total_gross,\n  status::text,\n  paid_amount::float,\n  due_date::text,\n  lexware_voucher_id,\n  lexware_synced_at::text,\n  lexware_forwarded_at::text,\n  pdf_storage_path,\n  invoice_type,\n  email_from\nFROM purchase_invoices\nWHERE invoice_date >= '2026-01-01'\nORDER BY invoice_date DESC;","options":{}},"id":"c8d2184f-9643-4f96-ad06-3563c82f3519","name":"📥 Fetch DB Invoices","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[400,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Alle purchase_invoices ab 2026-01-01"},{"parameters":{"jsCode":"// Lexware vouchers from API\nconst lexwareRaw = $('📥 Fetch Lexware Vouchers').first().json;\nconst lexwareVouchers = lexwareRaw.content || lexwareRaw.results || lexwareRaw || [];\n\n// DB invoices\nconst dbInvoices = $('📥 Fetch DB Invoices').all().map(i => i.json);\n\n// Build lookup maps\nconst lexwareByNumber = {};\nconst lexwareById = {};\nfor (const v of (Array.isArray(lexwareVouchers) ? lexwareVouchers : [])) {\n  const num = v.voucherNumber || v.invoiceNumber || '';\n  if (num) lexwareByNumber[num] = v;\n  if (v.id) lexwareById[v.id] = v;\n}\n\nconst dbByNumber = {};\nconst dbByLexwareId = {};\nfor (const inv of dbInvoices) {\n  if (inv.invoice_number) dbByNumber[inv.invoice_number] = inv;\n  if (inv.lexware_voucher_id) dbByLexwareId[inv.lexware_voucher_id] = inv;\n}\n\nconst results = {\n  synced: [],        // a) In beiden — Status/Payment sync\n  missing_lexware: [], // b) In DB aber NICHT in Lexware → nochmal senden\n  lexware_only: [],  // c) In Lexware aber NICHT in DB → Info loggen\n  errors: [],\n  total_lexware: Array.isArray(lexwareVouchers) ? lexwareVouchers.length : 0,\n  total_db: dbInvoices.length\n};\n\n// a) Match and sync: Lexware wins\nfor (const inv of dbInvoices) {\n  let lexwareMatch = null;\n\n  // Match by lexware_voucher_id first\n  if (inv.lexware_voucher_id && lexwareById[inv.lexware_voucher_id]) {\n    lexwareMatch = lexwareById[inv.lexware_voucher_id];\n  }\n  // Then by invoice_number\n  else if (inv.invoice_number && lexwareByNumber[inv.invoice_number]) {\n    lexwareMatch = lexwareByNumber[inv.invoice_number];\n  }\n\n  if (lexwareMatch) {\n    const lexStatus = lexwareMatch.voucherStatus || lexwareMatch.status || '';\n    const lexPaidAmount = lexwareMatch.paidAmount || lexwareMatch.totalGrossAmount || 0;\n    const lexDueDate = lexwareMatch.dueDate || '';\n\n    // Map Lexware status to our status\n    let newStatus = inv.status;\n    if (lexStatus === 'paid') newStatus = 'PAID';\n    else if (lexStatus === 'overdue') newStatus = 'OVERDUE';\n    else if (lexStatus === 'open') newStatus = 'APPROVED';\n\n    const needsUpdate = (newStatus !== inv.status) ||\n                        (lexPaidAmount !== inv.paid_amount);\n\n    if (needsUpdate) {\n      results.synced.push({\n        db_id: inv.id,\n        invoice_number: inv.invoice_number,\n        old_status: inv.status,\n        new_status: newStatus,\n        paid_amount: lexPaidAmount,\n        due_date: lexDueDate,\n        lexware_id: lexwareMatch.id || ''\n      });\n    }\n  } else {\n    // b) In DB but not in Lexware\n    if (inv.invoice_type !== 'credit_note') { // Don't resend credit notes\n      results.missing_lexware.push({\n        db_id: inv.id,\n        invoice_number: inv.invoice_number,\n        total_gross: inv.total_gross,\n        pdf_storage_path: inv.pdf_storage_path,\n        email_from: inv.email_from,\n        lexware_forwarded_at: inv.lexware_forwarded_at\n      });\n    }\n  }\n}\n\n// c) In Lexware but not in DB\nfor (const v of (Array.isArray(lexwareVouchers) ? lexwareVouchers : [])) {\n  const num = v.voucherNumber || v.invoiceNumber || '';\n  const id = v.id || '';\n  if (num && !dbByNumber[num] && !dbByLexwareId[id]) {\n    results.lexware_only.push({\n      lexware_id: id,\n      voucher_number: num,\n      amount: v.totalGrossAmount || v.totalAmount || 0,\n      status: v.voucherStatus || ''\n    });\n  }\n}\n\nreturn { json: results };"},"id":"a15efa7d-a94a-470b-9448-4df32a0cf893","name":"🔄 Reconcile","type":"n8n-nodes-base.code","typeVersion":2,"position":[608,0],"notes":"Vergleicht Lexware ↔ DB: synced, missing, lexware_only"},{"parameters":{"jsCode":"const reconcileData = $('🔄 Reconcile').first().json;\nconst synced = reconcileData.synced || [];\n\nif (synced.length === 0) {\n  return { json: { query: 'SELECT 1 -- nothing to sync', count: 0 } };\n}\n\nconst updates = synced.map(s => {\n  const status = s.new_status.replace(/'/g, \"''\");\n  const lexId = (s.lexware_id || '').replace(/'/g, \"''\");\n  return `UPDATE purchase_invoices SET status = '${status}'::purchase_invoice_status, paid_amount = ${s.paid_amount}, lexware_voucher_id = NULLIF('${lexId}', ''), lexware_synced_at = now(), updated_at = now() WHERE id = '${s.db_id}'::uuid;`;\n}).join('\\n');\n\nreturn { json: { query: updates, count: synced.length } };"},"id":"41f8e290-100a-4f75-9e03-b82f67c7ad64","name":"📝 Build Sync Query","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,0],"notes":"Baut UPDATE-Statements für alle geänderten Belege"},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"id":"4ac31b4c-3728-43e3-b589-ba3febe978d0","name":"📝 Execute Sync","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1008,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Führt die Status-Updates in der DB aus"},{"parameters":{"jsCode":"const reconcileData = $('🔄 Reconcile').first().json;\nconst missing = (reconcileData.missing_lexware || [])\n  .filter(m => !m.lexware_forwarded_at && m.pdf_storage_path);\n\nif (missing.length === 0) {\n  return [{ json: { action: 'none', message: 'Keine fehlenden Belege zum Nachsenden' } }];\n}\n\n// Maximal 5 pro Tag resenden um Spam zu vermeiden\nconst toResend = missing.slice(0, 5);\n\n// Logge nur — das eigentliche Senden macht M6_01 beim nächsten Durchlauf\nreturn toResend.map(m => ({\n  json: {\n    action: 'flag_for_resend',\n    db_id: m.db_id,\n    invoice_number: m.invoice_number,\n    total_gross: m.total_gross,\n    pdf_storage_path: m.pdf_storage_path,\n    email_from: m.email_from\n  }\n}));"},"id":"0f1b3ee9-0cc2-4d8a-b005-9d3bdfc31956","name":"📧 Resend Missing to Lexware","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,0],"notes":"Identifiziert max 5 Belege die noch nie an Lexware weitergeleitet wurden"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (event_type, payload, source_system, source_flow, idempotency_key)\nVALUES (\n  'RECONCILIATION_COMPLETED',\n  jsonb_build_object(\n    'total_lexware', {{ $('🔄 Reconcile').first().json.total_lexware }},\n    'total_db', {{ $('🔄 Reconcile').first().json.total_db }},\n    'synced_count', {{ $('🔄 Reconcile').first().json.synced.length }},\n    'missing_count', {{ $('🔄 Reconcile').first().json.missing_lexware.length }},\n    'lexware_only_count', {{ $('🔄 Reconcile').first().json.lexware_only.length }},\n    'errors_count', {{ $('🔄 Reconcile').first().json.errors.length }},\n    'run_date', '{{ $now.format(\"yyyy-MM-dd\") }}'\n  ),\n  'n8n',\n  'M6_10_Lexware_Reconciliation',\n  'reconciliation_{{ $now.format(\"yyyy-MM-dd\") }}'\n)\nON CONFLICT (idempotency_key) DO NOTHING\nRETURNING id::text;","options":{}},"id":"c2d576d9-e2ab-4829-89b9-252ad105aa3b","name":"📢 Log Reconciliation Event","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1408,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Schreibt RECONCILIATION_COMPLETED Event mit Idempotenz-Key pro Tag"},{"parameters":{"chatId":"6088921678","text":"=📊 *Beleg-Abgleich 06:00*\n\nGesamt: {{ $('🔄 Reconcile').first().json.total_lexware }} Lexware / {{ $('🔄 Reconcile').first().json.total_db }} DB\nNeu gesynct: {{ $('🔄 Reconcile').first().json.synced.length }}\nNachzusenden: {{ $('🔄 Reconcile').first().json.missing_lexware.length }}\nNur Lexware: {{ $('🔄 Reconcile').first().json.lexware_only.length }}\nFehler: {{ $('🔄 Reconcile').first().json.errors.length }}","additionalFields":{"parse_mode":"Markdown"}},"id":"81d0a89a-fa18-44f4-994e-4e5f94d508ff","name":"📱 Telegram Report","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1600,0],"webhookId":"a9ae069f-56aa-435f-bfb5-2ba48a401d88","credentials":{"telegramApi":{"id":"9LYsjZyHCeBlzSS1","name":"Telegram account"}},"onError":"continueRegularOutput","notes":"Sendet tägliche Zusammenfassung an GF-Chat"}],"connections":{"⏰ Daily 06:00 Trigger":{"main":[[{"node":"📥 Fetch Lexware Vouchers","type":"main","index":0}]]},"📥 Fetch Lexware Vouchers":{"main":[[{"node":"📥 Fetch DB Invoices","type":"main","index":0}]]},"📥 Fetch DB Invoices":{"main":[[{"node":"🔄 Reconcile","type":"main","index":0}]]},"🔄 Reconcile":{"main":[[{"node":"📝 Build Sync Query","type":"main","index":0}]]},"📝 Build Sync Query":{"main":[[{"node":"📝 Execute Sync","type":"main","index":0}]]},"📝 Execute Sync":{"main":[[{"node":"📧 Resend Missing to Lexware","type":"main","index":0}]]},"📧 Resend Missing to Lexware":{"main":[[{"node":"📢 Log Reconciliation Event","type":"main","index":0}]]},"📢 Log Reconciliation Event":{"main":[[{"node":"📱 Telegram Report","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true,"timeSavedMode":"fixed","errorWorkflow":"zAFieMcnwATMcHhY","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:⏰ Daily 06:00 Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"56226f28-1435-4f77-b752-21f323b8f28b","activeVersionId":"56226f28-1435-4f77-b752-21f323b8f28b","versionCounter":14,"triggerCount":1,"shared":[{"updatedAt":"2026-03-20T07:53:55.277Z","createdAt":"2026-03-20T07:53:55.277Z","role":"workflow:owner","workflowId":"D7IYZ6HXEo4lFO03","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-20T07:54:49.000Z","createdAt":"2026-03-20T07:54:42.079Z","versionId":"56226f28-1435-4f77-b752-21f323b8f28b","workflowId":"D7IYZ6HXEo4lFO03","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"id":"bd0f1460-d9a2-452d-97e6-287b9b9b6fca","name":"⏰ Daily 06:00 Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"notes":"Täglich 06:00 Europe/Berlin — Lexware ↔ DB Abgleich"},{"parameters":{"url":"https://api.lexoffice.io/v1/voucherlist","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"voucherType","value":"purchaseinvoice"},{"name":"voucherStatus","value":"open,paid,overdue"},{"name":"voucherDateFrom","value":"2026-01-01"}]},"options":{"timeout":30000}},"id":"5678c778-7cbc-4212-b956-4576c746a2c3","name":"📥 Fetch Lexware Vouchers","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"credentials":{"httpHeaderAuth":{"id":"2skORel5vPmpnHQi","name":"Lexware API"}},"onError":"continueErrorOutput","notes":"GET voucherlist — purchaseinvoice ab 2026-01-01"},{"parameters":{"operation":"executeQuery","query":"SELECT \n  id::text,\n  invoice_number,\n  supplier_id::text,\n  invoice_date::text,\n  subtotal_net::float as subtotal_net,\n  total_gross::float as total_gross,\n  status::text,\n  paid_amount::float,\n  due_date::text,\n  lexware_voucher_id,\n  lexware_synced_at::text,\n  lexware_forwarded_at::text,\n  pdf_storage_path,\n  invoice_type,\n  email_from\nFROM purchase_invoices\nWHERE invoice_date >= '2026-01-01'\nORDER BY invoice_date DESC;","options":{}},"id":"c8d2184f-9643-4f96-ad06-3563c82f3519","name":"📥 Fetch DB Invoices","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[400,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Alle purchase_invoices ab 2026-01-01"},{"parameters":{"jsCode":"// Lexware vouchers from API\nconst lexwareRaw = $('📥 Fetch Lexware Vouchers').first().json;\nconst lexwareVouchers = lexwareRaw.content || lexwareRaw.results || lexwareRaw || [];\n\n// DB invoices\nconst dbInvoices = $('📥 Fetch DB Invoices').all().map(i => i.json);\n\n// Build lookup maps\nconst lexwareByNumber = {};\nconst lexwareById = {};\nfor (const v of (Array.isArray(lexwareVouchers) ? lexwareVouchers : [])) {\n  const num = v.voucherNumber || v.invoiceNumber || '';\n  if (num) lexwareByNumber[num] = v;\n  if (v.id) lexwareById[v.id] = v;\n}\n\nconst dbByNumber = {};\nconst dbByLexwareId = {};\nfor (const inv of dbInvoices) {\n  if (inv.invoice_number) dbByNumber[inv.invoice_number] = inv;\n  if (inv.lexware_voucher_id) dbByLexwareId[inv.lexware_voucher_id] = inv;\n}\n\nconst results = {\n  synced: [],        // a) In beiden — Status/Payment sync\n  missing_lexware: [], // b) In DB aber NICHT in Lexware → nochmal senden\n  lexware_only: [],  // c) In Lexware aber NICHT in DB → Info loggen\n  errors: [],\n  total_lexware: Array.isArray(lexwareVouchers) ? lexwareVouchers.length : 0,\n  total_db: dbInvoices.length\n};\n\n// a) Match and sync: Lexware wins\nfor (const inv of dbInvoices) {\n  let lexwareMatch = null;\n\n  // Match by lexware_voucher_id first\n  if (inv.lexware_voucher_id && lexwareById[inv.lexware_voucher_id]) {\n    lexwareMatch = lexwareById[inv.lexware_voucher_id];\n  }\n  // Then by invoice_number\n  else if (inv.invoice_number && lexwareByNumber[inv.invoice_number]) {\n    lexwareMatch = lexwareByNumber[inv.invoice_number];\n  }\n\n  if (lexwareMatch) {\n    const lexStatus = lexwareMatch.voucherStatus || lexwareMatch.status || '';\n    const lexPaidAmount = lexwareMatch.paidAmount || lexwareMatch.totalGrossAmount || 0;\n    const lexDueDate = lexwareMatch.dueDate || '';\n\n    // Map Lexware status to our status\n    let newStatus = inv.status;\n    if (lexStatus === 'paid') newStatus = 'PAID';\n    else if (lexStatus === 'overdue') newStatus = 'OVERDUE';\n    else if (lexStatus === 'open') newStatus = 'APPROVED';\n\n    const needsUpdate = (newStatus !== inv.status) ||\n                        (lexPaidAmount !== inv.paid_amount);\n\n    if (needsUpdate) {\n      results.synced.push({\n        db_id: inv.id,\n        invoice_number: inv.invoice_number,\n        old_status: inv.status,\n        new_status: newStatus,\n        paid_amount: lexPaidAmount,\n        due_date: lexDueDate,\n        lexware_id: lexwareMatch.id || ''\n      });\n    }\n  } else {\n    // b) In DB but not in Lexware\n    if (inv.invoice_type !== 'credit_note') { // Don't resend credit notes\n      results.missing_lexware.push({\n        db_id: inv.id,\n        invoice_number: inv.invoice_number,\n        total_gross: inv.total_gross,\n        pdf_storage_path: inv.pdf_storage_path,\n        email_from: inv.email_from,\n        lexware_forwarded_at: inv.lexware_forwarded_at\n      });\n    }\n  }\n}\n\n// c) In Lexware but not in DB\nfor (const v of (Array.isArray(lexwareVouchers) ? lexwareVouchers : [])) {\n  const num = v.voucherNumber || v.invoiceNumber || '';\n  const id = v.id || '';\n  if (num && !dbByNumber[num] && !dbByLexwareId[id]) {\n    results.lexware_only.push({\n      lexware_id: id,\n      voucher_number: num,\n      amount: v.totalGrossAmount || v.totalAmount || 0,\n      status: v.voucherStatus || ''\n    });\n  }\n}\n\nreturn { json: results };"},"id":"a15efa7d-a94a-470b-9448-4df32a0cf893","name":"🔄 Reconcile","type":"n8n-nodes-base.code","typeVersion":2,"position":[608,0],"notes":"Vergleicht Lexware ↔ DB: synced, missing, lexware_only"},{"parameters":{"jsCode":"const reconcileData = $('🔄 Reconcile').first().json;\nconst synced = reconcileData.synced || [];\n\nif (synced.length === 0) {\n  return { json: { query: 'SELECT 1 -- nothing to sync', count: 0 } };\n}\n\nconst updates = synced.map(s => {\n  const status = s.new_status.replace(/'/g, \"''\");\n  const lexId = (s.lexware_id || '').replace(/'/g, \"''\");\n  return `UPDATE purchase_invoices SET status = '${status}'::purchase_invoice_status, paid_amount = ${s.paid_amount}, lexware_voucher_id = NULLIF('${lexId}', ''), lexware_synced_at = now(), updated_at = now() WHERE id = '${s.db_id}'::uuid;`;\n}).join('\\n');\n\nreturn { json: { query: updates, count: synced.length } };"},"id":"41f8e290-100a-4f75-9e03-b82f67c7ad64","name":"📝 Build Sync Query","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,0],"notes":"Baut UPDATE-Statements für alle geänderten Belege"},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"id":"4ac31b4c-3728-43e3-b589-ba3febe978d0","name":"📝 Execute Sync","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1008,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Führt die Status-Updates in der DB aus"},{"parameters":{"jsCode":"const reconcileData = $('🔄 Reconcile').first().json;\nconst missing = (reconcileData.missing_lexware || [])\n  .filter(m => !m.lexware_forwarded_at && m.pdf_storage_path);\n\nif (missing.length === 0) {\n  return [{ json: { action: 'none', message: 'Keine fehlenden Belege zum Nachsenden' } }];\n}\n\n// Maximal 5 pro Tag resenden um Spam zu vermeiden\nconst toResend = missing.slice(0, 5);\n\n// Logge nur — das eigentliche Senden macht M6_01 beim nächsten Durchlauf\nreturn toResend.map(m => ({\n  json: {\n    action: 'flag_for_resend',\n    db_id: m.db_id,\n    invoice_number: m.invoice_number,\n    total_gross: m.total_gross,\n    pdf_storage_path: m.pdf_storage_path,\n    email_from: m.email_from\n  }\n}));"},"id":"0f1b3ee9-0cc2-4d8a-b005-9d3bdfc31956","name":"📧 Resend Missing to Lexware","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,0],"notes":"Identifiziert max 5 Belege die noch nie an Lexware weitergeleitet wurden"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (event_type, payload, source_system, source_flow, idempotency_key)\nVALUES (\n  'RECONCILIATION_COMPLETED',\n  jsonb_build_object(\n    'total_lexware', {{ $('🔄 Reconcile').first().json.total_lexware }},\n    'total_db', {{ $('🔄 Reconcile').first().json.total_db }},\n    'synced_count', {{ $('🔄 Reconcile').first().json.synced.length }},\n    'missing_count', {{ $('🔄 Reconcile').first().json.missing_lexware.length }},\n    'lexware_only_count', {{ $('🔄 Reconcile').first().json.lexware_only.length }},\n    'errors_count', {{ $('🔄 Reconcile').first().json.errors.length }},\n    'run_date', '{{ $now.format(\"yyyy-MM-dd\") }}'\n  ),\n  'n8n',\n  'M6_10_Lexware_Reconciliation',\n  'reconciliation_{{ $now.format(\"yyyy-MM-dd\") }}'\n)\nON CONFLICT (idempotency_key) DO NOTHING\nRETURNING id::text;","options":{}},"id":"c2d576d9-e2ab-4829-89b9-252ad105aa3b","name":"📢 Log Reconciliation Event","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1408,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"notes":"Schreibt RECONCILIATION_COMPLETED Event mit Idempotenz-Key pro Tag"},{"parameters":{"chatId":"6088921678","text":"=📊 *Beleg-Abgleich 06:00*\n\nGesamt: {{ $('🔄 Reconcile').first().json.total_lexware }} Lexware / {{ $('🔄 Reconcile').first().json.total_db }} DB\nNeu gesynct: {{ $('🔄 Reconcile').first().json.synced.length }}\nNachzusenden: {{ $('🔄 Reconcile').first().json.missing_lexware.length }}\nNur Lexware: {{ $('🔄 Reconcile').first().json.lexware_only.length }}\nFehler: {{ $('🔄 Reconcile').first().json.errors.length }}","additionalFields":{"parse_mode":"Markdown"}},"id":"81d0a89a-fa18-44f4-994e-4e5f94d508ff","name":"📱 Telegram Report","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1600,0],"webhookId":"a9ae069f-56aa-435f-bfb5-2ba48a401d88","credentials":{"telegramApi":{"id":"9LYsjZyHCeBlzSS1","name":"Telegram account"}},"onError":"continueRegularOutput","notes":"Sendet tägliche Zusammenfassung an GF-Chat"}],"connections":{"⏰ Daily 06:00 Trigger":{"main":[[{"node":"📥 Fetch Lexware Vouchers","type":"main","index":0}]]},"📥 Fetch Lexware Vouchers":{"main":[[{"node":"📥 Fetch DB Invoices","type":"main","index":0}]]},"📥 Fetch DB Invoices":{"main":[[{"node":"🔄 Reconcile","type":"main","index":0}]]},"🔄 Reconcile":{"main":[[{"node":"📝 Build Sync Query","type":"main","index":0}]]},"📝 Build Sync Query":{"main":[[{"node":"📝 Execute Sync","type":"main","index":0}]]},"📝 Execute Sync":{"main":[[{"node":"📧 Resend Missing to Lexware","type":"main","index":0}]]},"📧 Resend Missing to Lexware":{"main":[[{"node":"📢 Log Reconciliation Event","type":"main","index":0}]]},"📢 Log Reconciliation Event":{"main":[[{"node":"📱 Telegram Report","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version 56226f28","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-03-20T07:54:49.822Z","id":992,"workflowId":"D7IYZ6HXEo4lFO03","versionId":"56226f28-1435-4f77-b752-21f323b8f28b","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-03-20T07:54:58.259Z","id":994,"workflowId":"D7IYZ6HXEo4lFO03","versionId":"56226f28-1435-4f77-b752-21f323b8f28b","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-03-20T07:54:58.245Z","id":993,"workflowId":"D7IYZ6HXEo4lFO03","versionId":"56226f28-1435-4f77-b752-21f323b8f28b","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}