n8n-workflows/MX_01_Error_Handler_v2.json
{"updatedAt":"2026-02-27T23:24:08.845Z","createdAt":"2026-02-26T07:12:30.250Z","id":"zAFieMcnwATMcHhY","name":"MX_01_Error_Handler_v2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-720,144],"id":"6682fdd9-3301-410c-ab5e-e85c7511b1d6","name":"Error Trigger"},{"parameters":{"jsCode":"const execution = $json.execution || {};\nconst workflow = $json.workflow || {};\nconst error = execution.error || {};\n\nconst workflowName = workflow.name || 'Unknown';\nconst workflowId = workflow.id || '';\nconst errorMessage = error.message || error.description || 'Unknown error';\nconst errorStack = error.stack || '';\nconst executionUrl = execution.url || '';\nconst executionId = execution.id || '';\nconst lastNode = execution.lastNodeExecuted || '';\nconst nodeName = error.node?.name || lastNode;\nconst triggerType = execution.executionContext?.source || execution.mode || 'unknown';\nconst triggerNode = execution.executionContext?.triggerNode?.name || '';\n\n// --- LOOP DETECTION ---\nconst isLoop = workflowName.includes('MX_00_Event_Router');\n\n// --- TRANSIENT ERROR CLASSIFICATION ---\nconst transientPatterns = [\n  'connection timed out',\n  'econnreset',\n  'econnrefused',\n  'eai_again',\n  'unable to check out connection',\n  'failed to subscribe to tenant',\n  'overloaded',\n  'overloaded_error',\n  'status code 429',\n  'status code 502',\n  'status code 503',\n  'status code 529',\n  'etimedout',\n  'socket hang up',\n  'network timeout',\n  'request timeout',\n  'too many requests',\n  'service unavailable',\n  'bad gateway'\n];\n\nconst errorLower = (errorMessage + ' ' + (error.description || '')).toLowerCase();\nconst isTransient = transientPatterns.some(p => errorLower.includes(p));\n\n// --- CATEGORY ---\nlet category;\nif (isLoop) {\n  category = 'loop';\n} else if (isTransient) {\n  category = 'transient';\n} else {\n  category = 'persistent';\n}\n\nreturn {\n  json: {\n    workflow_name: workflowName,\n    workflow_id: workflowId,\n    execution_id: executionId,\n    execution_url: executionUrl,\n    error_message: errorMessage,\n    error_stack: errorStack,\n    error_node: nodeName,\n    trigger_type: triggerType,\n    trigger_node: triggerNode,\n    is_loop: isLoop,\n    is_transient: isTransient,\n    category: category,\n    raw_payload: JSON.stringify($json)\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,144],"id":"b8517fdb-e2b9-493d-a56b-044788472334","name":"Classify Error"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"is-loop","leftValue":"={{ $json.is_loop }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-240,144],"id":"72127380-79bc-403a-ad65-570a5aa650a4","name":"Is Loop?"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (event_type, source_system, source_flow, error_message, error_stack, payload, processed_at)\nVALUES (\n  'WORKFLOW_ERROR',\n  'n8n',\n  $1,\n  $2,\n  $3,\n  $4::jsonb,\n  NOW()\n)\nRETURNING id;","options":{"queryReplacement":"={{ [$json.workflow_name, $json.error_message, $json.error_stack, $json.raw_payload] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[0,0],"id":"c4d5b1f2-3ead-4714-acec-edc830d8a4b4","name":"Store Processed (Loop)","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (event_type, source_system, source_flow, error_message, error_stack, payload, processed_at)\nVALUES (\n  'WORKFLOW_ERROR',\n  'n8n',\n  $1,\n  $2,\n  $3,\n  $4::jsonb,\n  NOW()\n)\nRETURNING id;","options":{"queryReplacement":"={{ [$json.workflow_name, $json.error_message, $json.error_stack, $json.raw_payload] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[0,288],"id":"e87fe4ae-58cb-424e-97bb-311cd191a2d9","name":"Store Event","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*) as recent_count\nFROM events\nWHERE event_type::text = 'WORKFLOW_ERROR'\n  AND source_flow = $1\n  AND created_at > NOW() - INTERVAL '30 minutes';","options":{"queryReplacement":"={{ [$('Classify Error').first().json.workflow_name] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[240,288],"id":"a20f50b1-cdf4-4435-8cda-1a1ea0712465","name":"Check Duplicates","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"should-notify","leftValue":"={{ $json.recent_count }}","rightValue":3,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[480,288],"id":"25dbca1e-cdae-4c01-822b-0e8141f82385","name":"Should Notify?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"is-transient","leftValue":"={{ $('Classify Error').first().json.is_transient }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[720,208],"id":"dcfa9b75-079d-431b-82f9-e2989cd5a9d3","name":"Is Transient?"},{"parameters":{"chatId":"6088921678","text":"=⚠️ *Transient Error*\n\nWorkflow: `{{ $('Classify Error').first().json.workflow_name }}`\nNode: `{{ $('Classify Error').first().json.error_node }}`\nFehler: {{ $('Classify Error').first().json.error_message }}\n\n_Wird beim naechsten Durchlauf automatisch wiederholt._","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[960,112],"id":"f0717b01-b538-4fcf-a498-97346e46d437","name":"Telegram Info","webhookId":"5adc5cb3-00d2-4680-93ce-f088d1ae84c5","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"chatId":"6088921678","text":"=🚨 *WORKFLOW FEHLER*\n\nWorkflow: `{{ $('Classify Error').first().json.workflow_name }}`\nNode: `{{ $('Classify Error').first().json.error_node }}`\nFehler: {{ $('Classify Error').first().json.error_message }}\n\nLink: {{ $('Classify Error').first().json.execution_url }}\n\n⚠️ _Manuelles Eingreifen noetig!_","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[960,304],"id":"3122cf4c-600f-420b-9cc7-a234429a33be","name":"Telegram Alert","webhookId":"301a9ab2-bad4-45e5-9092-832eee8f4bcd","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"jsCode":"// Duplicate suppressed - more than 3 errors from same workflow in 30 min\nreturn [{ json: { status: 'suppressed', workflow: $('Classify Error').first().json.workflow_name } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,400],"id":"c73b8ce4-e7d7-4ac6-9d5c-4f133faed362","name":"Suppressed"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-704,352],"id":"dcc9adb0-7ae4-438c-9a59-6a44cd535ff9","name":"When chat message received","webhookId":"e0c5b70a-d34b-4a1c-80f3-083363d0d499"}],"connections":{"Error Trigger":{"main":[[{"node":"Classify Error","type":"main","index":0}]]},"Classify Error":{"main":[[{"node":"Is Loop?","type":"main","index":0}]]},"Is Loop?":{"main":[[{"node":"Store Processed (Loop)","type":"main","index":0}],[{"node":"Store Event","type":"main","index":0}]]},"Store Event":{"main":[[{"node":"Check Duplicates","type":"main","index":0}]]},"Check Duplicates":{"main":[[{"node":"Should Notify?","type":"main","index":0}]]},"Should Notify?":{"main":[[{"node":"Is Transient?","type":"main","index":0}],[{"node":"Suppressed","type":"main","index":0}]]},"Is Transient?":{"main":[[{"node":"Telegram Info","type":"main","index":0}],[{"node":"Telegram Alert","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true,"timeSavedMode":"fixed","errorWorkflow":"zAFieMcnwATMcHhY","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b5ea6313-a823-4ff9-bb02-acbdedd4e5b4","activeVersionId":"b5ea6313-a823-4ff9-bb02-acbdedd4e5b4","versionCounter":31,"triggerCount":1,"shared":[{"updatedAt":"2026-02-26T07:12:30.253Z","createdAt":"2026-02-26T07:12:30.253Z","role":"workflow:owner","workflowId":"zAFieMcnwATMcHhY","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-26T07:14:55.000Z","createdAt":"2026-02-26T07:14:54.175Z","versionId":"b5ea6313-a823-4ff9-bb02-acbdedd4e5b4","workflowId":"zAFieMcnwATMcHhY","nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-720,144],"id":"6682fdd9-3301-410c-ab5e-e85c7511b1d6","name":"Error Trigger"},{"parameters":{"jsCode":"const execution = $json.execution || {};\nconst workflow = $json.workflow || {};\nconst error = execution.error || {};\n\nconst workflowName = workflow.name || 'Unknown';\nconst workflowId = workflow.id || '';\nconst errorMessage = error.message || error.description || 'Unknown error';\nconst errorStack = error.stack || '';\nconst executionUrl = execution.url || '';\nconst executionId = execution.id || '';\nconst lastNode = execution.lastNodeExecuted || '';\nconst nodeName = error.node?.name || lastNode;\nconst triggerType = execution.executionContext?.source || execution.mode || 'unknown';\nconst triggerNode = execution.executionContext?.triggerNode?.name || '';\n\n// --- LOOP DETECTION ---\nconst isLoop = workflowName.includes('MX_00_Event_Router');\n\n// --- TRANSIENT ERROR CLASSIFICATION ---\nconst transientPatterns = [\n  'connection timed out',\n  'econnreset',\n  'econnrefused',\n  'eai_again',\n  'unable to check out connection',\n  'failed to subscribe to tenant',\n  'overloaded',\n  'overloaded_error',\n  'status code 429',\n  'status code 502',\n  'status code 503',\n  'status code 529',\n  'etimedout',\n  'socket hang up',\n  'network timeout',\n  'request timeout',\n  'too many requests',\n  'service unavailable',\n  'bad gateway'\n];\n\nconst errorLower = (errorMessage + ' ' + (error.description || '')).toLowerCase();\nconst isTransient = transientPatterns.some(p => errorLower.includes(p));\n\n// --- CATEGORY ---\nlet category;\nif (isLoop) {\n  category = 'loop';\n} else if (isTransient) {\n  category = 'transient';\n} else {\n  category = 'persistent';\n}\n\nreturn {\n  json: {\n    workflow_name: workflowName,\n    workflow_id: workflowId,\n    execution_id: executionId,\n    execution_url: executionUrl,\n    error_message: errorMessage,\n    error_stack: errorStack,\n    error_node: nodeName,\n    trigger_type: triggerType,\n    trigger_node: triggerNode,\n    is_loop: isLoop,\n    is_transient: isTransient,\n    category: category,\n    raw_payload: JSON.stringify($json)\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,144],"id":"b8517fdb-e2b9-493d-a56b-044788472334","name":"Classify Error"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"is-loop","leftValue":"={{ $json.is_loop }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-240,144],"id":"72127380-79bc-403a-ad65-570a5aa650a4","name":"Is Loop?"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (event_type, source_system, source_flow, error_message, error_stack, payload, processed_at)\nVALUES (\n  'WORKFLOW_ERROR',\n  'n8n',\n  $1,\n  $2,\n  $3,\n  $4::jsonb,\n  NOW()\n)\nRETURNING id;","options":{"queryReplacement":"={{ [$json.workflow_name, $json.error_message, $json.error_stack, $json.raw_payload] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[0,0],"id":"c4d5b1f2-3ead-4714-acec-edc830d8a4b4","name":"Store Processed (Loop)","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (event_type, source_system, source_flow, error_message, error_stack, payload, processed_at)\nVALUES (\n  'WORKFLOW_ERROR',\n  'n8n',\n  $1,\n  $2,\n  $3,\n  $4::jsonb,\n  NOW()\n)\nRETURNING id;","options":{"queryReplacement":"={{ [$json.workflow_name, $json.error_message, $json.error_stack, $json.raw_payload] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[0,288],"id":"e87fe4ae-58cb-424e-97bb-311cd191a2d9","name":"Store Event","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*) as recent_count\nFROM events\nWHERE event_type::text = 'WORKFLOW_ERROR'\n  AND source_flow = $1\n  AND created_at > NOW() - INTERVAL '30 minutes';","options":{"queryReplacement":"={{ [$('Classify Error').first().json.workflow_name] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[240,288],"id":"a20f50b1-cdf4-4435-8cda-1a1ea0712465","name":"Check Duplicates","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"should-notify","leftValue":"={{ $json.recent_count }}","rightValue":3,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[480,288],"id":"25dbca1e-cdae-4c01-822b-0e8141f82385","name":"Should Notify?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"is-transient","leftValue":"={{ $('Classify Error').first().json.is_transient }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[720,208],"id":"dcfa9b75-079d-431b-82f9-e2989cd5a9d3","name":"Is Transient?"},{"parameters":{"chatId":"6088921678","text":"=⚠️ *Transient Error*\n\nWorkflow: `{{ $('Classify Error').first().json.workflow_name }}`\nNode: `{{ $('Classify Error').first().json.error_node }}`\nFehler: {{ $('Classify Error').first().json.error_message }}\n\n_Wird beim naechsten Durchlauf automatisch wiederholt._","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[960,112],"id":"f0717b01-b538-4fcf-a498-97346e46d437","name":"Telegram Info","webhookId":"5adc5cb3-00d2-4680-93ce-f088d1ae84c5","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"chatId":"6088921678","text":"=🚨 *WORKFLOW FEHLER*\n\nWorkflow: `{{ $('Classify Error').first().json.workflow_name }}`\nNode: `{{ $('Classify Error').first().json.error_node }}`\nFehler: {{ $('Classify Error').first().json.error_message }}\n\nLink: {{ $('Classify Error').first().json.execution_url }}\n\n⚠️ _Manuelles Eingreifen noetig!_","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[960,304],"id":"3122cf4c-600f-420b-9cc7-a234429a33be","name":"Telegram Alert","webhookId":"301a9ab2-bad4-45e5-9092-832eee8f4bcd","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"jsCode":"// Duplicate suppressed - more than 3 errors from same workflow in 30 min\nreturn [{ json: { status: 'suppressed', workflow: $('Classify Error').first().json.workflow_name } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,400],"id":"c73b8ce4-e7d7-4ac6-9d5c-4f133faed362","name":"Suppressed"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-704,352],"id":"dcc9adb0-7ae4-438c-9a59-6a44cd535ff9","name":"When chat message received","webhookId":"e0c5b70a-d34b-4a1c-80f3-083363d0d499"}],"connections":{"Error Trigger":{"main":[[{"node":"Classify Error","type":"main","index":0}]]},"Classify Error":{"main":[[{"node":"Is Loop?","type":"main","index":0}]]},"Is Loop?":{"main":[[{"node":"Store Processed (Loop)","type":"main","index":0}],[{"node":"Store Event","type":"main","index":0}]]},"Store Event":{"main":[[{"node":"Check Duplicates","type":"main","index":0}]]},"Check Duplicates":{"main":[[{"node":"Should Notify?","type":"main","index":0}]]},"Should Notify?":{"main":[[{"node":"Is Transient?","type":"main","index":0}],[{"node":"Suppressed","type":"main","index":0}]]},"Is Transient?":{"main":[[{"node":"Telegram Info","type":"main","index":0}],[{"node":"Telegram Alert","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version b5ea6313","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-26T07:14:55.607Z","id":811,"workflowId":"zAFieMcnwATMcHhY","versionId":"b5ea6313-a823-4ff9-bb02-acbdedd4e5b4","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-26T07:15:04.440Z","id":813,"workflowId":"zAFieMcnwATMcHhY","versionId":"b5ea6313-a823-4ff9-bb02-acbdedd4e5b4","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:24:08.924Z","id":832,"workflowId":"zAFieMcnwATMcHhY","versionId":"b5ea6313-a823-4ff9-bb02-acbdedd4e5b4","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-26T07:15:04.423Z","id":812,"workflowId":"zAFieMcnwATMcHhY","versionId":"b5ea6313-a823-4ff9-bb02-acbdedd4e5b4","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:24:08.871Z","id":831,"workflowId":"zAFieMcnwATMcHhY","versionId":"b5ea6313-a823-4ff9-bb02-acbdedd4e5b4","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}