n8n-workflows/MX_02_Folder_Manager.json
{"updatedAt":"2026-01-03T12:27:15.591Z","createdAt":"2026-01-02T10:10:24.129Z","id":"ZcAhUCdouxnfP4HB","name":"MX_02_Folder_Manager","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"mx-02-folder-manager","responseMode":"responseNode","options":{}},"id":"e0ed1693-fce2-4887-bafe-456d1e1d6bb8","name":"📥 Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1312,944],"webhookId":"mx-02-folder-manager"},{"parameters":{"jsCode":"// Parse input and build folder_key\nconst input = $input.first().json;\nconst body = input.body || input;\n\nconst folderType = body.folder_type;\nconst year = body.year || null;\nconst month = body.month || null;\n\n// Build folder_key based on type\nlet folderKey = '';\nlet folderName = '';\n\nswitch (folderType) {\n  case 'project_root':\n    folderKey = 'project:root';\n    folderName = 'Projekte';\n    break;\n  case 'project_year':\n    if (!year) throw new Error('year required for project_year');\n    folderKey = `project:${year}`;\n    folderName = year;\n    break;\n  case 'buchhaltung_root':\n    folderKey = 'buchhaltung:root';\n    folderName = 'VERARBEITET';\n    break;\n  case 'buchhaltung_year':\n    if (!year) throw new Error('year required for buchhaltung_year');\n    folderKey = `buchhaltung:${year}`;\n    folderName = year;\n    break;\n  case 'buchhaltung_month':\n    if (!year || !month) throw new Error('year and month required for buchhaltung_month');\n    folderKey = `buchhaltung:${year}:${month}`;\n    folderName = month;\n    break;\n  default:\n    throw new Error(`Unknown folder_type: ${folderType}`);\n}\n\nreturn {\n  json: {\n    folder_type: folderType,\n    folder_key: folderKey,\n    folder_name: folderName,\n    year: year,\n    month: month\n  }\n};"},"id":"f4a66593-aeb7-4c87-b9c7-29d3de86a6f2","name":"🔧 Parse Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,944]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM get_folder_from_registry('{{ $json.folder_key }}');","options":{}},"id":"fc1fe4f2-71c0-4204-a231-bb114120d549","name":"🔍 Lookup Target","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1760,944],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"found-check","leftValue":"={{ $json.found }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"0b03df9a-895e-4e42-9b4f-c7f3d8def003","name":"❓ Target Found?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1984,944]},{"parameters":{"jsCode":"// Target folder found - return immediately\nconst lookup = $('🔍 Lookup Target').first().json;\nconst parsed = $('🔧 Parse Input').first().json;\n\nreturn {\n  json: {\n    folder_id: lookup.folder_id,\n    full_path: lookup.full_path,\n    folder_key: parsed.folder_key,\n    folder_type: parsed.folder_type,\n    exists: true,\n    created: false,\n    parent_created: false,\n    message: 'Folder found in registry'\n  }\n};"},"id":"23747320-4e2e-4171-bab9-5c1e7c25863e","name":"✅ Return Existing","type":"n8n-nodes-base.code","typeVersion":2,"position":[2192,816]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM get_parent_info('{{ $('🔧 Parse Input').first().json.folder_type }}', '{{ $('🔧 Parse Input').first().json.year }}');","options":{}},"id":"bba4a7e2-a44b-46d3-ad16-424b3a1e819c","name":"🔍 Get Parent For Search","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2192,1056],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"url":"https://www.googleapis.com/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=name = '{{ $('🔧 Parse Input').first().json.folder_name }}' and '{{ $json.parent_folder_id }}' in parents and mimeType = 'application/vnd.google-apps.folder' and trashed = false"},{"name":"supportsAllDrives","value":"true"},{"name":"includeItemsFromAllDrives","value":"true"},{"name":"fields","value":"files(id,name)"}]},"options":{}},"id":"6c297627-0c8e-47fd-99ca-46e1abededab","name":"🔎 Search Drive Fallback","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2416,1056],"credentials":{"googleDriveOAuth2Api":{"id":"aYft6Y1rBlcl2pcf","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"drive-found","leftValue":"={{ $json.files?.length > 0 }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"8eca0804-5df2-4ab1-893f-74a019d21a7d","name":"❓ Found in Drive?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2640,1056]},{"parameters":{"jsCode":"// Folder found in Drive but not in Registry - register it!\nconst parsed = $('🔧 Parse Input').first().json;\nconst parentInfo = $('🔍 Get Parent For Search').first().json;\nconst driveResult = $('🔎 Search Drive Fallback').first().json;\n\nconst foundFolder = driveResult.files[0];\n\n// Build full_path\nconst fullPath = parentInfo.parent_path \n  ? `${parentInfo.parent_path}/${parsed.folder_name}`\n  : parsed.folder_name;\n\nreturn {\n  json: {\n    drive_folder_id: foundFolder.id,\n    folder_name: foundFolder.name,\n    folder_type: parsed.folder_type,\n    folder_key: parsed.folder_key,\n    parent_folder_id: parentInfo.parent_folder_id,\n    full_path: fullPath\n  }\n};"},"id":"17eb1c7d-a7a8-4a91-8646-044d02373f4b","name":"🔧 Prepare Register Existing","type":"n8n-nodes-base.code","typeVersion":2,"position":[2864,944]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM register_folder(\n  '{{ $json.folder_type }}',\n  '{{ $json.folder_key }}',\n  '{{ $json.drive_folder_id }}',\n  '{{ $json.parent_folder_id }}',\n  '{{ $json.full_path }}'\n);","options":{}},"id":"d8fa7553-a0ec-4ec1-8d6a-0e585f471ae6","name":"💾 Register Found Folder","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3072,944],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"// Folder was found in Drive, added to registry\nconst prep = $('🔧 Prepare Register Existing').first().json;\n\nreturn {\n  json: {\n    folder_id: prep.drive_folder_id,\n    full_path: prep.full_path,\n    folder_key: prep.folder_key,\n    folder_type: prep.folder_type,\n    exists: true,\n    created: false,\n    parent_created: false,\n    registered_from_drive: true,\n    message: 'Folder found in Drive, added to registry'\n  }\n};"},"id":"d63274ea-ad79-485f-8c73-3887c0fdcc61","name":"✅ Return Registered","type":"n8n-nodes-base.code","typeVersion":2,"position":[3296,944]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"parent-found","leftValue":"={{ $('🔍 Get Parent For Search').first().json.parent_found }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"6d44c46e-f322-41dc-a927-5d206d0a27c1","name":"❓ Parent Found?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2864,1184]},{"parameters":{"jsCode":"// Parent exists - prepare to create target folder\nconst parsed = $('🔧 Parse Input').first().json;\nconst parent = $('🔍 Get Parent For Search').first().json;\n\nreturn {\n  json: {\n    // Target folder info\n    folder_name: parsed.folder_name,\n    folder_key: parsed.folder_key,\n    folder_type: parsed.folder_type,\n    // Parent info\n    parent_folder_id: parent.parent_folder_id,\n    parent_path: parent.parent_path,\n    // Flags\n    parent_created: false,\n    year: parsed.year,\n    month: parsed.month\n  }\n};"},"id":"b4152edb-84dc-4436-9ad6-41769f4f90f6","name":"🔧 Prepare Create Target","type":"n8n-nodes-base.code","typeVersion":2,"position":[3072,1120]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM get_parent_info('{{ $('🔍 Get Parent For Search').first().json.parent_type }}', NULL);","options":{}},"id":"f67e7ca1-d09f-43b1-8f63-3a5a9828d86f","name":"🔍 Get Grandparent (Root)","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3072,1296],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"// Parent doesn't exist - need to create it first\n// Grandparent (root) should always exist\nconst parsed = $('🔧 Parse Input').first().json;\nconst parentInfo = $('🔍 Get Parent For Search').first().json;\nconst grandparent = $('🔍 Get Grandparent (Root)').first().json;\n\nif (!grandparent.parent_found) {\n  throw new Error(`Root folder not found for ${parentInfo.parent_type}. Database seed missing?`);\n}\n\nreturn {\n  json: {\n    // Parent to create\n    parent_type: parentInfo.parent_type,\n    parent_key: parentInfo.parent_key,\n    parent_name: parsed.year, // Year folders are named by year\n    parent_parent_id: grandparent.parent_folder_id,\n    parent_parent_path: grandparent.parent_path,\n    // Target to create after\n    folder_name: parsed.folder_name,\n    folder_key: parsed.folder_key,\n    folder_type: parsed.folder_type,\n    year: parsed.year,\n    month: parsed.month\n  }\n};"},"id":"ed131c43-86ef-4332-9b80-bdb4a6f1e6ce","name":"🔧 Prepare Create Parent","type":"n8n-nodes-base.code","typeVersion":2,"position":[3296,1296]},{"parameters":{"url":"https://www.googleapis.com/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=name = '{{ $json.parent_name }}' and '{{ $json.parent_parent_id }}' in parents and mimeType = 'application/vnd.google-apps.folder' and trashed = false"},{"name":"supportsAllDrives","value":"true"},{"name":"includeItemsFromAllDrives","value":"true"},{"name":"fields","value":"files(id,name)"}]},"options":{}},"id":"ff5e1faa-97ce-4198-a34a-cdbd17853cdd","name":"🔎 Search Parent in Drive","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3520,1296],"credentials":{"googleDriveOAuth2Api":{"id":"aYft6Y1rBlcl2pcf","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"parent-in-drive","leftValue":"={{ $json.files?.length > 0 }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"2bac5848-a5be-4033-9bfb-5338d27eb92e","name":"❓ Parent in Drive?","type":"n8n-nodes-base.if","typeVersion":2,"position":[3744,1296]},{"parameters":{"jsCode":"// Parent found in Drive - register it and continue\nconst prep = $('🔧 Prepare Create Parent').first().json;\nconst driveResult = $('🔎 Search Parent in Drive').first().json;\n\nconst foundParent = driveResult.files[0];\nconst parentPath = prep.parent_parent_path + '/' + prep.parent_name;\n\nreturn {\n  json: {\n    // Parent info to register\n    parent_drive_id: foundParent.id,\n    parent_type: prep.parent_type,\n    parent_key: prep.parent_key,\n    parent_name: prep.parent_name,\n    parent_parent_id: prep.parent_parent_id,\n    parent_path: parentPath,\n    // Target to create after\n    folder_name: prep.folder_name,\n    folder_key: prep.folder_key,\n    folder_type: prep.folder_type,\n    year: prep.year,\n    month: prep.month,\n    // Flag\n    parent_found_in_drive: true\n  }\n};"},"id":"5fc1ca64-c400-4e8e-bcde-bd87c3151b3e","name":"🔧 Prep Register Parent","type":"n8n-nodes-base.code","typeVersion":2,"position":[3952,1184]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM register_folder(\n  '{{ $json.parent_type }}',\n  '{{ $json.parent_key }}',\n  '{{ $json.parent_drive_id }}',\n  '{{ $json.parent_parent_id }}',\n  '{{ $json.parent_path }}'\n);","options":{}},"id":"cb71d5a8-00d0-4026-a901-76344186032c","name":"💾 Register Found Parent","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[4176,1184],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"// Parent was registered from Drive - now prepare target creation\nconst prep = $('🔧 Prep Register Parent').first().json;\n\nreturn {\n  json: {\n    // Target folder info\n    folder_name: prep.folder_name,\n    folder_key: prep.folder_key,\n    folder_type: prep.folder_type,\n    // Parent info (just registered)\n    parent_folder_id: prep.parent_drive_id,\n    parent_path: prep.parent_path,\n    // Flags\n    parent_created: false,\n    parent_registered_from_drive: true,\n    year: prep.year,\n    month: prep.month\n  }\n};"},"id":"db7788c0-21c2-46ef-9fb1-b18290f3bed6","name":"🔧 Prepare Target (After Register)","type":"n8n-nodes-base.code","typeVersion":2,"position":[4400,1184]},{"parameters":{"method":"POST","url":"https://www.googleapis.com/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"supportsAllDrives","value":"true"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $('🔧 Prepare Create Parent').first().json.parent_name }}\",\n  \"mimeType\": \"application/vnd.google-apps.folder\",\n  \"parents\": [\"{{ $('🔧 Prepare Create Parent').first().json.parent_parent_id }}\"]\n}","options":{}},"id":"5d58ebd7-3f14-45e6-89cf-dd7cf7e85f04","name":"📁 Create Parent in Drive","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3952,1424],"credentials":{"googleDriveOAuth2Api":{"id":"aYft6Y1rBlcl2pcf","name":"Google Drive account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM register_folder(\n  '{{ $('🔧 Prepare Create Parent').first().json.parent_type }}',\n  '{{ $('🔧 Prepare Create Parent').first().json.parent_key }}',\n  '{{ $json.id }}',\n  '{{ $('🔧 Prepare Create Parent').first().json.parent_parent_id }}',\n  '{{ $('🔧 Prepare Create Parent').first().json.parent_parent_path }}/{{ $('🔧 Prepare Create Parent').first().json.parent_name }}'\n);","options":{}},"id":"1a008869-9a8d-4826-8a6c-7c62e5800955","name":"💾 Register New Parent","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[4176,1424],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"// Parent was just created - now prepare target\nconst prep = $('🔧 Prepare Create Parent').first().json;\nconst parentDrive = $('📁 Create Parent in Drive').first().json;\nconst parentPath = prep.parent_parent_path + '/' + prep.parent_name;\n\nreturn {\n  json: {\n    // Target folder info\n    folder_name: prep.folder_name,\n    folder_key: prep.folder_key,\n    folder_type: prep.folder_type,\n    // Parent info (just created)\n    parent_folder_id: parentDrive.id,\n    parent_path: parentPath,\n    // Flags\n    parent_created: true,\n    year: prep.year,\n    month: prep.month\n  }\n};"},"id":"d71a8122-5513-4b3b-b5da-c1089276ffcb","name":"🔧 Prepare Target (After Create)","type":"n8n-nodes-base.code","typeVersion":2,"position":[4400,1424]},{"parameters":{},"id":"d6692072-f0ac-4122-9c1b-12db260b190b","name":"🔀 Merge Target Prep","type":"n8n-nodes-base.merge","typeVersion":3,"position":[4624,1408]},{"parameters":{"method":"POST","url":"https://www.googleapis.com/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"supportsAllDrives","value":"true"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $json.folder_name }}\",\n  \"mimeType\": \"application/vnd.google-apps.folder\",\n  \"parents\": [\"{{ $json.parent_folder_id }}\"]\n}","options":{}},"id":"154fec5c-36f6-4e39-a248-eea6967b3d2b","name":"📁 Create Target in Drive","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3520,1056],"credentials":{"googleDriveOAuth2Api":{"id":"aYft6Y1rBlcl2pcf","name":"Google Drive account"}}},{"parameters":{"jsCode":"// Extract info after creating target folder\nconst created = $('📁 Create Target in Drive').first().json;\n\n// Get the prep node that fed into this - could be from multiple paths\nlet prep;\ntry {\n  prep = $('🔧 Prepare Create Target').first().json;\n} catch {\n  try {\n    prep = $('🔧 Prepare Target (After Register)').first().json;\n  } catch {\n    prep = $('🔧 Prepare Target (After Create)').first().json;\n  }\n}\n\nconst fullPath = prep.parent_path + '/' + prep.folder_name;\n\nreturn {\n  json: {\n    drive_folder_id: created.id,\n    folder_name: created.name,\n    folder_type: prep.folder_type,\n    folder_key: prep.folder_key,\n    parent_folder_id: prep.parent_folder_id,\n    parent_path: prep.parent_path,\n    full_path: fullPath,\n    parent_created: prep.parent_created || false\n  }\n};"},"id":"bd1aa6e7-14f2-43cb-a2bb-d9997378e8f7","name":"🔧 Extract Target","type":"n8n-nodes-base.code","typeVersion":2,"position":[3744,1056]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM register_folder(\n  '{{ $json.folder_type }}',\n  '{{ $json.folder_key }}',\n  '{{ $json.drive_folder_id }}',\n  '{{ $json.parent_folder_id }}',\n  '{{ $json.full_path }}'\n);","options":{}},"id":"def0d24f-ac97-4d40-b52c-21d73b0fb84a","name":"💾 Register Target","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3952,1056],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"// Target created and registered\nconst extract = $('🔧 Extract Target').first().json;\n\nreturn {\n  json: {\n    folder_id: extract.drive_folder_id,\n    full_path: extract.full_path,\n    folder_key: extract.folder_key,\n    folder_type: extract.folder_type,\n    exists: false,\n    created: true,\n    parent_created: extract.parent_created,\n    message: extract.parent_created \n      ? 'Parent and folder created in Drive' \n      : 'Folder created in Drive'\n  }\n};"},"id":"a5a2d57d-a7b9-4620-a880-978667924c0b","name":"✅ Return Created","type":"n8n-nodes-base.code","typeVersion":2,"position":[4176,1056]},{"parameters":{},"id":"10a5ab75-8ece-493f-8031-caa894ffcd09","name":"🔀 Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[4592,832]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"7b9bd2f3-ecb8-4dc6-849a-ec49007225d1","name":"📤 Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[4800,832]}],"connections":{"📥 Webhook":{"main":[[{"node":"🔧 Parse Input","type":"main","index":0}]]},"🔧 Parse Input":{"main":[[{"node":"🔍 Lookup Target","type":"main","index":0}]]},"🔍 Lookup Target":{"main":[[{"node":"❓ Target Found?","type":"main","index":0}]]},"❓ Target Found?":{"main":[[{"node":"✅ Return Existing","type":"main","index":0}],[{"node":"🔍 Get Parent For Search","type":"main","index":0}]]},"✅ Return Existing":{"main":[[{"node":"🔀 Merge","type":"main","index":0}]]},"🔍 Get Parent For Search":{"main":[[{"node":"🔎 Search Drive Fallback","type":"main","index":0}]]},"🔎 Search Drive Fallback":{"main":[[{"node":"❓ Found in Drive?","type":"main","index":0}]]},"❓ Found in Drive?":{"main":[[{"node":"🔧 Prepare Register Existing","type":"main","index":0}],[{"node":"❓ Parent Found?","type":"main","index":0}]]},"🔧 Prepare Register Existing":{"main":[[{"node":"💾 Register Found Folder","type":"main","index":0}]]},"💾 Register Found Folder":{"main":[[{"node":"✅ Return Registered","type":"main","index":0}]]},"✅ Return Registered":{"main":[[{"node":"🔀 Merge","type":"main","index":1}]]},"❓ Parent Found?":{"main":[[{"node":"🔧 Prepare Create Target","type":"main","index":0}],[{"node":"🔍 Get Grandparent (Root)","type":"main","index":0}]]},"🔧 Prepare Create Target":{"main":[[{"node":"📁 Create Target in Drive","type":"main","index":0}]]},"🔍 Get Grandparent (Root)":{"main":[[{"node":"🔧 Prepare Create Parent","type":"main","index":0}]]},"🔧 Prepare Create Parent":{"main":[[{"node":"🔎 Search Parent in Drive","type":"main","index":0}]]},"🔎 Search Parent in Drive":{"main":[[{"node":"❓ Parent in Drive?","type":"main","index":0}]]},"❓ Parent in Drive?":{"main":[[{"node":"🔧 Prep Register Parent","type":"main","index":0}],[{"node":"📁 Create Parent in Drive","type":"main","index":0}]]},"🔧 Prep Register Parent":{"main":[[{"node":"💾 Register Found Parent","type":"main","index":0}]]},"💾 Register Found Parent":{"main":[[{"node":"🔧 Prepare Target (After Register)","type":"main","index":0}]]},"🔧 Prepare Target (After Register)":{"main":[[{"node":"🔀 Merge Target Prep","type":"main","index":0}]]},"📁 Create Parent in Drive":{"main":[[{"node":"💾 Register New Parent","type":"main","index":0}]]},"💾 Register New Parent":{"main":[[{"node":"🔧 Prepare Target (After Create)","type":"main","index":0}]]},"🔧 Prepare Target (After Create)":{"main":[[{"node":"🔀 Merge Target Prep","type":"main","index":1}]]},"🔀 Merge Target Prep":{"main":[[{"node":"📁 Create Target in Drive","type":"main","index":0}]]},"📁 Create Target in Drive":{"main":[[{"node":"🔧 Extract Target","type":"main","index":0}]]},"🔧 Extract Target":{"main":[[{"node":"💾 Register Target","type":"main","index":0}]]},"💾 Register Target":{"main":[[{"node":"✅ Return Created","type":"main","index":0}]]},"✅ Return Created":{"main":[[{"node":"🔀 Merge","type":"main","index":1}]]},"🔀 Merge":{"main":[[{"node":"📤 Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"apmJoMCbOchwfqTp"},"staticData":null,"meta":null,"pinData":{},"versionId":"18dc088a-10ef-43bd-8b32-1463c2370c15","activeVersionId":"cf9a77d8-ac46-4ce0-be5a-4a7bc188135d","versionCounter":27,"triggerCount":1,"shared":[{"updatedAt":"2026-01-02T10:10:24.135Z","createdAt":"2026-01-02T10:10:24.135Z","role":"workflow:owner","workflowId":"ZcAhUCdouxnfP4HB","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[{"updatedAt":"2026-01-02T10:10:08.374Z","createdAt":"2026-01-02T10:10:08.374Z","id":"KVFQR2Ch3H0pM8vM","name":"MX-Utilities"},{"updatedAt":"2026-01-02T10:10:08.376Z","createdAt":"2026-01-02T10:10:08.376Z","id":"hmaZzgRJeDbgoABN","name":"Drive"},{"updatedAt":"2026-01-02T10:10:08.378Z","createdAt":"2026-01-02T10:10:08.378Z","id":"spPZNGyI8RV6YqOE","name":"Self-Healing"}],"activeVersion":{"updatedAt":"2026-01-02T12:44:24.000Z","createdAt":"2026-01-02T12:44:22.219Z","versionId":"cf9a77d8-ac46-4ce0-be5a-4a7bc188135d","workflowId":"ZcAhUCdouxnfP4HB","nodes":[{"parameters":{"httpMethod":"POST","path":"mx-02-folder-manager","responseMode":"responseNode","options":{}},"id":"e0ed1693-fce2-4887-bafe-456d1e1d6bb8","name":"📥 Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1312,944],"webhookId":"mx-02-folder-manager"},{"parameters":{"jsCode":"// Parse input and build folder_key\nconst input = $input.first().json;\nconst body = input.body || input;\n\nconst folderType = body.folder_type;\nconst year = body.year || null;\nconst month = body.month || null;\n\n// Build folder_key based on type\nlet folderKey = '';\nlet folderName = '';\n\nswitch (folderType) {\n  case 'project_root':\n    folderKey = 'project:root';\n    folderName = 'Projekte';\n    break;\n  case 'project_year':\n    if (!year) throw new Error('year required for project_year');\n    folderKey = `project:${year}`;\n    folderName = year;\n    break;\n  case 'buchhaltung_root':\n    folderKey = 'buchhaltung:root';\n    folderName = 'VERARBEITET';\n    break;\n  case 'buchhaltung_year':\n    if (!year) throw new Error('year required for buchhaltung_year');\n    folderKey = `buchhaltung:${year}`;\n    folderName = year;\n    break;\n  case 'buchhaltung_month':\n    if (!year || !month) throw new Error('year and month required for buchhaltung_month');\n    folderKey = `buchhaltung:${year}:${month}`;\n    folderName = month;\n    break;\n  default:\n    throw new Error(`Unknown folder_type: ${folderType}`);\n}\n\nreturn {\n  json: {\n    folder_type: folderType,\n    folder_key: folderKey,\n    folder_name: folderName,\n    year: year,\n    month: month\n  }\n};"},"id":"f4a66593-aeb7-4c87-b9c7-29d3de86a6f2","name":"🔧 Parse Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,944]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM get_folder_from_registry('{{ $json.folder_key }}');","options":{}},"id":"fc1fe4f2-71c0-4204-a231-bb114120d549","name":"🔍 Lookup Target","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1760,944],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"found-check","leftValue":"={{ $json.found }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"0b03df9a-895e-4e42-9b4f-c7f3d8def003","name":"❓ Target Found?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1984,944]},{"parameters":{"jsCode":"// Target folder found - return immediately\nconst lookup = $('🔍 Lookup Target').first().json;\nconst parsed = $('🔧 Parse Input').first().json;\n\nreturn {\n  json: {\n    folder_id: lookup.folder_id,\n    full_path: lookup.full_path,\n    folder_key: parsed.folder_key,\n    folder_type: parsed.folder_type,\n    exists: true,\n    created: false,\n    parent_created: false,\n    message: 'Folder found in registry'\n  }\n};"},"id":"23747320-4e2e-4171-bab9-5c1e7c25863e","name":"✅ Return Existing","type":"n8n-nodes-base.code","typeVersion":2,"position":[2192,816]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM get_parent_info('{{ $('🔧 Parse Input').first().json.folder_type }}', '{{ $('🔧 Parse Input').first().json.year }}');","options":{}},"id":"bba4a7e2-a44b-46d3-ad16-424b3a1e819c","name":"🔍 Get Parent For Search","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2192,1056],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"url":"https://www.googleapis.com/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=name = '{{ $('🔧 Parse Input').first().json.folder_name }}' and '{{ $json.parent_folder_id }}' in parents and mimeType = 'application/vnd.google-apps.folder' and trashed = false"},{"name":"supportsAllDrives","value":"true"},{"name":"includeItemsFromAllDrives","value":"true"},{"name":"fields","value":"files(id,name)"}]},"options":{}},"id":"6c297627-0c8e-47fd-99ca-46e1abededab","name":"🔎 Search Drive Fallback","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2416,1056],"credentials":{"googleDriveOAuth2Api":{"id":"aYft6Y1rBlcl2pcf","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"drive-found","leftValue":"={{ $json.files?.length > 0 }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"8eca0804-5df2-4ab1-893f-74a019d21a7d","name":"❓ Found in Drive?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2640,1056]},{"parameters":{"jsCode":"// Folder found in Drive but not in Registry - register it!\nconst parsed = $('🔧 Parse Input').first().json;\nconst parentInfo = $('🔍 Get Parent For Search').first().json;\nconst driveResult = $('🔎 Search Drive Fallback').first().json;\n\nconst foundFolder = driveResult.files[0];\n\n// Build full_path\nconst fullPath = parentInfo.parent_path \n  ? `${parentInfo.parent_path}/${parsed.folder_name}`\n  : parsed.folder_name;\n\nreturn {\n  json: {\n    drive_folder_id: foundFolder.id,\n    folder_name: foundFolder.name,\n    folder_type: parsed.folder_type,\n    folder_key: parsed.folder_key,\n    parent_folder_id: parentInfo.parent_folder_id,\n    full_path: fullPath\n  }\n};"},"id":"17eb1c7d-a7a8-4a91-8646-044d02373f4b","name":"🔧 Prepare Register Existing","type":"n8n-nodes-base.code","typeVersion":2,"position":[2864,944]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM register_folder(\n  '{{ $json.folder_type }}',\n  '{{ $json.folder_key }}',\n  '{{ $json.drive_folder_id }}',\n  '{{ $json.parent_folder_id }}',\n  '{{ $json.full_path }}'\n);","options":{}},"id":"d8fa7553-a0ec-4ec1-8d6a-0e585f471ae6","name":"💾 Register Found Folder","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3072,944],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"// Folder was found in Drive, added to registry\nconst prep = $('🔧 Prepare Register Existing').first().json;\n\nreturn {\n  json: {\n    folder_id: prep.drive_folder_id,\n    full_path: prep.full_path,\n    folder_key: prep.folder_key,\n    folder_type: prep.folder_type,\n    exists: true,\n    created: false,\n    parent_created: false,\n    registered_from_drive: true,\n    message: 'Folder found in Drive, added to registry'\n  }\n};"},"id":"d63274ea-ad79-485f-8c73-3887c0fdcc61","name":"✅ Return Registered","type":"n8n-nodes-base.code","typeVersion":2,"position":[3296,944]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"parent-found","leftValue":"={{ $('🔍 Get Parent For Search').first().json.parent_found }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"6d44c46e-f322-41dc-a927-5d206d0a27c1","name":"❓ Parent Found?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2864,1184]},{"parameters":{"jsCode":"// Parent exists - prepare to create target folder\nconst parsed = $('🔧 Parse Input').first().json;\nconst parent = $('🔍 Get Parent For Search').first().json;\n\nreturn {\n  json: {\n    // Target folder info\n    folder_name: parsed.folder_name,\n    folder_key: parsed.folder_key,\n    folder_type: parsed.folder_type,\n    // Parent info\n    parent_folder_id: parent.parent_folder_id,\n    parent_path: parent.parent_path,\n    // Flags\n    parent_created: false,\n    year: parsed.year,\n    month: parsed.month\n  }\n};"},"id":"b4152edb-84dc-4436-9ad6-41769f4f90f6","name":"🔧 Prepare Create Target","type":"n8n-nodes-base.code","typeVersion":2,"position":[3072,1120]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM get_parent_info('{{ $('🔍 Get Parent For Search').first().json.parent_type }}', NULL);","options":{}},"id":"f67e7ca1-d09f-43b1-8f63-3a5a9828d86f","name":"🔍 Get Grandparent (Root)","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3072,1296],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"// Parent doesn't exist - need to create it first\n// Grandparent (root) should always exist\nconst parsed = $('🔧 Parse Input').first().json;\nconst parentInfo = $('🔍 Get Parent For Search').first().json;\nconst grandparent = $('🔍 Get Grandparent (Root)').first().json;\n\nif (!grandparent.parent_found) {\n  throw new Error(`Root folder not found for ${parentInfo.parent_type}. Database seed missing?`);\n}\n\nreturn {\n  json: {\n    // Parent to create\n    parent_type: parentInfo.parent_type,\n    parent_key: parentInfo.parent_key,\n    parent_name: parsed.year, // Year folders are named by year\n    parent_parent_id: grandparent.parent_folder_id,\n    parent_parent_path: grandparent.parent_path,\n    // Target to create after\n    folder_name: parsed.folder_name,\n    folder_key: parsed.folder_key,\n    folder_type: parsed.folder_type,\n    year: parsed.year,\n    month: parsed.month\n  }\n};"},"id":"ed131c43-86ef-4332-9b80-bdb4a6f1e6ce","name":"🔧 Prepare Create Parent","type":"n8n-nodes-base.code","typeVersion":2,"position":[3296,1296]},{"parameters":{"url":"https://www.googleapis.com/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=name = '{{ $json.parent_name }}' and '{{ $json.parent_parent_id }}' in parents and mimeType = 'application/vnd.google-apps.folder' and trashed = false"},{"name":"supportsAllDrives","value":"true"},{"name":"includeItemsFromAllDrives","value":"true"},{"name":"fields","value":"files(id,name)"}]},"options":{}},"id":"ff5e1faa-97ce-4198-a34a-cdbd17853cdd","name":"🔎 Search Parent in Drive","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3520,1296],"credentials":{"googleDriveOAuth2Api":{"id":"aYft6Y1rBlcl2pcf","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"parent-in-drive","leftValue":"={{ $json.files?.length > 0 }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"2bac5848-a5be-4033-9bfb-5338d27eb92e","name":"❓ Parent in Drive?","type":"n8n-nodes-base.if","typeVersion":2,"position":[3744,1296]},{"parameters":{"jsCode":"// Parent found in Drive - register it and continue\nconst prep = $('🔧 Prepare Create Parent').first().json;\nconst driveResult = $('🔎 Search Parent in Drive').first().json;\n\nconst foundParent = driveResult.files[0];\nconst parentPath = prep.parent_parent_path + '/' + prep.parent_name;\n\nreturn {\n  json: {\n    // Parent info to register\n    parent_drive_id: foundParent.id,\n    parent_type: prep.parent_type,\n    parent_key: prep.parent_key,\n    parent_name: prep.parent_name,\n    parent_parent_id: prep.parent_parent_id,\n    parent_path: parentPath,\n    // Target to create after\n    folder_name: prep.folder_name,\n    folder_key: prep.folder_key,\n    folder_type: prep.folder_type,\n    year: prep.year,\n    month: prep.month,\n    // Flag\n    parent_found_in_drive: true\n  }\n};"},"id":"5fc1ca64-c400-4e8e-bcde-bd87c3151b3e","name":"🔧 Prep Register Parent","type":"n8n-nodes-base.code","typeVersion":2,"position":[3952,1184]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM register_folder(\n  '{{ $json.parent_type }}',\n  '{{ $json.parent_key }}',\n  '{{ $json.parent_drive_id }}',\n  '{{ $json.parent_parent_id }}',\n  '{{ $json.parent_path }}'\n);","options":{}},"id":"cb71d5a8-00d0-4026-a901-76344186032c","name":"💾 Register Found Parent","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[4176,1184],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"// Parent was registered from Drive - now prepare target creation\nconst prep = $('🔧 Prep Register Parent').first().json;\n\nreturn {\n  json: {\n    // Target folder info\n    folder_name: prep.folder_name,\n    folder_key: prep.folder_key,\n    folder_type: prep.folder_type,\n    // Parent info (just registered)\n    parent_folder_id: prep.parent_drive_id,\n    parent_path: prep.parent_path,\n    // Flags\n    parent_created: false,\n    parent_registered_from_drive: true,\n    year: prep.year,\n    month: prep.month\n  }\n};"},"id":"db7788c0-21c2-46ef-9fb1-b18290f3bed6","name":"🔧 Prepare Target (After Register)","type":"n8n-nodes-base.code","typeVersion":2,"position":[4400,1184]},{"parameters":{"method":"POST","url":"https://www.googleapis.com/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"supportsAllDrives","value":"true"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $('🔧 Prepare Create Parent').first().json.parent_name }}\",\n  \"mimeType\": \"application/vnd.google-apps.folder\",\n  \"parents\": [\"{{ $('🔧 Prepare Create Parent').first().json.parent_parent_id }}\"]\n}","options":{}},"id":"5d58ebd7-3f14-45e6-89cf-dd7cf7e85f04","name":"📁 Create Parent in Drive","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3952,1424],"credentials":{"googleDriveOAuth2Api":{"id":"aYft6Y1rBlcl2pcf","name":"Google Drive account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM register_folder(\n  '{{ $('🔧 Prepare Create Parent').first().json.parent_type }}',\n  '{{ $('🔧 Prepare Create Parent').first().json.parent_key }}',\n  '{{ $json.id }}',\n  '{{ $('🔧 Prepare Create Parent').first().json.parent_parent_id }}',\n  '{{ $('🔧 Prepare Create Parent').first().json.parent_parent_path }}/{{ $('🔧 Prepare Create Parent').first().json.parent_name }}'\n);","options":{}},"id":"1a008869-9a8d-4826-8a6c-7c62e5800955","name":"💾 Register New Parent","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[4176,1424],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"// Parent was just created - now prepare target\nconst prep = $('🔧 Prepare Create Parent').first().json;\nconst parentDrive = $('📁 Create Parent in Drive').first().json;\nconst parentPath = prep.parent_parent_path + '/' + prep.parent_name;\n\nreturn {\n  json: {\n    // Target folder info\n    folder_name: prep.folder_name,\n    folder_key: prep.folder_key,\n    folder_type: prep.folder_type,\n    // Parent info (just created)\n    parent_folder_id: parentDrive.id,\n    parent_path: parentPath,\n    // Flags\n    parent_created: true,\n    year: prep.year,\n    month: prep.month\n  }\n};"},"id":"d71a8122-5513-4b3b-b5da-c1089276ffcb","name":"🔧 Prepare Target (After Create)","type":"n8n-nodes-base.code","typeVersion":2,"position":[4400,1424]},{"parameters":{},"id":"d6692072-f0ac-4122-9c1b-12db260b190b","name":"🔀 Merge Target Prep","type":"n8n-nodes-base.merge","typeVersion":3,"position":[4624,1408]},{"parameters":{"method":"POST","url":"https://www.googleapis.com/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"supportsAllDrives","value":"true"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $json.folder_name }}\",\n  \"mimeType\": \"application/vnd.google-apps.folder\",\n  \"parents\": [\"{{ $json.parent_folder_id }}\"]\n}","options":{}},"id":"154fec5c-36f6-4e39-a248-eea6967b3d2b","name":"📁 Create Target in Drive","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3520,1056],"credentials":{"googleDriveOAuth2Api":{"id":"aYft6Y1rBlcl2pcf","name":"Google Drive account"}}},{"parameters":{"jsCode":"// Extract info after creating target folder\nconst created = $('📁 Create Target in Drive').first().json;\n\n// Get the prep node that fed into this - could be from multiple paths\nlet prep;\ntry {\n  prep = $('🔧 Prepare Create Target').first().json;\n} catch {\n  try {\n    prep = $('🔧 Prepare Target (After Register)').first().json;\n  } catch {\n    prep = $('🔧 Prepare Target (After Create)').first().json;\n  }\n}\n\nconst fullPath = prep.parent_path + '/' + prep.folder_name;\n\nreturn {\n  json: {\n    drive_folder_id: created.id,\n    folder_name: created.name,\n    folder_type: prep.folder_type,\n    folder_key: prep.folder_key,\n    parent_folder_id: prep.parent_folder_id,\n    parent_path: prep.parent_path,\n    full_path: fullPath,\n    parent_created: prep.parent_created || false\n  }\n};"},"id":"bd1aa6e7-14f2-43cb-a2bb-d9997378e8f7","name":"🔧 Extract Target","type":"n8n-nodes-base.code","typeVersion":2,"position":[3744,1056]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM register_folder(\n  '{{ $json.folder_type }}',\n  '{{ $json.folder_key }}',\n  '{{ $json.drive_folder_id }}',\n  '{{ $json.parent_folder_id }}',\n  '{{ $json.full_path }}'\n);","options":{}},"id":"def0d24f-ac97-4d40-b52c-21d73b0fb84a","name":"💾 Register Target","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3952,1056],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"// Target created and registered\nconst extract = $('🔧 Extract Target').first().json;\n\nreturn {\n  json: {\n    folder_id: extract.drive_folder_id,\n    full_path: extract.full_path,\n    folder_key: extract.folder_key,\n    folder_type: extract.folder_type,\n    exists: false,\n    created: true,\n    parent_created: extract.parent_created,\n    message: extract.parent_created \n      ? 'Parent and folder created in Drive' \n      : 'Folder created in Drive'\n  }\n};"},"id":"a5a2d57d-a7b9-4620-a880-978667924c0b","name":"✅ Return Created","type":"n8n-nodes-base.code","typeVersion":2,"position":[4176,1056]},{"parameters":{},"id":"10a5ab75-8ece-493f-8031-caa894ffcd09","name":"🔀 Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[4608,848]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"7b9bd2f3-ecb8-4dc6-849a-ec49007225d1","name":"📤 Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[4816,848]}],"connections":{"📥 Webhook":{"main":[[{"node":"🔧 Parse Input","type":"main","index":0}]]},"🔧 Parse Input":{"main":[[{"node":"🔍 Lookup Target","type":"main","index":0}]]},"🔍 Lookup Target":{"main":[[{"node":"❓ Target Found?","type":"main","index":0}]]},"❓ Target Found?":{"main":[[{"node":"✅ Return Existing","type":"main","index":0}],[{"node":"🔍 Get Parent For Search","type":"main","index":0}]]},"✅ Return Existing":{"main":[[{"node":"🔀 Merge","type":"main","index":0}]]},"🔍 Get Parent For Search":{"main":[[{"node":"🔎 Search Drive Fallback","type":"main","index":0}]]},"🔎 Search Drive Fallback":{"main":[[{"node":"❓ Found in Drive?","type":"main","index":0}]]},"❓ Found in Drive?":{"main":[[{"node":"🔧 Prepare Register Existing","type":"main","index":0}],[{"node":"❓ Parent Found?","type":"main","index":0}]]},"🔧 Prepare Register Existing":{"main":[[{"node":"💾 Register Found Folder","type":"main","index":0}]]},"💾 Register Found Folder":{"main":[[{"node":"✅ Return Registered","type":"main","index":0}]]},"✅ Return Registered":{"main":[[{"node":"🔀 Merge","type":"main","index":1}]]},"❓ Parent Found?":{"main":[[{"node":"🔧 Prepare Create Target","type":"main","index":0}],[{"node":"🔍 Get Grandparent (Root)","type":"main","index":0}]]},"🔧 Prepare Create Target":{"main":[[{"node":"📁 Create Target in Drive","type":"main","index":0}]]},"🔍 Get Grandparent (Root)":{"main":[[{"node":"🔧 Prepare Create Parent","type":"main","index":0}]]},"🔧 Prepare Create Parent":{"main":[[{"node":"🔎 Search Parent in Drive","type":"main","index":0}]]},"🔎 Search Parent in Drive":{"main":[[{"node":"❓ Parent in Drive?","type":"main","index":0}]]},"❓ Parent in Drive?":{"main":[[{"node":"🔧 Prep Register Parent","type":"main","index":0}],[{"node":"📁 Create Parent in Drive","type":"main","index":0}]]},"🔧 Prep Register Parent":{"main":[[{"node":"💾 Register Found Parent","type":"main","index":0}]]},"💾 Register Found Parent":{"main":[[{"node":"🔧 Prepare Target (After Register)","type":"main","index":0}]]},"🔧 Prepare Target (After Register)":{"main":[[{"node":"🔀 Merge Target Prep","type":"main","index":0}]]},"📁 Create Parent in Drive":{"main":[[{"node":"💾 Register New Parent","type":"main","index":0}]]},"💾 Register New Parent":{"main":[[{"node":"🔧 Prepare Target (After Create)","type":"main","index":0}]]},"🔧 Prepare Target (After Create)":{"main":[[{"node":"🔀 Merge Target Prep","type":"main","index":1}]]},"🔀 Merge Target Prep":{"main":[[{"node":"📁 Create Target in Drive","type":"main","index":0}]]},"📁 Create Target in Drive":{"main":[[{"node":"🔧 Extract Target","type":"main","index":0}]]},"🔧 Extract Target":{"main":[[{"node":"💾 Register Target","type":"main","index":0}]]},"💾 Register Target":{"main":[[{"node":"✅ Return Created","type":"main","index":0}]]},"✅ Return Created":{"main":[[{"node":"🔀 Merge","type":"main","index":1}]]},"🔀 Merge":{"main":[[{"node":"📤 Respond","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version cf9a77d8","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-01-02T12:44:24.758Z","id":168,"workflowId":"ZcAhUCdouxnfP4HB","versionId":"cf9a77d8-ac46-4ce0-be5a-4a7bc188135d","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-01-03T12:27:15.665Z","id":180,"workflowId":"ZcAhUCdouxnfP4HB","versionId":"cf9a77d8-ac46-4ce0-be5a-4a7bc188135d","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}