n8n-workflows/MX_08_File_Router.json
{"updatedAt":"2026-03-20T11:55:57.094Z","createdAt":"2026-03-20T10:54:35.145Z","id":"c4nlSzH5dOVfyblR","name":"MX_08_File_Router","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"name":"⏰ Poll","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[224,304],"id":"c3fa2150-a179-42b5-bbf7-50ac08525163"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM fn_fetch_unrouted_file_events(10);","options":{}},"name":"📋 Fetch Events","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[448,304],"id":"95b14487-da72-4a77-92d3-9d94448449ef","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"// Split into matched (with project) and unmatched\nconst items = $input.all();\nconst matched = [];\n\nfor (const item of items) {\n  const d = item.json;\n  if (!d.project_id) continue;\n  \n  const fileIds = typeof d.file_ids === 'string' ? JSON.parse(d.file_ids) : (d.file_ids || []);\n  \n  for (const fid of fileIds) {\n    matched.push({\n      json: {\n        file_id: fid,\n        project_id: d.project_id,\n        doc_type: d.doc_type,\n        event_id: d.event_id,\n        superchat_message_id: d.superchat_message_id\n      }\n    });\n  }\n}\n\nreturn matched;"},"name":"🔀 Split Matched Files","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,208],"id":"754c8b84-827c-4261-938d-8ee00b241c85"},{"parameters":{"jsCode":"// Collect unmatched events to mark as failed\nconst items = $input.all();\nconst failed = items.filter(i => !i.json.project_id);\n\nif (failed.length === 0) return [];\n\nreturn failed.map(i => ({\n  json: {\n    event_id: i.json.event_id,\n    doc_type: i.json.doc_type || 'UNKNOWN',\n    subject: (i.json.subject || '').replace(/'/g, )\n  }\n}));"},"name":"📋 Collect No-Match","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,448],"id":"358b5034-c988-4467-859c-89cf3b4fa9bb"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (event_type, source_system, source_flow, payload, dedupe_key)\nVALUES (\n  'FILE_ROUTE_FAILED',\n  'n8n',\n  'MX_08_File_Router',\n  jsonb_build_object('source_event_id', '{{ $json.event_id }}', 'doc_type', '{{ $json.doc_type }}', 'subject', '{{ $json.subject }}', 'reason', 'no_project_match'),\n  'file_route_failed_{{ $json.event_id }}'\n)\nON CONFLICT (source_system, dedupe_key) WHERE dedupe_key IS NOT NULL DO NOTHING;","options":{}},"name":"⚠️ Log No Match","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[912,448],"id":"7e0f6d03-3a06-4064-972d-bdfcabb18f42","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"url":"=https://api.superchat.com/v1.0/files/{{ $json.file_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"1afbef7e-ed85-4a8c-920b-b3b6300a7984"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"name":"📎 Get File Info","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,208],"id":"4c20b49f-5125-4c60-a0aa-806c5cd41495"},{"parameters":{"url":"={{ $json.link.url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"name":"📥 Download File","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,208],"id":"4faa77a6-5d61-4c0f-916e-940e7bcc9e62"},{"parameters":{"jsCode":"const projectId = $('🔀 Split Matched Files').first().json.project_id;\nconst docType = $('🔀 Split Matched Files').first().json.doc_type;\nconst fileName = $('📎 Get File Info').first().json.name || 'dokument.pdf';\nconst mimeType = $('📎 Get File Info').first().json.mime_type || 'application/pdf';\nconst fileSize = $('📎 Get File Info').first().json.size || 0;\n\nconst safe = fileName\n  .normalize('NFD').replace(/[̀-ͯ]/g, '')\n  .replace(/[aeAE]/g, 'ae').replace(/[oeOE]/g, 'oe').replace(/[ueUE]/g, 'ue').replace(/[ss]/g, 'ss')\n  .replace(/s+/g, '_').replace(/[^a-zA-Z0-9._-]/g, '');\n\nconst folderMap = {\n  'MAGICPLAN': '03_Aufmass',\n  'PROJECT_ORDER': '01_Auftrag',\n  'INVOICE_IN': '04_Rechnung',\n  'CREDIT_NOTE': '04_Rechnung',\n  'BID_REQUEST': '02_Angebot',\n  'REMINDER': '08_Kommunikation'\n};\nconst folder = folderMap[docType] || '09_Sonstiges';\nconst storagePath = 'documents/' + projectId + '/' + folder + '/' + Date.now() + '_' + safe;\n\nreturn [{ json: { project_id: projectId, doc_type: docType, file_name: fileName, storage_path: storagePath, mime_type: mimeType, file_size: fileSize, event_id: $('🔀 Split Matched Files').first().json.event_id, superchat_message_id: $('🔀 Split Matched Files').first().json.superchat_message_id }, binary: $binary }];"},"name":"📋 Prepare Upload","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,208],"id":"0237754d-c5e0-49ce-8377-7664d814863c"},{"parameters":{"method":"POST","url":"=https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/project-files/{{ $json.storage_path }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlldHdudHdheWhtem1oaGdka2xpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTI4NDUwNywiZXhwIjoyMDgwODYwNTA3fQ.1h7t0JOavX5CSarqKIUr9mMLJBAbt5aI5bAROJTxHYA"},{"name":"Content-Type","value":"={{ $json.mime_type }}"}]},"sendBody":true,"contentType":"raw","body":"={{ $binary.data }}","options":{}},"name":"📤 Upload to Storage","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,208],"id":"80c64d8f-5784-4f82-8150-22d1185994aa"},{"parameters":{"operation":"executeQuery","query":"SELECT fn_route_file_to_folder(\n  '{{ $('📋 Prepare Upload').first().json.project_id }}'::uuid,\n  '{{ $('📋 Prepare Upload').first().json.doc_type }}',\n  '{{ $('📋 Prepare Upload').first().json.file_name }}',\n  '{{ $('📋 Prepare Upload').first().json.storage_path }}',\n  '{{ $('📋 Prepare Upload').first().json.mime_type }}',\n  {{ $('📋 Prepare Upload').first().json.file_size || 'NULL' }},\n  '{{ $('📋 Prepare Upload').first().json.superchat_message_id || '' }}'\n) as result;","options":{}},"name":"💾 Route to Folder","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1792,208],"id":"2d83609f-faaa-467e-8692-d91d4bf23117","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (event_type, project_id, source_system, source_flow, payload, dedupe_key)\nVALUES (\n  'FILE_ROUTED',\n  '{{ $('📋 Prepare Upload').first().json.project_id }}'::uuid,\n  'n8n',\n  'MX_08_File_Router',\n  jsonb_build_object(\n    'source_event_id', '{{ $('📋 Prepare Upload').first().json.event_id }}',\n    'doc_type', '{{ $('📋 Prepare Upload').first().json.doc_type }}',\n    'file_name', '{{ $('📋 Prepare Upload').first().json.file_name }}',\n    'storage_path', '{{ $('📋 Prepare Upload').first().json.storage_path }}'\n  ),\n  'file_routed_{{ $('📋 Prepare Upload').first().json.event_id }}_{{ $('📋 Prepare Upload').first().json.file_name }}'\n)\nON CONFLICT (source_system, dedupe_key) WHERE dedupe_key IS NOT NULL DO NOTHING;","options":{}},"name":"📢 Emit FILE_ROUTED","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2000,208],"id":"aa2a4022-878f-4d12-b816-411478ffb43b","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}}],"connections":{"⏰ Poll":{"main":[[{"node":"📋 Fetch Events","type":"main","index":0}]]},"📋 Fetch Events":{"main":[[{"node":"🔀 Split Matched Files","type":"main","index":0},{"node":"📋 Collect No-Match","type":"main","index":0}]]},"🔀 Split Matched Files":{"main":[[{"node":"📎 Get File Info","type":"main","index":0}]]},"📋 Collect No-Match":{"main":[[{"node":"⚠️ Log No Match","type":"main","index":0}]]},"📎 Get File Info":{"main":[[{"node":"📥 Download File","type":"main","index":0}]]},"📥 Download File":{"main":[[{"node":"📋 Prepare Upload","type":"main","index":0}]]},"📋 Prepare Upload":{"main":[[{"node":"📤 Upload to Storage","type":"main","index":0}]]},"📤 Upload to Storage":{"main":[[{"node":"💾 Route to Folder","type":"main","index":0}]]},"💾 Route to Folder":{"main":[[{"node":"📢 Emit FILE_ROUTED","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":true,"timeSavedMode":"fixed","errorWorkflow":"zAFieMcnwATMcHhY","binaryMode":"separate"},"staticData":{"node:⏰ Poll Every 15min":{"recurrenceRules":[]},"node:⏰ Poll":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"ec90c223-3f95-4f91-a5e0-f4ec2ff577cf","activeVersionId":"ec90c223-3f95-4f91-a5e0-f4ec2ff577cf","versionCounter":55,"triggerCount":1,"shared":[{"updatedAt":"2026-03-20T10:54:35.147Z","createdAt":"2026-03-20T10:54:35.147Z","role":"workflow:owner","workflowId":"c4nlSzH5dOVfyblR","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-20T11:55:53.000Z","createdAt":"2026-03-20T11:55:50.513Z","versionId":"ec90c223-3f95-4f91-a5e0-f4ec2ff577cf","workflowId":"c4nlSzH5dOVfyblR","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"name":"⏰ Poll","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[224,304],"id":"c3fa2150-a179-42b5-bbf7-50ac08525163"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM fn_fetch_unrouted_file_events(10);","options":{}},"name":"📋 Fetch Events","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[448,304],"id":"95b14487-da72-4a77-92d3-9d94448449ef","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"// Split into matched (with project) and unmatched\nconst items = $input.all();\nconst matched = [];\n\nfor (const item of items) {\n  const d = item.json;\n  if (!d.project_id) continue;\n  \n  const fileIds = typeof d.file_ids === 'string' ? JSON.parse(d.file_ids) : (d.file_ids || []);\n  \n  for (const fid of fileIds) {\n    matched.push({\n      json: {\n        file_id: fid,\n        project_id: d.project_id,\n        doc_type: d.doc_type,\n        event_id: d.event_id,\n        superchat_message_id: d.superchat_message_id\n      }\n    });\n  }\n}\n\nreturn matched;"},"name":"🔀 Split Matched Files","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,208],"id":"754c8b84-827c-4261-938d-8ee00b241c85"},{"parameters":{"jsCode":"// Collect unmatched events to mark as failed\nconst items = $input.all();\nconst failed = items.filter(i => !i.json.project_id);\n\nif (failed.length === 0) return [];\n\nreturn failed.map(i => ({\n  json: {\n    event_id: i.json.event_id,\n    doc_type: i.json.doc_type || 'UNKNOWN',\n    subject: (i.json.subject || '').replace(/'/g, )\n  }\n}));"},"name":"📋 Collect No-Match","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,448],"id":"358b5034-c988-4467-859c-89cf3b4fa9bb"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (event_type, source_system, source_flow, payload, dedupe_key)\nVALUES (\n  'FILE_ROUTE_FAILED',\n  'n8n',\n  'MX_08_File_Router',\n  jsonb_build_object('source_event_id', '{{ $json.event_id }}', 'doc_type', '{{ $json.doc_type }}', 'subject', '{{ $json.subject }}', 'reason', 'no_project_match'),\n  'file_route_failed_{{ $json.event_id }}'\n)\nON CONFLICT (source_system, dedupe_key) WHERE dedupe_key IS NOT NULL DO NOTHING;","options":{}},"name":"⚠️ Log No Match","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[912,448],"id":"7e0f6d03-3a06-4064-972d-bdfcabb18f42","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"url":"=https://api.superchat.com/v1.0/files/{{ $json.file_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"1afbef7e-ed85-4a8c-920b-b3b6300a7984"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"name":"📎 Get File Info","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,208],"id":"4c20b49f-5125-4c60-a0aa-806c5cd41495"},{"parameters":{"url":"={{ $json.link.url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"name":"📥 Download File","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,208],"id":"4faa77a6-5d61-4c0f-916e-940e7bcc9e62"},{"parameters":{"jsCode":"const projectId = $('🔀 Split Matched Files').first().json.project_id;\nconst docType = $('🔀 Split Matched Files').first().json.doc_type;\nconst fileName = $('📎 Get File Info').first().json.name || 'dokument.pdf';\nconst mimeType = $('📎 Get File Info').first().json.mime_type || 'application/pdf';\nconst fileSize = $('📎 Get File Info').first().json.size || 0;\n\nconst safe = fileName\n  .normalize('NFD').replace(/[̀-ͯ]/g, '')\n  .replace(/[aeAE]/g, 'ae').replace(/[oeOE]/g, 'oe').replace(/[ueUE]/g, 'ue').replace(/[ss]/g, 'ss')\n  .replace(/s+/g, '_').replace(/[^a-zA-Z0-9._-]/g, '');\n\nconst folderMap = {\n  'MAGICPLAN': '03_Aufmass',\n  'PROJECT_ORDER': '01_Auftrag',\n  'INVOICE_IN': '04_Rechnung',\n  'CREDIT_NOTE': '04_Rechnung',\n  'BID_REQUEST': '02_Angebot',\n  'REMINDER': '08_Kommunikation'\n};\nconst folder = folderMap[docType] || '09_Sonstiges';\nconst storagePath = 'documents/' + projectId + '/' + folder + '/' + Date.now() + '_' + safe;\n\nreturn [{ json: { project_id: projectId, doc_type: docType, file_name: fileName, storage_path: storagePath, mime_type: mimeType, file_size: fileSize, event_id: $('🔀 Split Matched Files').first().json.event_id, superchat_message_id: $('🔀 Split Matched Files').first().json.superchat_message_id }, binary: $binary }];"},"name":"📋 Prepare Upload","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,208],"id":"0237754d-c5e0-49ce-8377-7664d814863c"},{"parameters":{"method":"POST","url":"=https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/project-files/{{ $json.storage_path }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlldHdudHdheWhtem1oaGdka2xpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTI4NDUwNywiZXhwIjoyMDgwODYwNTA3fQ.1h7t0JOavX5CSarqKIUr9mMLJBAbt5aI5bAROJTxHYA"},{"name":"Content-Type","value":"={{ $json.mime_type }}"}]},"sendBody":true,"contentType":"raw","body":"={{ $binary.data }}","options":{}},"name":"📤 Upload to Storage","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,208],"id":"80c64d8f-5784-4f82-8150-22d1185994aa"},{"parameters":{"operation":"executeQuery","query":"SELECT fn_route_file_to_folder(\n  '{{ $('📋 Prepare Upload').first().json.project_id }}'::uuid,\n  '{{ $('📋 Prepare Upload').first().json.doc_type }}',\n  '{{ $('📋 Prepare Upload').first().json.file_name }}',\n  '{{ $('📋 Prepare Upload').first().json.storage_path }}',\n  '{{ $('📋 Prepare Upload').first().json.mime_type }}',\n  {{ $('📋 Prepare Upload').first().json.file_size || 'NULL' }},\n  '{{ $('📋 Prepare Upload').first().json.superchat_message_id || '' }}'\n) as result;","options":{}},"name":"💾 Route to Folder","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1792,208],"id":"2d83609f-faaa-467e-8692-d91d4bf23117","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (event_type, project_id, source_system, source_flow, payload, dedupe_key)\nVALUES (\n  'FILE_ROUTED',\n  '{{ $('📋 Prepare Upload').first().json.project_id }}'::uuid,\n  'n8n',\n  'MX_08_File_Router',\n  jsonb_build_object(\n    'source_event_id', '{{ $('📋 Prepare Upload').first().json.event_id }}',\n    'doc_type', '{{ $('📋 Prepare Upload').first().json.doc_type }}',\n    'file_name', '{{ $('📋 Prepare Upload').first().json.file_name }}',\n    'storage_path', '{{ $('📋 Prepare Upload').first().json.storage_path }}'\n  ),\n  'file_routed_{{ $('📋 Prepare Upload').first().json.event_id }}_{{ $('📋 Prepare Upload').first().json.file_name }}'\n)\nON CONFLICT (source_system, dedupe_key) WHERE dedupe_key IS NOT NULL DO NOTHING;","options":{}},"name":"📢 Emit FILE_ROUTED","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2000,208],"id":"aa2a4022-878f-4d12-b816-411478ffb43b","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}}],"connections":{"⏰ Poll":{"main":[[{"node":"📋 Fetch Events","type":"main","index":0}]]},"📋 Fetch Events":{"main":[[{"node":"🔀 Split Matched Files","type":"main","index":0},{"node":"📋 Collect No-Match","type":"main","index":0}]]},"🔀 Split Matched Files":{"main":[[{"node":"📎 Get File Info","type":"main","index":0}]]},"📋 Collect No-Match":{"main":[[{"node":"⚠️ Log No Match","type":"main","index":0}]]},"📎 Get File Info":{"main":[[{"node":"📥 Download File","type":"main","index":0}]]},"📥 Download File":{"main":[[{"node":"📋 Prepare Upload","type":"main","index":0}]]},"📋 Prepare Upload":{"main":[[{"node":"📤 Upload to Storage","type":"main","index":0}]]},"📤 Upload to Storage":{"main":[[{"node":"💾 Route to Folder","type":"main","index":0}]]},"💾 Route to Folder":{"main":[[{"node":"📢 Emit FILE_ROUTED","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version ec90c223","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-03-20T11:55:53.157Z","id":1022,"workflowId":"c4nlSzH5dOVfyblR","versionId":"ec90c223-3f95-4f91-a5e0-f4ec2ff577cf","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-03-20T11:55:57.132Z","id":1024,"workflowId":"c4nlSzH5dOVfyblR","versionId":"ec90c223-3f95-4f91-a5e0-f4ec2ff577cf","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-03-20T11:55:57.122Z","id":1023,"workflowId":"c4nlSzH5dOVfyblR","versionId":"ec90c223-3f95-4f91-a5e0-f4ec2ff577cf","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}