n8n-workflows/MX_03_V2_Superchat_Intake.json
{"updatedAt":"2026-03-04T06:09:37.884Z","createdAt":"2026-02-18T13:12:21.338Z","id":"9eBOez2Q0vBNuQov","name":"MX_03_V2_Superchat_Intake","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const msg = $input.first().json;\n\n// Superchat Trigger Struktur\nconst messageId = msg.message?.id || null;\nconst conversationId = msg.message?.conversation_id || null;\n\n// Email Content\nconst content = msg.message?.content || {};\nconst subject = content.subject || '';\nconst textBody = content.text || content.html?.replace(/<[^>]*>/g, ' ').substring(0, 1500) || '';\n\n// From Address\nconst fromAddress = (msg.message?.from?.identifier || '').toLowerCase();\n\n// Extract domain\nconst domain = fromAddress.includes('@') ? fromAddress.split('@')[1] : '';\n\n// Attachments - liegt in content.files\nconst files = content.files || [];\nconst fileIds = files.map(f => f.id).filter(Boolean);\n\n// Known spam domains\nconst SPAM_DOMAINS = [\n  'linkedin.com',\n  'onepage.io',\n  'mobbin.com',\n  'skool.com',\n  'auftrag.jetzt',\n  'primus-personal.de',\n  'email.contorion.de',\n  'baumarkt.toom.de',\n  'xing.com',\n  'newsletter.',\n  'marketing.',\n  'noreply@'\n];\n\nconst isSpam = SPAM_DOMAINS.some(spam => \n  domain.endsWith(spam) || \n  domain.includes(spam) ||\n  fromAddress.includes(spam)\n);\n\n// MagicPlan detection\nconst isMagicPlan = domain === 'magicplan.app' || \n                    subject.toLowerCase().includes('magicplan') ||\n                    fromAddress.includes('magicplan');\n\nreturn {\n  json: {\n    superchat_message_id: messageId,\n    superchat_conversation_id: conversationId,\n    from_address: fromAddress,\n    domain: domain,\n    subject: subject,\n    body_preview: textBody.substring(0, 1500),\n    file_ids: fileIds,\n    has_attachments: fileIds.length > 0,\n    is_spam: isSpam,\n    is_magicplan: isMagicPlan\n  }\n};"},"id":"3ce42639-285d-4c62-88df-82fbacd485f6","name":"📋 Extract Metadata","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1248,384]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"not-spam","leftValue":"={{ $json.is_spam }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"f5fc9cdd-8dd6-4e84-9a1b-59579db88dfa","name":"🚫 Spam?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1040,384]},{"parameters":{"operation":"executeQuery","query":"SELECT id, doc_type \nFROM classified_emails \nWHERE superchat_message_id = '{{ $json.superchat_message_id }}'\nLIMIT 1;","options":{}},"id":"564c2758-30e7-46ae-8e1b-cac48cde8b09","name":"🔍 Already Classified?","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-816,288],"alwaysOutputData":true,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"is-new","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"ff945a57-f43d-490a-bf53-9651a193fac9","name":"❓ Is New?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-608,288]},{"parameters":{"operation":"executeQuery","query":"SELECT \n  s.id::text as supplier_id,\n  s.name as supplier_name,\n  s.supplier_type::text,\n  s.default_expense_category::text\nFROM suppliers s\nJOIN supplier_aliases sa ON sa.supplier_id = s.id\nWHERE LOWER('{{ $('📋 Extract Metadata').first().json.from_address }}') LIKE '%' || LOWER(sa.alias_name) || '%'\n   OR sa.alias_name = '@' || '{{ $('📋 Extract Metadata').first().json.domain }}'\nLIMIT 1;","options":{}},"id":"cb39bbbd-8056-4c3f-8e26-2618f3c554e1","name":"🏢 Supplier Lookup","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-384,192],"alwaysOutputData":true,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO classified_emails (\n  superchat_message_id,\n  superchat_conversation_id,\n  from_address,\n  subject,\n  doc_type,\n  confidence,\n  routed_to,\n  reason,\n  channel\n)\nVALUES (\n  '{{ $json.superchat_message_id }}',\n  '{{ $json.superchat_conversation_id }}',\n  '{{ ($json.from_address || \"\").replace(/'/g, \"''\") }}',\n  '{{ ($json.subject || \"\").replace(/'/g, \"''\") }}',\n  '{{ $json.doc_type }}',\n  {{ $json.confidence }},\n  {{ $json.routed_to ? \"'\" + $json.routed_to.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  '{{ ($json.reason || \"\").replace(/'/g, \"''\") }}',\n  'superchat'\n)\nON CONFLICT (superchat_message_id) WHERE superchat_message_id IS NOT NULL\nDO UPDATE SET\n  doc_type = EXCLUDED.doc_type,\n  confidence = EXCLUDED.confidence,\n  routed_to = EXCLUDED.routed_to,\n  reason = EXCLUDED.reason,\n  updated_at = now()\nRETURNING id::text, (xmax = 0) as is_new;","options":{}},"id":"0c72c386-a0e3-4108-aece-c466e4d66a15","name":"💾 Save Classification","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1424,176],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"needs-event","leftValue":"={{ $('🏷️ Set Superchat Label').first().json.needs_event }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"5de2c8f3-dbba-4759-b889-7d9f44d00dc0","name":"❓ Needs Event?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1936,176]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (\n  event_type,\n  payload,\n  source_system,\n  source_flow,\n  reference_id,\n  reference_table,\n  dedupe_key\n)\nVALUES (\n  $1::event_type,\n  $2::jsonb,\n  'n8n',\n  'MX_03_V2',\n  $3::uuid,\n  'classified_emails',\n  $4\n)\nON CONFLICT (source_system, dedupe_key) WHERE dedupe_key IS NOT NULL\nDO NOTHING\nRETURNING id::text;\n","options":{"queryReplacement":"={{ (() => {\n    const dt = $('📋 Parse Response').first().json.doc_type;\n    const map = {\n      'INVOICE_IN': 'DOC_CLASSIFIED_INVOICE_IN',\n      'PROJECT_ORDER': 'DOC_CLASSIFIED_PROJECT_ORDER',\n      'CREDIT_NOTE': 'DOC_CLASSIFIED_CREDIT_NOTE',\n      'REMINDER': 'DOC_CLASSIFIED_REMINDER',\n      'MAGICPLAN': 'DOC_CLASSIFIED_MAGICPLAN',\n      'BID_REQUEST': 'DOC_CLASSIFIED_BID_REQUEST'\n    };\n    return map[dt] || 'DOC_CLASSIFIED';\n  })() }},{{ JSON.stringify({\n    doc_type: $('📋 Parse Response').first().json.doc_type,\n    subject: $('📋 Parse Response').first().json.subject,\n    from_address: $('📋 Parse Response').first().json.from_address,\n    file_ids: $('📋 Parse Response').first().json.file_ids,\n    has_attachments: $('📋 Parse Response').first().json.has_attachments,\n    confidence: $('📋 Parse Response').first().json.confidence,\n    routed_to: $('📋 Parse Response').first().json.routed_to,\n    superchat_message_id: $('📋 Parse Response').first().json.superchat_message_id,\n    superchat_conversation_id: $('📋 Parse Response').first().json.superchat_conversation_id,\n    classification_id: $('💾 Save Classification').first().json.id,\n    body_preview: $('📋 Parse Response').first().json.body_preview\n  }) }},{{ $('💾 Save Classification').first().json.id }},{{ $('📋 Parse Response').first().json.superchat_message_id }}\n"}},"id":"695b1b40-5ee5-4083-9635-630370b5bcde","name":"📢 Create Event","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2160,64],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"chatId":"6088921678","text":"=📬 *Email klassifiziert* (V2)\n\n📄 Typ: {{ $('📋 Parse Response').first().json.doc_type }}\n🎯 Konfidenz: {{ Math.round($('📋 Parse Response').first().json.confidence * 100) }}%\n📁 Route: {{ $('📋 Parse Response').first().json.routed_to || 'Keine' }}\n\n📧 Von: {{ $('📋 Parse Response').first().json.from_address }}\n📝 Betreff: {{ $('📋 Parse Response').first().json.subject.substring(0, 60) }}{{ $('📋 Parse Response').first().json.subject.length > 60 ? '...' : '' }}\n\n{{ $('📋 Parse Response').first().json.has_attachments ? '📎 ' + $('📋 Parse Response').first().json.file_ids.length + ' Anhang/Anhänge' : '📭 Keine Anhänge' }}\n{{ $('📋 Parse Response').first().json.supplier_name ? '🏢 Lieferant: ' + $('📋 Parse Response').first().json.supplier_name : '' }}\n\n💡 {{ $('📋 Parse Response').first().json.reason }}","additionalFields":{"parse_mode":"Markdown"}},"id":"de40c429-4ada-49a1-90ff-f9329f5c5d01","name":"📱 Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2320,64],"webhookId":"6cdcf480-be03-4a70-9d3b-0168336aa647","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"topic":"message_inbound","channelIds":{"values":[{"id":{"__rl":true,"value":"mc_jG4C7QFiCYZsUomcauw9L","mode":"list","cachedResultName":"Mail: info@deine-bauloewen.de"}},{"id":{"__rl":true,"value":"mc_JPKFfxGZTN7h6fj5ITB3m","mode":"list","cachedResultName":"Mail: dennis@deine-bauloewen.de"}}]},"inboxIds":{"values":[]},"customAttributeIds":{"values":[]},"builtinAttributes":{"values":[]},"conversationStatus":{"values":[]}},"type":"n8n-nodes-superchat.superchatTrigger","typeVersion":1,"position":[-1440,384],"id":"b64124e8-8a2c-4ba3-b4a3-1b8bc872be67","name":"Superchat Trigger","webhookId":"16e4c3bb-2e90-49f0-bc3b-34ddd563a1a3","credentials":{"superchatApi":{"id":"cKUr3WsspcH6ixJt","name":"Superchat NEW"}}},{"parameters":{"jsCode":"// Split file_ids array into individual items for iteration\nconst fileIds = $('📋 Extract Metadata').first().json.file_ids || [];\nreturn fileIds.map(id => ({ json: { file_id: id } }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,48],"id":"bbde970b-8246-4294-8f48-c73046069eb1","name":"🔀 Split File IDs"},{"parameters":{"url":"=https://api.superchat.com/v1.0/files/{{ $json.file_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"1afbef7e-ed85-4a8c-920b-b3b6300a7984"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[128,48],"id":"dae71c28-f9e5-41f3-b547-f5073ca1ae33","name":"📎 Get File Info"},{"parameters":{"url":"={{ $json.link.url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[512,48],"id":"925bb7a5-b093-46ee-9b40-bbf02d793fa8","name":"📎 Download Binary"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d2bef367-a2bf-4c5f-93f9-1c86b615b65e","leftValue":"={{ $('📋 Extract Metadata').first().json.has_attachments }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-176,192],"id":"72d5b512-cc0e-4b73-b48e-10b716bea580","name":"❓ Has Attachments?"},{"parameters":{"modelId":{"__rl":true,"value":"claude-sonnet-4-20250514","mode":"list","cachedResultName":"claude-sonnet-4-20250514"},"messages":{"values":[{"content":"=BETREFF: {{ $('📋 Extract Metadata').first().json.subject }}\n\nABSENDER: {{ $('📋 Extract Metadata').first().json.from_address }}\n\nANHÄNGE: {{ $('📋 Extract Metadata').first().json.has_attachments ? $('📋 Extract Metadata').first().json.file_ids.length + ' Datei(en)' : 'Keine' }}\n\nINHALT:\n{{ $('📋 Extract Metadata').first().json.body_preview }}"}]},"options":{"system":"=Du klassifizierst eingehende Emails für ein Bauunternehmen (Deine Baulöwen).  BEKANNTE ABSENDER-INFO: {{ $('🏢 Supplier Lookup').first().json.supplier_name ?     'Bekannter Lieferant: ' + $('🏢 Supplier Lookup').first().json.supplier_name +     ' (Typ: ' + $('🏢 Supplier Lookup').first().json.supplier_type +     ', Kategorie: ' + $('🏢 Supplier Lookup').first().json.default_expense_category + ')' :    'Absender nicht in Lieferanten-Datenbank' }}  WICHTIG: Die Absender-Info ist nur ein HINWEIS. Klassifiziere nach INHALT, nicht nach Absender! Ein Lieferant kann Rechnungen, Lieferscheine, Mahnungen, Auftragsbestätigungen oder Werbung schicken.  DOKUMENT-TYPEN: - PROJECT_ORDER: Echter Bauauftrag mit konkreter Adresse, Leistungsbeschreibung, Auftraggeber (SAGA, WBS, Hausverwaltung). Muss spezifische Bauleistungen beschreiben. - INVOICE_IN: Eingangsrechnung mit Rechnungsnummer, Betrag, Zahlungsziel, Bankverbindung - DELIVERY_NOTE: Lieferschein - Warenübergabe OHNE Zahlungsaufforderung (\"Lieferschein\" im Betreff ist starkes Signal) - CREDIT_NOTE: Gutschrift vom Lieferanten - REMINDER: Mahnung oder Zahlungserinnerung - MAGICPLAN: Export aus MagicPlan App (Raumpläne, PDF-Anhänge) - INFO_ONLY: Newsletter, Werbung, Marketing, Job-Vermittlungsportale, Social Media Benachrichtigungen - OTHER: Allgemeine Korrespondenz, Anfragen, Terminbestätigungen  SPAM/INFO_ONLY ERKENNUNG: - Job-Portale wie auftrag.jetzt, my-hammer.de = IMMER INFO_ONLY - \"Neuer Auftrag verfügbar\" ohne konkrete Adresse = INFO_ONLY - \"Freie Plätze\", \"Jetzt bewerben\" = INFO_ONLY - Newsletter, Marketing-Emails = INFO_ONLY - LinkedIn, Xing Benachrichtigungen = INFO_ONLY  LIEFERSCHEIN vs RECHNUNG: - \"Lieferschein\" oder \"Delivery Note\" im Betreff = DELIVERY_NOTE - Betrag 0,00€ oder kein Zahlungsziel = wahrscheinlich DELIVERY_NOTE - Rechnungsnummer + Zahlungsziel + Betrag > 0 = INVOICE_IN  Antworte NUR mit JSON, keine Erklärung: {\"doc_type\": \"...\", \"confidence\": 0.0-1.0, \"reason\": \"kurze Begründung auf Deutsch\"}\n- BID_REQUEST: Angebotsanfrage/Ausschreibung — jemand bittet um Angebotserstellung.\n  Merkmale: \"Angebotsanfrage\", \"Angebotsabgabe bis...\", \"bitten um Ihr Angebot\",\n  LV, Baubeschreibung, .D83-Datei, Abgabefrist.\n  BID_REQUEST = \"Bitte mach uns ein Angebot\"\n  PROJECT_ORDER = \"Hier ist dein Auftrag, fang an\"\n","maxTokens":4000}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[288,336],"id":"ca0ca54b-faf0-49ba-815a-538c61ab56d4","name":"🤖 Claude Classify ohne Anhang","credentials":{"anthropicApi":{"id":"DSb7Itt2r6kfGiHs","name":"Anthropic account"}}},{"parameters":{"modelId":{"__rl":true,"value":"claude-sonnet-4-20250514","mode":"list","cachedResultName":"claude-sonnet-4-20250514"},"messages":{"values":[{"content":"=BETREFF: {{ $('📋 Extract Metadata').first().json.subject }}\n\nABSENDER: {{ $('📋 Extract Metadata').first().json.from_address }}\n\nANHÄNGE: {{ $('📋 Extract Metadata').first().json.has_attachments ? $('📋 Extract Metadata').first().json.file_ids.length + ' Datei(en)' : 'Keine' }}\n\nINHALT:\n{{ $('📋 Extract Metadata').first().json.body_preview }}"}]},"addAttachments":true,"attachmentsInputType":"binary","options":{"system":"=Du klassifizierst eingehende Emails für ein Bauunternehmen (Deine Baulöwen).  BEKANNTE ABSENDER-INFO: {{ $('🏢 Supplier Lookup').first().json.supplier_name ?     'Bekannter Lieferant: ' + $('🏢 Supplier Lookup').first().json.supplier_name +     ' (Typ: ' + $('🏢 Supplier Lookup').first().json.supplier_type +     ', Kategorie: ' + $('🏢 Supplier Lookup').first().json.default_expense_category + ')' :    'Absender nicht in Lieferanten-Datenbank' }}  WICHTIG: Die Absender-Info ist nur ein HINWEIS. Klassifiziere nach INHALT, nicht nach Absender! Ein Lieferant kann Rechnungen, Lieferscheine, Mahnungen, Auftragsbestätigungen oder Werbung schicken.  DOKUMENT-TYPEN: - PROJECT_ORDER: Echter Bauauftrag mit konkreter Adresse, Leistungsbeschreibung, Auftraggeber (SAGA, WBS, Hausverwaltung). Muss spezifische Bauleistungen beschreiben. - INVOICE_IN: Eingangsrechnung mit Rechnungsnummer, Betrag, Zahlungsziel, Bankverbindung - DELIVERY_NOTE: Lieferschein - Warenübergabe OHNE Zahlungsaufforderung (\"Lieferschein\" im Betreff ist starkes Signal) - CREDIT_NOTE: Gutschrift vom Lieferanten - REMINDER: Mahnung oder Zahlungserinnerung - MAGICPLAN: Export aus MagicPlan App (Raumpläne, PDF-Anhänge) - INFO_ONLY: Newsletter, Werbung, Marketing, Job-Vermittlungsportale, Social Media Benachrichtigungen - OTHER: Allgemeine Korrespondenz, Anfragen, Terminbestätigungen  SPAM/INFO_ONLY ERKENNUNG: - Job-Portale wie auftrag.jetzt, my-hammer.de = IMMER INFO_ONLY - \"Neuer Auftrag verfügbar\" ohne konkrete Adresse = INFO_ONLY - \"Freie Plätze\", \"Jetzt bewerben\" = INFO_ONLY - Newsletter, Marketing-Emails = INFO_ONLY - LinkedIn, Xing Benachrichtigungen = INFO_ONLY  LIEFERSCHEIN vs RECHNUNG: - \"Lieferschein\" oder \"Delivery Note\" im Betreff = DELIVERY_NOTE - Betrag 0,00€ oder kein Zahlungsziel = wahrscheinlich DELIVERY_NOTE - Rechnungsnummer + Zahlungsziel + Betrag > 0 = INVOICE_IN  Antworte NUR mit JSON, keine Erklärung: {\"doc_type\": \"...\", \"confidence\": 0.0-1.0, \"reason\": \"kurze Begründung auf Deutsch\"}\n- BID_REQUEST: Angebotsanfrage/Ausschreibung — jemand bittet um Angebotserstellung.\n  Merkmale: \"Angebotsanfrage\", \"Angebotsabgabe bis...\", \"bitten um Ihr Angebot\",\n  LV, Baubeschreibung, .D83-Datei, Abgabefrist.\n  BID_REQUEST = \"Bitte mach uns ein Angebot\"\n  PROJECT_ORDER = \"Hier ist dein Auftrag, fang an\"\n"}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[704,48],"id":"4ff5f73b-9679-4fed-a7b7-1969c0d0ae5d","name":"🤖 Claude Classify mit Anhang","credentials":{"anthropicApi":{"id":"DSb7Itt2r6kfGiHs","name":"Anthropic account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO flow_logs (flow_name, status, reason, message_id, from_address, metadata)\nVALUES (\n  'MX_03_V2',\n  'SKIPPED',\n  'spam',\n  '{{ $('📋 Extract Metadata').first().json.superchat_message_id }}',\n  '{{ $('📋 Extract Metadata').first().json.from_address }}',\n  jsonb_build_object('domain', '{{ $('📋 Extract Metadata').first().json.domain }}')\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-816,480],"id":"6b1a0822-39ac-46ba-8202-f2729f433ab7","name":"📝 Log Spam","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO flow_logs (flow_name, status, reason, message_id, from_address, metadata)\nVALUES (\n  'MX_03_V2',\n  'SKIPPED',\n  'duplicate',\n  '{{ $('📋 Extract Metadata').first().json.superchat_message_id }}',\n  '{{ $('📋 Extract Metadata').first().json.from_address }}',\n  jsonb_build_object(\n    'existing_id', '{{ $('🔍 Already Classified?').first().json.id }}',\n    'existing_doc_type', '{{ $('🔍 Already Classified?').first().json.doc_type }}'\n  )\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-384,384],"id":"2548d0ba-9087-45f6-aaf3-da90c01b17ef","name":"📝 Log Duplicate","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO flow_logs (flow_name, status, reason, message_id, from_address, metadata)\nVALUES (\n  'MX_03_V2',\n  'COMPLETED',\n  'event_created',\n  '{{ $('📋 Extract Metadata').first().json.superchat_message_id }}',\n  '{{ $('📋 Extract Metadata').first().json.from_address }}',\n  '{{ JSON.stringify({\n    doc_type: $('📋 Parse Response').first().json.doc_type,\n    confidence: $('📋 Parse Response').first().json.confidence,\n    classification_id: $('💾 Save Classification').first().json.id\n  }) }}'::jsonb\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2480,64],"id":"fd7ba4bc-1087-4768-a4e7-c2f179203ae0","name":"📝 Log Success","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-1456,832],"id":"a55d3854-66e3-411a-be41-038dbc6cb514","name":"When chat message received","webhookId":"6caa81d1-ef83-437b-a8c7-59b1906875e0"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO flow_logs (flow_name, status, reason, message_id, from_address, metadata)\nVALUES (\n  'MX_03_V2',\n  'COMPLETED',\n  'no_event_needed',\n  '{{ $('📋 Extract Metadata').first().json.superchat_message_id }}',\n  '{{ $('📋 Extract Metadata').first().json.from_address }}',\n  '{{ JSON.stringify({\n    doc_type: $('📋 Parse Response').first().json.doc_type,\n    confidence: $('📋 Parse Response').first().json.confidence\n  }) }}'::jsonb\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2160,304],"id":"4b721a66-94be-4bb5-a2bf-94c0db897d5d","name":"✅ Respond (No Event)","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"// Code Node: Map doc_type to label_id\nlet docType, needsEvent;\ntry {\n  const data = $('Parse Response ohne Anhang').first().json;\n  docType = data.doc_type;\n  needsEvent = data.needs_event;\n} catch {\n  const data = $('Parse Response mit Anhang').first().json;\n  docType = data.doc_type;\n  needsEvent = data.needs_event;\n}\nconst isSpam = $('📋 Extract Metadata').first().json.is_spam;\nconst conversationId = $('📋 Extract Metadata').first().json.superchat_conversation_id;\n\nconst LABEL_MAP = {\n  'PROJECT_ORDER': 'la_JL6T6WlbtnVOwvLmfUAkW',\n  'BID_REQUEST': 'la_JL6T6WlbtnVOwvLmfUAkW',\n  'INVOICE_IN': 'la_m5VEZRUpBgZ17E4PCl5rK',\n  'CREDIT_NOTE': 'la_m5VEZRUpBgZ17E4PCl5rK',\n  'REMINDER': 'la_ygwhR3K7ZOe04Tx9EBVOF',\n  'MAGICPLAN': 'la_D4ixV96L4FGqXiQdFxzr5',\n  'INFO_ONLY': 'la_PsczF7sslnm9R7bLVg9B0',\n  'DELIVERY_NOTE': 'la_PsczF7sslnm9R7bLVg9B0',\n  'OTHER': 'la_0C4CLMCMCQVd4WdJpLPkR'\n};\n\nlet labelId = LABEL_MAP[docType] || 'la_0C4CLMCMCQVd4WdJpLPkR';\n\nif (isSpam) {\n  labelId = 'la_grdalWj2VhI9EXeYkEMMN';\n  needsEvent = false;\n}\n\nreturn {\n  json: {\n    conversation_id: conversationId,\n    label_id: labelId,\n    needs_event: needsEvent\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1584,176],"id":"15da1c34-a322-4100-8dad-a0628fd343b6","name":"🏷️ Set Superchat Label"},{"parameters":{"jsCode":"// 📋 Parse Response - Code Node\nconst input = $input.first().json;\nconst metadata = $('📋 Extract Metadata').first().json;\nconst supplier = $('🏢 Supplier Lookup').first().json;\n\n// Claude Response parsen\nlet parsed;\ntry {\n  // Claude gibt manchmal markdown zurück\n  const text = input.message?.content || input.content?.[0]?.text || '';\n  const jsonMatch = text.match(/\\{[\\s\\S]*?\\}/);\n  parsed = jsonMatch ? JSON.parse(jsonMatch[0]) : { doc_type: 'OTHER', confidence: 0.5, reason: 'Parse failed' };\n} catch (e) {\n  parsed = { doc_type: 'OTHER', confidence: 0.5, reason: 'JSON parse error: ' + e.message };\n}\n\n// Event-würdig?\nconst EVENT_TYPES = ['INVOICE_IN', 'PROJECT_ORDER', 'CREDIT_NOTE', 'REMINDER', 'MAGICPLAN', 'BID_REQUEST'];\nconst needsEvent = EVENT_TYPES.includes(parsed.doc_type) && parsed.confidence >= 0.7;\n\nreturn {\n  json: {\n    ...metadata,\n    ...parsed,\n    supplier_id: supplier.supplier_id || null,\n    supplier_name: supplier.supplier_name || null,\n    needs_event: needsEvent\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1056,48],"id":"605fee4c-4eff-43ee-868b-f9ad7b5baaa9","name":"Parse Response mit Anhang"},{"parameters":{"jsCode":"// 📋 Parse Response - Code Node\nconst input = $input.first().json;\nconst metadata = $('📋 Extract Metadata').first().json;\nconst supplier = $('🏢 Supplier Lookup').first().json;\n\n// Claude Response parsen\nlet parsed;\ntry {\n  // Claude gibt manchmal markdown zurück\n  const text = input.message?.content || input.content?.[0]?.text || '';\n  const jsonMatch = text.match(/\\{[\\s\\S]*?\\}/);\n  parsed = jsonMatch ? JSON.parse(jsonMatch[0]) : { doc_type: 'OTHER', confidence: 0.5, reason: 'Parse failed' };\n} catch (e) {\n  parsed = { doc_type: 'OTHER', confidence: 0.5, reason: 'JSON parse error: ' + e.message };\n}\n\n// Event-würdig?\nconst EVENT_TYPES = ['INVOICE_IN', 'PROJECT_ORDER', 'CREDIT_NOTE', 'REMINDER', 'MAGICPLAN', 'BID_REQUEST'];\nconst needsEvent = EVENT_TYPES.includes(parsed.doc_type) && parsed.confidence >= 0.7;\n\nreturn {\n  json: {\n    ...metadata,\n    ...parsed,\n    supplier_id: supplier.supplier_id || null,\n    supplier_name: supplier.supplier_name || null,\n    needs_event: needsEvent\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,336],"id":"b206a412-e90a-4e84-be96-6e40f842839b","name":"Parse Response ohne Anhang"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,176],"id":"ffeae662-917d-4667-941e-44a414bd4847","name":"📋 Parse Response"},{"parameters":{"resource":"conversation","operation":"updateLabels","id":"={{ $json.conversation_id }}","labelIds":{"values":[{"id":{"__rl":true,"value":"={{ $json.label_id }}","mode":"id"}}]}},"type":"n8n-nodes-superchat.superchat","typeVersion":1,"position":[1760,176],"id":"23a64442-b32b-4c9a-9fd7-0b167c386bca","name":"📤 Apply Superchat Label","credentials":{"superchatApi":{"id":"cKUr3WsspcH6ixJt","name":"Superchat NEW"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"835b0989-daa0-475a-8408-fadb99e321e5","leftValue":"={{ $json.mime_type }}","rightValue":"pdf","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[304,48],"id":"54b7ded9-9009-4b2f-b2a2-74524dd92c0d","name":"Supported File?"}],"connections":{"📋 Extract Metadata":{"main":[[{"node":"🚫 Spam?","type":"main","index":0}]]},"🚫 Spam?":{"main":[[{"node":"🔍 Already Classified?","type":"main","index":0}],[{"node":"📝 Log Spam","type":"main","index":0}]]},"🔍 Already Classified?":{"main":[[{"node":"❓ Is New?","type":"main","index":0}]]},"❓ Is New?":{"main":[[{"node":"🏢 Supplier Lookup","type":"main","index":0}],[{"node":"📝 Log Duplicate","type":"main","index":0}]]},"🏢 Supplier Lookup":{"main":[[{"node":"❓ Has Attachments?","type":"main","index":0}]]},"💾 Save Classification":{"main":[[{"node":"🏷️ Set Superchat Label","type":"main","index":0}]]},"❓ Needs Event?":{"main":[[{"node":"📢 Create Event","type":"main","index":0}],[{"node":"✅ Respond (No Event)","type":"main","index":0}]]},"📢 Create Event":{"main":[[{"node":"📱 Telegram","type":"main","index":0}]]},"📱 Telegram":{"main":[[{"node":"📝 Log Success","type":"main","index":0}]]},"Superchat Trigger":{"main":[[{"node":"📋 Extract Metadata","type":"main","index":0}]]},"📎 Get File Info":{"main":[[{"node":"Supported File?","type":"main","index":0}]]},"📎 Download Binary":{"main":[[{"node":"🤖 Claude Classify mit Anhang","type":"main","index":0}]]},"❓ Has Attachments?":{"main":[[{"node":"🔀 Split File IDs","type":"main","index":0}],[{"node":"🤖 Claude Classify ohne Anhang","type":"main","index":0}]]},"🔀 Split File IDs":{"main":[[{"node":"📎 Get File Info","type":"main","index":0}]]},"🤖 Claude Classify ohne Anhang":{"main":[[{"node":"Parse Response ohne Anhang","type":"main","index":0}]]},"🤖 Claude Classify mit Anhang":{"main":[[{"node":"Parse Response mit Anhang","type":"main","index":0}]]},"🏷️ Set Superchat Label":{"main":[[{"node":"📤 Apply Superchat Label","type":"main","index":0}]]},"Parse Response ohne Anhang":{"main":[[{"node":"📋 Parse Response","type":"main","index":0}]]},"Parse Response mit Anhang":{"main":[[{"node":"📋 Parse Response","type":"main","index":0}]]},"📋 Parse Response":{"main":[[{"node":"💾 Save Classification","type":"main","index":0}]]},"📤 Apply Superchat Label":{"main":[[{"node":"❓ Needs Event?","type":"main","index":0}]]},"Supported File?":{"main":[[{"node":"📎 Download Binary","type":"main","index":0}],[{"node":"🤖 Claude Classify ohne Anhang","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true,"timeSavedMode":"fixed","errorWorkflow":"apmJoMCbOchwfqTp","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Superchat Trigger":{"webhookId":"wh_4mZ66IvHE8hOUHhyzdliI"}},"meta":null,"pinData":{"Superchat Trigger":[{"json":{"id":"pe_8sOZJq6acPCzDkOcCP13o","message":{"id":"ms_89cCieqLK1EhzwKUqxC9q","status":"received","conversation_id":"cv_JWTRaDsHo5wiMILQfl5am","in_reply_to":null,"content":{"subject":"Rechnungsnummer 23855716 von Delmes Heitmann GmbH & Co. KG","text":null,"html":"<html xmlns:st=\"urn:st-xslt-extensions:format\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><head><title xmlns=\"http://www.w3.org/1999/xhtml\">B4 ValueNet Portal </title><style>/* /\\/\\/\\/\\/\\/\\/\\/\\/ CLIENT-SPECIFIC STYLES /\\/\\/\\/\\/\\/\\/\\/\\/ */#outlook a{padding:0;} /* Force Outlook to provide a \"view in browser\" message */.ReadMsgBody{width:100%;} .ExternalClass{width:100%;} /* Force Hotmail to display emails at full width */.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing */body, table, td, p, a, li, blockquote{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;} /* Prevent WebKit and Windows mobile changing default text sizes */table, td{mso-table-lspace:0pt; mso-table-rspace:0pt;} /* Remove spacing between tables in Outlook 2007 and up */img{-ms-interpolation-mode:bicubic;} /* Allow smoother rendering of resized image in Internet Explorer *//* /\\/\\/\\/\\/\\/\\/\\/\\/ RESET STYLES /\\/\\/\\/\\/\\/\\/\\/\\/ */body{margin:0; padding:0;}img{border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}table{border-collapse:collapse !important;}body, #bodyTable, #bodyCell{height:100% !important; margin:0; padding:0; width:100% !important;}/* /\\/\\/\\/\\/\\/\\/\\/\\/ TEMPLATE STYLES /\\/\\/\\/\\/\\/\\/\\/\\/ *//* ========== Page Styles ========== */#bodyCell{padding:20px;}#templateContainer{width:600px;}/*** @tab Page* @section background style* @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.* @theme page*/body, #bodyTable{/*@editable*/ background-color:#DEE0E2;}/*** @tab Page* @section background style* @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.* @theme page*/#bodyCell{}/*** @tab Page* @section email border* @tip Set the border for your email.*/#templateContainer{/*@editable*/ border:1px solid #BBBBBB;}/*** @tab Page* @section heading 1* @tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.* @style heading 1*/h1{/*@editable*/ color:#004c93 !important;display:block;/*@editable*/ font-family:Verdana, Geneva, sans-serif;/*@editable*/ font-size:16px;/*@editable*/ font-style:normal;/*@editable*/ font-weight:bold;/*@editable*/ line-height:100%;/*@editable*/ letter-spacing:normal;margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;/*@editable*/ text-align:left;}h2{/*@editable*/ color:#004c93 !important;display:block;/*@editable*/ font-family:Verdana, Geneva, sans-serif;/*@editable*/ font-size:21px;/*@editable*/ font-style:normal;/*@editable*/ font-weight:bold;/*@editable*/ line-height:100%;/*@editable*/ letter-spacing:normal;margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;/*@editable*/ text-align:left;}h3{/*@editable*/ color:#ffffff !important;display:block;/*@editable*/ font-family:Verdana, Geneva, sans-serif;/*@editable*/ font-size:17px;/*@editable*/ font-size:17px;/*@editable*/ font-style:normal;/*@editable*/ font-weight:normal;/*@editable*/ line-height:100%;/*@editable*/ letter-spacing:normal;margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;/*@editable*/ text-align:left;}h4{/*@editable*/ color:#929292!important;display:block;/*@editable*/ font-family:Verdana, Geneva, sans-serif;/*@editable*/ font-size:13px;/*@editable*/ font-style:normal;/*@editable*/ font-weight:normal;/*@editable*/ line-height:120%;/*@editable*/ letter-spacing:normal;margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;/*@editable*/ text-align:left;}h5{/*@editable*/ color: black !important;display:block;/*@editable*/ font-family:Verdana, Geneva, sans-serif;/*@editable*/ font-size:11px;/*@editable*/ font-style:normal;/*@editable*/ font-weight:normal;/*@editable*/ line-height:100%;/*@editable*/ letter-spacing:normal;margin-top:0;line-height: 120%;margin-right:0;margin-bottom:10px;margin-left:0;/*@editable*/ text-align:left;}h6{/*@editable*/ color:#929292 !important;display:block;/*@editable*/ font-family:Verdana, Geneva, sans-serif;/*@editable*/ font-size:13px;/*@editable*/ font-style:normal;/*@editable*/ font-weight:normal;/*@editable*/ line-height:100%;/*@editable*/ letter-spacing:normal;margin-top:0;line-height: 120%;margin-right:0;margin-bottom:10px;margin-left:0;/*@editable*/ text-align:left;}h7{/*@editable*/ color:black !important;display:block;/*@editable*/ font-family:Verdana, Geneva, sans-serif;/*@editable*/ font-size:9px;/*@editable*/ font-style:normal;/*@editable*/ font-weight:normal;/*@editable*/ line-height:100%;/*@editable*/ letter-spacing:normal;margin-top:0;line-height: 120%;margin-right:0;margin-bottom:10px;margin-left:0;/*@editable*/ text-align:left;}/* ========== Header Styles ========== *//*** @tab Header* @section preheader style* @tip Set the background color and bottom border for your email's preheader area.* @theme header*/#templatePreheader{/*@editable*/ background-color:#ffffff;/*@editable*/ border-bottom:1px solid #CCCCCC;}/*** @tab Header* @section preheader text* @tip Set the styling for your email's preheader text. Choose a size and color that is easy to read.*/.preheaderContent{/*@editable*/ color:#808080;/*@editable*/ font-family:Helvetica;/*@editable*/ font-size:10px;/*@editable*/ line-height:125%;/*@editable*/ text-align:left;}/*** @tab Header* @section preheader link* @tip Set the styling for your email's preheader links. Choose a color that helps them stand out from your text.*/.preheaderContent a:link, .preheaderContent a:visited, /* Yahoo! Mail Override */ .preheaderContent a .yshortcuts /* Yahoo! Mail Override */{/*@editable*/ color:#606060;/*@editable*/ font-weight:normal;/*@editable*/ text-decoration:underline;}/*** @tab Header* @section header style* @tip Set the background color and borders for your email's header area.* @theme header*/#templateHeader{/*@editable*/ background-color:#ffffff;/*@editable*/ border-top:1px solid #FFFFFF;/*@editable*/ border-bottom:1px solid #CCCCCC;}/*** @tab Header* @section header text* @tip Set the styling for your email's header text. Choose a size and color that is easy to read.*/.headerContent{/*@editable*/ color:#505050;/*@editable*/ font-family:Helvetica;/*@editable*/ font-size:20px;/*@editable*/ font-weight:bold;/*@editable*/ line-height:100%;/*@editable*/ padding-top:0;/*@editable*/ padding-right:0;/*@editable*/ padding-bottom:0;/*@editable*/ padding-left:0;/*@editable*/ text-align:left;/*@editable*/ vertical-align:middle;}/*** @tab Header* @section header link* @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.*/.headerContent a:link, .headerContent a:visited, /* Yahoo! Mail Override */ .headerContent a .yshortcuts /* Yahoo! Mail Override */{/*@editable*/ color:#006d99;/*@editable*/ font-weight:normal;/*@editable*/ text-decoration:underline;}#headerImage{height:auto;max-width:600px;}/* ========== Body Styles ========== *//*** @tab Body* @section body style* @tip Set the background color and borders for your email's body area.*/#templateBody{/*@editable*/ background-color:#f6f6f6;/*@editable*/ border-top:1px solid #FFFFFF;/*@editable*/ border-bottom:1px solid #CCCCCC;}/*** @tab Body* @section body text* @tip Set the styling for your email's main content text. Choose a size and color that is easy to read.* @theme main*/.bodyContent{/*@editable*/ color:#505050;/*@editable*/ font-family:Helvetica;/*@editable*/ font-size:16px;/*@editable*/ line-height:150%;padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px;/*@editable*/ text-align:left;}/*** @tab Body* @section body link* @tip Set the styling for your email's main content links. Choose a color that helps them stand out from your text.*/.bodyContent a:link, .bodyContent a:visited, /* Yahoo! Mail Override */ .bodyContent a .yshortcuts /* Yahoo! Mail Override */{/*@editable*/ color:#006d99;/*@editable*/ font-weight:normal;/*@editable*/ text-decoration:underline;}.bodyContent img{display:inline;height:auto;max-width:560px;}/* ========== Column Styles ========== */.templateColumnContainer{width:200px;}/*** @tab Columns* @section column style* @tip Set the background color and borders for your email's column area.*/#templateColumns{/*@editable*/ background-color:#ffffff;/*@editable*/ border-top:1px solid #FFFFFF;/*@editable*/ border-bottom:1px solid #CCCCCC;}/*** @tab Columns* @section left column text* @tip Set the styling for your email's left column content text. Choose a size and color that is easy to read.*/.leftColumnContent{/*@editable*/ color:#505050;/*@editable*/ font-family:Helvetica;/*@editable*/ font-size:14px;/*@editable*/ line-height:150%;padding-top:0;padding-right:20px;padding-bottom:20px;padding-left:20px;/*@editable*/ text-align:left;}/*** @tab Columns* @section left column link* @tip Set the styling for your email's left column content links. Choose a color that helps them stand out from your text.*/.leftColumnContent a:link, .leftColumnContent a:visited, /* Yahoo! Mail Override */ .leftColumnContent a .yshortcuts /* Yahoo! Mail Override */{/*@editable*/ color:#006d99;/*@editable*/ font-weight:normal;/*@editable*/ text-decoration:underline;}/*** @tab Columns* @section center column text* @tip Set the styling for your email's center column content text. Choose a size and color that is easy to read.*/.centerColumnContent{/*@editable*/ color:#505050;/*@editable*/ font-family:Helvetica;/*@editable*/ font-size:14px;/*@editable*/ line-height:150%;padding-top:0;padding-right:20px;padding-bottom:20px;padding-left:20px;/*@editable*/ text-align:left;}/*** @tab Columns* @section center column link* @tip Set the styling for your email's center column content links. Choose a color that helps them stand out from your text.*/.centerColumnContent a:link, .centerColumnContent a:visited, /* Yahoo! Mail Override */ .centerColumnContent a .yshortcuts /* Yahoo! Mail Override */{/*@editable*/ color:#006d99;/*@editable*/ font-weight:normal;/*@editable*/ text-decoration:underline;}/*** @tab Columns* @section right column text* @tip Set the styling for your email's right column content text. Choose a size and color that is easy to read.*/.rightColumnContent{/*@editable*/ color:#505050;/*@editable*/ font-family:Helvetica;/*@editable*/ font-size:14px;/*@editable*/ line-height:150%;padding-top:0;padding-right:20px;padding-bottom:20px;padding-left:20px;/*@editable*/ text-align:left;}/*** @tab Columns* @section right column link* @tip Set the styling for your email's right column content links. Choose a color that helps them stand out from your text.*/.rightColumnContent a:link, .rightColumnContent a:visited, /* Yahoo! Mail Override */ .rightColumnContent a .yshortcuts /* Yahoo! Mail Override */{/*@editable*/ color:#006d99;/*@editable*/ font-weight:normal;/*@editable*/ text-decoration:underline;}.leftColumnContent img, .rightColumnContent img{display:inline;height:auto;max-width:260px;}/* ========== Footer Styles ========== *//*** @tab Footer* @section footer style* @tip Set the background color and borders for your email's footer area.* @theme footer*/#templateFooter{/*@editable*/ background-color:#ffffff;/*@editable*/ border-top:1px solid #CCCCCC;}/*** @tab Footer* @section footer text* @tip Set the styling for your email's footer text. Choose a size and color that is easy to read.* @theme footer*/.footerContent{/*@editable*/ color:#808080;/*@editable*/ font-family:Helvetica;/*@editable*/ font-size:10px;/*@editable*/ line-height:150%;padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px;/*@editable*/ text-align:left;}/*** @tab Footer* @section footer link* @tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.*/.footerContent a:link, .footerContent a:visited, /* Yahoo! Mail Override */ .footerContent a .yshortcuts, .footerContent a span /* Yahoo! Mail Override */{/*@editable*/ color:#606060;/*@editable*/ font-weight:normal;/*@editable*/ text-decoration:underline;}/* /\\/\\/\\/\\/\\/\\/\\/\\/ MOBILE STYLES /\\/\\/\\/\\/\\/\\/\\/\\/ */@media only screen and (max-width: 480px){/* /\\/\\/\\/\\/\\/\\/ CLIENT-SPECIFIC MOBILE STYLES /\\/\\/\\/\\/\\/\\/ */body, table, td, p, a, li, blockquote{-webkit-text-size-adjust:none !important;} /* Prevent Webkit platforms from changing default text sizes */body{width:100% !important; min-width:100% !important;} /* Prevent iOS Mail from adding padding to the body *//* /\\/\\/\\/\\/\\/\\/ MOBILE RESET STYLES /\\/\\/\\/\\/\\/\\/ */#bodyCell{padding:10px !important;}/* /\\/\\/\\/\\/\\/\\/ MOBILE TEMPLATE STYLES /\\/\\/\\/\\/\\/\\/ *//* ======== Page Styles ======== *//*** @tab Mobile Styles* @section template width* @tip Make the template fluid for portrait or landscape view adaptability. If a fluid layout doesn't work for you, set the width to 300px instead.*/#templateContainer{max-width:600px !important;/*@editable*/ width:100% !important;}/*** @tab Mobile Styles* @section heading 1* @tip Make the first-level headings larger in size for better readability on small screens.*/h1{/*@editable*/ font-size:24px !important;/*@editable*/ line-height:100% !important;}/*** @tab Mobile Styles* @section heading 2* @tip Make the second-level headings larger in size for better readability on small screens.*/h2{/*@editable*/ font-size:20px !important;/*@editable*/ line-height:100% !important;}/*** @tab Mobile Styles* @section heading 3* @tip Make the third-level headings larger in size for better readability on small screens.*/h3{/*@editable*/ font-size:18px !important;/*@editable*/ line-height:100% !important;}/*** @tab Mobile Styles* @section heading 4* @tip Make the fourth-level headings larger in size for better readability on small screens.*/h4{/*@editable*/ font-size:16px !important;/*@editable*/ line-height:100% !important;}/* ======== Header Styles ======== */#templatePreheader{display:none !important;} /* Hide the template preheader to save space *//*** @tab Mobile Styles* @section header image* @tip Make the main header image fluid for portrait or landscape view adaptability, and set the image's original width as the max-width. If a fluid setting doesn't work, set the image width to half its original size instead.*/#headerImage{height:auto !important;/*@editable*/ max-width:600px !important;/*@editable*/ width:100% !important;}/*** @tab Mobile Styles* @section header text* @tip Make the header content text larger in size for better readability on small screens. We recommend a font size of at least 16px.*/.headerContent{/*@editable*/ font-size:20px !important;/*@editable*/ line-height:125% !important;}/* ======== Body Styles ======== *//*** @tab Mobile Styles* @section body text* @tip Make the body content text larger in size for better readability on small screens. We recommend a font size of at least 16px.*/.bodyContent{/*@editable*/ font-size:18px !important;/*@editable*/ line-height:125% !important;}/* ======== Column Styles ======== */.templateColumnContainer{display:block !important; width:100% !important;}/*** @tab Mobile Styles* @section column image* @tip Make the column image fluid for portrait or landscape view adaptability, and set the image's original width as the max-width. If a fluid setting doesn't work, set the image width to half its original size instead.*/.columnImage{height:auto !important;/*@editable*/ max-width:480px !important;/*@editable*/ width:100% !important;}/*** @tab Mobile Styles* @section left column text* @tip Make the left column content text larger in size for better readability on small screens. We recommend a font size of at least 16px.*/.leftColumnContent{/*@editable*/ font-size:16px !important;/*@editable*/ line-height:125% !important;}/*** @tab Mobile Styles* @section center column text* @tip Make the center column content text larger in size for better readability on small screens. We recommend a font size of at least 16px.*/.centerColumnContent{/*@editable*/ font-size:16px !important;/*@editable*/ line-height:125% !important;}/*** @tab Mobile Styles* @section right column text* @tip Make the right column content text larger in size for better readability on small screens. We recommend a font size of at least 16px.*/.rightColumnContent{/*@editable*/ font-size:16px !important;/*@editable*/ line-height:125% !important;}/* ======== Footer Styles ======== *//*** @tab Mobile Styles* @section footer text* @tip Make the body content text larger in size for better readability on small screens.*/.footerContent{/*@editable*/ font-size:14px !important;/*@editable*/ line-height:115% !important;}.footerContent a{display:block !important;} /* Place footer social and utility links on their own lines, for easier access */}</style></head><body leftmargin=\"0\" marginwidth=\"0\" topmargin=\"0\" marginheight=\"0\" offset=\"0\"><center><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tbody><tr><td align=\"center\" valign=\"top\" id=\"bodyCell\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" id=\"templateContainer\"><tbody><tr><td align=\"center\" valign=\"top\"><br><img src=\"https://static.b4value.net/delmes/bauwelt_Logo_delmes.png\" width=\"40%\"><br><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" id=\"templateBody\"><tbody><tr><td valign=\"top\" class=\"bodyContent\" edit=\"body_content\"><h1 class=\"h1\"><span style=\"color: #E11517;\">Zustellung der Rechnung Nr.: 23855716</span></h1><br><h4 xmlns=\"http://www.w3.org/1999/xhtml\">Sehr geehrte Damen und Herren,</h4><h4>als Anlage erhalten Sie eine Rechnung von Delmes Heitmann GmbH &amp; Co. KG</h4><br><a href=\"https://portal.b4value.net/v3\" style=\"display: block; width: fit-content; margin: auto; background-color: #E11517; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-weight: bold;\">Zum Portal</a><br><h4>Dieses Dokument wird Ihnen als PDF-Datei über das TRAFFIQX® Netzwerk durch unseren Provider b4value.net GmbH zugestellt. </h4><h4>Sollten Sie ein anderes Dokumenten- oder Datenformat vorziehen, sprechen Sie unseren Dienstleister gerne darauf an. </h4></td></tr><tr><td><h4 style=\"padding-left:20px;\">Bitte beachten Sie die jeweiligen gesetzlichen Vorgaben zur Archivierung, sowohl für Versender als auch für Empfänger elektronischer Dokumente. </h4></td></tr><tr><td align=\"center\" valign=\"top\" style=\"padding-top:0;\" bgcolor=\"f6f6f6\"><br></td></tr><tr><td align=\"left\" valign=\"top\" width=\"100%\" bgcolor=\"#7B7B7A\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tbody><tr><td valign=\"top\" style=\"padding-top:10px; padding-left:20px;\"><p style=\"color:white; font-size:13px;\">Delmes Heitmann GmbH &amp; Co. KG</p><p style=\"color:white; font-size:10px;\">Maldfeldstraße 22, 21218 Seevetal<br>Tel. +49 (40) 769 68-0<br>E-Mail <a style=\"color: #0000EE;\" href=\"mailto:info@bauwelt.eu\">info@bauwelt.eu</a><br>Web <a style=\"color: #0000EE;\" href=\"www.bauwelt.eu\">www.bauwelt.eu</a></p><p style=\"color:white; font-size:8px;\">Sitz der Gesellschaft: Seevetal I AG Lüneburg, HRA 110604<br>Pers. haft. Gesellschafter: Delmes Heitmann Verwaltungsgesellschaft mbH AG Lüneburg, HRB 111174<br>Geschäftsführer: Alexander Delmes, Dirk Heitmann, Michael Sorge<br>Ust-IdNr. DE 118241456 I St.Nr. 15/201/43009</p><br></td></tr></tbody></table></td></tr><tr><td align=\"left\" valign=\"top\"><table width=\"100%\"><tbody><tr><td style=\"padding-left:20px;\"><p style=\"font-size:8px; padding-bottom:10px; padding-top:5px;\">Ein Service der b4value.net GmbH | Trippstadter Straße 122 | 67663 Kaiserslautern | AG Kaiserslautern HRB 4024 |<br>Steuernummer: 27 667 03530 | UstID: DE 813949895 | Geschäftsführung: Dieter Keller, Harald Ross, Jens Fiege. Powered by TRAFFIQX®</p></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></center><div align=\"center\"><table border=\"0\" cellspacing=\"4\" cellpadding=\"0\" width=\"480\" style=\"width:288.0pt\"><tbody><tr><td style=\"padding:2.4pt 2.4pt 2.4pt 2.4pt;font-weight:FONT-SIZE: 8pt\"><p><span style=\"font-size:8.0pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;color:white\">Email,Invoice,Delivery,856421a2-fecf-4be7-a61d-b1a025bbfab9,56417,8009138,de,3684</span></p></td></tr></tbody></table></div></body></html>","files":[{"id":"fi_UG8GP0dnScjGfOEVwEdqe"}],"type":"email"},"to":{"channel_id":"mc_jG4C7QFiCYZsUomcauw9L"},"from":{"id":"ct_ExNI4k07esivjodWPbwjm","identifier":"bauwelt_rechnung@portal.b4value.net","url":"/contacts/ct_ExNI4k07esivjodWPbwjm"},"created_at":"2026-02-23T04:38:54.420914Z","updated_at":"2026-02-23T04:38:54.420914Z","direction":"inbound","url":"/messages/ms_89cCieqLK1EhzwKUqxC9q"},"event":"message_inbound"},"pairedItem":{"item":0}}]},"versionId":"f72203b0-ccb0-483b-9174-24d5dbcfef92","activeVersionId":"f72203b0-ccb0-483b-9174-24d5dbcfef92","versionCounter":67,"triggerCount":2,"shared":[{"updatedAt":"2026-02-18T13:12:21.341Z","createdAt":"2026-02-18T13:12:21.341Z","role":"workflow:owner","workflowId":"9eBOez2Q0vBNuQov","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-04T06:09:28.000Z","createdAt":"2026-02-27T23:16:20.234Z","versionId":"f72203b0-ccb0-483b-9174-24d5dbcfef92","workflowId":"9eBOez2Q0vBNuQov","nodes":[{"parameters":{"jsCode":"const msg = $input.first().json;\n\n// Superchat Trigger Struktur\nconst messageId = msg.message?.id || null;\nconst conversationId = msg.message?.conversation_id || null;\n\n// Email Content\nconst content = msg.message?.content || {};\nconst subject = content.subject || '';\nconst textBody = content.text || content.html?.replace(/<[^>]*>/g, ' ').substring(0, 1500) || '';\n\n// From Address\nconst fromAddress = (msg.message?.from?.identifier || '').toLowerCase();\n\n// Extract domain\nconst domain = fromAddress.includes('@') ? fromAddress.split('@')[1] : '';\n\n// Attachments - liegt in content.files\nconst files = content.files || [];\nconst fileIds = files.map(f => f.id).filter(Boolean);\n\n// Known spam domains\nconst SPAM_DOMAINS = [\n  'linkedin.com',\n  'onepage.io',\n  'mobbin.com',\n  'skool.com',\n  'auftrag.jetzt',\n  'primus-personal.de',\n  'email.contorion.de',\n  'baumarkt.toom.de',\n  'xing.com',\n  'newsletter.',\n  'marketing.',\n  'noreply@'\n];\n\nconst isSpam = SPAM_DOMAINS.some(spam => \n  domain.endsWith(spam) || \n  domain.includes(spam) ||\n  fromAddress.includes(spam)\n);\n\n// MagicPlan detection\nconst isMagicPlan = domain === 'magicplan.app' || \n                    subject.toLowerCase().includes('magicplan') ||\n                    fromAddress.includes('magicplan');\n\nreturn {\n  json: {\n    superchat_message_id: messageId,\n    superchat_conversation_id: conversationId,\n    from_address: fromAddress,\n    domain: domain,\n    subject: subject,\n    body_preview: textBody.substring(0, 1500),\n    file_ids: fileIds,\n    has_attachments: fileIds.length > 0,\n    is_spam: isSpam,\n    is_magicplan: isMagicPlan\n  }\n};"},"id":"3ce42639-285d-4c62-88df-82fbacd485f6","name":"📋 Extract Metadata","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1248,384]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"not-spam","leftValue":"={{ $json.is_spam }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"f5fc9cdd-8dd6-4e84-9a1b-59579db88dfa","name":"🚫 Spam?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1040,384]},{"parameters":{"operation":"executeQuery","query":"SELECT id, doc_type \nFROM classified_emails \nWHERE superchat_message_id = '{{ $json.superchat_message_id }}'\nLIMIT 1;","options":{}},"id":"564c2758-30e7-46ae-8e1b-cac48cde8b09","name":"🔍 Already Classified?","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-816,288],"alwaysOutputData":true,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"is-new","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"ff945a57-f43d-490a-bf53-9651a193fac9","name":"❓ Is New?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-608,288]},{"parameters":{"operation":"executeQuery","query":"SELECT \n  s.id::text as supplier_id,\n  s.name as supplier_name,\n  s.supplier_type::text,\n  s.default_expense_category::text\nFROM suppliers s\nJOIN supplier_aliases sa ON sa.supplier_id = s.id\nWHERE LOWER('{{ $('📋 Extract Metadata').first().json.from_address }}') LIKE '%' || LOWER(sa.alias_name) || '%'\n   OR sa.alias_name = '@' || '{{ $('📋 Extract Metadata').first().json.domain }}'\nLIMIT 1;","options":{}},"id":"cb39bbbd-8056-4c3f-8e26-2618f3c554e1","name":"🏢 Supplier Lookup","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-384,192],"alwaysOutputData":true,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO classified_emails (\n  superchat_message_id,\n  superchat_conversation_id,\n  from_address,\n  subject,\n  doc_type,\n  confidence,\n  routed_to,\n  reason,\n  channel\n)\nVALUES (\n  '{{ $json.superchat_message_id }}',\n  '{{ $json.superchat_conversation_id }}',\n  '{{ ($json.from_address || \"\").replace(/'/g, \"''\") }}',\n  '{{ ($json.subject || \"\").replace(/'/g, \"''\") }}',\n  '{{ $json.doc_type }}',\n  {{ $json.confidence }},\n  {{ $json.routed_to ? \"'\" + $json.routed_to.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  '{{ ($json.reason || \"\").replace(/'/g, \"''\") }}',\n  'superchat'\n)\nON CONFLICT (superchat_message_id) WHERE superchat_message_id IS NOT NULL\nDO UPDATE SET\n  doc_type = EXCLUDED.doc_type,\n  confidence = EXCLUDED.confidence,\n  routed_to = EXCLUDED.routed_to,\n  reason = EXCLUDED.reason,\n  updated_at = now()\nRETURNING id::text, (xmax = 0) as is_new;","options":{}},"id":"0c72c386-a0e3-4108-aece-c466e4d66a15","name":"💾 Save Classification","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1424,176],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"needs-event","leftValue":"={{ $('🏷️ Set Superchat Label').first().json.needs_event }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"5de2c8f3-dbba-4759-b889-7d9f44d00dc0","name":"❓ Needs Event?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1936,176]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (\n  event_type,\n  payload,\n  source_system,\n  source_flow,\n  reference_id,\n  reference_table,\n  dedupe_key\n)\nVALUES (\n  $1::event_type,\n  $2::jsonb,\n  'n8n',\n  'MX_03_V2',\n  $3::uuid,\n  'classified_emails',\n  $4\n)\nON CONFLICT (source_system, dedupe_key) WHERE dedupe_key IS NOT NULL\nDO NOTHING\nRETURNING id::text;\n","options":{"queryReplacement":"={{ (() => {\n    const dt = $('📋 Parse Response').first().json.doc_type;\n    const map = {\n      'INVOICE_IN': 'DOC_CLASSIFIED_INVOICE_IN',\n      'PROJECT_ORDER': 'DOC_CLASSIFIED_PROJECT_ORDER',\n      'CREDIT_NOTE': 'DOC_CLASSIFIED_CREDIT_NOTE',\n      'REMINDER': 'DOC_CLASSIFIED_REMINDER',\n      'MAGICPLAN': 'DOC_CLASSIFIED_MAGICPLAN',\n      'BID_REQUEST': 'DOC_CLASSIFIED_BID_REQUEST'\n    };\n    return map[dt] || 'DOC_CLASSIFIED';\n  })() }},{{ JSON.stringify({\n    doc_type: $('📋 Parse Response').first().json.doc_type,\n    subject: $('📋 Parse Response').first().json.subject,\n    from_address: $('📋 Parse Response').first().json.from_address,\n    file_ids: $('📋 Parse Response').first().json.file_ids,\n    has_attachments: $('📋 Parse Response').first().json.has_attachments,\n    confidence: $('📋 Parse Response').first().json.confidence,\n    routed_to: $('📋 Parse Response').first().json.routed_to,\n    superchat_message_id: $('📋 Parse Response').first().json.superchat_message_id,\n    superchat_conversation_id: $('📋 Parse Response').first().json.superchat_conversation_id,\n    classification_id: $('💾 Save Classification').first().json.id,\n    body_preview: $('📋 Parse Response').first().json.body_preview\n  }) }},{{ $('💾 Save Classification').first().json.id }},{{ $('📋 Parse Response').first().json.superchat_message_id }}\n"}},"id":"695b1b40-5ee5-4083-9635-630370b5bcde","name":"📢 Create Event","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2160,64],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"chatId":"6088921678","text":"=📬 *Email klassifiziert* (V2)\n\n📄 Typ: {{ $('📋 Parse Response').first().json.doc_type }}\n🎯 Konfidenz: {{ Math.round($('📋 Parse Response').first().json.confidence * 100) }}%\n📁 Route: {{ $('📋 Parse Response').first().json.routed_to || 'Keine' }}\n\n📧 Von: {{ $('📋 Parse Response').first().json.from_address }}\n📝 Betreff: {{ $('📋 Parse Response').first().json.subject.substring(0, 60) }}{{ $('📋 Parse Response').first().json.subject.length > 60 ? '...' : '' }}\n\n{{ $('📋 Parse Response').first().json.has_attachments ? '📎 ' + $('📋 Parse Response').first().json.file_ids.length + ' Anhang/Anhänge' : '📭 Keine Anhänge' }}\n{{ $('📋 Parse Response').first().json.supplier_name ? '🏢 Lieferant: ' + $('📋 Parse Response').first().json.supplier_name : '' }}\n\n💡 {{ $('📋 Parse Response').first().json.reason }}","additionalFields":{"parse_mode":"Markdown"}},"id":"de40c429-4ada-49a1-90ff-f9329f5c5d01","name":"📱 Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2320,64],"webhookId":"6cdcf480-be03-4a70-9d3b-0168336aa647","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"topic":"message_inbound","channelIds":{"values":[{"id":{"__rl":true,"value":"mc_jG4C7QFiCYZsUomcauw9L","mode":"list","cachedResultName":"Mail: info@deine-bauloewen.de"}},{"id":{"__rl":true,"value":"mc_JPKFfxGZTN7h6fj5ITB3m","mode":"list","cachedResultName":"Mail: dennis@deine-bauloewen.de"}}]},"inboxIds":{"values":[]},"customAttributeIds":{"values":[]},"builtinAttributes":{"values":[]},"conversationStatus":{"values":[]}},"type":"n8n-nodes-superchat.superchatTrigger","typeVersion":1,"position":[-1440,384],"id":"b64124e8-8a2c-4ba3-b4a3-1b8bc872be67","name":"Superchat Trigger","webhookId":"16e4c3bb-2e90-49f0-bc3b-34ddd563a1a3","credentials":{"superchatApi":{"id":"cKUr3WsspcH6ixJt","name":"Superchat NEW"}}},{"parameters":{"jsCode":"// Split file_ids array into individual items for iteration\nconst fileIds = $('📋 Extract Metadata').first().json.file_ids || [];\nreturn fileIds.map(id => ({ json: { file_id: id } }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,48],"id":"bbde970b-8246-4294-8f48-c73046069eb1","name":"🔀 Split File IDs"},{"parameters":{"url":"=https://api.superchat.com/v1.0/files/{{ $json.file_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"1afbef7e-ed85-4a8c-920b-b3b6300a7984"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[128,48],"id":"dae71c28-f9e5-41f3-b547-f5073ca1ae33","name":"📎 Get File Info"},{"parameters":{"url":"={{ $json.link.url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[512,48],"id":"925bb7a5-b093-46ee-9b40-bbf02d793fa8","name":"📎 Download Binary"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d2bef367-a2bf-4c5f-93f9-1c86b615b65e","leftValue":"={{ $('📋 Extract Metadata').first().json.has_attachments }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-176,192],"id":"72d5b512-cc0e-4b73-b48e-10b716bea580","name":"❓ Has Attachments?"},{"parameters":{"modelId":{"__rl":true,"value":"claude-sonnet-4-20250514","mode":"list","cachedResultName":"claude-sonnet-4-20250514"},"messages":{"values":[{"content":"=BETREFF: {{ $('📋 Extract Metadata').first().json.subject }}\n\nABSENDER: {{ $('📋 Extract Metadata').first().json.from_address }}\n\nANHÄNGE: {{ $('📋 Extract Metadata').first().json.has_attachments ? $('📋 Extract Metadata').first().json.file_ids.length + ' Datei(en)' : 'Keine' }}\n\nINHALT:\n{{ $('📋 Extract Metadata').first().json.body_preview }}"}]},"options":{"system":"=Du klassifizierst eingehende Emails für ein Bauunternehmen (Deine Baulöwen).  BEKANNTE ABSENDER-INFO: {{ $('🏢 Supplier Lookup').first().json.supplier_name ?     'Bekannter Lieferant: ' + $('🏢 Supplier Lookup').first().json.supplier_name +     ' (Typ: ' + $('🏢 Supplier Lookup').first().json.supplier_type +     ', Kategorie: ' + $('🏢 Supplier Lookup').first().json.default_expense_category + ')' :    'Absender nicht in Lieferanten-Datenbank' }}  WICHTIG: Die Absender-Info ist nur ein HINWEIS. Klassifiziere nach INHALT, nicht nach Absender! Ein Lieferant kann Rechnungen, Lieferscheine, Mahnungen, Auftragsbestätigungen oder Werbung schicken.  DOKUMENT-TYPEN: - PROJECT_ORDER: Echter Bauauftrag mit konkreter Adresse, Leistungsbeschreibung, Auftraggeber (SAGA, WBS, Hausverwaltung). Muss spezifische Bauleistungen beschreiben. - INVOICE_IN: Eingangsrechnung mit Rechnungsnummer, Betrag, Zahlungsziel, Bankverbindung - DELIVERY_NOTE: Lieferschein - Warenübergabe OHNE Zahlungsaufforderung (\"Lieferschein\" im Betreff ist starkes Signal) - CREDIT_NOTE: Gutschrift vom Lieferanten - REMINDER: Mahnung oder Zahlungserinnerung - MAGICPLAN: Export aus MagicPlan App (Raumpläne, PDF-Anhänge) - INFO_ONLY: Newsletter, Werbung, Marketing, Job-Vermittlungsportale, Social Media Benachrichtigungen - OTHER: Allgemeine Korrespondenz, Anfragen, Terminbestätigungen  SPAM/INFO_ONLY ERKENNUNG: - Job-Portale wie auftrag.jetzt, my-hammer.de = IMMER INFO_ONLY - \"Neuer Auftrag verfügbar\" ohne konkrete Adresse = INFO_ONLY - \"Freie Plätze\", \"Jetzt bewerben\" = INFO_ONLY - Newsletter, Marketing-Emails = INFO_ONLY - LinkedIn, Xing Benachrichtigungen = INFO_ONLY  LIEFERSCHEIN vs RECHNUNG: - \"Lieferschein\" oder \"Delivery Note\" im Betreff = DELIVERY_NOTE - Betrag 0,00€ oder kein Zahlungsziel = wahrscheinlich DELIVERY_NOTE - Rechnungsnummer + Zahlungsziel + Betrag > 0 = INVOICE_IN  Antworte NUR mit JSON, keine Erklärung: {\"doc_type\": \"...\", \"confidence\": 0.0-1.0, \"reason\": \"kurze Begründung auf Deutsch\"}\n- BID_REQUEST: Angebotsanfrage/Ausschreibung — jemand bittet um Angebotserstellung.\n  Merkmale: \"Angebotsanfrage\", \"Angebotsabgabe bis...\", \"bitten um Ihr Angebot\",\n  LV, Baubeschreibung, .D83-Datei, Abgabefrist.\n  BID_REQUEST = \"Bitte mach uns ein Angebot\"\n  PROJECT_ORDER = \"Hier ist dein Auftrag, fang an\"\n","maxTokens":4000}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[288,336],"id":"ca0ca54b-faf0-49ba-815a-538c61ab56d4","name":"🤖 Claude Classify ohne Anhang","credentials":{"anthropicApi":{"id":"DSb7Itt2r6kfGiHs","name":"Anthropic account"}}},{"parameters":{"modelId":{"__rl":true,"value":"claude-sonnet-4-20250514","mode":"list","cachedResultName":"claude-sonnet-4-20250514"},"messages":{"values":[{"content":"=BETREFF: {{ $('📋 Extract Metadata').first().json.subject }}\n\nABSENDER: {{ $('📋 Extract Metadata').first().json.from_address }}\n\nANHÄNGE: {{ $('📋 Extract Metadata').first().json.has_attachments ? $('📋 Extract Metadata').first().json.file_ids.length + ' Datei(en)' : 'Keine' }}\n\nINHALT:\n{{ $('📋 Extract Metadata').first().json.body_preview }}"}]},"addAttachments":true,"attachmentsInputType":"binary","options":{"system":"=Du klassifizierst eingehende Emails für ein Bauunternehmen (Deine Baulöwen).  BEKANNTE ABSENDER-INFO: {{ $('🏢 Supplier Lookup').first().json.supplier_name ?     'Bekannter Lieferant: ' + $('🏢 Supplier Lookup').first().json.supplier_name +     ' (Typ: ' + $('🏢 Supplier Lookup').first().json.supplier_type +     ', Kategorie: ' + $('🏢 Supplier Lookup').first().json.default_expense_category + ')' :    'Absender nicht in Lieferanten-Datenbank' }}  WICHTIG: Die Absender-Info ist nur ein HINWEIS. Klassifiziere nach INHALT, nicht nach Absender! Ein Lieferant kann Rechnungen, Lieferscheine, Mahnungen, Auftragsbestätigungen oder Werbung schicken.  DOKUMENT-TYPEN: - PROJECT_ORDER: Echter Bauauftrag mit konkreter Adresse, Leistungsbeschreibung, Auftraggeber (SAGA, WBS, Hausverwaltung). Muss spezifische Bauleistungen beschreiben. - INVOICE_IN: Eingangsrechnung mit Rechnungsnummer, Betrag, Zahlungsziel, Bankverbindung - DELIVERY_NOTE: Lieferschein - Warenübergabe OHNE Zahlungsaufforderung (\"Lieferschein\" im Betreff ist starkes Signal) - CREDIT_NOTE: Gutschrift vom Lieferanten - REMINDER: Mahnung oder Zahlungserinnerung - MAGICPLAN: Export aus MagicPlan App (Raumpläne, PDF-Anhänge) - INFO_ONLY: Newsletter, Werbung, Marketing, Job-Vermittlungsportale, Social Media Benachrichtigungen - OTHER: Allgemeine Korrespondenz, Anfragen, Terminbestätigungen  SPAM/INFO_ONLY ERKENNUNG: - Job-Portale wie auftrag.jetzt, my-hammer.de = IMMER INFO_ONLY - \"Neuer Auftrag verfügbar\" ohne konkrete Adresse = INFO_ONLY - \"Freie Plätze\", \"Jetzt bewerben\" = INFO_ONLY - Newsletter, Marketing-Emails = INFO_ONLY - LinkedIn, Xing Benachrichtigungen = INFO_ONLY  LIEFERSCHEIN vs RECHNUNG: - \"Lieferschein\" oder \"Delivery Note\" im Betreff = DELIVERY_NOTE - Betrag 0,00€ oder kein Zahlungsziel = wahrscheinlich DELIVERY_NOTE - Rechnungsnummer + Zahlungsziel + Betrag > 0 = INVOICE_IN  Antworte NUR mit JSON, keine Erklärung: {\"doc_type\": \"...\", \"confidence\": 0.0-1.0, \"reason\": \"kurze Begründung auf Deutsch\"}\n- BID_REQUEST: Angebotsanfrage/Ausschreibung — jemand bittet um Angebotserstellung.\n  Merkmale: \"Angebotsanfrage\", \"Angebotsabgabe bis...\", \"bitten um Ihr Angebot\",\n  LV, Baubeschreibung, .D83-Datei, Abgabefrist.\n  BID_REQUEST = \"Bitte mach uns ein Angebot\"\n  PROJECT_ORDER = \"Hier ist dein Auftrag, fang an\"\n"}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[704,48],"id":"4ff5f73b-9679-4fed-a7b7-1969c0d0ae5d","name":"🤖 Claude Classify mit Anhang","credentials":{"anthropicApi":{"id":"DSb7Itt2r6kfGiHs","name":"Anthropic account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO flow_logs (flow_name, status, reason, message_id, from_address, metadata)\nVALUES (\n  'MX_03_V2',\n  'SKIPPED',\n  'spam',\n  '{{ $('📋 Extract Metadata').first().json.superchat_message_id }}',\n  '{{ $('📋 Extract Metadata').first().json.from_address }}',\n  jsonb_build_object('domain', '{{ $('📋 Extract Metadata').first().json.domain }}')\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-816,480],"id":"6b1a0822-39ac-46ba-8202-f2729f433ab7","name":"📝 Log Spam","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO flow_logs (flow_name, status, reason, message_id, from_address, metadata)\nVALUES (\n  'MX_03_V2',\n  'SKIPPED',\n  'duplicate',\n  '{{ $('📋 Extract Metadata').first().json.superchat_message_id }}',\n  '{{ $('📋 Extract Metadata').first().json.from_address }}',\n  jsonb_build_object(\n    'existing_id', '{{ $('🔍 Already Classified?').first().json.id }}',\n    'existing_doc_type', '{{ $('🔍 Already Classified?').first().json.doc_type }}'\n  )\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-384,384],"id":"2548d0ba-9087-45f6-aaf3-da90c01b17ef","name":"📝 Log Duplicate","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO flow_logs (flow_name, status, reason, message_id, from_address, metadata)\nVALUES (\n  'MX_03_V2',\n  'COMPLETED',\n  'event_created',\n  '{{ $('📋 Extract Metadata').first().json.superchat_message_id }}',\n  '{{ $('📋 Extract Metadata').first().json.from_address }}',\n  '{{ JSON.stringify({\n    doc_type: $('📋 Parse Response').first().json.doc_type,\n    confidence: $('📋 Parse Response').first().json.confidence,\n    classification_id: $('💾 Save Classification').first().json.id\n  }) }}'::jsonb\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2480,64],"id":"fd7ba4bc-1087-4768-a4e7-c2f179203ae0","name":"📝 Log Success","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-1456,832],"id":"a55d3854-66e3-411a-be41-038dbc6cb514","name":"When chat message received","webhookId":"6caa81d1-ef83-437b-a8c7-59b1906875e0"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO flow_logs (flow_name, status, reason, message_id, from_address, metadata)\nVALUES (\n  'MX_03_V2',\n  'COMPLETED',\n  'no_event_needed',\n  '{{ $('📋 Extract Metadata').first().json.superchat_message_id }}',\n  '{{ $('📋 Extract Metadata').first().json.from_address }}',\n  '{{ JSON.stringify({\n    doc_type: $('📋 Parse Response').first().json.doc_type,\n    confidence: $('📋 Parse Response').first().json.confidence\n  }) }}'::jsonb\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2160,304],"id":"4b721a66-94be-4bb5-a2bf-94c0db897d5d","name":"✅ Respond (No Event)","credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"jsCode":"// Code Node: Map doc_type to label_id\nlet docType, needsEvent;\ntry {\n  const data = $('Parse Response ohne Anhang').first().json;\n  docType = data.doc_type;\n  needsEvent = data.needs_event;\n} catch {\n  const data = $('Parse Response mit Anhang').first().json;\n  docType = data.doc_type;\n  needsEvent = data.needs_event;\n}\nconst isSpam = $('📋 Extract Metadata').first().json.is_spam;\nconst conversationId = $('📋 Extract Metadata').first().json.superchat_conversation_id;\n\nconst LABEL_MAP = {\n  'PROJECT_ORDER': 'la_JL6T6WlbtnVOwvLmfUAkW',\n  'BID_REQUEST': 'la_JL6T6WlbtnVOwvLmfUAkW',\n  'INVOICE_IN': 'la_m5VEZRUpBgZ17E4PCl5rK',\n  'CREDIT_NOTE': 'la_m5VEZRUpBgZ17E4PCl5rK',\n  'REMINDER': 'la_ygwhR3K7ZOe04Tx9EBVOF',\n  'MAGICPLAN': 'la_D4ixV96L4FGqXiQdFxzr5',\n  'INFO_ONLY': 'la_PsczF7sslnm9R7bLVg9B0',\n  'DELIVERY_NOTE': 'la_PsczF7sslnm9R7bLVg9B0',\n  'OTHER': 'la_0C4CLMCMCQVd4WdJpLPkR'\n};\n\nlet labelId = LABEL_MAP[docType] || 'la_0C4CLMCMCQVd4WdJpLPkR';\n\nif (isSpam) {\n  labelId = 'la_grdalWj2VhI9EXeYkEMMN';\n  needsEvent = false;\n}\n\nreturn {\n  json: {\n    conversation_id: conversationId,\n    label_id: labelId,\n    needs_event: needsEvent\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1584,176],"id":"15da1c34-a322-4100-8dad-a0628fd343b6","name":"🏷️ Set Superchat Label"},{"parameters":{"jsCode":"// 📋 Parse Response - Code Node\nconst input = $input.first().json;\nconst metadata = $('📋 Extract Metadata').first().json;\nconst supplier = $('🏢 Supplier Lookup').first().json;\n\n// Claude Response parsen\nlet parsed;\ntry {\n  // Claude gibt manchmal markdown zurück\n  const text = input.message?.content || input.content?.[0]?.text || '';\n  const jsonMatch = text.match(/\\{[\\s\\S]*?\\}/);\n  parsed = jsonMatch ? JSON.parse(jsonMatch[0]) : { doc_type: 'OTHER', confidence: 0.5, reason: 'Parse failed' };\n} catch (e) {\n  parsed = { doc_type: 'OTHER', confidence: 0.5, reason: 'JSON parse error: ' + e.message };\n}\n\n// Event-würdig?\nconst EVENT_TYPES = ['INVOICE_IN', 'PROJECT_ORDER', 'CREDIT_NOTE', 'REMINDER', 'MAGICPLAN', 'BID_REQUEST'];\nconst needsEvent = EVENT_TYPES.includes(parsed.doc_type) && parsed.confidence >= 0.7;\n\nreturn {\n  json: {\n    ...metadata,\n    ...parsed,\n    supplier_id: supplier.supplier_id || null,\n    supplier_name: supplier.supplier_name || null,\n    needs_event: needsEvent\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1056,48],"id":"605fee4c-4eff-43ee-868b-f9ad7b5baaa9","name":"Parse Response mit Anhang"},{"parameters":{"jsCode":"// 📋 Parse Response - Code Node\nconst input = $input.first().json;\nconst metadata = $('📋 Extract Metadata').first().json;\nconst supplier = $('🏢 Supplier Lookup').first().json;\n\n// Claude Response parsen\nlet parsed;\ntry {\n  // Claude gibt manchmal markdown zurück\n  const text = input.message?.content || input.content?.[0]?.text || '';\n  const jsonMatch = text.match(/\\{[\\s\\S]*?\\}/);\n  parsed = jsonMatch ? JSON.parse(jsonMatch[0]) : { doc_type: 'OTHER', confidence: 0.5, reason: 'Parse failed' };\n} catch (e) {\n  parsed = { doc_type: 'OTHER', confidence: 0.5, reason: 'JSON parse error: ' + e.message };\n}\n\n// Event-würdig?\nconst EVENT_TYPES = ['INVOICE_IN', 'PROJECT_ORDER', 'CREDIT_NOTE', 'REMINDER', 'MAGICPLAN', 'BID_REQUEST'];\nconst needsEvent = EVENT_TYPES.includes(parsed.doc_type) && parsed.confidence >= 0.7;\n\nreturn {\n  json: {\n    ...metadata,\n    ...parsed,\n    supplier_id: supplier.supplier_id || null,\n    supplier_name: supplier.supplier_name || null,\n    needs_event: needsEvent\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,336],"id":"b206a412-e90a-4e84-be96-6e40f842839b","name":"Parse Response ohne Anhang"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,176],"id":"ffeae662-917d-4667-941e-44a414bd4847","name":"📋 Parse Response"},{"parameters":{"resource":"conversation","operation":"updateLabels","id":"={{ $json.conversation_id }}","labelIds":{"values":[{"id":{"__rl":true,"value":"={{ $json.label_id }}","mode":"id"}}]}},"type":"n8n-nodes-superchat.superchat","typeVersion":1,"position":[1760,176],"id":"23a64442-b32b-4c9a-9fd7-0b167c386bca","name":"📤 Apply Superchat Label","credentials":{"superchatApi":{"id":"cKUr3WsspcH6ixJt","name":"Superchat NEW"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"835b0989-daa0-475a-8408-fadb99e321e5","leftValue":"={{ $json.mime_type }}","rightValue":"pdf","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[304,48],"id":"54b7ded9-9009-4b2f-b2a2-74524dd92c0d","name":"Supported File?"}],"connections":{"📋 Extract Metadata":{"main":[[{"node":"🚫 Spam?","type":"main","index":0}]]},"🚫 Spam?":{"main":[[{"node":"🔍 Already Classified?","type":"main","index":0}],[{"node":"📝 Log Spam","type":"main","index":0}]]},"🔍 Already Classified?":{"main":[[{"node":"❓ Is New?","type":"main","index":0}]]},"❓ Is New?":{"main":[[{"node":"🏢 Supplier Lookup","type":"main","index":0}],[{"node":"📝 Log Duplicate","type":"main","index":0}]]},"🏢 Supplier Lookup":{"main":[[{"node":"❓ Has Attachments?","type":"main","index":0}]]},"💾 Save Classification":{"main":[[{"node":"🏷️ Set Superchat Label","type":"main","index":0}]]},"❓ Needs Event?":{"main":[[{"node":"📢 Create Event","type":"main","index":0}],[{"node":"✅ Respond (No Event)","type":"main","index":0}]]},"📢 Create Event":{"main":[[{"node":"📱 Telegram","type":"main","index":0}]]},"📱 Telegram":{"main":[[{"node":"📝 Log Success","type":"main","index":0}]]},"Superchat Trigger":{"main":[[{"node":"📋 Extract Metadata","type":"main","index":0}]]},"📎 Get File Info":{"main":[[{"node":"Supported File?","type":"main","index":0}]]},"📎 Download Binary":{"main":[[{"node":"🤖 Claude Classify mit Anhang","type":"main","index":0}]]},"❓ Has Attachments?":{"main":[[{"node":"🔀 Split File IDs","type":"main","index":0}],[{"node":"🤖 Claude Classify ohne Anhang","type":"main","index":0}]]},"🔀 Split File IDs":{"main":[[{"node":"📎 Get File Info","type":"main","index":0}]]},"🤖 Claude Classify ohne Anhang":{"main":[[{"node":"Parse Response ohne Anhang","type":"main","index":0}]]},"🤖 Claude Classify mit Anhang":{"main":[[{"node":"Parse Response mit Anhang","type":"main","index":0}]]},"🏷️ Set Superchat Label":{"main":[[{"node":"📤 Apply Superchat Label","type":"main","index":0}]]},"Parse Response ohne Anhang":{"main":[[{"node":"📋 Parse Response","type":"main","index":0}]]},"Parse Response mit Anhang":{"main":[[{"node":"📋 Parse Response","type":"main","index":0}]]},"📋 Parse Response":{"main":[[{"node":"💾 Save Classification","type":"main","index":0}]]},"📤 Apply Superchat Label":{"main":[[{"node":"❓ Needs Event?","type":"main","index":0}]]},"Supported File?":{"main":[[{"node":"📎 Download Binary","type":"main","index":0}],[{"node":"🤖 Claude Classify ohne Anhang","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version f72203b0","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-27T23:23:49.645Z","id":828,"workflowId":"9eBOez2Q0vBNuQov","versionId":"f72203b0-ccb0-483b-9174-24d5dbcfef92","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:23:58.980Z","id":830,"workflowId":"9eBOez2Q0vBNuQov","versionId":"f72203b0-ccb0-483b-9174-24d5dbcfef92","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-03-04T06:09:28.484Z","id":878,"workflowId":"9eBOez2Q0vBNuQov","versionId":"f72203b0-ccb0-483b-9174-24d5dbcfef92","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-03-04T06:09:38.080Z","id":880,"workflowId":"9eBOez2Q0vBNuQov","versionId":"f72203b0-ccb0-483b-9174-24d5dbcfef92","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:23:58.877Z","id":829,"workflowId":"9eBOez2Q0vBNuQov","versionId":"f72203b0-ccb0-483b-9174-24d5dbcfef92","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-03-04T06:09:10.459Z","id":877,"workflowId":"9eBOez2Q0vBNuQov","versionId":"f72203b0-ccb0-483b-9174-24d5dbcfef92","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-03-04T06:09:37.988Z","id":879,"workflowId":"9eBOez2Q0vBNuQov","versionId":"f72203b0-ccb0-483b-9174-24d5dbcfef92","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}