n8n-workflows/MX_04_Dispatch_Doctor.json
{"updatedAt":"2026-03-20T10:49:03.310Z","createdAt":"2026-01-17T18:09:45.527Z","id":"wT9ubypWwaOmZhkYSKpm1","name":"MX_04_Dispatch_Doctor","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"2be98a49-0484-4f84-8c3f-6f28da553f6b","name":"⏰ Every 15 Min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1760,112]},{"parameters":{"httpMethod":"POST","path":"mx-04-dispatch-doctor","options":{}},"id":"0c0466b9-8d15-4bbd-a68d-2b1a9be49d45","name":"🔧 Manual Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1760,304],"webhookId":"mx-04-dispatch-doctor"},{"parameters":{},"id":"d86ebe3e-00e0-48e8-924c-efc4d15e9e90","name":"🔀 Merge Triggers","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-1536,208]},{"parameters":{"operation":"executeQuery","query":"SELECT \n  de.id,\n  de.event_id,\n  de.event_type,\n  de.target_workflow,\n  de.webhook_url,\n  de.attempt_count,\n  de.max_attempts,\n  de.error_message as last_error,\n  e.payload as event_payload\nFROM dispatch_errors de\nLEFT JOIN events e ON e.id = de.event_id\nWHERE de.resolved_at IS NULL\n  AND de.next_retry_at < NOW()\n  AND de.attempt_count < de.max_attempts\nORDER BY de.next_retry_at ASC\nLIMIT 10;","options":{}},"id":"c4a89aa5-c978-48cc-ad9a-91605316ec68","name":"📋 Fetch Pending Retries","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1328,208],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"has-items","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"ee6cc6e2-4298-4baa-857a-399be1e82861","name":"❓ Has Items?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1104,208]},{"parameters":{"jsCode":"// Queue is empty\nreturn [{ json: { status: 'empty', message: 'No pending retries' } }];"},"id":"42dedf6b-7014-4845-85de-eb7592afbe17","name":"✅ Queue Empty","type":"n8n-nodes-base.code","typeVersion":2,"position":[-864,304]},{"parameters":{"jsCode":"const item = $input.first().json;\n\n// Handle NULL event_id case - build minimal payload\nlet payload = item.event_payload;\n\nif (!payload) {\n  payload = {\n    event_type: item.event_type,\n    dispatch_error_id: item.id,\n    is_retry: true,\n    retry_attempt: item.attempt_count + 1\n  };\n}\n\nreturn {\n  json: {\n    ...item,\n    payload_to_send: payload\n  }\n};"},"id":"6d05e892-8d54-410f-a89f-31a33f3fdded","name":"🔧 Prepare Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,16]},{"parameters":{"method":"POST","url":"={{ $json.webhook_url }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload_to_send) }}","options":{"timeout":120000}},"id":"ee1a567d-d45a-4ca3-9c5f-03ddf7c51546","name":"📤 HTTP Retry","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-496,16],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst prevData = $('🔧 Prepare Payload').first().json;\n\n// Check if HTTP request failed\nconst hasError = input.error || input.code === 'ECONNREFUSED' || \n                 (input.statusCode && input.statusCode >= 400);\n\nconst httpStatus = input.statusCode || null;\nconst errorMessage = input.error?.message || input.message || \n                     (httpStatus >= 400 ? `HTTP ${httpStatus}` : null);\n\nreturn {\n  json: {\n    id: prevData.id,\n    event_type: prevData.event_type,\n    target_workflow: prevData.target_workflow,\n    webhook_url: prevData.webhook_url,\n    attempt_count: prevData.attempt_count,\n    max_attempts: prevData.max_attempts,\n    success: !hasError,\n    http_status: httpStatus,\n    error_message: errorMessage\n  }\n};"},"id":"bebcd233-b0ba-40d6-85e1-122662fefb7d","name":"🔍 Check Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[-336,16]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"is-success","leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"125e77b6-b37b-49df-94bb-d76e4cc66f33","name":"❓ Success?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-176,16]},{"parameters":{"operation":"executeQuery","query":"UPDATE dispatch_errors\nSET \n  resolved_at = NOW(),\n  resolved_by = 'MX_04_Dispatch_Doctor',\n  last_attempt_at = NOW(),\n  attempt_count = attempt_count + 1\nWHERE id = '{{ $json.id }}'::uuid\nRETURNING id, event_type, target_workflow, 'resolved' as status;","options":{}},"id":"c4bb5fd4-a369-4faf-a03f-c67813f5c010","name":"✅ Mark Resolved","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[0,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE dispatch_errors\nSET \n  attempt_count = attempt_count + 1,\n  last_attempt_at = NOW(),\n  next_retry_at = NOW() + ((attempt_count + 1) * INTERVAL '5 minutes'),\n  error_message = $1,\n  http_status = $2\nWHERE id = $3::uuid\nRETURNING id, event_type, target_workflow, attempt_count, max_attempts, next_retry_at;","options":{"queryReplacement":"={{ [$json.error_message || 'Unknown error', $json.http_status, $json.id] }}"}},"id":"b6c858bf-b974-4864-b796-72430ab7df3b","name":"❌ Update Failure","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[0,272],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"max-reached","leftValue":"={{ $json.attempt_count }}","rightValue":"={{ $json.max_attempts }}","operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"22d41b2f-b740-4d0b-aa52-1d0946485544","name":"❓ Max Attempts?","type":"n8n-nodes-base.if","typeVersion":2,"position":[224,272]},{"parameters":{"chatId":"6088921678","text":"=🚨 *DISPATCH DEAD LETTER*\n\nEvent: `{{ $json.event_type }}`\nTarget: `{{ $json.target_workflow }}`\nAttempts: {{ $json.attempt_count }}/{{ $json.max_attempts }}\nNext Retry: {{ $json.next_retry_at || 'EXHAUSTED' }}\n\n⚠️ Manual intervention required!","additionalFields":{"parse_mode":"Markdown"}},"id":"11862180-7512-4275-8757-c11770de8d80","name":"📱 Telegram Alert","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[480,64],"webhookId":"b1f8e511-daec-4b25-a047-61a515d0048d","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"jsCode":"// Continue silently - retry scheduled\nreturn [{ json: { status: 'retry_scheduled', ...($input.first().json) } }];"},"id":"98b9c05f-2b4e-4676-9a03-765addc098de","name":"🔄 Retry Scheduled","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,400]},{"parameters":{"jsCode":"// Success log\nreturn [{ json: { status: 'resolved', ...($input.first().json) } }];"},"id":"bccc4b7a-09a8-4abb-9124-a14f85bdd350","name":"✅ Success","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"options":{"reset":true}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-864,128],"id":"a57da349-a717-43fe-bf50-8833bd355067","name":"Loop Over Items"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  ws.step_key,\n  ws.step_type,\n  ws.attempt_count,\n  ws.max_attempts,\n  ws.error,\n  ws.payload,\n  ws.next_retry_at\nFROM workflow_steps ws\nWHERE ws.status = 'FAILED'\n  AND ws.step_type = 'AI_DOCUMENT_ANALYSIS'\n  AND ws.attempt_count < ws.max_attempts\n  AND ws.next_retry_at <= NOW()\nORDER BY ws.next_retry_at ASC\nLIMIT 5;\n","options":{}},"id":"fetch-failed-ai","name":"📋 Fetch Failed AI Steps","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[640,800],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-ai-items","leftValue":"=={{ $json.step_key }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"has-ai-items","name":"❓ Has AI Items?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[864,800]},{"parameters":{"options":{"reset":false}},"id":"ai-loop","name":"AI Loop","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1072,800]},{"parameters":{"jsCode":"const item = $input.first().json;\nconst payload = item.payload || {};\n\nlet document_base64 = payload.document_base64;\nlet mime_type = payload.mime_type || 'application/pdf';\nlet prompt = payload.prompt || 'Extrahiere EXAKT die Daten aus diesem Dokument. ERFINDE NICHTS.';\n\nreturn {\n  json: {\n    ...item,\n    retry_payload: {\n      document_base64: document_base64,\n      mime_type: mime_type,\n      prompt: prompt,\n      step_key: item.step_key\n    },\n    is_ai_retry: true,\n    retry_attempt: (item.attempt_count || 0) + 1\n  }\n};\n"},"id":"prepare-ai-retry","name":"🔧 Prepare AI Retry","type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,800]},{"parameters":{"method":"POST","url":"https://n8n.srv1045913.hstgr.cloud/webhook/ai-analyze-fallback","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.retry_payload) }}","options":{"timeout":120000}},"id":"ai-retry-http","name":"📤 AI Retry Call","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1504,800],"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst prevData = $('🔧 Prepare AI Retry').first().json;\nconst success = input.success === true;\nconst modelUsed = input.model_used || null;\nconst fallbackChain = input.fallback_chain || [];\n\nreturn {\n  json: {\n    ws_id: prevData.step_key,       // ← FIX: war prevData.id\n    step_key: prevData.step_key,\n    success: success,\n    model_used: modelUsed,\n    fallback_chain: fallbackChain,\n    attempt_count: prevData.retry_attempt,\n    max_attempts: prevData.max_attempts || 3,\n    text: input.text || null,\n    error: success ? null : (input.error || 'AI retry failed')\n  }\n};\n"},"id":"check-ai-result","name":"🔍 Check AI Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[1728,800]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ai-success","leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"ai-success-check","name":"❓ AI Success?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1952,800]},{"parameters":{"operation":"executeQuery","query":"UPDATE workflow_steps\nSET\n  status = 'DONE',\n  payload = jsonb_build_object(\n    'model_used', '{{ $json.model_used }}',\n    'fallback_chain', '{{ $json.fallback_chain }}'\n  ),\n  attempt_count = {{ $json.attempt_count }},\n  completed_at = NOW(),\n  error = NULL,\n  next_retry_at = NULL\nWHERE step_key = '{{ $json.ws_id }}'\nRETURNING step_key, 'DONE' as status;\n","options":{}},"id":"ai-mark-resolved","name":"✅ AI Mark Resolved","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2160,704],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE workflow_steps\nSET\n  attempt_count = {{ $json.attempt_count }},\n  error = '{{ JSON.stringify({message: $json.error, fallback_chain: $json.fallback_chain}) }}'::jsonb,\n  next_retry_at = NOW() + INTERVAL '15 minutes'\nWHERE step_key = '{{ $json.ws_id }}'\nRETURNING step_key, attempt_count, max_attempts, next_retry_at;\n","options":{}},"id":"ai-update-failure","name":"❌ AI Update Failure","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2160,912],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ai-max-reached","leftValue":"={{ $json.attempt_count }}","rightValue":"={{ $json.max_attempts }}","operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"ai-max-attempts","name":"❓ AI Max Attempts?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2384,912]},{"parameters":{"operation":"executeQuery","query":"UPDATE workflow_steps\nSET status = 'DEAD_LETTER'\nWHERE step_key = '{{ $json.step_key }}';\n","options":{}},"id":"ai-dead-letter","name":"💀 AI Dead Letter","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2608,800],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"chatId":"6088921678","text":"🚨 *AI DEAD LETTER*\n\nStep: {{ $json.step_key }}\nVersuche: {{ $json.attempt_count }}/{{ $json.max_attempts }}\n\nAlle AI-Modelle haben versagt. Manuelles Eingreifen nötig.","additionalFields":{"parse_mode":"Markdown"}},"id":"ai-telegram-alert","name":"📱 AI Telegram Alert","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2608,1008],"webhookId":"60c090a6-22e4-4fa4-8542-63f7dacf9e05","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}}],"connections":{"⏰ Every 15 Min":{"main":[[{"node":"🔀 Merge Triggers","type":"main","index":0}]]},"🔧 Manual Trigger":{"main":[[{"node":"🔀 Merge Triggers","type":"main","index":1}]]},"🔀 Merge Triggers":{"main":[[{"node":"📋 Fetch Pending Retries","type":"main","index":0},{"node":"📋 Fetch Failed AI Steps","type":"main","index":0}]]},"📋 Fetch Pending Retries":{"main":[[{"node":"❓ Has Items?","type":"main","index":0}]]},"❓ Has Items?":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"✅ Queue Empty","type":"main","index":0}]]},"🔧 Prepare Payload":{"main":[[{"node":"📤 HTTP Retry","type":"main","index":0}]]},"📤 HTTP Retry":{"main":[[{"node":"🔍 Check Result","type":"main","index":0}]]},"🔍 Check Result":{"main":[[{"node":"❓ Success?","type":"main","index":0}]]},"❓ Success?":{"main":[[{"node":"✅ Mark Resolved","type":"main","index":0}],[{"node":"❌ Update Failure","type":"main","index":0}]]},"✅ Mark Resolved":{"main":[[{"node":"✅ Success","type":"main","index":0}]]},"❌ Update Failure":{"main":[[{"node":"❓ Max Attempts?","type":"main","index":0}]]},"❓ Max Attempts?":{"main":[[{"node":"📱 Telegram Alert","type":"main","index":0}],[{"node":"🔄 Retry Scheduled","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"🔧 Prepare Payload","type":"main","index":0}],[]]},"🔄 Retry Scheduled":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"✅ Success":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"📱 Telegram Alert":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"📋 Fetch Failed AI Steps":{"main":[[{"node":"❓ Has AI Items?","type":"main","index":0}]]},"❓ Has AI Items?":{"main":[[{"node":"AI Loop","type":"main","index":0}],[]]},"AI Loop":{"main":[[{"node":"🔧 Prepare AI Retry","type":"main","index":0}],[]]},"🔧 Prepare AI Retry":{"main":[[{"node":"📤 AI Retry Call","type":"main","index":0}]]},"📤 AI Retry Call":{"main":[[{"node":"🔍 Check AI Result","type":"main","index":0}],[{"node":"🔍 Check AI Result","type":"main","index":0}]]},"🔍 Check AI Result":{"main":[[{"node":"❓ AI Success?","type":"main","index":0}]]},"❓ AI Success?":{"main":[[{"node":"✅ AI Mark Resolved","type":"main","index":0}],[{"node":"❌ AI Update Failure","type":"main","index":0}]]},"✅ AI Mark Resolved":{"main":[[{"node":"AI Loop","type":"main","index":0}]]},"❌ AI Update Failure":{"main":[[{"node":"❓ AI Max Attempts?","type":"main","index":0}]]},"❓ AI Max Attempts?":{"main":[[{"node":"💀 AI Dead Letter","type":"main","index":0}],[{"node":"AI Loop","type":"main","index":0}]]},"💀 AI Dead Letter":{"main":[[{"node":"📱 AI Telegram Alert","type":"main","index":0}]]},"📱 AI Telegram Alert":{"main":[[{"node":"AI Loop","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"apmJoMCbOchwfqTp","binaryMode":"separate"},"staticData":{"node:⏰ Every 15 Min":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"⏰ Every 15 Min":[{"json":{"timestamp":"2026-02-04T16:30:50.010+01:00","Readable date":"February 4th 2026, 4:30:50 pm","Readable time":"4:30:50 pm","Day of week":"Wednesday","Year":"2026","Month":"February","Day of month":"04","Hour":"16","Minute":"30","Second":"50","Timezone":"Europe/Berlin (UTC+01:00)"},"pairedItem":{"item":0}}]},"versionId":"bb68d0a0-2dd2-43bd-8d6e-47e44007fd1f","activeVersionId":"bb68d0a0-2dd2-43bd-8d6e-47e44007fd1f","versionCounter":85,"triggerCount":2,"shared":[{"updatedAt":"2026-01-17T18:09:45.536Z","createdAt":"2026-01-17T18:09:45.536Z","role":"workflow:owner","workflowId":"wT9ubypWwaOmZhkYSKpm1","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-07T08:25:41.101Z","createdAt":"2026-03-07T08:25:41.101Z","versionId":"bb68d0a0-2dd2-43bd-8d6e-47e44007fd1f","workflowId":"wT9ubypWwaOmZhkYSKpm1","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"2be98a49-0484-4f84-8c3f-6f28da553f6b","name":"⏰ Every 15 Min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1760,112]},{"parameters":{"httpMethod":"POST","path":"mx-04-dispatch-doctor","options":{}},"id":"0c0466b9-8d15-4bbd-a68d-2b1a9be49d45","name":"🔧 Manual Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1760,304],"webhookId":"mx-04-dispatch-doctor"},{"parameters":{},"id":"d86ebe3e-00e0-48e8-924c-efc4d15e9e90","name":"🔀 Merge Triggers","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-1536,208]},{"parameters":{"operation":"executeQuery","query":"SELECT \n  de.id,\n  de.event_id,\n  de.event_type,\n  de.target_workflow,\n  de.webhook_url,\n  de.attempt_count,\n  de.max_attempts,\n  de.error_message as last_error,\n  e.payload as event_payload\nFROM dispatch_errors de\nLEFT JOIN events e ON e.id = de.event_id\nWHERE de.resolved_at IS NULL\n  AND de.next_retry_at < NOW()\n  AND de.attempt_count < de.max_attempts\nORDER BY de.next_retry_at ASC\nLIMIT 10;","options":{}},"id":"c4a89aa5-c978-48cc-ad9a-91605316ec68","name":"📋 Fetch Pending Retries","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1328,208],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"has-items","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"ee6cc6e2-4298-4baa-857a-399be1e82861","name":"❓ Has Items?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1104,208]},{"parameters":{"jsCode":"// Queue is empty\nreturn [{ json: { status: 'empty', message: 'No pending retries' } }];"},"id":"42dedf6b-7014-4845-85de-eb7592afbe17","name":"✅ Queue Empty","type":"n8n-nodes-base.code","typeVersion":2,"position":[-864,304]},{"parameters":{"jsCode":"const item = $input.first().json;\n\n// Handle NULL event_id case - build minimal payload\nlet payload = item.event_payload;\n\nif (!payload) {\n  payload = {\n    event_type: item.event_type,\n    dispatch_error_id: item.id,\n    is_retry: true,\n    retry_attempt: item.attempt_count + 1\n  };\n}\n\nreturn {\n  json: {\n    ...item,\n    payload_to_send: payload\n  }\n};"},"id":"6d05e892-8d54-410f-a89f-31a33f3fdded","name":"🔧 Prepare Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,16]},{"parameters":{"method":"POST","url":"={{ $json.webhook_url }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload_to_send) }}","options":{"timeout":120000}},"id":"ee1a567d-d45a-4ca3-9c5f-03ddf7c51546","name":"📤 HTTP Retry","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-496,16],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst prevData = $('🔧 Prepare Payload').first().json;\n\n// Check if HTTP request failed\nconst hasError = input.error || input.code === 'ECONNREFUSED' || \n                 (input.statusCode && input.statusCode >= 400);\n\nconst httpStatus = input.statusCode || null;\nconst errorMessage = input.error?.message || input.message || \n                     (httpStatus >= 400 ? `HTTP ${httpStatus}` : null);\n\nreturn {\n  json: {\n    id: prevData.id,\n    event_type: prevData.event_type,\n    target_workflow: prevData.target_workflow,\n    webhook_url: prevData.webhook_url,\n    attempt_count: prevData.attempt_count,\n    max_attempts: prevData.max_attempts,\n    success: !hasError,\n    http_status: httpStatus,\n    error_message: errorMessage\n  }\n};"},"id":"bebcd233-b0ba-40d6-85e1-122662fefb7d","name":"🔍 Check Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[-336,16]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"is-success","leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"125e77b6-b37b-49df-94bb-d76e4cc66f33","name":"❓ Success?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-176,16]},{"parameters":{"operation":"executeQuery","query":"UPDATE dispatch_errors\nSET \n  resolved_at = NOW(),\n  resolved_by = 'MX_04_Dispatch_Doctor',\n  last_attempt_at = NOW(),\n  attempt_count = attempt_count + 1\nWHERE id = '{{ $json.id }}'::uuid\nRETURNING id, event_type, target_workflow, 'resolved' as status;","options":{}},"id":"c4bb5fd4-a369-4faf-a03f-c67813f5c010","name":"✅ Mark Resolved","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[0,0],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE dispatch_errors\nSET \n  attempt_count = attempt_count + 1,\n  last_attempt_at = NOW(),\n  next_retry_at = NOW() + ((attempt_count + 1) * INTERVAL '5 minutes'),\n  error_message = $1,\n  http_status = $2\nWHERE id = $3::uuid\nRETURNING id, event_type, target_workflow, attempt_count, max_attempts, next_retry_at;","options":{"queryReplacement":"={{ [$json.error_message || 'Unknown error', $json.http_status, $json.id] }}"}},"id":"b6c858bf-b974-4864-b796-72430ab7df3b","name":"❌ Update Failure","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[0,272],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"max-reached","leftValue":"={{ $json.attempt_count }}","rightValue":"={{ $json.max_attempts }}","operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"22d41b2f-b740-4d0b-aa52-1d0946485544","name":"❓ Max Attempts?","type":"n8n-nodes-base.if","typeVersion":2,"position":[224,272]},{"parameters":{"chatId":"6088921678","text":"=🚨 *DISPATCH DEAD LETTER*\n\nEvent: `{{ $json.event_type }}`\nTarget: `{{ $json.target_workflow }}`\nAttempts: {{ $json.attempt_count }}/{{ $json.max_attempts }}\nNext Retry: {{ $json.next_retry_at || 'EXHAUSTED' }}\n\n⚠️ Manual intervention required!","additionalFields":{"parse_mode":"Markdown"}},"id":"11862180-7512-4275-8757-c11770de8d80","name":"📱 Telegram Alert","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[480,64],"webhookId":"b1f8e511-daec-4b25-a047-61a515d0048d","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"jsCode":"// Continue silently - retry scheduled\nreturn [{ json: { status: 'retry_scheduled', ...($input.first().json) } }];"},"id":"98b9c05f-2b4e-4676-9a03-765addc098de","name":"🔄 Retry Scheduled","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,400]},{"parameters":{"jsCode":"// Success log\nreturn [{ json: { status: 'resolved', ...($input.first().json) } }];"},"id":"bccc4b7a-09a8-4abb-9124-a14f85bdd350","name":"✅ Success","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"options":{"reset":true}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-864,128],"id":"a57da349-a717-43fe-bf50-8833bd355067","name":"Loop Over Items"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  ws.step_key,\n  ws.step_type,\n  ws.attempt_count,\n  ws.max_attempts,\n  ws.error,\n  ws.payload,\n  ws.next_retry_at\nFROM workflow_steps ws\nWHERE ws.status = 'FAILED'\n  AND ws.step_type = 'AI_DOCUMENT_ANALYSIS'\n  AND ws.attempt_count < ws.max_attempts\n  AND ws.next_retry_at <= NOW()\nORDER BY ws.next_retry_at ASC\nLIMIT 5;\n","options":{}},"id":"fetch-failed-ai","name":"📋 Fetch Failed AI Steps","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[640,800],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-ai-items","leftValue":"=={{ $json.step_key }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"has-ai-items","name":"❓ Has AI Items?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[864,800]},{"parameters":{"options":{"reset":false}},"id":"ai-loop","name":"AI Loop","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1072,800]},{"parameters":{"jsCode":"const item = $input.first().json;\nconst payload = item.payload || {};\n\nlet document_base64 = payload.document_base64;\nlet mime_type = payload.mime_type || 'application/pdf';\nlet prompt = payload.prompt || 'Extrahiere EXAKT die Daten aus diesem Dokument. ERFINDE NICHTS.';\n\nreturn {\n  json: {\n    ...item,\n    retry_payload: {\n      document_base64: document_base64,\n      mime_type: mime_type,\n      prompt: prompt,\n      step_key: item.step_key\n    },\n    is_ai_retry: true,\n    retry_attempt: (item.attempt_count || 0) + 1\n  }\n};\n"},"id":"prepare-ai-retry","name":"🔧 Prepare AI Retry","type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,800]},{"parameters":{"method":"POST","url":"https://n8n.srv1045913.hstgr.cloud/webhook/ai-analyze-fallback","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.retry_payload) }}","options":{"timeout":120000}},"id":"ai-retry-http","name":"📤 AI Retry Call","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1504,800],"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst prevData = $('🔧 Prepare AI Retry').first().json;\nconst success = input.success === true;\nconst modelUsed = input.model_used || null;\nconst fallbackChain = input.fallback_chain || [];\n\nreturn {\n  json: {\n    ws_id: prevData.step_key,       // ← FIX: war prevData.id\n    step_key: prevData.step_key,\n    success: success,\n    model_used: modelUsed,\n    fallback_chain: fallbackChain,\n    attempt_count: prevData.retry_attempt,\n    max_attempts: prevData.max_attempts || 3,\n    text: input.text || null,\n    error: success ? null : (input.error || 'AI retry failed')\n  }\n};\n"},"id":"check-ai-result","name":"🔍 Check AI Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[1728,800]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ai-success","leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"ai-success-check","name":"❓ AI Success?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1952,800]},{"parameters":{"operation":"executeQuery","query":"UPDATE workflow_steps\nSET\n  status = 'DONE',\n  payload = jsonb_build_object(\n    'model_used', '{{ $json.model_used }}',\n    'fallback_chain', '{{ $json.fallback_chain }}'\n  ),\n  attempt_count = {{ $json.attempt_count }},\n  completed_at = NOW(),\n  error = NULL,\n  next_retry_at = NULL\nWHERE step_key = '{{ $json.ws_id }}'\nRETURNING step_key, 'DONE' as status;\n","options":{}},"id":"ai-mark-resolved","name":"✅ AI Mark Resolved","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2160,704],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE workflow_steps\nSET\n  attempt_count = {{ $json.attempt_count }},\n  error = '{{ JSON.stringify({message: $json.error, fallback_chain: $json.fallback_chain}) }}'::jsonb,\n  next_retry_at = NOW() + INTERVAL '15 minutes'\nWHERE step_key = '{{ $json.ws_id }}'\nRETURNING step_key, attempt_count, max_attempts, next_retry_at;\n","options":{}},"id":"ai-update-failure","name":"❌ AI Update Failure","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2160,912],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ai-max-reached","leftValue":"={{ $json.attempt_count }}","rightValue":"={{ $json.max_attempts }}","operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"ai-max-attempts","name":"❓ AI Max Attempts?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2384,912]},{"parameters":{"operation":"executeQuery","query":"UPDATE workflow_steps\nSET status = 'DEAD_LETTER'\nWHERE step_key = '{{ $json.step_key }}';\n","options":{}},"id":"ai-dead-letter","name":"💀 AI Dead Letter","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2608,800],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"chatId":"6088921678","text":"🚨 *AI DEAD LETTER*\n\nStep: {{ $json.step_key }}\nVersuche: {{ $json.attempt_count }}/{{ $json.max_attempts }}\n\nAlle AI-Modelle haben versagt. Manuelles Eingreifen nötig.","additionalFields":{"parse_mode":"Markdown"}},"id":"ai-telegram-alert","name":"📱 AI Telegram Alert","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2608,1008],"webhookId":"60c090a6-22e4-4fa4-8542-63f7dacf9e05","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}}],"connections":{"⏰ Every 15 Min":{"main":[[{"node":"🔀 Merge Triggers","type":"main","index":0}]]},"🔧 Manual Trigger":{"main":[[{"node":"🔀 Merge Triggers","type":"main","index":1}]]},"🔀 Merge Triggers":{"main":[[{"node":"📋 Fetch Pending Retries","type":"main","index":0},{"node":"📋 Fetch Failed AI Steps","type":"main","index":0}]]},"📋 Fetch Pending Retries":{"main":[[{"node":"❓ Has Items?","type":"main","index":0}]]},"❓ Has Items?":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"✅ Queue Empty","type":"main","index":0}]]},"🔧 Prepare Payload":{"main":[[{"node":"📤 HTTP Retry","type":"main","index":0}]]},"📤 HTTP Retry":{"main":[[{"node":"🔍 Check Result","type":"main","index":0}]]},"🔍 Check Result":{"main":[[{"node":"❓ Success?","type":"main","index":0}]]},"❓ Success?":{"main":[[{"node":"✅ Mark Resolved","type":"main","index":0}],[{"node":"❌ Update Failure","type":"main","index":0}]]},"✅ Mark Resolved":{"main":[[{"node":"✅ Success","type":"main","index":0}]]},"❌ Update Failure":{"main":[[{"node":"❓ Max Attempts?","type":"main","index":0}]]},"❓ Max Attempts?":{"main":[[{"node":"📱 Telegram Alert","type":"main","index":0}],[{"node":"🔄 Retry Scheduled","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"🔧 Prepare Payload","type":"main","index":0}],[]]},"🔄 Retry Scheduled":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"✅ Success":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"📱 Telegram Alert":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"📋 Fetch Failed AI Steps":{"main":[[{"node":"❓ Has AI Items?","type":"main","index":0}]]},"❓ Has AI Items?":{"main":[[{"node":"AI Loop","type":"main","index":0}],[]]},"AI Loop":{"main":[[{"node":"🔧 Prepare AI Retry","type":"main","index":0}],[]]},"🔧 Prepare AI Retry":{"main":[[{"node":"📤 AI Retry Call","type":"main","index":0}]]},"📤 AI Retry Call":{"main":[[{"node":"🔍 Check AI Result","type":"main","index":0}],[{"node":"🔍 Check AI Result","type":"main","index":0}]]},"🔍 Check AI Result":{"main":[[{"node":"❓ AI Success?","type":"main","index":0}]]},"❓ AI Success?":{"main":[[{"node":"✅ AI Mark Resolved","type":"main","index":0}],[{"node":"❌ AI Update Failure","type":"main","index":0}]]},"✅ AI Mark Resolved":{"main":[[{"node":"AI Loop","type":"main","index":0}]]},"❌ AI Update Failure":{"main":[[{"node":"❓ AI Max Attempts?","type":"main","index":0}]]},"❓ AI Max Attempts?":{"main":[[{"node":"💀 AI Dead Letter","type":"main","index":0}],[{"node":"AI Loop","type":"main","index":0}]]},"💀 AI Dead Letter":{"main":[[{"node":"📱 AI Telegram Alert","type":"main","index":0}]]},"📱 AI Telegram Alert":{"main":[[{"node":"AI Loop","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-07T08:25:41.184Z","id":941,"workflowId":"wT9ubypWwaOmZhkYSKpm1","versionId":"bb68d0a0-2dd2-43bd-8d6e-47e44007fd1f","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-03-20T10:49:03.370Z","id":999,"workflowId":"wT9ubypWwaOmZhkYSKpm1","versionId":"bb68d0a0-2dd2-43bd-8d6e-47e44007fd1f","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-03-07T08:25:41.167Z","id":940,"workflowId":"wT9ubypWwaOmZhkYSKpm1","versionId":"bb68d0a0-2dd2-43bd-8d6e-47e44007fd1f","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-03-20T10:49:03.353Z","id":998,"workflowId":"wT9ubypWwaOmZhkYSKpm1","versionId":"bb68d0a0-2dd2-43bd-8d6e-47e44007fd1f","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}