n8n-workflows/MX_01_Agent_Dispatcher.json
{
  "name": "MX_01 Agent Dispatcher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      },
      "id": "sweep-trigger",
      "name": "Sweeper (5min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-dispatch",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, event_type, project_id, payload, source_flow FROM events WHERE event_type = 'AGENT_TASK_REQUESTED' AND processed_at IS NULL ORDER BY created_at ASC LIMIT 10",
        "options": {}
      },
      "id": "fetch-pending",
      "name": "Fetch Pending Agent Tasks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "credentials": { "postgres": { "id": "supabase-db", "name": "Supabase DB" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-items",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isNotEmpty" }
            }
          ]
        }
      },
      "id": "has-tasks",
      "name": "Has Tasks?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.payload?.agent_function }}",
              "operation": "contains",
              "value2": "lookup-catalog"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "route-agent",
      "name": "Route to Agent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [900, 300],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "lookup-catalog",
              "conditions": {
                "combinator": "and",
                "conditions": [{ "leftValue": "={{ $json.payload?.agent_function }}", "rightValue": "lookup-catalog", "operator": { "type": "string", "operation": "equals" } }]
              }
            },
            {
              "outputKey": "create-offer",
              "conditions": {
                "combinator": "and",
                "conditions": [{ "leftValue": "={{ $json.payload?.agent_function }}", "rightValue": "create-offer", "operator": { "type": "string", "operation": "equals" } }]
              }
            },
            {
              "outputKey": "run-autoplan",
              "conditions": {
                "combinator": "and",
                "conditions": [{ "leftValue": "={{ $json.payload?.agent_function }}", "rightValue": "run-autoplan", "operator": { "type": "string", "operation": "equals" } }]
              }
            },
            {
              "outputKey": "parse-lv",
              "conditions": {
                "combinator": "and",
                "conditions": [{ "leftValue": "={{ $json.payload?.agent_function }}", "rightValue": "parse-lv", "operator": { "type": "string", "operation": "equals" } }]
              }
            },
            {
              "outputKey": "calculate-offer",
              "conditions": {
                "combinator": "and",
                "conditions": [{ "leftValue": "={{ $json.payload?.agent_function }}", "rightValue": "calculate-offer", "operator": { "type": "string", "operation": "equals" } }]
              }
            },
            {
              "outputKey": "generate-pdf",
              "conditions": {
                "combinator": "and",
                "conditions": [{ "leftValue": "={{ $json.payload?.agent_function }}", "rightValue": "generate-pdf", "operator": { "type": "string", "operation": "equals" } }]
              }
            },
            {
              "outputKey": "run-godmode",
              "conditions": {
                "combinator": "and",
                "conditions": [{ "leftValue": "={{ $json.payload?.agent_function }}", "rightValue": "run-godmode", "operator": { "type": "string", "operation": "equals" } }]
              }
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://yetwntwayhmzmhhgdkli.supabase.co/functions/v1/{{ $json.payload?.agent_function }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload?.agent_input || {}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "call-edge-function",
      "name": "Call Edge Function",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-service-key",
          "name": "Supabase Service Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE events SET processed_at = now(), payload = payload || jsonb_build_object('result', '{{ JSON.stringify($json).replace(/'/g, \"''\") }}'::jsonb) WHERE id = '{{ $('Fetch Pending Agent Tasks').item.json.id }}'",
        "options": {}
      },
      "id": "mark-processed",
      "name": "Mark Event Processed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1360, 300],
      "credentials": { "postgres": { "id": "supabase-db", "name": "Supabase DB" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE events SET processed_at = now(), error_log = 'Unknown agent_function: {{ $json.payload?.agent_function }}' WHERE id = '{{ $json.id }}'",
        "options": {}
      },
      "id": "mark-unknown",
      "name": "Mark Unknown Function",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1140, 520],
      "credentials": { "postgres": { "id": "supabase-db", "name": "Supabase DB" } }
    }
  ],
  "connections": {
    "Sweeper (5min)": { "main": [[{ "node": "Fetch Pending Agent Tasks", "type": "main", "index": 0 }]] },
    "Webhook Trigger": { "main": [[{ "node": "Fetch Pending Agent Tasks", "type": "main", "index": 0 }]] },
    "Fetch Pending Agent Tasks": { "main": [[{ "node": "Has Tasks?", "type": "main", "index": 0 }]] },
    "Has Tasks?": { "main": [[{ "node": "Route to Agent", "type": "main", "index": 0 }], []] },
    "Route to Agent": {
      "main": [
        [{ "node": "Call Edge Function", "type": "main", "index": 0 }],
        [{ "node": "Call Edge Function", "type": "main", "index": 0 }],
        [{ "node": "Call Edge Function", "type": "main", "index": 0 }],
        [{ "node": "Call Edge Function", "type": "main", "index": 0 }],
        [{ "node": "Call Edge Function", "type": "main", "index": 0 }],
        [{ "node": "Call Edge Function", "type": "main", "index": 0 }],
        [{ "node": "Call Edge Function", "type": "main", "index": 0 }],
        [{ "node": "Mark Unknown Function", "type": "main", "index": 0 }]
      ]
    },
    "Call Edge Function": { "main": [[{ "node": "Mark Event Processed", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Berlin",
    "saveManualExecutions": true
  }
}
