n8n-workflows/MX_05_Attachment_Processor.json
{"updatedAt":"2026-01-28T21:13:36.087Z","createdAt":"2026-01-23T15:27:47.827Z","id":"qAiKaCpDUF3yQUvcZA2rd","name":"MX_05_Attachment_Processor","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"mx-05-attachment-processor","responseMode":"responseNode","options":{}},"id":"3df589de-225b-4031-a661-0afa50e4b681","name":"⚡ Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1120,320],"webhookId":"mx-04-attachment"},{"parameters":{"jsCode":"const payload = $input.first().json.body?.payload || $input.first().json.payload || $input.first().json;\n\nconst fileIds = payload.file_ids || [];\nconst projectNumber = payload.project_number || 'UNKNOWN';\nconst docType = payload.doc_type || 'MAGICPLAN';\nconst eventId = $input.first().json.body?.event_id || $input.first().json.event_id || null;\n\nif (!fileIds.length) {\n  throw new Error('No file_ids in payload');\n}\n\nreturn {\n  json: {\n    event_id: eventId,\n    project_number: projectNumber,\n    doc_type: docType,\n    file_ids: fileIds,\n    file_count: fileIds.length\n  }\n};"},"id":"c8acc108-0dc9-4843-85b4-5c054023689c","name":"📋 Extract Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,320]},{"parameters":{"operation":"executeQuery","query":"SELECT 1 AS found FROM workflow_steps \nWHERE step_key = 'MX04_ATTACH:{{ $json.event_id }}'\n  AND status = 'DONE'\nLIMIT 1;","options":{}},"id":"4a240d1a-f230-4a09-a8a1-091d5be97ab9","name":"🔍 Already Processed?","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-672,320],"alwaysOutputData":true,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"new-check","leftValue":"={{ $json.found }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"7117dd58-9b92-4501-8b72-12e445f83d0f","name":"❓ New?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-464,320]},{"parameters":{"jsCode":"const data = $('📋 Extract Data').first().json;\nconst fileIds = data.file_ids || [];\n\nreturn fileIds.map(fileId => ({\n  json: {\n    file_id: fileId,\n    project_number: data.project_number,\n    doc_type: data.doc_type,\n    event_id: data.event_id\n  }\n}));"},"id":"6b730115-7164-406f-98b6-65953ec37f22","name":"🔀 Split Files","type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,208]},{"parameters":{"resource":"file","operation":"download","id":"={{ $json.file_id }}"},"id":"4f15e34b-9777-44a3-bbb9-a4cf1bc8870c","name":"📥 Download File","type":"n8n-nodes-superchat.superchat","typeVersion":1,"position":[-16,208],"credentials":{"superchatApi":{"id":"cKUr3WsspcH6ixJt","name":"Superchat NEW"}}},{"parameters":{"jsCode":"const item = $input.first();\nconst binary = item.binary?.data;\n\nif (!binary) {\n  throw new Error('No binary data received');\n}\n\nconst binaryFileName = binary.fileName || '';\nconst allSplitItems = $('🔀 Split Files').all();\nlet splitData = allSplitItems.find(i => \n  binaryFileName.includes(i.json.file_id)\n)?.json;\n\nif (!splitData) {\n  splitData = allSplitItems[0]?.json || {};\n}\n\nconst docType = splitData.doc_type || 'UNKNOWN';\nconst messageId = splitData.superchat_message_id || `unknown_${Date.now()}`;\nconst projectNumber = splitData.project_number || null;\nconst fileName = binaryFileName || `file_${Date.now()}`;\nconst mimeType = binary.mimeType || 'application/octet-stream';\n\n// Storage Path dynamisch nach doc_type\nlet storagePath;\nif (docType === 'PROJECT_ORDER') {\n  storagePath = `intake/pending/${messageId}/${fileName}`;\n} else if (docType === 'MAGICPLAN' && projectNumber) {\n  storagePath = `magicplan/${projectNumber}/${fileName}`;\n} else {\n  storagePath = `intake/unclassified/${messageId}/${fileName}`;\n}\n\nreturn {\n  json: {\n    file_id: splitData.file_id,\n    superchat_message_id: messageId,\n    project_number: projectNumber,\n    doc_type: docType,\n    event_id: splitData.event_id,\n    file_name: fileName,\n    mime_type: mimeType,\n    storage_path: storagePath\n  },\n  binary: item.binary\n};"},"id":"fae4dea8-8dbb-405f-8bc6-05caaf539f29","name":"📝 Prepare Upload","type":"n8n-nodes-base.code","typeVersion":2,"position":[208,208]},{"parameters":{"method":"POST","url":"=https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/project-files/{{ $json.storage_path }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{"response":{"response":{"neverError":true}}}},"id":"bb02f673-b162-401a-8fb8-1ae28c7450eb","name":"☁️ Upload Storage","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[432,208],"credentials":{"httpHeaderAuth":{"id":"n357gpDbnk38oMfi","name":"Supabase Storage Auth"}}},{"parameters":{"jsCode":"const prepareItems = $('📝 Prepare Upload').all();\n\nconst files = prepareItems.map(item => ({\n  file_id: item.json.file_id,\n  name: item.json.file_name,\n  storage_path: item.json.storage_path,\n  mime_type: item.json.mime_type\n}));\n\nconst first = prepareItems[0].json;\n\nreturn {\n  json: {\n    event_id: first.event_id,\n    project_number: first.project_number,\n    doc_type: first.doc_type,\n    files: files,\n    file_count: files.length\n  }\n};"},"id":"01301166-99d6-425f-86a4-82e5faba9c59","name":"📦 Aggregate Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,208]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (event_type, payload, source_system, source_flow)\nVALUES (\n  CASE \n    WHEN '{{ $json.doc_type }}' = 'PROJECT_ORDER' THEN 'PROJECT_FILES_READY'::event_type\n    ELSE 'ATTACHMENTS_STORED'::event_type\n  END,\n  jsonb_build_object(\n    'doc_type', '{{ $json.doc_type }}',\n    'superchat_message_id', '{{ $json.superchat_message_id }}',\n    'project_number', '{{ $json.project_number }}',\n    'files', '{{ JSON.stringify($json.files) }}'::jsonb,\n    'file_count', {{ $json.file_count }},\n    'source_event_id', '{{ $json.event_id }}'\n  ),\n  'n8n',\n  'MX_05_Attachment_Processor'\n)\nRETURNING id::text, event_type::text;","options":{}},"id":"bf855843-7741-4361-a9ac-02984dd81a98","name":"📢 Event ATTACHMENTS_STORED","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[864,208],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO workflow_steps (step_key, step_type, status, payload, completed_at)\nVALUES (\n  'MX04_ATTACH:{{ $('📋 Extract Data').first().json.event_id }}',\n  'MX04_ATTACHMENT_PROCESSOR',\n  'DONE',\n  jsonb_build_object(\n    'files_processed', {{ $('📦 Aggregate Results').first().json.file_count }},\n    'output_event_id', '{{ $json.id }}'\n  ),\n  now()\n)\nON CONFLICT (step_key) DO NOTHING;","options":{}},"id":"69c72ea1-c86d-4938-91e8-acea9617f36f","name":"✅ Mark Complete","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1088,208],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { success: true, files_processed: $('📦 Aggregate Results').first().json.file_count, event_id: $('📢 Event ATTACHMENTS_STORED').first().json.id } }}","options":{}},"id":"8cc9304f-029e-4c50-9d1f-a610ecd2cef0","name":"✅ Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1264,208]},{"parameters":{"respondWith":"json","responseBody":"={{ { success: false, reason: 'already_processed' } }}","options":{"responseCode":200}},"id":"5c4c5518-fa87-4c92-a855-42deaf5ea764","name":"⏭️ Respond Skip","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-240,432]}],"connections":{"⚡ Webhook":{"main":[[{"node":"📋 Extract Data","type":"main","index":0}]]},"📋 Extract Data":{"main":[[{"node":"🔍 Already Processed?","type":"main","index":0}]]},"🔍 Already Processed?":{"main":[[{"node":"❓ New?","type":"main","index":0}]]},"❓ New?":{"main":[[{"node":"🔀 Split Files","type":"main","index":0}],[{"node":"⏭️ Respond Skip","type":"main","index":0}]]},"🔀 Split Files":{"main":[[{"node":"📥 Download File","type":"main","index":0}]]},"📥 Download File":{"main":[[{"node":"📝 Prepare Upload","type":"main","index":0}]]},"📝 Prepare Upload":{"main":[[{"node":"☁️ Upload Storage","type":"main","index":0}]]},"☁️ Upload Storage":{"main":[[{"node":"📦 Aggregate Results","type":"main","index":0}]]},"📦 Aggregate Results":{"main":[[{"node":"📢 Event ATTACHMENTS_STORED","type":"main","index":0}]]},"📢 Event ATTACHMENTS_STORED":{"main":[[{"node":"✅ Mark Complete","type":"main","index":0}]]},"✅ Mark Complete":{"main":[[{"node":"✅ Respond Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"apmJoMCbOchwfqTp"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"⚡ Webhook":[{"json":{"headers":{"host":"n8n.srv1045913.hstgr.cloud","user-agent":"n8n","content-length":"392","accept":"application/json","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.srv1045913.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"e12cff5a520d","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event_id":"93711a9e-679a-4d5c-a4d2-6fe8ca77bfb0","event_type":"DOC_CLASSIFIED_PROJECT_ORDER","project_id":null,"payload":{"subject":"Auftrag","doc_type":"PROJECT_ORDER","file_ids":["fi_3X1Rhz4sjsFjmm5WHFnIx"],"routed_to":"M1","confidence":1,"from_address":"dennis@deine-bauloewen.de","superchat_message_id":"ms_8K4ohY8rJf0fr5jDTI89o","superchat_conversation_id":"cv_SwxYS902n1p0upklXD5HU"}},"webhookUrl":"https://n8n.srv1045913.hstgr.cloud/webhook/mx-05-attachment-processor","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"5a1fad8d-d978-4621-bb03-58672de078ac","activeVersionId":"5a1fad8d-d978-4621-bb03-58672de078ac","versionCounter":191,"triggerCount":1,"shared":[{"updatedAt":"2026-01-23T15:27:47.835Z","createdAt":"2026-01-23T15:27:47.835Z","role":"workflow:owner","workflowId":"qAiKaCpDUF3yQUvcZA2rd","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-28T21:13:38.000Z","createdAt":"2026-01-28T21:13:36.088Z","versionId":"5a1fad8d-d978-4621-bb03-58672de078ac","workflowId":"qAiKaCpDUF3yQUvcZA2rd","nodes":[{"parameters":{"httpMethod":"POST","path":"mx-05-attachment-processor","responseMode":"responseNode","options":{}},"id":"3df589de-225b-4031-a661-0afa50e4b681","name":"⚡ Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1120,320],"webhookId":"mx-04-attachment"},{"parameters":{"jsCode":"const payload = $input.first().json.body?.payload || $input.first().json.payload || $input.first().json;\n\nconst fileIds = payload.file_ids || [];\nconst projectNumber = payload.project_number || 'UNKNOWN';\nconst docType = payload.doc_type || 'MAGICPLAN';\nconst eventId = $input.first().json.body?.event_id || $input.first().json.event_id || null;\n\nif (!fileIds.length) {\n  throw new Error('No file_ids in payload');\n}\n\nreturn {\n  json: {\n    event_id: eventId,\n    project_number: projectNumber,\n    doc_type: docType,\n    file_ids: fileIds,\n    file_count: fileIds.length\n  }\n};"},"id":"c8acc108-0dc9-4843-85b4-5c054023689c","name":"📋 Extract Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,320]},{"parameters":{"operation":"executeQuery","query":"SELECT 1 AS found FROM workflow_steps \nWHERE step_key = 'MX04_ATTACH:{{ $json.event_id }}'\n  AND status = 'DONE'\nLIMIT 1;","options":{}},"id":"4a240d1a-f230-4a09-a8a1-091d5be97ab9","name":"🔍 Already Processed?","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-672,320],"alwaysOutputData":true,"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"new-check","leftValue":"={{ $json.found }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"7117dd58-9b92-4501-8b72-12e445f83d0f","name":"❓ New?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-464,320]},{"parameters":{"jsCode":"const data = $('📋 Extract Data').first().json;\nconst fileIds = data.file_ids || [];\n\nreturn fileIds.map(fileId => ({\n  json: {\n    file_id: fileId,\n    project_number: data.project_number,\n    doc_type: data.doc_type,\n    event_id: data.event_id\n  }\n}));"},"id":"6b730115-7164-406f-98b6-65953ec37f22","name":"🔀 Split Files","type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,208]},{"parameters":{"resource":"file","operation":"download","id":"={{ $json.file_id }}"},"id":"4f15e34b-9777-44a3-bbb9-a4cf1bc8870c","name":"📥 Download File","type":"n8n-nodes-superchat.superchat","typeVersion":1,"position":[-16,208],"credentials":{"superchatApi":{"id":"cKUr3WsspcH6ixJt","name":"Superchat NEW"}}},{"parameters":{"jsCode":"const item = $input.first();\nconst binary = item.binary?.data;\n\nif (!binary) {\n  throw new Error('No binary data received');\n}\n\nconst binaryFileName = binary.fileName || '';\nconst allSplitItems = $('🔀 Split Files').all();\nlet splitData = allSplitItems.find(i => \n  binaryFileName.includes(i.json.file_id)\n)?.json;\n\nif (!splitData) {\n  splitData = allSplitItems[0]?.json || {};\n}\n\nconst docType = splitData.doc_type || 'UNKNOWN';\nconst messageId = splitData.superchat_message_id || `unknown_${Date.now()}`;\nconst projectNumber = splitData.project_number || null;\nconst fileName = binaryFileName || `file_${Date.now()}`;\nconst mimeType = binary.mimeType || 'application/octet-stream';\n\n// Storage Path dynamisch nach doc_type\nlet storagePath;\nif (docType === 'PROJECT_ORDER') {\n  storagePath = `intake/pending/${messageId}/${fileName}`;\n} else if (docType === 'MAGICPLAN' && projectNumber) {\n  storagePath = `magicplan/${projectNumber}/${fileName}`;\n} else {\n  storagePath = `intake/unclassified/${messageId}/${fileName}`;\n}\n\nreturn {\n  json: {\n    file_id: splitData.file_id,\n    superchat_message_id: messageId,\n    project_number: projectNumber,\n    doc_type: docType,\n    event_id: splitData.event_id,\n    file_name: fileName,\n    mime_type: mimeType,\n    storage_path: storagePath\n  },\n  binary: item.binary\n};"},"id":"fae4dea8-8dbb-405f-8bc6-05caaf539f29","name":"📝 Prepare Upload","type":"n8n-nodes-base.code","typeVersion":2,"position":[208,208]},{"parameters":{"method":"POST","url":"=https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/project-files/{{ $json.storage_path }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{"response":{"response":{"neverError":true}}}},"id":"bb02f673-b162-401a-8fb8-1ae28c7450eb","name":"☁️ Upload Storage","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[432,208],"credentials":{"httpHeaderAuth":{"id":"n357gpDbnk38oMfi","name":"Supabase Storage Auth"}}},{"parameters":{"jsCode":"const prepareItems = $('📝 Prepare Upload').all();\n\nconst files = prepareItems.map(item => ({\n  file_id: item.json.file_id,\n  name: item.json.file_name,\n  storage_path: item.json.storage_path,\n  mime_type: item.json.mime_type\n}));\n\nconst first = prepareItems[0].json;\n\nreturn {\n  json: {\n    event_id: first.event_id,\n    project_number: first.project_number,\n    doc_type: first.doc_type,\n    files: files,\n    file_count: files.length\n  }\n};"},"id":"01301166-99d6-425f-86a4-82e5faba9c59","name":"📦 Aggregate Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,208]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (event_type, payload, source_system, source_flow)\nVALUES (\n  CASE \n    WHEN '{{ $json.doc_type }}' = 'PROJECT_ORDER' THEN 'PROJECT_FILES_READY'::event_type\n    ELSE 'ATTACHMENTS_STORED'::event_type\n  END,\n  jsonb_build_object(\n    'doc_type', '{{ $json.doc_type }}',\n    'superchat_message_id', '{{ $json.superchat_message_id }}',\n    'project_number', '{{ $json.project_number }}',\n    'files', '{{ JSON.stringify($json.files) }}'::jsonb,\n    'file_count', {{ $json.file_count }},\n    'source_event_id', '{{ $json.event_id }}'\n  ),\n  'n8n',\n  'MX_05_Attachment_Processor'\n)\nRETURNING id::text, event_type::text;","options":{}},"id":"bf855843-7741-4361-a9ac-02984dd81a98","name":"📢 Event ATTACHMENTS_STORED","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[864,208],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO workflow_steps (step_key, step_type, status, payload, completed_at)\nVALUES (\n  'MX04_ATTACH:{{ $('📋 Extract Data').first().json.event_id }}',\n  'MX04_ATTACHMENT_PROCESSOR',\n  'DONE',\n  jsonb_build_object(\n    'files_processed', {{ $('📦 Aggregate Results').first().json.file_count }},\n    'output_event_id', '{{ $json.id }}'\n  ),\n  now()\n)\nON CONFLICT (step_key) DO NOTHING;","options":{}},"id":"69c72ea1-c86d-4938-91e8-acea9617f36f","name":"✅ Mark Complete","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1088,208],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { success: true, files_processed: $('📦 Aggregate Results').first().json.file_count, event_id: $('📢 Event ATTACHMENTS_STORED').first().json.id } }}","options":{}},"id":"8cc9304f-029e-4c50-9d1f-a610ecd2cef0","name":"✅ Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1264,208]},{"parameters":{"respondWith":"json","responseBody":"={{ { success: false, reason: 'already_processed' } }}","options":{"responseCode":200}},"id":"5c4c5518-fa87-4c92-a855-42deaf5ea764","name":"⏭️ Respond Skip","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-240,432]}],"connections":{"⚡ Webhook":{"main":[[{"node":"📋 Extract Data","type":"main","index":0}]]},"📋 Extract Data":{"main":[[{"node":"🔍 Already Processed?","type":"main","index":0}]]},"🔍 Already Processed?":{"main":[[{"node":"❓ New?","type":"main","index":0}]]},"❓ New?":{"main":[[{"node":"🔀 Split Files","type":"main","index":0}],[{"node":"⏭️ Respond Skip","type":"main","index":0}]]},"🔀 Split Files":{"main":[[{"node":"📥 Download File","type":"main","index":0}]]},"📥 Download File":{"main":[[{"node":"📝 Prepare Upload","type":"main","index":0}]]},"📝 Prepare Upload":{"main":[[{"node":"☁️ Upload Storage","type":"main","index":0}]]},"☁️ Upload Storage":{"main":[[{"node":"📦 Aggregate Results","type":"main","index":0}]]},"📦 Aggregate Results":{"main":[[{"node":"📢 Event ATTACHMENTS_STORED","type":"main","index":0}]]},"📢 Event ATTACHMENTS_STORED":{"main":[[{"node":"✅ Mark Complete","type":"main","index":0}]]},"✅ Mark Complete":{"main":[[{"node":"✅ Respond Success","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version 5a1fad8d","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-01-28T21:13:38.183Z","id":478,"workflowId":"qAiKaCpDUF3yQUvcZA2rd","versionId":"5a1fad8d-d978-4621-bb03-58672de078ac","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}