n8n-workflows/MX_07_Flow_Monitor.json
{"updatedAt":"2026-03-08T10:51:47.495Z","createdAt":"2026-02-04T17:31:27.035Z","id":"GBkSxBPeJUy5JqPJ","name":"MX_07_Flow_Monitor","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"a1b2c3d4-1111-4aaa-b111-000000000001","name":"Schedule: Error Check","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[208,304]},{"parameters":{"operation":"executeQuery","query":"SELECT event_type, target_workflow, error_message, error_code, created_at FROM dispatch_errors WHERE resolved_at IS NULL AND created_at > now() - interval '16 minutes' ORDER BY created_at DESC","options":{}},"name":"Query Recent Errors","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[432,304],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"id":"61eb5ccb-83e3-43d0-95bf-e0fbec27f0ee"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"filter-cond-001","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"name":"Has Errors?","type":"n8n-nodes-base.filter","typeVersion":2,"position":[640,304],"id":"9a4a3c1b-1a33-413f-9469-84e6615396ca"},{"parameters":{"jsCode":"const items = $input.all().map(i => i.json);\nif (!items.length || !items[0].event_type) return [{json: {skip: true}}];\n\nconst lines = items.map(e => \n  `• ${e.target_workflow}\\n  Event: ${e.event_type}\\n  Error: ${e.error_message}\\n  Zeit: ${new Date(e.created_at).toLocaleString('de-DE', {timeZone: 'Europe/Berlin'})}`\n);\n\nreturn [{json: {\n  message: `🔴 FLOW MONITOR ALERT\\n\\n${items.length} Error(s) in letzten 15 Min:\\n\\n${lines.join('\\n\\n')}`\n}}];"},"name":"Format Error Alert","type":"n8n-nodes-base.code","typeVersion":2,"position":[864,304],"id":"5cef53d3-b87e-4288-b446-38f82455847d"},{"parameters":{"chatId":"6088921678","text":"={{ $json.message }}","additionalFields":{"parse_mode":"HTML"}},"id":"a1b2c3d4-1111-4aaa-b111-000000000005","name":"Telegram Error Alert","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1088,304],"webhookId":"01705ec9-4ba1-4fad-9280-4e8de302af38","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"id":"a1b2c3d4-2222-4bbb-b222-000000000006","name":"Schedule: Smoke Test","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[208,704]},{"parameters":{"url":"https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/authenticated/project-files/inbox/mkb40hvv0jpsjs99n.pdf","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlldHdudHdheWhtem1oaGdka2xpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTI4NDUwNywiZXhwIjoyMDgwODYwNTA3fQ.1h7t0JOavX5CSarqKIUr9mMLJBAbt5aI5bAROJTxHYA"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"id":"a1b2c3d4-2222-4bbb-b222-000000000007","name":"Download Test PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[432,704]},{"parameters":{"jsCode":"const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst base64 = buffer.toString('base64');\nconst timestamp = new Date().toISOString().replace(/[:.]/g, '-');\n\nreturn [{json: {\n  document_base64: base64,\n  mime_type: 'application/pdf',\n  prompt: 'Extrahiere: company, address, external_ref. Antworte NUR mit JSON.',\n  step_key: 'smoke_test:' + timestamp\n}}];"},"id":"a1b2c3d4-2222-4bbb-b222-000000000008","name":"Prepare Smoke Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,704]},{"parameters":{"method":"POST","url":"https://n8n.srv1045913.hstgr.cloud/webhook/ai-analyze-fallback","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{"timeout":120000}},"id":"a1b2c3d4-2222-4bbb-b222-000000000009","name":"Call MX_06 Smoke Test","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[864,704]},{"parameters":{"jsCode":"const result = $input.first().json;\nconst success = result.success === true;\nconst text = result.text || '';\nconst model = result.model_used || 'unknown';\nconst attempts = result.total_attempts || '?';\nconst chain = (result.fallback_chain || []).join(' > ');\nconst ts = new Date().toLocaleString('de-DE', {timeZone: 'Europe/Berlin'});\n\n// Response bereinigen: Newlines und Sonderzeichen entfernen\nconst safeText = text.substring(0, 120).replace(/[\\n\\r]/g, ' ').replace(/\"/g, \"'\");\n\nif (success && text) {\n  return [{json: {\n    success: true,\n    message: `SMOKE TEST OK (${ts})\\nModel: ${model} (Attempt ${attempts}/3)\\nChain: ${chain}\\nResponse: ${safeText}`\n  }}];\n} else {\n  return [{json: {\n    success: false,\n    message: `SMOKE TEST FAILED (${ts})\\nModel: ${model}\\nSuccess: ${success}\\nText empty: ${!text}\\nError: ${result.log_error || 'unknown'}`\n  }}];\n}\n"},"id":"a1b2c3d4-2222-4bbb-b222-000000000010","name":"Check Smoke Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,704]},{"parameters":{"chatId":"6088921678","text":"={{ $json.message }}","additionalFields":{"parse_mode":"HTML"}},"id":"a1b2c3d4-2222-4bbb-b222-000000000011","name":"Telegram Smoke Report","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1312,704],"webhookId":"b15d84ab-2168-4dcb-b9c6-9cf4ba79aee1","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"id":"a1b2c3d4-3333-4ccc-b333-000000000012","name":"Schedule: Daily Summary","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[208,1104]},{"parameters":{"operation":"executeQuery","query":"SELECT value FROM company_settings WHERE key = 'N8N_API_KEY'","options":{}},"name":"Read API Key","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[432,1104],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"id":"f379e378-8436-4c19-b166-6a2a7baae3c3"},{"parameters":{"jsCode":"const apiKey = $input.first().json.value;\nconst BASE = 'https://n8n.srv1045913.hstgr.cloud/api/v1';\nconst cutoff = new Date(Date.now() - 24*60*60*1000).toISOString();\n\n// Fetch executions in batches\nlet allExecs = [];\nlet cursor = null;\nfor (let i = 0; i < 2; i++) {\n  const url = cursor \n    ? `${BASE}/executions?limit=250&cursor=${cursor}` \n    : `${BASE}/executions?limit=250`;\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'GET', url,\n      headers: { 'X-N8N-API-KEY': apiKey },\n      json: true\n    });\n    allExecs.push(...(resp.data || []));\n    cursor = resp.nextCursor;\n    if (!cursor) break;\n  } catch(e) {\n    return [{json: {error: true, message: `API Error: ${e.message}`}}];\n  }\n}\n\n// Filter to 24h\nconst recent = allExecs.filter(e => e.stoppedAt && e.stoppedAt >= cutoff);\n\n// Group by workflow name\nconst byWorkflow = {};\nfor (const ex of recent) {\n  const name = ex.workflowData?.name || ex.workflowId || 'Unknown';\n  if (!byWorkflow[name]) byWorkflow[name] = {success: 0, error: 0, total: 0};\n  byWorkflow[name].total++;\n  if (ex.status === 'success') byWorkflow[name].success++;\n  if (ex.status === 'error') byWorkflow[name].error++;\n}\n\n// Skip self\ndelete byWorkflow['MX_07_Flow_Monitor'];\n\n// Sort: errors first, then by name\nconst sorted = Object.entries(byWorkflow).sort((a,b) => {\n  if (b[1].error !== a[1].error) return b[1].error - a[1].error;\n  return a[0].localeCompare(b[0]);\n});\n\nreturn [{json: {\n  workflows: sorted.map(([name, s]) => ({name, ...s})),\n  total_executions: recent.length,\n  total_errors: sorted.reduce((sum, [,s]) => sum + s.error, 0),\n  error: false\n}}];"},"name":"Fetch 24h Stats","type":"n8n-nodes-base.code","typeVersion":2,"position":[656,1104],"id":"6448936d-0122-4438-b2d7-32869d07a949"},{"parameters":{"jsCode":"const data = $input.first().json;\n\nif (data.error) {\n  return [{json: {message: '\\ud83d\\udcca *24h FLOW REPORT*\\n\\n\\u26a0\\ufe0f ' + data.message + '\\n\\nAPI Key ggf. abgelaufen \\u2192 company_settings updaten'}}];\n}\n\nconst flows = data.workflows || [];\nconst date = new Date().toLocaleDateString('de-DE', {timeZone: 'Europe/Berlin'});\n\nconst lines = flows.map(f => {\n  let emoji = '\\u2705';\n  if (f.error > 0) emoji = '\\ud83d\\udd34';\n  else if (f.total === 0) emoji = '\\ud83d\\udca4';\n  return `${emoji} ${f.name}: ${f.success}/${f.total}`;\n});\n\nlet message = '\\ud83d\\udcca *24h FLOW REPORT* (' + date + ')\\n\\n';\n\nif (lines.length === 0) {\n  message += '\\ud83d\\udca4 Keine Flow-Aktivit\\u00e4t in 24h\\n';\n} else {\n  message += lines.join('\\n') + '\\n';\n}\n\nmessage += '\\nExecutions: ' + data.total_executions + ' | Errors: ' + data.total_errors;\n\nreturn [{json: {message}}];"},"name":"Format Daily Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,1104],"id":"e11bc322-0d09-4e57-994f-f62f52daf488"},{"parameters":{"chatId":"6088921678","text":"={{ $json.message }}","additionalFields":{"parse_mode":"HTML"}},"id":"a1b2c3d4-3333-4ccc-b333-000000000014","name":"Telegram Daily Summary","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1104,1104],"webhookId":"7a316760-89c9-4a6d-82fc-7fcfda95fc0a","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}}],"connections":{"Schedule: Error Check":{"main":[[{"node":"Query Recent Errors","type":"main","index":0}]]},"Query Recent Errors":{"main":[[{"node":"Has Errors?","type":"main","index":0}]]},"Has Errors?":{"main":[[{"node":"Format Error Alert","type":"main","index":0}]]},"Format Error Alert":{"main":[[{"node":"Telegram Error Alert","type":"main","index":0}]]},"Schedule: Smoke Test":{"main":[[{"node":"Download Test PDF","type":"main","index":0}]]},"Download Test PDF":{"main":[[{"node":"Prepare Smoke Payload","type":"main","index":0}]]},"Prepare Smoke Payload":{"main":[[{"node":"Call MX_06 Smoke Test","type":"main","index":0}]]},"Call MX_06 Smoke Test":{"main":[[{"node":"Check Smoke Result","type":"main","index":0}]]},"Check Smoke Result":{"main":[[{"node":"Telegram Smoke Report","type":"main","index":0}]]},"Schedule: Daily Summary":{"main":[[{"node":"Read API Key","type":"main","index":0}]]},"Read API Key":{"main":[[{"node":"Fetch 24h Stats","type":"main","index":0}]]},"Fetch 24h Stats":{"main":[[{"node":"Format Daily Report","type":"main","index":0}]]},"Format Daily Report":{"main":[[{"node":"Telegram Daily Summary","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"apmJoMCbOchwfqTp"},"staticData":{"node:Schedule: Error Check":{"recurrenceRules":[]},"node:Schedule: Smoke Test":{"recurrenceRules":[20]},"node:Schedule: Daily Summary":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"ed59bca5-b1e9-4df7-95f0-22548ab45110","activeVersionId":"ed59bca5-b1e9-4df7-95f0-22548ab45110","versionCounter":306,"triggerCount":3,"shared":[{"updatedAt":"2026-02-04T17:31:27.039Z","createdAt":"2026-02-04T17:31:27.039Z","role":"workflow:owner","workflowId":"GBkSxBPeJUy5JqPJ","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-08T10:51:47.496Z","createdAt":"2026-03-08T10:51:47.496Z","versionId":"ed59bca5-b1e9-4df7-95f0-22548ab45110","workflowId":"GBkSxBPeJUy5JqPJ","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"a1b2c3d4-1111-4aaa-b111-000000000001","name":"Schedule: Error Check","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[208,304]},{"parameters":{"operation":"executeQuery","query":"SELECT event_type, target_workflow, error_message, error_code, created_at FROM dispatch_errors WHERE resolved_at IS NULL AND created_at > now() - interval '16 minutes' ORDER BY created_at DESC","options":{}},"name":"Query Recent Errors","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[432,304],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"id":"61eb5ccb-83e3-43d0-95bf-e0fbec27f0ee"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"filter-cond-001","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"name":"Has Errors?","type":"n8n-nodes-base.filter","typeVersion":2,"position":[640,304],"id":"9a4a3c1b-1a33-413f-9469-84e6615396ca"},{"parameters":{"jsCode":"const items = $input.all().map(i => i.json);\nif (!items.length || !items[0].event_type) return [{json: {skip: true}}];\n\nconst lines = items.map(e => \n  `• ${e.target_workflow}\\n  Event: ${e.event_type}\\n  Error: ${e.error_message}\\n  Zeit: ${new Date(e.created_at).toLocaleString('de-DE', {timeZone: 'Europe/Berlin'})}`\n);\n\nreturn [{json: {\n  message: `🔴 FLOW MONITOR ALERT\\n\\n${items.length} Error(s) in letzten 15 Min:\\n\\n${lines.join('\\n\\n')}`\n}}];"},"name":"Format Error Alert","type":"n8n-nodes-base.code","typeVersion":2,"position":[864,304],"id":"5cef53d3-b87e-4288-b446-38f82455847d"},{"parameters":{"chatId":"6088921678","text":"={{ $json.message }}","additionalFields":{"parse_mode":"HTML"}},"id":"a1b2c3d4-1111-4aaa-b111-000000000005","name":"Telegram Error Alert","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1088,304],"webhookId":"01705ec9-4ba1-4fad-9280-4e8de302af38","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"id":"a1b2c3d4-2222-4bbb-b222-000000000006","name":"Schedule: Smoke Test","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[208,704]},{"parameters":{"url":"https://yetwntwayhmzmhhgdkli.supabase.co/storage/v1/object/authenticated/project-files/inbox/mkb40hvv0jpsjs99n.pdf","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlldHdudHdheWhtem1oaGdka2xpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTI4NDUwNywiZXhwIjoyMDgwODYwNTA3fQ.1h7t0JOavX5CSarqKIUr9mMLJBAbt5aI5bAROJTxHYA"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"id":"a1b2c3d4-2222-4bbb-b222-000000000007","name":"Download Test PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[432,704]},{"parameters":{"jsCode":"const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst base64 = buffer.toString('base64');\nconst timestamp = new Date().toISOString().replace(/[:.]/g, '-');\n\nreturn [{json: {\n  document_base64: base64,\n  mime_type: 'application/pdf',\n  prompt: 'Extrahiere: company, address, external_ref. Antworte NUR mit JSON.',\n  step_key: 'smoke_test:' + timestamp\n}}];"},"id":"a1b2c3d4-2222-4bbb-b222-000000000008","name":"Prepare Smoke Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,704]},{"parameters":{"method":"POST","url":"https://n8n.srv1045913.hstgr.cloud/webhook/ai-analyze-fallback","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{"timeout":120000}},"id":"a1b2c3d4-2222-4bbb-b222-000000000009","name":"Call MX_06 Smoke Test","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[864,704]},{"parameters":{"jsCode":"const result = $input.first().json;\nconst success = result.success === true;\nconst text = result.text || '';\nconst model = result.model_used || 'unknown';\nconst attempts = result.total_attempts || '?';\nconst chain = (result.fallback_chain || []).join(' > ');\nconst ts = new Date().toLocaleString('de-DE', {timeZone: 'Europe/Berlin'});\n\n// Response bereinigen: Newlines und Sonderzeichen entfernen\nconst safeText = text.substring(0, 120).replace(/[\\n\\r]/g, ' ').replace(/\"/g, \"'\");\n\nif (success && text) {\n  return [{json: {\n    success: true,\n    message: `SMOKE TEST OK (${ts})\\nModel: ${model} (Attempt ${attempts}/3)\\nChain: ${chain}\\nResponse: ${safeText}`\n  }}];\n} else {\n  return [{json: {\n    success: false,\n    message: `SMOKE TEST FAILED (${ts})\\nModel: ${model}\\nSuccess: ${success}\\nText empty: ${!text}\\nError: ${result.log_error || 'unknown'}`\n  }}];\n}\n"},"id":"a1b2c3d4-2222-4bbb-b222-000000000010","name":"Check Smoke Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,704]},{"parameters":{"chatId":"6088921678","text":"={{ $json.message }}","additionalFields":{"parse_mode":"HTML"}},"id":"a1b2c3d4-2222-4bbb-b222-000000000011","name":"Telegram Smoke Report","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1312,704],"webhookId":"b15d84ab-2168-4dcb-b9c6-9cf4ba79aee1","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"id":"a1b2c3d4-3333-4ccc-b333-000000000012","name":"Schedule: Daily Summary","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[208,1104]},{"parameters":{"operation":"executeQuery","query":"SELECT value FROM company_settings WHERE key = 'N8N_API_KEY'","options":{}},"name":"Read API Key","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[432,1104],"credentials":{"postgres":{"id":"qXZ2ZjK31ZDrPoDG","name":"Supabase Postgres"}},"id":"f379e378-8436-4c19-b166-6a2a7baae3c3"},{"parameters":{"jsCode":"const apiKey = $input.first().json.value;\nconst BASE = 'https://n8n.srv1045913.hstgr.cloud/api/v1';\nconst cutoff = new Date(Date.now() - 24*60*60*1000).toISOString();\n\n// Fetch executions in batches\nlet allExecs = [];\nlet cursor = null;\nfor (let i = 0; i < 2; i++) {\n  const url = cursor \n    ? `${BASE}/executions?limit=250&cursor=${cursor}` \n    : `${BASE}/executions?limit=250`;\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'GET', url,\n      headers: { 'X-N8N-API-KEY': apiKey },\n      json: true\n    });\n    allExecs.push(...(resp.data || []));\n    cursor = resp.nextCursor;\n    if (!cursor) break;\n  } catch(e) {\n    return [{json: {error: true, message: `API Error: ${e.message}`}}];\n  }\n}\n\n// Filter to 24h\nconst recent = allExecs.filter(e => e.stoppedAt && e.stoppedAt >= cutoff);\n\n// Group by workflow name\nconst byWorkflow = {};\nfor (const ex of recent) {\n  const name = ex.workflowData?.name || ex.workflowId || 'Unknown';\n  if (!byWorkflow[name]) byWorkflow[name] = {success: 0, error: 0, total: 0};\n  byWorkflow[name].total++;\n  if (ex.status === 'success') byWorkflow[name].success++;\n  if (ex.status === 'error') byWorkflow[name].error++;\n}\n\n// Skip self\ndelete byWorkflow['MX_07_Flow_Monitor'];\n\n// Sort: errors first, then by name\nconst sorted = Object.entries(byWorkflow).sort((a,b) => {\n  if (b[1].error !== a[1].error) return b[1].error - a[1].error;\n  return a[0].localeCompare(b[0]);\n});\n\nreturn [{json: {\n  workflows: sorted.map(([name, s]) => ({name, ...s})),\n  total_executions: recent.length,\n  total_errors: sorted.reduce((sum, [,s]) => sum + s.error, 0),\n  error: false\n}}];"},"name":"Fetch 24h Stats","type":"n8n-nodes-base.code","typeVersion":2,"position":[656,1104],"id":"6448936d-0122-4438-b2d7-32869d07a949"},{"parameters":{"jsCode":"const data = $input.first().json;\n\nif (data.error) {\n  return [{json: {message: '\\ud83d\\udcca *24h FLOW REPORT*\\n\\n\\u26a0\\ufe0f ' + data.message + '\\n\\nAPI Key ggf. abgelaufen \\u2192 company_settings updaten'}}];\n}\n\nconst flows = data.workflows || [];\nconst date = new Date().toLocaleDateString('de-DE', {timeZone: 'Europe/Berlin'});\n\nconst lines = flows.map(f => {\n  let emoji = '\\u2705';\n  if (f.error > 0) emoji = '\\ud83d\\udd34';\n  else if (f.total === 0) emoji = '\\ud83d\\udca4';\n  return `${emoji} ${f.name}: ${f.success}/${f.total}`;\n});\n\nlet message = '\\ud83d\\udcca *24h FLOW REPORT* (' + date + ')\\n\\n';\n\nif (lines.length === 0) {\n  message += '\\ud83d\\udca4 Keine Flow-Aktivit\\u00e4t in 24h\\n';\n} else {\n  message += lines.join('\\n') + '\\n';\n}\n\nmessage += '\\nExecutions: ' + data.total_executions + ' | Errors: ' + data.total_errors;\n\nreturn [{json: {message}}];"},"name":"Format Daily Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,1104],"id":"e11bc322-0d09-4e57-994f-f62f52daf488"},{"parameters":{"chatId":"6088921678","text":"={{ $json.message }}","additionalFields":{"parse_mode":"HTML"}},"id":"a1b2c3d4-3333-4ccc-b333-000000000014","name":"Telegram Daily Summary","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1104,1104],"webhookId":"7a316760-89c9-4a6d-82fc-7fcfda95fc0a","credentials":{"telegramApi":{"id":"HV1wc491unUQKfmd","name":"BabyAgiBot"}}}],"connections":{"Schedule: Error Check":{"main":[[{"node":"Query Recent Errors","type":"main","index":0}]]},"Query Recent Errors":{"main":[[{"node":"Has Errors?","type":"main","index":0}]]},"Has Errors?":{"main":[[{"node":"Format Error Alert","type":"main","index":0}]]},"Format Error Alert":{"main":[[{"node":"Telegram Error Alert","type":"main","index":0}]]},"Schedule: Smoke Test":{"main":[[{"node":"Download Test PDF","type":"main","index":0}]]},"Download Test PDF":{"main":[[{"node":"Prepare Smoke Payload","type":"main","index":0}]]},"Prepare Smoke Payload":{"main":[[{"node":"Call MX_06 Smoke Test","type":"main","index":0}]]},"Call MX_06 Smoke Test":{"main":[[{"node":"Check Smoke Result","type":"main","index":0}]]},"Check Smoke Result":{"main":[[{"node":"Telegram Smoke Report","type":"main","index":0}]]},"Schedule: Daily Summary":{"main":[[{"node":"Read API Key","type":"main","index":0}]]},"Read API Key":{"main":[[{"node":"Fetch 24h Stats","type":"main","index":0}]]},"Fetch 24h Stats":{"main":[[{"node":"Format Daily Report","type":"main","index":0}]]},"Format Daily Report":{"main":[[{"node":"Telegram Daily Summary","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-08T10:51:47.562Z","id":975,"workflowId":"GBkSxBPeJUy5JqPJ","versionId":"ed59bca5-b1e9-4df7-95f0-22548ab45110","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-03-08T10:51:47.545Z","id":974,"workflowId":"GBkSxBPeJUy5JqPJ","versionId":"ed59bca5-b1e9-4df7-95f0-22548ab45110","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}