n8n-workflows/MX_AI_Analyze_With_Fallback.json
{"updatedAt":"2026-02-27T23:24:26.859Z","createdAt":"2026-02-03T19:59:17.112Z","id":"FuXYPv6JtvGgOWu3XUU-3","name":"MX_AI_Analyze_With_Fallback","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ai-analyze-fallback","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"0d30547d-bda4-42da-b0dc-d702e635804a","name":"Webhook","webhookId":"0123ccc5-865d-4747-91ab-fea3b10b7ca4"},{"parameters":{"jsCode":"const raw = $input.first().json;\nconst input = raw.body || raw;\n\nif (!input.document_base64) {\n  throw new Error('Kein document_base64 übergeben. Dieser Workflow erwartet ein PDF-Dokument.');\n}\n\nconst binaryData = Buffer.from(input.document_base64, 'base64');\nconst mimeType = input.mime_type || 'application/pdf';\nconst fileName = mimeType === 'application/pdf' ? 'document.pdf' : 'document';\n\nconst newItem = {\n  json: {\n    prompt: input.prompt || 'Extrahiere EXAKT die Daten aus diesem Dokument. ERFINDE NICHTS.',\n    step_key: input.step_key || 'unknown',\n    mime_type: mimeType,\n    document_base64: input.document_base64,\n    fallback_chain: [],\n    start_time: Date.now()\n  },\n  binary: {\n    data: await this.helpers.prepareBinaryData(\n      binaryData,\n      fileName,\n      mimeType\n    )\n  }\n};\n\nreturn [newItem];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"28498f27-05d8-4c16-a66f-36ba56195863","name":"Prepare Requests"},{"parameters":{"resource":"document","modelId":{"__rl":true,"value":"claude-sonnet-4-20250514","mode":"list","cachedResultName":"claude-sonnet-4-20250514"},"text":"=={{ $json.prompt }}","inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[384,0],"id":"4361a55b-93a2-4a68-8c84-4c78d408dfbd","name":"Call Claude","credentials":{"anthropicApi":{"id":"DSb7Itt2r6kfGiHs","name":"Anthropic account"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const input = $('Prepare Requests').first().json;\n// content can be array [{type:\"text\", text:\"...\"}] or string\nconst raw = $json.content;\nconst text = Array.isArray(raw) ? raw.map(c => c.text || '').join('') : (raw || '');\n\nreturn [{\n  json: {\n    text: text,\n    model_used: 'claude-sonnet-4-20250514',\n    fallback_chain: ['claude-sonnet-4'],\n    total_attempts: 1,\n    processing_time_ms: Date.now() - input.start_time,\n    step_key: input.step_key,\n    success: true\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[704,-112],"id":"d115c105-3a18-4b1f-8d5a-f0952388f203","name":"Format Claude Response"},{"parameters":{"jsCode":"const input = $('Prepare Requests').first().json;\n// content can be array [{type:\"text\", text:\"...\"}] or string\nconst raw = $json.content;\nconst text = Array.isArray(raw) ? raw.map(c => c.text || '').join('') : (raw || '');\n\nreturn [{\n  json: {\n    text: text,\n    model_used: 'gemini-2.0-flash',\n    fallback_chain: ['claude-sonnet-4', 'gemini-2.0-flash'],\n    total_attempts: 2,\n    processing_time_ms: Date.now() - input.start_time,\n    step_key: input.step_key,\n    success: true\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,0],"id":"4caed010-84b8-41c9-aab7-ef5a7351e20c","name":"Format Gemini Response"},{"parameters":{"resource":"document","modelId":{"__rl":true,"value":"models/gemini-2.0-flash","mode":"list","cachedResultName":"models/gemini-2.0-flash"},"text":"=={{ $('Prepare Requests').first().json.prompt }}\n","inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[704,96],"id":"2b203d22-c1ab-4eaa-92a6-4ab0ed94f665","name":"Call Gemini","credentials":{"googlePalmApi":{"id":"rqgijFs7YZOdtthC","name":"Google Gemini(PaLM) Api account"}},"onError":"continueErrorOutput"},{"parameters":{"modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"responses":{"values":[{"content":"=={{ $('Prepare Requests').first().json.prompt + '\\n\\nHINWEIS: Das Originaldokument konnte nicht übermittelt werden. Falls du nicht genug Kontext hast, antworte mit: {\"error\": \"insufficient_context\"}' }}\n\n"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[928,192],"id":"8d13053f-9be6-483f-a56d-b6dcfb40a57a","name":"Call Chat GPT","credentials":{"openAiApi":{"id":"YfPjCxkbaUfc8vOD","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const input = $('Prepare Requests').first().json;\nconst gptOutput = $json.output[0].content[0].text;\n\nreturn [{\n  json: {\n    text: gptOutput,\n    model_used: 'gpt-4o',\n    fallback_chain: ['claude-sonnet-4', 'gemini-2.0-flash', 'gpt-4o'],\n    total_attempts: 3,\n    processing_time_ms: Date.now() - input.start_time,\n    step_key: input.step_key,\n    success: true\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,96],"id":"1f7827d4-9750-44f3-aa2d-23910208261d","name":"Format GPT Response"},{"parameters":{"jsCode":"const input = $('Prepare Requests').first().json;\n\n// Sammle die Fehler-Details von jedem Modell\nconst claudeError = $('Call Claude').first()?.json?.error || 'unknown';\nconst geminiError = $('Call Gemini').first()?.json?.error || 'unknown';\nconst gptError = $('Call Chat GPT').first()?.json?.error || 'unknown';\n\nreturn [{\n  json: {\n    text: null,\n    model_used: null,\n    fallback_chain: ['claude-sonnet-4', 'gemini-2.0-flash', 'gpt-4o'],\n    total_attempts: 3,\n    processing_time_ms: Date.now() - input.start_time,\n    step_key: input.step_key,\n    success: false,\n    error: 'All 3 AI models failed',\n    error_details: {\n      claude: claudeError,\n      gemini: geminiError,\n      gpt: gptError\n    }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,288],"id":"dcdf1fd7-9d82-4c5e-846b-d5deaf0a9770","name":"All Failed"},{"parameters":{"jsCode":"const result = $input.first().json;\n\n// Log to Supabase using n8n's built-in HTTP helper\ntry {\n  const supabaseUrl = 'https://yetwntwayhmzmhhgdkli.supabase.co';\n  const supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlldHdudHdheWhtem1oaGdka2xpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUyODQ1MDcsImV4cCI6MjA4MDg2MDUwN30.uZOrOtOsQ5M0jVEByM7N6gUsgleebKKWw-1EJPmuz3Y';\n\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${supabaseUrl}/rest/v1/workflow_steps`,\n    headers: {\n      'apikey': supabaseKey,\n      'Authorization': `Bearer ${supabaseKey}`,\n      'Content-Type': 'application/json',\n      'Prefer': 'resolution=merge-duplicates'\n    },\n    body: {\n      step_key: result.step_key || 'unknown',\n      step_type: 'AI_DOCUMENT_ANALYSIS',\n      status: result.success ? 'COMPLETED' : 'FAILED',\n      model_used: result.model_used || null,\n      fallback_chain: result.fallback_chain || [],\n      attempt_count: result.total_attempts || 1,\n      max_attempts: 3,\n      error: result.success ? null : {\n        message: result.error || 'Unknown error',\n        details: result.error_details || null\n      },\n      next_retry_at: result.success ? null : new Date(Date.now() + 15 * 60 * 1000).toISOString(),\n      completed_at: result.success ? new Date().toISOString() : null\n    }\n  });\n} catch (e) {\n  // Don't fail the workflow if logging fails\n  result.log_error = e.message;\n}\n\nreturn [{ json: result }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1648,-16],"id":"3aa3d73e-bc0b-4fe1-b0c8-e7d93ab33285","name":"Log to Supabase"}],"connections":{"Webhook":{"main":[[{"node":"Prepare Requests","type":"main","index":0}]]},"Prepare Requests":{"main":[[{"node":"Call Claude","type":"main","index":0}]]},"Call Claude":{"main":[[{"node":"Format Claude Response","type":"main","index":0}],[{"node":"Call Gemini","type":"main","index":0}]]},"Call Gemini":{"main":[[{"node":"Format Gemini Response","type":"main","index":0}],[{"node":"Call Chat GPT","type":"main","index":0}]]},"Call Chat GPT":{"main":[[{"node":"Format GPT Response","type":"main","index":0}],[{"node":"All Failed","type":"main","index":0}]]},"Format GPT Response":{"main":[[{"node":"Log to Supabase","type":"main","index":0}]]},"Format Claude Response":{"main":[[{"node":"Log to Supabase","type":"main","index":0}]]},"Format Gemini Response":{"main":[[{"node":"Log to Supabase","type":"main","index":0}]]},"All Failed":{"main":[[{"node":"Log to Supabase","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"apmJoMCbOchwfqTp"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2a8ed0c5-0745-4fe9-b102-943c419acead","activeVersionId":"2a8ed0c5-0745-4fe9-b102-943c419acead","versionCounter":149,"triggerCount":1,"shared":[{"updatedAt":"2026-02-03T19:59:17.118Z","createdAt":"2026-02-03T19:59:17.118Z","role":"workflow:owner","workflowId":"FuXYPv6JtvGgOWu3XUU-3","projectId":"lxYwL2wy7xgg1POq","project":{"updatedAt":"2025-10-10T16:06:01.650Z","createdAt":"2025-10-04T22:17:46.741Z","id":"lxYwL2wy7xgg1POq","name":"Dennis Özdemir <info@deine-bauloewen.de>","type":"personal","icon":null,"description":null,"creatorId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-23T14:20:29.000Z","createdAt":"2026-02-23T14:20:28.043Z","versionId":"2a8ed0c5-0745-4fe9-b102-943c419acead","workflowId":"FuXYPv6JtvGgOWu3XUU-3","nodes":[{"parameters":{"httpMethod":"POST","path":"ai-analyze-fallback","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"0d30547d-bda4-42da-b0dc-d702e635804a","name":"Webhook","webhookId":"0123ccc5-865d-4747-91ab-fea3b10b7ca4"},{"parameters":{"jsCode":"const raw = $input.first().json;\nconst input = raw.body || raw;\n\nif (!input.document_base64) {\n  throw new Error('Kein document_base64 übergeben. Dieser Workflow erwartet ein PDF-Dokument.');\n}\n\nconst binaryData = Buffer.from(input.document_base64, 'base64');\nconst mimeType = input.mime_type || 'application/pdf';\nconst fileName = mimeType === 'application/pdf' ? 'document.pdf' : 'document';\n\nconst newItem = {\n  json: {\n    prompt: input.prompt || 'Extrahiere EXAKT die Daten aus diesem Dokument. ERFINDE NICHTS.',\n    step_key: input.step_key || 'unknown',\n    mime_type: mimeType,\n    document_base64: input.document_base64,\n    fallback_chain: [],\n    start_time: Date.now()\n  },\n  binary: {\n    data: await this.helpers.prepareBinaryData(\n      binaryData,\n      fileName,\n      mimeType\n    )\n  }\n};\n\nreturn [newItem];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"28498f27-05d8-4c16-a66f-36ba56195863","name":"Prepare Requests"},{"parameters":{"resource":"document","modelId":{"__rl":true,"value":"claude-sonnet-4-20250514","mode":"list","cachedResultName":"claude-sonnet-4-20250514"},"text":"=={{ $json.prompt }}","inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[384,0],"id":"4361a55b-93a2-4a68-8c84-4c78d408dfbd","name":"Call Claude","credentials":{"anthropicApi":{"id":"DSb7Itt2r6kfGiHs","name":"Anthropic account"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const input = $('Prepare Requests').first().json;\n// content can be array [{type:\"text\", text:\"...\"}] or string\nconst raw = $json.content;\nconst text = Array.isArray(raw) ? raw.map(c => c.text || '').join('') : (raw || '');\n\nreturn [{\n  json: {\n    text: text,\n    model_used: 'claude-sonnet-4-20250514',\n    fallback_chain: ['claude-sonnet-4'],\n    total_attempts: 1,\n    processing_time_ms: Date.now() - input.start_time,\n    step_key: input.step_key,\n    success: true\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[704,-112],"id":"d115c105-3a18-4b1f-8d5a-f0952388f203","name":"Format Claude Response"},{"parameters":{"jsCode":"const input = $('Prepare Requests').first().json;\n// content can be array [{type:\"text\", text:\"...\"}] or string\nconst raw = $json.content;\nconst text = Array.isArray(raw) ? raw.map(c => c.text || '').join('') : (raw || '');\n\nreturn [{\n  json: {\n    text: text,\n    model_used: 'gemini-2.0-flash',\n    fallback_chain: ['claude-sonnet-4', 'gemini-2.0-flash'],\n    total_attempts: 2,\n    processing_time_ms: Date.now() - input.start_time,\n    step_key: input.step_key,\n    success: true\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,0],"id":"4caed010-84b8-41c9-aab7-ef5a7351e20c","name":"Format Gemini Response"},{"parameters":{"resource":"document","modelId":{"__rl":true,"value":"models/gemini-2.0-flash","mode":"list","cachedResultName":"models/gemini-2.0-flash"},"text":"=={{ $('Prepare Requests').first().json.prompt }}\n","inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[704,96],"id":"2b203d22-c1ab-4eaa-92a6-4ab0ed94f665","name":"Call Gemini","credentials":{"googlePalmApi":{"id":"rqgijFs7YZOdtthC","name":"Google Gemini(PaLM) Api account"}},"onError":"continueErrorOutput"},{"parameters":{"modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"responses":{"values":[{"content":"=={{ $('Prepare Requests').first().json.prompt + '\\n\\nHINWEIS: Das Originaldokument konnte nicht übermittelt werden. Falls du nicht genug Kontext hast, antworte mit: {\"error\": \"insufficient_context\"}' }}\n\n"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[928,192],"id":"8d13053f-9be6-483f-a56d-b6dcfb40a57a","name":"Call Chat GPT","credentials":{"openAiApi":{"id":"YfPjCxkbaUfc8vOD","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const input = $('Prepare Requests').first().json;\nconst gptOutput = $json.output[0].content[0].text;\n\nreturn [{\n  json: {\n    text: gptOutput,\n    model_used: 'gpt-4o',\n    fallback_chain: ['claude-sonnet-4', 'gemini-2.0-flash', 'gpt-4o'],\n    total_attempts: 3,\n    processing_time_ms: Date.now() - input.start_time,\n    step_key: input.step_key,\n    success: true\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,96],"id":"1f7827d4-9750-44f3-aa2d-23910208261d","name":"Format GPT Response"},{"parameters":{"jsCode":"const input = $('Prepare Requests').first().json;\n\n// Sammle die Fehler-Details von jedem Modell\nconst claudeError = $('Call Claude').first()?.json?.error || 'unknown';\nconst geminiError = $('Call Gemini').first()?.json?.error || 'unknown';\nconst gptError = $('Call Chat GPT').first()?.json?.error || 'unknown';\n\nreturn [{\n  json: {\n    text: null,\n    model_used: null,\n    fallback_chain: ['claude-sonnet-4', 'gemini-2.0-flash', 'gpt-4o'],\n    total_attempts: 3,\n    processing_time_ms: Date.now() - input.start_time,\n    step_key: input.step_key,\n    success: false,\n    error: 'All 3 AI models failed',\n    error_details: {\n      claude: claudeError,\n      gemini: geminiError,\n      gpt: gptError\n    }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,288],"id":"dcdf1fd7-9d82-4c5e-846b-d5deaf0a9770","name":"All Failed"},{"parameters":{"jsCode":"const result = $input.first().json;\n\n// Log to Supabase using n8n's built-in HTTP helper\ntry {\n  const supabaseUrl = 'https://yetwntwayhmzmhhgdkli.supabase.co';\n  const supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlldHdudHdheWhtem1oaGdka2xpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUyODQ1MDcsImV4cCI6MjA4MDg2MDUwN30.uZOrOtOsQ5M0jVEByM7N6gUsgleebKKWw-1EJPmuz3Y';\n\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${supabaseUrl}/rest/v1/workflow_steps`,\n    headers: {\n      'apikey': supabaseKey,\n      'Authorization': `Bearer ${supabaseKey}`,\n      'Content-Type': 'application/json',\n      'Prefer': 'resolution=merge-duplicates'\n    },\n    body: {\n      step_key: result.step_key || 'unknown',\n      step_type: 'AI_DOCUMENT_ANALYSIS',\n      status: result.success ? 'COMPLETED' : 'FAILED',\n      model_used: result.model_used || null,\n      fallback_chain: result.fallback_chain || [],\n      attempt_count: result.total_attempts || 1,\n      max_attempts: 3,\n      error: result.success ? null : {\n        message: result.error || 'Unknown error',\n        details: result.error_details || null\n      },\n      next_retry_at: result.success ? null : new Date(Date.now() + 15 * 60 * 1000).toISOString(),\n      completed_at: result.success ? new Date().toISOString() : null\n    }\n  });\n} catch (e) {\n  // Don't fail the workflow if logging fails\n  result.log_error = e.message;\n}\n\nreturn [{ json: result }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1648,-16],"id":"3aa3d73e-bc0b-4fe1-b0c8-e7d93ab33285","name":"Log to Supabase"}],"connections":{"Webhook":{"main":[[{"node":"Prepare Requests","type":"main","index":0}]]},"Prepare Requests":{"main":[[{"node":"Call Claude","type":"main","index":0}]]},"Call Claude":{"main":[[{"node":"Format Claude Response","type":"main","index":0}],[{"node":"Call Gemini","type":"main","index":0}]]},"Call Gemini":{"main":[[{"node":"Format Gemini Response","type":"main","index":0}],[{"node":"Call Chat GPT","type":"main","index":0}]]},"Call Chat GPT":{"main":[[{"node":"Format GPT Response","type":"main","index":0}],[{"node":"All Failed","type":"main","index":0}]]},"Format GPT Response":{"main":[[{"node":"Log to Supabase","type":"main","index":0}]]},"Format Claude Response":{"main":[[{"node":"Log to Supabase","type":"main","index":0}]]},"Format Gemini Response":{"main":[[{"node":"Log to Supabase","type":"main","index":0}]]},"All Failed":{"main":[[{"node":"Log to Supabase","type":"main","index":0}]]}},"authors":"Dennis Özdemir","name":"Version 2a8ed0c5","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-23T14:20:29.621Z","id":793,"workflowId":"FuXYPv6JtvGgOWu3XUU-3","versionId":"2a8ed0c5-0745-4fe9-b102-943c419acead","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:24:26.900Z","id":834,"workflowId":"FuXYPv6JtvGgOWu3XUU-3","versionId":"2a8ed0c5-0745-4fe9-b102-943c419acead","event":"activated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"},{"createdAt":"2026-02-27T23:24:26.881Z","id":833,"workflowId":"FuXYPv6JtvGgOWu3XUU-3","versionId":"2a8ed0c5-0745-4fe9-b102-943c419acead","event":"deactivated","userId":"f290b8bc-a990-495d-aedc-d1ee5abfc443"}]}}