docs/n8n-flows/M4_03_Order_Approve.json
{
  "name": "M4_03_Order_Approve",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "m4-03-order-approve",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "m4-03-order-approve"
    },
    {
      "parameters": {
        "jsCode": "const query = $input.first().json.query || {};\nconst project_id = query.project_id || '';\nconst action = query.action || 'unknown';\n\nreturn [{ json: { project_id, action } }];"
      },
      "id": "parse-params",
      "name": "Parse Query Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "action-check",
              "leftValue": "={{ $json.action }}",
              "rightValue": "approve",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "if-approve",
      "name": "IF Approve",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT suggest_purchase_orders('{{ $('Parse Query Params').first().json.project_id }}'::uuid) AS result;"
      },
      "id": "get-suggestions",
      "name": "Get Order Suggestions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [660, 200],
      "credentials": {
        "postgres": {
          "id": "c5UWBYGO9RpRGOip",
          "name": "Supabase BG"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json.result;\nconst parsed = typeof result === 'string' ? JSON.parse(result) : result;\nconst projectId = $('Parse Query Params').first().json.project_id;\n\nif (!parsed || !parsed.success || !parsed.suggestions || parsed.suggestions.length === 0) {\n  return [{ json: { text: '⚠️ Keine offenen Materialien zum Bestellen.', projectId, ordersCreated: 0 } }];\n}\n\n// For now, we don't auto-create POs. Just mark them as ready.\n// The actual PO creation needs supplier grouping which requires more logic.\nconst suggestions = parsed.suggestions;\nlet totalItems = 0;\nlet totalValue = 0;\n\nlet lines = [];\nlines.push('✅ <b>Bestellung genehmigt!</b>');\nlines.push('');\n\nfor (const s of suggestions) {\n  lines.push(`<b>${s.trade}</b>: ${s.item_count} Materialien`);\n  totalItems += Number(s.item_count);\n  totalValue += Number(s.est_total_value || 0);\n}\n\nlines.push('');\nlines.push(`Gesamt: ${totalItems} Materialien (~€${totalValue.toFixed(0)})`);\nlines.push('');\nlines.push('Bestellungen können jetzt in der App erstellt werden.');\n\nreturn [{ json: { text: lines.join('\\n'), projectId, ordersCreated: 0, totalItems, totalValue } }];"
      },
      "id": "process-approval",
      "name": "Process Approval",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot7730792025:AAFyL7sCn2OQ0GJxpGasjjDbLqLOT0wyw-Y/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"6088921678\",\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"parse_mode\": \"HTML\"\n}"
      },
      "id": "telegram-approve",
      "name": "Telegram Approve Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO events (event_type, project_id, payload, source_system, source_flow)\nVALUES (\n  'MATERIALS_ORDER_APPROVED',\n  '{{ $('Parse Query Params').first().json.project_id }}'::uuid,\n  '{}'::jsonb,\n  'n8n',\n  'M4_03_Order_Approve'\n)\nRETURNING id;"
      },
      "id": "fire-approved-event",
      "name": "Fire ORDER_APPROVED Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1320, 200],
      "credentials": {
        "postgres": {
          "id": "c5UWBYGO9RpRGOip",
          "name": "Supabase BG"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot7730792025:AAFyL7sCn2OQ0GJxpGasjjDbLqLOT0wyw-Y/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"6088921678\",\n  \"text\": \"❌ Bestellvorschlag wurde abgelehnt.\\n\\nMaterialien bleiben offen.\",\n  \"parse_mode\": \"HTML\"\n}"
      },
      "id": "telegram-reject",
      "name": "Telegram Reject Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 420]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Bestellung {{ $('Parse Query Params').first().json.action === 'approve' ? 'genehmigt ✅' : 'abgelehnt ❌' }}. Du kannst dieses Fenster schließen."
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1540, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Parse Query Params", "type": "main", "index": 0 }]]
    },
    "Parse Query Params": {
      "main": [[{ "node": "IF Approve", "type": "main", "index": 0 }]]
    },
    "IF Approve": {
      "main": [
        [{ "node": "Get Order Suggestions", "type": "main", "index": 0 }],
        [{ "node": "Telegram Reject Notification", "type": "main", "index": 0 }]
      ]
    },
    "Get Order Suggestions": {
      "main": [[{ "node": "Process Approval", "type": "main", "index": 0 }]]
    },
    "Process Approval": {
      "main": [[{ "node": "Telegram Approve Notification", "type": "main", "index": 0 }]]
    },
    "Telegram Approve Notification": {
      "main": [[{ "node": "Fire ORDER_APPROVED Event", "type": "main", "index": 0 }]]
    },
    "Fire ORDER_APPROVED Event": {
      "main": [[{ "node": "Response", "type": "main", "index": 0 }]]
    },
    "Telegram Reject Notification": {
      "main": [[{ "node": "Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "apmJoMCbOchwfqTp"
  }
}
