docs/n8n-flows/M4_06_Order_Agent.json
{
  "name": "M4_06_Order_Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "m4-06-order-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "m4-06-order-agent"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst event_id = body.event_id || '';\nconst project_id = body.project_id || '';\nconst event_type = body.event_type || 'MATERIALS_CALCULATED';\nconst payload = body.payload || {};\n\nreturn [{ json: { event_id, project_id, event_type, payload } }];"
      },
      "id": "parse-event",
      "name": "Parse Event Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM claim_workflow_step(\n  'm4_06:' || '{{ $json.event_id }}',\n  '{{ $json.project_id }}'::uuid,\n  'M4_06_Order_Agent'\n);"
      },
      "id": "claim-step",
      "name": "Claim Workflow Step",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [440, 300],
      "credentials": {
        "postgres": {
          "id": "c5UWBYGO9RpRGOip",
          "name": "Supabase BG"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "claimed-check",
              "leftValue": "={{ $json.claimed }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "if-claimed",
      "name": "IF Claimed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  p.project_number, p.name AS project_name, CONCAT(p.object_street, ', ', p.object_zip, ' ', p.object_city) AS address,\n  (SELECT COUNT(*) FROM project_room_measurements WHERE project_id = p.id) AS room_count,\n  (SELECT json_agg(json_build_object(\n    'label', pmn.label, 'quantity', pmn.total_quantity, 'unit', pmn.quantity_unit,\n    'product_name', pmn.product_name, 'unit_price', pmn.unit_price_net,\n    'notes', pmn.notes, 'trade', pmn.trade,\n    'supplier_name', s.name, 'supplier_email', s.email,\n    'supplier_short', s.short_name\n  ) ORDER BY s.name NULLS LAST, pmn.label)\n  FROM project_material_needs pmn\n  LEFT JOIN products prod ON prod.id = pmn.product_id\n  LEFT JOIN suppliers s ON s.id = prod.supplier_id\n  WHERE pmn.project_id = p.id AND pmn.source = 'auto' AND pmn.status = 'planned'\n  ) AS materials,\n  (SELECT json_agg(json_build_object(\n    'trade', sp.trade, 'start_date', sp.start_date, 'end_date', sp.end_date\n  ) ORDER BY sp.start_date)\n  FROM schedule_phases sp WHERE sp.project_id = p.id AND sp.status != 'cancelled'\n  ) AS schedule\nFROM projects p\nWHERE p.id = '{{ $('Parse Event Data').first().json.project_id }}'::uuid;"
      },
      "id": "load-project-materials",
      "name": "Load Project + Materials",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [880, 200],
      "credentials": {
        "postgres": {
          "id": "c5UWBYGO9RpRGOip",
          "name": "Supabase BG"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst projectId = $('Parse Event Data').first().json.project_id;\nconst materials = data.materials || [];\nconst schedule = data.schedule || [];\nconst pn = data.project_number || '';\nconst name = data.project_name || '';\n\nif (!materials || materials.length === 0) {\n  return [{ json: { text: '\\u26a0\\ufe0f Keine Materialien berechnet f\\u00fcr ' + pn, projectId, hasMaterials: false } }];\n}\n\n// Group by supplier\nconst bySupplier = {};\nlet noSupplierItems = [];\nlet totalValue = 0;\n\nfor (const m of materials) {\n  const supplierKey = m.supplier_name || null;\n  const lineValue = (Number(m.quantity) || 0) * (Number(m.unit_price) || 0);\n  totalValue += lineValue;\n  \n  if (!supplierKey) {\n    noSupplierItems.push(m);\n    continue;\n  }\n  if (!bySupplier[supplierKey]) {\n    bySupplier[supplierKey] = { name: supplierKey, short: m.supplier_short || supplierKey, email: m.supplier_email, items: [], total: 0 };\n  }\n  bySupplier[supplierKey].items.push(m);\n  bySupplier[supplierKey].total += lineValue;\n}\n\nlet lines = [];\nlines.push(`\\ud83d\\uded2 <b>Bestellvorschlag ${pn}</b>`);\nlines.push(`${name}`);\nlines.push('');\n\n// Schedule info\nif (schedule && schedule.length > 0) {\n  const nextPhase = schedule.find(s => new Date(s.start_date) > new Date());\n  if (nextPhase) {\n    lines.push(`\\ud83d\\udcc5 N\\u00e4chste Phase: <b>${nextPhase.trade}</b> ab ${new Date(nextPhase.start_date).toLocaleDateString('de-DE')}`);\n    lines.push('');\n  }\n}\n\n// Per-supplier groups\nconst suppliers = Object.values(bySupplier);\nfor (const s of suppliers) {\n  const emailInfo = s.email ? `\\ud83d\\udce7 ${s.email}` : '\\u26a0\\ufe0f keine E-Mail';\n  lines.push(`<b>\\ud83d\\udce6 ${s.short}</b> (${emailInfo})`);\n  lines.push(`${s.items.length} Materialien \\u00b7 ~\\u20ac${s.total.toFixed(0)}`);\n  \n  // Show top 5 items\n  const topItems = s.items.slice(0, 5);\n  for (const item of topItems) {\n    const price = item.unit_price ? ` (\\u20ac${(Number(item.quantity) * Number(item.unit_price)).toFixed(0)})` : '';\n    const product = item.product_name ? item.product_name : item.label;\n    lines.push(`  \\u2022 ${Number(item.quantity).toFixed(0)}\\u00d7 ${item.unit} ${product}${price}`);\n  }\n  if (s.items.length > 5) {\n    lines.push(`  ... +${s.items.length - 5} weitere`);\n  }\n  lines.push('');\n}\n\n// Items without supplier\nif (noSupplierItems.length > 0) {\n  lines.push(`\\u26a0\\ufe0f <b>${noSupplierItems.length} Materialien ohne Lieferant:</b>`);\n  for (const item of noSupplierItems.slice(0, 8)) {\n    lines.push(`  \\u2022 ${Number(item.quantity).toFixed(0)}\\u00d7 ${item.unit} ${item.label}`);\n  }\n  if (noSupplierItems.length > 8) {\n    lines.push(`  ... +${noSupplierItems.length - 8} weitere`);\n  }\n  lines.push('');\n}\n\nlines.push(`<b>Gesamt: ${materials.length} Materialien \\u00b7 ${suppliers.length} Lieferanten \\u00b7 ~\\u20ac${totalValue.toFixed(0)}</b>`);\n\nconst text = lines.join('\\n');\nconst approveUrl = `https://n8n.srv1045913.hstgr.cloud/webhook/m4-07-order-approve?project_id=${projectId}&action=approve`;\nconst rejectUrl = `https://n8n.srv1045913.hstgr.cloud/webhook/m4-07-order-approve?project_id=${projectId}&action=reject`;\n\nreturn [{ json: { text, projectId, approveUrl, rejectUrl, hasMaterials: true, materialCount: materials.length, totalValue: totalValue.toFixed(0) } }];"
      },
      "id": "format-message",
      "name": "Format Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-materials",
              "leftValue": "={{ $json.hasMaterials }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "if-has-materials",
      "name": "IF Has Materials",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1320, 200]
    },
    {
      "parameters": {
        "chatId": "6088921678",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "reply_markup": {
            "inline_keyboard": [
              [
                { "text": "\u2705 Bestellen", "url": "={{ $json.approveUrl }}" },
                { "text": "\u274c Ablehnen", "url": "={{ $json.rejectUrl }}" }
              ]
            ]
          }
        }
      },
      "id": "send-telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1540, 100]
    },
    {
      "parameters": {
        "chatId": "6088921678",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "send-telegram-no-materials",
      "name": "Send Telegram (No Materials)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE events SET processed_at = now() WHERE id = '{{ $('Parse Event Data').first().json.event_id }}'::uuid;"
      },
      "id": "mark-processed",
      "name": "Mark Event Processed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1760, 200],
      "credentials": {
        "postgres": {
          "id": "c5UWBYGO9RpRGOip",
          "name": "Supabase BG"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT complete_workflow_step('m4_06:' || '{{ $('Parse Event Data').first().json.event_id }}');"
      },
      "id": "complete-step",
      "name": "Complete Workflow Step",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1980, 200],
      "credentials": {
        "postgres": {
          "id": "c5UWBYGO9RpRGOip",
          "name": "Supabase BG"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "skip-node",
      "name": "Skip (Already Claimed)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [880, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', workflow: 'M4_06_Order_Agent' }) }}"
      },
      "id": "response-ok",
      "name": "Response OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2200, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Parse Event Data", "type": "main", "index": 0 }]]
    },
    "Parse Event Data": {
      "main": [[{ "node": "Claim Workflow Step", "type": "main", "index": 0 }]]
    },
    "Claim Workflow Step": {
      "main": [[{ "node": "IF Claimed", "type": "main", "index": 0 }]]
    },
    "IF Claimed": {
      "main": [
        [{ "node": "Load Project + Materials", "type": "main", "index": 0 }],
        [{ "node": "Skip (Already Claimed)", "type": "main", "index": 0 }]
      ]
    },
    "Load Project + Materials": {
      "main": [[{ "node": "Format Telegram Message", "type": "main", "index": 0 }]]
    },
    "Format Telegram Message": {
      "main": [[{ "node": "IF Has Materials", "type": "main", "index": 0 }]]
    },
    "IF Has Materials": {
      "main": [
        [{ "node": "Send Telegram", "type": "main", "index": 0 }],
        [{ "node": "Send Telegram (No Materials)", "type": "main", "index": 0 }]
      ]
    },
    "Send Telegram": {
      "main": [[{ "node": "Mark Event Processed", "type": "main", "index": 0 }]]
    },
    "Send Telegram (No Materials)": {
      "main": [[{ "node": "Mark Event Processed", "type": "main", "index": 0 }]]
    },
    "Mark Event Processed": {
      "main": [[{ "node": "Complete Workflow Step", "type": "main", "index": 0 }]]
    },
    "Complete Workflow Step": {
      "main": [[{ "node": "Response OK", "type": "main", "index": 0 }]]
    },
    "Skip (Already Claimed)": {
      "main": [[{ "node": "Response OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "apmJoMCbOchwfqTp"
  }
}